﻿<div question-wrapper="presented" ng-if="presented.template.hidewhentaskspresent == false || isvisible == true">
    <div ng-if="presented.template.usecompactui == false">
        <div ng-if="ui == 'selectbucket'">
            <button class="btn schedule-task-button" ng-repeat="b in buckets" ng-click="selectbucket(b)">
                {{b.name}}
            </button>
        </div>
    </div>
    <div ng-if="presented.template.usecompactui == true">
        <div ng-if="ui == 'selectbucket'">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><span ng-bind-html="presented.promptAsHtml"></span>&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-repeat="b in buckets" ng-click="selectbucket(b)"><a href="#">{{b.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-if="ui == 'confirmbucket'">
        <p translate>The following tasks will be assigned to you.</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Site</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in bucket.tasks">
                    <td>{{t.name}}</td>
                    <td ng-bind-html="t.description"></td>
                    <td>{{t.sitename}}</td>
                    <td>{{t.tasktypename}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn schedule-task-button btn-info" ng-click="unselectbucket(bucket)"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;Back</button>
        <button class="btn schedule-task-button btn-success" ng-click="queryForUser(bucket)"><i class="icon-ok"></i>&nbsp;Claim</button>
    </div>
    <div ng-if="ui == 'selectroster'">
        <p translate>Select the roster containing the user you are wanting assign the tasks to</p>
        <button class="btn schedule-task-button btn-info" ng-click="unselectroster(bucket)"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;Back</button>
        <button class="btn schedule-task-button" ng-repeat="r in rosterCache" ng-click="selectroster(r, bucket)">
            {{r.alldata.RosterName}}
        </button>
    </div>
    <div ng-if="ui == 'selectrosteruser'">
        <p translate>Select the user you are wanting assign the tasks to</p>
        <button class="btn schedule-task-button btn-info" ng-click="unselectrosteruser(bucket)"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;Back</button>
        <button class="btn schedule-task-button" ng-repeat="u in rosterUsers" ng-click="claimbucket(bucket, u.alldata.UserId, roster.alldata.RosterId)">
            {{u.alldata.Name}}
        </button>
    </div>
</div>