﻿<form name="editor"> 
    <legend>Edit: {{type.name}}</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab">General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group" ng-class="{error: editor.inpuText.$invalid && editor.inpuText.$pristine == false}">
                            <label class="control-label" for="inpuText" translate>Name</label>
                            <div class="controls">
                                <input type="text" id="inpuText" name="inpuText" required ng-model="type.name" placeholder="Text"><span ng-if="editor.inpuText.$invalid && editor.inpuText.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputIsWeekday" translate>Is Weekday</label>
                            <div class="controls">
                                <input type="checkbox" id="inputIsWeekday" name="inputIsWeekday" ng-model="type.isweekdaypay">
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputIsLeave" translate>Is Leave</label>
                            <div class="controls">
                                <input type="checkbox" id="inputIsLeave" name="inputIsLeave" ng-model="type.isleave">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputIsSaturday" translate>Is Saturday</label>
                            <div class="controls">
                                <input type="checkbox" id="inputIsSaturday" name="inputIsSaturday" ng-model="type.issaturdaypay">
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputIsSunday" translate>Is Sunday</label>
                            <div class="controls">
                                <input type="checkbox" id="inputIsSunday" name="inputIsSunday" ng-model="type.issundaypay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit">Save changes</button>
</div>