﻿<div class="row-fluid">
    <div class="span4">
        <div ng-if="calendarrule.frequency != 'Cron'">
            <label class="checkbox">
                <input type="checkbox" ng-model="calendarrule.executesunday">&nbsp;<translate>Sunday</translate>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="calendarrule.executemonday">&nbsp;<translate>Monday</translate>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="calendarrule.executetuesday">&nbsp;<translate>Tuesday</translate>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="calendarrule.executewednesday">&nbsp;<translate>Wednesday</translate>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="calendarrule.executethursday">&nbsp;<translate>Thursday</translate>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="calendarrule.executefriday">&nbsp;<translate>Friday</translate>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="calendarrule.executesaturday">&nbsp;<translate>Saturday</translate>
            </label>
        </div>
        <div ng-if="calendarrule.frequency == 'Cron'">
            <div>
                <div class="control-group">
                    <label class="control-label" for="inputLevel">Recurrance Type</label>
                    <div class="controls">
                        <select ng-model="calendarrule.cronbuilder.type" ng-options="type for type in cronbuilders"></select>
                    </div>
                </div>
            </div>
            <div ng-if="calendarrule.cronbuilder.type == 'Monthly'">
                <div class="control-group">
                    <label class="control-label" for="inputLevel">Day of Month</label>
                    <div class="controls">
                        <input ng-model="calendarrule.cronbuilder.day" type="number" min="1" max="31" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputLevel">Repeat Every X Months</label>
                    <div class="controls">
                        <input ng-model="calendarrule.cronbuilder.months" type="number" min="1" max="12" />
                    </div>
                </div>
            </div>
            <div ng-if="calendarrule.cronbuilder.type == 'Yearly'">
                <div class="control-group">
                    <label class="control-label" for="inputLevel">Month</label>
                    <div class="controls">
                        <select ng-model="calendarrule.cronbuilder.month" ng-options="m.id as m.name for m in cronbuildermonths"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputLevel">Day of Month</label>
                    <div class="controls">
                        <input ng-model="calendarrule.cronbuilder.day" type="number" min="1" max="31" />
                    </div>
                </div>
            </div>
            <div ng-if="calendarrule.cronbuilder.type == 'Every X Days'">
                <div class="control-group">
                    <label class="control-label" for="inputLevel">Every X Days</label>
                    <div class="controls">
                        <input ng-model="calendarrule.cronbuilder.day" type="number" min="1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="control-group">
            <label class="control-label" for="inputLevel">Start Time</label>
            <div class="controls">
                <input type="time" id="inputStartTime" name="inputStartTime" ng-model="starttime.value" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLevel">Start Window (mins)</label>
            <div class="controls">
                <input type="number" id="inputStartWindow" name="inputStartWindow" ng-model="starttimewindowminutes.value" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEstimatedDuration">Estimated Duration (mins)</label>
            <div class="controls">
                <input type="number" id="inputEstimatedDuration" name="inputEstimatedDuration" ng-model="estimateddurationminutes.value" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputMinimumDuration">Minimum Duration</label>
            <div class="controls">
                <input type="text" id="inputMinimumDuration" name="inputMinimumDuration" ng-model="minimumduration" />
                <br /><small translate>Format: For a percentage of estimated duration use XX%, if a % is not supplied the number will be treated as the number of seconds</small>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="control-group" ng-class="{error: scheduletask.inputLength.$invalid && scheduletask.inputLength.$pristine == false}">
            <label class="control-label" for="inputLevel">Schedule Starts From</label>
            <div class="controls">
                <input type="date" id="inputScheduleStart" name="inputScheduleStart" required ng-model="calendarrule.startdate" /><span ng-if="scheduletask.inputLength.$invalid && scheduletask.inputLength.$pristine == false" class="help-inline" translate>This field is mandatory</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLevel">Schedule Ends On</label>
            <div class="controls">
                <input type="date" id="inputScheduleEnd" name="inputScheduleEnd" ng-model="calendarrule.enddate">
            </div>
        </div>
        <div ng-if="calendarrule.frequency != 'Cron'" class="control-group" ng-class="{error: scheduletask.inputLength.$invalid && scheduletask.inputLength.$pristine == false}">
            <label class="control-label" for="inputLevel">Occurs Every X Weeks</label>
            <div class="controls">
                <input type="number" id="inputPeriod" name="inputPeriod" required ng-model="calendarrule.period" placeholder="{{ 'Length in days' | translate }}"><span ng-if="scheduletask.inputLength.$invalid && scheduletask.inputLength.$pristine == false" class="help-inline" translate>This field is mandatory</span>
            </div>
        </div>
        <div class="control-group" ng-class="{error: scheduletask.inputLength.$invalid && scheduletask.inputLength.$pristine == false}">
            <label class="control-label" for="inputLevel">Task can be completed within X Days</label>
            <div class="controls">
                <input type="text" id="inputLength" name="inputLength" required ng-model="lengthindays" placeholder="{{ 'Length in days' | translate }}"><span ng-if="scheduletask.inputLength.$invalid && scheduletask.inputLength.$pristine == false" class="help-inline" translate>This field is mandatory</span>
            </div>
        </div>
    </div>
</div>
