﻿<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label" for="inputRoster" translate>Start of shift</label>
            <div class="controls">
                <div change="calculateTimes()" moment-picker="day.starttimestring" ng-model="day.moments.starttime" format="HH:mm">{{day.starttimestring}}&nbsp;<i class="icon-time"></i></div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label" for="inputRoster" translate>End of shift</label>
            <div class="controls">
                <div change="calculateTimes()" moment-picker="day.endtimestring" ng-model="day.moments.endtime" format="HH:mm">{{day.endtimestring}}&nbsp;<i class="icon-time"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label" for="inputRoster" translate>Start of lunch</label>
            <div class="controls">
                <div change="calculateTimes()" moment-picker="day.lunchstartstring" ng-model="day.moments.lunchstart" format="HH:mm">{{day.lunchstartstring}}&nbsp;<i class="icon-time"></i></div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label" for="inputRoster" translate>End of lunch</label>
            <div class="controls">
                <div change="calculateTimes()" moment-picker="day.lunchendstring" ng-model="day.moments.lunchend" format="HH:mm">{{day.lunchendstring}}&nbsp;<i class="icon-time"></i></div>
            </div>
        </div>
    </div>
</div>