﻿<register-translations>
    <schedule-task-footer>
        <div ng-bind="task.tasktypename" />
        <div ng-if="task.level != 0" class="label label-warning schedule-task-footer-level">level <span ng-bind="task.level" /></div>
        <div class="selection" ng-if="selecting == true && task.selected == true"><i class="icon-ok"></i></div>
    </schedule-task-footer>
</register-translations>
<div>
    <div class="btn-group" style="width:100%;">
        <button class="btn" style="width:80%">{{day | translate}}</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-click="setTimes()"><a href="#">Times</a></li>
            <li ng-click="setOverrideRole()"><a href="#">Override Role</a></li>
        </ul>
    </div>
    <ul class="thumbnails" style="padding-top:10px">
        <li class="span11" ng-repeat="task in filteredTasks" ng-mouseenter="task.over = true" ng-mouseleave="task.over = false">
            <div class="thumbnail schedule-task schedule-link" ng-class="{'schedule-over': task.over }" ng-click="editTask(task)">
                <span ng-if="!task.editingname">{{task.translatedName}}</span>
                <div ng-if="task.editingname">
                    <textarea rows="3" ng-click="$event.stopPropagation()" ng-blur="blr($event)" ng-keyup="keyup($event)" ng-model="task.name" style="width:85%;resize:none"></textarea>
                    <button class="btn btn-success approveNew" ng-click="approveNew($event)" type="button" translate>Add</button> <button class="btn" ng-click="cancelNew()" type="button">X</button>
                </div>
                <div class="schedule-task-footer" translate>schedule-task-footer</div>
            </div>
        </li>
        <li class="span11" style="text-align:center">
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-plus-sign"></i> <translate>Add New</translate>
              </a>
              <ul class="dropdown-menu" style="text-align:left">
                <li ng-repeat="type in types">
                    <a href="#" ng-click="newTask(type)">{{type.name}}</a>
                </li>
              </ul>
            </div>
        </li>
    </ul>
</div>