﻿<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label" translate>Another role completes tasks on this day</label>
            <div class="controls">
                <input type="checkbox" ng-model="day.useDifferentRole">
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group" ng-if="day.useDifferentRole == true">
            <label class="control-label" for="inputRoles" translate>Role</label>
            <div class="controls">
                <select id="inputRoles" name="inputRoles" ng-model="day.overrideroleid" ng-options="r.id as r.roleAndName for r in roles"></select>
            </div>
        </div>
    </div>
</div>