﻿<ul class="thumbnails">
    <li class="span3" ng-repeat="task in filteredTasks" ng-mouseenter="task.over = true" ng-mouseleave="task.over = false">
        <div class="schedule-task-level">
            Level {{task.level}}
        </div>
        <div class="thumbnail schedule-task schedule-link" ng-class="{'schedule-over': task.over }" ng-click="editTask(task)">
            <span ng-if="!task.editingname">{{task.name}}</span>
            <div ng-if="task.editingname">
                <textarea rows="3" ng-blur="blr($event)" ng-keyup="keyup($event)" ng-model="task.name" style="width:85%;resize:none"></textarea>
                <button class="btn btn-success approveNew" ng-click="approveNew($event)" type="button">Add</button> <button class="btn" ng-click="cancelNew()" type="button">X</button>
            </div>
            <div class="schedule-task-footer">
                <div>
                    {{task.calendarrule.cronbuilder.friendly}}
                </div>
            </div>
        </div>
    </li>
    <li class="span3" style="text-align:center">
        <div class="schedule-task-level">
            &nbsp;
        </div>
        <div class="thumbnail schedule-task schedule-link">
            <br />
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-plus-sign"></i> Add New&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="text-align:left">
                    <li ng-repeat="type in types">
                        <a href="#" ng-click="newTask(type)">{{type.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>