﻿<span translate>Level:</span> 
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    {{currentLevel}}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
      <li ng-repeat="task in levels" ng-click="selectLevel(task.level)">
          <a href="#">{{task.level}}</a>
      </li>
      <li ng-click="addNewLevel()">
          <a href="#" translate>Add New Level</a>
      </li>
  </ul>
</div>

<div class="modal hide fade" modalify="addingNewLevel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Add New Level</h3>
    </div>
    <div class="modal-body">
        <form name="addingNewLevel">
            <div class="control-group" ng-class="{error: addingNewLevel.inputName.$invalid && addingNewLevel.inputName.$pristine == false}">
                <label class="control-label" for="inputName" translate>New Level</label>
                <div class="controls">
                    <input type="number" id="inputName" name="inputName" required ng-model="newLevel" placeholder="{{ 'Name' | translate }}"><span ng-if="addingNewLevel.inputName.$invalid && addingNewLevel.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Cancel</a>
        <a href="#" class="btn btn-primary" ng-click="commitNewLevel()" translate>Add</a>
    </div>
</div>