﻿<ng-form name="schedule_select_rosterandrole">
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group" ng-class="{error: editor.inputRoster.$invalid && editor.inputRoster.$pristine == false}">
                <label class="control-label" for="inputRoster" translate>Roster</label>
                <div class="controls">
                    <select id="inputRoster" name="inputRoster" ng-model="rosterid" ng-options="r.id as r.name for r in rosters"></select><span ng-if="editor.inputRoster.$invalid && editor.inputRoster.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group" ng-class="{error: editor.inputRoles.$invalid && editor.inputRoles.$pristine == false}">
                <label class="control-label" for="inputRoles" translate>Role</label>
                <div class="controls">
                    <select id="inputRoles" name="inputRoles" ng-model="roleid" ng-options="r.id as r.name for r in roles"></select><span ng-if="editor.inputRoles.$invalid && editor.inputRoles.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
            </div>
        </div>
    </div>
</ng-form>