﻿<register-translations>
    <edit-qrcode>QRCode: <span ng-bind="record.qrcode" /></edit-qrcode>
</register-translations>
<form name="editor">
    <legend translate>edit-qrcode</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="control-group">
                    <label class="control-label" for="id" translate>Id</label>
                    <div class="controls">
                        <span id="id" class="uneditable-input">{{record.id}}</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="name">QR Code</label>
                            <div class="controls">
                                <input id="name" type="text" ng-model="record.qrcode" />
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <qrcode version="1" size="200" data="{{record.qrcode}}"></qrcode>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">User/Site</label>
                    <div class="controls">
                        <select-single-user ng-model="record.userid" mandatory="false"></select-single-user>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Task Type</label>
                    <div class="controls">
                        <select-task-type ng-model="record.tasktypeid" mandatory="false"></select-task-type>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>
