﻿@model ConceptCave.www.Models.CalendarRuleModel
@{
    var uniqueId = Guid.NewGuid().ToString();       
}
         

@Html.HiddenFor(m => m.Id)
<div class="row-fluid">
    <div class="span6">
        <div class="row-fluid">
            <div class="span12">
                @Html.LabelFor(m => m.StartDate, new { translate = "" })
                @Html.EditorFor(m => m.StartDate)
            </div>
        </div>
        <div class="row-fluid">
            <div id="freq@(uniqueId)" class="span12">
                @Html.LabelFor(m => m.Frequency, new { translate = "" })
                @Html.EditorFor(m => m.Frequency)
            </div>
        </div>
    </div>
    <div id="daily@(uniqueId)" class="span6" style="@(Model.Frequency == ConceptCave.RepositoryInterfaces.Enums.CalendarRuleFrequency.Single ? "display:none" : "")">
        <div class="row-fluid">
            <div class="span12">
                @Html.LabelFor(m => m.EndDate, new { translate = "" })
                @Html.EditorFor(m => m.EndDate)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <label class="checkbox inline">
                    @Html.EditorFor(m => m.ExecuteSunday)Sunday
                </label><br />
                <label class="checkbox inline">
                    @Html.EditorFor(m => m.ExecuteMonday)Monday
                </label><br />
                <label class="checkbox inline">
                    @Html.EditorFor(m => m.ExecuteTuesday)Tuesday
                </label><br />
                <label class="checkbox inline">
                    @Html.EditorFor(m => m.ExecuteWednesday)Wednesday
                </label><br />
                <label class="checkbox inline">
                    @Html.EditorFor(m => m.ExecuteThursday)Thursday
                </label><br />
                <label class="checkbox inline">
                    @Html.EditorFor(m => m.ExecuteFriday)Friday
                </label><br />
                <label class="checkbox inline">
                    @Html.EditorFor(m => m.ExecuteSaturday)Saturday
                </label>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(document).off("selected", "#freq@(uniqueId)");
        $(document).on("selected", "#freq@(uniqueId)", function (event, data) {
            if (data.value == 'Single') {
                $('#daily@(uniqueId)').hide();
            }
            else {
                $('#daily@(uniqueId)').show();
            }
        });
    });
</script>