﻿@model DateTime?
<div class="input-append">
    @Html.TextBox("input", Model.HasValue ? Model.Value.ToString("dd-MM-yyyy") : "")<button id='@(ViewData.TemplateInfo.GetFullHtmlFieldId("input"))clearBtn' class="btn" type="button" translate>Clear</button>@Html.Hidden("", Model.HasValue ? Model.Value.ToString("yyyy-MM-dd") : "")
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("input")').datepicker({ format: 'dd-mm-yyyy' }).on('changeDate', function (ev) {
                var m = moment(ev.date).format('YYYY-MM-DD');

                $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("")').val(m);
            });

            $('#@(ViewData.TemplateInfo.GetFullHtmlFieldId("input"))clearBtn').click(function () {
                $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("input")').val(null);
                $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("")').val(null);
            });
        });
    </script>
