﻿@model object

@{
    var uniqueId = Guid.NewGuid().ToString();
    
    var list = new List<string>();
    foreach(var v in (Enum.GetValues(Model.GetType())))
    {
        list.Add(v.ToString());
    }
}

@Html.DropDownListFor(m => m, list.Select(t => new SelectListItem() { Text = System.Text.RegularExpressions.Regex.Replace(t.ToString(), "([a-z](?=[A-Z])|[A-Z](?=[A-Z][a-z]))", "$1 ").Replace("_", " "), Value = t.ToString(), Selected = t.ToString() == Model.ToString() }), new { id="enum" + uniqueId })

<script type="text/javascript">
    $(function () {
        $("#enum@(uniqueId)").change(function () {
            $("#enum@(uniqueId)").trigger('selected', { value: $('#enum@(uniqueId)').val() });
        });
    });
</script>