﻿@model string
@{
    var uniqueId = ViewData.TemplateInfo.GetFullHtmlFieldId("") + Guid.NewGuid().ToString();    
}

<textarea id="@(uniqueId)" name="@ViewData.TemplateInfo.GetFullHtmlFieldName("")">@Model</textarea>

<script type="text/javascript">
    $(function () {
	    $('#@uniqueId').redactor();
	}
);
</script>