﻿@model ConceptCave.Checklist.Interfaces.ITemplatedPresentable
@{
    var uniqueid = Guid.NewGuid();
    //get names of all the current settings
    int? pubGroupId = null;
    int? pubResourceId = null;
    string pubGroupName = "None";
    string pubResourceName = "None";
    var listItems = new List<SelectListItem>();
    if (Model.TemplatePublishedResourceId.HasValue)
    {
        var resourceEnt = ConceptCave.Repository.PublishingGroupResourceRepository.GetById(
                            Model.TemplatePublishedResourceId.Value, 
                            ConceptCave.RepositoryInterfaces.Enums.PublishingGroupResourceLoadInstruction.Resource |
                            ConceptCave.RepositoryInterfaces.Enums.PublishingGroupResourceLoadInstruction.ResourceData |
                            ConceptCave.RepositoryInterfaces.Enums.PublishingGroupResourceLoadInstruction.Data);
        pubGroupId = resourceEnt.PublishingGroupId;
        var pubGroupEnt = ConceptCave.Repository.PublishingGroupRepository.GetById(pubGroupId.Value,
                            ConceptCave.RepositoryInterfaces.Enums.PublishingGroupLoadInstruction.None);
        pubGroupName = pubGroupEnt.Name;
        pubResourceName = resourceEnt.Name;
        pubResourceId = resourceEnt.Id;

        //Load up the design document
        var doc = ConceptCave.Repository.PublishingGroupResourceRepository.DesignDocumentFromEntity(resourceEnt);
        foreach (var p in (from q in doc.AsDepthFirstEnumerable() where q is 
                               ConceptCave.Checklist.Interfaces.IQuestion select q as 
                               ConceptCave.Checklist.Interfaces.IQuestion))
        {
            if (ConceptCave.Repository.RepositorySectionManager.Current.ItemForObjectType(p.GetType()).FriendlyName
                == ViewBag.QuestionTypeName)
            {
                listItems.Add(new SelectListItem(){Value = p.Id.ToString(), Text = p.Name,
                    Selected = p.Id == Model.TemplateQuestionId});
            }
        }
    }

    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    
}

<label translate>Publishing Group</label>
<div class="input-append">
    <input type="text" id="typeahead-pubgroup-@uniqueid" value="@pubGroupName" />
    <button class="btn" type="button" id="select-pubgroup-@uniqueid" translate>Select</button>
    <span class="label label-info" translate>Selected: </span><span id="selected-pubgroup-@uniqueid" class="label label-info" >@pubGroupName</span>
    <input id="value-pubgroup-@uniqueid" type="hidden" value="@pubGroupId" /> <!-- not submitted -->
</div>

<label translate>Published Resource</label>
<div class="input-append">
    <input type="text" id="typeahead-resource-@uniqueid" value="@pubResourceName" />
    <button class="btn" type="button" id="select-resource-@uniqueid" translate>Select</button>
    <span class="label label-info" translate>Selected: </span><span id="selected-resource-@uniqueid" class="label label-info" >@pubResourceName</span>
    <input id="value-resource-@uniqueid" type="hidden" 
        name="@(prefix + ".TemplatePublishedResourceId")" value="@pubResourceId" />
</div>

<label translate="">Question</label>
@Html.DropDownList("TemplateQuestionId", listItems, "{{ 'Please Select...' | translate }}", new { id = "question-" + uniqueid })

<script type="text/javascript">
    $(function () {
        var pubGroupSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '@Url.Content("~/SearchChecklist/PublishingGroup?query=%QUERY")'
        })
        pubGroupSource.initialize();

        $('#typeahead-pubgroup-@uniqueid').typeahead(null, {
            display: 'Name',
            source: pubGroupSource.ttAdapter()
        }).bind('typeahead:selected', function (ev, suggestion, datasetName) {
            $('#typeahead-pubgroup-@uniqueid').data('selected', suggestion);
        })

        var pubResourceSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '@Url.Content("~/SearchChecklist/PublishedResource")',
                replace: function (url, query) {
                    return url + '?publishingGroup=' +
                        $('#value-pubgroup-@uniqueid').val() + '&query=' + query;
                }
            }
        })
        pubResourceSource.initialize();

        var updateQuestionTypeahead = function () {
            //get the content
            $.ajax({
                url: '@Url.Content("~/SearchChecklist/GetAllQuestions")',
                method: 'POST',
                dataType: 'json',
                data: {
                    publishedResourceId: $('#value-resource-@uniqueid').val(),
                    questionTypeFriendlyName: '@ViewBag.QuestionTypeName'
                },
                success: function (data) {
                    //console.log(data);
                    //clear options from select currently
                    var select = $('#question-@uniqueid');
                    $(select).empty();
                    $(select).append($('<option selected value="">' + $ng_translate.instant('Please Select...') + '</option>'));
                    if (data && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $(select).append($('<option value="' + data[i].Id + '">' + data[i].Name + '</option>'));
                        }
                    }
                }
            });
        };

        $('#select-pubgroup-@uniqueid').on('click', function () {
            var item = $('#typeahead-pubgroup-@uniqueid').data('selected');
            $('#value-pubgroup-@uniqueid').val(item.Id);
            $('#selected-pubgroup-@uniqueid').html(item.Name);
            $('#value-pubgroup-@uniqueid').trigger('change');
        });

        $('#typeahead-resource-@uniqueid').typeahead(null, {
            display: 'Name',
            source: pubResourceSource.ttAdapter()
        }).bind('typeahead:selected', function (ev, suggestion, datasetName) {
            $('#typeahead-resource-@uniqueid').data('selected', suggestion);
        })

        $('#select-resource-@uniqueid').on('click', function () {
            var item = $('#typeahead-resource-@uniqueid').data('selected');
            $('#value-resource-@uniqueid').val(item.Id);
            $('#selected-resource-@uniqueid').html(item.Name);
            $('#value-resource-@uniqueid').trigger('change');
        });

        $('#value-resource-@uniqueid').on('change', updateQuestionTypeahead);
    });
</script>
