﻿@model Guid?

@{ 
    Guid uniqueId = Guid.NewGuid();

    var searchUrl = UrlHelper.GenerateContentUrl("~/Project/ProjectManagement/Search", this.Context);
    if (this.ViewBag.SearchUrl != null)
    {
        searchUrl = this.ViewBag.SearchUrl;
    }

    ConceptCave.DTO.DTOClasses.ProjectDTO project = null;
    
    // this whole having this view access the repo is horrible, but it seems mad having every view that uses this have to 
    // hand in what this view requires to work. I don't know of a way of having a controller for these templates, so am going with this
    // and noting the flaming I'll probably get for doing it this way when there has to be a better one. Neil.

    if (this.ViewBag.Project != null)
    {
        project = (ConceptCave.DTO.DTOClasses.ProjectDTO)this.ViewBag.Project;
    }
    else if(Model.HasValue == true)
    {
        var repo = new ConceptCave.Repository.Injected.OProjectRepository();
        project = repo.GetById(Model.Value, ConceptCave.RepositoryInterfaces.Enums.ProjectLoadInstructions.None);
    }

    var projectName = "No project selected";
    if (project != null)
    {
        projectName = project.Name;
    }
}

<input name="@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))" id="@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))" type="hidden" value="@Model" />
<div class="control-group">
    <div class="controls">
        <div class="input-append">
	        <input type="text" id="projectsearch@(uniqueId)" /><button id="btn@(uniqueId)" class="btn" type="button">Select</button>
            <span class="label label-info" translate>Selected: </span><span id="selectedproject@(uniqueId)" class="label label-info">@projectName</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var selectionFunc = function(event) {
            var data = $("#projectsearch@(uniqueId)").data('source');
            var selection = $("#projectsearch@(uniqueId)").val();

            var item = $.grep(data, function (element, index) {
                return element.Name == selection;
            });

            item = item[0];
            $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))").val(item.Id);
            $("#selectedproject@(uniqueId)").html(item.Name);
            $("#projectsearch@(uniqueId)").val("");

            var eventData = { id: item.Id, name: item.Name };

            $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))").trigger("itemselected", eventData);
        };

        $(document).on("click", "#btn@(uniqueId)", selectionFunc);

        $("#projectsearch@(uniqueId)").typeahead({
            ajax: {
                url: '@searchUrl',
                displayField: "Name",
                triggerLength: 2,
                preProcess: function (data) {
                    $("#projectsearch@(uniqueId)").data('source', data)
                    return data;
                }
            }
        });
    })
</script>