﻿@model Guid?

@{ 
    Guid uniqueId = Guid.NewGuid();

    var searchUrl = UrlHelper.GenerateContentUrl("~/SearchUser/Index", this.Context);
    if (this.ViewBag.SearchUrl != null)
    {
        searchUrl = this.ViewBag.SearchUrl;
    }

    ConceptCave.Data.EntityClasses.UserDataEntity userEntity = null;

    if (this.ViewBag.User != null)
    {
        userEntity = (ConceptCave.Data.EntityClasses.UserDataEntity)this.ViewBag.User;
    }
    else if(Model.HasValue == true)
    {
        userEntity = ConceptCave.Repository.MembershipRepository.GetById(Model.Value, ConceptCave.RepositoryInterfaces.Enums.MembershipLoadInstructions.None);
    }

    var userName = "No user selected";
    if (userEntity != null)
    {
        userName = userEntity.Name;
    }
}

<input name="@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))" id="@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))@(uniqueId)" type="hidden" value="@Model" />
<div class="control-group">
    <div class="controls">
        <div class="input-append">
	        <input type="text" id="usersearch@(uniqueId)" /><button id="btn@(uniqueId)" class="btn" type="button">select</button>
            <span id="selecteduser@(uniqueId)" class="label label-info"><span translate="">Selected: </span><span id="selectedusertext@(uniqueId)">@userName</span> <i style="background-color:red;" class="icon-remove"></i></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var selectionFunc = function (event) {
            var item = $("#usersearch@(uniqueId)").data('selected');
            $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))@(uniqueId)").val(item.Id);
            @if (this.ViewBag.ShowSelected == null || this.ViewBag.ShowSelected == true)
            {
            <text>$("#selectedusertext@(uniqueId)").html(item.Name);</text>
            }
            $("#usersearch@(uniqueId)").val("");

            var eventData = { id: item.Id, name: item.Name };

            $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))").trigger("itemselected", eventData);
        };

        $(document).on("click", "#btn@(uniqueId)", selectionFunc);

        var userSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '@searchUrl' + '?query=%QUERY'
        })
        userSource.initialize();

        $("#usersearch@(uniqueId)").typeahead(null, {
            display: 'Name',
            source: userSource.ttAdapter()
        }).bind('typeahead:selected', function (ev, suggestion, datasetName) {
            $("#usersearch@(uniqueId)").data('selected', suggestion);
            });

        $("#selecteduser@(uniqueId) .icon-remove").click(function () {
            var item = { Id: null, Name: $ng_translate.instant("No user selected") };

            $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))").val(item.Id);
            $("#selectedusertext@(uniqueId)").html(item.Name);
            $("#usersearch@(uniqueId)").val("");

            var eventData = { id: item.Id, name: item.Name };

            $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))").trigger("itemselected", eventData);
        });
    })
</script>