﻿@model Guid?

@{ 
    Guid uniqueId = Guid.NewGuid();

    var searchMediaUrl = UrlHelper.GenerateContentUrl("~/SearchMedia/Index", this.Context);
    if (this.ViewBag.SearchUrl != null)
    {
        searchMediaUrl = this.ViewBag.SearchUrl;
    }

    ConceptCave.Data.EntityClasses.MediaEntity mediaEntity = null;

    if (this.ViewBag.Media != null)
    {
        mediaEntity = (ConceptCave.Data.EntityClasses.MediaEntity)this.ViewBag.Media;
    }
    else if(Model.HasValue && Model != Guid.Empty)
    {
        mediaEntity = ConceptCave.Repository.MediaRepository.GetById(Model.Value, ConceptCave.RepositoryInterfaces.Enums.MediaLoadInstruction.None);
    }

    var mediaName = "No media selected";
    if (mediaEntity != null)
    {
        mediaName = mediaEntity.Name;
    }
}

<input name="@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))" id="@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))@(uniqueId)" type="hidden" value="@Model" />
<div class="control-group">
    <div class="controls">
        <div class="input-append">
	        <input type="text" id="mediasearch@(uniqueId)" /><button id="btn@(uniqueId)" class="btn" type="button" translate>Select</button>
            @if (this.ViewBag.ShowSelected == null || this.ViewBag.ShowSelected == true)
            {
                <span class="label label-info" translate>Selected: </span><span id="selectedmedia@(uniqueId)" class="label label-info">@mediaName</span>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var selectionFunc = function (event) {
            var item = $("#mediasearch@(uniqueId)").data('selected');
            $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))@(uniqueId)").val(item.Id);
            @if (this.ViewBag.ShowSelected == null || this.ViewBag.ShowSelected == true)
            {
            <text>$("#selectedmedia@(uniqueId)").html(item.Name);</text>
            }
            $("#mediasearch@(uniqueId)").val("");

            var eventData = { id: item.Id, name: item.Name };

            $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))").trigger("itemselected", eventData);
        };

        $(document).on("click", "#btn@(uniqueId)", selectionFunc);

        var mediaSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '@searchMediaUrl' + '?query=%QUERY'
        })
        mediaSource.initialize();

        $("#mediasearch@(uniqueId)").typeahead(null, {
            display: 'Name',
            source: mediaSource.ttAdapter()
        }).bind('typeahead:selected', function (ev, suggestion, datasetName) {
            $("#mediasearch@(uniqueId)").data('selected', suggestion);
        })
    })
</script>