<md-dialog flex="80">
    <md-toolbar>
        <div class='md-toolbar-tools'>
            <h2 translate>Select Probe</h2>
            <span flex></span>
            <md-button class='md-icon-button' ng-click="close()">
                <md-icon md-font-set='fas' md-font-icon='fa-times fa-lg'></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class='md-dialog-content'>
            <div class="control-group">
                <p>Select probe below<span ng-if="disposeOnButton">&nbsp;or press button on the probe to select
                        it</span></p>
                <div class="alert alert-info" ng-if="probes.length == 0">
                    <h4>No probes found</h4>
                </div>
                <md-grid-list ng-if="probes.length" md-cols-gt-xs='4' md-cols='2' md-row-height='1:1'>
                    <md-grid-tile md-colspan='1' ng-repeat="probe in probes"
                        ng-class="['alert-info','alert-warning','alert-success','alert-warning','alert-error'][probe.status]">
                        <md-grid-tile-header>
                            {{ probe.name }}
                        </md-grid-tile-header>
                        <div ng-switch='probe.statusText'>
                            <button class='md-button md-button-raised md-accent' ng-switch-when='Connected'
                                ng-click='connect(null); $event.stopPropagation();'>Disconnect</button>
                            <button class='md-button md-button-raised md-accent' ng-switch-when='Disconnected'
                                ng-click='connect(probe); $event.stopPropagation();'>Connect</button>
                            <div ng-switch-default>
                                {{ probe.statusText }}
                            </div>
                        </div>
                        <md-grid-tile-footer>
                            Serial # {{ probe.serialNumber }}
                        </md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
                <div class="alert alert-info">
                    If you cannot find your probe, make sure
                    <ol>
                        <li>The probe has charge and turned on (press button, if LED does not light up then it requires
                            charging)</li>
                        <li>Bluetooth is Enabled on this device</li>
                        <li>The probe has been paired with this device through the Bluetooth Control Panel</li>
                    </ol>
                    <p class="muted">Note, BlueTherm probes normally use <b>1234</b> to pair</p>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
