<md-dialog>
    <md-toolbar>
        <div class='md-toolbar-tools'>
            <h2 layout='row' layout-align='start center'>
                <span>Change Lucifer Release Profile</span>
            </h2>
            <span flex></span>
            <md-button class='md-icon-button' ng-click="cancel()">
                <md-icon md-font-set='fas' md-font-icon='fa-times fa-lg'></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width: 800px;">
        <form>
            <div class='md-dialog-content'>
                <div layout='column'>
                    <md-input-container>
                        <label>Profile</label>
                        <md-select ng-model='profileId'>
                            <md-option ng-repeat='r in $profiles | async: this track by r._id' value='{{ r._id }}'>
                                {{ r.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button ng-click='save()' ng-disabled='!profileId'>Ok</md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
