<register-translations>
    <plus-count-more>+ {{ count }} more...</plus-count-more>
</register-translations>
<div question-wrapper="presented">
    <div class="row-fluid"
        ng-if="d.mediaItems.length < presented.options.maxUploadCount || presented.options.maxUploadCount == 0">
        <div class="span12">
            <button class="btn btn-success" style="width:100%;text-align:center" ng-click="takePhoto()"><i
                    class="icon-camera"></i> <span
                    ng-if="presented.options.allowanymedia == false">{{presented.options.uploadprompt == '' || presented.options.uploadprompt == null ? 'Take Photo' : presented.options.uploadprompt}}</span><span
                    ng-if="presented.options.allowanymedia == true">Upload Media</span></button>
        </div>
    </div>
    <div class="row-fluid"
        ng-if="d.mediaItems.length >= presented.options.maxUploadCount && presented.options.maxUploadCount != 0">
        <div class="span12">
            The maximum number of images ({{presented.options.maxUploadCount}}) has been reached.
        </div>
    </div>

    <div class="row-fluid" style="padding-top:10px;">
        <div class="span12">
            <ul class="thumbnails" ng-if="state == 'list'">
                <li class="span4" ng-repeat="item in d.mediaItems">
                    <div class="thumbnail" style="position:relative">
                        <img style="width:50%" ng-if="item.type == 'image'" ng-src="{{item.data.src}}">
                        <p class="lead" ng-if="item.type != 'image'">{{item.name}}</p>
                        <button ng-click="deletePhoto(item)" class="btn btn-danger"
                            style="position:absolute;right:1px;top:1px"><i class="icon-remove"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div style="width: 0; height: 0; overflow: hidden;">
        <input ng-if="presented.options.allowanymedia == false" class="camera_input" type="file" accept="image/*"
            onchange="angular.element(this).scope().photoTaken(this)">
        <input ng-if="presented.options.allowanymedia == true" class="camera_input" type="file"
            onchange="angular.element(this).scope().photoTaken(this)">
    </div>
</div>