﻿<register-translations>
    <edit-asset-type>Asset Type: <span ng-bind="record.name" /></edit-asset-type>
</register-translations>
<form name="editor">
    <legend translate>edit-asset-type</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify><a href="#context" data-toggle="tab" translate>Context</a></li>
            <li tabify><a href="#calendar" data-toggle="tab" translate>Calendars</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="control-group">
                    <label class="control-label" for="uuid" translate>Id</label>
                    <div class="controls">
                        <span id="uuid" class="uneditable-input">{{record.id}}</span>
                        <div ng-if="record.archived" class="label label-warning">Archived</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name" >Name</label>
                    <div class="controls">
                        <input id="name" type="text" ng-model="record.name"/>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="context">
                <table class="table table-striped" ng-repeat="c in record.contexts">
                    <thead>
                        <tr>
                            <th>
                                {{c.name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in c.resources">
                            <td>
                                <label class="checkbox"><input type="checkbox" ng-model="r.selected" />{{r.name}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="calendar">
                <button class="btn btn-success" ng-click="addCalendar()"><i class="icon-plus-sign"></i></button>
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Schedule
                            </th>
                            <th>
                                Tasks
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="calendar in record.calendars">
                            <td>
                                {{ calendar.name }}
                            </td>
                            <td>
                                <schedule-expression ng-model='calendar.scheduleexpression' readonly='true'></schedule-expression>
                            </td>
                            <td>
                                <div ng-repeat="task in calendar.tasks">
                                    <span ng-if="task.starttimelocal">At {{ task.starttimelocal | amDateFormat: 'HH:mm' }} </span>
                                    <span>{{ task.hierarchyrolename }}</span> to perform <span>{{ task.tasktypename }}</span>
                                    <hr ng-if="!$last" />
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="editCalendar(calendar)" ><i class="icon-edit"></i></button>
                                <button class="btn btn-danger" ng-click="deleteCalendar(calendar)"><i class="icon-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>
<div class="modal-large hide fade editcrondialog" modalify="showeditcalendar">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Asset Type Calendar</h3>
    </div>
    <div class="modal-body">
        <form name="newcron">
            <ul class="nav nav-tabs" id="filetab">
                <li tabify><a href="#schedule" data-toggle="tab" translate>Schedule</a></li>
                <li tabify><a href="#tasks" data-toggle="tab" translate>Tasks</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="schedule">
                    <div class="control-group">
                        <label class="control-label" for="calendarname" translate>Name</label>
                        <div class="controls">
                            <input type="text" ng-model="editingCalendar.name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="cronexpression" translate>Schedule Expression</label>
                        <div class="controls">
                            <schedule-expression ng-model="editingCalendar.scheduleexpression"></schedule-expression>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="tasks">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span1" translate>Timezone</div>
                            <div class="span10"><select-timezone-id ng-model="editingCalendar.timezone" allow-null="true"></select-timezone-id></div>
                            <div class="span1"><button class="btn btn-success" ng-click="addTask()"><i class="icon-plus-sign"></i></button></div>
                        </div>
                    </div>
                    <hr/>
                    <div ng-repeat="task in editingCalendar.tasks" class="container-fluid">
                        <div class="row-fluid">
                            <div class="span1" translate>Type</div>
                            <div class="span5"><select-task-type ng-model='task.tasktypeid' on-select='taskTypeChanged(selected)'></select-task-type></div>
                            <div class="span1" translate>Name</div>
                            <div class="span5"><input type="text" ng-model='task.taskname' /></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span1" translate>Start</div>
                            <div class="span5"><input type="time" ng-model="task.starttimelocal" /></div>
                            <div class="span1" translate>Length</div>
                            <div class="span4"><input type="number" ng-model="task.tasklengthindays" /> <span translate>days</span></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span1" translate>Description</div>
                            <div class="span9"><textarea ng-model="task.taskdescription" style="width:100%"/></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span1" translate>Site</div>
                            <div class="span5"><select-single-user is-a-site="true" ng-model="task.tasksiteid"></select-single-user></div>
                            <div class="span1" translate>Level</div>
                            <div class="span4"><input type="number" ng-model="task.tasklevel" /></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span1" translate>Role</div>
                            <div class="span5"><select-hierarchy-role ng-model='task.hierarchyroleid'></select-hierarchy-role></div>
                            <div class="span1" translate>Labels</div>
                            <div class="span4"><label_selector type="Tasks" ng-model="task.labels"></label_selector></div>
                            <div class="span1"><button class="btn btn-danger" ng-click="deleteTask(task)"><i class="icon-trash"></i></button></div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        <a href="#" class="btn btn-primary" ng-click="saveCalendar()" translate>Save</a>
    </div>
</div>


