<md-toolbar class='md-hue-1'>
    <div class='md-toolbar-tools'>
        <md-button class='md-raised' ng-click='$ctrl.refresh()' ng-disabled='!$ctrl.canRefresh()'>
            <md-icon md-font-set='fas' md-font-icon='fa-redo'></md-icon>&nbsp;Refresh
        </md-button>
    </div>
</md-toolbar>

<md-content layout-padding>
    <md-input-container>
        <label>Search</label>
        <input ng-model='$ctrl.search' />
    </md-input-container>

    <md-table-container flex>
        <table md-table class='table-hover'>
            <thead md-head md-order='$ctrl.order'>
                <tr md-row>
                    <th md-column md-order-by='id'>Release</th>
                    <th md-column md-order-by='profile.name'>Profile</th>
                    <th md-column md-order-by='tenantHostnames.length'>Tenant Count</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-class=''
                    ng-repeat='release in $ctrl.releases | orderBy: $ctrl.order | filter: $ctrl.filter track by release.id'
                    ng-click='$ctrl.edit(release)'>
                    <td md-cell>{{ release.id }}</td>
                    <td md-cell>{{ release.profile.name }}</td>
                    <td md-cell>{{ release.tenantHostnames.length }}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>
