﻿<div>
    <div id="management" class="container-fluid" ng-controller="cronmanagementCtrl">
        <div class="row-fluid">
            <div id="cronlist" class="span4">
                <div class="itemlistnav" style="text-align:right;padding:4px;">
                    <button ng-click="showNewJob()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                </div>
                <cron-sidebar ng-model="groups"></cron-sidebar>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing && editmode != 'server'">
                        <h1 translate>CRON Management</h1>
                        <span translate>This management section allows you to define processes that run at specific times.</span>
                    </div>
                    <div ng-if="editing && editmode == 'job'">
                        <cron-editor ng-model="editing"></cron-editor>
                    </div>
                    <div ng-if="editmode == 'server'">
                        <div class="hero-unit">
                            <h3>The server is currently {{server.state}}</h3>
                            <div ng-if="server.canstartstop">
                                <button ng-click="startServer()" class="btn btn-success" ng-if="server.state == 'Standby'">Start</button>
                                <button ng-click="shutdownServer()" class="btn btn-danger" ng-if="server.state == 'Started'">Shutdown</button>
                            </div>
                            <div class="alert alert-info" ng-if="!server.canstartstop">
                                You cannot Start or Stop the CRON Service from this tenant.
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal hide fade editcrondialog" modalify="shownewcronjob">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>New Job</h3>
            </div>
            <div class="modal-body">
                <form name="newcron">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group" ng-class="{error: newcron.inputName.$invalid && newcron.inputName.$pristine == false}">
                                <label class="control-label" for="inputName" translate>Name</label>
                                <div class="controls">
                                    <input type="text" id="inputName" name="inputName" required ng-model="newjob.name" placeholder="{{ 'Name' | translate }}"><span ng-if="newcron.inputName.$invalid && newcron.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group" ng-class="{error: newcron.inputDescription.$invalid && newcron.inputDescription.$pristine == false}">
                                <label class="control-label" for="inputDescription" translate>Description</label>
                                <div class="controls">
                                    <input type="text" id="inputDescription" name="inputDescription" required ng-model="newjob.description" placeholder="{{ 'Description' | translate }}"><span ng-if="newcron.inputDescription.$invalid && newcron.inputDescription.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label" for="inputType" translate>Type</label>
                                <div class="controls">
                                    <select ng-model="newjob.type" ng-options="t for t in jobTypes"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="confirmNewJob()" translate>Save changes</a>
            </div>
        </div>
    </div>
</div>