﻿@import './animations.scss';

.application-body {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
 
.ui-view-layout-row > * {
    flex-direction: row;
    flex: 1;
    display: flex;
    box-sizing: border-box;
}

.ui-view-layout-column > * {
    flex-direction: column;
    flex: 1;
    display: flex;
    box-sizing: border-box;
}

.main-content
{
    padding-left:1em;
    padding-right:1em;
}

.icon-with-margin {
    margin: 5px;
}

// Add this to an image to make is a perfect circle
.circle {
    border-radius: 50%;
}

/* Material hack to allow Toasts to center */
.md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}