﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VM Player</title>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body layout='row' class='application-body animation-container' ng-cloak>
    <script>'serviceWorker' in navigator && navigator.serviceWorker.register('/service-worker.js');</script>

    <div ui-view='body' layout='row' flex class='ui-view-layout-row fade-in-fade-out'></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

</body>

</html>