<div layout='row' layout-align='start center' flex>
    <md-button class="md-fab" ng-click="toggleSideNav('left')" hide-gt-md>
        <md-icon md-font-set='fas' md-font-icon='fa-bars'></md-icon>
    </md-button>
</div>