﻿<h3>Calculates the line item price</h3>
<i>item</i> is the item to price, it has the following properties<br />
<i>item.price</i> is the standard item price<br />
<i>item.quantity</i> is the order quantity<br />
<i>notes</i> is an array to note discounts, surcharges etc<br />
<i>now</i> is a Javascript UTC moment which can be used to determine holiday pricing<br />
<i>this.calculate(item)</i> => <pre>item.quantity * item.price * (1 - item.discount + item.surcharge)</pre><br />
Empty template
<pre>
function (item, notes, now) {
  return this.calculate(item);
}
</pre>

