﻿<h3>Applies a Coupon or Discount to a set of Pending Payments</h3>
<i>args.payments</i> array of pending payments<br />
<i>args.coupon</i> the coupon product<br />
<i>args.now</i> is a Javascript UTC moment which can be used to determine holiday pricing<br />
<h4>Expected behaviour</h4>
There is no expected return value, the args.payments array should be modified as required
<h4>Empty NodeJs module template</h4>
<pre>
module.exports =
function (args) {
  
}
</pre>

