﻿<register-translations>
    <edit-javascript-function>Javascript Function: <span ng-bind="record.name" /></edit-javascript-function>
</register-translations>
<form name="editor">
    <legend translate>edit-javascript-function</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify ng-if="record.type"><a href="#scripttab" data-toggle="tab" translate>Script</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general" style="min-height:400px">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" type="text" ng-model="record.name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="type" translate>Type</label>
                    <div class="controls">
                        <select id="type" ng-model="record.type" ng-options="type.id as type.name for type in types"/>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="scripttab" style="min-height:400px">
                <div class="alert alert-info">
                    <compile compile="typesById[record.type].helpDirective"></compile>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Script</label>
                    <textarea id="scripteditor" style="width:100%; height:500px"></textarea>
                    <div ng-if="scriptErrors" class="alert alert-error">
                        <b>{{scriptErrors.message}}</b>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Live test</label>
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="testArgs"></div>
                        </div>
                        <div class="span6">
                            <div id="testResult"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
</form>

<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>


