<h1>Select Checklist</h1>
<div layout="row">
    <md-card flex="25" ng-repeat="checklist in $ctrl.group.Checklists"
        ui-sref="root.select.reviewees({groupId: $ctrl.group.Id, resourceId: checklist.ResourceId })">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{checklist.Name}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>