﻿@{
    ViewBag.Title = "Delete Working Documents";
    
    if(ViewBag.Success != null && ViewBag.Success == true)
    {
        <p translate>Demo data deleted</p>    
        return;
    }
}

<p translate>Deleting all the working documents is not reversable and will result in the loss of data. Click the confirm button if you are sure you want to do this.</p>
@using (Html.BeginForm("ConfirmDeleteDemoData", "Utils", FormMethod.Post))
{
    <input type="submit" value="Confirm" />
}