﻿<register-translations>
    <edit-teamhierarchy>Team Hierarchy: <span ng-bind="record.name" /></edit-teamhierarchy>
</register-translations>
<form name="editor">
    <legend translate>edit-teamhierarchy</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify ng-if="record.id"><a href="#chart" data-toggle="tab" translate>Chart</a></li>
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="showImport()" translate>Import</a></li>
                    <li><a href="{{getExportUrl()}}" translate>Export</a></li>
                </ul>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" ng-class="{'active': record.id}" id="chart" style="min-height: 400px" ng-if="record.id">
                <div id="org-chart-container">
                    <org-chart ng-model="chart" showimages="showimages" enable-drag-drop="true" enable-edit="true" enable-add="true" enable-remove="true" full-screen-element-selector="#org-chart-container" chart-manager="chartManager"></org-chart>

                    <div class="modal hide fade addeditbucketdialog" modalify="showaddeditbucket.showing">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h3 translate>Edit/Add Node</h3>
                        </div>
                        <div class="modal-body" style="min-height:500px">
                            <ul class="nav nav-tabs" id="filetab">
                                <li tabify ng-if="record.id"><a href="#editgeneral" data-toggle="tab" translate>General</a></li>
                                <li tabify><a href="#labels" data-toggle="tab" translate>Labels</a></li>
                                <li tabify><a href="#edittimesheet" data-toggle="tab" translate>Timesheet</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="editgeneral">
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Name</label>
                                                <div class="controls">
                                                    <input type="text" ng-model="bucket.name" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Role</label>
                                                <div class="controls">
                                                    <select-hierarchy-role ng-model="bucket.roleid" role="selected.role"></select-hierarchy-role>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">User</label>
                                                <div class="controls">
                                                    <search-user ng-model="bucketuser"></search-user>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Is Primary</label>
                                                <div class="controls">
                                                    <input type="checkbox" ng-model="bucket.isprimary" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Claimable</label>
                                                <div class="controls">
                                                    <input type="checkbox" ng-model="bucket.taskscanbeclaimed" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Sort Order</label>
                                                <div class="controls">
                                                    <input type="number" ng-model="bucket.sortorder" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="labels">
                                    <div id="selectlabels" style="clear:both">
                                        <label-selector type="Users" ng-model="bucket.labels" />
                                    </div><br/><br/>
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Allow tasks to be assigned through labels</label>
                                                <div class="controls">
                                                    <input type="checkbox" ng-model="bucket.assigntasksthroughlabels" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Allow users in the labels to view data as though they owned the bucket</label>
                                                <div class="controls">
                                                    <input type="checkbox" ng-model="bucket.opensecuritythroughlabels" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="edittimesheet">
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Weekday Timesheet Item Type</label>
                                                <div class="controls">
                                                    <select ng-model="bucket.defaultweekdaytimesheetitemtypeid" ng-options="t.id as t.name for t in timesheetitemtypes">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Saturday Timesheet Item Type</label>
                                                <div class="controls">
                                                    <select ng-model="bucket.defaultsaturdaytimesheetitemtypeid" ng-options="t.id as t.name for t in timesheetitemtypes">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class"span12">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Sunday Timesheet Item Type</label>
                                                <div class="controls">
                                                    <select ng-model="bucket.defaultsundaytimesheetitemtypeid" ng-options="t.id as t.name for t in timesheetitemtypes">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                            <a href="#" class="btn btn-primary" ng-click="completeEditAdd(bucket, bucketuser)" translate>Confirm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" ng-class="{'active': !record.id}" id="general" style="height:400px">
                <div class="control-group">
                    <label class="control-label" for="uuid" translate>Id</label>
                    <div class="controls">
                        <span id="uuid" class="uneditable-input">{{record.id}}</span>
                        <div ng-if="record.archived" class="label label-warning">Archived</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" type="text" ng-model="record.name" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="doSave()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>

<div class="modal-large hide fade importdialog" modalify="uploadingfile">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Import Hierarchy</h3>
    </div>
    <div class="modal-body" style="min-height: 30px">
        <div ng-if="uploader" class="row-fluid">
            <div class="span6">
                <div ng-show="uploader.isHTML5" nv-file-drop uploader="uploader">
                    <div class="well drop-zone" nv-file-over uploader="uploader" translate>
                        Drag and Drop files here
                    </div>
                </div>
            </div>
            <div class="span6">
                <p translate>Alternatively you may select a file</p>
                <input nv-file-select uploader="uploader" type="file" multiple />
            </div>
        </div>
        <div class="row-fluid" ng-if="uploader.queue.length > 0">
            <div class="span12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%" translate>Name</th>
                            <th translate>Status</th>
                            <th translate>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="icon-upload"></i></span>
                                <span ng-show="item.isCancel"><i class="icon-ban-circle"></i></span>
                                <span ng-show="item.isError" id='{{item.id}}'><i class="icon-trash"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-mini" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="icon-upload"></span><translate>Import</translate>
                                </button>
                                <button type="button" class="btn btn-warning btn-mini" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <span class="icon-ban-circle"></span><translate>Cancel</translate>
                                </button>
                                <button type="button" class="btn btn-danger btn-mini" ng-click="item.remove()">
                                    <span class="icon-trash"></span><translate>Remove</translate>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="uploadFailed == false" class="alert alert-success">
                    The import completed successfully.
                </div>
                <div ng-if="uploadFailed == true">
                    <div class="row-fluid">
                        <div class="span12 alert alert-error">
                            <h4>Issues Encountered</h4>
                            Issues were encountered while attempting to upload. No data has been saved to the database. Please correct the issues detailed below before trying again.
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <table class="table table-stripped">
                                <tbody>
                                    <tr ng-repeat="result in uploadresults.errors track by $index">
                                        <td><span class="label label-important">Error</span></td>
                                        <td>
                                            {{result}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" translate ng-click="closeImportHierarchy()">Close</a>
            <a href="#" class="btn btn-primary" ng-click="uploadHierarchy()" translate>Import</a>
        </div>
    </div>
</div>


