﻿<div>
    <div id="management" class="container-fluid" ng-controller="reportmanagementCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="deleteReport(editing)" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
                        <div class="btn-group">
                            <a class="btn btn-success btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-plus-sign icon-white"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="reporttype in reporttypes" ng-click="newReport(reporttype.type)"><a href="#">{{reporttype.text}}</a></li>
                            </ul>
                        </div>
                        <button ng-click="listPowerBiReports()" class="btn btn-info btn-mini"><i class="icon-th-list icon-white"></i></button>
                    </div>
                    <report-sidebar ng-model="reports"></report-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing && powerbireports == null">
                        <h1 translate>Report Management</h1>
                        <span translate>This management section allows you to define what reports are available in the system and control who can access which reports</span>
                    </div>
                    <div ng-if="powerbireports != null">
                        <p>The following reports are present in the working set on the Power BI server.</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Embed URL</th>
                                    <th>Web URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in powerbireports">
                                    <td>{{r.id}}</td>
                                    <td>{{r.name}}</td>
                                    <td>{{r.embedurl}}</td>
                                    <td>{{r.weburl}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="editing && powerbireports == null">
                        <report-editor ng-model="editing" reportinformation="reportinformation"></report-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>