﻿@model ConceptCave.www.Areas.Publishing.Models.RenderPublishedGroupDesignerUIModel
           
@{
    this.Layout = null;
    Guid uniqueId = Guid.NewGuid();
    
    <div id="@uniqueId" style="display:none">&nbsp;</div>
    
    if (ViewBag.ActionTaken != null)
    {

        if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
        {
            string message = "Publishing Group Removed";
            
            <script type="text/javascript">
                $(function () {
                    $("#@uniqueId").trigger("serverdeleteditem", { id: '@Model.Entity.Id.ToString()' });
                });
            </script>
    
            @Html.Partial("RenderNotificationUI", message);

                                                          return; // nothing more to do
        }

        <script type="text/javascript">
            $(function () {
                $("#groupContainer").effect("highlight", { 'color': '#ccffcc' }, 3000);
                $("#@uniqueId").trigger("serveraddeditem", { id: '@Model.Entity.Id.ToString()' });
            });
        </script>
    }
}
<register-translations>
    <edit-name>Edit: {{ name }}</edit-name>
    <id-id>Id: {{ id }}</id-id>
</register-translations>
<div id="groupContainer">

    <legend translate translate-compile="false" translate-values="{name: '@Model.Entity.Name'}">edit-name</legend>
        <ul class="nav nav-tabs" id="edittab">
            <li><a href="#details" data-toggle="tab" translate>Details</a></li>
            <li><a href="#reviewers" data-toggle="tab" translate>Reviewers</a></li>
            <li><a href="#reviewees" data-toggle="tab" translate>Reviewees</a></li>
            <li><a href="#checklists" data-toggle="tab" translate>Checklists</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="details">
                    @using (Html.BeginForm("Save", "PublishingManagement", FormMethod.Post, new { id = "publishedgroupeditorui" }))
                    {
                        @Html.Hidden("id", Model.Entity.Id, new { id = "publishedgroupeditoruiid" })

                    <fieldset>
                        <div translate translate-compile="false" translate-values="{id: '@Model.Entity.Id'}">id-id</div><br />
                        @Html.LabelFor(m => m.Entity.Name, new { translate = "" })
                        @Html.EditorFor(m => m.Entity.Name, null, "name")
                        @Html.LabelFor(m => m.Entity.AllowUseAsUserContext, new { translate = "" })
                        @Html.EditorFor(m => m.Entity.AllowUseAsUserContext, null, "allowuseasusercontext")
                        @Html.LabelFor(m => m.Entity.AllowUseAsAssetContext, new { translate = "" })
                        @Html.EditorFor(m => m.Entity.AllowUseAsAssetContext, null, "allowuseasassetcontext")
                        @Html.LabelFor(m => m.Entity.AllowUseAsDashboard, "{{ 'Allow use as dashboard' | translate }}")
                        @Html.EditorFor(m => m.Entity.AllowUseAsDashboard, null, "allowuseasdashboard")
                        @Html.LabelFor(m => m.Entity.AllowUseAsTaskWorkflow, "{{ 'Allow use as task workflow' | translate }}")
                        @Html.EditorFor(m => m.Entity.AllowUseAsTaskWorkflow, null, "allowuseastaskworkflow")
                    </fieldset>
            
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" translate>Save changes</button>
                    </div>
                    }
            </div>
            <div class="tab-pane" id="reviewers">
                <div style="float:left">
                    @{ViewBag.UserSelectHeading = "Selected Reviewers";}
                    @Html.Partial("SelectMultipleUsers", Model.Reviewers)
                </div>
                <div style="float:right;">
                    @Html.Partial("SelectMultipleLabels", Model.ReviewersLabels)
                </div>
                <div style="clear:both;">&nbsp;</div>
            </div>
            <div class="tab-pane" id="reviewees">
                <div style="float:left">
                    @{ViewBag.UserSelectHeading = "Selected Reviewees";}
                    @Html.Partial("SelectMultipleUsers", Model.Reviewees)
                </div>
                <div style="float:right;">
                    @Html.Partial("SelectMultipleLabels", Model.RevieweesLabels)
                </div>
                <div style="clear:both;">&nbsp;</div>
            </div>
            <div class="tab-pane" id="checklists">
             @Html.Partial("SelectMultipleChecklists", new ConceptCave.www.Models.SelectMultipleChecklistsModel() { RenderList = false })
             <table id="checklisttable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th translate>Id</th>
                        <th translate>Checklist</th>
                        <th translate>Public</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var c in Model.Checklists)
                {
                    @Html.Partial("RenderPublisedGroupDesignerUIItem", c);
                }
                </tbody>
             </table>
            </div>
        </div>
</div>

<div class="modal hide fade" id="edititem@(uniqueId)">
    <div class="modal-header">
        <button type="button" class="close dismiss">×</button>
        <h3 translate>Options</h3>
    </div>
    <div class="modal-body" id="edititembody@(uniqueId)">
    
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" translate>Save</a>
        <a href="#" class="btn dismiss" translate>Close</a>
    </div>
</div>
   
@using (Html.BeginForm("RemoveActor", "PublishingManagement", FormMethod.Post, new { id = "removeactorui" }))
{
    @Html.Hidden("membershipid", "", new { id = "removeactoruiid" });
    @Html.Hidden("actortype", "", new { id = "removeactoruiactortype" });   
    @Html.Hidden("publishedGroupId", Model.Entity.Id, new { id = "removeactoruigroupid" });
}

@using (Html.BeginForm("AddActor", "PublishingManagement", FormMethod.Post, new { id = "addactorui" }))
{
    @Html.Hidden("membershipid", "", new { id = "addactoruiid" });
    @Html.Hidden("actortype", "", new { id = "addactoruiactortype" });   
    @Html.Hidden("publishedGroupId", Model.Entity.Id, new { id = "addactoruigroupid" });
}

@using (Html.BeginForm("AddChecklist", "PublishingManagement", FormMethod.Post, new { id = "addchecklistui" }))
{
    @Html.Hidden("checklistid", "", new { id = "addchecklistuiid" });  
    @Html.Hidden("publishedGroupId", Model.Entity.Id, new { id = "addchecklistuigroupid" });
}

@using (Html.BeginForm("RemoveChecklist", "PublishingManagement", FormMethod.Post, new { id = "removechecklistui" }))
{
    @Html.Hidden("checklistid", "", new { id = "removechecklistuiid" });  
    @Html.Hidden("publishedGroupId", Model.Entity.Id, new { id = "removechecklistuigroupid" });
}

@using (Html.BeginForm("RefreshChecklist", "PublishingManagement", FormMethod.Post, new { id = "refreshchecklistui" }))
{
    @Html.Hidden("checklistid", "", new { id = "refreshchecklistuiid" });  
    @Html.Hidden("publishedGroupId", Model.Entity.Id, new { id = "refreshchecklistuigroupid" });
}

@using (Html.BeginForm("EditChecklist", "PublishingManagement", FormMethod.Post, new { id = "editchecklistui" }))
{
    @Html.Hidden("checklistid", "", new { id = "editchecklistuiid" });  
    @Html.Hidden("publishedGroupId", Model.Entity.Id, new { id = "editchecklistuigroupid" });
}

@using (Html.BeginForm("AddLabel", "PublishingManagement", FormMethod.Post, new { id = "addlabelui" }))
{
    @Html.Hidden("labelid", "", new { id = "addlabeluiid" });  
    @Html.Hidden("actortype", "", new { id = "addlabeluiactortype" });
    @Html.Hidden("publishedGroupId", Model.Entity.Id, new { id = "addlabeluigroupid" });
}

@using (Html.BeginForm("RemoveLabel", "PublishingManagement", FormMethod.Post, new { id = "removelabelui" }))
{
    @Html.Hidden("labelid", "", new { id = "removelabeluiid" });  
    @Html.Hidden("actortype", "", new { id = "removelabeluiactortype" });
    @Html.Hidden("publishedGroupId", Model.Entity.Id, new { id = "removelabeluigroupid" });
}

<script type="text/javascript">
    $(function () {
        $("#edittab a:first").tab('show');

        $("#publishedgroupeditorui").submit(function () {
            CurrentDesignerManager.save($("#publishedgroupeditorui"));
            return false;
        });

        $(document).off("itemdeleted", "#reviewers");
        $(document).on("itemdeleted", "#reviewers", function (event, data) {
            $("#removeactoruiactortype").val("@ConceptCave.RepositoryInterfaces.Enums.PublishingGroupActorType.Reviewer.ToString()");
            $("#removeactoruiid").val(data.userid);
            CurrentDesignerManager.submitForm($("#removeactorui"), function (responseText) {
                $("#reviewers #" + data.containerid).effect("blind", null, "normal", function () {
                    $("#reviewers #" + data.containerid).empty();
                    $("#reviewers #" + data.containerid).remove();
                });
            });
        });

        $(document).off("itemadded", "#reviewers");
        $(document).on("itemadded", "#reviewers", function (event, data) {
            $("#addactoruiactortype").val("@ConceptCave.RepositoryInterfaces.Enums.PublishingGroupActorType.Reviewer.ToString()");
            $("#addactoruiid").val(data.userid);
            CurrentDesignerManager.submitForm($("#addactorui"), function (responseText) {
                data.additem(responseText);
            });
        });

        $(document).off("labelselected", "#reviewers");
        $(document).on("labelselected", "#reviewers", function (event, data) {
            var form = null;
            if (data.selected) {
                $("#addlabeluiid").val(data.id);
                $("#addlabeluiactortype").val("@ConceptCave.RepositoryInterfaces.Enums.PublishingGroupActorType.Reviewer.ToString()");
                form = $("#addlabelui");
            }
            else {
                $("#removelabeluiid").val(data.id);
                $("#removelabeluiactortype").val("@ConceptCave.RepositoryInterfaces.Enums.PublishingGroupActorType.Reviewer.ToString()");
                form = $("#removelabelui");
            }
            CurrentDesignerManager.submitForm(form, function (responseText) {
                $(data.element).effect("highlight", { 'color': '#ccffcc' }, 3000);
            });
        });

        $(document).off("itemdeleted", "#reviewees");
        $(document).on("itemdeleted", "#reviewees", function (event, data) {
            $("#removeactoruiactortype").val("@ConceptCave.RepositoryInterfaces.Enums.PublishingGroupActorType.Reviewee.ToString()");
            $("#removeactoruiid").val(data.userid);
            var containerId = data.containerid;
            CurrentDesignerManager.submitForm($("#removeactorui"), function (responseText) {
                $("#reviewees #" + containerId).effect("blind", null, "normal", function () {
                    $("#reviewees #" + containerId).empty();
                    $("#reviewees #" + containerId).remove();
                });
            });
        });

        $(document).off("itemadded", "#reviewees");
        $(document).on("itemadded", "#reviewees", function (event, data) {
            $("#addactoruiactortype").val("@ConceptCave.RepositoryInterfaces.Enums.PublishingGroupActorType.Reviewee.ToString()");
            $("#addactoruiid").val(data.userid);
            CurrentDesignerManager.submitForm($("#addactorui"), function (responseText) {
                data.additem(responseText);
            });
        });

        $(document).off("labelselected", "#reviewees");
        $(document).on("labelselected", "#reviewees", function (event, data) {
            var form = null;
            if (data.selected) {
                $("#addlabeluiid").val(data.id);
                $("#addlabeluiactortype").val("@ConceptCave.RepositoryInterfaces.Enums.PublishingGroupActorType.Reviewee.ToString()");
                form = $("#addlabelui");
            }
            else {
                $("#removelabeluiid").val(data.id);
                $("#removelabeluiactortype").val("@ConceptCave.RepositoryInterfaces.Enums.PublishingGroupActorType.Reviewee.ToString()");
                form = $("#removelabelui");
            }
            CurrentDesignerManager.submitForm(form, function (responseText) {
                $(data.element).effect("highlight", { 'color': '#ccffcc' }, 3000);
            });
        });

        $(document).off("itemadded", "#checklists");
        $(document).on("itemadded", "#checklists", function (event, data) {
            $("#addchecklistuiid").val(data.checklistid);
            CurrentDesignerManager.submitForm($("#addchecklistui"), function (responseText, angularise) {
                var jq = $(responseText);
                $('#checklisttable > tbody:last').append(jq);
                angularise(jq);
            });
        });

        $(document).off("itemedit", "#checklists");
        $(document).on("itemedit", "#checklists", function (event, data) {
            $("#editchecklistuiid").val(data.checklistid);

            $("#edititem@(uniqueId)").data('currentelement', data.element);

            $("#edititem@(uniqueId)").modal();

            CurrentDesignerManager.submitForm($("#editchecklistui"), $("#edititembody@(uniqueId)"));
        });

        $("#edititem@(uniqueId) .dismiss").click(function () {
            $("#edititem@(uniqueId)").modal('hide');
        });

        $("#edititem@(uniqueId) .btn-primary").click(function () {
            var select = "#edititembody@(uniqueId) form";

            CurrentDesignerManager.submitForm($(select)[0], function (responseText, angularise) {
                var element = $("#edititem@(uniqueId)").data('currentelement');
                var jq = $(responseText);
                $(element).replaceWith(jq);
                $("#edititem@(uniqueId)").modal('hide');
                angularise(jq);
            });
        });

        $(document).off("itemdeleted", "#checklists");
        $(document).on("itemdeleted", "#checklists", function (event, data) {
            if (confirm("Are you sure you want to remove the checklist from the group?") == false) {
                return;
            }

            $("#removechecklistuiid").val(data.checklistid);
            var containerId = data.containerid;
            CurrentDesignerManager.submitForm($("#removechecklistui"), function (responseText) {
                $(data.element).effect("fade", null, "normal", function () {
                    $(data.element).empty();
                    $(data.element).remove();
                });
            });
        });

        $(document).off("itemrefreshed", "#checklists");
        $(document).on("itemrefreshed", "#checklists", function (event, data) {
            if (confirm("Are you sure you want to refresh the checklist from the group?") == false) {
                return;
            }

            $("#refreshchecklistuiid").val(data.checklistid);

            var containerId = data.containerid;

            CurrentDesignerManager.submitForm($("#refreshchecklistui"), function (responseText) {
                $(data.element).effect("highlight", { 'color': '#ccffcc' }, 3000);
            });
        });
    });
</script>
