﻿@model ConceptCave.www.Areas.Publishing.Models.RenderPublishedGroupChecklistItem

<tr id="checklistrow@(Model.Id)">
    <td>@Model.ResourceId</td>
    <td>
        @Model.Name
    </td>
    <td>
        @(Model.IsPublic ? "True" : "False")
        @if (Model.PublicTicketId.HasValue)
        {
            <a href="#" id="publicinfo@(Model.Id)" class="btn btn-mini btn-info" type="button" rel="popover" data-animation="true" data-title="{{ 'Anonymous URL' | translate }}" data-trigger="manual" data-content="@Url.ToFullyQualifiedUrl(string.Format("~/Authenticate?ticket={0}", Model.PublicTicketId.Value))" ><i class="icon-question-sign icon-white"></i></a>
        }
    </td>
    <td>
        <button id="@string.Format("edit{0}", Model.Id)" type="button" class="btn {selectedid:'@Model.Id', checklistid:'@Model.ResourceNodeId', element:'#checklistrow@(Model.Id)'}"><i class="icon-edit"></i></button>
        <button id="@string.Format("refresh{0}", Model.Id)" type="button" class="btn btn-warning {selectedid: '@Model.Id', checklistid:'@Model.ResourceNodeId', element:'#checklistrow@(Model.Id)'}"><i class="icon-refresh icon-white"></i></button>
        <button id="@string.Format("remove{0}", Model.Id)" type="button" class="btn btn-danger {selectedid: '@Model.Id', checklistid:'@Model.ResourceNodeId', element:'#checklistrow@(Model.Id)'}"><i class="icon-trash icon-white"></i></button>
    </td>
</tr>

<script type="text/javascript">
    $(function () {
        $("#publicinfo@(Model.Id)").click(function() {
            $("#publicinfo@(Model.Id)").popover('toggle');
        });

        $(document).off("click", "#@string.Format("edit{0}", Model.Id)");
        $(document).on('click', "#@string.Format("edit{0}", Model.Id)", function(event) {
            $(event.currentTarget).trigger("itemedit", $(event.currentTarget).metadata());
        });

        $(document).off("click", "#@string.Format("refresh{0}", Model.Id)");
        $(document).on('click', "#@string.Format("refresh{0}", Model.Id)", function(event) {
            $(event.currentTarget).trigger("itemrefreshed", $(event.currentTarget).metadata());
        });

        $(document).off("click", "#@string.Format("remove{0}", Model.Id)");
        $(document).on('click', "#@string.Format("remove{0}", Model.Id)", function(event) {
            $(event.currentTarget).trigger("itemdeleted", $(event.currentTarget).metadata());
        });
    });
</script>