﻿<div >
    <div id="management" class="container-fluid" ng-controller="statusmanagementCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newStatus()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    </div>
                    <status-sidebar ng-model="statuses"></status-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1> Status Management</h1>
                        This management section allows you to define available statusses for task types/tasks.
                    </div>
                    <div ng-if="editing">
                        <status-editor ng-model="editing"></status-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>