﻿@model ConceptCave.www.Areas.Designer.Models.ValidatorEditorModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Interfaces.IQuestion)Model.ResourceModel.Resource;
    var validator = (ConceptCave.Checklist.Validators.AllowedValuesValidator)Model.Validator;

    var JsonModel = new ConceptCave.www.Models.JSONDataModel() { RootId = question.Id.ToString() };

    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var cSep = "";
    foreach(var v in validator.AllowedValues)
    {
        cSep += v + ", ";
    }
    cSep = cSep.TrimEnd(' ').TrimEnd(',');
}


<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        This question has a set of allowed values
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <label for="name@(editorId)" translate>Name</label>
        <input type="text" id="name@(editorId)" value="@(validator.Name)" />
        <label for="mes@(editorId)" translate>Message</label>
        <input type="text" id="mes@(editorId)" value="@(validator.ErrorMessage)" />
        <label for="allowed@(editorId)" translate>Allowed Values (comma seperated)</label>
        <input type="text" id="allowed@(editorId)" value="@(cSep)" />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () {

                var item = $("#container@(uniqueId)").jsondatamodel('getItem', '@validator.Id');
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.ValidatorJSONDataConverter.NamePropertyName', Value: $("#name@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.MandatoryValidatorJSONDataConverter.ErrorMessagePropertyName', Value: $("#mes@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.AllowedValuesValidatorJSONDataConverter.AllowedValuesPropertyName', Value: $("#allowed@(editorId)").val() });

                $("#container@(uniqueId)").trigger('save', { model: $("#container@(uniqueId)").jsondatamodel('getModel'), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#container@(uniqueId)").trigger('delete', { id: '@Model.Validator.Id', container: $("#container@(uniqueId)") }); }
        };

        $("#container@(uniqueId)").displayoredit(options);

        $("#container@(uniqueId)").jsondatamodel('setModel', @Html.Raw(Json.Encode(JsonModel)));
        $("#container@(uniqueId)").jsondatamodel('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = validator.Id.ToString() })));
    });
</script>