﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.Repository.Questions.CalendarEventViewerQuestion)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th translate>User</th>
                    <th translate>Date</th>
                    <th translate>Title</th>
                    <th translate>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fred</td>
                    <td>01-Jan-2012</td>
                    <td>Birthday</td>
                    <td>Fred's birthday party</td>
                </tr>
            </tbody>
            <caption><p class="help-block" >@Html.Raw(question.Note)</p></caption>
        </table>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Calendar Event Viewer</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

    <legend translate>Calendar Event Viewer</legend>
                    <fieldset>
                        @Html.LabelFor(m => question.Name, new { translate = "" })
                        @Html.EditorFor(m => question.Name, null, "name")

                        @Html.LabelFor(m => question.Prompt, new { translate = "" })
                        @Html.EditorFor(m => question.Prompt, null, "prompt")     

                        @Html.LabelFor(m => question.StartDate, new { translate = "" })
                        @Html.EditorFor(m => question.StartDate, null, "startdate")  
                        
                        @Html.LabelFor(m => question.EndDate, new { translate = "" })
                        @Html.EditorFor(m => question.EndDate, null, "enddate")  
                        
                        @Html.LabelFor(m => question.UserId, new { translate = "" })
                        @Html.EditorFor(m => question.UserId, null, "userid")  
                    </fieldset>
                } 
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>