﻿@model ConceptCave.www.Areas.Designer.Models.ValidatorEditorModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Interfaces.IQuestion)Model.ResourceModel.Resource;
    var validator = (ConceptCave.Checklist.Validators.CategoryValidator)Model.Validator;

    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var JsonModel = new ConceptCave.www.Models.JSONDataModel() { RootId = question.Id.ToString() };
}

<register-translations>
    <at-least-count-questions-within-category-must-be-answered>At least {{ count }} questions within the category must be answered</at-least-count-questions-within-category-must-be-answered>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay"><span translate translate-compile="false" translate-values="{count: @(validator.MandatoryCount)}">at-least-count-questions-within-category-must-be-answered</span></div>
    <div id="@editorId" style="display:none" class="editoredit">
        <label for="name@(editorId)" translate>Name</label>
        <input type="text" id="name@(editorId)" value="@(validator.Name)" />
        <label for="cat@(editorId)" translate>Category</label>
        <input type="text" id="cat@(editorId)" value="@(validator.Category)" />
        <br />
        <label for="mand@(editorId)" translate>Question Count</label>
        <input type="text" id="mand@(editorId)" value="@(validator.MandatoryCount)" />
        <br />
        <label for="error@(editorId)" translate>Error Message</label>
        <input type="text" id="error@(editorId)" value="@(validator.ErrorMessage)" />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(document).off("change", "#presets@(uniqueId)");
        $(document).on("change","#presets@(uniqueId)", function(event, data) {
            $("#reg@(editorId)").val($("#presets@(uniqueId) option:selected").val());
        });

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () {

                var item = $("#container@(uniqueId)").jsondatamodel('getItem', '@validator.Id');
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.ValidatorJSONDataConverter.NamePropertyName', Value: $("#name@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.CategoryValidatorJSONDataConverter.CategoryPropertyName', Value: $("#cat@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.CategoryValidatorJSONDataConverter.MandatoryCountPropertyName', Value: $("#mand@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.CategoryValidatorJSONDataConverter.ErrorMessagePropertyName', Value: $("#error@(editorId)").val() });

                $("#container@(uniqueId)").trigger('save', { model: $("#container@(uniqueId)").jsondatamodel('getModel'), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#container@(uniqueId)").trigger('delete', { id: '@Model.Validator.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);

        $("#container@(uniqueId)").jsondatamodel('setModel', @Html.Raw(Json.Encode(JsonModel)));
        $("#container@(uniqueId)").jsondatamodel('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = validator.Id.ToString() })));
    });
</script>