﻿@model ConceptCave.www.Areas.Designer.Models.PresentMediaQuestionClientEventModel
@{
    var action = (ConceptCave.Checklist.Editor.ChangeVisibilityClientModelEventAction)Model.Event.Action;
    var uniqueId = Guid.NewGuid().ToString();
}

<register-translations>
    <name-will-be-visible-using-an-animation><span ng-bind="name"/> will be <span ng-bind="visible"/> <span ng-if="animation != 'None'">using a <span ng-bind="animation"/> animation.</span></name-will-be-visible-using-an-animation>
</register-translations>
@if (Model.IsEditing == false)
{
    if (string.IsNullOrEmpty(action.TargetName) == true)
    {
        <p translate>A target needs to be selected for this action</p>
    }
    else
    {
        <p translate ng-init="name='@action.TargetName'; visible='@(action.MakeVisible ? "shown" : "hidden")'; animation='@action.EnterAnimation.ToString()'">name-will-be-visible-using-an-animation</p>
    }
    return;
}

@using (Html.BeginForm("SaveEvent", "EditPresentMediaQuestionClientEvent", FormMethod.Post, new { id = "save" + uniqueId }))
{
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.AlternameHandlerFieldName, Model.AlternateHandler)
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.ContextFieldName, ConceptCave.www.ControllerWithAlternateHandler.ContextFieldsString(Model.ContextFields))
    @Html.Hidden("questionid", Model.Question.Id.ToString());
    @Html.Hidden("eventid", Model.Event.Id.ToString());
    @Html.Hidden("actiontype", "show");
                                                             
    @Html.LabelFor(m => m.Event.Start)
    @Html.EditorFor(m => m.Event.Start, null, "start")

    @Html.LabelFor(m => m.Event.End)
    @Html.EditorFor(m => m.Event.End, null, "end")

    @Html.LabelFor(m => action.TargetName, "Target Name")
    @Html.EditorFor(m => action.TargetName, null, "targetname")

    @Html.LabelFor(m => action.EnterAnimation, "Enter Animation")
    @Html.EditorFor(m => action.EnterAnimation, "Enum", "enteranimation")
    
    @Html.LabelFor(m => action.LeaveAnimation, "Leave Animation")
    @Html.EditorFor(m => action.LeaveAnimation, "Enum", "leaveanimation")
    
    @Html.LabelFor(m => action.MakeVisible, "Make Visible")
    @Html.EditorFor(m => action.MakeVisible, null, "makevisible")
}
