﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.BusinessLogic.Questions.ClaimHierarchyBucketTasksQuestion)Model.Resource;

    string defaultAnswer = (string)question.DefaultAnswer;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <p>This question type allows a user to claim tasks from buckets in hierarchies they are in that are flagged as claimable</p>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Claim Hierarchy Bucket Tasks Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)
  
                <fieldset>
                    @Html.Partial("QuestionPropertyEditor", Model)

                    @Html.LabelFor(m => question.HideWhenTasksPresent, new { translate = "" })
                    @Html.EditorFor(m => question.HideWhenTasksPresent, null, "hidewhentaskspresent")

                    @Html.LabelFor(m => question.HideShowTaskList, new { translate = "" })
                    @Html.EditorFor(m => question.HideShowTaskList, null, "hideshowtasklist")

                    @Html.LabelFor(m => question.UseCompactUI, new { translate = "" })
                    @Html.EditorFor(m => question.UseCompactUI, null, "usecompactui")

                    @Html.LabelFor(m => question.AllowAssignmentToOtherUsers, new { translate = "" })
                    @Html.EditorFor(m => question.AllowAssignmentToOtherUsers, null, "allowassignmenttootherusers")

                    @Html.LabelFor(m => question.ListenTo, new { translate = "" })
                    @Html.EditorFor(m => question.ListenTo, null, "listento")

                    @Html.LabelFor(m => question.MaximumUsersPerLetterBucket, new { translate = "" })
                    @Html.EditorFor(m => question.MaximumUsersPerLetterBucket, null, "MaximumUsersPerLetterBucket")
                </fieldset>
                } 
	        </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>


