﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.BusinessLogic.Questions.DataSourceQuestion)Model.Resource;

    var localurl = ConceptCave.www.Services.ServerUrlParser.GetODataUrl();
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        Data source question
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3>DataSource Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab">General</a></li>
            <li><a href="#tabs-Feeds@(uniqueId)" data-toggle="tab">Feeds</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                        @Html.LabelFor(m => question.ShowUserInterface)
                        @Html.EditorFor(m => question.ShowUserInterface, null, "showuserinterface")
                    </fieldset>
                    
                    <input id="feeddata" name="feeds" type="hidden" value="@question.FeedsToJson(null).ToString()" />
                }
            </div>
            <div class="tab-pane" id="tabs-Feeds@(uniqueId)">
                <div>
                    <datasource-question-editor formelement="feeddata" localurl="@(localurl)"></datasource-question-editor>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () {
                $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>


