﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var dateQuestion = (ConceptCave.Checklist.Editor.DateTimeQuestion)Model.Resource;
}
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@dateQuestion.Prompt</h3>
        <input type="text" id="prompt@(uniqueId)" disabled="true" class="span8" />
        <span class="help-block">@dateQuestion.Note</span>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Date Time Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate translate>General</a></li>
            <li><a href="#tabs-Validators@(uniqueId)" data-toggle="tab">Rules</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                        @Html.LabelFor(m => dateQuestion.AllowTimeEntry, new { translate = "" })
                        @Html.EditorFor(m => dateQuestion.AllowTimeEntry, null, "allowtimeentry")

                        @Html.LabelFor(m => dateQuestion.UpdateDataSources, new { translate = "" })
                        @Html.EditorFor(m => dateQuestion.UpdateDataSources, null, "updatedatasources")

                    </fieldset>
                } 
	        </div>
	        <div class="tab-pane" id="tabs-Validators@(uniqueId)">
                @Html.Partial("RenderQuestionValidators", Model)
	        </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@dateQuestion.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>