﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var action = (ConceptCave.Checklist.Facilities.eWayPaymentFacility)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <label for="reference@(uniqueId)" class="above" translate>Use Sandbox</label>
        <input id="reference@(uniqueId)" type="checkbox" disabled="true" checked="@action.UseSandbox" />
        
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th translate>
                        Name
                    </th>
                    <th translate>
                        JSON
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in action.Templates)
                {
                    <tr>
                        <td>@template.Name</td>
                        <td>@template.JSON</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        @using (Html.BeginForm("Save", "EditEWayPaymentFacility", FormMethod.Post, new { id = uniqueId }))
        {
            @Html.Partial("ResourceCommonFormFields", Model)
            @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.ResourceNameFieldName, Model.Resource.Name)
        <fieldset>
            @Html.Hidden("facilityId", Model.Resource.Id)
            @Html.LabelFor(m => action.UseSandbox, new { translate = "" })
            @Html.EditorFor(m => action.UseSandbox, null, "useSandbox")
        </fieldset>
        }
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th translate>
                        Name
                    </th>
                    <th translate>
                        JSON
                    </th>
                    <th class="action add"><button id="addtemplate@(uniqueId)" type="button" class="btn btn-success"><i class="icon-plus-sign icon-white"></i></button></th>
                </tr>
            </thead>
            <tbody id="tabletemplates@(uniqueId)">
                @foreach (var template in action.Templates)
                {
                    <tr id="@template.Id">
                        @Html.Partial("eWayPaymentActionTemplateItem", template)
                    </tr>
                }
            </tbody>
        </table>
        </div>

    @using (Html.BeginForm("New", "EditEWayPaymentFacility", FormMethod.Post, new { id = "addtemplateformid" + uniqueId }))
    {
        @Html.Partial("ResourceCommonFormFields", Model)
        @Html.Hidden("facilityId", Model.Resource.Id);
    }

    @using (Html.BeginForm("Index", "EditEWayPaymentFacility", FormMethod.Post, new { id = "edittemplateformid" + uniqueId }))
    {
        @Html.Partial("ResourceCommonFormFields", Model)
        @Html.Hidden("facilityId", Model.Resource.Id);
        @Html.Hidden("templateId", "", new { id = "edittemplateformid_templateid" + uniqueId} )                                            
    }

    @using (Html.BeginForm("RemoveTemplate", "EditEWayPaymentFacility", FormMethod.Post, new { id = "removetemplateformid" + uniqueId }))
    {
        @Html.Partial("ResourceCommonFormFields", Model)
        @Html.Hidden("facilityId", Model.Resource.Id);
        @Html.Hidden("templateId", "", new { id = "removetemplateformid_templateid" + uniqueId} )                                            
    }

    @using (Html.BeginForm("Edit", "EditEWayPaymentFacility", FormMethod.Post, new { id = "addtemplateformid" + uniqueId }))
    {
        @Html.Partial("ResourceCommonFormFields", Model)
        @Html.Hidden("facilityId", Model.Resource.Id);
    }
</div>

<div class="modal hide fade" id="edittemplate@(uniqueId)">
    <div class="modal-header">
        <button type="button" class="close dismiss">×</button>
        <h3 translate>eWay Payment Template</h3>
    </div>
    <div class="modal-body" id="edittemplatebody@(uniqueId)">

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" translate>Save</a>
        <a href="#" class="btn dismiss" translate>Close</a>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@(uniqueId)"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () {
                $("#container@(uniqueId)").trigger('delete', { id: '@(action.Id)', container: $("#container@(uniqueId)") });
            }
        };

        $("#container@(uniqueId)").displayoredit(options);

        var templateeditfunctionname = function (form, isNew) {
            $("#edittemplate@(uniqueId)").data("isNew", isNew);
            $("#edittemplate@(uniqueId)").modal();

            CurrentDesignerManager.submitForm(form, $("#edittemplatebody@(uniqueId)"));
        };

        $("#addtemplate@(uniqueId)").click(function (event) {
            templateeditfunctionname($("#addtemplateformid@(uniqueId)"), true);

            return false;
        });

        $("#edittemplate@(uniqueId) .dismiss").click(function () {
            $("#edittemplate@(uniqueId)").modal('hide');
        });

        $("#edittemplate@(uniqueId) .btn-primary").click(function () {
            var select = "#edittemplatebody@(uniqueId) form";

            CurrentDesignerManager.submitForm($(select)[0], function (responseText) {
                if ($("#edittemplate@(uniqueId)").data("isNew") == true) {
                    $('<tr id="' + CurrentDialogManager.Context + '"></tr>').appendTo("#tabletemplates@(uniqueId)");
                }

                var element = $("#" + CurrentDialogManager.Context);

                $("#edittemplate@(uniqueId)").modal('hide');

                element.load('@Url.Content("~/designer/EditEwayPaymentFacility/GetTemplateItem?facilityId=" + Model.Resource.Id.ToString())&templateid=' + CurrentDialogManager.Context + '&@ConceptCave.www.ControllerWithAlternateHandler.AlternameHandlerFieldName=@Model.AlternateHandler&@ConceptCave.www.ControllerWithAlternateHandler.ContextFieldName=@ConceptCave.www.ControllerWithAlternateHandler.ContextFieldsString(Model.ContextFields)');
            });
        });

        $(document).off('templateedit', "#tabletemplates@(uniqueId)");
        $(document).on('templateedit', "#tabletemplates@(uniqueId)", function (event, data) {
            $("#edittemplateformid_templateid@(uniqueId)").val(data.selectedid);
            templateeditfunctionname($("#edittemplateformid@(uniqueId)"), false);

            return false;
        });

        $(document).off('templatedeleted', "#tabletemplates@(uniqueId)");
        $(document).on('templatedeleted', "#tabletemplates@(uniqueId)", function (event, data) {
            if (confirm("Are you sure you want to delete this template") == false) {
                return;
            }

            $("#removetemplateformid_templateid@(uniqueId)").val(data.selectedid);

            CurrentDesignerManager.submitForm($("#removetemplateformid@(uniqueId)"), function (responseText, angularise) {
                $(data.element).effect("fade", null, "normal", function () {
                    var jq = $(responseText);
                    $(data.element).empty();
                    $(data.element).append(jq);
                    angularise(jq);
                });
            });
        });

        $(document).off("servertemplatedeleted", "#tabletemplates@(uniqueId)");
        $(document).on("servertemplatedeleted", "#tabletemplates@(uniqueId)", function (event, data) {
            $("#" + data.selectedid).remove();
        });
    });
</script>


