﻿@model ConceptCave.www.Areas.Designer.Models.ValidatorEditorModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Interfaces.IQuestion)Model.ResourceModel.Resource;
    var validator = (ConceptCave.Checklist.Validators.GeoCodeDistanceRule)Model.Validator;

    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var JsonModel = new ConceptCave.www.Models.JSONDataModel() { RootId = question.Id.ToString() };
}

<register-translations> 
    <the-coordinates-of-user-when-question-answered-must-be-within-meters-of-specified-location>The coordinates of the user when the question is answered must be within <span ng-bind="metres"/>m of <span ng-if="useLocation" ng-bind="location"/><span ng-if="!useLocation">the selected store</span></the-coordinates-of-user-when-question-answered-must-be-within-meters-of-specified-location>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay"><span translate ng-init="metres = @(validator.Radius); useLocation = @(validator.UseSpecifiedLocation ? "true" : "false"); location = '@(validator.SpecifiedLocation == null ? "" : validator.SpecifiedLocation.ToString())'">the-coordinates-of-user-when-question-answered-must-be-within-meters-of-specified-location</span></div>
    <div id="@editorId" style="display:none" class="editoredit">
        <label for="useSpecified@(editorId)" translate>Use Specified Location</label>
        <input type="checkbox" id="useSpecified@(editorId)" @(validator.UseSpecifiedLocation == true ? "checked" : "") />
        <label for="lat@(editorId)" translate>Latitude</label>
        <input type="text" id="lat@(editorId)" value="@(validator.SpecifiedLocation == null ? "" : validator.SpecifiedLocation.Latitude.ToString())" />
        <label for="lng@(editorId)" translate>Longitude</label>
        <input type="text" id="lng@(editorId)" value="@(validator.SpecifiedLocation == null ? "" : validator.SpecifiedLocation.Longitude.ToString())" />
        <label class="above" for="radius@(editorId)" translate>Radius</label>
        <input type="text" id="radius@(editorId)" value="@validator.Radius" />
        <label for="mand@(editorId)" translate>Mandatory</label>
        <input type="checkbox" id="mand@(editorId)" @(validator.EnforceMandatory == true ? "checked" : "") />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () {
                
                var item = $("#container@(uniqueId)").jsondatamodel('getItem', '@validator.Id');

                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.GeoCodeDistanceRuleJSONDataConverter.UseSpecifiedLocationPropertyName', Value: $("#useSpecified@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.GeoCodeDistanceRuleJSONDataConverter.SpecifiedLatitudePropertyName', Value: $("#lat@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.GeoCodeDistanceRuleJSONDataConverter.SpecifiedLongitudePropertyName', Value: $("#lng@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.GeoCodeDistanceRuleJSONDataConverter.RadiusPropertyName', Value: $("#radius@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.GeoCodeDistanceRuleJSONDataConverter.EnforceMandatoryPropertyName', Value: $("#mand@(editorId)").val() });

                $("#container@(uniqueId)").trigger('save', { model: $("#container@(uniqueId)").jsondatamodel('getModel'), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#container@(uniqueId)").trigger('delete', { id: '@Model.Validator.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);

        $("#container@(uniqueId)").jsondatamodel('setModel', @Html.Raw(Json.Encode(JsonModel)));
        $("#container@(uniqueId)").jsondatamodel('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = validator.Id.ToString() })));
    });
</script>