﻿@using ConceptCave.BusinessLogic.Questions
@using ConceptCave.Checklist.Editor
@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var question = (MessagingViewQuestion)Model.Resource;
    var CCUserModel = new ConceptCave.www.Models.SelectMultipleUsersModel();
    foreach (var existingUser in question.UsersToCC)
    {
        CCUserModel.Items.Add(new ConceptCave.www.Models.SelectMultipleUsersModelItem()
        {
            Id = existingUser,
            Name = ConceptCave.Repository.MembershipRepository.GetById(existingUser).Name
        });
    }
    
    ViewBag.UserSelectLabel = "Recipient Users";
    ViewBag.UserSelectHeading = "Selected Users";
}


<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay" style="min-height:15px">
        <h3 translate>Messaging Inbox</h3>
    </div>
    <div id="@editorId" style="display:none">
        <div class="page-header">
            <h3 translate>Messaging Inbox</h3>
        </div>
        @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
        {
            @Html.Partial("ResourceCommonFormFields", Model)
            <fieldset>
                @Html.Partial("QuestionPropertyEditor", Model)
            </fieldset>
            <fieldset>
                @Html.LabelFor(m => question.UsersToCC, "{{ 'Users to copy into all messages (via email) sent with this question' | translate }}")
                <div id="CCUserContainer@(uniqueId)">
                    @Html.Partial("SelectMultipleUsers", CCUserModel)
                </div>
            </fieldset>
            <fieldset id="CCfields@(uniqueId)">
                @foreach (var u in CCUserModel.Items)
                {
                    <input type="hidden" name="UsersToCC" id="hiddeninput-@(u.Id)@(uniqueId)" value="@(u.Id)" />
                }
            </fieldset>
        } 
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);

        //$('#EmailToCCTagElement').tagsInput();
        var ccfields = $('#CCfields@(uniqueId)');
        var cccontainer = $('#CCUserContainer@(uniqueId)');
        $(document).on('itemadded', '#CCUserContainer@(uniqueId)', function (ev, data) {
            data.additem(data.defaultContent);
            var inputId = 'hiddeninput-' + data.userid + '@uniqueId';
            var newinput = $('<input type="hidden" name="UsersToCC" id="' + inputId + '" value="' + data.userid
                + '" />');
            $(ccfields).append(newinput);
        });
        $(document).on('itemdeleted', '#CCUserContainer@(uniqueId)', function (ev, data) {
            $('#' + data.containerId).remove();
            $('#hiddeninput-' + data.userid + '@uniqueId').remove();
        });
    });
</script>