﻿@model ConceptCave.www.Areas.Designer.Models.ValidatorEditorModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Interfaces.IQuestion)Model.ResourceModel.Resource;
    var validator = (ConceptCave.Checklist.Validators.MinMaxLengthValidator)Model.Validator;

    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var JsonModel = new ConceptCave.www.Models.JSONDataModel() { RootId = question.Id.ToString() };
}

<register-translations>
    <value-must-be-at-least-value-characters-long>Value must be at least {{ min }} characters long</value-must-be-at-least-value-characters-long>
    <value-must-be-less-than-value-characters-long>Value must be less than {{ max }} characters long</value-must-be-less-than-value-characters-long>
    <value-must-be-between-min-and-max-characters-long>Value must be at least {{ min }} and no greater than {{ max }} characters long</value-must-be-between-min-and-max-characters-long>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        @if (validator.MinLength.HasValue && validator.MaxLength.HasValue == false)
        { 
            <text><span translate translate-compile="false" translate-values="{min: @(validator.MinLength.Value)}">value-must-be-at-least-value-characters-long</span></text>
        }
        else if (validator.MinLength.HasValue == false && validator.MaxLength.HasValue)
        { 
            <text><span translate translate-compile="false" translate-values="{max: @(validator.MaxLength.Value)}">value-must-be-less-than-value-characters-long</span></text>
        }
        else if (validator.MinLength.HasValue == false && validator.MaxLength.HasValue == false)
        {
            <text><span translate>There are currently no limits set on the length of the value that can be entered</span></text>
        }
        else
        { 
            <text><span translate translate-compile="false" translate-values="{min: @(validator.MinLength.Value), max: @(validator.MaxLength.Value) }">value-must-be-between-min-and-max-characters-long</span></text>
        }
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <label for="name@(editorId)" translate>Name</label>
        <input type="text" id="name@(editorId)" value="@(validator.Name)" />
        <label class="above" for="min@(editorId)" translate>Minimum Length</label>
        <input type="text" id="min@(editorId)" value="@validator.MinLength" />
        <label class="above" for="max@(editorId)" translate>Maximum Length</label>
        <input type="text" id="max@(editorId)" value="@validator.MaxLength" />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () {
                var item = $("#container@(uniqueId)").jsondatamodel('getItem', '@validator.Id');

                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.ValidatorJSONDataConverter.NamePropertyName', Value: $("#name@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.MinMaxLengthValidatorJSONDataConverter.MinimumPropertyName', Value: $("#min@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.MinMaxLengthValidatorJSONDataConverter.MaximumPropertyName', Value: $("#max@(editorId)").val() });

                $("#container@(uniqueId)").trigger('save', { model: $("#container@(uniqueId)").jsondatamodel('getModel'), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#container@(uniqueId)").trigger('delete', { id: '@Model.Validator.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);

        $("#container@(uniqueId)").jsondatamodel('setModel', @Html.Raw(Json.Encode(JsonModel)));
        $("#container@(uniqueId)").jsondatamodel('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = validator.Id.ToString() })));
    });
</script>