﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var numberofchoicescheck = "numberofchoicescheck" + uniqueId;
    var numberofchoicesId = "numberofchoices" + uniqueId;
    var numberofchoicesallowedId = "numberofchoicesallowed" + uniqueId;
    var choicelistId = "choicelist" + uniqueId;
    var editmultichoiceoptionformid = "editmultichoiceoptionForm" + uniqueId;
    var addmultichoiceoptionformid = "addmultichoiceoptionForm" + uniqueId;
    var removemultichoiceoptionformid = "removemultichoiceoptionForm" + uniqueId;    
    var addmultichoiceoptionid = "addmultichoiceoption" + uniqueId;
    var multichoiceoptionfunctionname = "server" + uniqueId;

    var question = (ConceptCave.Checklist.Editor.MultiChoiceQuestion)Model.Resource;
}

<register-translations>
    <count-choices-can-be-selected-out-of-the-set-of-options>{{ count }} choices can be selected out of the set of options</count-choices-can-be-selected-out-of-the-set-of-options>
</register-translations>
<div id="container@(uniqueId)">
    <div id="display@(uniqueId)" class="editordisplay">
        <h3>@question.Prompt</h3>
        @{
            if (question.TemplatePublishedResourceId.HasValue && question.TemplateQuestionId.HasValue)
            {
                <p translate>This is a templated question</p>
            }
            else if (question.List.Items.Count == 0)
            {
                <p translate>There are no options currently setup for this question</p>
            }
            else
            {
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th translate>Display</th>
                            <th translate>Value</th>
                            <th translate>Score</th>
                            <th translate>Pass/Fail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var choice in question.List.Items)
                        {
                            <tr>
                                <td><input type="@(question.AllowMultiSelect ? "checkbox" : "radio")" name="choice@(uniqueId)"/>&nbsp;@choice.Display</td>
                                <td>@choice.Answer</td>
                                <td>@choice.Score</td>
                                <td translate>                                
                                @if (choice.PassFail.HasValue)
                                {
                                    if (choice.PassFail.Value)
                                    {
                                        @:<text >Pass</text>
                                    }
                                    else
                                    {
                                        @:<text >Fail</text>
                                    }
                                }
                                else
                                {
                                    @:<text >NA</text>
                                }</td>
                            </tr>
                        }
                    </tbody>
                </table>

                if (string.IsNullOrEmpty(question.Note) == false)
                {
                    <span class="help-block">@question.Note</span>
                }
                if (question.AllowMultiSelect == false)
                {
                    <span class="help-block" translate>Only a single answer may be selected for this question</span>
                }
                else
                {
                    <span class="help-block" translate translate-compile="false" translate-values="{count: @question.NumberOfChoicesAllowed}">count-choices-can-be-selected-out-of-the-set-of-options</span>
                }
            }
}
    </div>
        <div id="editor@(uniqueId)" style="display:none" class="editoredit">
            <div class="page-header">
                <h3 translate>Multichoice Question</h3>
            </div>
            <ul class="nav nav-tabs" id="tabs@(uniqueId)">
                <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
                <li><a href="#tabs-Validators@(uniqueId)" data-toggle="tab" translate>Rules</a></li>
                <li><a href="#tabs-Template@(uniqueId)" data-toggle="tab" translate>Template</a></li>
            </ul>
            <div class="tab-content">
	            <div id="tabs-General@(uniqueId)" class="tab-pane active">
                    @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                    {
                        @Html.Partial("ResourceCommonFormFields", Model)

                        <fieldset>
                            <div class="row-fluid">
                                <div class="span4">
                                    @Html.Partial("QuestionPropertyEditor", Model)

                                    @Html.LabelFor(m => question.AllowMultiSelect, new { translate = "" })
                                    @Html.CheckBoxFor(m => question.AllowMultiSelect, new { id = numberofchoicescheck })
                                </div>
                                <div class="span8">
                                    <strong translate>Options</strong>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th translate>Display</th>
                                                <th translate translate translate>Value</th>
                                                <th>Score</th>
                                                <th>Pass/Fail</th>
                                                <th class="action add"><button id="@addmultichoiceoptionid" type="button" class="btn btn-success"><i class="icon-plus-sign icon-white"></i></button></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableoptions@(uniqueId)">
                                            @foreach (var choice in question.List.Items)
                                            {
                                            <tr id="@choice.Id">
                                                @Html.Partial("MultiChoiceQuestionOptionListItem", choice)
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            @Html.LabelFor(m => question.RandomizeChoices, new { translate = "" })
                            @Html.EditorFor(m => question.RandomizeChoices, "randomize")

                            @Html.LabelFor(m => question.Format, new { translate = "" })
                            @Html.EditorFor(m => question.Format, "enum", "format")
   
                            <span id="@numberofchoicesId" style="display:none">
                                @Html.LabelFor(m => question.NumberOfChoicesAllowed, new { translate = "" })
                                @Html.EditorFor(m => question.NumberOfChoicesAllowed, null, "numberofchoicesallowed")

                                @Html.LabelFor(m => question.NumberOfAnswersMustPass, new { translate = "" })
                                @Html.EditorFor(m => question.NumberOfAnswersMustPass, null, "numberofanswersmustpass")
                            </span>
                        </fieldset>
                    }    
    
                    @using (Html.BeginForm("New", "EditMultiChoiceQuestionOption", FormMethod.Post, new { id = addmultichoiceoptionformid }))
                    {
                        @Html.Partial("ResourceCommonFormFields", Model)
                        @Html.Hidden("questionid", @Model.Resource.Id.ToString());
                    }

                    @using (Html.BeginForm("Index", "EditMultiChoiceQuestionOption", FormMethod.Post, new { id = editmultichoiceoptionformid }))
                    {
                        @Html.Partial("ResourceCommonFormFields", Model)
                        @Html.Hidden("questionid", @Model.Resource.Id.ToString())
                        @Html.Hidden("id")
                    }

                    @using (Html.BeginForm("Remove", "EditMultiChoiceQuestionOption", FormMethod.Post, new { id = removemultichoiceoptionformid }))
                    {
                        @Html.Partial("ResourceCommonFormFields", Model)
                        @Html.Hidden("questionid", @Model.Resource.Id.ToString())
                        @Html.Hidden("id", "")
                    }
	            </div>
	            <div id="tabs-Validators@(uniqueId)" class="tab-pane">
                    @Html.Partial("RenderQuestionValidators", Model)
	            </div>
                <div id="tabs-Template@(uniqueId)" class="tab-pane">
                    @{ViewBag.QuestionTypeName = Model.DesignerType.FriendlyName;}
                    @Html.Partial("RenderQuestionTemplates", Model)
                </div>
        </div>
    </div>

    <div class="modal hide fade" id="editoptions@(uniqueId)">
        <div class="modal-header">
            <button type="button" class="close dismiss">×</button>
            <h3 translate>Multichoice Option</h3>
        </div>
        <div class="modal-body" id="editoptionsbody@(uniqueId)">
    
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" translate>Save</a>
            <a href="#" class="btn dismiss" translate>Close</a>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#display@(uniqueId)"),
            editElement: $("#editor@(uniqueId)"),
            saveCallback: function () {
                //EVIL EVIL EVIL:
                //Copy the validator form fields out of RenderQuestionTemplates into the main form
                //(delete old copies first)
                $('.evil-field-copy').remove();
                $('#tabs-Template@(uniqueId) input')
                    .clone().css('display', 'none')
                    .removeAttr('id')
                    .addClass('evil-field-copy')
                    .appendTo($("#@uniqueId"));
                //Select values don't actually copy properley in this process
                $('#tabs-Template@(uniqueId) select').each(function () {
                    var cloneEl = $(this).clone().css('display', 'none')
                                    .removeAttr('id')
                                    .addClass('evil-field-copy')
                                    .appendTo($("#@uniqueId"));
                    $(cloneEl).val($(this).val());
                });
                $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);

        $("#@choicelistId").selectable({
            stop: function () {
                var result = [];
                $(".ui-selected", this).each(function () {
                    result.push($(this).attr('id'));
                });

                $("#@choicelistId").data("selections", result);
            }
        });

        if ($("#@numberofchoicescheck").prop("checked") == true) {
            $("#@numberofchoicesId").fadeIn("fast");
        }

        $(document).off("click", "#@numberofchoicescheck");
        $(document).on("click", "#@numberofchoicescheck", function (event) {
            if ($("#@numberofchoicescheck").prop("checked") == true) {
                $("#@numberofchoicesId").fadeIn("slow");
            }
            else {
                $("#@numberofchoicesId").fadeOut("slow");
            }
        });

        $("#editoptions@(uniqueId) .dismiss").click(function () {
            $("#editoptions@(uniqueId)").modal('hide');
        });

        $("#editoptions@(uniqueId) .btn-primary").click(function () {
            var select = "#editoptionsbody@(uniqueId) form";

            CurrentDesignerManager.submitForm($(select)[0], function (responseText) {
                if ($("#@choicelistId").data("selections") == undefined) {
                    $('<tr id="' + CurrentDialogManager.Context + '"></tr>').appendTo("#tableoptions@(uniqueId)");
                }

                var element = $("#" + CurrentDialogManager.Context);

                $("#editoptions@(uniqueId)").modal('hide');

                element.load('@Url.Content("~/designer/EditMultiChoiceQuestionOption/GetListItem?questionId=" + Model.Resource.Id.ToString())&id=' + CurrentDialogManager.Context + '&@ConceptCave.www.ControllerWithAlternateHandler.AlternameHandlerFieldName=@Model.AlternateHandler&@ConceptCave.www.ControllerWithAlternateHandler.ContextFieldName=@ConceptCave.www.ControllerWithAlternateHandler.ContextFieldsString(Model.ContextFields)');
            });
        });

        var multichoiceoptionfunctionname = function (form) {
            $("#editoptions@(uniqueId)").modal();

            CurrentDesignerManager.submitForm(form, "#editoptionsbody@(uniqueId)");
        };

        $("#@addmultichoiceoptionid").click(function (event) {
            $("#@choicelistId").removeData("selections");
            multichoiceoptionfunctionname($("#@addmultichoiceoptionformid"));

            return false;
        });

        // hook up to any of the edit buttons under our choice list and listen for their click events
        $(document).off("optionedit", "#tableoptions@(uniqueId)"); // remove anything previously hooked up from other ajax calls
        $(document).on("optionedit", "#tableoptions@(uniqueId)", function (event, data) {
            var optionId = data.selectedid;
            $("#@(editmultichoiceoptionformid) > [name='id']").val(optionId);
            $("#@choicelistId").data("selections", optionId);

            multichoiceoptionfunctionname($("#@editmultichoiceoptionformid"));
        });

        $(document).off("optiondeleted", "#tableoptions@(uniqueId)");
        $(document).on("optiondeleted", "#tableoptions@(uniqueId)", function (event, data) {
            if (confirm("Are you sure you want to delete this option") == false) {
                return;
            }

            var optionId = data.selectedid;

            $("#@removemultichoiceoptionformid > [name='id']").val(optionId);

            CurrentDesignerManager.submitForm($("#@removemultichoiceoptionformid"), function (responseText, angularise) {
                $("#" + optionId).effect("fade", null, "normal", function () {
                    $("#" + optionId).empty();
                    $("#" + optionId).append(responseText);
                    angularise($("#" + optionId));
                });
            });
        });

        $(document).off("serveroptiondeleted", "#tableoptions@(uniqueId)");
        $(document).on("serveroptiondeleted", "#tableoptions@(uniqueId)", function (event, data) {
            $("#" + data.selectedid).remove();
        });
    });
</script>



