﻿@model ConceptCave.Checklist.Interfaces.IMultiChoiceItem

@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();
    
    if(ViewBag.ActionTaken != null && ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
    {
        <div id="@uniqueId" style="display:none">&nbsp;</div>
        <script type="text/javascript">
            $(function () {
                $("#@uniqueId").trigger("serveroptiondeleted", {selectedid: '@Model.Id'});
            });
        </script>
        
        return;   
    }
}

<td>
@Model.Display
</td>
<td>
@Model.Answer
</td>
<td>
@Model.Score
</td>
<td translate>
@if (Model.PassFail.HasValue)
{
    if (Model.PassFail.Value)
    {
        <text >Pass</text>
    }
    else
    {
        <text >Fail</text>
    }
}
else
{
    <text>NA</text>
}
</td>
<td>
    <button id="@string.Format("edit{0}", Model.Id)" type="button" class="btn {selectedid:'@Model.Id'}"><i class="icon-edit"></i></button>
    <button id="@string.Format("remove{0}", Model.Id)" type="button" class="btn btn-danger {selectedid: '@Model.Id'}"><i class="icon-trash icon-white"></i></button>
</td>
<script type="text/javascript">
    $(function () {
        $(document).off("click", "#@string.Format("edit{0}", Model.Id)");
        $(document).on('click', "#@string.Format("edit{0}", Model.Id)", function(event) {
            $(event.currentTarget).trigger("optionedit", $(event.currentTarget).metadata());
        });

        $(document).off("click", "#@string.Format("remove{0}", Model.Id)");
        $(document).on('click', "#@string.Format("remove{0}", Model.Id)", function(event) {
            $(event.currentTarget).trigger("optiondeleted", $(event.currentTarget).metadata());
        });
    });
</script>
