﻿@model object
@{
    var uniqueId = Guid.NewGuid().ToString();

    var displayId = "display" + uniqueId;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="alert alert-success" translate>
    This facility does not have any visual properties to set for it and can only be referenced in Lingo script.
    </div>
</div>
