﻿@model ConceptCave.www.Areas.Designer.Models.ValidatorEditorModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Interfaces.IQuestion)Model.ResourceModel.Resource;
    var validator = (ConceptCave.Checklist.Validators.NumberRangeValidator)Model.Validator;

    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var JsonModel = new ConceptCave.www.Models.JSONDataModel() { RootId = question.Id.ToString() };
    
    var minimumValue = validator.MinimumValue.HasValue ? validator.MinimumValue.ToString() : "null";
    var maximumValue = validator.MaximumValue.HasValue ? validator.MaximumValue.ToString() : "null";
}

<register-translations>
    <value-must-be-between-min-and-max>Value must be between <span ng-if="minimum != null" ng-bind="minimum"/><span ng-if="minimum == null">anything</span> and <span ng-if="maximum != null" ng-bind="maximum" /><span ng-if="maximum == null">anything</span></value-must-be-between-min-and-max>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay"><span translate ng-init="minimum=@minimumValue; maximum=@maximumValue" >value-must-be-between-min-and-max</span></div>
    <div id="@editorId" style="display:none" class="editoredit">
        <label for="name@(editorId)" translate>Name</label>
        <input type="text" id="name@(editorId)" value="@(validator.Name)" />
        <label class="above" for="min@(editorId)" translate>Minimum</label>
        <input type="text" id="min@(editorId)" value="@validator.MinimumValue" />
        <label class="above" for="max@(editorId)" translate>Maximum</label>
        <input type="text" id="max@(editorId)" value="@validator.MaximumValue" />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () {
                var item = $("#container@(uniqueId)").jsondatamodel('getItem', '@validator.Id');
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.ValidatorJSONDataConverter.NamePropertyName', Value: $("#name@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.NumberRangeValidatorJSONDataConverter.MinimumPropertyName', Value: $("#min@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.NumberRangeValidatorJSONDataConverter.MaximumPropertyName', Value: $("#max@(editorId)").val() });

                $("#container@(uniqueId)").trigger('save', { model: $("#container@(uniqueId)").jsondatamodel('getModel'), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#container@(uniqueId)").trigger('delete', { id: '@Model.Validator.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);

        $("#container@(uniqueId)").jsondatamodel('setModel', @Html.Raw(Json.Encode(JsonModel)));
        $("#container@(uniqueId)").jsondatamodel('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = validator.Id.ToString() })));
    });
</script>