﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.Checklist.Editor.NumberQuestion)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <input type="text" id="prompt@(uniqueId)" disabled="true" />
        <span class="help-block">@question.Note</span>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Number Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
            <li><a href="#tabs-Validators@(uniqueId)" data-toggle="tab" translate>Rules</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

                    <legend translate>Number Question</legend>
    <fieldset>
        @Html.Partial("QuestionPropertyEditor", Model)

        @Html.LabelFor(m => question.DecimalPlaces, new { translate = "" })
        @Html.EditorFor(m => question.DecimalPlaces, null, "decimalplaces", new { htmlAttributes = new { min = 0 } })

        @Html.LabelFor(m => question.MaxValue, new { translate = "" })
        @Html.EditorFor(m => question.MaxValue, null, "maxvalue")

        @Html.LabelFor(m => question.MinValue, new { translate = "" })
        @Html.EditorFor(m => question.MinValue, null, "minvalue")

        @Html.LabelFor(m => question.ShowKeypad, new { translate = "" })
        @Html.EditorFor(m => question.ShowKeypad, null, "showkeypad")

        @Html.LabelFor(m => question.UseDecimalKeypad, new { translate = "" })
        @Html.EditorFor(m => question.UseDecimalKeypad, null, "usedecimalkeypad")
    </fieldset>
                } 
            </div>
	        <div class="tab-pane" id="tabs-Validators@(uniqueId)">
                @Html.Partial("RenderQuestionValidators", Model)
	        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>