﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.BusinessLogic.Questions.OrderQuestion)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <p>This question supports placing orders against facility structures</p>
        <span class="help-block">@question.Note</span>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Order Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
            <li><a href="#tabs-Validators@(uniqueId)" data-toggle="tab" translate>Rules</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                        @Html.LabelFor(m => question.AutoCreateOrderOnFinish, new { translate = "" })
                        @Html.EditorFor(m => question.AutoCreateOrderOnFinish, null, "autocreateorder")

                        @Html.LabelFor(m => question.UI, new { translate = "" })
                        @Html.EditorFor(m => question.UI, "enum", "ui")

                        @Html.LabelFor(m => question.ShowSubTotals, new { translate = "" })
                        @Html.EditorFor(m => question.ShowSubTotals, null, "showsubtotals")

                        @Html.LabelFor(m => question.ShowGrandTotal, new { translate = "" })
                        @Html.EditorFor(m => question.ShowGrandTotal, null, "showgrandtotal")

                        @Html.LabelFor(m => question.ShowCatalogDescriptions, new { translate = "" })
                        @Html.EditorFor(m => question.ShowCatalogDescriptions, null, "showcatalogdescriptions")

                        @Html.LabelFor(m => question.ProductTitleText, new { translate = "" })
                        @Html.EditorFor(m => question.ProductTitleText, null, "producttitletext")

                        @Html.LabelFor(m => question.PriceTitleText, new { translate = "" })
                        @Html.EditorFor(m => question.PriceTitleText, null, "pricetitletext")

                        @Html.LabelFor(m => question.MinStockTitleText, new { translate = "" })
                        @Html.EditorFor(m => question.MinStockTitleText, null, "minstocktitletext")

                        @Html.LabelFor(m => question.StockTitleText, new { translate = "" })
                        @Html.EditorFor(m => question.StockTitleText, null, "stocktitletext")

                        @Html.LabelFor(m => question.QuantityTitleText, new { translate = "" })
                        @Html.EditorFor(m => question.QuantityTitleText, null, "quantitytitletext")

                        @Html.LabelFor(m => question.LineItemTotalText, new { translate = "" })
                        @Html.EditorFor(m => question.LineItemTotalText, null, "lineitemtotaltitletext")

                        @Html.LabelFor(m => question.LineItemNotesTitleText, new { translate = "" })
                        @Html.EditorFor(m => question.LineItemNotesTitleText, null, "lineitemnotestitletext")

                        @Html.LabelFor(m => question.CatalogTotalText, new { translate = "" })
                        @Html.EditorFor(m => question.CatalogTotalText, null, "catalogtotaltitletext")

                        @Html.LabelFor(m => question.GrandTotalText, new { translate = "" })
                        @Html.EditorFor(m => question.GrandTotalText, null, "grandtotaltitletext")

                        @Html.LabelFor(m => question.LengthByWidthLengthText, new { translate = "" })
                        @Html.EditorFor(m => question.LengthByWidthLengthText, null, "lengthbywidthlengthtext")

                        @Html.LabelFor(m => question.LengthByWidthWidthText, new { translate = "" })
                        @Html.EditorFor(m => question.LengthByWidthWidthText, null, "lengthbywidthwidthtext")

                        @Html.LabelFor(m => question.LengthByWidthAreaText, new { translate = "" })
                        @Html.EditorFor(m => question.LengthByWidthAreaText, null, "lengthbywidthareatext")

                        @Html.LabelFor(m => question.AddRemoveManualEntryPrompt, new { translate = "" })
                        @Html.EditorFor(m => question.AddRemoveManualEntryPrompt, null, "addremovemanualentryprompt")

                        @Html.LabelFor(m => question.AddRemoveManualEntryNotes, new { translate = "" })
                        @Html.EditorFor(m => question.AddRemoveManualEntryNotes, null, "addremovemanualentrynotes")

                        @Html.LabelFor(m => question.Catalogs, new { translate = "" })
                        @Html.EditorFor(m => question.Catalogs, null, "catalogs")

                    </fieldset>
                }
            </div>
            <div class="tab-pane" id="tabs-Validators@(uniqueId)">
                @Html.Partial("RenderQuestionValidators", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>


