﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.Checklist.Editor.PayPalQuestion)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <table class="table table-striped">
            <tr>
                <td>
                    <h3>@question.Prompt</h3>
                </td>
                <td>
                    @question.Price.ToString("c")
                </td>
                <td>
                    <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="{{ 'Pay with PayPal' | translate }}'">
                </td>
            </tr>
        </table>
        <span class="help-block">@question.Note</span>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>PayPal Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
            <li><a href="#tabs-Validators@(uniqueId)" data-toggle="tab" translate>Rules</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)
  
                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                    @Html.LabelFor(m => question.MerchantId, new { translate = "" })
                    @Html.EditorFor(m => question.MerchantId, null, "merchantid")    

                    @Html.LabelFor(m => question.Price, new { translate = "" })
                    @Html.EditorFor(m => question.Price, null, "price")

                    @Html.LabelFor(m => question.TaxRate, new { translate = "" })
                    @Html.EditorFor(m => question.TaxRate, null, "taxrate")

                    @Html.LabelFor(m => question.Currency, new { translate = "" })
                    @Html.EditorFor(m => question.Currency, "Enum", "currency")

                    @Html.LabelFor(m => question.UseSandbox, new { translate = "" })
                    @Html.EditorFor(m => question.UseSandbox, null, "usesandbox")

                    @Html.LabelFor(m => question.DevelopmentUrl, new { translate = "" })
                    @Html.EditorFor(m => question.DevelopmentUrl, null, "developmenturl")
                    </fieldset>
                } 
	        </div>
	        <div class="tab-pane" id="tabs-Validators@(uniqueId)">
                @Html.Partial("RenderQuestionValidators", Model)
	        </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>