﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var question = (ConceptCave.Checklist.Editor.Reporting.PieChartQuestion)Model.Resource;
}
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay" style="min-height:15px">
        <h3>@question.Prompt</h3>
    </div>
    <div id="@editorId" style="display:none">
        <div class="page-header">
            <h3 translate>Label</h3>
        </div>
        @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
        {
            @Html.Partial("ResourceCommonFormFields", Model)
            <fieldset>
                @Html.Partial("QuestionPropertyEditor", Model)

            </fieldset>
            
            
        } 
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>
