﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var action = (ConceptCave.BusinessLogic.Facilities.PresentChecklistFacility)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <label for="checklist@(uniqueId)" class="above" translate>Publishing Group</label>
        <input type="text" id="checklist@(uniqueId)" disabled="true" value="@action.PublishingGroupName" />
        <label for="reviewer@(uniqueId)" class="above" translate>Checklist</label>
        <input type="text" id="reviewer@(uniqueId)" disabled="true" value="@action.ChecklistName"/>
        <label for="reviewer@(uniqueId)" class="above" translate>Reviewer</label>
        <input type="text" id="reviewer@(uniqueId)" disabled="true" value="@action.ReviewerName"/>
        <label for="reference@(uniqueId)" class="above" translate>Reference Parent</label>
        <input id="reference@(uniqueId)" type="checkbox" disabled="true" checked="@action.ReferenceParentWorkingDocument"/>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
        {
            @Html.Partial("ResourceCommonFormFields", Model)
            @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.ResourceNameFieldName, Model.Resource.Name)
    
            <legend translate>Present Checklist Action</legend>
            <br />
            <fieldset>
            @Html.LabelFor(m => action.PublishingGroupName, new { translate = "" })
            @Html.EditorFor(m => action.PublishingGroupName, null, "publishingGroupName")    
            <br /> 
            @Html.LabelFor(m => action.ChecklistName, new { translate = "" })
            @Html.EditorFor(m => action.ChecklistName, null, "checklistName")    
            <br /> 
            @Html.LabelFor(m => action.ReviewerName, new { translate = "" })
            @Html.EditorFor(m => action.ReviewerName, null, "reviewer")      
            <br /> 
            @Html.LabelFor(m => action.ReferenceParentWorkingDocument, new { translate = "" })
            @Html.EditorFor(m => action.ReferenceParentWorkingDocument, null, "referenceParent") 
            </fieldset>
        } 
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () {
                $("#container@(uniqueId)").trigger('delete', { id: '@(action.Id)', container: $("#container@(uniqueId)") });
            }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>