﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var question = (ConceptCave.Checklist.Editor.PresentWordDocumentQuestion)Model.Resource;

    var mediaEntity = ConceptCave.Repository.MediaRepository.GetById(question.MediaId, ConceptCave.RepositoryInterfaces.Enums.MediaLoadInstruction.None);
    var mediaEntityName = mediaEntity != null ? mediaEntity.Name : "{{ 'No media selected' | translate }}";
}

<register-translations>
    <this-question-will-present-media>This question will present {{ media }}</this-question-will-present-media>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <span translate translate-compile="false" translate-values="{media: '@mediaEntityName' }">this-question-will-present-media</span>
        <span class="help-block">@question.Note</span>
</div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Present Word Document Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
            <li><a href="#tabs-Validators@(uniqueId)" data-toggle="tab" translate>Rules</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)
  
                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                        @Html.LabelFor(m => question.AllowDownload, "{{ 'Allow Download' | translate }}")
                        @Html.EditorFor(m => question.AllowDownload, null, "allowdownload")

                        @Html.LabelFor(m => question.PreviewType, "{{ 'Preview' | translate }}")
                        @Html.EditorFor(m => question.PreviewType, "Enum", "previewtype")

                        @Html.LabelFor(m => question.MediaId, "{{ 'Media' | translate }}")
                        @Html.EditorFor(m => question.MediaId, "SingleMedia", "mediaid", new { Media = mediaEntity })

                        @Html.LabelFor(m => question.MergeWithChecklist, "{{ 'Merge With Checklist' | translate }}")
                        @Html.EditorFor(m => question.MergeWithChecklist, null, "mergewithchecklist")

                        @Html.LabelFor(m => question.UseUseHighQualityRendering, "{{ 'High Quality' | translate }}")
                        @Html.EditorFor(m => question.UseUseHighQualityRendering, null, "usehighquality")

                        @Html.LabelFor(m => question.UseAntiAliasing, "{{ 'Antialiased' | translate }}")
                        @Html.EditorFor(m => question.UseAntiAliasing, null, "useantialiased")

                        @Html.LabelFor(m => question.Resolution, "{{ 'Resolution' | translate }}")
                        @Html.EditorFor(m => question.Resolution, null, "resolution")

                        @Html.LabelFor(m => question.TrackPageViewing, "{{ 'Track Page Viewing' | translate }}")
                        @Html.EditorFor(m => question.TrackPageViewing, null, "trackpageviewing")
                    </fieldset>
                } 
            </div>
	        <div class="tab-pane" id="tabs-Validators@(uniqueId)">
                @Html.Partial("RenderQuestionValidators", Model)
	        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>