﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var question = (ConceptCave.Checklist.Editor.PresentMediaQuestion)Model.Resource;

    ConceptCave.Checklist.Interfaces.IYouTubePresentMediaQuestionSettings youTubeSettings = new ConceptCave.Checklist.Editor.YouTubePresentMediaQuestionSettings();
    if (question.Settings != null && question.Settings is ConceptCave.Checklist.Interfaces.IYouTubePresentMediaQuestionSettings)
    {
        youTubeSettings = (ConceptCave.Checklist.Interfaces.IYouTubePresentMediaQuestionSettings)question.Settings;
    }
}
<register-translations>
    <media-from-url-will-be-presented>Media from {{ url }} will be presented</media-from-url-will-be-presented>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <p translate translate-compile="false" translate-values="{url: '@question.Url'}">media-from-url-will-be-presented</p>
    </div>
    <div id="@editorId" style="display:none">
        <div class="page-header">
            <h3 translate>Present Media</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
            <li><a href="#tabs-Events@(uniqueId)" data-toggle="tab" translate>Events</a></li>
            <li><a href="#tabs-Settings@(uniqueId)" data-toggle="tab" translate>Settings</a></li>
        </ul>
        @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
        {
        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @Html.Partial("ResourceCommonFormFields", Model)

                <fieldset>
                    <div style="float:left;width:48%">
                        @Html.Partial("QuestionPropertyEditor", Model)

                        @Html.LabelFor(m => question.Url, new { translate = "" })
                        @Html.EditorFor(m => question.Url, null, "url")

                    </div>
                    <div style="float:left;width:48%">
                        @Html.LabelFor(m => question.MediaType, new { translate = "" })
                        @Html.EditorFor(m => question.MediaType, "Enum", "mediatype")

                        @Html.LabelFor(m => question.Width, new { translate = "" })
                        @Html.EditorFor(m => question.Width, null, "width")

                        @Html.LabelFor(m => question.Height, new { translate = "" })
                        @Html.EditorFor(m => question.Height, null, "height")
                    </div>
                    <div style="clear:both">&nbsp;</div>
                </fieldset>
            </div>
            <div class="tab-pane" id="tabs-Events@(uniqueId)">
                <div class="span10">
                </div>
                <div class="clear">&nbsp;</div>

                <table id="eventlist@(uniqueId)" class="table table-striped table-bordered" style="width:50%">
                    <thead>
                        <tr>
                            <th translate>Start (sec)</th>
                            <th translate>End (sec)</th>
                            <th translate>Action</th>
                            <th>
                                <div id="addevent@(uniqueId)" class="btn-group" style="float:right" >
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span translate>Add Event</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul id="menuAddevent@(uniqueId)" class="dropdown-menu">
                                        <li><a href="#" class="{type:'show'}" translate>Show/Hide Event</a></li>
                                        <li><a href="#" class="{type:'pause'}" translate>Pause Event</a></li>
                                        <li><a href="#" class="{type:'seek'}" translate>Seek To Event</a></li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ev in (from e in question.ClientModel.Events where e is ConceptCave.Checklist.Editor.PresentedMediaQuestionTrackEvent orderby ((ConceptCave.Checklist.Editor.PresentedMediaQuestionTrackEvent)e).Start ascending, ((ConceptCave.Checklist.Editor.PresentedMediaQuestionTrackEvent)e).End ascending select e).Cast<ConceptCave.Checklist.Editor.PresentedMediaQuestionTrackEvent>())
                        {
                            ConceptCave.www.Areas.Designer.Models.PresentMediaQuestionClientEventModel eventModel = new ConceptCave.www.Areas.Designer.Models.PresentMediaQuestionClientEventModel() { Question = question, Event = ev };
                            @Html.Partial("PresentMediaQuestionEventListItem", eventModel)
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tabs-Settings@(uniqueId)">
                <div id="youtube@(uniqueId)">
                    @Html.LabelFor(m => youTubeSettings.AllowFullScreen, new { translate = "" })
                    @Html.EditorFor(m => youTubeSettings.AllowFullScreen, null, "youtubeallowfullscreen")

                    @Html.LabelFor(m => youTubeSettings.ModestBranding, new { translate = "" })
                    @Html.EditorFor(m => youTubeSettings.ModestBranding, null, "youtubemodestbranding")

                    @Html.LabelFor(m => youTubeSettings.ShowRelatedVideos, new { translate = "" })
                    @Html.EditorFor(m => youTubeSettings.ShowRelatedVideos, null, "youtubeshowrelated")

                    @Html.LabelFor(m => youTubeSettings.ShowInfo, new { translate = "" })
                    @Html.EditorFor(m => youTubeSettings.ShowInfo, null, "youtubeshowinfo")

                    @Html.LabelFor(m => youTubeSettings.ControlsType, new { translate = "" })
                    @Html.EditorFor(m => youTubeSettings.ControlsType, "Enum", "youtubecontrols")
                </div>
            </div>
        </div>
       } 
    </div>

    @using (Html.BeginForm("NewEvent", "EditPresentMediaQuestionClientEvent", FormMethod.Post, new { id = "newevent" + uniqueId }))
    {
        @Html.Partial("ResourceCommonFormFields", Model)
        @Html.Hidden("questionid", @Model.Resource.Id.ToString())
        @Html.Hidden("actiontype", "", new { id = "newevent" + uniqueId + "_actiontype" })
    }

    @using (Html.BeginForm("RemoveEvent", "EditPresentMediaQuestionClientEvent", FormMethod.Post, new { id = "removeevent" + uniqueId }))
    {
        @Html.Partial("ResourceCommonFormFields", Model)
        @Html.Hidden("questionid", @Model.Resource.Id.ToString())
        @Html.Hidden("eventid", "", new { id = "removeevent" + uniqueId + "_eventid" })
    }

    @using (Html.BeginForm("EditEvent", "EditPresentMediaQuestionClientEvent", FormMethod.Post, new { id = "editevent" + uniqueId }))
    {
        @Html.Partial("ResourceCommonFormFields", Model)
        @Html.Hidden("questionid", @Model.Resource.Id.ToString())
        @Html.Hidden("eventid", "", new { id = "editevent" + uniqueId + "_eventid" })
    }

    <div class="modal hide fade" id="editevents@(uniqueId)">
        <div class="modal-header">
            <button type="button" class="close dismiss">×</button>
            <h3 translate>Present Media Event</h3>
        </div>
        <div class="modal-body" id="editeventsbody@(uniqueId)">
    
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" translate>Save</a>
            <a href="#" class="btn dismiss" translate>Close</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        $("#menuAddevent@(uniqueId) a").click(function (event) {
            $("#newevent@(uniqueId)_actiontype").val($(this).metadata().type);
            CurrentDesignerManager.submitForm($("#newevent@(uniqueId)"), "#eventlist@(uniqueId)");
        });

        $(document).off('eventdeleted', "#eventlist@(uniqueId)");
        $(document).on('eventdeleted', "#eventlist@(uniqueId)", function (event, data) {
            $("#removeevent@(uniqueId)_eventid").val(data.selectedid);
            CurrentDesignerManager.submitForm($("#removeevent@(uniqueId)"), function (responseText) {
                data.row.remove();
            });
        });

        $("#editevents@(uniqueId) .dismiss").click(function () {
            $("#editevents@(uniqueId)").modal('hide');
        });

        $("#editevents@(uniqueId) .btn-primary").click(function () {
            var select = "#editeventsbody@(uniqueId) form";

            CurrentDesignerManager.submitForm($(select)[0], function (responseText, angularise) {
                var row = CurrentDialogManager.Context;

                $("#editevents@(uniqueId)").modal('hide');

                $(row).replaceWith(responseText);

                angularise($(row));
            });
        });

        $(document).off('eventedit', "#eventlist@(uniqueId)");
        $(document).on('eventedit', "#eventlist@(uniqueId)", function (event, data) {
            $("#editevent@(uniqueId)_eventid").val(data.selectedid);
            $("#editevents@(uniqueId)").modal();
            CurrentDialogManager.Context = data.row;
            CurrentDesignerManager.submitForm($("#editevent@(uniqueId)"), "#editeventsbody@(uniqueId)");
        });

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>
