﻿@model ConceptCave.www.Areas.Designer.Models.PresentMediaQuestionClientEventModel
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();

    if (ViewBag.ActionTaken != null && ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
    {
        <tr id="@uniqueId" style="display:none"><td colspan="4">&nbsp;</td></tr>
        <script type="text/javascript">
            $(function () {
                $("#@uniqueId").trigger("servereventdeleted", { selectedid: '@Model.Event.Id' });
            });
        </script>
        
        return;
    }

    if (Model.IsEditing)
    {
        @Html.Partial(Model.Event.Action.GetType().Name + "Editor", Model)
        return;
    }
}

<tr>
    <td>@Model.Event.Start</td>
    <td>@Model.Event.End</td>
    <td>
        @if (Model.Event.Action != null)
        { 
            @Html.Partial(Model.Event.Action.GetType().Name + "Editor", Model)
        }
    </td>
    <td>
        <button id="@string.Format("edit{0}", Model.Event.Id)" type="button" class="btn {selectedid: '@Model.Event.Id'}"><i class="icon-edit"></i></button>
        <button id="@string.Format("remove{0}", Model.Event.Id)" type="button" class="btn btn-danger {selectedid: '@Model.Event.Id'}"><i class="icon-trash icon-white"></i></button>
    </td>
</tr>
<script type="text/javascript">
    $(function () {
        $(document).off("click", "#@string.Format("edit{0}", Model.Event.Id)");
        $(document).on('click', "#@string.Format("edit{0}", Model.Event.Id)", function(event) {
            $(event.currentTarget).trigger("eventedit", { selectedid: $(this).metadata().selectedid, row: $(this).parent().parent() });
        });

        $(document).off("click", "#@string.Format("remove{0}", Model.Event.Id)");
        $(document).on('click', "#@string.Format("remove{0}", Model.Event.Id)", function(event) {
            $(event.currentTarget).trigger("eventdeleted", { selectedid: $(this).metadata().selectedid, row: $(this).parent().parent() });
        });
    });
</script>
