﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var question = (ConceptCave.Checklist.Editor.ProgressIndicatorQuestion)Model.Resource;
}
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <div class="progress progress-info">
          <div class="bar" style="width:@(question.ValueAsPercentage * 100)%"></div>
        </div>
    </div>
    <div id="@editorId" style="display:none">
        <div class="page-header">
            <h3 translate>Progress Indicator</h3>
        </div>
        @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
        {
            @Html.Partial("ResourceCommonFormFields", Model)

            <fieldset>
                @Html.Partial("QuestionPropertyEditor", Model)

                @Html.LabelFor(m => question.MinValue, new { translate = "" })
                @Html.EditorFor(m => question.MinValue, null, "minvalue")   

                @Html.LabelFor(m => question.MaxValue, new { translate = "" })
                @Html.EditorFor(m => question.MaxValue, null, "maxvalue")

                @Html.LabelFor(m => question.Value, new { translate = "" })
                @Html.EditorFor(m => question.Value, null, "value")
                
            </fieldset>
        } 
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>
