﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.Repository.Questions.PublicVariableViewerQuestion)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th translate>Variable 1</th>
                    <th translate>Variable 2</th>
                    <th translate translate>Variable 3</th>
                    <th>Variable 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td translate>Value 1A</td>
                    <td translate>Value 1B</td>
                    <td translate>Value 1C</td>
                    <td translate>Value 1D</td>
                </tr>
                <tr>
                    <td translate>Value 2A</td>
                    <td translate>Value 2B</td>
                    <td translate>Value 2C</td>
                    <td translate>Value 2D</td>
                </tr>
                <tr>
                    <td translate>Value 3A</td>
                    <td translate>Value 3B</td>
                    <td translate>Value 3C</td>
                    <td translate>Value 3D</td>
                </tr>
            </tbody>
            <caption><p class="help-block" >@Html.Raw(question.Note)</p></caption>
        </table>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Public Variable Viewer</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

    <legend translate>Number Question</legend>
                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                        @Html.LabelFor(m => question.PublishingGroupResourceId, new { translate = "" })
                        @Html.EditorFor(m => question.PublishingGroupResourceId, null, "publishinggroupresourceid")  

                        @Html.LabelFor(m => question.ViewType, new { translate = "" })
                        @Html.EditorFor(m => question.ViewType, "Enum", "viewtype")
                        
                        @Html.LabelFor(m => question.DetailsUrl, new { translate = "" })
                        @Html.EditorFor(m => question.DetailsUrl, null, "detailsurl")
                    </fieldset>
                } 
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>