﻿@model ConceptCave.www.Areas.Designer.Models.ValidatorEditorModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Interfaces.IQuestion)Model.ResourceModel.Resource;
    var validator = (ConceptCave.Repository.ProcessingRules.PublicVariable)Model.Validator;

    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var JsonModel = new ConceptCave.www.Models.JSONDataModel() { RootId = question.Id.ToString() };
}

<register-translations>
    <this-question-will-be-exposed-as-name-to-inspectors-of-public-variables>This question will be exposed as '{{ name }}' to inspectors of public variables.</this-question-will-be-exposed-as-name-to-inspectors-of-public-variables>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <span translate translate-compile="false" translate-values= "{name: '@(validator.Name)'}">this-question-will-be-exposed-as-name-to-inspectors-of-public-variables</span>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <label class="above" for="name@(editorId)" translate>Name</label>
        <input type="text" id="name@(editorId)" value="@validator.Name" />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { 
                var item = $("#container@(uniqueId)").jsondatamodel('getItem', '@validator.Id');

                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.PublicVariableJSONDataConverter.NamePropertyName', Value: $("#name@(editorId)").val() });

                $("#container@(uniqueId)").trigger('save', { model: $("#container@(uniqueId)").jsondatamodel('getModel'), container: $("#container@(uniqueId)") }); 
            },
            deleteCallback: function () { $("#container@(uniqueId)").trigger('delete', { id: '@Model.Validator.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
        
        $("#container@(uniqueId)").jsondatamodel('setModel', @Html.Raw(Json.Encode(JsonModel)));
        $("#container@(uniqueId)").jsondatamodel('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = validator.Id.ToString() })));
    });
</script>