﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var question = (ConceptCave.Checklist.Editor.Question)Model.Resource;

    var labelModel = new ConceptCave.www.Models.SelectMultipleLabelsModel(
        ConceptCave.Repository.LabelRepository.GetAll(ConceptCave.RepositoryInterfaces.Enums.LabelFor.Questions),
        ConceptCave.Repository.LabelRepository.GetById(question.Labels)
        );
}

@Html.LabelFor(m => question.Id, new { translate = "" })
@Html.TextBoxFor(m => question.Id, new { disabled = true, @readonly = true })

@Html.LabelFor(m => question.Name, new { translate = "" })
@Html.EditorFor(m => question.Name, null, "name")


@Html.Partial("LanguageLocalisableString", new ConceptCave.www.Models.LanguageLocalisableStringModel() { Languages = Model.Languages, LocalisableString = question.LocalisablePrompt, DisplayName = "{{ 'Prompt' | translate }}", Name = "localisableprompt" })

@Html.LabelFor(m => question.HidePrompt, "{{ 'Hide Prompt' | translate }}")
@Html.EditorFor(m => question.HidePrompt, null, "hidePrompt")

@Html.Partial("LanguageLocalisableString", new ConceptCave.www.Models.LanguageLocalisableStringModel() { Languages = Model.Languages, LocalisableString = question.LocalisableNote, DisplayName = "{{ 'Note' | translate }}", Name = "localisablenote" })

@Html.LabelFor(m => question.AllowNotesOnAnswer, new { translate = "" })
@Html.EditorFor(m => question.AllowNotesOnAnswer, null, "allownotesonanswer")

@Html.LabelFor(m => question.ClientModel.Visible, new { translate = "" })
@Html.EditorFor(m => question.ClientModel.Visible, null, "visible")

@Html.LabelFor(m => question.HtmlPresentationHint.CustomStyling, new { translate = "" })
@Html.TextAreaFor(m => question.HtmlPresentationHint.CustomStyling, new { Name = "htmlcustomstyling", Style = "width:95%" })

@Html.LabelFor(m => question.HtmlPresentationHint.CustomClass, new { translate = "" })
@Html.TextAreaFor(m => question.HtmlPresentationHint.CustomClass, new { Name = "htmlcustomclass", Style = "width:95%" })

@Html.Partial("SelectMultipleLabels", labelModel)
<div style="clear:both;">&nbsp;</div>

@Html.LabelFor(m => question.HelpPosition, "{{ 'Help Position' | translate }}")
@Html.EditorFor(m => question.HelpPosition, "Enum", "helpposition")

@Html.Partial("LanguageLocalisableString", new ConceptCave.www.Models.LanguageLocalisableStringModel() { Languages = Model.Languages, LocalisableString = question.LocalisableHelpContent, DisplayName = "{{ 'Help Content' | translate }}", Name = "localisablehelpcontent" })
