﻿@model ConceptCave.www.Areas.Designer.Models.ValidatorEditorModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Interfaces.IQuestion)Model.ResourceModel.Resource;
    var validator = (ConceptCave.Checklist.Validators.RegularExpressionValidator)Model.Validator;

    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var JsonModel = new ConceptCave.www.Models.JSONDataModel() { RootId = question.Id.ToString() };

    List<dynamic> presets = new List<dynamic>();

    dynamic preset = new System.Dynamic.ExpandoObject();
    preset.Name = "Phone";
    preset.Expression = @"^\({0,1}((0|\+61)(2|4|3|7|8)){0,1}\){0,1}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{1}(\ |-){0,1}[0-9]{3}$";
    presets.Add(preset);

    preset = new System.Dynamic.ExpandoObject();
    preset.Name = "Email";
    preset.Expression = @"\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b";
    presets.Add(preset);

    preset = new System.Dynamic.ExpandoObject();
    preset.Name = "Custom";
    preset.Expression = "";
    presets.Add(preset);
    
    var displayExpression = validator.ValidationExpression;
    var match = (from p in presets where p.Expression == validator.ValidationExpression select p).DefaultIfEmpty(null).First();

    if (match != null)
    {
        displayExpression = match.Name;
    }
    else {
        match = preset;
    }
}

<register-translations>
    <the-question-must-be-of-the-form>The question must be of form {{ displayExpression }}</the-question-must-be-of-the-form>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <span translate translate-compile="false" translate-values="{displayExpression='@displayExpression'}">the-question-must-be-of-the-form</span>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <label for="name@(editorId)" translate>Name</label>
        <input type="text" id="name@(editorId)" value="@(validator.Name)" />
        <label for="reg@(editorId)" translate>Mandatory</label>
        <input type="text" id="reg@(editorId)" value="@(validator.ValidationExpression)" />

        <select id="presets@(uniqueId)">
            @foreach (var p in presets)
            { 
                <option value="@(p.Expression)" @(p == match ? "selected=selected" : "")>@p.Name</option>
            }
        </select>
        <br />
        <label for="mes@(editorId)" translate>Message</label>
        <input type="text" id="mes@(editorId)" value="@(validator.ErrorMessage)" />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(document).off("change", "#presets@(uniqueId)");
        $(document).on("change", "#presets@(uniqueId)", function(event, data) {
            $("#reg@(editorId)").val($("#presets@(uniqueId) option:selected").val());
        });

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () {

                var item = $("#container@(uniqueId)").jsondatamodel('getItem', '@validator.Id');
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.ValidatorJSONDataConverter.NamePropertyName', Value: $("#name@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.RegularExpressionValidatorJSONDataConverter.ValidationExpressionPropertyName', Value: $("#reg@(editorId)").val() });
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.RegularExpressionValidatorJSONDataConverter.ErrorMessagePropertyName', Value: $("#mes@(editorId)").val() });

                $("#container@(uniqueId)").trigger('save', { model: $("#container@(uniqueId)").jsondatamodel('getModel'), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#container@(uniqueId)").trigger('delete', { id: '@Model.Validator.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);

        $("#container@(uniqueId)").jsondatamodel('setModel', @Html.Raw(Json.Encode(JsonModel)));
        $("#container@(uniqueId)").jsondatamodel('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = validator.Id.ToString() })));
    });
</script>