﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel

@helper RenderResourceEditor()
{
    @Html.Partial(Model.DesignerType.EditorPartialView, Model) 
}

@{
    this.Layout = null;
    Guid uniqueId = Guid.NewGuid();
    
    <div id="@uniqueId" style="display:none">&nbsp;</div>
    
    @RenderResourceEditor()

    if (ViewBag.ActionTaken != null)
    {

        if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
        {
            string message = string.Format("{0} Removed", Model.DesignerType.EditorNewPromptText);
             
            <script type="text/javascript">
                $(function () {
                    $("#@uniqueId").trigger("serverdeleteditem", { id: '@Model.Resource.Id.ToString()' });
                });
            </script>
    
            @Html.Partial("RenderNotificationUI", message);

                                                          return; // nothing more to do
        }
        else if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Move)
        {
            <text><translate>Move Completed</translate></text>
            return;
        }

        <script type="text/javascript">
            $(function () {
                $("#@(uniqueId)").next().effect("highlight", { 'color': '#ccffcc' }, 3000);
                $("#@uniqueId").trigger("serveraddeditem", { id: '@Model.Resource.Id.ToString()' });
            });
        </script>
    }
    

}

