﻿@model ConceptCave.www.Areas.Designer.Models.ResourceEditorModel

<a class="{id:'@Model.Id'}" href="#">@Model.Name<br />@Html.Partial("RenderSelectedLabels", new ConceptCave.www.Models.RenderSelectedLabelsModel((from l in Model.LabelResources select l.Label)))</a>