﻿@model System.String

@{
    var uniqueId = Guid.NewGuid();
}

<div class="bottomBar">
    <button id="@uniqueId" type="button" translate>Save</button>   
</div>
    
<script type="text/javascript">
    $(function () {
        $("#@uniqueId").button();

        $(document).on('click', "#@uniqueId", function (event) {
            $("#@Model").trigger('save', $("#@Model"));
        });
    });
</script>