﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Editor.Question)Model.Resource;

    var uniqueId = Guid.NewGuid().ToString();
    var existingValidatorsId = "existing" + uniqueId;
    string menuId = "menu" + uniqueId.ToString();
}

<div style="min-height:300px;">
    <div id="@menuId" class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" translate>
            New
            <span class="caret"></span>
        </a>
        <ul id="menu_addvalidators@(uniqueId)" class="dropdown-menu">
            @foreach (var v in Model.DesignerType.Validators)
            {
                <li><a href="#" class="{type:'@v.Type'}">@v.FriendlyName</a></li>
            }
        </ul>
    </div>
    <div class="clear" style="height:3px">&nbsp;</div>

    <ul id="@existingValidatorsId" class="well nav nav-pills nav-stacked">
        @foreach (var v in question.Validators)
        {
            <li>
                @Html.Partial(v.GetType().Name + "Editor", new ConceptCave.www.Areas.Designer.Models.ValidatorEditorModel() { ResourceModel = Model, Validator = v })          
            </li>
        }
    </ul>
</div>

@using (Html.BeginForm("New", "ValidatorManagement", FormMethod.Post, new { id = uniqueId }))
{
    @Html.Partial("ResourceCommonFormFields", Model)
    @Html.Hidden("QuestionId", Model.Resource.Id)
    @Html.Hidden("type", "", new { id = "validator_type" + uniqueId })
}

@using (Html.BeginForm("Delete", "ValidatorManagement", FormMethod.Post, new { id = "delete" + uniqueId }))
{
    @Html.Partial("ResourceCommonFormFields", Model)
    @Html.Hidden("QuestionId", Model.Resource.Id)
    @Html.Hidden("id", "", new { id = "validator_id" + uniqueId })
}

@using (Html.BeginForm("Save", "ValidatorManagement", FormMethod.Post, new { id = "save" + uniqueId }))
{
    @Html.Partial("ResourceCommonFormFields", Model)
    @Html.Hidden(ConceptCave.www.Models.JSONDataModelBinder.FormFieldName, "", new { id = "save_data" + uniqueId })
}

<script type="text/javascript">
    $(function () {
        //$('#@menuId').dropdown();

        $("#menu_addvalidators@(uniqueId) a").click(function (event) {
            $("#validator_type@(uniqueId)").val($(this).metadata().type);

            CurrentDesignerManager.submitForm($("#@(uniqueId)"), function (responseText, angularise) {
                var jq = $('<li>' + responseText + '</li>');
                jq.appendTo("#@existingValidatorsId");
                angularise(jq);
            });
        });

        $(document).off("save", "#@existingValidatorsId");
        $(document).on("save", "#@existingValidatorsId", function (event, data) {
            event.stopPropagation();

            if (data.model == null) {
                return;
            }

            $("#save_data@(uniqueId)").val(JSON.stringify(data.model));

            CurrentDesignerManager.submitForm($("#save@(uniqueId)"), function (responseText, angularise) {
                var jq = $(responseText);
                var p = data.container.parent();
                data.container.replaceWith(jq);
                p.effect("highlight", { 'color': '#ccffcc' }, 3000);
                angularise(jq);
            });
        });

        $(document).off("delete", "#@existingValidatorsId");
        $(document).on("delete", "#@existingValidatorsId", function (event, data) {
            event.stopPropagation();

            var container = data.container;

            $("#validator_id@(uniqueId)").val(data.id);
            CurrentDesignerManager.submitForm($("#delete@(uniqueId)"), function (responseText) {
                $(container).parent().hide('fade', {}, 'slow', function () { $(container).parent().remove(); });
            });
        });
    });
</script>