﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    ConceptCave.Checklist.Editor.DesignDocument document = (ConceptCave.Checklist.Editor.DesignDocument)Model.Resource;
    this.Layout = null;
    Guid uniqueId = Model.Resource.Id;
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var selectlabelsId = "selectLabels" + uniqueId;

    var importFileModel = new ConceptCave.www.Models.FileUploadModel()
    {
        Action = "Import",
        Controller = "DesignDocumentManagement",
        Title = "Select File",
        ActivateOnElementIdClicked = "import" + uniqueId.ToString(),
        ShowButton = false,
        ShowDescriptionEditor = false,
        ShowNameEditor = false,
        AjaxSubmit = true
    };

    importFileModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "id", Value = Model.RootId.ToString() });

    var importXmlFileModel = new ConceptCave.www.Models.FileUploadModel()
    {
        Action = "ImportXml",
        Controller = "DesignDocumentManagement",
        Title = "Select File",
        ActivateOnElementIdClicked = "importXml" + uniqueId.ToString(),
        ShowButton = false,
        ShowDescriptionEditor = false,
        ShowNameEditor = false,
        AjaxSubmit = true
    };

    importXmlFileModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "id", Value = Model.RootId.ToString() });

    var res = (ConceptCave.Checklist.Interfaces.IHasName)Model.Resource;
    
    <div id="@uniqueId" style="display:none">&nbsp;</div>

    if (ViewBag.ActionTaken != null)
    {
        if(ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Reload)
        {
            <script type="text/javascript">
                $(function () {
                    $("#@uniqueId").trigger("designerreload", { id: '@Model.Resource.Id.ToString()' });
                });
            </script>
    
            return;
        }
        
        string message = "";
        if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
        {
            message = "Checklist Removed";
            
            <script type="text/javascript">
                $(function () {
                    $("#@uniqueId").trigger("serverdeleteditem", { id: '@Model.Resource.Id.ToString()' });
                });
            </script>
    
            @Html.Partial("RenderNotificationUI", message);

            return; // nothing more to do
        }
        
        <script type="text/javascript">
            $(function () {
                $("#container@(uniqueId)").effect("highlight", { 'color': '#ccffcc' }, 3000);
                $("#@uniqueId").trigger("serveraddeditem", { id: '@Model.Resource.Id.ToString()' });
            });
        </script>
    
        @RenderDesignDocumentMainEditor(uniqueId.ToString(), displayId, editorId, selectlabelsId, document) // we just render the main section of the document, the other area's take care of themselves outside of a first hit
        return;
    }
}

<script type="text/javascript">
    var codeMirrorEditor = null;               // The CodeMirror Editor, global to this page and assigned below through jQuery page load event
</script>

@helper RenderDesignDocumentMainEditor(string uniqueId, string displayId, string editorId, string selectlabelsId, ConceptCave.Checklist.Editor.DesignDocument document)
{
    <fieldset id="@editorId">
        @Html.LabelFor(m => ((ConceptCave.Checklist.Interfaces.IHasName)Model.Resource).Name, new { translate = "" })
        @Html.EditorFor(m => ((ConceptCave.Checklist.Interfaces.IHasName)Model.Resource).Name, null, "name") 

        @if (Model.Resource is ConceptCave.Checklist.Interfaces.IHasDisplayName) { 
            @Html.Partial("LanguageLocalisableString", new ConceptCave.www.Models.LanguageLocalisableStringModel() { Languages = Model.Languages, LocalisableString = ((ConceptCave.Checklist.Interfaces.IHasDisplayName)Model.Resource).LocalisableDisplayName, DisplayName = "{{ 'Display Name' | translate }}", Name = "localisabledisplayname" })
        }

        @Html.LabelFor(m => document.FinishMode, new { translate = "" })
        @Html.EditorFor(m => document.FinishMode, "Enum", "finishmode")
        
        @Html.LabelFor(m => m.Labels, new { translate = "" })
        @Html.Partial("SelectMultipleLabels", Model.Labels)

        <div class="clear">&nbsp;</div>

        <div class="form-actions">
            <button id="submitmaineditor" class="btn btn-primary" type="submit" data-loading-text="Saving" translate>Save changes</button>
        </div>
    </fieldset>
}

<legend>Edit: @document.Name</legend>
<div id="container@(uniqueId)">
        <ul class="nav nav-tabs" id="edittab">
            <li><a href="#general" data-toggle="tab" translate>General</a></li>
            <li><a href="#source" id="tabitemsource" data-toggle="tab" translate>Source Code</a></li>
            <li><a href="#tabs-Pages" data-toggle="tab" translate>Pages</a></li>
            <li><a href="#tabs-Actions" data-toggle="tab" translate>Facilities</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a id="import@(uniqueId)" href="#" data-toggle="tab">Import From Excel</a></li>
                    <li><a id="export@(uniqueId)" href="#" data-toggle="tab">Export To Excel</a></li>
                    <li><a id="importXml@(uniqueId)" href="#" data-toggle="tab">Import Xml</a></li>
                    <li><a id="exportXml@(uniqueId)" href="#" data-toggle="tab">Export Xml</a></li>
                </ul>
            </li>
        </ul>

        <a id="exportlink@(uniqueId)" href="@Url.Action("Export", "DesignDocumentManagement", new {id = Model.RootId})" style="display:none" />
        <a id="exportXmlLink@(uniqueId)" href="@Url.Action("ExportXml", "DesignDocumentManagement", new {id = Model.RootId})" style="display:none" />

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                @RenderDesignDocumentMainEditor(uniqueId.ToString(), displayId, editorId, selectlabelsId, document)
            </div>
            <div class="tab-pane sourcecode" id="source">
                @Html.LabelFor(m => document.ProgramDefinition.SourceCode, new { translate = "" })
                @Html.TextArea("sourcecode", document.ProgramDefinition.SourceCode)
            </div>
            <div class="tab-pane" id="tabs-Pages">
                <div class="span10">
                    <button id="addpage@(uniqueId)" type="button" class="btn btn-success pull-right"><i class="icon-plus-sign icon-white"></i>&nbsp;<translate>Page</translate></button> 
                </div>
                <div class="clear">&nbsp;</div>
                @{
                    if (document.Sections.Count == 0)
                    {
                        <div id="nopagenotification" class="alert alert-info">
                            <h3 translate>Pages</h3>
                            <translate>There are no pages defined in this checklist</translate></div>
                    }
                    <ul id="pageselector" class="thumbnails">
                    @{
                    
                        foreach (var section in document.Sections)
                        {
                            @Html.Partial("RenderPageListItem", section)  
                        }
                    }
                    </ul>      
                    <div class="clear">&nbsp;</div>               
                }
            </div>
            <div class="tab-pane" id="tabs-Actions">
                <div class="span10">
                    <div id="addaction@(uniqueId)" class="btn-group" style="float:right" >
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" translate>
                            Add Facility
                            <span class="caret"></span>
                        </a>
                        <ul id="menuAddActions@(uniqueId)" class="dropdown-menu">
                            @foreach (var designerType in (from i in ConceptCave.Repository.RepositorySectionManager.Current.Items where i.Category == ConceptCave.Repository.StandardResourceCategories.Actions.ToString().ToLower() select i))
                            {
                                <li><a href="#" class="{type: '@designerType.FriendlyName'}">@designerType.EditorNewPromptText</a></li>
                            }
                        </ul>
                    </div>          
                </div>
                <div class="clear">&nbsp;</div>
                    @if (document.Facilities.Count == 0)
                    {
                        <div id="noactionnotification" class="alert alert-info">
                            <h3 translate>Facilities</h3>
                            <translate>There are no facilities defined in this checklist</translate>
                        </div>
                    }
                    <ul id="actionselector" class="thumbnails">
                    @{
                        foreach (var action in document.Facilities)
                        {
                            @Html.Partial("RenderActionListItem", action) 
                        }
                    }
                    </ul>      
                    <div class="clear">&nbsp;</div>
            </div>
        </div>
</div>

<div class="modal-large hide fade" id="editpagedialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Edit Page</h3>
    </div>
    <div class="modal-body" id="editpagedialogbody" ng-controller="questionEditorInjectorCtrl" style="min-height:300px">
        <p translate>Loading ...</p>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span2">
                <button id="editpagedialogremovepage" type="button" class="btn btn-danger pull-left"><i class="icon-trash icon-white"></i>&nbsp; <translate>Remove Page</translate></button>
            </div>
            <div class="span3 pull-left">
            </div>
            <div class="span4">
                <div id="dragToPage" class="dragdrop-highlight-drop pull-left" style="display:none;width:300px;margin-left:50px;text-align:center;"><translate>Drag here to change page</translate></div>
            </div>
            <div class="span3">
                <a href="#" class="btn pull-right" data-dismiss="modal" translate>Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal-large hide fade" id="editactiondialog" style="height:99%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Edit Facility</h3>
    </div>
    <div class="modal-body" id="editactiondialogbody" style="min-height:80%">
        <p translate>Loading ...</p>
    </div>
    <div class="modal-footer">
        <button id="editpagedialogremoveaction" type="button" class="btn btn-danger pull-left"><i class="icon-trash icon-white"></i>&nbsp; <translate>Remove Facility</translate></button>
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
    </div>
</div>

@using (Html.BeginForm("Save", "DesignDocumentManagement", FormMethod.Post, new { id = "designdocumenteditorui" }))
{
    @Html.Hidden("id", Model.Resource.Id, new { id = "designdocumenteditorui_id" })
    @Html.Hidden("Name", "", new { id = "designdocumenteditorui_name" })
    @Html.Hidden("finishmode", "", new { id = "designdocumenteditorui_finishmode" })
    @Html.Hidden("sourcecode", "", new { id = "designdocumenteditorui_sourcecode" })
}

@using (Html.BeginForm("AddPage", "DesignDocumentManagement", FormMethod.Post, new { id = "designdocumentmanagement_addsection" }))
{
    @Html.Hidden("id", Model.Resource.Id)
}

@using (Html.BeginForm("GetSelectPages", "DesignDocumentManagement", FormMethod.Post, new { id = "designdocumentmanagement_getselectpages" }))
{
    @Html.Hidden("id", Model.Resource.Id)
}

@using (Html.BeginForm("GetPageListItem", "DesignDocumentManagement", FormMethod.Post, new { id = "designdocumentmanagement_getsectionlistitem" }))
{
    @Html.Hidden("id", Model.Resource.Id)
    @Html.Hidden("pageid", "", new { id = "designdocumentmanagement_getsectionlistitem_pageid" })
}

@using (Html.BeginForm("RemovePage", "DesignDocumentManagement", FormMethod.Post, new { id = "designdocumentmanagement_removesection" }))
{
    @Html.Hidden("id", Model.Resource.Id)
    @Html.Hidden("pageid", "", new { id = "designdocumentmanagement_removesection_pageid" })
}

@using (Html.BeginForm("AddAction", "DesignDocumentManagement", FormMethod.Post, new { id = "designdocumentmanagement_addaction" }))
{
    @Html.Hidden("id", Model.Resource.Id)
    @Html.Hidden("key", "", new { id = "designdocumentmanagement_addaction_key" })
}

@using (Html.BeginForm("RemoveAction", "DesignDocumentManagement", FormMethod.Post, new { id = "designdocumentmanagement_removeaction" }))
{
    @Html.Hidden("id", Model.Resource.Id)
    @Html.Hidden("actionid", "", new { id = "designdocumentmanagement_removeaction_actionid" })
}

@using (Html.BeginForm("MovePage", "DesignDocumentManagement", FormMethod.Post, new { id = "rendersectionui_movepage" }))
{
    @Html.Hidden("id", Model.Resource.Id)
    @Html.Hidden("itemId", "", new { id = "movepage_id" })
    @Html.Hidden("newIndex", "", new { id = "movepage_newIndex" })
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.AlternameHandlerFieldName, ConceptCave.www.Areas.Designer.Controllers.DesignDocumentManagementController.DesignDocumentManagementControllerAlternameHandlerName)
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.AlternameHandlerMethodFieldName, string.IsNullOrEmpty(Model.AlternateHandlerMethod) == false ? Model.AlternateHandlerMethod : ConceptCave.www.Areas.Designer.Controllers.EditSectionResourceController.SavePresentedMethodName)
    
    List<ConceptCave.www.ControllerWithAlternateHandlerContextField> contextFields = new List<ConceptCave.www.ControllerWithAlternateHandlerContextField>();
    contextFields.Add(new ConceptCave.www.ControllerWithAlternateHandlerContextField() { Name = ConceptCave.www.Areas.Designer.Controllers.DesignDocumentManagementController.RootIdContextFieldName, Value = Model.Resource.Id.ToString() });
    
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.ContextFieldName, ConceptCave.www.ControllerWithAlternateHandler.ContextFieldsString(contextFields))
}

@using (Html.BeginForm("GetPage", "DesignDocumentManagement", FormMethod.Post, new { id = "getpage" }))
{
    @Html.Hidden("id", Model.Resource.Id)
    @Html.Hidden("pageid", "", new { id = "getpage_id" })
}

@using (Html.BeginForm("GetAction", "DesignDocumentManagement", FormMethod.Post, new { id = "getaction" }))
{
    @Html.Hidden("id", Model.Resource.Id)
    @Html.Hidden("actionid", "", new { id = "getaction_id" })
}

@using (Html.BeginForm("SyntaxCheck", "Sourcecode", FormMethod.Post, new { id = "syntaxcheckform" }))
{
    @Html.Hidden("code", "", new { id = "syntaxcheckform_code" })
}

<div id="xcelimport">
    @Html.Partial("FileUpload", importFileModel)
    <div id="xcelimportresult"></div>
</div>

<div id="xmlimport">
    @Html.Partial("FileUpload", importXmlFileModel)
    <div id="xmlimportresult"></div>
</div>

<script type="text/javascript">
    function isFullScreen(cm) {
        return /\bCodeMirror-fullscreen\b/.test(cm.getWrapperElement().className);
    }
    function winHeight() {
        return window.innerHeight || (document.documentElement || document.body).clientHeight;
    }
    function setFullScreen(cm, full) {
        var wrap = cm.getWrapperElement(), scroll = cm.getScrollerElement();
        if (full) {
            wrap.className += " CodeMirror-fullscreen";
            scroll.style.height = winHeight() + "px";
            document.documentElement.style.overflow = "hidden";
        } else {
            wrap.className = wrap.className.replace(" CodeMirror-fullscreen", "");
            scroll.style.height = "";
            document.documentElement.style.overflow = "";
        }
        cm.refresh();
    }
    CodeMirror.connect(window, "resize", function () {
        var showing = document.body.getElementsByClassName("CodeMirror-fullscreen")[0];
        if (!showing) return;
        showing.CodeMirror.getScrollerElement().style.height = winHeight() + "px";
    });
</script>

<script type="text/javascript">
    syntaxCheckLevels = [
        { title: "Info", color: "blue" },
        { title: "Warning", color: "Yellow" },
        { title: "Error", color: "Red" }
    ];

    function syntaxCheckEditor(cme) {
        // the syntax check is causing the server to fall over in certain scenarios due to a bug in Irony, so I am disabling this for the moment. Neil.
        /*       $("#syntaxcheckform_code").val(cme.getValue());

               CurrentDesignerManager.submitForm($("#syntaxcheckform"), function (response) {

                   // Clear old messages
                   for (var i in cme.syntaxCheckMessageMarkers)
                   {
                       var mt = cme.syntaxCheckMessageMarkers[i];
                       cme.clearMarker(mt.gutterMarker);
                       mt.markedText.clear();
                   }

                   cme.syntaxCheckMessageMarkers = [];

                   for (var i in response.Messages) {
                       var m = response.Messages[i];

                       var mt = {
                           markedText: cme.markText({ line: m.Line, ch: m.Column }, { line: m.Line, ch: m.Column + m.Length }, "squiggle", { inclusiveLeft: false, inclusiveRight: false }),
                           gutterMarker: cme.setMarker(m.Line, "<span class=\"codemarker\" data-placement=\"left\" data-title=\"" + syntaxCheckLevels[m.Level].title + " on Line " + m.Line + " Column " + m.Column + "\" data-content=\"" + m.Message + "\" style=\"color: " + syntaxCheckLevels[m.Level].color + "\">●</span> %N%")
                           };
                       cme.syntaxCheckMessageMarkers.push(mt);
                   }
               }); */
    }
    $(function () {
        $("#edittab a:first").tab('show');

        $('#tabitemsource').on('shown', function (e) {
            if (codeMirrorEditor == null) {
                var codeMirrorOptions =
                {
                    lineNumbers: true,
                    theme: "neat",
                    extraKeys:
                    {
                        "F11": function (cm) {
                            setFullScreen(cm, !isFullScreen(cm));
                        },
                        "Esc": function (cm) {
                            if (isFullScreen(cm)) setFullScreen(cm, false);
                        }
                    },
                    onChange: function (cme, from, to, text, next) {
                        if (cme.SyntaxCheckTimer)
                            window.clearInterval(cme.SyntaxCheckTimer);
                        cme.SyntaxCheckTimer = window.setTimeout(function () {
                            syntaxCheckEditor(cme);
                        }, 1000);
                    }

                };
                codeMirrorEditor = CodeMirror.fromTextArea($("#sourcecode")[0], codeMirrorOptions);
            }
        });

        //$('#addaction@(uniqueId)').dropdown();

        $(document).on("mouseenter mouseleave", ".codemarker", function () {
            $(this).popover();
        });

        $(document).off('click', "#addpage@(uniqueId)");
        $(document).on('click', "#addpage@(uniqueId)", function (event, data) {
            CurrentDesignerManager.submitForm($("#designdocumentmanagement_addsection"), function (responseText, angularise) {
                $("#pageselector").append(responseText);
                $("#nopagenotification").hide('fade');
                angularise($("#pageselector"));
            });
        });

        $("#menuAddActions@(uniqueId) a").click(function (event) {
            $("#designdocumentmanagement_addaction_key").val($(this).metadata().type);
            CurrentDesignerManager.submitForm($("#designdocumentmanagement_addaction"), function (responseText, angularise) {
                $("#actionselector").append(responseText);
                $("#noactionnotification").hide('fade');
                angularise($("#actionselector"));
            });
        });

        $(document).off('click', "#submitmaineditor");
        $(document).on('click', "#submitmaineditor", function (event, data) {
            var form = $("#designdocumenteditorui");


            $(this).button("loading");

            $("#@uniqueId").trigger('save', { form: form, container: $("#container@(uniqueId)") });
        });

        $(document).off("save", "#@uniqueId");
        $(document).on("save", "#@uniqueId", function (event, data) {

            event.stopPropagation();
            var form = $("#designdocumenteditorui");
            form.html('');

            $('<input type="hidden" name="id" id="designdocumenteditorui_id" />').val('@Model.Resource.Id').appendTo(form);

            $('<input type="hidden" name="designdocumenteditorui_name" />').val($("#@editorId [name='name']").val()).appendTo(form);
            $('<input type="hidden" name="designdocumenteditorui_finishmode" />').val($("#@editorId [name='finishmode']")).appendTo(form);

            $("#@editorId [name]").each(function (i) {
                var n = $(this).attr('name');
                if (n == 'labels') {
                    if ($(this).prop('checked')) {
                        $('<input type="hidden" name="' + n + '"/>').val($(this).val()).appendTo(form);
                    }
                }
                else {
                    $('<input type="hidden" name="' + n + '"/>').val($(this).val()).appendTo(form);
                }
            });

            var sourceCode = $("#sourcecode").val();
            if (codeMirrorEditor != null) {
                sourceCode = codeMirrorEditor.getValue();
            }

            $('<input type="hidden" name="sourcecode" />').val(sourceCode).appendTo(form);

            $("#designdocumenteditorui").submit();
        });

        $("#designdocumenteditorui").submit(function () {
            CurrentDesignerManager.submitForm($("#designdocumenteditorui"), $("#general"));
            return false;
        });

        $("#editpagedialog").on('hide', function (evt) {
            if (evt.target.id != 'editpagedialog') {
                return;
            }

            if ($("#editpagedialog").data('selectedpage') == undefined) {
                return;
            }

            $("#designdocumentmanagement_getsectionlistitem_pageid").val($("#editpagedialog").data('selectedpage').metadata().id);

            CurrentDesignerManager.submitForm($("#designdocumentmanagement_getsectionlistitem"), function (responseText, angularise) {
                // we get back on the name, labels and source code stuff, so only replace those
                $("#editpagedialog").data('selectedpage').replaceWith(responseText);
                angularise($("#editpagedialog"));
            });
        });

        $(document).off('click', "#pageselector li");
        $(document).on('click', "#pageselector li", function (event, data) {
            $("#editpagedialogbody").html("<p>Loading ...</p>");
            var height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
            height = height - 134;
            $("#editpagedialogbody").css('max-height', height + 'px');
            $("#editpagedialog").modal();

            $("#editpagedialog").data('selectedpage', $(this));

            $("#getpage_id").val($(this).metadata().id);
            CurrentDesignerManager.submitForm($("#getpage"), $("#editpagedialogbody"));
        });

        $(document).off('click', "#actionselector li");
        $(document).on('click', "#actionselector li", function (event, data) {
            $("#editactiondialogbody").html("<p>Loading ...</p>");
            $("#editactiondialog").modal();

            $("#editactiondialog").data('selectedaction', $(this));

            $("#getaction_id").val($(this).metadata().id);
            CurrentDesignerManager.submitForm($("#getaction"), $("#editactiondialogbody"));
        });

        $(document).off('save', "#editactiondialog");
        $(document).on('save', "#editactiondialog", function (event, data) {
            event.stopPropagation();
            var container = data.container;
            CurrentDesignerManager.submitForm(data.form, function (responseText, angularise) {
                var jq = $(responseText);
                container.replaceWith(jq);
                angularise(jq);
            });
        });

        $(document).off('click', "#editpagedialogremovepage");
        $(document).on('click', "#editpagedialogremovepage", function () {
            if (confirm('Are you sure you want to delete this page, this can not be undone') == false) {
                return false;
            }

            $("#designdocumentmanagement_removesection_pageid").val($("#editpagedialog").data('selectedpage').metadata().id);

            CurrentDesignerManager.submitForm($("#designdocumentmanagement_removesection"), function (responseText) {
                var sel = $("#editpagedialog").data('selectedpage');
                $("#editpagedialog").removeData('selectedpage');
                $("#editpagedialog").modal('hide');
                // we get back on the name, labels and source code stuff, so only replace those
                sel.remove();
            });
        });

        $(document).off('click', "#editpagedialogremoveaction");
        $(document).on('click', "#editpagedialogremoveaction", function () {
            if (confirm('Are you sure you want to delete this facility, this can not be undone') == false) {
                return false;
            }

            $("#designdocumentmanagement_removeaction_actionid").val($("#editactiondialog").data('selectedaction').metadata().id);

            CurrentDesignerManager.submitForm($("#designdocumentmanagement_removeaction"), function (responseText) {
                var sel = $("#editactiondialog").data('selectedaction');
                $("#editactiondialog").removeData('selectedaction');
                $("#editactiondialog").modal('hide');
                // we get back on the name, labels and source code stuff, so only replace those
                sel.remove();
            });
        });

        // the following is raised when a control requires the form to retrieve the select pages content
        $(document).off('selectpagesrequired', "#editpagedialog");
        $(document).on('selectpagesrequired', "#editpagedialog", function (event, data) {
            data.form = $("#designdocumentmanagement_getselectpages");
        });

        $(document).off("serveraddeditem", "#editpagedialogbody");
        $(document).on("serveraddeditem", "#editpagedialogbody", function (event, data) {
            event.stopPropagation();
        });

        $("#pageselector").documentdesignerdragdropmanager('init', '#pageselector', {
            placeholder: "dragdrop-highlight-drop span3 page thumbnail",
            handle: ".handle",
            moveFinished: function (data) {
                $("#movepage_id").val(data.item.metadata().id);
                $("#movepage_newIndex").val(data.newIndex);

                CurrentDesignerManager.submitForm($("#rendersectionui_movepage"), function (responseText) {
                    $(data.item).effect("highlight", { 'color': '#ccffcc' }, 3000);
                });
            }
        });

        $(document).off('uploadcompleted', '#@(importFileModel.ActivateOnElementIdClicked)');
        $(document).on('uploadcompleted', '#@(importFileModel.ActivateOnElementIdClicked)', function (event, data) {
            $('#xcelimportresult').html(data);
        });

        $(document).off('uploadcompleted', '#@(importXmlFileModel.ActivateOnElementIdClicked)');
        $(document).on('uploadcompleted', '#@(importXmlFileModel.ActivateOnElementIdClicked)', function (event, data) {
            $('#xmlimportresult').html(data);
        });

        $(document).off('click', '#export@(uniqueId)');
        $(document).on('click', '#export@(uniqueId)', function () {
            $('#exportlink@(uniqueId)')[0].click();
        });

        $(document).off('click', '#exportXml@(uniqueId)');
        $(document).on('click', '#exportXml@(uniqueId)', function () {
            $('#exportXmlLink@(uniqueId)')[0].click();
        });
    });
</script>