﻿@model IEnumerable<ConceptCave.www.Areas.Designer.Models.ResourceEditorModel>
@{
    this.Layout = null;
}

<ul id="itemlist" class="nav nav-tabs nav-stacked search-list">
    @foreach (var i in Model)
    {
        <li id="resourcelistitem@(i.Id)" class="{id: '@i.Id'}">
            @Html.Partial("RenderResourceListItem", i)
        </li>
    }
</ul>
