﻿@model ConceptCave.Checklist.Interfaces.ISection

<li class="span3 page {id:'@(Model.Id)'}"><a href="#" class="thumbnail"><i class="icon-move handle"></i><span class="title">@(string.IsNullOrEmpty(Model.Prompt) == false ? Model.Prompt : Model.Name)</span></a></li>