﻿@model ConceptCave.Checklist.Interfaces.INamedList<ConceptCave.Checklist.Interfaces.ISection>
@{
    var uniqueId = Guid.NewGuid().ToString();
    
}

<ul id="pageselector@(uniqueId)" class="thumbnails">
@{
                    
    foreach (var section in Model)
    {
        @Html.Partial("RenderPageListItem", section)  
    }
}
</ul> 

<script type="text/javascript">
    $(function () {
        $(document).off('click', "#pageselector@(uniqueId) li");
        $(document).on('click', "#pageselector@(uniqueId) li", function () {
            $("#pageselector@(uniqueId)").trigger('itemselected', $(this).metadata());
        });
    });
</script>