﻿@model ConceptCave.www.Areas.Designer.Models.DesignDocumentManagerModelItem
<div style="float:left">@Model.Name</div>
<div style="overflow:hidden;text-align:right"><button id="@string.Format("remove{0}", Model.Id)" type="button" class="removedesigndocument {selectedid: '@Model.Id'}"></button></div>
<script type="text/javascript">
    $(function () {
        $("#@string.Format("remove{0}", Model.Id)").button({ icons: { primary: 'ui-icon-trash'}, text: false});
        $(document).on('click', "#@string.Format("remove{0}", Model.Id)", function(event) {
            $(event.target).trigger("itemdeleted", $(event.target).metadata());
        });
    });
</script>

