﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Editor.Question)Model.Resource;

    var uniqueId = Guid.NewGuid().ToString();
    var existingValidatorsId = "existing" + uniqueId;
    string menuId = "menu" + uniqueId.ToString();
    var qAsTemplatePresentable = question as ConceptCave.Checklist.Interfaces.ITemplatedPresentable;
}
<div style="min-height:300px;">
    @if (qAsTemplatePresentable == null)
    {
        <p translate>Templates are not supported for this question type</p>
    }
    else
    {
        @Html.EditorFor(m => m.Resource, "ITemplatedPresentable")
    }
</div>