﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.Checklist.Editor.Reporting.RepeaterQuestion)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        Data Feed content will be repeated
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Data Repeater Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                        @Html.LabelFor(m => question.DataSource, new { translate = "" })
                        @Html.EditorFor(m => question.DataSource, null, "datasource")

                        @Html.LabelFor(m => question.HideWhenNoData, new { translate = "" })
                        @Html.EditorFor(m => question.HideWhenNoData, null, "hidewhennodata")

                        @Html.LabelFor(m => question.UpdateDataSources, new { translate = "" })
                        @Html.EditorFor(m => question.UpdateDataSources, null, "updatedatasources")

                        @Html.LabelFor(m => question.ClearDataSources, new { translate = "" })
                        @Html.EditorFor(m => question.ClearDataSources, null, "cleardatasources")


                        @Html.LabelFor(m => question.ShowControls, new { translate = "" })
                        @Html.EditorFor(m => question.ShowControls, null, "showcontrols")

                        @Html.LabelFor(m => question.RepeatContent, new { translate = "" })
                        <textarea ng-non-bindable name="repeatcontent" rows="10" cols="10" style="width:95%">@Html.Raw(question.RepeatContent)</textarea>

                    </fieldset>
                }
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>


