﻿@model ConceptCave.www.Areas.Designer.Models.ResourcesEditorModel
@{
    var uniqueId = Guid.NewGuid().ToString();
}

<div id="management" class="container-fluid">
    <div class="row-fluid">
        <div id="managementlist" class="span4">
            <div style="float:left">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" id="search@(uniqueId)" placeholder="{{ 'Search Resources' | translate }}" /><button id="btn@(uniqueId)" class="btn" type="button" translate>Search</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="itemlistnav" style="text-align:right;padding:4px;float:right">
                <button id="additem" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                <button id="removeitem" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
            </div>
            <div class="clear">&nbsp;</div>
            <div id="itemlist">
                @Html.Partial("RenderResourceList", Model.Resources)
            </div>
            <ul class="pager">
              <li><a id="itemlistprevious" href="#" translate>Previous</a></li>
              <li><a id="itemlistnext" href="#" translate>Next</a></li>
            </ul>
        </div>
        <div class="span8">
            <div id="resourcedesignerui" class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                <div class="hero-unit">
                <h1 translate>Resource Management</h1>
                    <translate>Resources allow you to define checklists and other entities.</translate>
                </div>
            </div>

            <div id="modaldialog" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 translate>Dialog</h3>
                </div>

                <div id="modaldialogcontent" class="modal-body">

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "ResourceManagement", FormMethod.Post, new { id = "resourcesearch" }))
{
    @Html.Hidden("term", "", new { id = "resourcesearch_term" })
    @Html.Hidden("pagenumber", "1", new { id = "resourcesearch_pagenumber" })
    @Html.Hidden("pagesize", "10", new { id = "resourcesearch_pagesize" })
}

@using (Html.BeginForm("Add", "ResourceManagement", FormMethod.Post, new { id = "newresource" }))
{
    @Html.Hidden("key", "", new { id = "resourcekey" });
}

@using (Html.BeginForm("Remove", "ResourceManagement", FormMethod.Post, new { id = "removeresource" }))
{
    @Html.Hidden("id", "", new { id = "removeresourceid" });
}

<script type="text/javascript">
    var itemselected = null;

    $(function () {
        var options = {
            rootUrl: '@Url.ToFullyQualifiedUrl("~/")',
            editorElement: $("#resourcedesignerui"),
            loadDesignerUrl: 'Designer/GetResourceDesignerUI?id=',
            loadListItemUrl: 'Designer/GetResourceListItem?id=',
            listItemPrefix: 'resourcelistitem',
            createListItemCallBack: function (elementid, id) {
                $('<li id="' + elementid + '" class="resourcelistitem {id:\'' + id + '\'}"></li>').appendTo("#itemlist ul");
            }
        };

        CreateDesignerManager(options);

        CreateDialogManager($("#modaldialog"), $("#modaldialogcontent"), $("#savemodaldialog"));

        $(document).off('click', '#itemlist li');
        $(document).on('click', '#itemlist li', function () {
            if (itemselected != null) {
                $(itemselected).removeClass('active');
            }

            itemselected = this;

            $(itemselected).addClass('active');
            CurrentDesignerManager.loadDesigner($(this).metadata().id);
        });

        $(document).off('designerreload', '#resourcedesignerui');
        $(document).on('designerreload', '#resourcedesignerui', function (event, data) {
            CurrentDesignerManager.loadDesigner(data.id);
        });

        $("#managementlist #additem").click(function (event) {
            CurrentDesignerManager.newItem($("#newresource"));
        });

        $("#managementlist #removeitem").click(function (event) {
            if (itemselected == null) {
                return false;
            }

            $("#itemlist").trigger('itemdeleted', { selectedid: $(itemselected).metadata().id });
        });

        $(document).off("itemdeleted", '#itemlist');
        $(document).on("itemdeleted", '#itemlist', function (event, data) {
            $("#removeresourceid").val(data.selectedid);
            CurrentDesignerManager.removeItem($("#removeresource"));
        });

        $(document).off("save", "#resourcedesignerui");
        $(document).on("save", "#resourcedesignerui", function (event, data) {
            CurrentDesignerManager.save(data.form);
        });

        $(document).off("serverdeleteditem", "#resourcedesignerui");
        $(document).on("serverdeleteditem", "#resourcedesignerui", function (event, data) {
            CurrentDesignerManager.removeListItem(data.id);
        });

        $(document).off("serveraddeditem", "#resourcedesignerui");
        $(document).on("serveraddeditem", "#resourcedesignerui", function (event, data) {
            CurrentDesignerManager.loadListItem(data.id);
        });

        var searchResource = function () {
            $("#resourcesearch_term").val($("#search@(uniqueId)").val());

            CurrentDesignerManager.submitForm("#resourcesearch", $("#itemlist"));
        };

        var setPageNumber = function (value, isIncrement) {
            if (isIncrement == false) {
                // its an actual specific page
                if (value < 1) {
                    return;
                }
                $("#resourcesearch_pagenumber").val(value);
                return;
            }

            var cp = parseInt($("#resourcesearch_pagenumber").val());
            if (cp + value < 1) {
                return;
            }

            $("#resourcesearch_pagenumber").val(cp + value);
        }

        $("#btn@(uniqueId)").click(function () {
            setPageNumber(1, false);
            searchResource();
        });

        $("#search@(uniqueId)").keypress(function (event) {
            if (event.which == 13) {
                event.preventDefault();
                setPageNumber(1, false);
                searchResource();
            }
        });

        $("#itemlistprevious").click(function () {
            setPageNumber(-1, true);
            searchResource();
        });

        $("#itemlistnext").click(function () {
            setPageNumber(1, true);
            searchResource();
        });
    });
</script>
