﻿@using ConceptCave.BusinessLogic.Questions
@using ConceptCave.Repository
@using ConceptCave.www.Models
@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var question = (SelectODataQuestion)Model.Resource;

}
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
    </div>
    <div id="@editorId" style="display:none">
        <div class="page-header">
            <h3 translate>Select OData</h3translate>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
            <li><a href="#tabs-Validators@(uniqueId)" data-toggle="tab" translate>Rules</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    <fieldset>
                        <div class="row-fluid">
                            <div class="span4">
                                @Html.Partial("ResourceCommonFormFields", Model)
                                @Html.Partial("QuestionPropertyEditor", Model)
                            </div>
                        </div>
                        @Html.LabelFor(m => question.DataSource, new { translate = "" })
                        @Html.EditorFor(m => question.DataSource, null, "datasource")

                        @Html.LabelFor(m => question.UpdateDataSources, new { translate = "" })
                        @Html.EditorFor(m => question.UpdateDataSources, null, "updatedatasources")

                        @Html.LabelFor(m => question.ClearDataSources, new { translate = "" })
                        @Html.EditorFor(m => question.ClearDataSources, null, "cleardatasources")


                    </fieldset>
                } 
            </div>
	        <div class="tab-pane" id="tabs-Validators@(uniqueId)">
                @Html.Partial("RenderQuestionValidators", Model)
	        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>
