﻿@model ConceptCave.Repository.Facilities.MessagingFacility.MessagingTemplate
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();

    if (ViewBag.ActionTaken != null && ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
    {
        <div id="@uniqueId" style="display:none">&nbsp;</div>
        <script type="text/javascript">
            $(function () {
                $("#@uniqueId").trigger("servertemplatedeleted", { selectedid: '@Model.Id' });
            });
        </script>
        
        return;
    }
    var template = Model;
    //This bit of functional programming maps out the list of labels and users into a comma seperated string
    var userBuilder = template.RecipientUsers.Aggregate(new System.Text.StringBuilder(), (wip, usr) => wip.Append(usr.Name).Append(", "));
    var userString = userBuilder.ToString(0, System.Math.Max(userBuilder.Length - 2, 0));
    var labelBuilder = template.RecipientLabels.Aggregate(new System.Text.StringBuilder(), (wip, lbl) => wip.Append(lbl.Name).Append(", "));
    var labelString = labelBuilder.ToString(0, System.Math.Max(labelBuilder.Length - 2, 0));
}


<tr id="template-row-@(Model.Id)" data-template-id="@(Model.Id)">
    <td>@Model.Name</td>
    <td>@if (Model.Sender != null)
    {
            @Model.Sender.Name
    }</td>
    <td>@userString</td>
    <td>@labelString</td>
    <td>@(Model.RequiresAcknowledgement ? "Y" : "N")</td>
    <td>
    <button id="@string.Format("edit{0}", Model.Id)" type="button" class="btn {selectedid:'@Model.Id', element:'#template-row-@(Model.Id)'}"><i class="icon-edit"></i></button>
    <button id="@string.Format("remove{0}", Model.Id)" type="button" class="btn btn-danger {selectedid: '@Model.Id', element:'#template-row-@(Model.Id)'}"><i class="icon-trash icon-white"></i></button>
    </td>
</tr>

<script type="text/javascript">
    $(function () {
        $(document).off("click", "#@string.Format("edit{0}", Model.Id)");
        $(document).on('click', "#@string.Format("edit{0}", Model.Id)", function(event) {
            $(event.currentTarget).trigger("templateedit", $(event.currentTarget).metadata());
        });

        $(document).off("click", "#@string.Format("remove{0}", Model.Id)");
        $(document).on('click', "#@string.Format("remove{0}", Model.Id)", function(event) {
            $(event.currentTarget).trigger("templatedeleted", $(event.currentTarget).metadata());
        });
    });
</script>