﻿@model ConceptCave.www.Areas.Designer.Models.EditEmailFacilityModel
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();

    Guid fake = Guid.Empty;
}

@Html.LabelFor(m => m.Attachments, "Attachments")
@if (Model.Attachments.Count > 0)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th translate>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="tableattachments@(uniqueId)">
            @foreach (var a in Model.Attachments)
            {
                <tr id="@a.Id">
                    <td>@a.Name</td>
                    <td><button id="@string.Format("remove{0}", a.Id)" type="button" class="btn btn-danger {selectedid: '@a.Id', element:'#@(a.Id)'}"><i class="icon-trash icon-white"></i></button></td>
                </tr>
            }
        </tbody>
    </table>
    
    <script type="text/javascript">
    $(function () {
        $(document).off("click", "#tableattachments@(uniqueId) .btn-danger");
        $(document).on('click', "#tableattachments@(uniqueId) .btn-danger", function (event) {
            $(event.currentTarget).trigger("attachmentdeleted", $(event.currentTarget).metadata());
        });
    });
    </script>
}

@Html.EditorFor(m => fake, "SingleMedia", new { ShowSelected = false })
