﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var facility = (ConceptCave.Repository.Facilities.MessagingFacility)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@(displayId)" class="editordisplay">
        <h1></h1>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th translate>Name</th>
                    <th translate>From</th>
                    <th translate>To Users</th>
                    <th translate>To Labels</th>
                    <th translate>Requires Acknowledement</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in facility.Templates)
                {
                    //This bit of functional programming maps out the list of labels and users into a comma seperated string
                    var userBuilder = template.RecipientUsers.Aggregate(new System.Text.StringBuilder(), (wip, usr) => wip.Append(usr.Name).Append(", "));
                    var userString = userBuilder.ToString(0, System.Math.Max(userBuilder.Length-2, 0));
                    var labelBuilder = template.RecipientLabels.Aggregate(new System.Text.StringBuilder(), (wip, lbl) => wip.Append(lbl.Name).Append(", "));
                    var labelString = labelBuilder.ToString(0, System.Math.Max(labelBuilder.Length-2, 0));
                         
                    <tr>
                        <td>@template.Name</td>
                        <td>@if (template.Sender != null)
                            {
                                @template.Sender.Name
                            }
                            else
                            {
                                
                            }</td>
                        <td>@userString</td>
                        <td>@labelString</td>
                        <td>@(template.RequiresAcknowledgement ? "Y" : "N")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="@(editorId)" style="display: none;" class="editoredit">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th translate>Name</th>
                    <th translate>From</th>
                    <th translate>To Users</th>
                    <th translate>To Labels</th>
                    <th translate>Requires Acknowledgement</th>
                    <th class="action add"><button id="addtemplate@(uniqueId)" type="button" class="btn btn-success"><i class="icon-plus-sign icon-white"></i></button></th>
                </tr>
            </thead>
            <tbody id="tabletemplates@(uniqueId)">
            @foreach (var template in facility.Templates)
            {
                @Html.Partial("SendMessageTemplateItem", template);
            }    
            </tbody>
        </table>
    </div>

     <div class="modal hide fade" id="edittemplate@(uniqueId)">
        <div class="modal-header">
            <button type="button" class="close dismiss">×</button>
            <h3 translate>Message Template</h3>
        </div>
        <div class="modal-body" id="edittemplatebody@(uniqueId)">
    
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" translate>Save</a>
            <a href="#" class="btn dismiss" translate>Close</a>
        </div>
    </div>

    @using (Html.BeginForm("Index", "EditMessageFacility", FormMethod.Post, new { id = "addtemplateform" + uniqueId}))
    {
        @Html.Partial("ResourceCommonFormFields", Model)
        @Html.Hidden("facilityId", Model.Resource.Id)
        @Html.Hidden("templateId", "", new {id = "addtemplateform_templateid" + uniqueId, disabled = "disabled"})
    }

    @using (Html.BeginForm("Delete", "EditMessageFacility", FormMethod.Post, new { id = "deletetemplateform" + uniqueId }))
    {
        @Html.Partial("ResourceCommonFormFields", Model)
        @Html.Hidden("facilityId", Model.Resource.Id);
        @Html.Hidden("templateId", "", new { id = "deletetemplateform_templateid" + uniqueId} )                                            
    }

</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () {
                $('#getaction_id').val('@(Model.RootId)');
                $('#getaction').ajaxSubmit({ success: function (responseText) {
                    $('#editactiondialogbody').html(responseText);
                }
                });
            },
            deleteCallback: function () { ; }
        };

        var dlog = $("#edittemplate@(uniqueId)");
        var dlogbody = $("#edittemplatebody@(uniqueId)");
        var tbody = $("#tabletemplates@(uniqueId)");

        $("#container@(uniqueId)").displayoredit(options);

        var showtemplatedialog = function (isNew, tid) {
            var form = $("#addtemplateform@(uniqueId)");
            var idel = $('#addtemplateform_templateid@(uniqueId)');
            if (isNew) {
                $(idel).attr("disabled", "disabled");
            }
            else {
                $(idel).removeAttr("disabled");
                $(idel).val(tid);
            }
            $(dlog).data("IsNew", isNew);
            $(dlogbody).empty(); //We're going to fetch the designer in a sec
            $(dlog).modal();

            CurrentDesignerManager.submitForm(form, dlogbody);
        };

        $("#addtemplate@(uniqueId)").click(function () {
            showtemplatedialog(true);
        });

        //Edit functionality
        $(document).on("templateedit", "#tabletemplates@(uniqueId)", function (ev, metadata) {
            showtemplatedialog(false, metadata.selectedid);
        });

        //delete
        $(document).on("templatedeleted", "#tabletemplates@(uniqueId)", function (ev, metadata) {
            var form = $("#deletetemplateform@(uniqueId)")[0];
            var idel = $('#deletetemplateform_templateid@(uniqueId)');
            $(idel).val(metadata.selectedid);
            CurrentDesignerManager.submitForm(form, function (responseText) {
                $(metadata.element).remove();
            });
        });

        //Management for the new dialog
        $(document).on("click", "#edittemplate@(uniqueId) .btn-primary", function () {

            var form = $("#edittemplatebody@(uniqueId) form")[0];
            CurrentDesignerManager.submitForm($(form), function (responseText, angularise) {
                var newrow = $($.parseHTML(responseText));
                var templateid = $(newrow).data('template-id');
                if ($(dlog).data("IsNew") == true) {
                    $(tbody).append(newrow);
                }
                else {
                    $("#template-row-" + templateid).replaceWith(newrow);
                }
                $(dlog).modal('hide');
                angularise(newrow);
            });
        });
        $(document).on("click", "#edittemplate@(uniqueId) .dismiss", function () {
            //handles closing
            $(dlog).modal('hide');
        });
    });
</script>