﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var signatureId = "sig" + uniqueId;
    var typedId = signatureId + "typed";
    var padId = signatureId + "pad";

    var question = (ConceptCave.Checklist.Editor.SignatureQuestion)Model.Resource;

    string defaultAnswer = (string)question.DefaultAnswer;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <span class="help-block">@question.Note</span>
        <div id="@signatureId" class="sig sigWrapper">
            <div id="@typedId" class="typed" translate>Example Signature</div>
            <canvas id="@padId" class="pad" width="198" height="55"></canvas>
         </div>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Signature Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
            <li><a href="#tabs-Validators@(uniqueId)" data-toggle="tab" translate>Rules</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)
  
                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                        @Html.LabelFor(m => question.AllowTypedEntry, new { translate = "" })
                        @Html.EditorFor(m => question.AllowTypedEntry, null, "allowtypedentry")

                        @Html.LabelFor(m => question.Width, new { translate = "" })
                        @Html.EditorFor(m => question.Width, null, "width")

                        @Html.LabelFor(m => question.Height, new { translate = "" })
                        @Html.EditorFor(m => question.Height, null, "height")

                        @Html.LabelFor(m => question.TakePictureWhenSigning, new { translate = "" })
                        @Html.EditorFor(m => question.TakePictureWhenSigning, null, "takepicture")

                        @Html.LabelFor(m => question.ShowTakenPicture, new { translate = "" })
                        @Html.EditorFor(m => question.ShowTakenPicture, null, "showpicture")
                        <p class="alert" translate>Note currently picture being taken when signing is not implemented due to browser limitations</p>
                    </fieldset>
                } 
	        </div>
	        <div class="tab-pane" id="tabs-Validators@(uniqueId)">
                @Html.Partial("RenderQuestionValidators", Model)
	        </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>


