﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var question = (ConceptCave.Checklist.Editor.Reporting.TableQuestion)Model.Resource;
}
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay" style="min-height:15px">
        <h3>@question.Prompt</h3>
    </div>
    <div id="@editorId" style="display:none">
        <div class="page-header">
            <h3 translate>Label</h3>
        </div>
        @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
        {
            @Html.Partial("ResourceCommonFormFields", Model)

            <fieldset>
                @Html.Partial("QuestionPropertyEditor", Model)
                @Html.LabelFor(m => question.DataSource, new { translate = "" })
                @Html.EditorFor(m => question.DataSource, null, "datasource")

                @Html.LabelFor(m => question.HideWhenNoData, new { translate = "" })
                @Html.EditorFor(m => question.HideWhenNoData, null, "hidewhennodata")

                @Html.LabelFor(m => question.UpdateDataSources, new { translate = "" })
                @Html.EditorFor(m => question.UpdateDataSources, null, "updatedatasources")

                @Html.LabelFor(m => question.UseDataSourceVisibleFields, new { translate = "" })
                @Html.EditorFor(m => question.UseDataSourceVisibleFields, null, "usedatasourcevisiblefields")

                @Html.LabelFor(m => question.ClearDataSources, new { translate = "" })
                @Html.EditorFor(m => question.ClearDataSources, null, "cleardatasources")

                @Html.LabelFor(m => question.VisibleFields, new { translate = "" })
                @Html.EditorFor(m => question.VisibleFields, null, "visiblefields")

                @Html.LabelFor(m => question.ShowControls, new { translate = "" })
                @Html.EditorFor(m => question.ShowControls, null, "showcontrols")

                @Html.LabelFor(m => question.Stripes, new { translate = "" })
                @Html.EditorFor(m => question.Stripes, null, "stripes")

                @Html.LabelFor(m => question.Bordered, new { translate = "" })
                @Html.EditorFor(m => question.Bordered, null, "borderd")

                @Html.LabelFor(m => question.Hover, new { translate = "" })
                @Html.EditorFor(m => question.Hover, null, "hover")

                @Html.LabelFor(m => question.Condense, new { translate = "" })
                @Html.EditorFor(m => question.Condense, null, "condense")
            </fieldset>
        } 
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>
