﻿@model ConceptCave.www.Areas.Designer.Models.ValidatorEditorModel
@{
    this.Layout = null;

    var question = (ConceptCave.Checklist.Interfaces.IQuestion)Model.ResourceModel.Resource;
    var validator = (ConceptCave.Checklist.ProcessingRules.TableFormatterRule)Model.Validator;

    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var JsonModel = new ConceptCave.www.Models.JSONDataModel() { RootId = question.Id.ToString() };
}

<register-translations>
    <this-question-will-not-be-shown-when-added-to-table-formatter>This question <span ng-if="visible">will</span><span ng-if="!visible">will not</span> be shown when added to a table formatter.</this-question-will-not-be-shown-when-added-to-table-formatter>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <span translate ng-init="visible=@validator.Visible">this-question-will-not-be-shown-when-added-to-table-formatter</span>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <label class="above" for="visible@(editorId)" translate>Visible</label>
        <input type="checkbox" id="visible@(editorId)" @(validator.Visible == true ? "checked" : "") />
   </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { 
                var item = $("#container@(uniqueId)").jsondatamodel('getItem', '@validator.Id');

                item.Properties.push({ Name: '@ConceptCave.www.Areas.Designer.Models.TableFormatterRuleJSONDataConverter.VisiblePropertyName', Value: $("#visible@(editorId)").is(":checked") });

                $("#container@(uniqueId)").trigger('save', { model: $("#container@(uniqueId)").jsondatamodel('getModel'), container: $("#container@(uniqueId)") }); 
            },
            deleteCallback: function () { $("#container@(uniqueId)").trigger('delete', { id: '@Model.Validator.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
        
        $("#container@(uniqueId)").jsondatamodel('setModel', @Html.Raw(Json.Encode(JsonModel)));
        $("#container@(uniqueId)").jsondatamodel('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = validator.Id.ToString() })));
    });
</script>