﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var question = (ConceptCave.BusinessLogic.Questions.TaskBatchOperationsQuestion)Model.Resource;

}
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay" style="min-height:15px">
        <h3>@question.Prompt</h3>
    </div>
    <div id="@editorId" style="display:none">
        <div class="page-header">
            <h3 translate>Task Batch Operations</h3>
        </div>

        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                        <div class="row-fluid">
                            <div class="span6">
                                @Html.LabelFor(m => question.AssignToDatasource, "Assign To Datasource")
                                @Html.EditorFor(m => question.AssignToDatasource, null, "assigntodatasource")
                                <div style="clear:both;">&nbsp;</div>
                            </div>
                            <div class="span6">
                                @Html.LabelFor(m => question.AssignToParameterName, "Assign To Parameter Name")
                                @Html.EditorFor(m => question.AssignToParameterName, null, "assigntoparametername")                            
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                @Html.LabelFor(m => question.UpdateDatasource, "Update Datasource")
                                @Html.EditorFor(m => question.UpdateDatasource, null, "updatedatasource")                            
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                @Html.LabelFor(m => question.UseButtons, "Use Buttons")
                                @Html.EditorFor(m => question.UseButtons, null, "usebuttons")

                            </div>
                            <div class="span6">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                @Html.LabelFor(m => question.AllowReassign, "Allow Task Reassign")
                                @Html.EditorFor(m => question.AllowReassign, null, "allowreassign")
                            </div>
                            <div class="span6">
                                @Html.LabelFor(m => question.AllowCancellation, "Allow Task Cancellation")
                                @Html.EditorFor(m => question.AllowCancellation, null, "allowcancellation")
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                @Html.LabelFor(m => question.AllowFinishByManagement, "Allow Finish By Management")
                                @Html.EditorFor(m => question.AllowFinishByManagement, null, "allowfinishbymanagement")
                            </div>
                            <div class="span6">
                                @Html.LabelFor(m => question.AllowFinishComplete, "Allow Finish Complete")
                                @Html.EditorFor(m => question.AllowFinishComplete, null, "allowfinishcomplete")
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                @Html.LabelFor(m => question.AquireTasksWhenFinishing, "Aquire Tasks When Finishing")
                                @Html.EditorFor(m => question.AquireTasksWhenFinishing, null, "aquiretaskswhenfinishing")
                            </div>
                            <div class="span6">
                                @Html.LabelFor(m => question.AllowDelete, "Allow Task Deletion")
                                @Html.EditorFor(m => question.AllowDelete, null, "allowdelete")
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                @Html.LabelFor(m => question.AllowClearStartTime, "Allow Clear Start Time")
                                @Html.EditorFor(m => question.AllowClearStartTime, null, "allowclearstarttime")
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                @Html.LabelFor(m => question.RequireAuthentication, "Require Authentication")
                                @Html.EditorFor(m => question.RequireAuthentication, null, "requireauthentication")
                            </div>
                            <div class="span6">
                                @Html.LabelFor(m => question.KioskMode, "Kiosk Mode")
                                @Html.EditorFor(m => question.KioskMode, null, "kioskmode")
                            </div>
                        </div>
                    </fieldset>
                } 
	        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function ()
            {
                $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>
