﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;
    var question = (ConceptCave.BusinessLogic.Questions.TaskListQuestion)Model.Resource;


    var labelModel = new ConceptCave.www.Models.SelectMultipleLabelsModel(
    ConceptCave.Repository.LabelRepository.GetAll(ConceptCave.RepositoryInterfaces.Enums.LabelFor.Tasks),
    ConceptCave.Repository.LabelRepository.GetById(question.FilterByLabelIds)
    );
    labelModel.FormElementName = "filterbylabelids";

    var statusModel = new ConceptCave.www.Models.SelectMultipleStatussesModel(
        ConceptCave.Repository.StatusRepository.GetAll(),
        ConceptCave.Repository.StatusRepository.GetById(question.FilterByStatusIds)
    );
    statusModel.FormElementName = "filterbystatusids";
}
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay" style="min-height:15px">
        <h3>@question.Prompt</h3>
    </div>
    <div id="@editorId" style="display:none">
        <div class="page-header">
            <h3 translate>Task List</h3>
        </div>

        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
            <li><a href="#tabs-TaskCreation@(uniqueId)" data-toggle="tab" translate>Task Creation</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

                <fieldset>
                    @Html.Partial("QuestionPropertyEditor", Model)

                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.FilterByLabelIds, "Filter By Labels")
                            @Html.Partial("SelectMultipleLabels", labelModel)
                            <div style="clear:both;">&nbsp;</div>
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.EnforceSingleClockin, "{{ 'Single clockin' | translate }}")
                            @Html.EditorFor(m => question.EnforceSingleClockin, null, "singleclockin")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.SortType, "{{ 'Sort Type' | translate }}")
                            @Html.EditorFor(m => question.SortType, "Enum", "sorttype")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.SortThrottleSeconds, "{{ 'Sort Throttle Seconds' | translate }}")
                            @Html.EditorFor(m => question.SortThrottleSeconds, null, "sortthrottleseconds")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.MeasurementType, "{{ 'Measurement Type' | translate }}")
                            @Html.EditorFor(m => question.MeasurementType, "Enum", "measurementtype")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            @Html.LabelFor(m => question.FilterByStatusIds, "Filter By Status")
                            @Html.Partial("SelectMultipleStatusses", statusModel)
                            <div style="clear:both;">&nbsp;</div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.Listen, "{{ 'Listen to other task lists' | translate }}")
                            @Html.EditorFor(m => question.Listen, null, "listen")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.RefreshPeriodSeconds, "{{ 'Refresh Period (seconds)' | translate }}")
                            @Html.EditorFor(m => question.RefreshPeriodSeconds, null, "refreshperiodseconds")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.StalePeriodSeconds, "{{ 'Stale Period (seconds)' | translate }}")
                            @Html.EditorFor(m => question.StalePeriodSeconds, null, "staleperiodseconds")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.AllowTaskGrouping, "{{ 'Allow Task Grouping' | translate }}")
                            @Html.EditorFor(m => question.AllowTaskGrouping, null, "allowtaskgrouping")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.ShowGeneralNotesForIncompleteTasks, "{{ 'Show general notes for incomplete tasks' | translate }}")
                            @Html.EditorFor(m => question.ShowGeneralNotesForIncompleteTasks, null, "showgeneralnotesforincompletetasks")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.SupportOffline, "{{ 'Support Offline' | translate }}")
                            @Html.EditorFor(m => question.SupportOffline, null, "supportoffline")
                        </div>
                        <div class="span6">
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.TasksAddedMessage, "{{ 'Tasks Added Message' | translate }}")
                            @Html.EditorFor(m => question.TasksAddedMessage, null, "tasksaddedmessage")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.TasksRemovedMessage, "{{ 'Tasks Removed Message' | translate }}")
                            @Html.EditorFor(m => question.TasksRemovedMessage, null, "tasksremovedmessage")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.ShowTaskSites, "{{ 'Show Sites' | translate }}")
                            @Html.EditorFor(m => question.ShowTaskSites, null, "showtasksites")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.ShowTaskDistances, "{{ 'Show Distances' | translate }}")
                            @Html.EditorFor(m => question.ShowTaskDistances, null, "showtaskdistances")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.ShowStartTimes, "{{ 'Show Start Times' | translate }}")
                            @Html.EditorFor(m => question.ShowStartTimes, null, "showstarttimes")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.AllowClaimTasksFromParent, "{{ 'Include Parents Tasks' | translate}}")
                            @Html.EditorFor(m => question.AllowClaimTasksFromParent, null, "includeparentstasks")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.MinimumTaskDurationMessage, "{{ 'Minimum Task Duration Message' | translate}}")
                            @Html.EditorFor(m => question.MinimumTaskDurationMessage, null, "minimumtaskdurationmessage")
                        </div>
                    </div>
                    <input id="taskcreationdata" name="taskcreationtemplates" type="hidden" value="@question.TaskCreationTemplatesToJson().ToString()" />
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.AllowButtonStart, "{{ 'Allow Button Start' | translate}}")
                            @Html.EditorFor(m => question.AllowButtonStart, null, "allowbuttonstart")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.AllowButtonFinish, "{{ 'Allow Button Finish' | translate}}")
                            @Html.EditorFor(m => question.AllowButtonFinish, null, "allowbuttonfinish")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.AllowQRCodeStart, "{{ 'Allow QRCode Start' | translate}}")
                            @Html.EditorFor(m => question.AllowQRCodeStart, null, "allowqrcodestart")
                        </div>
                        <div class="span6">
                            @Html.LabelFor(m => question.AllowQRCodeFinish, "{{ 'Allow QRCode Finish' | translate}}")
                            @Html.EditorFor(m => question.AllowQRCodeFinish, null, "allowqrcodefinish")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.AllowBeaconStart, "{{ 'Allow Beacon Start' | translate}}")
                            @Html.EditorFor(m => question.AllowBeaconStart, null, "allowbeaconstart")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(m => question.PromptLateTasks, "{{ 'Prompt Late Tasks' | translate}}")
                            @Html.EditorFor(m => question.PromptLateTasks, null, "promptlatetasks")
                        </div>
                    </div>
                </fieldset>
                } 
	        </div>
            <div class="tab-pane active" id="tabs-TaskCreation@(uniqueId)">
                <tasklist-question-editor formelement="taskcreationdata"></tasklist-question-editor>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function ()
            {
                angular.element(document.body).injector().get('$rootScope').$broadcast('tasklist-question-editor.save');
                // now our normal stuff
                $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") });
            },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>
