﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.BusinessLogic.Questions.TimelineQuestion)Model.Resource;
}

<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        Timeline will be presented here
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Timeline Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)

                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                        @Html.LabelFor(m => question.DataSource, new { translate = "" })
                        @Html.EditorFor(m => question.DataSource, null, "datasource")

                        @Html.LabelFor(m => question.UpdateDataSources, new { translate = "" })
                        @Html.EditorFor(m => question.UpdateDataSources, null, "updatedatasources")

                        @Html.LabelFor(m => question.ClearDataSources, new { translate = "" })
                        @Html.EditorFor(m => question.ClearDataSources, null, "cleardatasources")

                        @Html.LabelFor(m => question.DateFormat, new { translate = "" })
                        @Html.EditorFor(m => question.DateFormat, null, "dateformat")

                        @Html.LabelFor(m => question.FillHeight, new { translate = "" })
                        @Html.EditorFor(m => question.FillHeight, null, "fillheight")

                        @Html.LabelFor(m => question.BottomPaddingWhenFillingHeight, new { translate = "" })
                        @Html.EditorFor(m => question.BottomPaddingWhenFillingHeight, null, "fillpadding")

                    </fieldset>
                }
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>


