﻿@model ConceptCave.www.Areas.Designer.Models.GetResourceDesignerUIModel
@{
    var uniqueId = Guid.NewGuid().ToString();
    var editorId = "editor" + uniqueId;
    var displayId = "display" + uniqueId;

    var question = (ConceptCave.Checklist.Editor.UploadMediaQuestion)Model.Resource;
}

<register-translations>
    <this-question-allows-the-upload-of-up-to-count-media-items>This question allows the upload of up to {{ count }} media items.</this-question-allows-the-upload-of-up-to-count-media-items>
</register-translations>
<div id="container@(uniqueId)">
    <div id="@displayId" class="editordisplay">
        <h3>@question.Prompt</h3>
        <span translate translate-compile="false" translate-values="{count: @question.MaxUploadCount}">this-question-allows-the-upload-of-up-to-count-media-items</span>
        <span class="help-block">@question.Note</span>
    </div>
    <div id="@editorId" style="display:none" class="editoredit">
        <div class="page-header">
            <h3 translate>Upload Media Question</h3>
        </div>
        <ul class="nav nav-tabs" id="tabs@(uniqueId)">
            <li><a href="#tabs-General@(uniqueId)" data-toggle="tab" translate>General</a></li>
            <li><a href="#tabs-Validators@(uniqueId)" data-toggle="tab" translate>Rules</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-General@(uniqueId)">
                @using (Html.BeginForm("Save", "ResourceManagement", FormMethod.Post, new { id = uniqueId }))
                {
                    @Html.Partial("ResourceCommonFormFields", Model)
  
                    <fieldset>
                        @Html.Partial("QuestionPropertyEditor", Model)

                    @Html.LabelFor(m => question.UploadPrompt, new { translate = "" })
                    @Html.EditorFor(m => question.UploadPrompt, null, "uploadprompt")
                    @Html.LabelFor(m => question.MaxUploadCount, new { translate = "" })
                    @Html.EditorFor(m => question.MaxUploadCount, null, "maxuploadcount")    
                    @Html.LabelFor(m => question.MaxWidth, new { translate = "" })
                    @Html.EditorFor(m => question.MaxWidth, null, "maxwidth")   
                    @Html.LabelFor(m => question.MaxHeight, new { translate = "" })
                    @Html.EditorFor(m => question.MaxHeight, null, "maxheight")   
                    @Html.LabelFor(m => question.KeepAspect, new { translate = "" })
                    @Html.EditorFor(m => question.KeepAspect, null, "keepaspect")   
                    @Html.LabelFor(m => question.AllowImage, new { translate = "" })
                    @Html.EditorFor(m => question.AllowImage, null, "allowimage")   
                    @Html.LabelFor(m => question.AllowVideo, new { translate = "" })
                    @Html.EditorFor(m => question.AllowVideo, null, "allowvideo")   
                    @Html.LabelFor(m => question.AllowAudio, new { translate = "" })
                    @Html.EditorFor(m => question.AllowAudio, null, "allowaudio")
                    @Html.LabelFor(m => question.AllowAnyMediaType, new { translate = "" })
                    @Html.EditorFor(m => question.AllowAnyMediaType, null, "allowanymedia") 
                    @Html.LabelFor(MachineKey => question.Destination, new { translate = "" }) 
                    @Html.EditorFor(m => question.Destination, "Enum", "destination")
                    </fieldset>
                } 
	        </div>
	        <div class="tab-pane" id="tabs-Validators@(uniqueId)">
                @Html.Partial("RenderQuestionValidators", Model)
	        </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tabs@(uniqueId) a:first").tab('show');

        var options = {
            displayElement: $("#@displayId"),
            editElement: $("#@editorId"),
            saveCallback: function () { $("#@uniqueId").trigger('save', { form: $("#@uniqueId"), container: $("#container@(uniqueId)") }); },
            deleteCallback: function () { $("#@uniqueId").trigger('delete', { id: '@question.Id', container: $("#container@(uniqueId)") }); }
        };
        $("#container@(uniqueId)").displayoredit(options);
    });
</script>


