﻿@model ConceptCave.www.Areas.Designer.Models.EditWordDocumentFacilityTemplateItemModel
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();

    if (ViewBag.ActionTaken != null && ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
    {
        <div id="@uniqueId" style="display:none">&nbsp;</div>
        <script type="text/javascript">
            $(function () {
                $("#@uniqueId").trigger("servertemplatedeleted", { selectedid: '@Model.Template.Id' });
            });
        </script>
        
        return;
    }
}

<td>@Model.Template.Name</td>
<td>@(Model.Media == null ? "" : Model.Media.Name)</td>
<td>@(Model.Media == null ? "" : Model.Media.Type)</td>
<td>
    <button id="@string.Format("edit{0}", Model.Template.Id)" type="button" class="btn {selectedid:'@Model.Template.Id', element:'#@(Model.Template.Id)'}"><i class="icon-edit"></i></button>
    <button id="@string.Format("remove{0}", Model.Template.Id)" type="button" class="btn btn-danger {selectedid: '@Model.Template.Id', element:'#@(Model.Template.Id)'}"><i class="icon-trash icon-white"></i></button>
</td>
<script type="text/javascript">
    $(function () {
        $(document).off("click", "#@string.Format("edit{0}", Model.Template.Id)");
        $(document).on('click', "#@string.Format("edit{0}", Model.Template.Id)", function(event) {
            $(event.currentTarget).trigger("templateedit", $(event.currentTarget).metadata());
        });

        $(document).off("click", "#@string.Format("remove{0}", Model.Template.Id)");
        $(document).on('click', "#@string.Format("remove{0}", Model.Template.Id)", function(event) {
            $(event.currentTarget).trigger("templatedeleted", $(event.currentTarget).metadata());
        });
    });
</script>