<h1>Select Reviewee</h1>
<div layout="row">
    <md-card flex="25" ng-repeat="reviewee in $ctrl.group.Reviewees"
        ui-sref="root.play.begin({groupId: $ctrl.group.Id, resourceId: $ctrl.resourceId, revieweeId: reviewee.Id })">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{reviewee.Name}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>