﻿<div>
    <div id="management" class="container-fluid" ng-controller="multiTenantAdminController">
        <div class="row-fluid">
            <div id="cronlist" class="span4">
                <multi-tenant-sidebar ng-model="tenants"></multi-tenant-sidebar>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <tenant-editor ng-model="editing"></tenant-editor>
                </div>
            </div>
        </div>
    </div>
</div>
