﻿<div>
    <div id="management" class="container-fluid" ng-controller="scheduleapprovalmanagementCtrl">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li tabify ng-repeat="bucket in buckets.primarybuckets"><a style="margin-top:12px" data-toggle="tab" href="#role{{$index}}">{{bucket.role}}</a></li>
                <li style="float:right">
                    <label ng-if="workloadingenabled" class="checkbox" style="display:inline">
                        Show work loading
                        <input style="float:none;margin-left:0px;" type="checkbox" ng-model="showworkloading" />
                    </label>
                    <span translate>Roster</span>&nbsp;&nbsp;<select style="margin-top:11px" id="inputRoster" name="inputRoster" ng-model="rosterid" ng-options="r.id as r.name for r in rosters"></select>
                    <button ng-click="approve()" ng-if="buckets" class="btn btn-success" href="#">Save Schedule</button>
                </li>
            </ul>
            <div ng-if="issaving == false" class="tab-content">
                <div ng-repeat="bucket in buckets.primarybuckets" class="tab-pane" id="role{{$index}}">
                    <div class="schedule-users">
                        <div class="well" fill-height additional-padding="80" style="overflow-y:auto">
                            <ul class="nav nav-list">
                                <li ng-if="buckets.secondarybucket.slots.length > 0" class="nav-header" translate>From Other Rosters</li>
                                <li ng-if="buckets.secondarybucket.slots.length > 0" ng-repeat="slot in buckets.secondarybucket.slots" ng-click="slotSelected(slot)" ng-class="{active: slot.__isactive}">
                                    <a href="#">{{slot.name}}<div><div style="float:right"><i class="icon-ban-circle icon-white"></i>{{slot.cancelledtasks.length}}&nbsp;</div><div style="float:right"><i class="icon-share icon-white"></i>{{slot.unassignedtasks.length}}&nbsp;</div><div style="clear:both"></div></div></a>
                                </li>
                                <li class="nav-header" translate>Users</li>
                                <li ng-repeat="slot in bucket.slots" ng-click="slotSelected(slot)" ng-class="{active: slot.__isactive}">
                                    <a href="#">{{slot.name}}<div><div style="float:right"><i class="icon-ban-circle icon-white"></i>{{slot.cancelledtaskscount}}&nbsp;</div><div style="float:right"><i class="icon-ok-sign icon-white"></i>{{slot.assignedtaskscount}}&nbsp;</div><div style="float:right"><i class="icon-question-sign icon-white"></i>{{slot.unassignedtaskscount}}&nbsp;</div><div style="clear:both"></div></div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="schedule-container">
                        <div class="schedule-day" ng-repeat="slot in buckets.secondarybucket.slots | concat:bucket.slots | filter:{__isactive: true}">
                            <approve-daily-tasks ng-model="slot" roster="roster" showworkloading="showworkloading"></approve-daily-tasks>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="issaving == true">
            <h3 translate>Progress</h3>
            <p ng-if="issavingcomplete == true">All operations have completed, click <a href="{{dashboardurl}}">here</a> to go back to your <strong>dashboard</strong>.<br /><br/> If you want to adjust the schedule click <a href="#" ng-click="leaveApprovalProgressUI()">here</a>.</p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="action in saveactions">
                        <td>
                            {{action.text}}
                        </td>
                        <td style="position:relative">
                            <div ng-if="action.loading == true" class="loading-container">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                            <i ng-if="action.complete == true" class="icon-ok"></i>
                            <span ng-if="action.complete == false && action.loading == false && action.loadAttempts > 0"><i class="icon-remove"></i>&nbsp;<a href="#" ng-click="action.commit(action)">Retry</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal hide fade confirmsave" modalify="showconfirmsave">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Confirm Save Schedule</h3>
            </div>
            <div class="modal-body" style="min-height:400px">
                <p>Are you sure you want to save the schedule.</p>
                <p ng-if="unnapprovedTotal > 0">There are <strong>{{unnapprovedTotal}} unapproved tasks</strong>, typically you will want to approve or cancel these tasks.</p>
                <p ng-if="unrosteredTotal > 0">There are <strong>{{unrosteredTotal}} tasks from other rosters that have not been accounted for</strong>, typically you will want to roster these against your resources or cancel them by moving them to the cancelled column in their roster.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Cancel</a>
                <a href="#" class="btn btn-primary" ng-click="doApprove()" translate>Confirm Schedule</a>
            </div>
        </div>

        <div class="modal hide fade replaceuserdialog" modalify="showreplaceuser">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Replace User</h3>
            </div>
            <div class="modal-body" style="min-height:400px">
                <form name="replaceuser">
                    <select-user ng-model="searcheduser"></select-user>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="confirmreplaceuser()" translate>Save changes</a>
            </div>
        </div>

        <div class="modal-large hide fade newtaskdialog" modalify="shownewtask">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>New Task</h3>
            </div>
            <div class="modal-body" style="min-height:400px">
                <form name="newtask">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group" ng-class="{error: newtask.inputName.$invalid && newtask.inputName.$pristine == false}">
                                <label class="control-label" for="inputName" translate>Task</label>
                                <div class="controls">
                                    <language-localisable-string model="currenttask.translated" property="name" fallback="currenttask.name"></language-localisable-string>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" translate>Site</label>
                                <div class="controls">
                                    <select-user ng-model="searchedsite" mandatory="false"></select-user>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputDescription" translate>Description</label>
                        <div class="controls">
                            <language-localisable-string type="richtext" model="currenttask.translated" property="description" fallback="currenttask.description"></language-localisable-string>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group" ng-class="{error: newtask.inputLevel.$invalid && newtask.inputLevel.$pristine == false}">
                                <label class="control-label" for="inputLevel" translate>Level</label>
                                <div class="controls">
                                    <input type="text" id="inputLevel" name="inputLevel" required ng-model="currenttask.level" placeholder="{{ 'Level' | translate }}"><span ng-if="newtask.inputLevel.$invalid && newtask.inputLevel.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="inputType" translate>Type</label>
                                <div class="controls">
                                    <select id="inputType" name="inputType" ng-model="currenttask.tasktypeid" ng-options="t.id as t.name for t in types"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="inputStartTime" translate>Start Time</label>
                                <div class="controls">
                                    <input type="time" id="inputStartTime" name="inputStartTime" ng-model="currenttask.startsAt.value" placeholder="{{ 'Start Time' | translate }}">
                                </div>
                            </div>
                        </div>
                        <div class="span6">

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="confirmnewtask()" translate>Save changes</a>
            </div>
        </div>
    </div>
</div>