﻿@model ConceptCave.www.Areas.Admin.Models.CompanyManagementDetailModel
@{
    this.Layout = null;
    Guid uniqueId = Guid.NewGuid();
    
    <div id="@uniqueId" style="display:none">&nbsp;</div>
    
    if (ViewBag.ActionTaken != null)
    {

        if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
        {
            string message = "The company has been removed";
            
            <script type="text/javascript">
                $(function () {
                    $("#@uniqueId").trigger("serverdeleteditem", { id: '@Model.Item.Id.ToString()' });
                });
            </script>
    
            @Html.Partial("RenderNotificationUI", message);

            return; // nothing more to do
        }

        <script type="text/javascript">
            $(function () {
                $("#editorContainer input").effect("highlight", { 'color': '#ccffcc' }, 3000);
                $("#@uniqueId").trigger("serveraddeditem", { id: '@Model.Item.Id.ToString()' });
            });
        </script>
    }
}
<register-translations>
    <edit-name>Edit: {{ name }}</edit-name>
</register-translations>

<div id="editorContainer" ng-controller="razorFriendly">
    @using (Html.BeginForm("Save", "CompanyManagement", FormMethod.Post, new { id = "projecteditorui" }))
    {
        @Html.Hidden("id", Model.Item.Id, new { id = "projecteditoruiid" })
        <fieldset>
            <legend translate translate-compile="false" translate-values="{name: '@Model.Item.Name'}">edit-name</legend>
            <ul class="nav nav-tabs" id="edittab">
                <li><a href="#general" data-toggle="tab" translate>General</a></li>
            </ul>      
            <div class="tab-content">
                <div class="tab-pane active" id="general"> 
                    <div class="row-fluid">
                        <div class="span12">
                        @Html.LabelFor(m => m.Item.Name, new { translate = "" } )
                        @Html.EditorFor(m => m.Item.Name, null, "name")
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                        @Html.LabelFor(m => m.Item.Street, new { translate = "" })
                        @Html.EditorFor(m => m.Item.Street, null, "street")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                        @Html.LabelFor(m => m.Item.Town, new { translate = "" })
                        @Html.EditorFor(m => m.Item.Town, null, "town")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                        @Html.LabelFor(m => m.CountryStateId, new { translate = "" }, "State")
                        @Html.DropDownListFor(m => Model.CountryStateId, Model.States.Select(c => new SelectListItem() { Text = c.Name, Value = c.Id.ToString(), Selected = Model.CountryStateId.HasValue ? c.Id == Model.CountryStateId : false }))
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                        @Html.LabelFor(m => m.Item.Postcode, new { translate = "" })
                        @Html.EditorFor(m => m.Item.Postcode, null, "postcode")
                        </div>
                    </div>
                    <div class="clear">&nbsp;</div>

                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" translate>Save changes</button>
                    </div>
                </div>
            </div>
        </fieldset>
    } 
</div>

<script type="text/javascript">
    $(function () {
        $("#edittab a:first").tab('show');

        $("#projecteditorui").submit(function () {
            CurrentDesignerManager.save($("#projecteditorui"));
            return false;
        });
    });
</script>