﻿@model ConceptCave.www.Areas.Admin.Models.CompanyManagementModel
@{
    ViewBag.Title = "Company Management";

    var uniqueId = Guid.NewGuid().ToString();
}
<div id="management" class="container-fluid">
    <div class="row-fluid">
        <div id="managementlist" class="span4">
            <div style="float:left">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" id="usersearch@(uniqueId)" placeholder="{{ 'Search User' | translate }}" /><button id="btn@(uniqueId)" class="btn" type="button" translate>Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemlistnav" style="text-align:right;padding:4px;">
                <button id="additem" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                <button id="removeitem" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
            </div>
            <div class="clear">&nbsp;</div>

            <div id="itemlist">
                @Html.Partial("RenderCompanyList", Model.Items)
            </div>
            <ul class="pager">
                <li><a id="itemlistprevious" href="#" translate>Previous</a></li>
                <li><a id="itemlistnext" href="#" translate>Next</a></li>
            </ul>
        </div>
        <div class="span8">
            @using (Html.BeginForm("Add", "CompanyManagement", FormMethod.Post, new { id = "add" }))
            {
            }

            @using (Html.BeginForm("Remove", "CompanyManagement", FormMethod.Post, new { id = "remove" }))
            {
                @Html.Hidden("id", "", new { id="removeid" });
            }

            <div id="labeldesignerui" class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                <div class="hero-unit">
                <h1 translate>Company Management</h1>
                    <translate>Companies allow you to group contractors together.</translate>
                </div>
            </div>

        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "CompanyManagement", FormMethod.Post, new { id = "membershipsearch" }))
{
    @Html.Hidden("term", "", new { id = "membershipsearch_term" })
    @Html.Hidden("pagenumber", "1", new { id = "membershipsearch_pagenumber" })
    @Html.Hidden("pagesize", "10", new { id = "membershipsearch_pagesize" })
}

<script type="text/javascript">
    var itemselected = null;

    $(function() {
        var options = {
            rootUrl: '@Url.ToFullyQualifiedUrl("~/")',
            editorElement: $("#labeldesignerui"),
            loadDesignerUrl: 'Admin/CompanyManagement/CompanyDesigner?id=',
            loadListItemUrl: 'Admin/CompanyManagement/CompanyListItem?id=',
            createListItemCallBack: function (id) {
                $('<li id="' + id + '"></li>').appendTo("#itemlist ul");
            }
        };

        CreateDesignerManager(options);

        $(document).off("click", "#itemlist li");
        $(document).on('click', "#itemlist li", function() {
            if (itemselected != null) {
                $(itemselected).removeClass('active');
            }

            itemselected = this;

            $(itemselected).addClass('active');
            CurrentDesignerManager.loadDesigner($(this).attr('id'));
        });

        $("#managementlist #additem").click(function(event) {
            CurrentDesignerManager.newItem($("#add"));
        });

        $("#managementlist #removeitem").click(function(event) {
            if (itemselected == null) {
                return false;
            }
            $("#itemlist").trigger('itemdeleted', { selectedid: $(itemselected).attr('id') });
        });

        $(document).off("itemdeleted", "#itemlist");
        $(document).on("itemdeleted", "#itemlist", function(event, data) {
            $("#removeid").val(data.selectedid);
            CurrentDesignerManager.removeItem($("#remove"));
        });

        $(document).off("serverdeleteditem", "#labeldesignerui");
        $(document).on("serverdeleteditem", "#labeldesignerui", function(event, data) {
            CurrentDesignerManager.removeListItem(data.id);
        });

        $(document).off("serveraddeditem", "#labeldesignerui");
        $(document).on("serveraddeditem", "#labeldesignerui", function(event, data) {
            CurrentDesignerManager.loadListItem(data.id);
        });

        var searchUser = function () {
            $("#membershipsearch_term").val($("#usersearch@(uniqueId)").val());

            CurrentDesignerManager.submitForm("#membershipsearch", "#itemlist");
        };

        var setPageNumber = function (value, isIncrement) {
            if (isIncrement == false) {
                // its an actual specific page
                if (value < 1) {
                    return;
                }
                $("#membershipsearch_pagenumber").val(value);
                return;
            }

            var cp = parseInt($("#membershipsearch_pagenumber").val());
            if (cp + value < 1) {
                return;
            }

            $("#membershipsearch_pagenumber").val(cp + value);
        }

        $("#btn@(uniqueId)").click(function () {
            setPageNumber(1, false);
            searchUser();
        });

        $("#usersearch@(uniqueId)").keypress(function (event) {
            if (event.which == 13) {
                event.preventDefault();
                setPageNumber(1, false);
                searchUser();
            }
        });

        $("#itemlistprevious").click(function () {
            setPageNumber(-1, true);
            searchUser();
        });

        $("#itemlistnext").click(function () {
            setPageNumber(1, true);
            searchUser();
        });
    });
</script>