﻿@model IList<ConceptCave.DTO.DTOClasses.CompanyDTO>

<ul class="nav nav-tabs nav-stacked search-list">
    @foreach (var i in Model)
    {
        <li id="@i.Id">
            @Html.Partial("RenderCompanyListItem", i)
        </li>
    }
</ul>