﻿<form name="editor"> 
    <legend>Edit: {{status.text}}</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab">General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group" ng-class="{error: editor.inpuText.$invalid && editor.inpuText.$pristine == false}">
                            <label class="control-label" for="inpuText" translate>Text</label>
                            <div class="controls">
                                <input type="text" id="inpuText" name="inpuText" required ng-model="status.text" placeholder="Text"><span ng-if="editor.inpuText.$invalid && editor.inpuText.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <div class="control-group">
                                <label class="control-label" for="inpuDescription" translate>Description</label>
                                <div class="controls">
                                    <textarea rows="5" id="inputDescription" name="inputDescription" ng-model="status.description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit">Save changes</button>
</div>