﻿@model ConceptCave.www.Models.PublicVariableGridModel
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();
}
<table id="publicvariablegrid@(uniqueId)" class="dashboard">
    <thead>
        <tr>
            <th>&nbsp;</th>
            @foreach (var c in Model.Columns)
            {
                <th>@c</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr id="display_@(row.WorkingDocumentId)" class="displayrow {id:'@row.WorkingDocumentId'}">
                <td id="displaymenu_@(row.WorkingDocumentId)"></td>
                @foreach (var field in row.Fields)
                {
                    <td>@field.Value</td>
                }
            </tr>
            <tr id="edit_@(row.WorkingDocumentId)" style="display:none" class="editrow {id:@row.WorkingDocumentId}">
                <td colspan="@(Model.Columns.Length + 1)">
                    <div id="editmenu_@(row.WorkingDocumentId)"></div>
                    <div id="editloading_@(row.WorkingDocumentId)" translate>Loading ...</div>
                    <div id="editcontent_@(row.WorkingDocumentId)" style="display:none"></div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        var hookup = function () {
            var display = $(this);

            var data = display.metadata();
            // get the edit row that matches this display row
            var edit = $("#edit_" + data.id);

            var options = {
                displayElement: display,
                displayMenuElement: $("#displaymenu_" + data.id),
                replaceDisplayContent: true,
                displayGrabHandle: false,
                editElement: edit,
                editMenuElement: $("#editmenu_" + data.id),
                context: data,
                editCallback: function (context) {
                    $("#editloading_" + context.id).css('display', 'block');
                    $("#editcontent_" + context.id).css('display', 'none');

                    var eventCallback = function (text) {
                        var content = $("#editcontent_" + context.id);
                        content.html(text);

                        content.show('slide', null, 500, function () { $("#editloading_" + context.id).css('display', 'none'); });
                    };

                    $("#publicvariablegrid@(uniqueId)").trigger('editing', { id: data.id, callback: eventCallback });
                },
                saveCallback: function (context) {

                },
                deleteCallback: function (context) {

                }
            };

            display.displayoredit(options);
        }

        var items = $(".displayrow");
        items.each(hookup);

        $(document).off('deleterow', "#publicvariablegrid@(uniqueId)");
        $(document).on('deleterow', "#publicvariablegrid@(uniqueId)", function (event, data) {
            $("#edit_" + data.id).hide('slide', null, 500, function () {
                $("#edit_" + data.id).remove();
                $("#display_" + data.id).remove();
            });
        });
    });
</script>