﻿<register-translations>
    <schedule-task-footer>
        <div ng-bind="task.tasktypename" />
        <div ng-bind="task.sitename" />
        <div ng-if="task.level != 0" class="label label-warning schedule-task-footer-level">level <span ng-bind="task.level" /></div>
    </schedule-task-footer>
</register-translations>
<div class="schedule-other-roster">
    <div style="position:relative" fill-height additional-padding="80">
        <div style="overflow:auto" fill-height additional-padding="50">
            <div class="row-fluid" style="overflow-y:auto;">
                <div class="span12 schedule-column">
                    <div class="schedule-task-header">
                        <div class="dropdown">
                            <div class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown"><translate>Continue Next Shift</translate>&nbsp;<b class="caret"></b></div>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="finishAll()"><span translate>Finish All</span>&nbsp;<i class="icon-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="thumbnails manage-list-dimensions" dnd-list="slot.assignedtasks">
                        <li ng-if="slot.assignedtasks.length == 0" class="schedule-day-first"></li>
                        <li class="span11 schedule-day-task" ng-repeat="task in slot.assignedtasks" dnd-draggable="task" dnd-moved="slot.assignedtasks.splice($index, 1)" ng-mouseenter="task.over = true" ng-mouseleave="task.over = false">
                            <div class="thumbnail schedule-task schedule-link" ng-class="{'schedule-over': task.over, 'schedule-canedit': task.canedit }">
                                <span>{{task.translatedName}}</span>
                                <div class="schedule-task-footer" translate>schedule-task-footer</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="schedule-other-roster">
    <div style="position:relative" fill-height additional-padding="80">
        <div style="overflow:auto" fill-height additional-padding="50">
            <div class="row-fluid" style="overflow-y:auto;">
                <div class="span12 schedule-column">
                    <div class="schedule-task-header">
                        <div class="dropdown">
                            <div class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown"><translate>Finished</translate>&nbsp;<b class="caret"></b></div>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="continueNextAll()"><span translate>Continue All</span>&nbsp;<i class="icon-arrow-left"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="thumbnails manage-list-dimensions" dnd-list="slot.finishedbymanagementtasks">
                        <li ng-if="slot.finishedbymanagementtasks.length == 0" class="schedule-day-first"></li>
                        <li class="span11 schedule-day-task" ng-repeat="task in slot.finishedbymanagementtasks" dnd-draggable="task" dnd-moved="slot.finishedbymanagementtasks.splice($index, 1)" ng-mouseenter="task.over = true" ng-mouseleave="task.over = false">
                            <div class="thumbnail schedule-task schedule-link" ng-class="{'schedule-over': task.over, 'schedule-canedit': task.canedit }">
                                <span ng-if="!task.editingname">{{task.translatedName}}</span>
                                <div class="schedule-task-footer" translate>schedule-task-footer</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="schedule-other-roster" ng-repeat="s in secondarybucket.slots">
    <div style="position:relative" fill-height additional-padding="80">
        <div style="overflow:auto" fill-height additional-padding="50">
            <div class="row-fluid" style="overflow-y:auto;">
                <div class="span12 schedule-column">
                    <div class="schedule-task-header">
                        <div class="schedule-task-header-title">
                            {{s.name}}
                        </div>
                    </div>
                    <ul class="thumbnails manage-list-dimensions" dnd-list="s.assignedtasks">
                        <li ng-if="s.assignedtasks.length == 0" class="schedule-day-first"></li>
                        <li class="span11 schedule-day-task" ng-repeat="task in s.assignedtasks | filter:{userid: slot.userid}" dnd-draggable="task" dnd-moved="s.assignedtasks.splice($index, 1)" ng-mouseenter="task.over = true" ng-mouseleave="task.over = false">
                            <div class="thumbnail schedule-task schedule-link" ng-class="{'schedule-over': task.over, 'schedule-canedit': task.canedit }">
                                <span ng-if="!task.editingname">{{task.translatedName}}</span>
                                <div class="schedule-task-footer" translate>schedule-task-footer</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
