<md-toolbar class='md-hue-1'>
    <div class='md-toolbar-tools'>
        <md-button class='md-raised' ng-click='$ctrl.refresh()' ng-disabled='!$ctrl.canRefresh()'>
            <md-icon md-font-set='fas' md-font-icon='fa-redo'></md-icon>&nbsp;Refresh
        </md-button>
        <md-button class='md-raised' ng-click='$ctrl.save()' ng-disabled='!$ctrl.canSave()'>
            <md-icon md-font-set='fas' md-font-icon='fa-save'></md-icon>&nbsp;Save
        </md-button>
        <md-button class='md-raised' ng-click='$ctrl.undo()' ng-disabled='!$ctrl.canUndo()'>
            <md-icon md-font-set='fas' md-font-icon='fa-undo'></md-icon>&nbsp;Undo
        </md-button>
        <md-button class='md-raised' ng-click='$ctrl.enable()' ng-if='$ctrl.canEnable()'>
            <md-icon md-font-set='fas' md-font-icon='fa-toggle-off'></md-icon>&nbsp;Enable
        </md-button>
        <md-button class='md-raised' ng-click='$ctrl.disable()' ng-if='$ctrl.canDisable()'>
            <md-icon md-font-set='fas' md-font-icon='fa-toggle-on'></md-icon>&nbsp;Disable
        </md-button>
        <md-button class='md-raised' ng-click='$ctrl.clone()' ng-if='$ctrl.canClone()'>
            <md-icon md-font-set='fas' md-font-icon='fa-clone'></md-icon>&nbsp;Clone
        </md-button>
        <md-button class='md-raised' ng-click='$ctrl.delete()' ng-if='$ctrl.canDelete()'>
            <md-icon md-font-set='fas' md-font-icon='fa-trash'></md-icon>&nbsp;Delete
        </md-button>
    </div>
</md-toolbar>

<md-content layout-padding>
    <form>
        <div layout='column'>
            <md-input-container flex>
                <label>Hostname</label>
                <input ng-model='$ctrl.edit.hostname' ng-disabled='!$ctrl.edit'>
            </md-input-container>
            <md-input-container flex>
                <label>Name</label>
                <input ng-model='$ctrl.edit.sql.name' ng-disabled='!$ctrl.edit'>
            </md-input-container>
            <div layout='row' flex>
                <md-input-container flex='50'>
                    <label>Target Profile</label>
                    <input readonly ng-model='$ctrl.edit.sql.targetProfile.name' />
                </md-input-container>
                <md-input-container flex='50'>
                    <label>Current Profile</label>
                    <md-select ng-model='$ctrl.edit.sql.tenantProfile' ng-disabled='!$ctrl.edit'>
                        <md-option ng-repeat='r in $ctrl.tenantProfiles track by r.id' ng-value='r'>
                            {{ r.name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Database</span>
                </h2>
            </md-toolbar>
            <md-input-container flex>
                <label>Name</label>
                <input readonly ng-model='$ctrl.edit.sql.status.databaseName' />
            </md-input-container>
            <div ng-if='$ctrl.edit' class='alert'
                ng-class="['alert-success','alert-danger'][$ctrl.edit.sql.status.online?0:1]">
                {{ $ctrl.edit.sql.status.message }}
            </div>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Cluster</span>
                </h2>
            </md-toolbar>
            <md-input-container flex='50'>
                <label>Release</label>
                <md-select ng-model='$ctrl.edit.sql.luciferRelease' ng-disabled='!$ctrl.edit'>
                    <md-option ng-repeat='r in $ctrl.$releases | async: this track by r.id' value='{{ r.id }}'>
                        {{ r.id }}</md-option>
                </md-select>
            </md-input-container>
            <div ng-if='$ctrl.edit && $ctrl.edit.cluster' class='alert alert-success'>
                Running <a
                    ui-sref='root.luciferReleases.release({luciferRelease: $ctrl.edit.cluster.luciferRelease})'>{{ $ctrl.edit.cluster.luciferRelease }}</a>
            </div>
            <div ng-if='$ctrl.edit && !$ctrl.edit.cluster' class='alert alert-danger'>
                Not running<br />{{ $ctrl.edit.issues.join('&lt;br/&gt;')}}
            </div>
        </div>
    </form>
</md-content>
