﻿<form name="editor"> 
    <legend>Edit: {{standard.type}}</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab">General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group" ng-class="{error: editor.inpuText.$invalid && editor.inpuText.$pristine == false}">
                            <label class="control-label" for="inpuText" translate>Type</label>
                            <div class="controls">
                                <input type="text" id="inpuText" name="inpuText" required ng-model="standard.type" placeholder="Text"><span ng-if="editor.inpuText.$invalid && editor.inpuText.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="inpuText" translate>Comparison</label>
                            <div class="controls">
                                <select ng-model="standard.comparison" ng-options="c.value as c.display for c in comparisons"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group" ng-class="{error: editor.inputValue1.$invalid && editor.inputValue1.$pristine == false}">
                            <label class="control-label" for="inpuText" translate>Value</label>
                            <div class="controls">
                                <input type="number" id="inputValue1" name="inputValue1" required ng-model="standard.value" placeholder="Value"><span ng-if="editor.inputValue1.$invalid && editor.inputValue1.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="inpuText" translate>Value 2</label>
                            <div class="controls">
                                <input type="number" id="inputValue2" name="inputValue2" ng-model="standard.value2" placeholder="Value">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit">Save changes</button>
</div>