﻿<md-list ng-cloak class="dashboard-menu-list">
    <md-subheader class="md-no-sticky">Dashboards</md-subheader>
    <md-list-item class="secondary-button-padding close-sidenav" ng-repeat="i in items"
        ui-sref="root.dashboard.name({name: i.ChecklistName})" ui-sref-active="active">
        {{i.ChecklistName}}&nbsp;<i class="material-icons"></i>
    </md-list-item>
</md-list>