﻿<register-translations>
    <edit-product>Product: <span ng-bind="record.name" /></edit-product>
</register-translations>
<form name="editor">
    <legend translate>edit-product</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify><a href="#children" data-toggle="tab" translate>Child Products</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general" style="min-height:400px">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input id="name" type="text" ng-model="record.name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description" translate>Description</label>
                            <div class="controls">
                                <textarea id="description" ng-model="record.description"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="code">Code</label>
                            <div class="controls">
                                <input id="code" type="text" ng-model="record.code" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="iscoupon">Is coupon</label>
                            <div class="controls">
                                <input id="iscoupon" type="checkbox" ng-model="record.iscoupon" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="price">Price</label>
                            <div class="controls">
                                <input id="price" type="number" ng-model="record.price" step="0.01" />
                                <div ng-if="!record.iscoupon">
                                    <small>For types that are ordered by length, this is the price per unit length. For area, per unit area. For volume per unit volume.</small>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="pricefunction">Price Function</label>
                            <div class="controls">
                                <select ng-if="!record.iscoupon" id="pricefunction" ng-model="record.pricejsfunctionid" ng-options="jsf.id as jsf.name for jsf in priceJsFunctions.lineitemprice" />
                                <select ng-if="record.iscoupon" id="pricefunction" ng-model="record.pricejsfunctionid" ng-options="jsf.id as jsf.name for jsf in priceJsFunctions.coupon" />
                            </div>
                        </div>
                        <div class="control-group" ng-if="!record.iscoupon">
                            <label class="control-label" for="type">Type</label>
                            <div class="controls">
                                <select id="type" ng-model="record.producttypeid" ng-options="type.id as type.name for type in types" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="extra" translate>Extra parameters</label>
                            <div class="controls">
                                <textarea ng-model="extra" ng-change="onExtraChange()"></textarea>
                            </div>
                            <div class="alert alert-error" ng-if="extraError">{{ extraError }}</div>
                        </div>
                        <div class="control-group" ng-if="record.iscoupon">
                            <label class="control-label" for="validfrom">Valid from</label>
                            <div class="controls">
                                <input id="validfrom" ng-model="record.validfrom" type="date"/>
                            </div>
                        </div>
                        <div class="control-group" ng-if="record.iscoupon">
                            <label class="control-label" for="validto">Valid to</label>
                            <div class="controls">
                                <input id="validto" ng-model="record.validto" type="date"/>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <a href="#" ng-click="uploadFile()" ng-if="record.mediaid == null" translate>Upload Image</a>
                        <div ng-if="record.mediaid != null" ng-mouseenter="showChangeMedia = true" ng-mouseleave="showChangeMedia = false" style="width:200px;position:relative">
                            <img ng-src="{{imageUrl}}/{{record.mediaid}}.png?width=200&rnd={{nonce}}" />
                            <button ng-if="showChangeMedia == true" ng-click="uploadFile()" class="btn btn-small" style="position:absolute;top:0px;right:0px" translate>Change</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="children" style="min-height:400px">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Display As</th>
                            <th><button ng-click="showAddProduct(record)" class="btn btn-mini btn-success"><i class="icon-plus"></i></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in record.childproducts">
                            <td>{{c.childname}}</td>
                            <td><input type="text" ng-model="c.name" /></td>
                            <td><button ng-click="removeChild(c, record)" class="btn btn-mini btn-danger"><i class="icon-minus"></i></button></td>
                        </tr>
                        <tr ng-if="__showaddproduct == true">
                            <td colspan="2"><select ng-model="product" ng-options="p.id as p.name for p in products"></select></td>
                            <td>
                                <button ng-click="newItem(product)" class="btn btn-mini btn-success"><i class="icon-ok"></i></button>
                                <button ng-click="hideAddProduct()" class="btn btn-mini btn-danger"><i class="icon-ban-circle"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>

<div class="modal-large hide fade" modalify="uploadingfile">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Upload Image</h3>
    </div>
    <div ng-if="uploadingfile" class="modal-body">
        <file-uploader></file-uploader>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
    </div>
</div>

<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>


