﻿<div class="control-group">
    <div class="controls">
        <input type="text" placeholder="{{ 'Search' | translate }}" ng-model="search" />
    </div>
</div>

<ul class="nav nav-tabs nav-stacked">
    <li dir-paginate="record in records | itemsPerPage: itemsPerPage" total-items="totalRecords" current-page="pageNumber" ng-click="editRecord(record)">
        <a href="">
            <div>
                <span>{{ record.name }}</span>
                <span class="muted pull-right">{{ record.product.name }}</span>
            </div>
        </a>

    </li>
</ul>
<dir-pagination-controls boundary-links="true" class="ng-isolate-scope" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
