<div layout='row' class='bread-crumbs'>
    <span ng-repeat='crumb in $ctrl.crumbs track by $index'>
        <span class='crumb' ng-click='$ctrl.onClick({ crumb: crumb })'>{{ crumb.text }}</span>
        <span ng-if='!$last'>&nbsp;>&nbsp;</span>
    </span>
</div>