﻿<div>
    <a href="#" ng-click="uploadFile()" ng-if="mediaid == null">Upload Image</a>
    <div ng-if="mediaid != null" ng-mouseenter="showChangeMedia = true" ng-mouseleave="showChangeMedia = false" style="width:200px;position:relative">
        <img ng-src="{{imageUrl}}/{{mediaid}}.png?width=200&rnd={{nonce}}" />
        <button ng-if="showChangeMedia == true" ng-click="uploadFile()" class="btn btn-small" style="position:absolute;top:0px;right:0px">Change</button>
    </div>

    <div class="modal-large hide fade" modalify="uploadingfile">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 translate>Upload Photo</h3>
        </div>
        <div ng-if="uploadingfile" class="modal-body">
            <file-uploader></file-uploader>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        </div>
    </div>
</div>