﻿body {
    padding-bottom: 40px;
}

ul.language-tab
{
    margin-bottom:0px;
}

@media (min-width: 979px) {
    .body {
        padding-top:60px;
    }
    .fullscreen .content
    {
        padding:5px;
        margin-top:40px;
        margin-bottom: 40px;
    }
}

.typeahead {
    z-index:auto;
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
    z-index:10000;
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

/*fix to dropdown menus*/
ul.dropdown-menu
{
    z-index: 1030;
}
ul.dropdown-menu.typeahead
{
    z-index: 1090;
}


.clear
{
    clear:both;
}

.error-handler{
    position:absolute;
    right:30%;
    width:40%;
    top:0px;
    z-index:50000;
}

.error-handler-link
{
    position:absolute;
    top:0px;
    z-index:50000;
    background-color:transparent;
    width:100px;
}

.loginlogo
{
    background-image:url('images/bworkflow-logo.png');
    background-repeat:no-repeat;
    background-position:right;
    width:306px;
    height:116px;
}

#navlogo
{
    background-image:url('images/Logo-b-workflow.png');
    background-repeat:no-repeat;
    width:200px;
}

.page .thumbnail
{
    height:150px;
}

.form-actions .btn
{
    margin-right:5px;
}

ul.search-list
{
    margin-top:-23px;
}

.page .thumnail .title:hover
{
    text-decoration:none;
}

.fileupload
{
    text-align:left;
}

/* used in tables to denote a cell as containing actions */
.action
{
    width:10%;
    text-align:right;
}

.action.add
{
    width:90px;
}

.labeltag
{
    width:auto;
    float:left;
    margin-right:5px;
}

.invalidreason
{
    color:Red;
}

ul.invalidcontainer 
{
    list-style-type: none;  
}

.actioncolumn
{
    width:75px;
}

.question-number + div
{
    display:none;
}

.question-number:focus + div, .question-number + div:hover
{
    display:block;
}

.question input[type="text"], .question textarea
{
    width:90%;
}

.question input[type="text"].default
{
    width:206px;
}

.question-leave-management table tbody tr {
    cursor:pointer;
}

.question-selectfacilitystructure li:hover
{
    background-color:aliceblue;
}

.displayoredit_highlight {
    padding: 5px;
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.editoredit {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FcFcFc;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

/* fix for a bug with the datepicker and modals */
.datepicker
{
    z-index:20000 !important;
}

/* styling for the schedule */
.schedule-weekdays > .span2
{
    width:13.28571428571429%;
    margin-left:1%;
    border-right: solid 1px #eeeeee
}

.schedule-task
{
    min-height:45px;
}

table.workloadingfeature {
    margin-bottom:0px;
}

.workloadingstandard-selector-days td {
    border-top: none;
    padding-top: 0px;
    font-style:italic;
}

.workloadingstandard-selector-days tr:nth-child(odd) td
{
    border-bottom: 1px solid #dddddd;
}

.durationInput {
    display:inline;
}

.thumbnail.schedule-canedit {
    border-color:#11ee11;
}

.schedule-task-level
{
    text-align:right;
    font-weight:bold;
    font-size:xx-small
}

.schedule-task-header
{
    text-align:center;
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    margin-bottom:5px;
}

.schedule-task-header .dropdown .dropdown-toggle, .schedule-task-header .schedule-task-header-title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.schedule-task-header .dropdown .progress
{
    height:5px;
    width:100%;
    margin-bottom:2px;
}

li.dndPlaceholder
{
    height:75px;
    width:91.453%;
    display:block;
    background-color:#eeeeee;
    margin-left:3px;
    margin-top:20px;
}


.dndDragging
{
    transform: rotate(5deg); 
    transform-origin: bottom left;
}

.schedule-task-footer
{
    border-top: 1px solid #EEE;
    color:#BABABA;
    font-size:x-small;
    margin-top:10px;
    padding-left:5px;
    position:relative;
}

.schedule-task-footer .selection
{
    position:absolute;
    right:2px;
    bottom:0px;
}

div.schedule-over .schedule-task-footer
{
    background-color:#BABABA;
    color:black;
}

.schedule-task-footer .label{
    font-size:smaller;
    width:90%;
}

div.schedule-task-footer-level.label-warning
{
    position:absolute;
    bottom:0px;
    right:0px;
    width:auto;
}

.schedule-task-icon
{

}

.schedule-link
{
    cursor:pointer;
}

.schedule-users
{
    width:23%;
    display:inline-block;
    vertical-align:top;
}

.schedule-container
{
    width:75%;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    display:inline-block;
    vertical-align:top;
}

.schedule-container table tr.expanded-top > td {
    border-top: 3px solid green;
}

.schedule-container table tr.expanded-bottom > td {
    border-bottom: 3px solid green;
}

.schedule-container table tr td.expanded-left {
    border-left: 3px solid green;
}

.schedule-container table tr td.expanded-right {
    border-right: 3px solid green;
}

.schedule-container .highlight {
    background-color:yellow;
}

.schedule-day-first
{

}

.schedule-day
{
    width:400px;
    margin-left:1%;
    border-right: solid 1px #eeeeee;
    display:inline-block;
    vertical-align:top;
}

.schedule-day-task
{
    white-space:normal;
}

.schedule-other-roster
{
    width:200px;
    margin-left:1%;
    border-right: solid 1px #eeeeee;
    display:inline-block;
    vertical-align:top;
}

.schedule-link:hover, div.schedule-over
{
    background-color:#eeeeee;
}

.schedule, .schedule-body-scroller
{
    min-height:100px;
}

div.schedule-column
{
    padding-left:5px;
}

.schedule-approval-column
{
    border-left:dashed 2px #eeeeee;
}

.spinner {
  margin: 10px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner-text
{
    text-align:center;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Styling for task list */
.fullscreen
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:2030;
    background-color:white;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
}

.fullscreen .content
{
    padding:5px;
}

.fullscreen .navbar .nav.three-buttons-spread-evenly
{
    width:100%;
    position:relative;
}

.fullscreen .navbar .nav.three-buttons-spread-evenly li:nth-child(1)
{
    float:left;
}

.fullscreen .navbar .nav.three-buttons-spread-evenly li:nth-child(2)
{
    position:absolute;
    left:40%;
}

.fullscreen .navbar .nav.three-buttons-spread-evenly li:nth-child(3)
{
    float:right;
}

.noscroll
{
    overflow:hidden;
    position:fixed;
}

.temperature-probe h1
{
    text-align:center;
}

.temperature-probe.pass h1 {
    color:green;
}

.temperature-probe a {
    width:100%;
    padding: 10px 0px 10px 0px;
}

.probe-top { 
    margin: auto;
    position: relative;
    width: 90mm;
    height: 45mm;
    border-radius: 50% 50% 0 0/ 100% 100% 0 0;
    border: solid 2px black;
    border-bottom: none;
}
.probe-bottom { 
    margin: auto;
    position: relative;
    width: 90mm;
    height: 45mm;
    border-radius: 0 0 50% 50%/ 0 0 100% 100%; 
    border: solid 2px black;
}
.probe-toohot
{
    background-color: #FC4515
}

.probe-toocold
{
    background-color: #109DFC
}

.probe-justright
{
    background-color: #60CF48
}

.probe-notemp
{
    background-color: #FFFFFF
}

.pHprobe-toohigh
{
    background-color: #FC4515
}

.pHprobe-toolow
{
    background-color: #109DFC
}

.pHprobe-justright
{
    background-color: #60CF48
}

.pHprobe-noreading
{
    background-color: #FFFFFF
}

.calibrate-buttons {
    text-align: center
}

.calibrate-button-container {
    display: inline-block;
}

.calibrate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30mm;
    height: 30mm;
    border-radius: 100% 100% 100% 100%
}

.calibrate-button .center
{
    color: #000000;
    font-size: 20pt;
}

.calibrate-button.buffer1 
{
    border: solid 2px #A00000;
}

.calibrate-button.buffer1.calibrated
{
    background-color: #A00000
}

.calibrate-button.buffer2
{
    border: solid 2px #00A000;
}

.calibrate-button.buffer2.calibrated
{
    background-color: #00A000
}

.calibrate-button.buffer3 
{
    border: solid 2px #0000A0;
}

.calibrate-button.buffer3.calibrated
{
    background-color: #0000A0
}

.calibrate-button.degrees0 {
    border: solid 2px #0000a0;
}

.calibrate-button.degrees0.calibrated {
    background-color: #0000a0;
}

.calibrate-button.degrees100 {
    border: solid 2px #a00000;
}

.calibrate-button.degrees100.calibrated {
    background-color: #a00000;
}

.probe {
    color: #fff;
}

.probe .left {
  position: absolute;
  top: 85%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.probe .right {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(80%, -50%);
}

.probe .top {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12pt;
}

.probe .top-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(80%, -150%);
}

.probe .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
  line-height: 60px;
}
.probe .bottom {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.schedule-task-list
{
    margin-top:5px;
}

.schedule-task-list-labelmenu
{
    float:left;
    margin-left:3px;
}

.schedule-task-list-groupmenu
{
    float:right;
}

.schedule-task-list-labelmenu .btn-group, .schedule-task-list-groupmenu .btn
{
    width:80px;
    height:55px;
}

.schedule-task-list-task-row
{
    display:table;
    border-collapse:collapse;
    width:100%;
    border-bottom: 1px solid #dddddd;
    position:relative;
}

.schedule-task-list-addtask
{
    margin-bottom:1px;
}

.schedule-task-list-task-row div
{
    display:table-cell;
    padding:5px;
    padding-top:20px;
}

.schedule-task-list-task-row.late
{

    background-color:orange;
}

.schedule-task-list-task-row.requiresclaiming
{
    background-color:silver;
}

.schedule-task-list-task-row .alert
{
    margin-bottom:0px;
}

.schedule-task-list-image
{
    width:80px;
    padding-bottom:5px;
}

.schedule-task-list-details
{
    vertical-align:top;
}

.schedule-task-list-details h5{
    margin-top: 0px;
}

.schedule-task-list-details-info
{
    position:absolute;
    top:-18px;
    right:0px;
}

.schedule-task-list-status {
    position:absolute;
    bottom:0px;
    right:1px
}

.schedule-task-list-status input[type='checkbox'] {
    margin-bottom:7px;
}

.schedule-task-list-group
{
    border-left: 3px solid green;
}

.schedule-task-list-addtask .schedule-task-list-image
{
    text-align:center;
    width: 80px;
}

.schedule-task-list-addtask .schedule-task-list-image i
{
    font-size:20pt;
    margin-top:7px;
}

.schedule-task-list-addtask .schedule-task-list-details .dropdown, 
.schedule-task-list-addtask .schedule-task-list-details .dropdown .dropdown-toggle
{
    display:block;
}

.schedule-task-list-shortcut, .schedule-task-list-addtask
{
    background-color: #f8f8f8;
    *background-color: #eeeeee;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
}

.schedule-task-list-addtask
{
    border-top: 1px solid #dddddd;
}

.schedule-task-list-addtask div
{
    padding:0px;
}

.schedule-task-list-shortcut div
{
    padding:2px;
}

.schedule-task-list-addtask .schedule-task-list-details, .schedule-task-list-shortcut .schedule-task-list-details
{
    text-align:center;
    vertical-align:middle;
}

.schedule-task-list-task-row .loading-container
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    right:0px;
    bottom:0px;
    background-color:rgba(255,255,255,0.5);
}

.schedule-task-list-task-row .loading-container .spinner{
    position:absolute;
    left:40%;
    padding:0px;
}

.schedule-task-button
{
    width:100%;
    height:100px;
    font-size:24pt;
}

.schedule-task-text
{
    font-size:24pt;
}

.schedule-task-button-skinny
{
    width:100%;
    height:50px;
    font-size:12pt;
}

.schedule-task-list-clocinclockout-ui
{
    text-align:center;
}

.schedule-task-list-clockinclockout-ui-activities
{
    padding-bottom:10px;
}

.schedule-task-list-clockinclockout-ui-activity
{
    border-top: 1px solid #f5f5f5;
}

.schedule-task-list-clockinclockout-ui-activity ul
{
    font-size:8pt;
    padding-left:10px;
}

.schedule-task-list-clockinclockout-ui-activity div{
    padding-left:25px;
}

.schedule-task-list-clockinclockout-ui-activity-toolbar
{
    
}

.schedule-task-list-clockinclockout-ui-activities > .schedule-task-button
{
    margin-top:10px;
}


.thumbnails.compressed li{
    margin-bottom:3px;
}

.thumbnails-status
{
    position:absolute;
    right:0px;
    top:-4px;
    height:100%;
}

.thumbnails-status .icon-ok-sign
{
    color:white;
    background-color:green;
    height:100%;
}

.thumbnails-status .icon-exclamation-sign
{
    color:white;
    background-color:#eb0301;
    height:100%;
}

.schedule-task-list-clockinclockout-ui-extras
{
    padding-top:10px;
}

.schedule-task-list-clockinclockout-ui-extras .span12
{
    width:98%;
}

.question-assettracker .container{
    position:relative;
}

.question-assettracker .sidepanel
{
    padding:3px;
    position:absolute;
    right:0px;
    top:0px;
    width:300px;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index: 1000;
}

.question-assettracker .sidepanel h4, .question-assettracker .sidepanel a.thumbnail
{
    color:white;
}

.question-assettracker .sidepanel .assets
{
    padding-top:10px;
}

.question-assettracker .sidepanel a.thumbnail
{
    height:50px;
    background-color:rgba(0,0,0,0.5);
}

.question-assettracker .sidepanel li
{
    margin-left:0px;
}

.question-assettracker .sidepanel .close{
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
}

.question-order .ordered {
    background-color: rgba(85,179,85,.28);
}

.question-order .product {
}

.question-order .price {
    width: 20%;
}

.question-order .quantity {
    width: 20%;
}

.question-order .lineitemprice {
    width: 20%;
}

.question-order .quantity input {
    width:80%;
}

.question-order tr.total {
    background-color: rgba(85,179,85,1);
    color: white;
    font-weight: bold;
}

.question-order table.total tr {
    background-color: rgba(65,136,65,1);
    color: white;
    font-weight: bold;
}

.question-order td.total {
    width:20%;
}


/* styling of the navigation bar */

.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.subnav .navbar-inner {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 93%;
    margin-bottom: 10px;
    padding-top:10px;
}

.subnav-fixed 
{
    padding-top:5px;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
        -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}
  
.subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
}
  
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.subnav-fixed 
{
    padding-top: 5px;
}

/* End styling of the sub navigation stuff */

.modal-large
{
  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 1050;
  width: 938px;
  margin: 0px 0 0 -469px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

/* On screens less than 960 wide (eg iPads) modal-large is fullscreen */
@media (max-width: 960px) {
    .modal-large {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        margin: 0 0 0 0;
    }

    .modal-large .modal-body {
        position: absolute;
        max-height: none;
        top: 50px;
        bottom: 80px;
        overflow-y: auto;
    }

    .modal-large .modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }    
}

.modal-large .modal-body {
/*  max-height: 550px; */
}

.dragdrop-highlight-drop
{
    padding: 5px;
    border-color: #00D900;
    -webkit-box-shadow: 0 1px 4px rgba(0, 217, 0, 0.55);
    -moz-box-shadow: 0 1px 4px rgba(0, 217, 0, 0.55);
    box-shadow: 0 1px 4px rgba(0, 217, 0, 0.55);
}

.sourcecode .CodeMirror 
{
    width:740px;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.squiggle
{
    background-image:url("images/red-squiggle.png");
    background-repeat:repeat-x;
    background-position:left bottom;
}

.section .editor
{
    border: 2px dashed rgba(0,0,0,0.1);
    padding: 2px;
    margin: 2px;
}

.editordisplay
{
    background-color: rgba(0,0,0,0.05);
    margin:5px;
    padding:5px;
}

.playerpadder
{
    margin-bottom: 20px;
}

.playerprocessing
{
    z-index:    1000;
    width:100%;
    height:100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/ajax-loader.gif') 
                50% 10% 
                no-repeat;
}

.player-ajaxloader-small {
    height: 26px;
    width: 26px;
}


ol.list-striped > li:nth-child(odd), 
ul.list-striped > li:nth-child(odd) {
    background-color: #f9f9f9;
}

ol.list-striped > li, ul.list-striped > li {
    list-style-type: none;
    padding: 8px;
    border-top: 1px solid #ddd;
}

ol.list-striped > li:last-child {
    border-bottom: 1px solid #ddd;
}

/*Bootstrap fullscreen modal*/
.modal-fullscreen {
    width: 100%;
    height: 100%;
    top: 0px !important;
    left: 0px;
    padding: 20px;
    margin: 20px;
}

.uploadmedia-drop-target {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: navy 4px dashed;
}


.uploadmedia-drop-target-hover {
    border-color: yellow !important;
}

.uploadmedia-editcanvas {
    border: 2px solid black;
    padding: 0px;
}

.uploadmedia-canvascontainer {
    width: 84%;
    float: left;
}

.uploadmedia-canvascontrols {
    width: 15%;
    float: left;
}

.uploadmedia-fileinput {
    display: none;
}

.uploadmedia-fileinput-button {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.uploadmedia-fileinput-button-mini {
    
}

ul.uploadmedia-outer-thumbnails {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
}

.uploadmedia-outer-thumbnails > li > img {
    width: 70px;
}

/*Stuff for the integrity people*/
.aligned-checkbox label
{
    width: 250px;
    margin-right: 20px;
}

.important label
{
    font-weight: bold;
    color: Red;
}

table.error-source-table {
    width: 100%;
    border: none;
}

table.error-source-table td:first-child {
    width: 1px;
    padding-right: 40px;
    white-space: nowrap;
}

table.error-source-table td {
    text-align: left;
    font-size: 1.3em;   
}

tr.error-line > td {
    color: red;
}

td.error-code {
    white-space: pre;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

table.table-variables {
    width: 100%;
    max-width: 700px;
}

/* abn tree */

.abn-tree-animate-enter,
li.abn-tree-row.ng-enter {
  transition: 200ms linear all;
  position: relative;
  display: block;
  opacity: 0;
  max-height:0px;
}
.abn-tree-animate-enter.abn-tree-animate-enter-active,
li.abn-tree-row.ng-enter-active{
  opacity: 1;
  max-height:30px;
}

.abn-tree-animate-leave,
li.abn-tree-row.ng-leave {
  transition: 200ms linear all;
  position: relative;
  display: block;
  height:30px;
  max-height: 30px;
  opacity: 1;
}
.abn-tree-animate-leave.abn-tree-animate-leave-active,
li.abn-tree-row.ng-leave-active {  
  height: 0px;
  max-height:0px;
  opacity: 0;
}

.abn-tree-animate.ng-enter{

}
.abn-tree-animate.ng-enter{

}

ul.abn-tree li.abn-tree-row {  
  padding: 0px;
  margin:0px;
}

ul.abn-tree li.abn-tree-row a {
  padding: 3px 10px;
}

ul.abn-tree i.indented {
  padding: 2px;
}

.abn-tree {
  cursor: pointer;
}
ul.nav.abn-tree .level-1 .indented {
  position: relative;
  left: 0px;
}
ul.nav.abn-tree .level-2 .indented {
  position: relative;
  left: 20px;
}
ul.nav.abn-tree .level-3 .indented {
  position: relative;
  left: 40px;
}
ul.nav.abn-tree .level-4 .indented {
  position: relative;
  left: 60px;
}
ul.nav.abn-tree .level-5 .indented {
  position: relative;
  left: 80px;
}
ul.nav.abn-tree .level-6 .indented {
  position: relative;
  left: 100px;
}
ul.nav.nav-list.abn-tree .level-7 .indented {
  position: relative;
  left: 120px;
}
ul.nav.nav-list.abn-tree .level-8 .indented {
  position: relative;
  left: 140px;
}
ul.nav.nav-list.abn-tree .level-9 .indented {
  position: relative;
  left: 160px;
}


/* Loading progress indicator */

.container .dashboard.loading-container
{
    margin-top:-19px;
    top:inherit;
}

.container .loading-container
{
    position:absolute;
    margin-top:0px;
    top:0px;
}


.loading-container h1{
  color:#4a8df8;
  font-weight:100; 
  font-stretch:normal;
  font-size:4em;
}
.slider{
  position:absolute;
  width:1170px;
  height:5px;
  margin-top: 0px
}
.line{
  position:absolute;
  width:1170px;
  height:5px;
  
}
.break{
  position:absolute;
  background:#222;
  width:10px;
  height:5px;  
}

.dot1{
background-color:#4a8df8;
-webkit-animation: loading 2s infinite;
-moz-animation: loading 2s infinite;
-ms-animation: loading 2s infinite;
-o-animation: loading 2s infinite;
animation: loading 2s infinite;
}
.dot2{
background-color:#4a8df8;
-webkit-animation: loading 2s 0.5s infinite;
-moz-animation: loading 2s 0.5s infinite;
-ms-animation: loading 2s 0.5s infinite;
-o-animation: loading 2s 0.5s infinite;
animation: loading 2s 0.5s infinite;
}
.dot3{
background-color:#4a8df8;
-webkit-animation: loading 2s 1s infinite;
-moz-animation: loading 2s 1s infinite;
-ms-animation: loading 2s 1s infinite;
-o-animation: loading 2s 1s infinite;
animation: loading 2s 1s infinite;
}

@keyframes loading {
 from { left: 0; }
 to { left: 1160px; }
}
@-moz-keyframes loading {
 from { left: 0; }
 to { left: 1160px; }
}
@-webkit-keyframes loading {
 from { left: 0; }
 to { left: 1160px; }
}
@-ms-keyframes loading {
	from { left: 0; }
 to { left: 1160px; }
}
 @-o-keyframes loading {
	from { left: 0; }
 to { left: 1160px; }
}

 .telerik-reporting
 {
    width:100%;
    height:500px;
    font-family: 'segoe ui', 'ms sans serif';
    overflow: hidden;
 }

 /* We have to do a bit of work on styling the report UI as Bootstrap 2 and the Kendo stuff 
    compete against each other, so a little extra here to undo what Bootstrap has done to put things out
 */

 .telerik-reporting select, 
 .telerik-reporting textarea, .telerik-reporting input[type="text"],
 .telerik-reporting input[type="password"], 
 .telerik-reporting input[type="datetime"], 
 .telerik-reporting input[type="datetime-local"], 
 .telerik-reporting input[type="date"], 
 .telerik-reporting input[type="month"], 
 .telerik-reporting input[type="time"], 
 .telerik-reporting input[type="week"], 
 .telerik-reporting input[type="number"], 
 .telerik-reporting input[type="email"], 
 .telerik-reporting input[type="url"], 
 .telerik-reporting input[type="search"], 
 .telerik-reporting input[type="tel"], 
 .telerik-reporting input[type="color"], 
 .telerik-reporting .uneditable-input
 {
     padding: 0px;
     margin-bottom: 0px;
 }

 .telerik-reporting input.trv-parameter-editor-datetime
 {
     margin-bottom:10px;
 }

 .archived
 {
     text-decoration:line-through;
 }

 /**
 * Progress bars with centered text
 */
.progress {
    position: relative;
}

.bar {
    z-index: 1;
    position: absolute;
}

.progress span {
    position: absolute;
    top: 0;
    z-index: 2;
    color: black;
    text-align: center;
    width: 100%;
}

/* Override the VM Player App's slideout to increase font size on iPads */
snap-drawer {
	font-size: 28px;
}

snap-drawer .nav-header {
	font-size: 22px;
	padding: 12px 15px;
}

.icon-facility-0:before {
    content: "\f00a";
}
.icon-facility-1:before {
    content: "\f0f7";
}
.icon-facility-2:before {
    content: "\f039";
}
.icon-facility-3:before {
    content: "\f0e8";
}
.icon-facility-4:before {
    content: "\f05b";
}

.icon-usersite:before {
    content: "\f007";
}

.icon-tasktype:before {
    content: "\f0ad";
}

.org-chart-canvas {
    width: 99.8%;
    height: 700px;
    background-color: #c0c0c024;
}
