﻿/*Messaging styles*/
.messaging-inbox .media
{
    margin-top: 0px;
    padding-top: 5px;
}

.messaging-inbox .media .pull-left {
    float: left !important;
}

.message-item .message-reply
{
    float: right;
}

.message-item .message-avatar
{
    width: 64px;
    height: 64px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.messaging-inbox
{
    max-width: 400px;
    margin-left: 15px;
    margin-right: 15px;
}

.messaging-inbox .media-body
{
    padding-top: 7px;
    padding-right: 5px;
}

.messaging-inbox a.message-reply
{
    margin-top: -5px;
}

.message-date 
{
    font-size: small;
    color: Green;
    padding-right: 10px;
}

.message-send
{
    clear: both;
}

.message-send form
{
    margin-left: 74px;
}

.message-send textarea
{
    height: 100px;
}

ul.message-list:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

ul.message-list:nth-child(odd) {
    background-color: rgb(210, 210, 210);
}

.messaging-topbar
{
    height: 30px;
    padding-bottom: 10px;
    background-color: #A5C1C4;
    border-radius: 5px 5px 0px 0px;
    padding-right: 5px;
    padding-top: 5px;
}

.messaging-topbar > h3
{
    margin-left: 10px;
    float: left;
}

.messaging-user-container
{
    max-width: 250px;
}

.messaging-user-container input[type="text"]
{
    max-width: 200px;
}

.messaging-label-container
{
    margin-bottom: 10px;
    margin-top: 10px;
}

.message-reply-interface {
    background-color: lightcyan;
    clear: both;
}

.messaging-acknowledgement-tickbox label
{
    display: inline-block;
}

.messaging-acknowledgement-tickbox input
{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.message-unread
{
    background-color: Yellow !important;
}

.message-acknowledge {
    float: right;
}

.messaging-reply-interface {
    overflow: hidden;
    background-color: green;
}

.gfade {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
    opacity: 1;
}

.gfade.ng-hide-add,
.gfade.ng-hide-remove {
    display: block !important;
}

.gfade.ng-hide {
    opacity: 0;
}

.messaging-compose-expand {
    max-height: 400px;
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    transition: all linear 1s;
}

.messaging-compose-expand.ng-hide-add,
.messaging-compose-expand.ng-hide-remove {
    display: block !important;
}

.messaging-compose-expand.ng-hide {
    max-height: 0px;
}