body.dashboard {
  background: url("images/bg.jpg");
}

.schedule-task-list-clockinclockout-ui h1,
.schedule-task-list-clockinclockout-ui h2,
.schedule-task-list-clockinclockout-ui h3,
.schedule-task-list-clockinclockout-ui h4,
.schedule-task-list-clockinclockout-ui h5,
.schedule-task-list-clockinclockout-ui h6,
.embedded-player h1
.embedded-player h2
.embedded-player h3
.embedded-player h4
.embedded-player h5
.embedded-player h6
 {
  margin: 10.5px 0;
  font-family: inherit;
  font-weight: normal;
  line-height: 40px;
}

.schedule-task-list-clockinclockout-ui h5, 
.schedule-task-list-details h5,
.schedule-task-list-task-row div,
.schedule-task-list-details p
{ 
	font-size:15pt;
}

.schedule-task-list-clockinclockout-ui h4,
.embedded-player h4,
.schedule-task-list-shortcut div
{ 
  font-size:20pt;
}

.schedule-task-list-clockinclockout-ui-finishing-incomplete td
{
    font-size:20pt;
	line-height:normal;
}

.schedule-task-list-clockinclockout-ui-finishing-incomplete td input[type='checkbox'] {
	width: 28px;
	height: 28px;
}



.schedule-task-list-shortcut .schedule-task-list-image i
{
    position:absolute;
    top:-5px;
    left:0px;
    bottom:0px;
    width:80px;
    background-color:rgba(255,255,255,0.75);
    text-align:center;
    padding-top:20px;
    font-size:20pt;
}

.embedded-player .list-striped li label, .schedule-task-list-clockinclockout-ui-finishing-incomplete ol li table
{
    font-size:20pt;
    line-height:20pt;
}

.schedule-task-list-clockinclockout-ui-finishing-incomplete ol li table textarea
{
    margin-top:10px;
}

.schedule-task-list-group
{
    border-left:none;
    background-color: rgba(0, 128, 0, 0.1);
}

.fullscreen .navbar .nav li button  /*, .embedded-player .question .btn */
{
    font-size:18pt;
	height:70px;
}

.fullscreen .navbar .nav li button
{
    width:100%;
}

@media (min-width: 979px) {
	.fullscreen .content {
	  margin-top: 80px;
	}
}

.fullscreen .navbar .nav.three-buttons-spread-evenly li
{
    width:25%;
}

.fullscreen .navbar .nav.three-buttons-spread-evenly li:nth-child(2)
{
    left:40%;
}

li.thumbfix.span12 + li { margin-left : 0px; }
li.thumbfix.span6:nth-child(2n + 3) { margin-left : 0px; }
li.thumbfix.span4:nth-child(3n + 4) { margin-left : 0px; }
li.thumbfix.span3:nth-child(4n + 5) { margin-left : 0px; }
li.thumbfix.span2:nth-child(6n + 7) { margin-left : 0px; }
li.thumbfix.span1:nth-child(12n + 13) { margin-left : 0px; }

.section-deepedit {
    border: 1px solid;
    padding: 20px;
}

.btn-deepedit {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0px;
    right: -20px;
    margin: -20px 0px 0px 0px;
}

.overlay-container {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.notavailable {
    opacity: 0.5;
    background-color: darkgray
}

.notavailable > div {
    text-align: center
}

.terms-and-conditions > p4 > a {
    background-color: darkgray
}