﻿body {
    width: 17cm !important;
    padding-top: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.navbar {
    display: none !important;
}

.green-icon
{
    color: green !important;
}

.red-icon
{
    color: red !important;
}

.page-break
{
    display: block !important;
    clear: both !important;
    page-break-after: always;
}