﻿@model ConceptCave.www.Areas.Player.Models.ReplyViewModel
@{
    this.Layout = null;
    
    var recipientUserModel = new ConceptCave.www.Models.SelectMultipleUsersModel();
    var recipientLabelModel = new ConceptCave.www.Models.SelectMultipleLabelsModel(ViewBag.AllLabels,
        new List<ConceptCave.Data.EntityClasses.LabelEntity>());
    recipientLabelModel.FormElementName = "Reply.RecipientLabels";
}

<div class="message-editor-interior message-item">
    <div class="message-send">
        @using (Html.BeginForm("Send", "MessagingQuestion"))
        {
            @Html.HiddenFor(m => m.Reply.Sender)
            @Html.HiddenFor(m => m.Reply.InReplyTo)
            
            <fieldset style="display: none;" class="messaging-users"></fieldset>
            
            ViewBag.UserSelectLabel = "Recipient Users";
            ViewBag.UserSelectHeading = "Selected Users";
            <div class="editor-field">
                <div class="messaging-user-container">
                    @Html.Partial("SelectMultipleUsers", recipientUserModel)
                </div>
            <div class="editor-label">
                <label translate>Recipient Labels</label>
            </div>
            <div class="messaging-label-container">
                @Html.Partial("SelectMultipleLabels", recipientLabelModel)
            </div>
            <div style="clear:both;">&nbsp;</div>
            
            @Html.EditorFor(m => m.Reply.Text)

                <div class="messaging-acknowledgement-tickbox">
                    @Html.LabelFor(m => m.Reply.RequiresAcknowledgement, "{{ 'Requires Acknowledgement' | translate }}")
                    @Html.EditorFor(m => m.Reply.RequiresAcknowledgement)
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    //Small bit of script needed to wire up the user select stuff
    $(function () {
        var userfields = $('fieldset.messaging-users')[0];
        var indexct = 0;
        $('.messaging-user-container').die();
        $('.messaging-user-container').live('itemadded', function (ev, data) {
            data.additem(data.defaultContent);
            var indexer = $('<input type="hidden" name="Reply.RecipientUsers.Index" value="' + indexct +
                '" data-uid="' + data.userid + '" />');
            var value = $('<input type="hidden" name="Reply.RecipientUsers[' + indexct + ']" value="' + data.userid +
                '" data-uid="' + data.userid + '" />');
            indexct++;
            $(userfields).append(indexer).append(value);
        });
        $('.messaging-user-container').live('itemdeleted', function (ev, data) {
            $('#' + data.containerId).remove();
            $(userfields).find('[data-uid="' + data.userid + '"]').remove();
        });
    });
</script>