﻿@{
    this.Layout = null;
    var SentAtUTC = (DateTime)ViewData["SentAtUTC"];
    var SentAtLocal = (DateTime)ViewData["SentAtLocal"];
    var EmailToName = (string)ViewData["EmailToName"];
    var Sender = (string)ViewData["Sender"];
    var MessageText = (string)ViewData["MessageText"];
    var RecipientUsers = (IList<string>)ViewData["RecipientUsers"];
    var RecipientLabels = (IList<string>)ViewData["RecipientLabels"];   
}

<register-translations>
    <hello-name-comma>Hello {{ name }},</hello-name-comma>
    <sent-at-time>Sent At:    {{ time }}</sent-at-time>
    <sender-sender>Sender:     {{ sender }}</sender-sender>
    <recipients-recipients>
        Recipients: 
        <span ng-if="recipientsCount>0 && recipientLabelsCount==0" ng-bind="recipients"/>
        <span ng-if="recipientsCount==0 && recipientLabelsCount>0">All members of the <span ng-if="recipientLabelsCount==1">label</span><span ng-if="recipientLabelsCount>1">labels</span> <span ng-bind="recipientLabels" /></span>
        <span ng-if="recipientsCount>0 && recipientLabelsCount>0" ng-bind="recipients">, and all members of the <span ng-if="recipientLabelsCount==1">label</span><span ng-if="recipientLabelsCount>1">labels</span> <span ng-bind="recipientLabels" /></span>
    </recipients-recipients>
    <message-body-text>
        Message body: <br />
        {{ text }}
    </message-body-text>
</register-translations>
<p translate translate-compile="false" translate-values="{name: '@EmailToName'}">hello-name-comma<br />

    <translate>The following message was sent with the messaging functionality of your BWorkflow installation. You are recieving a copy of this message via email because the mailbox this was sent from is configured to forward all outgoing mail to you. The content of the message is as follows.</translate></p>

<ul>
    <li translate translate-compile="false" translate-values="{time: '@SentAtLocal.ToString("h:mm, dddd d MMMM")'}">sent-at-time</li>
    <li translate translate-compile="false" translate-values="{sender: '@Sender'}">sender-sender</li>

    <li translate ng-init="recipients='@string.Join(", ", RecipientUsers)'; recipientsCount=RecipientUsers.Count; recipientLabels='@string.Join(", ", RecipientLabels)'; recipientLabelsCount=@RecipientLabels.Count">recipients-recipients</li>
</ul>

<p translate translate-compile="false" translate-values="{text:'@MessageText'}">message-body-text</p>
Message body: <br />

@MessageText
</p>
