﻿@model ConceptCave.www.Areas.Player.Models.ReplyViewModel
@{
    this.Layout = null;
    
}

@helper EmitSenderEnumerable(IEnumerable<Guid> values, string name)
{
    int ct = 0;
    foreach (var value in values)
    {
        @Html.Hidden(name + ".Index", ct)
        @Html.Hidden(name + "[" + ct + "]", value)
        ct++;
    }
}


<div class="message-editor-interior message-item">
    <div class="message-display">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="message-avatar media-object" src="@Model.Message.AvatarUrl" />
            </a>
            <div class="media-body">
                <span class="pull-right message-date">@BHelpers.FormatDateOrTime(Model.Message.SentAtUtc, ViewBag.Tz)</span>
                <h4 class="media-heading">@Model.Message.Sender:</h4>
                @Model.Message.Text
            </div>
        </div>
        @if (Model.Message.IsUnread)
        {
            <a href="#" class="btn btn-danger messaging-does-acknowledge message-acknowledge" 
                data-mailboxid="@Model.Message.MessageInstanceId" translate>I have read and understood</a>
        }
    </div>
    <div class="message-send">
        <h3 translate>Reply</h3>
        @using (Html.BeginForm("Send", "MessagingQuestion"))
        {
            @Html.HiddenFor(m => m.Reply.Sender)
            @Html.HiddenFor(m => m.Reply.InReplyTo)
            @Html.HiddenFor(m => m.Reply.RecipientLabels)
            @EmitSenderEnumerable(Model.Reply.RecipientUsers, "Reply.RecipientUsers")

            @Html.EditorFor(m => m.Reply.Text)
            <div class="messaging-acknowledgement-tickbox">
                @Html.LabelFor(m => m.Reply.RequiresAcknowledgement, "{{ 'Requires Acknowledgement' | translate }}")
                @Html.EditorFor(m => m.Reply.RequiresAcknowledgement)
            </div>
        }
    </div>
</div>