﻿@model ConceptCave.www.Areas.Player.Models.SingleMessageViewModel
@{this.Layout = null;}
@{
    var snippedText = Model.Text;
    bool didSnip = false;
    if (snippedText.Length > 140)
    {
        snippedText = snippedText.Substring(0, 140);
        didSnip = true;
    }
    var liclass = Model.IsUnread ? "media message-item message-unread" : "media message-item";
}

<li class="@liclass" data-messageid="@Model.MessageId" data-messageinstanceid="@Model.MessageInstanceId">
    <a class="pull-left" href="#">
        <img class="message-avatar media-object" src="@Model.AvatarUrl" />
    </a>
    <div class="media-body">
        <a class="message-reply btn btn-primary message-does-reply" data-messageid="@Model.MessageId">
                <i class="icon-share-alt icon-white"></i><translate>Reply</translate></a>
        <span class="pull-right message-date">@BHelpers.FormatDateOrTime(Model.SentAtUtc, ViewBag.Tz)</span>
        <h4 class="media-heading">@Model.Sender:</h4>
        @snippedText
        @if (didSnip)
        {
            <text><a href="#" class="message-readmore message-does-reply" data-messageid="@Model.MessageId" translate>...Read More</a></text>
        }
        else if (Model.IsUnread)
        {
            <br />
            <a href="#" class="message-readmore message-does-reply message-ack-link" data-messageid="@Model.MessageId" translate>Click here to acknowledge...</a>
        }
    </div>
</li>