﻿<div class="well">
    <ul class="nav nav-list">
        <li ng-repeat-start="group in groups" class="nav-header">{{group.name}}</li>
        <li ng-repeat="job in group.jobs" ng-click="editJob(job, group)"><a href="">{{job.name}}</a></li>
        <li ng-repeat-end></li>
        <li class="divider"></li>
        <li class="nav-header">Server</li>
        <li ng-click="editServer()"><a href="">Edit</a></li>
    </ul>
</div>
