﻿<form name="editor">
    <legend>{{job.name}}</legend>
    <fieldset>
        <p class="lead">{{job.description}}</p>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th translate>Type</th>
                    <th translate>Details</th>
                    <th translate>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in job.triggers">
                    <td>{{t.type}}<br /><span class="muted">({{t.state}})</span></td>
                    <td>
                        <div class="row-fluid">
                            <div class="span3">
                                <strong translate>Start Time</strong>
                            </div>
                            <div class="span9">
                                {{t.starttime | date:'medium'}}
                            </div>
                        </div>
                        <div class="row-fluid" ng-if="t.endtime != null">
                            <div class="span3">
                                <strong translate>End Time</strong>
                            </div>
                            <div class="span9">
                                {{t.endtime | date:'medium'}}
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                <strong translate>Next Fire Time</strong>
                            </div>
                            <div class="span9">
                                {{t.nextfiretime | date:'medium'}}
                            </div>
                        </div>
                        <div class="row-fluid" ng-if="t.finalfiretime != null">
                            <div class="span3">
                                <strong translate>Final Run</strong>
                            </div>
                            <div class="span9">
                                {{t.finalfiretime | date:'medium'}}     
                            </div>
                        </div>
                        <div class="row-fluid" ng-if="t.type == 'Simple'">
                            <div class="span3">
                                <strong translate>Interval</strong>
                            </div>
                            <div class="span9">
                                {{t.friendlyInterval}} ({{t.interval}})
                            </div>
                        </div>
                        <div class="row-fluid" ng-if="t.type == 'Simple'">
                            <div class="span3">
                                <strong translate>Occurances</strong>
                            </div>
                            <div class="span9">
                                {{t.timestriggered}}
                            </div>
                        </div>
                        <div class="row-fluid" ng-if="t.type == 'Cron'">
                            <div class="span3">
                                <strong translate>Expression</strong>
                            </div>
                            <div class="span9">
                                {{t.cronexpression}}
                            </div>
                        </div>
                        <div ng-if="t.datamap != null">
                            <hr />
                            <div class="row-fluid" ng-if="t.datamap.publishedresourcename != null">
                                <div class="span3">
                                    <strong translate>Run</strong>
                                </div>
                                <div class="span9">
                                    {{t.datamap.publishedresourcename}}
                                </div>
                            </div>
                            <div class="row-fluid" ng-if="t.datamap.reviewername != null">
                                <div class="span3">
                                    <strong translate>Run As</strong>
                                </div>
                                <div class="span9">
                                    {{t.datamap.reviewername}}
                                </div>
                            </div>
                            <div class="row-fluid" ng-if="t.datamap.revieweename != null">
                                <div class="span3">
                                    <strong translate>Run On</strong>
                                </div>
                                <div class="span9">
                                    {{t.datamap.revieweename}}
                                </div>
                            </div>
                            <div class="row-fluid" ng-repeat="item in t.datamap.items">
                                <div class="span3">
                                    <strong translate>{{item.key}}</strong>
                                </div>
                                <div class="span9">
                                    {{item.value}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteTrigger(t)"><i class="icon-trash icon-white"></i> Delete</button>
                        <button ng-if="t.state != 'Paused'" class="btn btn-warning" ng-click="pauseTrigger(t)"><i class="icon-pause icon-white"></i> Pause</button>
                        <button ng-if="t.state == 'Paused'" class="btn btn-success" ng-click="resumeTrigger(t)"><i class="icon-play icon-white"></i> Resume</button>
                        <button class="btn btn-warning" ng-click="fireTrigger(t)"><i class="icon-fire icon-white"></i> Fire</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;cursor:pointer" ng-click="showAddTrigger()">
                        Add Trigger
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="delete()" class="btn btn-danger" type="submit" translate>Delete</button>
</div>

<div class="modal-large hide fade editcrondialog" modalify="shownewtrigger">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>New Trigger</h3>
    </div>
    <div class="modal-body">
        <form name="newcron">
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputName" translate>Type</label>
                        <div class="controls">
                            <select ng-model="newtrigger.type" ng-options="t for t in triggerTypes" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="inputReviewer" translate>Run As</label>
                        <div class="controls">
                            <select-user mandatory="true" ng-model="newtrigger.reviewer"></select-user>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="inputreviewee" translate>Run On</label>
                        <div class="controls">
                            <select-user ng-model="newtrigger.reviewee"></select-user>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="checklistsearch">Checklist</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="checklistsearch" type="text" sf-typeahead options="workflowOptions" datasets="workflowDataset" ng-model="watchcontainer.currentWorkflowObject" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputName" translate>Description</label>
                        <div class="controls">
                            <input type="text" class="input-block-level" ng-model="newtrigger.description" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="inputName" translate>Starts At</label>
                        <div class="controls">
                            <input type="datetime-local" ng-model="newtrigger.starttime" />
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="inputName" translate>Ends At</label>
                        <div class="controls">
                            <input type="datetime-local" ng-model="newtrigger.endtime" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" ng-if="newtrigger.type == 'Simple'">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputName" translate>Interval</label>
                        <div class="controls">
                            <table>
                                <tr>
                                    <td>Days</td>
                                    <td>Hours</td>
                                    <td>Mins</td>
                                    <td>Seconds</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="number" style="width:50px" ng-model="newtrigger.intervalDay" />
                                    </td>
                                    <td>
                                        <input type="number" style="width:50px" ng-model="newtrigger.intervalHour" />
                                    </td>
                                    <td>
                                        <input type="number" style="width:50px" ng-model="newtrigger.intervalMin" />
                                    </td>
                                    <td>
                                        <input type="number" style="width:50px" ng-model="newtrigger.intervalSec" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" ng-if="newtrigger.type == 'Cron'">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputName" translate>CRON Expression</label>
                        <div class="controls">
                            <input type="text" ng-model="newtrigger.cronexpression" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        <a href="#" class="btn btn-primary" ng-click="confirmNewTrigger()" translate>Save changes</a>
    </div>
</div>
