﻿@model ConceptCave.www.Areas.Reader.Models.WorkingDocumentModel
@{
    ViewBag.Title = @Model.Name;
    
    if(Model.isAjax == true)
    {
        this.Layout = null;
    }
}

<h3>@Model.Name</h3>

<div style="float:left;width:80%">
@{
    foreach(var presented in Model.Document.Presented)
    {
        if(presented.Presentable is ConceptCave.Checklist.Interfaces.ISection)
        {
            @Html.Partial("RenderSectionReader", presented);
        }
        else
        {
            @Html.Partial("RenderQuestionReader", presented);
        }
    }
}
</div>

<div style="float:left;width:18%">
    <div class="section">
        <h4 translate>Reference Material</h4>
        <table>
            @foreach (var reference in Model.ReferenceMaterial)
            {
                <tr>
                    <td>
                        <a href="@reference.Url" target="_blank">@reference.Name</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div style="clear:both">&nbsp;</div>