﻿@using ConceptCave.Data.EntityClasses
@using ConceptCave.www.Areas.Organisation.Models
@model RoleViewModel

@{
    this.Layout = null;
    var uniqueid = Guid.NewGuid();
}

<div id="@uniqueid" style="display:none;"> &nbsp; </div>

@if (ViewBag.ActionTaken != null)
{

    if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
    {
        string message = "Role Removed";
            
        <script type="text/javascript">
            $(function () {
                $("#@uniqueid").trigger("serverdeleteditem", { id: '@Model.Id.ToString()' });
            });
        </script>
    
        @Html.Partial("RenderNotificationUI", message);

        return; // nothing more to do
    }

    if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.New ||
        ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Save)
    {
        <script type="text/javascript">
             $(function () {
                 $("#groupContainer").effect("highlight", { 'color': '#ccffcc' }, 3000);
                 $("#@uniqueid").trigger("serveraddeditem", { id: '@Model.Id.ToString()' });
            });
        </script>   
    }
}

<div id="groupContainer">
    @using (Html.BeginForm("Save", "Roles", FormMethod.Post, new { id = "roleeditorui" }))
    {
        <h3 translate>Edit Role</h3>
        
        @Html.HiddenFor(m => m.Id)
        
        @Html.LabelFor(m => m.Name, "{{ 'Role Name' | translate }}")
        @Html.EditorFor(m => m.Name)

        @Html.LabelFor(m => m.IsPerson, "{{ 'Is a person?' | translate }}")
        @Html.EditorFor(m => m.IsPerson)

        foreach (UserTypeEntity type in ViewBag.UserTypes)
        {
            var checkedAttr = Model.UserTypes.Contains(type.Id) ? "checked" : "";
            <br />
            <label style="width: 100px; display: inline-block;">@type.Name</label>
            <input type="checkbox" style="display: inline-block;" name="UserTypes" value="@type.Id" @checkedAttr />
        }
        
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{{ 'Save Changes' | translate}}" data-role="submit">
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $("#roleeditorui").submit(function () {
            CurrentDesignerManager.save($("#roleeditorui"));
            return false;
        });

    });
</script>
