<div style='width: 20px' layout-align='center center'>
    <div ng-if='$ctrl.mode==1'>
        <md-icon md-font-set='fas' md-font-icon="fa-spinner fa-spin"></md-icon>
    </div>
    <div ng-if='$ctrl.mode==2'>
        <md-tooltip>{{ $ctrl.message }}</md-tooltip>
        <md-icon md-font-set='fas' md-font-icon="fa-times" style='color: red'></md-icon>
    </div>
    <div ng-if='$ctrl.mode==3'>
        <md-icon md-font-set='fas' md-font-icon="fa-check" style='color: green'></md-icon>
    </div>
</div>
