div.temperature-probe {
    h1
    {
        text-align:center;
    }
    
    .pass h1 {
        color:green;
    }
    
    a {
        width:100%;
        padding: 10px 0px 10px 0px;
    }
    
    .probe-top { 
        margin: auto;
        position: relative;
        width: 90mm;
        height: 45mm;
        border-radius: 50% 50% 0 0/ 100% 100% 0 0;
        border: solid 2px black;
        border-bottom: none;
    }
    .probe-bottom { 
        margin: auto;
        position: relative;
        width: 90mm;
        height: 45mm;
        border-radius: 0 0 50% 50%/ 0 0 100% 100%; 
        border: solid 2px black;
    }
    .probe-toohot
    {
        background-color: #FC4515
    }
    
    .probe-toocold
    {
        background-color: #109DFC
    }
    
    .probe-justright
    {
        background-color: #60CF48
    }
    
    .probe-notemp
    {
        background-color: #FFFFFF
    }

    .probe {
        color: #fff;
    }
    
    .probe:focus {
        outline: none;
    }

    .probe .left {
      position: absolute;
      top: 85%;
      left: 15%;
      transform: translate(-50%, -50%);
    }
    .probe .right {
      position: absolute;
      top: 85%;
      right: 85%;
      width: 20%;
      transform: translate(380%, -50%);
      text-align: right;
    }
    
    .probe .top {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12pt;
    }
    
    .probe .top-right {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(80%, -150%);
    }
    
    .probe .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40pt;
      line-height: 60px;
    }
    .probe .bottom {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
}