<div question-wrapper="presented">
    <div class="temperature-probe"
        ng-class="{pass: reading >= presented.MinimumPassReading && reading <= presented.MaximumPassReading}">
        <div ng-if="!supported">
            <div class="alert alert-error">Temperature probe is not supported on the device or browser that your are
                using</div>
        </div>
        <div ng-if='supported'>
            <div class='alert alert-danger' ng-if="allowedProbeSerialNumbers.length == 1 && !tp.probe">Probe Serial #
                {{ allowedProbeSerialNumbers[0] }} is out of range</div>
            <div ng-if="tp.probe || answer.Celcius" ng-switch on="tp.probe.status || (answer.Celcius ? 2 : 0)">
                <div class="probe-container" ng-switch-when="2">
                    <div class="probe probe-top"
                        ng-class="['probe-justright','probe-toocold','probe-toohot','probe-notemp'][readingStatus]"
                        ng-click="record()">
                        <div class="top" am-time-ago="tp.currentTemperature.readingTimestamp">
                        </div>
                        <div class="left">
                            Min:<br />
                            {{ degrees(presented.MinimumPassReading) }}
                        </div>
                        <div class="right">
                            Max:<br />
                            {{ degrees(presented.MaximumPassReading) }}
                        </div>
                        <div class="center">
                            {{ degrees(reading) }}
                        </div>
                        <div ng-switch on="readingStatus" class="bottom">
                            <div ng-switch-when="1">
                                Too Cold
                            </div>
                            <div ng-switch-when="2">
                                Too Hot
                            </div>
                            <div ng-switch-when="0">
                                Click to Record
                            </div>
                        </div>
                    </div>
                    <div class="probe probe-bottom"
                        ng-class="['probe-justright','probe-toocold','probe-toohot','probe-notemp'][recordedStatus]"
                        ng-click="clearRecorded()">
                        <div class="top">
                            Recorded
                        </div>
                        <div class="center">
                            {{ degrees(answer.Celcius) }}
                        </div>
                        <div ng-switch on="recordedStatus" class="bottom">
                            <div ng-switch-when="1">
                                Too Cold
                            </div>
                            <div ng-switch-when="2">
                                Too Hot
                            </div>
                            <div ng-switch-when="0">
                                Click to Clear
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert" ng-switch-default
                    ng-class="['alert-info','alert-warning','alert-success','alert-warning','alert-error'][tp.probe.status]">
                    {{ tp.probe.statusText }}
                </div>
                <p class="muted pull-right">
                    <span>
                        <div>Serial # {{ tp.probe.serialNumber }}</div>
                        <div>Battery {{ tp.probe.battery.percent * 100 | number : 0 }}% <span
                                ng-if='tp.probe.battery.volts'>( {{ tp.probe.battery.volts }}V</span><span
                                ng-if="battery.charging">{{ tp.probe.battery.charging }})</span> </div>
                    </span>
                </p>
            </div>
            <div ng-if="!allowedProbeSerialNumbers || allowedProbeSerialNumbers.length != 1">
                <button class="md-button md-raised md-accent" ng-click="selectProbe()">Select Probe</button>
            </div>
        </div>
    </div>
</div>
