﻿@{
    ViewBag.Title = "Reports";
}
<div>
    <div id="management" class="container-fluid" ng-controller="reportLibraryCtrl">
        <div class="row-fluid">
            <div id="reportslist" class="span2">
                <div>
                    <div class="well" ng-if="viewing.type == 1" style="padding:4px;">
                        <p>Click the button below to view the report in full screen mode.</p>
                        <p style="text-align:center">
                            <button ng-click="fullscreen()" class="btn"><i class="icon-fullscreen"></i>&nbsp; Full Screen</button>
                        </p>
                    </div>
                    <h3>Library</h3>
                    <ul class="nav nav-tabs nav-stacked">
                        <li ng-repeat="report in reports" ng-click="viewReport(report)">
                            <a href="">{{report.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-if="!viewing" class="span10">
                <div class="hero-unit" ng-if="!editing">
                    <h1 translate>Report Library</h1>
                    <span translate>Select a report from the list on the left.</span>
                </div>
            </div>
            <div ng-if="viewing.type == 0" class="span10">
                <telerik-reporting report="viewing.id"></telerik-reporting>
            </div>
            <div ng-if="viewing.type == 1" class="span10">
                <power-bi ng-model="viewing.powerbi.reportid" token="viewing.powerbi.accesstoken"></power-bi>
            </div>
            <div ng-if="viewing.type == 2" class="span10">                
                <div ng-controller="jsreportContextController">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span9">
                                <h3>{{viewing.name}}</h3>
                                <iframe id="reportFrame" style="width:100%" fill-height ng-if="reportOutput.url" ng-src="{{reportOutput.url}}"></iframe>
                            </div>
                            <div class="span3">
                                <jsreport-parameters report-id="viewing.id" report-context="reportContext"></jsreport-parameters>
                                <hr/>
                                <jsreport-viewer report-context="reportContext" report-output="reportOutput"></jsreport-viewer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>