﻿@{
    ViewBag.Title = "Reports";
}

<div ng-controller="jsreportContextController">
    <jsreport-selector short-id="shortId"></jsreport-selector>

    <jsreport-parameters report-context="reportContext" ></jsreport-parameters>
    <jsreport-viewer report-context="reportContext" ></jsreport-viewer>
</div>

