<div style="max-width:100%;height:300px;overflow:scroll">
    <div ng-repeat="m in log.messages" ng-class="{'muted': m.level == 'debug', 'text-info': m.level == 'info', 'text-warning': m.level == 'warn', 'text-error': m.level == 'error'}">
		{{m.message}}        
    </div>
</div>