﻿<div>
    <div id="management" class="container-fluid" ng-controller="rolesmanagementCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newRole()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    </div>
                    <roles-sidebar ng-model="roles"></roles-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1 translate>Roles Management</h1>
                        <span translate>This management section allows you to define custom roles and then utilize these to control access to various areas of the system, such as folders in media etc.</span> 
                    </div>
                    <div ng-if="editing">
                        <role-editor ng-model="editing"></role-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>