﻿<register-translations>
    <on-item-datecreated>on <span ng-bind="toLocalDate(item.datecreated)"/></on-item-datecreated>
</register-translations>
<div>
    <div id="newsfeed" class="container-fluid" ng-controller="newsfeedmanagementCtrl">
        <div class="row-fluid">
            <div id="channellist" class="span4">
                <div class="itemlistnav" style="text-align:right;padding:4px;">
                    <button ng-click="newItem()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                </div>
                <channel-sidebar ng-model="channels"></channel-sidebar>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!items">
                        <h1 translate>News Feed Management</h1>
                        <span translate>This management section allows you to send short messages out to the system, these will show up on relevant users dashboards.</span>
                    </div>
                    <div ng-if="items">
                        <h3 translate>Latest Posts</h3>
                        <blockquote ng-repeat="item in items">
                            <div style="text-align:right">
                                <button ng-click="editItem(item)" class="btn btn-mini" translate>Edit</button>
                            </div>
                            <strong>{{item.title}}</strong><br />
                            {{item.headline}}
                            <small translate>on-item-datecreated</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-large hide fade editcompanydialog" modalify="showeditor">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Edit News Feed Item</h3>
            </div>
            <div class="modal-body">
                <form name="newsfeeditem">
                    <div class="control-group" ng-class="{error: newsfeeditem.inputChannel.$invalid && newsfeeditem.inputChannel.$pristine == false}">
                        <label class="control-label" for="inputChannel" translate>Channel</label>
                        <div class="controls">
                            <input type="text" id="inputChannel" name="inputChannel" required ng-model="editing.channel" placeholder="{{ 'Channel' | translate }}"><span ng-if="newsfeeditem.inputChannel.$invalid && newsfeeditem.inputChannel.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: newsfeeditem.inputProgram.$invalid && newsfeeditem.inputProgram.$pristine == false}">
                        <label class="control-label" for="inputProgram" translate>Program</label>
                        <div class="controls">
                            <input type="text" id="inputProgram" name="inputProgram" required ng-model="editing.program" placeholder="{{ 'Program' | translate }}"><span ng-if="newsfeeditem.inputProgram.$invalid && newsfeeditem.inputProgram.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: newsfeeditem.inputValidTo.$invalid && newsfeeditem.inputValidTo.$pristine == false}">
                        <label class="control-label" for="inputValidTo" translate>Valid To</label>
                        <div class="controls">
                            <input dateify type="text" id="inputValidTo" name="inputValidTo" required ng-model="editing.validto"><span ng-if="newsfeeditem.inputValidTo.$invalid && newsfeeditem.inputValidTo.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: newsfeeditem.inputTitle.$invalid && newsfeeditem.inputTitle.$pristine == false}">
                        <label class="control-label" for="inputTitle" translate>Title</label>
                        <div class="controls">
                            <input type="text" id="inputTitle" name="inputTitle" required ng-model="editing.title" placeholder="{{ 'Title' | translate }}"><span ng-if="newsfeeditem.inputTitle.$invalid && newsfeeditem.inputTitle.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: newsfeeditem.inputHeadline.$invalid && newsfeeditem.inputHeadline.$pristine == false}">
                        <label class="control-label" for="inputProgram" translate>Content</label>
                        <div class="controls">
                            <textarea id="inputHeadline" name="inputHeadline" ng-model="editing.headline"></textarea><span ng-if="newsfeeditem.inputHeadline.$invalid && newsfeeditem.inputHeadline.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="saveItem(editing)" translate>Save changes</a>
            </div>
        </div>

    </div>
</div>