﻿<div >
    <div ng-controller="languageCtrl">
        <div class="row-fluid">
            <div id="languageList" class="span4">
                <div class="itemlistnav" style="text-align:right;padding:4px;">
                    <button ng-click="newLanguage()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    <button ng-if="editing" ng-click="deleteLanguage()" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
                </div>
                <language-sidebar ng-model="languages"></language-sidebar>
            </div>
            <div class="span8">
                <div id="languageEditorUI" class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1 translate>Language Management</h1>
                        <translate>Define Languages which can be used to internationlise your resources.</translate>
                    </div>
                    <div ng-if="editing">
                        <language-editor ng-model="editing"></language-editor>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
