﻿<div>
    <div id="management" class="container-fluid" ng-controller="mediamanagementCtrl">
        <div class="row-fluid">
            <div id="managementlist" class="span4">
                <div id="mediatree">
                    <div style="text-align:right">
                        <label style="display:inline">
                            <input type="checkbox" ng-model="shownotfiled" ng-change="toggleNotFiled()" />
                            <translate>Only show media that is filed</translate>
                        </label>
                        <button ng-click="newfolder()" class="btn btn-mini" type="button" translate>Add Folder</button>
                    </div>
                    <abn-tree ng-if="folders" tree-data="folders" on-select="viewDetails(branch)" tree-control="treeControl"></abn-tree>
                </div>
            </div>
            <div class="span8">
                <div id="projectdesignerui" class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1 translate>Media Management</h1>
                        <translate>Media is a general term used to cover images, video, word documents, pdf's etc.</translate>
                    </div>
                    <div ng-if="editing && editing.type == 'folder'">
                        <media-folder-editor ng-model="editing.item" />
                    </div>
                    <div ng-if="editing && editing.type == 'file'">
                        <media-file-editor ng-model="editing.item" />
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-large hide fade" modalify="uploadingfile">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Upload Media</h3>
            </div>
            <div ng-if="uploadingfile" class="modal-body">
                <div ng-if="uploadargs.isnew">
                    <div class="control-group">
                        <label class="control-label" for="inputFileName" translate>Name</label>
                        <div class="controls">
                            <input type="text" id="inputFileName" name="inputFileName" ng-model="uploadargs.name" placeholder="{{ 'Name' | translate }}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputDescription" translate>Description</label>
                        <div class="controls">
                            <textarea id="inputDescription" name="inputDescription" ng-model="uploadargs.description"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputUseVersioning" translate>Use Version Tracking</label>
                        <div class="controls">
                            <input type="checkbox" id="inputUseVersioning" name="inputUseVersioning" ng-model="uploadargs.useversioning" />
                        </div>
                    </div>
                </div>
                <file-uploader></file-uploader>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
            </div>
        </div>

        <div class="modal-large hide fade" modalify="importingfolder">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Import Folder</h3>
            </div>
            <div class="modal-body">
                <div ng-if="uploader" class="row-fluid">
                    <div class="span6">
                        <div ng-show="uploader.isHTML5" nv-file-drop uploader="uploader">
                            <div class="well drop-zone" nv-file-over uploader="uploader" translate>
                                Drag and Drop files here
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <p translate>Alternatively you may select a file</p>
                        <input nv-file-select uploader="uploader" type="file" multiple />
                    </div>
                </div>
                <div class="row-fluid" ng-if="uploader.queue.length > 0">
                    <div class="span12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%" translate>Name</th>
                                    <th translate>Behaviour</th>
                                    <th translate>Status</th>
                                    <th translate>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="item in uploader.queue">
                                    <td><strong>{{ item.file.name }} </strong></td>
                                    <td>
                                        <span>Test Only</span><input type="checkbox" ng-model="item.testOnly"></select>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="icon-upload"></i></span>
                                        <span ng-show="item.isCancel"><i class="icon-ban-circle"></i></span>
                                        <span ng-show="item.isError" id='{{item.id}}'><i class="icon-trash"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-mini" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="icon-upload"></span><translate>Import</translate>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-mini" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="icon-ban-circle"></span><translate>Cancel</translate>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-mini" ng-click="item.remove()">
                                            <span class="icon-trash"></span><translate>Remove</translate>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-repeat-end>
                                    <td colspan="4">
                                        <table class="table table-condensed">
                                            <tr ng-repeat="itemResult in item.importfolderresult.items" ng-class="['warning', 'warning', 'success', 'success', 'info', 'error'][itemResult.resulttype]">
                                                <td>{{itemResult.name}}</td>
                                                <td>{{itemResult.result}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
            </div>
        </div>

    </div>
</div>
