﻿<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Method</th>
            <th>UTC Date Created</th>
            <th>Data</th>
            <th>Last Exception</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="h in items">
            <td style="position:relative">{{h.method}}<br/><button style="position:absolute;bottom:1px;right:1px" ng-if="$index == 0" class="btn btn-success" ng-click="replay(h)"><i class="icon-play icon-white"></i></button></td>
            <td>{{h.datecreated | date:'medium'}}</td>
            <td>{{h.data}}</td>
            <td>{{h.latestexception}}</td>
        </tr>
    </tbody>
</table>
