﻿<ul class="nav nav-tabs nav-stacked">
    <li ng-repeat="handler in openhandlers" ng-click="editHandler(handler)">
        <a href="">{{handler.handler}}<br/><small>{{handler.primaryentityid}}</small></a>
    </li>
</ul>