﻿@model ConceptCave.www.Areas.Admin.Models.GlobalSettingsModel
@{
    ViewBag.Title = "Global Settings";
}
<register-translations>
    <there-are-count-process-reserved-to-run-scheduled-tasks-in-this-implementation>There are {{ count }} processes reserved to run scheduled tasks in this implementation.</there-are-count-process-reserved-to-run-scheduled-tasks-in-this-implementation>
</register-translations>
<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-extensions" data-toggle="tab" translate>Extensions</a></li>
            <li><a href="#tab-general" data-toggle="tab" translate>General</a></li>
            <li><a href="#tab-versions" data-toggle="tab" translate>Versions</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-extensions" class="tab-pane active">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span4">
                            <h3 translate>Theme</h3>

                            @Html.Partial("FileUpload", new ConceptCave.www.Models.FileUploadModel() { Action = "UploadTheme", Controller = "GlobalSettings", Title = "{{ 'Select Theme File' | translate }}" })

                            @if (Model.ThemeMediaId.HasValue)
                            {
                                @Html.Partial("LinkToMedia", new ConceptCave.www.Models.LinkToMediaModel() { MediaId = Model.ThemeMediaId.Value, NewWindow = false, Text = "{{ 'Download theme' | translate }}" })
                            }
                            <h3>Fav Icon</h3>
                            @Html.Partial("FileUpload", new ConceptCave.www.Models.FileUploadModel() { Action = "UploadFavIcon", Controller = "GlobalSettings", Title = "Select Fav Icon" })

                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-general" class="tab-pane">
                <div class="container-fluid">
                    @using (Html.BeginForm("Save", "GlobalSettings", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <div class="row-fluid">
                            <div class="span12">
                                <h3 translate>System Settings</h3>
                                <div class="control-group">
                                    @Html.EditorFor(m => m.StoreLoginCoordinates)
                                    @Html.LabelFor(m => m.StoreLoginCoordinates, "{{ 'Store login coordinates' | translate}}")
                                </div>

                                <div class="control-group">
                                    @Html.EditorFor(m => m.StoreLoginSite)
                                    @Html.LabelFor(m => m.StoreLoginSite, "{{ 'Resolve login location to site' | translate}}")
                                </div>

                                <div class="control-group">
                                    @Html.EditorFor(m => m.SchedulesEnabled)
                                    @Html.LabelFor(m => m.SchedulesEnabled, "{{ 'Scheduled processes enabled' | translate}}")
                                </div>
                                @if (Model.SchedulesEnabled == true)
                                {
                                    <p translate translate-compile="false" translate-values="{count: @Model.ScheduleProcessCount}">there-are-count-process-reserved-to-run-scheduled-tasks-in-this-implementation</p>
                                }
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <button type="submit" style="float:right;" class="btn" translate>Submit</button>
                            </div>
                        </div>
                    }
                </div>
                <hr />
                <div class="row-fluid">
                    <div class="span12">
                        <h3 translate>Custom Settings</h3>
                        <table class="table table-bordered table-hover" id="customSettings">
                            <thead>
                            <th translate>Name</th>
                            <th translate>Value</th>
                            <th><button class="btn btn-success add"><i class="icon-plus-sign"></i></button></th>
                            </thead>
                            <tbody>
                                @foreach (var custom in Model.CustomSettings)
                                {
                                    <tr>
                                        <td id="customSettingName@(custom.Id)">@custom.Name</td>
                                        <td id="customSettingValue@(custom.Id)">@custom.Value</td>
                                        <td>
                                            <button class="btn btn-success edit" data-customid="@custom.Id"><i class="icon-edit"></i></button>&nbsp;<button class="btn btn-danger delete" data-customid="@custom.Id"><i class="icon-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div id="tab-versions" class="tab-pane">
                <div class="container-fluid" ng-controller="adminVersionsController">
                    <h3 translate>Versions</h3>
                    <button class="btn btn-warning" ng-click="forceAppUpdate()" translate>Force App Update</button>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th translate>Name</th>
                            <th translate>Version</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="version in versions">
                                <td>{{ version.Name }}</td>
                                <td>{{ version.Value }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 translate>Tenant information</h3>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th translate>Name</th>
                            <th translate>Value</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in tenantInfo">
                                <td>{{ info.Name }}</td>
                                <td>{{ info.Value }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

<div class="modal hide fade" id="editCustomSetting">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Edit Custom Setting</h3>
    </div>
    <div class="modal-body">
        <label for="changeName" translate>Name</label>
        <input type="input" id="changeName" />

        <label for="changeValue" translate>Value</label>
        <textarea id="changeValue"></textarea>
        <input type="hidden" id="changeId" /> <br /><br />
        <div id="saveErrorMessage" class="alert alert-error" style="display:none;"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        <a id="submitEditCustomSetting" href="#" class="btn btn-primary" translate>Save changes</a>
    </div>
</div>

@using (Html.BeginForm("SaveCustomItem", "GlobalSettings", FormMethod.Post, new { id = "savecustomitem" }))
{
    @Html.Hidden("id", "", new { id = "savecustomitem_id" })
    @Html.Hidden("name", "", new { id = "savecustomitem_name" })
    @Html.Hidden("value", "", new { id = "savecustomitem_value" })
}

@using (Html.BeginForm("RemoveCustomItem", "GlobalSettings", FormMethod.Post, new { id = "removecustomitem" }))
{
    @Html.Hidden("id", "", new { id = "removecustomitem_id" })
}

<script type="text/javascript">
    $(function () {
        $(".edit").die("click");
        $(".edit").live("click", function (ev) {
            var id = $(ev.currentTarget).data().customid;
            $("#changeName").val($("#customSettingName" + id).text());
            $("#changeValue").val($("#customSettingValue" + id).text());
            $("#changeId").val(id);

            $("#saveErrorMessage").css('display', 'none');
            $("#editCustomSetting").modal();

            return false;
        });

        $(".add").click(function () {
            $("#changeName").val("");
            $("#changeValue").val("");
            $("#changeId").val(-1);

            $("#saveErrorMessage").css('display', 'none');
            $("#editCustomSetting").modal();

            return false;
        });

        $(".delete").die("click");
        $(".delete").live("click", function (ev) {
            if (confirm("Are you sure you want to remove this setting?")) {
                var id = $(ev.currentTarget).data().customid;
                $("#removecustomitem_id").val(id);

                var options = {
                    success: function (responseText) {
                        $("#customSettingName" + id).parent().remove();
                    }
                };

                $("#removecustomitem").ajaxSubmit(options);
            }

            return false;
        });

        $("#submitEditCustomSetting").click(function () {
            var newName = $("#changeName").val();
            var newValue = $("#changeValue").val();
            var newId = $("#changeId").val();

            $("#savecustomitem_id").val(newId);
            $("#savecustomitem_name").val(newName);
            $("#savecustomitem_value").val(newValue);

            var options = {
                success: function (responseText) {
                    if (responseText.Success == false) {
                        $("#saveErrorMessage").html(responseText.Message);
                        $("#saveErrorMessage").fadeIn();

                        return;
                    }

                    if (newId == -1) {
                        // slightly different, we need to add a row to the table for this one

                        var newRow = '<tr><td id="customSettingNameIDHERE"></td><td id="customSettingValueIDHERE"></td><td><button class="btn btn-success edit" data-customid="IDHERE"><i class="icon-edit"></i></button>&nbsp;<button class="btn btn-danger remove" data-customid="IDHERE"><i class="icon-trash"></i></button></td></tr>';

                        newRow = newRow.replace(/IDHERE/g, responseText.Id);

                        $('#customSettings tr:last').after(newRow);

                        newId = responseText.Id;
                    }

                    $("#customSettingName" + newId).text(newName);
                    $("#customSettingValue" + newId).text(newValue);


                    $("#editCustomSetting").modal('hide');
                }
            };

            $("#savecustomitem").ajaxSubmit(options);
        });
    });
</script>