﻿@{
    ViewBag.Title = "Continue";
    this.Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <a href="javascript:var previous = window.open('', 'bworkflow');previous.updateAttachmentsCallback();window.close()">Return to b-workflow</a>
    </body>
<</html>