<md-toast role="alert" aria-relevant="all">
    <span ng-if='ctrl.svc.updatePending === 1' flex>Update pending</span>
    <span ng-if='ctrl.svc.updatePending === 2' flex>Updating in {{ ctrl.svc.updateApplyCounter }}</span>
    <md-button ng-if='ctrl.svc.updatePending === 1' class="md-highlight" ng-click="ctrl.dismiss($event)">
        Dismiss
    </md-button>
</md-toast>
