﻿<div class="control-group">
    <div class="controls">
        <input type="text" placeholder="{{ 'Search' | translate }}" ng-model="search" />
        <span class="add-on">
            <input type="checkbox" ng-model="includeArchived" /><small>Archived</small>
        </span>
    </div>
    <div ng-repeat="t in attachmentTypes" class="btn btn-small" ng-click="toggleAttachmentType(t)" tooltip="{ title: t.name }">
        <i ng-class="['icon-ban-circle', 'icon-check', 'icon-check-empty'][t.include || 0]"></i>
        <i ng-class="'icon-' + t.class"></i>&nbsp;{{ t.name }}
    </div>
</div>

<ul class="nav nav-tabs nav-stacked">
    <li dir-paginate="record in records | itemsPerPage: itemsPerPage" total-items="totalRecords" current-page="pageNumber" ng-click="editRecord(record)">
        <a href="">
            <div>
                <div>{{ record.name }}</div>
                <div class="muted">{{ record.key }}</div>
                <div ng-if="record.archived" class="label label-warning pull-right">Archived</div>
            </div>
        </a>

    </li>
</ul>
<dir-pagination-controls boundary-links="true" class="ng-isolate-scope" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
