﻿<register-translations>
    <edit-es-probe>ES Probe: <span ng-bind="record.id" /></edit-es-probe>
</register-translations>
<form name="editor">
    <legend translate>edit-es-probe</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify><a href="#sensors" data-toggle="tab" translate>Sensors</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general" style="min-height:400px">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" type="text" ng-model="record.name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Asset</label>
                    <div class="controls">
                        <search-asset ng-model="record.assetid"></search-asset>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="key">Key</label>
                    <div class="controls">
                        <input id="key" type="text" readonly ng-model="record.key" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="model">Model</label>
                    <div class="controls">
                        <input id="model" type="text" readonly ng-model="record.model" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="serial">Serial #</label>
                    <div class="controls">
                        <input id="serial" type="text" readonly ng-model="record.serialnumber" />
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="sensors" style="min-height:400px">
                <div ng-repeat="sensor in record.sensors">
                    <div class="control-group">
                        <label class="control-label" for="type">Sensor {{ sensor.sensorindex}} Type</label>
                        <div class="controls">
                            <input id="type" type="text" readonly ng-model="sensorTypesById[sensor.sensortype].name" />
                            <span>{{ lastReading[sensor.id].Value | number: 2 }}</span><span class="muted"> {{ lastReading[sensor.id].SensorTimestampUtc | amTimeAgo }}</span>
                        </div>
                    </div>

                    <div class="control-group" ng-if="sensorTypesById[sensor.sensortype].hasCompliance">
                        <label class="control-label" for="compliance">Compliance Standard</label>
                        <div class="controls">
                            <select id="type" ng-model="sensor.compliance" ng-options="standard.id as standard.id for standard in standards" />
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
    </fieldset>
</form>

<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>


