﻿@model ConceptCave.www.Areas.Player.Models.UploadMediaAnswerModel

@{
    var uniqueId = Guid.NewGuid().ToString();
    
    if(Model.IsIOSContinue == true)
    {
        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="utf-8" />
                <title>@ViewBag.Title</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
            </head>
            <body>
                <a href="javascript:var previous = window.open('', 'bworkflow');previous.updateMediaCallback('@(Model.IOSModalId)');window.close()" translate>Return to b-workflow</a>
            </body>
        </html>
    
        return;   
    }
}
           
<table class="table table-striped" id="@uniqueId">
    @foreach (var item in Model.Answer.Items.Items)
    {
        ConceptCave.www.Models.MediaImageModel imgModel = null;

        imgModel = new ConceptCave.www.Models.MediaImageModel() 
        { 
            RootId = item.MediaId, Extension = System.IO.Path.GetExtension(item.Filename)
        };

        <tr>
            <td>@item.Name</td>
            <td>
                @if (imgModel != null && imgModel.IsImage || imgModel.IsVideo)
                {
                    <span>@{imgModel.Width = 200;} @Html.Partial("MediaImage", imgModel)</span>
                }
            </td>
            <td><button class="btn btn-danger pull-right remove {id:'@item.MediaId'}" type="button"><i class="icon-trash icon-white"></i>&nbsp;Remove</button></td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(function () {
        $("#@(uniqueId) .remove").click(function () {
            $("#@(uniqueId)").trigger("mediaitemdelete", $(this).metadata());
        });

        // let others know how many items we've loaded
        $("#@(uniqueId)").trigger("mediaitemsloaded", @(Model.Answer.Items.Items.Count));
    });
</script>