﻿@model List<ConceptCave.www.Areas.Player.Models.NotesAttachmentModel>

@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();
}

<table class="table table-striped" id="@uniqueId">
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.Partial("LinkToMedia", new ConceptCave.www.Models.LinkToMediaModel() { MediaId = item.Id, Text = item.Name, NewWindow = true })</td>
            <td><button class="btn btn-danger pull-right remove {id:'@item.Id'}" type="button"><i class="icon-trash icon-white"></i>&nbsp;<translate>Remove</translate></button></td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(function () {
        $("#@(uniqueId) .remove").click(function () {
            $("#@(uniqueId)").trigger("attachmentdelete", $(this).metadata());
        });
    });
</script>