﻿@model ConceptCave.www.Areas.Player.Models.FinishedModel
@{
    this.Layout = null;
}
        <h3 translate>Finished</h3>

        <p translate>Thank you the @Model.ChecklistName checklist has been completed.</p>

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('finished');
    })
</script>