﻿@model ConceptCave.www.Areas.Player.Models.NotesModel

@{
    this.Layout = null;

    var uniqueId = Guid.NewGuid().ToString();

    List<ConceptCave.www.Areas.Player.Models.NotesAttachmentModel> attachments = Model.Attachments;

    var postValues = Server.UrlEncode(string.Format("rootid={0}&presentedid={1}", Model.RootId, Model.PresentedId));
}


@using (Html.BeginForm("SaveNotes", "Play", FormMethod.Post, new { id = "savenotes" }))
{
    @Html.EditorFor(m => m);
}

@using (Html.BeginForm("DeleteNoteAttachment", "Play", FormMethod.Post, new { id = "deletenoteattachment" }))
{
    @Html.HiddenFor(m => m.RootId);
    @Html.HiddenFor(m => m.PresentedId);
    @Html.Hidden("attachmentid", "", new { id="deletenoteattachment_attachmentid" });
}

<div id="currentnoteattachments">
    @Html.Partial("DisplayNotesAttachments", attachments)
</div>

<div class="row-fluid">
    <div class="span4"><button class="btn" id="showuploadelements" translate>Upload Attachment</button></div>
    <div class="span8">
        <div id="uploadelements" style="display:none">
        @using (Html.BeginForm("SaveNoteAttachment", "Play", FormMethod.Post, new { @encType = "multipart/form-data", id = "savenoteattachment" }))
        {
            @Html.HiddenFor(m => m.RootId);
            @Html.HiddenFor(m => m.PresentedId);
            @Microsoft.Web.Helpers.FileUpload.GetHtml(initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, includeFormTag: false, addText: "{{ 'Select File' | translate }}", uploadText: "{{ 'Upload File' | translate }}")

            <input id="uploadnotesattachment" class="btn" type="submit" value="{{ 'Upload' | translate }}" />
        }
        </div>    
    </div>
</div>

@using (Html.BeginForm("GetNoteAttachments", "Play", FormMethod.Post, new { id = "getnoteattachments" }))
{
    @Html.HiddenFor(m => m.RootId);
    @Html.HiddenFor(m => m.PresentedId);                              
}

<script type="text/javascript">
    function updateAttachmentsCallback() {
        CurrentDesignerManager.submitForm($("#getnoteattachments"), function (responseText, angularise) {
            $("#currentnoteattachments").html(responseText);
            $("#currentnoteattachments").trigger('create');
            angularise($("#currentnoteattachments"));
        });
    }

    $(function () {
        window.name = "bworkflow";

        if (Picup.isMobileSafari() == true) {
            $("#uploadnotesattachment").css('display', 'none');

            var currentParams = {
                'postURL': '@(Url.ToFullyQualifiedUrl("~/").Replace("localhost", "10.0.0.58"))IOSHelper/SaveNoteAttachment',
                'postValues': '@postValues',
                'postImageParam': 'fileUpload',
                'callbackURL': '@(Url.ToFullyQualifiedUrl("~/").Replace("localhost", "10.0.0.58"))IOSHelper/Continue',
                'referrername': escape('b-workflow'),
                'referrerfavicon': escape('http://picupapp.com/favicon.ico'),
                'purpose': escape('Select an image to upload as an attachment to the question notes'),
                'debug': 'true'
            };

            Picup.convertFileInput($('#uploadelements input[type="file"]')[0], currentParams);
        }

        $("#showuploadelements").click(function () {
            $("#uploadelements").toggle('slide');
        });

        $('#savenoteattachment').ajaxForm({
            complete: function (xhr) {
                $("#currentnoteattachments").html(xhr.responseText);
                $("#uploadelements").toggle('slide');
            }
        });

        $("#currentnoteattachments").die("attachmentdelete");
        $("#currentnoteattachments").live("attachmentdelete", function (event, data) {
            $("#deletenoteattachment_attachmentid").val(data.id);
            CurrentDesignerManager.submitForm($("#deletenoteattachment"), $("#currentnoteattachments"));
        });
    })
</script>