﻿@model ConceptCave.www.Areas.Player.Models.PlayerModel
@{
    ViewBag.Title = "Index";
    ViewBag.BodyClass = "player";
    
    if(Model.IsAjax)
    {
        this.Layout = null;   
    }
    
    if(Model.RunMode == ConceptCave.Checklist.Interfaces.RunMode.Blocked)
    {
        <p translate>This is blocked at the moment</p>   
    
        return;
    }
}

<script type="text/javascript">
    $(function () {
        var finishingcallback = function() {
            $("#navtools").hide('puff', {}, 'slow');
            $("#finishContainer").show('slide', {direction: "right"}, 'slow');
        };

        var finishedcallback = function() {
            if($("#navtools").css('display') != "none")
            {
                $("#navtools").hide('puff', {}, 'slow');
            }
        };

        var player = $("body").checklistplayer('init', { nextModelField: "#playnext_answermodel", playerElement: $("#playerview") });

        $("body").die("finishing");
        $("body").live("finishing", finishingcallback);

        $("body").die("finished");
        $("body").live("finished", finishedcallback);

        $("body").live('modelchanged', function(event, data) {
            if(data == undefined)
            {
                return;
            }

            if(data.CanPrevious == true)
            {
                $("#back").show('fade');
            }
            else{
                $("#back").hide('fade');
            }
            if(data.CanNext == true)
            {
                $("#next").show('fade');
            }
            else{
                $("#next").hide('fade');
            }
        });

        $("body").live('action', function(event, data) {
            $("#playaction_answermodel").val(data.data);
            CurrentDesignerManager.submitForm($("#playaction"), function (responseText) {
                data.callback(jQuery.parseJSON(responseText));
            });
        });

        player.checklistplayer('setModel', @Html.Raw(Json.Encode(Model.AnswerModel)));
    })
</script>

@if (Model.Program.RunMode.Value != ConceptCave.Checklist.Interfaces.RunMode.Finished)
{ 
<div id="navtools" class="subnav @(Model.IsAjax == true ? "" : "subnav-fixed")">
    <div class="container">
        <button class="btn btn-success" id="back" type="button"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;<translate>Back</translate></button>
        <button class="btn btn-success" id="next" type="button"><translate>Next</translate>&nbsp;<i class="icon-circle-arrow-right icon-white"></i></button>
    </div>
</div>
<div class="clear">&nbsp;</div>
}

<div class="playercontent">
    <div id="playerview">
        @Html.Partial(Model.Item.PartialView, Model.Item)
    </div>

    <div id="finishContainer" style="display:none">
        <button class="btn btn-success" id="finish" type="button"><i class="icon-ok icon-white"></i>&nbsp;<translate>Finish</translate></button>
    </div>
</div>

<div class="playerprocessing" id="playerprocessing" style="display:none;">
    &nbsp;
</div>

<!--
<div style="float:left;width:18%">
    <br />
    <div>
        <div class="section">
            <h4>Reference Material</h4>
            <table>
                @foreach (var reference in Model.ReferenceMaterials)
                {
                    <tr>
                        <td>
                            <a href="@reference.Url" target="_blank">@reference.Name</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
-->

<div style="clear:both">&nbsp;</div>

@using (Html.BeginForm("Next", "Play", FormMethod.Post, new { id = "playnext" }))
{
    @Html.Hidden("answermodel", "", new { id = "playnext_answermodel" });
}

@using (Html.BeginForm("Back", "Play", FormMethod.Post, new { id = "playback" }))
{
    @Html.Hidden("rootid", @Model.AnswerModel.RootId);
}

@using (Html.BeginForm("Finish", "Play", FormMethod.Post, new { id = "playfinish" }))
{
    @Html.Hidden("rootid", @Model.AnswerModel.RootId);
}

@using (Html.BeginForm("GetNotes", "Play", FormMethod.Post, new { id = "playgetnotes" }))
{
    @Html.Hidden("rootid", @Model.AnswerModel.RootId);
    @Html.Hidden("presentedId", "", new { id = "playgetnotes_presentedId" });
}

@using (Html.BeginForm("Action", "Play", FormMethod.Post, new { id = "playaction" }))
{
    @Html.Hidden("answermodel", "", new { id = "playaction_answermodel" });
}

<div class="modal hide fade" id="editnotesdialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Notes</h3>
    </div>
    <div class="modal-body" id="editnotesdialogbody">
        <p translate>Loading ...</p>
    </div>
    <div class="modal-footer">
        <a href="#" id="editnotesdialogsave" class="btn btn-primary" translate>Save</a>
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var options = {
            rootUrl: '@Url.ToFullyQualifiedUrl("~/")',
        };

        CreateDesignerManager(options);

        SquareIT.UIShowProcessing = function() {
            var position = $("#playerview").offset();
            $(".playerprocessing").css( { position: "absolute", left: position.left - 10, top: position.top, display:"inherit" } );
        };

        SquareIT.UIHideProcessing = function() {
            $(".playerprocessing").css( { display:"none" });
        };

        var doNext = function()
        {
            if ($("body").checklistplayer('next') == true) {

                // position and show the overlay
                SquareIT.UIShowProcessing();

                CurrentDesignerManager.submitForm($("#playnext"), function (responseText, angularise) {
                    $("#playerview").hide('slide', {direction: "left" }, 'slow', function() {
                        $("#playerview").html(responseText);
                        $("#playerview").show('slide', {direction: "right" }, 'slow');
                        SquareIT.UIHideProcessing();
                        angularise($("#playerview"));
                    });
                });
            }
        }

        var doBack = function()
        {
            if($("body").checklistplayer('back'))
            {
                SquareIT.UIShowProcessing();
                CurrentDesignerManager.submitForm($("#playback"), function (responseText, angularise) {
                    $("#playerview").hide('slide', {direction: "right" }, 'slow', function() {
                        $("#playerview").html(responseText);
                        $("#playerview").show('slide', {direction: "left" }, 'slow');
                        SquareIT.UIHideProcessing();
                        angularise($("#playerview"));
                    });
                }); 
            }
        }

        $("#next").click(function () {
            doNext();
        });

        $("#back").click(function () { 
            doBack();
        });

        $("#finish").click(function() {
            $("#finishContainer").hide('slide', {direction: "left" }, 'slow', function() {

                CurrentDesignerManager.submitForm($("#playfinish"), function (responseText, angularise) {
                    $("#playerview").hide('slide', {direction: "right" }, 'slow', function() {
                        $("#playerview").html(responseText);
                        $("#playerview").show('slide', {direction: "left" }, 'slow');

                        $("#playerview").trigger('finishedchecklist', {id: '@Model.AnswerModel.RootId'});
                        angularise($("#playerview"));
                    });
                }); 
            });
        });

        CreateDialogManager($("#modaldialog"), $("#modaldialogcontent"), $("#savemodaldialog"), 500);

        $("#savemodaldialog").button();

        $("body").die('notesrequired');
        $("body").live('notesrequired', function(event, data) {
            $("#playgetnotes_presentedId").val(data);
            
            $("#editnotesdialogbody").text($ng_translate("loading..."));
            $("#editnotesdialog").modal();

            CurrentDesignerManager.submitForm($("#playgetnotes"), $("#editnotesdialogbody")); 
        });

        $("#editnotesdialogsave").die('click');
        $("#editnotesdialogsave").live('click', function() {
            var select = "#editnotesdialogbody form:nth-child(1)";

            CurrentDesignerManager.submitForm($(select)[0], function (responseText) {
                CurrentDialogManager.close();
                $('#editnotesdialog').modal('hide');
            });
        });

        @if (Model.Program.WorkingDocument.RunMode == ConceptCave.Checklist.Interfaces.RunMode.Finished &&  Model.Program.WorkingDocument.FinishMode == ConceptCave.Checklist.Interfaces.FinishMode.Auto)
        {
            <text>$("body").checklistplayer('finished');</text>
        }
            
    })
</script>



