﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.ProgressIndicatorQuestion question = (ConceptCave.Checklist.Editor.ProgressIndicatorQuestion)presented.Question;
    string prompt = presented.Prompt;

}

<div class="question progress @(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h3>@Html.Raw(prompt)</h3>
    }
    <div class="progress progress-info">
        <div class="bar" style="width:@(question.ValueAsPercentage * 100)%">@((question.ValueAsPercentage * 100).ToString("##.##"))%</div>
    </div>
</div>