﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.PayPalQuestion question = (ConceptCave.Checklist.Editor.PayPalQuestion)presented.Question;

    var answer = presented.GetAnswer() as ConceptCave.Checklist.Interfaces.IPayPalAnswer;

    string paypalAction = "https://www.paypal.com/cgi-bin/webscr";
    if (question.UseSandbox)
    {
        paypalAction = "https://www.sandbox.paypal.com/cgi-bin/webscr";
    }
    
    string answerText = string.Empty;

    var uniqueId = Guid.NewGuid().ToString();
    
    //if (answer != null)
    //{
    //    answerText = (answer.AnswerValue ?? "").ToString();
    //}

    string prompt = presented.Prompt;

}

@functions
{
    public static string FullyQualifiedUrl(string url, ConceptCave.Checklist.Interfaces.IPayPalQuestion question, UrlHelper helper)
    {
        if (string.IsNullOrEmpty(question.DevelopmentUrl) == true)
        {
            return helper.ToFullyQualifiedUrl(url);
        }

        return url.Replace("~", question.DevelopmentUrl);
    }
}

<div class="question paypal @(question.HtmlPresentation.CustomClass)" style="@(question.HtmlPresentation.CustomStyling)"  data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    <table class="table table-striped">
        <tr>
            <td>
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h3>@Html.Raw(prompt)</h3>
    }
            </td>
            <td>
                @question.Price.ToString("c")
            </td>
            <td>
                @if (answer.Status == ConceptCave.Checklist.Interfaces.PayPalAnswerStatus.Created)
                {
                    <text>&nbsp;</text>
                }
                else
                {
                    @answer.Status.ToString()<br />@(string.IsNullOrEmpty(answer.StatusReason) ? "" : answer.StatusReason)
                }
            </td>
            <td>
                <form method="post" action="@paypalAction" id="paypal@(uniqueId)">
                    <input type="hidden" name="business" value="@question.MerchantId" />
                    <input type="hidden" name="cmd" value="_xclick" />
                    <input type="hidden" name="notify_url" value="@FullyQualifiedUrl("~/PublicAPI/PayPal/IPN", question, Url)" />
                    <input type="hidden" name="custom" value="@(string.Format("{0};{1}",Model.PlayerModel.AnswerModel.RootId, presented.Id))" />
                    <input type="hidden" name="return" value="@Url.ToFullyQualifiedUrl(string.Format("~/Player/Play/Continue?id={0}", Model.PlayerModel.AnswerModel.RootId))" />
                    <input type="hidden" name="item_name" value="@question.Prompt" />
                    <input type="hidden" name="amount" value="@question.Price" />
                    @if (question.TaxRate.HasValue)
                    { 
                    <input type="hidden" name="tax_rate" value="@question.TaxRate" />
                    }
                    <input type="hidden" name="currency_code" value="@question.Currency">
                    <input type="image" name="submit" border="0" src="https://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" alt="{{ 'PayPal - The safer, easier way to pay online' | translate }}" />
                    <img alt="" border="0" width="1" height="1" src="https://www.paypal.com/en_US/i/scr/pixel.gif" />
                </form>
                @if (question.AllowNotesOnAnswer == true)
                { 
                <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
                }
            </td>
        </tr>
    </table>
    <p class="help-block" >@Html.Raw(presented.Note)</p>
    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
</div>

<script type="text/javascript">
    $(function () {
        //        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = presented.Id.ToString() })));

        //        var nextHandler = function(args) {
        // get the answer object for us and then give it a property that is the value of our answer
        //            var item = $("body").checklistplayer('getItem', '@presented.Id');
        //            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.FreeTextQuestionAnswerModelItemConverter.AnswerPropertyName', Value: $("#@presented.Id").val() });
        //        };

        //        var listener = { beforeNext: nextHandler };

        var paypalFormOverride = true;

        $("#paypal@(uniqueId)").submit(function () {
            if(paypalFormOverride == false)
            {
                return;
            }

            var answerModel = @Html.Raw(Json.Encode(new ConceptCave.www.Areas.Player.Models.AnswerModel() { RootId = Model.PlayerModel.AnswerModel.RootId }));
            
            var answerItem = @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = presented.Id.ToString() }));
            answerItem.Properties.push({Name: '@ConceptCave.www.Areas.Player.Models.PayPalQuestionAnswerModelItemConverter.AnswerPropertyName', Value: '@ConceptCave.Checklist.Interfaces.PayPalAnswerStatus.Pending' });
            
            answerModel.Items.push(answerItem);
            
            $("body").checklistplayer('action', {data: answerModel, callback: function(response) {
                paypalFormOverride = false;

                $("#paypal@(uniqueId)").submit();
            }});

            return false;
        });

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document' }, text: false });
        $("#notes@(presented.Id)").click(function () {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        //        $("body").checklistplayer('addListener', listener);
    })
</script>
