﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.PresentMediaQuestion question = (ConceptCave.Checklist.Editor.PresentMediaQuestion)presented.Question;

    ConceptCave.Checklist.RunTime.PresentMediaAnswer answer = (ConceptCave.Checklist.RunTime.PresentMediaAnswer)presented.GetAnswer();

    string prompt = presented.Prompt;


    bool noPopcorn = false;
    if (System.Web.HttpContext.Current.Request.Browser.IsMobileDevice == true)
    {
        noPopcorn = true;
    }
    else if (System.Web.HttpContext.Current.Request.Browser.Type.ToUpper().Contains("IE") && System.Web.HttpContext.Current.Request.Browser.MajorVersion < 9)
    {
        noPopcorn = true;
    }
    
}

@helper RenderDimensionCss(ConceptCave.Checklist.Interfaces.IDimension dimension)
    {
    @(dimension.DimensionType == ConceptCave.Checklist.Interfaces.DimensionType.Pixels ? (int)dimension.Value : dimension.Value)@(dimension.DimensionType == ConceptCave.Checklist.Interfaces.DimensionType.Pixels ? "px" : "%")
}

@if (noPopcorn == false)
{
    @Html.Raw(Url.ThemeScript("Scripts/popcorn.min.js"))
}

@helper RenderPopcornEvents(ConceptCave.Checklist.Editor.PresentMediaQuestion question, ConceptCave.Checklist.Interfaces.IPresentedQuestion presented)
    {
    <script type="text/javascript">
        $(function () {
            var pop = $("#playmedia@(presented.Id)").data('pop');

            @foreach (var ev in (from e in question.ClientModel.Events where e is ConceptCave.Checklist.Interfaces.IPresentedMediaQuestionTrackEvent select e).Cast<ConceptCave.Checklist.Interfaces.IPresentedMediaQuestionTrackEvent>())
            {
                if (ev.Action is ConceptCave.Checklist.Editor.PauseMediaClientModelEventAction)
                { 
                    <text>
                    pop.code({
                        start: @(ev.Start),
                        end: @(ev.End),
                        onStart: function(options) {
                            pop.pause();
                        }
                        });
                    </text>
                }
                else if (ev.Action is ConceptCave.Checklist.Editor.SeekToClientModelEventAction)
                { 
                    <text>
                    pop.code({
                        start: @(ev.Start),
                        end: @(ev.End),
                        onStart: function(options) {
                            pop.currentTime(@(((ConceptCave.Checklist.Editor.SeekToClientModelEventAction)ev.Action).SeekPosition));
                        }
                        });
                    </text>
                }

                if ((ev.Action is ConceptCave.Checklist.Interfaces.ITargettedClientModelEventAction) == false)
                {
                    continue;
                }

                ConceptCave.Checklist.Interfaces.ITargettedClientModelEventAction action = (ConceptCave.Checklist.Interfaces.ITargettedClientModelEventAction)ev.Action;
                if (string.IsNullOrEmpty(action.TargetName) == true)
                {
                    continue;
                }

                if (action is ConceptCave.Checklist.Editor.ChangeVisibilityClientModelEventAction)
                {
                    var visibleAction = (ConceptCave.Checklist.Editor.ChangeVisibilityClientModelEventAction)action;
                    <text>
                    pop.code({
                        start: @(ev.Start),
                        end: @(ev.End),
                        onStart: function(options) {
                            var presented = $("body").checklistplayer('getPresentedElement', '@(action.TargetName)');
                            if(presented == null)
                            {
                                console.log("could not find presented with name = " + @(action.TargetName));
                                return;
                            }
                            presented.show('@(visibleAction.EnterAnimation.ToString().ToLower())');
                        },
                        onEnd: function(options) {
                            var presented = $("body").checklistplayer('getPresentedElement', '@(action.TargetName)');
                            if(presented == null)
                            {
                                console.log("could not find presented with name = " + @(action.TargetName));
                                return;
                            }
                            presented.hide('@(visibleAction.LeaveAnimation.ToString().ToLower())');
                        }
                    });
                </text>
                }
            }
        })
    </script>
    
}

@helper RenderYouTubePlayer(ConceptCave.Checklist.Editor.PresentMediaQuestion question, ConceptCave.Checklist.Interfaces.IPresentedQuestion presented, ConceptCave.Checklist.RunTime.PresentMediaAnswer answer)
    {
    ConceptCave.Checklist.Interfaces.IYouTubePresentMediaQuestionSettings youtubeSettings = (ConceptCave.Checklist.Interfaces.IYouTubePresentMediaQuestionSettings)question.Settings;

    if (youtubeSettings == null)
    {
        youtubeSettings = new ConceptCave.Checklist.Editor.YouTubePresentMediaQuestionSettings();
    }
    
    <div id="playmedia@(presented.Id)" style="width:@RenderDimensionCss(question.Width);height:@RenderDimensionCss(question.Height)"></div>
    
    <script type="text/javascript">
        $(function () {
            var pop = Popcorn.youtube("#playmedia@(presented.Id)", "@(question.Url)&fs=@(youtubeSettings.AllowFullScreen == true ? "1" : "0")&modestbranding=@(youtubeSettings.ModestBranding == true ? "1" : "0")&rel=@(youtubeSettings.ShowRelatedVideos == true ? "1" : "0")&controls=@((int)youtubeSettings.ControlsType)&showinfo=@(youtubeSettings.ShowInfo == true ? "1" : "0")");
            @if(answer != null && answer.Position.HasValue == true)
            {
                // we need to seek to the spot in the video that they were last at
                <text>
                pop.code({
                    start: 0,
                    end: 0.1,
                    onStart: function(options) {
                        pop.currentTime(@(answer.Position));
                    }
                });
                </text>
            }

            // put the popcorn variable somewhere where we can get at it
            $("#playmedia@(presented.Id)").data('pop', pop);
        })
    </script>
        
    @RenderPopcornEvents(question, presented)
}

@helper RenderPlayer(ConceptCave.Checklist.Editor.PresentMediaQuestion question, ConceptCave.Checklist.Interfaces.IPresentedQuestion presented, ConceptCave.Checklist.RunTime.PresentMediaAnswer answer)
    {
        if (question.MediaType == ConceptCave.Checklist.Interfaces.PresentMediaQuestionType.YouTube)
        { 
        @RenderYouTubePlayer(question, presented, answer)
        }
}

@helper RenderPlayerNoPopcorn(ConceptCave.Checklist.Editor.PresentMediaQuestion question, ConceptCave.Checklist.Interfaces.IPresentedQuestion presented, ConceptCave.Checklist.RunTime.PresentMediaAnswer answer)
{
    var videoId = question.Url.Split('/');
    <div id="iframe@(presented.Id)">
        <iframe  style="width:@RenderDimensionCss(question.Width);height:@RenderDimensionCss(question.Height)" src="//www.youtube.com/embed/@(videoId[videoId.Length - 1])?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
}

<div class="question freetext">
    <h4>@Html.Raw(program.ExpandString(question.Prompt))</h4>
    <div class="control-group">
        <div class="controls">
            <div class="input-append">
                @if (noPopcorn == false)
                {
                    @RenderPlayer(question, presented, answer)
                }
                else
                {
                    @RenderPlayerNoPopcorn(question, presented, answer)   
                }
                @if (question.AllowNotesOnAnswer == true)
                { 
                <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
                }
                <p class="help-block" >@Html.Raw(presented.Note)</p>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
</div>

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = presented.Id.ToString() })));

        var nextHandler = function(args) {
            // get the answer object for us and then give it a property that is the value of our answer
            var item = $("body").checklistplayer('getItem', '@presented.Id');

            @if(noPopcorn == false)
            {
                <text>item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.PresentMediaQuestionAnswerModelItemConverter.AnswerPropertyName', Value: $("#playmedia@(presented.Id)").data('pop').currentTime() });</text>
            }
            else
            {
                <text>
                $("#iframe@(presented.Id)").hide();
                $("#iframe@(presented.Id)").empty();
                item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.PresentMediaQuestionAnswerModelItemConverter.AnswerPropertyName', Value: 0 });</text>
            }
        };

        var listener = { beforeNext: nextHandler };

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document'}, text: false});
        $("#notes@(presented.Id)").click(function() {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        $("body").checklistplayer('addListener', listener);
    })
</script>
