﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    var uniqueId = Guid.NewGuid().ToString();
    var displayId = "display" + uniqueId;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.GeoLocationQuestion question = (ConceptCave.Checklist.Editor.GeoLocationQuestion)presented.Question;
    var answer = presented.GetAnswer() as ConceptCave.Checklist.Interfaces.IGeoLocationAnswer;

    var returnId = presented.Id.ToString();
    if (Model.PlayerModel.Context.Area == ConceptCave.www.Areas.Player.Models.PlayModelContextArea.MembershipDesigner)
    {
        returnId = question.Id.ToString();
    }

    string answerText = string.Empty;
    string prompt = presented.Prompt;

}

<div class="question geocode @(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))"  data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h4>@Html.Raw(prompt)</h4>
    }
    <div class="control-group">
        <div class="controls">
            <div>
                <div id="@uniqueId" style="display:none; clear:both" translate>
                Please wait, calculating location ...
                </div>
                <div id="haslocation@(uniqueId)" class="row-fluid" style="display:none;clear:both">
                    <div class="span10" id="haslocationMessage@(uniqueId)"></div>
                    <div class="span2"><a id="refreshLocation@(uniqueId)" class="btn btn-info" translate>Refresh</a></div>
                </div>
                @if (question.AllowNotesOnAnswer == true)
                { 
                <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
                }
                <p class="help-block" >@Html.Raw(presented.Note)</p>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
</div>

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = returnId })));

        var showHasLocation = function(lat, lng, acc, status)
        {
            var statusMessage = "";
            if(status != undefined && status == "Inaccurate")
            {
                statusMessage = $ng_translate.instant("<span style='color:red'>This measurment is innacurate, you should consider hitting refresh</span>");
            }

            $("#haslocationMessage@(uniqueId)").html("<div class='alert alert-success'>" + $ng_translate.instant("You are currently located at {{ lat }}, {{ lng }} accurate to {{ accuracy }}m {{ statusMessage }}", { lat: lat, lon: lng, accuracy:acc, statusMessage: statusMessage }) + "</div>");
            $("#@uniqueId").hide('slide');
            $("#haslocation@(uniqueId)").show('slide');
        }

        var positionCallback = function(position) {
            var item = $("body").checklistplayer('getItem', '@returnId');
            item.Properties = [];
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.GeoLocationQuestionAnswerModelItemConverter.LattitudeAnswerPropertyName', Value: position.coords.latitude });
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.GeoLocationQuestionAnswerModelItemConverter.LongitudeAnswerPropertyName', Value: position.coords.longitude });
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.GeoLocationQuestionAnswerModelItemConverter.AccuracyAnswerPropertyName', Value: position.coords.accuracy});

            showHasLocation(position.coords.latitude, position.coords.longitude, position.coords.accuracy, position.status);
        };

        var errorCallback = function(message) {
            var item = $("body").checklistplayer('getItem', '@returnId');
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.GeoLocationQuestionAnswerModelItemConverter.ErrorAnswerPropertyName', Value: message.message });
            $("#@uniqueId").html("<div class='alert alert-error'>" + $ng_translate.instant("A problem was encountered getting your location: {{ message }}", { message: message.message }) + "</div>");
            $("#@uniqueId").effect("highlight", { 'color': '#ccffcc' }, 3000);
        };

        var getLocation = function()
        {
            $("#@uniqueId").show('slide');
            navigator.geolocation.getCurrentPosition(positionCallback, errorCallback, { enableHighAccuracy: true }); 
        }

        if(navigator.geolocation)
        {
            getLocation();  
        }
        else
        {
            var item = $("body").checklistplayer('getItem', '@returnId');
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.GeoLocationQuestionAnswerModelItemConverter.ErrorAnswerPropertyName', Value: "Geocode not supported" });
            $("#@uniqueId").html("Geocode not supported");
            $("#@uniqueId").effect("highlight", { 'color': '#ccffcc' }, 3000);
        }

        var nextHandler = function(args) {
        };

        var listener = { beforeNext: nextHandler };

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document'}, text: false});
        $("#notes@(presented.Id)").click(function() {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        $("#refreshLocation@(uniqueId)").click(function() {
            $("#haslocation@(uniqueId)").hide("slide");
            getLocation();
        });

        $("body").checklistplayer('addListener', listener);
    })
</script>