﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedSection presented = (ConceptCave.Checklist.Interfaces.IPresentedSection)Model.Presented;
    ConceptCave.Checklist.Editor.Section section = (ConceptCave.Checklist.Editor.Section)presented.Section;

    string prompt = program.ExpandString(section.Prompt);
    bool isTable = section.Layout == ConceptCave.Checklist.Interfaces.HtmlSectionLayout.Table;
    
}

<div style="@(section.ClientModel.Visible ? "" : "display: none;")@(program.ExpandString(section.HtmlPresentation.CustomStyling))" 
    class="section @(program.ExpandString(section.HtmlPresentation.CustomClass))"  data-presentable-name="@(string.IsNullOrEmpty(section.Name) ? "blank" : section.Name)">
    @{
           
       if (prompt != null && prompt.Length > 0)
       {
        <h2>@Html.Raw(prompt)</h2>
       }
       
       if(Model.ShowNoneAttachedValidationErrors == true)
       {
            @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
       }

       if (section.Layout == ConceptCave.Checklist.Interfaces.HtmlSectionLayout.Table)
       {
           @Html.Raw("<table class='table table-bordered table-striped'>");
       }
       else if (section.Layout == ConceptCave.Checklist.Interfaces.HtmlSectionLayout.TableRow)
       {
           string row = "<tr";
           if(section.ClientModel.Visible == false)
           {
               row += " style=\"display:none\"";
           }
           @Html.Raw(row + ">");
       }

       foreach (var item in Model.Children)
       {
           string styleString = "";

           if (item.Presented.Presentable is ConceptCave.Checklist.Interfaces.ISection)
           {
               ConceptCave.Checklist.Editor.Section subSection = (ConceptCave.Checklist.Editor.Section)item.Presented.Presentable;

               string sectionAlignment = "";
               if (subSection.Alignment == ConceptCave.Checklist.Interfaces.HtmlPresentationHintAlignment.Left)
               {
                   sectionAlignment = "float:left;";
               }
               else if (subSection.Alignment == ConceptCave.Checklist.Interfaces.HtmlPresentationHintAlignment.Right)
               {
                   sectionAlignment = "float:right;";
               }

               string sectionClear = "";
               if (subSection.Clear == ConceptCave.Checklist.Interfaces.HtmlPresentationHintClear.Left)
               {
                   sectionClear = "clear:left;";
               }
               else if (subSection.Clear == ConceptCave.Checklist.Interfaces.HtmlPresentationHintClear.Right)
               {
                   sectionClear = "clear:right;";
               }
               else if (subSection.Clear == ConceptCave.Checklist.Interfaces.HtmlPresentationHintClear.None)
               {
                   sectionClear = "clear:none;";
               }

               styleString = string.Format("{0}{1};{2}", sectionAlignment, sectionClear, program.ExpandString(subSection.CustomStyling));
               if(styleString.Length == 1)
               {
                    styleString = "";
               }
           }

           // If this section is a table row, then its children are cells
           if (section.Layout == ConceptCave.Checklist.Interfaces.HtmlSectionLayout.TableRow)
           {
                string itemStyleString = string.Empty;
                string itemClassString = string.Empty;
                if(item.Presented is ConceptCave.Checklist.RunTime.PresentedQuestion)
                {
                    itemStyleString = ((ConceptCave.Checklist.RunTime.PresentedQuestion)item.Presented).Question.HtmlPresentation.CustomStyling;
                    itemClassString = ((ConceptCave.Checklist.RunTime.PresentedQuestion)item.Presented).Question.HtmlPresentation.CustomClass;
                }
               @Html.Raw(string.Format("<td {0} {1}>", string.IsNullOrEmpty(itemStyleString) ? "" : "style=\"" + itemStyleString + "\"", string.IsNullOrEmpty(itemClassString) ? "" : "style=\"" + itemClassString + "\""))
           }   

           if(string.IsNullOrEmpty(styleString) == false)
           {
            <text><div class="sectionpanel" @(string.IsNullOrEmpty(styleString) ? "" : "style=" + styleString + "")></text>
           }
           
           @Html.Partial(item.PartialView, item)
           
           if(string.IsNullOrEmpty(styleString) == false)
           {
                @Html.Raw("</div>")
           }

           if (section.Layout == ConceptCave.Checklist.Interfaces.HtmlSectionLayout.TableRow)
           {
               @Html.Raw("</td>");
           }
        }
        
        if (section.Layout == ConceptCave.Checklist.Interfaces.HtmlSectionLayout.Table)
        {
           @Html.Raw("</table>");
        }
        else if (section.Layout == ConceptCave.Checklist.Interfaces.HtmlSectionLayout.TableRow)
        {
           @Html.Raw("</tr>");
        }    

}   
</div>
