﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    var uniqueId = Guid.NewGuid().ToString();
    var displayId = "display" + uniqueId;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.DateTimeQuestion question = (ConceptCave.Checklist.Editor.DateTimeQuestion)presented.Question;
    var answer = presented.GetAnswer() as ConceptCave.Checklist.Interfaces.IDateTimeAnswer;

    var returnId = presented.Id.ToString();
    if (Model.PlayerModel.Context.Area == ConceptCave.www.Areas.Player.Models.PlayModelContextArea.MembershipDesigner)
    {
        returnId = question.Id.ToString();
    }

    string answerText = string.Empty;
    if (answer.AnswerDateTime.HasValue)
    {
        answerText = answer.AnswerDateTime.Value.ToString("dd-MM-yyyy");
    }

    string prompt = presented.Prompt;

}

<div class="question datetime @(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))"  data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h4>@Html.Raw(prompt)</h4>
    }
    <div class="control-group">
        <div class="controls">
            <div class="input-append">
                <input type="text" id="datepicker@(uniqueId)" name="@presented.Id" value="@answerText" />
                @if (question.AllowNotesOnAnswer == true)
                { 
                <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
                }
                <p class="help-block" >@Html.Raw(presented.Note)</p>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
</div>

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = returnId })));

        var dateFormat = '@(question.Format)';

        $("#datepicker@(uniqueId)").datepicker({ format: dateFormat }).on('changeDate', function(ev) {
            var m = moment(ev.date);

            $("#datepicker@(uniqueId)").data("selectedDate", m);
        });

        // in this case we need to put a moment object onto the relevant DOM element
        @if(string.IsNullOrEmpty(answerText) == false) 
        {
            <text>
            $("#datepicker@(uniqueId)").data("selectedDate", moment('@(answer.AnswerDateTime.Value.ToString("yyyy-MM-dd"))'));
            </text>
        }

        var selectedDateAsString = function()
        {
            var d = $("#datepicker@(uniqueId)").data("selectedDate");

            if(d == null) // the case when no date has been entered
            {
                return null;
            }

            return d.format();
        };

        var nextHandler = function(args) {
            // get the answer object for us and then give it a property that is the value of our answer
            var item = $("body").checklistplayer('getItem', '@returnId');
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.DateTimeQuestionAnswerModelItemConverter.AnswerPropertyName', Value: selectedDateAsString() });
        };

        var listener = { beforeNext: nextHandler };

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document'}, text: false});
        $("#notes@(presented.Id)").click(function() {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        $("body").checklistplayer('addListener', listener);
    })
</script>
