﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.PresentWordDocumentQuestion question = (ConceptCave.Checklist.Editor.PresentWordDocumentQuestion)presented.Question;

    Aspose.Words.Document doc = null;
    if(Model.Data.ContainsKey("Document"))
    {
        doc = (Aspose.Words.Document)Model.Data["Document"];
    }
    
    var uniqueId = Guid.NewGuid().ToString();
    string prompt = presented.Prompt;

}

<div class="question presentworddocument @(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h4>@Html.Raw(prompt)</h4>
    }
    <div>
        <ul class="pager">
            <li><a id="prev@(uniqueId)" href="#" translate>Previous</a></li>
            <li><a id="next@(uniqueId)" href="#" translate>Next</a></li>
        </ul>

        <div id="viewer@(uniqueId)" class="well pagination-centered">
        
        </div>
    </div>
</div>

@if(doc == null)
{
    return;    
}

<script type="text/javascript">
    $(function () {
        var pages = [];

        @for(var i=0; i<doc.PageCount; i++)
        {
            ConceptCave.www.Models.MediaImageModel imgModel = new ConceptCave.www.Models.MediaImageModel() 
            { 
                PageIndex = i,
                PageCount = 1,
                Extension = ".png"
            };

            if(question.MergeWithChecklist == true)
            {
                imgModel.RootId = Guid.Parse(Model.PlayerModel.AnswerModel.RootId);
                imgModel.MediaId = question.MediaId;
            }
            else
            {
                imgModel.MediaId = question.MediaId;
            }

            <text>pages.push('@(Url.Content(imgModel.Url))');</text>
        }

        $("#viewer@(uniqueId)").data('pages', pages);
        $("#viewer@(uniqueId)").data('page', 0);

        var renderPage = function(pageIndex) {
            var pages = $("#viewer@(uniqueId)").data('pages');

            if(pageIndex < 0 || pageIndex > pages.length)
            {
                return;
            }

            $("#viewer@(uniqueId)").html('<img src="' + pages[pageIndex] + '"/>');

            $("#viewer@(uniqueId)").data('page', pageIndex);
        };

        $("#prev@(uniqueId)").click(function() {
            var page = $("#viewer@(uniqueId)").data('page');

            renderPage(page - 1);
        });

        $("#next@(uniqueId)").click(function() {
            var page = $("#viewer@(uniqueId)").data('page');

            renderPage(page + 1);
        });

        renderPage(0);
    })
</script>