﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@using DotNet.Highcharts.Options
@using DotNet.Highcharts
@using DotNet.Highcharts.Enums
@using DotNet.Highcharts.Helpers
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    var question = (ConceptCave.Checklist.Editor.Reporting.PieChartQuestion)presented.Question;
    string prompt = presented.Prompt;

    var uniqueId = Guid.NewGuid();
    var title = "";
    
    if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        title = prompt;
    }
    
    //Now set up the chart
    //this obscure thing below is to generate a fairly unique positive number with no -'s in it
    var chartName = "LineChartQuestion_" + Math.Abs(uniqueId.ToString().GetHashCode());
    var chart = new Highcharts(chartName);
    chart.InitChart(new DotNet.Highcharts.Options.Chart()
    {
        DefaultSeriesType = ChartTypes.Pie
    });

    chart.SetPlotOptions(new PlotOptions()
    {
        Pie = new PlotOptionsPie() {
            ShowInLegend = true 
        },
        Series = new PlotOptionsSeries()
        {
            EnableMouseTracking = false,
            Shadow = false,
            Animation = new Animation(false)

        }
    });

    chart.SetTitle(new Title()
    {
        Text = title
    });
    chart.SetCredits(new Credits()
    {
        Text = ""
    });

    var legend = new Legend()
    {
        Layout = Layouts.Vertical,
        Align = HorizontalAligns.Right,
        VerticalAlign = VerticalAligns.Top
    };
    chart.SetLegend(legend);
    
    //now the actual data
    var serieses = new List<Series>();
    var chartSeries = new Series();
    chartSeries.Name = question.Series.Name;
    var datapairs = question.Series.XYData.Select(r => new Tuple<string, decimal>(r.GetColumn(1).ToString(),
                                                                Convert.ToDecimal(r.GetColumn(2))));
    var dsize = datapairs.Count();
    var dataarr = new object[dsize, 2];
    int i = 0;
    foreach (var dpair in datapairs)
    {
        dataarr[i, 0] = dpair.Item1;
        dataarr[i, 1] = dpair.Item2;
        i++;
    }
    chartSeries.Data = new Data(dataarr);
    serieses.Add(chartSeries);
    chart.SetSeries(serieses.ToArray());
}

<div class="question" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    <div class="@(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))">
        @chart

    </div>
</div>