﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    var question = (ConceptCave.Checklist.Editor.Reporting.TableQuestion)presented.Question;
    string prompt = presented.Prompt;

    var table = question.DataTable;
}

<div class="question" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    <div class="@(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h3>@Html.Raw(prompt)</h3>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var columnName in table.ColumnNames)
                {
                    <th>@table.DisplayNameMappings.GetColumnMapping(columnName)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in table)
            {
                <tr>
                    @foreach (var columnName in table.ColumnNames)
                    {
                        <td>
                            @{
                                var v = row.GetColumn(columnName);
                            }
                            @if (v != null)
                            {
                                @Html.Raw(v.ToString())
                            }
                        </td>
                    }
                </tr> 
            }
        </tbody>
    </table>
    

    </div>
</div>