﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    var uniqueId = Guid.NewGuid().ToString();
    var displayId = "display" + uniqueId;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.MultiChoiceQuestion question = (ConceptCave.Checklist.Editor.MultiChoiceQuestion)presented.Question;
    var answer = presented.GetAnswer() as ConceptCave.Checklist.Interfaces.IMultiChoiceAnswer;

    var choices = question.GetChoicesForPresentation();

    var returnId = presented.Id.ToString();
    if (Model.PlayerModel.Context.Area == ConceptCave.www.Areas.Player.Models.PlayModelContextArea.MembershipDesigner)
    {
        returnId = question.Id.ToString();
    }
    string prompt = presented.Prompt;


}

<div class="question multichoice @(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))" id="@displayId"  data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h4>@Html.Raw(prompt)</h4>
    }
    @if (question.Format == ConceptCave.Checklist.Interfaces.MultiChoiceQuestionFormat.List)
    {
        <div class="control-group">
            <div class="controls">
                <div>
                    <table class="table table-striped">
                        <tbody>
                        @{
        int i = 0;
        foreach (var choice in choices)
        {
            string selected = string.Empty;

            if (answer != null)
            {
                if ((from c in answer.ChosenItems where c.Id == choice.Id select c).Count() > 0)
                {
                    selected = "checked";
                }
            }
            
                                <tr><td><label class="@(question.AllowMultiSelect ? "checkbox" : "radio")"><input type="@(question.AllowMultiSelect ? "checkbox" : "radio")" @selected name="choice@(uniqueId)" value="@choice.Id.ToString()" />@Html.Raw(program.ExpandString(choice.Display))</label></td></tr>
            i++;
        }
                        }      
                        <tr>
                            <td>
                                @if (question.AllowNotesOnAnswer == true)
                                { 
                                    <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
                                }
                            </td>
                        </tr>
                        </tbody>
                        <caption style="text-align:left;"><p class="help-block" >@Html.Raw(presented.Note)</p></caption>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="control-group">
            <div class="controls">
                <select id="select@(uniqueId)" @(question.AllowMultiSelect ? "multiple='multiple'" : "") style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))">
                    @{
        int i = 0;
        foreach (var choice in choices)
        {
            string selected = string.Empty;

            if (answer != null)
            {
                if ((from c in answer.ChosenItems where c.Id == choice.Id select c).Count() > 0)
                {
                    selected = "selected='selected'";
                }
            }
                            <option @selected value="@choice.Id.ToString()">@choice.Display</option>
            i++;
        }
                    }
                </select>
            </div>
        </div>
    }
    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
</div>

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = returnId })));

        @if (question.Format == ConceptCave.Checklist.Interfaces.MultiChoiceQuestionFormat.List)
        {
            <text>
            var nextHandler = function(args) {
                // get the answer object for us and then give it a property that is the value of our answer
                var item = $("body").checklistplayer('getItem', '@returnId');

                var val = [];
                $.each($("#@displayId [name='choice@(uniqueId)']:checked"), function(index, value) {
                    val.push($(value).val());
                })

                item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.MultiChoiceQuestionAnswerModelItemConverter.AnswerPropertyName', Value: val.join() });
            };
            </text>
        }
        else
        {
            <text>
            var nextHandler = function(args) {
            // get the answer object for us and then give it a property that is the value of our answer
            var item = $("body").checklistplayer('getItem', '@returnId');

                var val = [];
                $.each($("#select@(uniqueId) option:selected"), function(index, value) {
                    val.push($(value).val());
                })

                item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.MultiChoiceQuestionAnswerModelItemConverter.AnswerPropertyName', Value: val.join() });
            };
            </text>
        }

        var listener = { beforeNext: nextHandler };

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document'}, text: false});
        $("#notes@(presented.Id)").click(function() {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        $("body").checklistplayer('addListener', listener);
    })
</script>