﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    var question = (ConceptCave.Repository.Questions.PublicVariableViewerQuestion)Model.Presented.Presentable;
    ConceptCave.www.Models.PublicVariableGridModel gridModel = (ConceptCave.www.Models.PublicVariableGridModel)Model.Data["GridModel"];

    string prompt = presented.Prompt;

}
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h4>@Html.Raw(prompt)</h4>
    }
<table id="publicvariablegrid@(uniqueId)" class="table table-stripped"  data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    <thead>
        <tr>
            @if (string.IsNullOrEmpty(question.DetailsUrl) == false)
            { 
            <th class="actioncolumn">&nbsp;</th>
            }
            @foreach (var c in gridModel.Columns)
            {
                <th>@c</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in gridModel.Rows)
        {
            <tr id="display_@(row.WorkingDocumentId)" class="displayrow {id:'@row.WorkingDocumentId'}">
                @if (string.IsNullOrEmpty(question.DetailsUrl) == false)
                { 
                    <td id="displaymenu_@(row.WorkingDocumentId)"></td>
                }
                @foreach (var field in row.Fields)
                {
                    <td>@field.Value</td>
                }
            </tr>
            if (string.IsNullOrEmpty(question.DetailsUrl) == false)
            { 
            <tr id="edit_@(row.WorkingDocumentId)" style="display:none" class="editrow {id:@row.WorkingDocumentId}">
                <td colspan="@(gridModel.Columns.Length + 1)">
                    <div id="editloading_@(row.WorkingDocumentId)" translate>Loading ...</div>
                    <div id="editcontent_@(row.WorkingDocumentId)" style="display:none"></div>
                    <div id="editmenu_@(row.WorkingDocumentId)"></div>
                </td>
            </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    $(function () {

        @if (string.IsNullOrEmpty(question.DetailsUrl) == false)
        { 
        <text>
        var hookup = function () {
            var display = $(this);

            var data = display.metadata();
            // get the edit row that matches this display row
            var edit = $("#edit_" + data.id);

            var options = {
                displayElement: display,
                displayMenuElement: $("#displaymenu_" + data.id),
                replaceDisplayContent: true,
                displayGrabHandle: false,
                editElement: edit,
                editMenuElement: $("#editmenu_" + data.id),
                context: data,
                editCallback: function (context) {
                    $("#editloading_" + context.id).css('display', 'block');
                    $("#editcontent_" + context.id).css('display', 'none');

                    var eventCallback = function (text) {
                        content.show('slide', null, 500, function () { $("#editloading_" + context.id).css('display', 'none'); });
                    };

                    $("#editloading_" + context.id).load('@(question.DetailsUrl)?id=' + context.id, eventCallback);
                },
                saveCallback: function (context) {

                },
                deleteCallback: function (context) {

                }
            };

                display.displayoredit(options);
            }
        }

        var items = $(".displayrow");
        items.each(hookup);

        $("#publicvariablegrid@(uniqueId)").die('deleterow');
        $("#publicvariablegrid@(uniqueId)").live('deleterow', function (event, data) {
            $("#edit_" + data.id).hide('slide', null, 500, function () {
                $("#edit_" + data.id).remove();
                $("#display_" + data.id).remove();
            });
        });
        </text>
    });
</script>