﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    var uniqueId = Guid.NewGuid().ToString();

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.UploadMediaQuestion question = (ConceptCave.Checklist.Editor.UploadMediaQuestion)presented.Question;
    var answer = presented.GetAnswer() as ConceptCave.Checklist.Interfaces.IUploadMediaAnswer;

    var presentedId = presented.Id.ToString();
    
    var fileUploadModel = new ConceptCave.www.Models.FileUploadModel() { Action = "UploadMedia", Controller = "UploadMediaQuestion", Area="Player", AjaxSubmit = true, ButtonClass = "btn btn-success", Title = "Upload Media", ButtonTitle = "Upload Media" };
    fileUploadModel.IOSCallbackUrl = Url.ToFullyQualifiedUrl("~/Player/UploadMediaQuestion/IOSContinue");
    fileUploadModel.MaxHeight = question.MaxHeight;
    fileUploadModel.MaxWidth = question.MaxWidth;
    fileUploadModel.KeepAspect = question.KeepAspect;
    fileUploadModel.AllowImage = question.AllowImage;
    fileUploadModel.AllowVideo = question.AllowVideo;
    fileUploadModel.AllowAudio = question.AllowAudio;
    fileUploadModel.ShowNameEditor = false;
    fileUploadModel.ShowDescriptionEditor = false;
    fileUploadModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "RootId", Value = Model.PlayerModel.AnswerModel.RootId.ToString() });
    fileUploadModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "PresentedId", Value = presentedId });
    fileUploadModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "QuestionId", Value = question.Id.ToString() });
    fileUploadModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "Context", Value = Model.PlayerModel.Context.Area.ToString() });
    foreach (var kvp in (System.Dynamic.ExpandoObject)Model.PlayerModel.Context.Data)
    {
        fileUploadModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = kvp.Key, Value = kvp.Value.ToString() });
    }

    string prompt = presented.Prompt;

}

<script type="text/javascript">
    $(function () {
        $("#items@(uniqueId)").die("mediaitemsloaded");
        $("#items@(uniqueId)").live("mediaitemsloaded", function(event, data) {
            if(data >= @question.MaxUploadCount)
            {
                $("#uploadwrapper@(uniqueId)").css('display', 'none');
            }
            else
            {
                $("#uploadwrapper@(uniqueId)").css('display', 'inline');
            }
        });
    })
</script>


<div id="wrapper@(uniqueId)" class="question uploadmedia @(question.HtmlPresentation.CustomClass)" style="@(question.HtmlPresentation.CustomStyling)">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h4>@Html.Raw(prompt)</h4>
    }

    <div id="items@(uniqueId)">
        @Html.Partial("~/Views/Play/DisplayUploadMediaItems.cshtml", new ConceptCave.www.Areas.Player.Models.UploadMediaAnswerModel() 
            { Answer = (ConceptCave.Checklist.RunTime.UploadMediaAnswer)answer, 
              RootId = Guid.Parse(Model.PlayerModel.AnswerModel.RootId),
              Context = Model.PlayerModel.Context,
              UserTypeContextName = Model.PlayerModel.Context.Area == ConceptCave.www.Areas.Player.Models.PlayModelContextArea.Normal ? string.Empty : Model.PlayerModel.ChecklistName
            })
    </div>

    <span id="uploadwrapper@(uniqueId)">
    @Html.Partial("FileUpload", fileUploadModel)
    </span>
                
    @if (question.AllowNotesOnAnswer == true)
    { 
    <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
    }
    <p class="help-block" >@Html.Raw(program.ExpandString(question.Note))</p>

    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
</div>

@using (Html.BeginForm("DeleteMedia", "UploadMediaQuestion", new { Area = "Player" }, FormMethod.Post, new { id = "deletemedia" + uniqueId }))
{
    @Html.Hidden("rootid", Model.PlayerModel.AnswerModel.RootId);
    @Html.HiddenFor(m => presentedId);
    @Html.Hidden("questionId", question.Id.ToString())
    @Html.Hidden("mediaId", "", new { id = "deletemedia_itemid" + uniqueId });
    @Html.Hidden("context", Model.PlayerModel.Context.Area.ToString())
    foreach (var kvp in (System.Dynamic.ExpandoObject)Model.PlayerModel.Context.Data)
    {
            @Html.Hidden(kvp.Key, kvp.Value)
    }
}

@using (Html.BeginForm("GetItems", "UploadMediaQuestion", new { Area = "Player" }, FormMethod.Post, new { id = "getitems" + uniqueId }))
{
    @Html.Hidden("rootid", Model.PlayerModel.AnswerModel.RootId);
    @Html.HiddenFor(m => presentedId);
    @Html.Hidden("questionId", question.Id.ToString())
    @Html.Hidden("context", Model.PlayerModel.Context.Area.ToString())
foreach (var kvp in (System.Dynamic.ExpandoObject)Model.PlayerModel.Context.Data)
{
            @Html.Hidden(kvp.Key, kvp.Value)
}
}

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = presented.Id.ToString() })));

        var cleanupHandler = function(args) {
            // clean up picup
//            Picup.stopCheckHash();
        };

        var listener = { cleanup: cleanupHandler };

        $("body").checklistplayer('addListener', listener);

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document'}, text: false});
        $("#notes@(presented.Id)").click(function() {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        $("#wrapper@(uniqueId)").die("uploadcompleted");
        $("#wrapper@(uniqueId)").live("uploadcompleted", function(event, data) {
            if(data == null)
            {
                CurrentDesignerManager.submitForm($("#getitems@(uniqueId)"), $("#items@(uniqueId)"));
                return;
            }

            $("#items@(uniqueId)").html(data);
        });

        $("#items@(uniqueId)").die("mediaitemdelete");
        $("#items@(uniqueId)").live("mediaitemdelete", function(event, data) {
            if(confirm("Are you sure you want to delete this media item") == false)
            {
                return;
            }

            $("#deletemedia_itemid@(uniqueId)").val(data.id);

            CurrentDesignerManager.submitForm($("#deletemedia@(uniqueId)"), $("#items@(uniqueId)"));
        });
    })
</script>
