﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.FreeTextQuestion question = (ConceptCave.Checklist.Editor.FreeTextQuestion)presented.Question;
    var answer = presented.GetAnswer() as ConceptCave.Checklist.Interfaces.IFreeTextAnswer;

    var returnId = presented.Id.ToString();
    if(Model.PlayerModel.Context.Area == ConceptCave.www.Areas.Player.Models.PlayModelContextArea.MembershipDesigner)
    {
        returnId = question.Id.ToString();   
    }
    
    string answerText = string.Empty;
    
    if (answer != null)
    {
        answerText = (answer.AnswerValue ?? "").ToString();
    }
    string prompt = presented.Prompt;

}

<div class="question freetext @(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h4>@Html.Raw(prompt)</h4>
    }
    <div class="control-group">
        <div class="controls">
            <div class="input-append">
                @if (question.AllowMultiLine == false)
                { 
                    <input type="text" id="@presented.Id" name="@presented.Id" value="@answerText" />
                }
                else
                { 
                    <textarea  id="@presented.Id" name="@presented.Id" rows="10">@answerText</textarea>
                }
                @if (question.AllowNotesOnAnswer == true)
                { 
                <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
                }
                <p class="help-block" >@Html.Raw(presented.Note)</p>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
</div>

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = returnId })));

        @if (question.AllowMultiLine == true)
        {
/*        <text>
            $('#@(presented.Id)').focus(
            function() 
            { 
                $('#@(presented.Id)').redactor({buttons:['html', '|', 'formatting', '|', 'bold', 'italic', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignleft', 'aligncenter', 'alignright', 'justify', '|','horizontalrule']});
            });

            $('#@(presented.Id)').blur(
            function() 
            { 
                $('#@(presented.Id)').destroyEditor();
            });

                </text>*/
        <text>
            $('#@(presented.Id)').redactor({buttons:['html', '|', 'formatting', '|', 'bold', 'italic', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignleft', 'aligncenter', 'alignright', 'justify', '|','horizontalrule']});
        </text>
        }

        var nextHandler = function(args) {
            // get the answer object for us and then give it a property that is the value of our answer
            var item = $("body").checklistplayer('getItem', '@returnId');
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.FreeTextQuestionAnswerModelItemConverter.AnswerPropertyName', Value: $("#@presented.Id").val() });
        };

        var listener = { beforeNext: nextHandler };

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document'}, text: false});
        $("#notes@(presented.Id)").click(function() {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        $("body").checklistplayer('addListener', listener);
    })
</script>
