﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;
}

<p translate>You are about to complete the checklist, click the button below to finish the checklist</p>

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('finishing');
    })
</script>
