﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.SignatureQuestion question = (ConceptCave.Checklist.Editor.SignatureQuestion)presented.Question;
    var answer = presented.GetAnswer() as ConceptCave.Checklist.Interfaces.ISignatureAnswer;

    var returnId = presented.Id.ToString();
    if(Model.PlayerModel.Context.Area == ConceptCave.www.Areas.Player.Models.PlayModelContextArea.MembershipDesigner)
    {
        returnId = question.Id.ToString();   
    }
    
    string answerText = string.Empty;
    
    if (answer != null)
    {
        answerText = (answer.AnswerAsJsonString ?? "").ToString();
    }
    string prompt = presented.Prompt;
}

@helper RenderDimensionCss(ConceptCave.Checklist.Interfaces.IDimension dimension)
    {
    @(dimension.DimensionType == ConceptCave.Checklist.Interfaces.DimensionType.Pixels ? (int)dimension.Value : dimension.Value)@(dimension.DimensionType == ConceptCave.Checklist.Interfaces.DimensionType.Pixels ? "px" : "%")
}

<div class="question signature @(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h4>@Html.Raw(prompt)</h4>
    }

    <div id="@presented.Id" class="sigPad signed" style="width: @RenderDimensionCss(question.Width)">
        <div class="sigWrapper" style="height: @RenderDimensionCss(question.Height)">
            <div class="typed" style="display:none"></div>
            <canvas class="pad" width="@question.Width.Value" height="@question.Height.Value"></canvas>
        </div>
    </div>
    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
    <p class="help-block">@Html.Raw(presented.Note)</p>
    <input type="hidden" id="@(presented.Id.ToString() + "output")" />
    <div>
        <button class="btn" type="button" id="clear@(presented.Id)"><i class="icon-trash"></i>&nbsp;<translate>Clear Signature</translate></button>
        @if (question.AllowNotesOnAnswer == true)
        { 
        <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = returnId })));

        var nextHandler = function(args) {
            // get the answer object for us and then give it a property that is the value of our answer
            var item = $("body").checklistplayer('getItem', '@returnId');
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.SignatureQuestionAnswerModelItemConverter.AnswerPropertyName', Value: $("#@(presented.Id)").data("signaturePad").getSignatureString() });
        };

        var listener = { beforeNext: nextHandler };

        var sig = $("#@(presented.Id)");

        sig.data("signaturePad", $('#@(presented.Id)').signaturePad({output: "#@(presented.Id.ToString() + "output")", validateFields : false, drawOnly: true, lineTop: @(question.Height.Value) - 20}));
        @{
            if(string.IsNullOrEmpty(answerText) == false)
            {
                <text>
                sig.data("signaturePad").regenerate('@Html.Raw(answerText)');
        </text>
            }   
        }

        $("#clear@(presented.Id)").click(function() { $("#@(presented.Id)").data("signaturePad").clearCanvas(); });

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document'}, text: false});
        $("#notes@(presented.Id)").click(function() {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        $("body").checklistplayer('addListener', listener);
    })
</script>
