﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.CheckboxQuestion question = (ConceptCave.Checklist.Editor.CheckboxQuestion)presented.Question;
    var answer = presented.GetAnswer() as ConceptCave.Checklist.Interfaces.ICheckboxAnswer;

    var returnId = presented.Id.ToString();
    if (Model.PlayerModel.Context.Area == ConceptCave.www.Areas.Player.Models.PlayModelContextArea.MembershipDesigner)
    {
        returnId = question.Id.ToString();
    }

    string answerText = string.Empty;
    
    if (answer != null)
    {
        answerText = ((answer.AnswerBool ?? false) ? "checked" : "");
    }
    
    string prompt = presented.Prompt;
}

<div class="question checkbox @(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))"  data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
       
    <label class="checkbox inline" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))">
        @if (question.HtmlPresentation.LabelPlacement == ConceptCave.Checklist.Interfaces.HtmlPresentationHintLabelPlacement.Left && prompt != null && prompt.Length > 0 && !question.HidePrompt)
        {
            @Html.Raw(@prompt)
        }
        <input type="checkbox" id="@presented.Id" name="@presented.Id" @(answerText)>
        @if (question.HtmlPresentation.LabelPlacement == ConceptCave.Checklist.Interfaces.HtmlPresentationHintLabelPlacement.Right && prompt != null && prompt.Length > 0 && !question.HidePrompt)
        {
            @Html.Raw(@prompt)
        }
    </label>

    @if (question.AllowNotesOnAnswer == true)
    { 
    <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
    }
    <p class="help-block" >@Html.Raw(presented.Note)</p>

    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
</div>

<script type="text/javascript">
    $(function () {
        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = returnId })));

        var nextHandler = function(args) {
            // get the answer object for us and then give it a property that is the value of our answer
            var item = $("body").checklistplayer('getItem', '@returnId');
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.CheckboxQuestionAnswerModelItemConverter.AnswerPropertyName', Value: $("#@presented.Id").is(':checked') });
        };

        var listener = { beforeNext: nextHandler };

        $("body").checklistplayer('addListener', listener);

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document'}, text: false});
        $("#notes@(presented.Id)").click(function() {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        $("#@presented.Id").numeric();
    })
</script>