﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@using DotNet.Highcharts.Options
@using DotNet.Highcharts
@using DotNet.Highcharts.Enums
@using DotNet.Highcharts.Helpers
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    var question = (ConceptCave.Checklist.Editor.Reporting.LineChartQuestion)presented.Question;
    string prompt = presented.Prompt;

    var uniqueId = Guid.NewGuid();
    var title = "";
    
    if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        title = prompt;
    }
    var xAxisMin = program.ExpandString(question.XAxisMin);
    var xAxisMax = program.ExpandString(question.XAxisMax);
    var yAxisMin = program.ExpandString(question.YAxisMin);
    var yAxisMax = program.ExpandString(question.YAxisMax);
    
    //Now set up the chart
    //this obscure thing below is to generate a fairly unique positive number with no -'s in it
    var chartName = "LineChartQuestion_" + Math.Abs(uniqueId.ToString().GetHashCode());
    var chart = new Highcharts(chartName);
    chart.InitChart(new DotNet.Highcharts.Options.Chart()
    {
        DefaultSeriesType = ChartTypes.Line
    });
    
    chart.SetPlotOptions(new PlotOptions()
    {
        Series = new PlotOptionsSeries()
        {
            EnableMouseTracking = false,
            Shadow = false,
            Animation = new Animation(false)
            
        }
    });

    chart.SetTitle(new Title()
    {
        Text = title
    });
    chart.SetCredits(new Credits()
    {
        Text = ""
    });
    
    var xaxis = new XAxis()
    {
        Title = new XAxisTitle(){ Text= question.XAxisName}
    };
    if (question.XAxisUnits == ConceptCave.Checklist.Editor.Reporting.AxisUnits.DateTime)
    {
        xaxis.Type = AxisTypes.Datetime;
    }
    if (!string.IsNullOrEmpty(xAxisMin))
    {
        try
        {
            if (question.XAxisUnits == ConceptCave.Checklist.Editor.Reporting.AxisUnits.DateTime)
            {
                var dt = DateTime.Parse(xAxisMin);
                xaxis.Min = dt.ToJSTimestamp();
            }
            else
            {
                xaxis.Min = double.Parse(xAxisMin);
            }
        }
        catch (FormatException) { }
        
    }
    if (!string.IsNullOrEmpty(xAxisMax))
    {
        try
        {
            if (question.XAxisUnits == ConceptCave.Checklist.Editor.Reporting.AxisUnits.DateTime)
            {
                var dt = DateTime.Parse(xAxisMax);
                xaxis.Max = dt.ToJSTimestamp();
            }
            else
            {
                xaxis.Max = double.Parse(xAxisMax);
            }
        }
        catch (FormatException) { }

    }
    var yaxis = new YAxis()
    {
        Title = new YAxisTitle() { Text = question.YAxisName },
    };
    if (!string.IsNullOrEmpty(yAxisMin))
    {
        yaxis.Min = double.Parse(yAxisMin);
    }
    if (!string.IsNullOrEmpty(yAxisMax))
    {
        yaxis.Max = double.Parse(yAxisMax); 
    }
    chart.SetXAxis(xaxis);
    chart.SetYAxis(yaxis);

    var legend = new Legend()
    {
        Layout = Layouts.Vertical,
        Align = HorizontalAligns.Right,
        VerticalAlign = VerticalAligns.Top
    };
    chart.SetLegend(legend);
    
    //now the actual data
    var serieses = new List<Series>();
    foreach (var s in question.Series)
    {
        var chartSeries = new Series();
        chartSeries.Name = s.Name;
        IEnumerable<Tuple<object, object>> datapairs = null;
        if (question.XAxisUnits == ConceptCave.Checklist.Editor.Reporting.AxisUnits.DateTime)
        {
            //the below clusterfuck converts column 1 into a datetime, and converts it then to a unix epoch
            datapairs = s.XYData.OrderBy(r => (DateTime)r.GetColumn(1)) 
                        .Select(r => new Tuple<object, object>(((DateTime)r.GetColumn(1)).ToJSTimestamp(), 
                                                        r.GetColumn(2)));
        }
        else
        {
            datapairs = s.XYData.OrderBy(r => r.GetColumn(1))
                .Select(r => new Tuple<object, object>(r.GetColumn(1), r.GetColumn(2)));
        }
        var dsize = datapairs.Count();
        var dataarr = new object[dsize, 2];
        int i = 0;
        foreach (var dpair in datapairs)
        {
            dataarr[i, 0] = dpair.Item1;
            dataarr[i, 1] = dpair.Item2;
            i++;
        }
        var data = new Data(dataarr);
        chartSeries.Data = data;
        serieses.Add(chartSeries);
    }
    chart.SetSeries(serieses.ToArray());
}

<div class="question" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    <div class="@(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))">
        @chart

    </div>
</div>