﻿@using ConceptCave.BusinessLogic.Questions
@using ConceptCave.Checklist.Editor
@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    var program = Model.PlayerModel.Program;
    var presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    var question = (MessagingViewQuestion)presented.Question;
    string prompt = presented.Prompt;

    var user = Model.PlayerModel.ReviewerId;
    var messages = ConceptCave.Repository.MessageRepository.GetMessagesForUser(user);
    var tz = ConceptCave.Repository.MembershipRepository.GetById(user).TimeZoneInfo;

}

<div class="span12">
    <div class="question" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
        <div class="@(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))">
            <div id="messaging-inbox" class="messaging-inbox">
                <div class="messaging-topbar" style="height: auto; padding-bottom: 0px;">
                    <h3 translate>Inbox</h3>
                    <a class="pull-right btn btn-info messaging-compose" style="margin-top: 10px;"><i class="icon-pencil icon-white"></i><translate>Compose</translate></a>
					<div style="clear:both; height: 0px; margin: 0px; padding: 0px;">&nbsp;</div>
                </div>
                <span id="loadingText" translate>Loading...</span>
                <div style="display:none;" id="nomessages-display" class="media">
                    <div class="media-body" style="text-align: center;" translate>
                        No messages yet!
                    </div>
                </div>
                <ul class="media-list">
                
                </ul>
            </div>  
        </div>

        <div class="modal hide fade" id="messaging-compose-dialog">
            <div class="modal-header">
                <button type="button" class="close dismiss messaging-closes">×</button>
                <h3 translate>Compose Message</h3>
            </div>
            <div class="modal-body">
    
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" translate>Send</a>
                <a href="#" class="btn dismiss messaging-closes" translate>Close</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var lightColour = 'rgb(230, 230, 230)';
        var darkColour = 'rgb(210, 210, 210)';
        var nPagesPresent = 0;
        var composeDlog = $('#messaging-compose-dialog');
        var composeBody = $('#messaging-compose-dialog .modal-body');

        //libs
        var fetchMessagePage = function (cb) {
            $.ajax({
                url: '@(Url.Action("GetPage", "MessagingQuestion"))',
                data: {
                    uid: '@(user)',
                    pageNum: ++nPagesPresent
                },
                cache: false,
                success: function (data, status) {
                    attachMessagePage(data);
                    if (typeof (cb) !== "undefined")
                        cb();
                }
            });
        };

        var attachMessagePage = function (data) {
            try {
                //An exception is thrown if data consists of a single newline
                var page = $(data);
                //apply zebra striping:
                if (nPagesPresent % 2 == 1) {
                    $(page).filter('li:even').css('background-color', lightColour);
                    $(page).filter('li:odd').css('background-color', darkColour);
                }
                else {
                    $(page).filter('li:even').css('background-color', darkColour);
                    $(page).filter('li:odd').css('background-color', lightColour);
                }
                $("#messaging-inbox ul").append(page);
            }
            catch (e) {
            }
            if ($("#messaging-inbox ul > li").length == 0) {
                $("#nomessages-display").show();
            }
            else {
                $("#nomessages-display").hide();
            }
        }

        var openComposeDialog = function (replyId, cb) {
            $(composeBody).html($ng_translate.instant('Loading...'));
            $(composeDlog).modal({ backdrop: 'static' });

            var url;
            var data;
            //are we replying to anything?
            if (typeof replyId === "undefined") {
                url = '@(Url.Action("GetComposer", "MessagingQuestion"))';
                data = { uid: '@(user)' };
            }
            else {
                url = '@(Url.Action("GetReplier", "MessagingQuestion"))';
                data = { uid: '@(user)', inReplyTo: replyId };
            }
            $.ajax({
                url: url,
                data: data,
                cache: false,
                success: function (text, status, xhr) {
                    $(composeBody).html(text);

                    if (typeof cb !== "undefined") cb();
                }
            });
        }

        //event handlers:
        $(".message-does-reply").live("click", function (ev) {
            var messageId = $(this).data('messageid');
            openComposeDialog(messageId);
        });

        $('#messaging-compose-dialog .messaging-closes').live('click', function (ev) {
            $(composeDlog).modal('hide');
        });

        $('.messaging-compose').live('click', function (ev) {
            openComposeDialog();
        });

        $('#messaging-compose-dialog > .modal-footer > .btn-primary').live('click', function (ev) {
            var form = $('#messaging-compose-dialog form')[0];
            $(form).ajaxSubmit({
                cache: false,
                data: {
                    @{int ct = 0;}
                    @foreach (var uid in question.UsersToCC)
                    {
                        @Html.Raw("\"UsersToCC[" + ct + "]\": \"" + uid.ToString() +"\",\n");
                        ct++;
                    }
                    DummyEndingValue: 0
                },
                success: function () { $(composeDlog).modal('hide'); }
            });
        });

        $('.messaging-does-acknowledge').live('click', function (ev) {
            var button = $(this);
            var mboxid = $(button).data('mailboxid');
            $.ajax({
                url: '@Url.Action("Acknowledge", "MessagingQuestion")',
                data: {
                    uid: '@(user)',
                    messageInstanceId: mboxid
                },
                type: 'POST',
                success: function () {
                    $(button).remove();
                    var liel = $('li[data-messageinstanceid="' + mboxid + '"]');
                    $(liel).removeClass('message-unread');
                    $(liel).find('.message-ack-link').remove();
                }
            });
        });

        //First thing we need to do is fetch some messages
        fetchMessagePage(function () {
            $("#loadingText").remove();
        });
    });
</script>