﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();

    var question = (ConceptCave.Repository.Questions.CalendarEventViewerQuestion)Model.Presented.Presentable;
    ConceptCave.Data.HelperClasses.EntityCollection<ConceptCave.Data.EntityClasses.CalendarEventEntity> events = (ConceptCave.Data.HelperClasses.EntityCollection<ConceptCave.Data.EntityClasses.CalendarEventEntity>)Model.Data["Events"];
}

<table class="table table-stripped">
    <thead>
        <tr>
            <th translate>User</th>
            <th translate>Date</th>
            <th translate>Title</th>
            <th translate>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in events)
        {
            <tr>
                <td>@e.UserData.Name</td>
                <td>@e.CalendarRules[0].StartDate</td>
                <td>@e.Title</td>
                <td>@e.Description</td>
            </tr>
        }
    </tbody>
</table>