﻿@using ConceptCave.BusinessLogic.Questions
@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    SelectUserQuestion question = (SelectUserQuestion)presented.Question;
    var answer = presented.GetAnswer() as SelectUserAnswer;

    string answerText = string.Empty;
    
    if (answer != null)
    {
        answerText = (answer.AnswerValue ?? "").ToString();
    }

    string prompt = presented.Prompt;

}

<div class="question selectuser @(question.HtmlPresentation.CustomClass)" style="@(question.HtmlPresentation.CustomStyling)" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h4>@Html.Raw(prompt)</h4>
    }
    <div class="control-group">
        <div class="controls">
            <div id="selectUser@(presented.Id)" class="input-append">
                <input type="hidden" id="selectUserValue@(presented.Id)" name="selectUserValue@(presented.Id)" value="@(answer.SelectedUserId.HasValue ? answer.SelectedUserId.ToString() : "")" />
                @Html.EditorFor(m => answer.SelectedUserId, "SingleUser")
                @if (question.AllowNotesOnAnswer == true)
                { 
                <button class="btn" type="button" id="notes@(presented.Id)"><i class="icon-book"></i>&nbsp;<translate>Notes</translate></button>
                }
                <p class="help-block" >@Html.Raw(presented.Note)</p>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
</div>

<script type="text/javascript">
    $(function () {
        $("#selectUser@(presented.Id)").die("itemselected");
        $("#selectUser@(presented.Id)").live("itemselected", function(event, data) {
            $("#selectUserValue@(presented.Id)").val(data.id);
        });

        $("body").checklistplayer('addItem', @Html.Raw(Json.Encode(new ConceptCave.www.Models.JSONDataModelItem() { Id = presented.Id.ToString() })));

        var nextHandler = function(args) {
            // get the answer object for us and then give it a property that is the value of our answer
            var item = $("body").checklistplayer('getItem', '@presented.Id');
            item.Properties.push({ Name: '@ConceptCave.www.Areas.Player.Models.SelectUserQuestionAnswerModelItemConverter.AnswerPropertyName', Value: $("#selectUserValue@(presented.Id)").val() });
        };

        var listener = { beforeNext: nextHandler };

        $("#notes@(presented.Id)").button({ icons: { primary: 'ui-icon-document'}, text: false});
        $("#notes@(presented.Id)").click(function() {
            $("#notes@(presented.Id)").trigger('notesrequired', '@presented.Id.ToString()');
        });

        $("body").checklistplayer('addListener', listener);
    })
</script>
