﻿@model ConceptCave.www.Areas.Player.Models.PlayerModelItem
@{
    this.Layout = null;

    ConceptCave.Checklist.Interfaces.ILingoProgram program = Model.PlayerModel.Program;
    ConceptCave.Checklist.Interfaces.IPresentedQuestion presented = (ConceptCave.Checklist.Interfaces.IPresentedQuestion)Model.Presented;
    ConceptCave.Checklist.Editor.LabelQuestion question = (ConceptCave.Checklist.Editor.LabelQuestion)presented.Question;
    string prompt = presented.Prompt;
}

<div class="question labelquestion" data-presentable-name="@(string.IsNullOrEmpty(question.Name) ? "blank" : question.Name)">
    <div class="@(program.ExpandString(question.HtmlPresentation.CustomClass))" style="@(program.ExpandString(question.HtmlPresentation.CustomStyling))">
    @if (prompt != null && prompt.Length > 0 && !question.HidePrompt)
    {
        <h3>@Html.Raw(prompt)</h3>
    }
      <p>@Html.Raw(program.ExpandString(question.Text))</p>
        @Html.Partial("~/Views/Play/RenderQuestionValidationResult.cshtml", Model.InvalidReasons)
    </div>
</div>