<div question-wrapper="presented">
    <md-input-container>
        <md-radio-group ng-if='inputCtrlType == "radio"' ng-model='answer.Selected' layout='{{ buttonLayout }}'
            ng-blur="validate('single')">
            <md-radio-button ng-repeat='choice in presented.Choices' ng-value='choice.Id'
                ng-disabled='deepEdit.readonly || choice.disabled'>
                {{ choice.Display }}
            </md-radio-button>
        </md-radio-group>

        <div ng-if='inputCtrlType == "checkbox"' layout='{{ buttonLayout }}'>
            <md-checkbox ng-repeat='choice in presented.Choices' ng-value='choice.Id'
                ng-model='answer.Selected[choice.Id]' ng-blur="validate('single')">
                {{ choice.Display }}
            </md-checkbox>
        </div>

        <md-select ng-if='inputCtrlType == "compact_single"' ng-blur="validate('single')"
            ng-model="$parent.answer.Selected">
            <md-option ng-repeat='choice in presented.Choices' ng-value='choice.Id'
                ng-disabled='deepEdit.readonly || choice.disabled'>
                {{ choice.Display }}
            </md-option>
        </md-select>

        <md-select ng-if='inputCtrlType == "compact_multiple"' ng-blur="validate('single')"
            ng-model="$parent.compact_multiple.answer" multiple>
            <md-option ng-repeat='choice in presented.Choices' ng-value='choice.Id'
                ng-disabled='deepEdit.readonly || choice.disabled'>
                {{ choice.Display }}
            </md-option>
        </md-select>
        <div ng-messages='presented.ValidationErrors' ng-if='presented.ValidationErrors.length'>
            <div ng-repeat='error in presented.ValidationErrors' class='md-input-message-animation'>
                {{ error }}</div>
        </div>
    </md-input-container>
</div>