﻿<div layout='column'>
    <div layout='row'>
        <div flex layout='row' layout-align='start center'>
            <md-button class="btn-large md-raised md-accent" ng-show="buttonStates.canPrevious"
                ng-disabled="buttonStates.areAjaxing" ng-click="buttonActions.doTransition('prev')">
                {{ buttonStates.previousText }}
                <md-icon>navigate_before</md-icon>
            </md-button>
        </div>
        <div flex layout='row' layout-align='end center'>
            <md-button class="btn-large md-raised md-accent" ng-show="buttonStates.canNext"
                ng-disabled="buttonStates.areAjaxing" ng-click="buttonActions.doTransition('next')">
                {{ buttonStates.nextText }}
                <md-icon>navigate_next</md-icon>
            </md-button>
        </div>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-show="buttonStates.areAjaxing"></md-progress-linear>
</div>
