<md-dialog flex="80">
    <md-toolbar>
        <div class='md-toolbar-tools'>
            <h2 translate>Create Task</h2>
            <span flex></span>
            <md-button class='md-icon-button' ng-click="cancel()">
                <md-icon md-font-set='fas' md-font-icon='fa-times fa-lg'></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class='md-dialog-content'>
            <question-tasklist-newtask-ui ng-model="currentTemplate" presented="presented" on-close="close(data)">
            </question-tasklist-newtask-ui>
        </div>
    </md-dialog-content>
</md-dialog>