﻿<register-translations>
    <edit-invoice>Invoice: <span ng-bind="record.id" /></edit-invoice>
</register-translations>
<form name="editor">
    <legend translate>edit-invoice</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify><a href="#details" data-toggle="tab" translate>Details</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputName" translate>Invoice #</label>
                            <div class="controls">
                                <span class="uneditable-input">{{record.id}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="total" >Total ({{ record.currency }})</label>
                            <div class="controls">
                                <span class="uneditable-input">{{record.totalamount | number:2}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description" translate>Description</label>
                            <div class="controls">
                                <span class="uneditable-input">{{record.description}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="between" translate>Between</label>
                            <div class="controls">
                                <span class="uneditable-input">{{record.fromdateutc | amUtc | amLocal | amDateFormat:'D MMM YYYY'}} to {{record.todateutc | amUtc | amLocal | amDateFormat:'D MMM YYYY'}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="generatedon" translate>Generated on</label>
                            <div class="controls">
                                <span class="uneditable-input">{{record.generateddateutc | amUtc | amLocal | amDateFormat:'D MMM YYYY HH:mm:ss'}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="generatedon" translate>Issued on</label>
                            <div class="controls">
                                <span class="uneditable-input">{{record.issueddateutc | amUtc | amLocal | amDateFormat:'D MMM YYYY HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group" ng-if="record.paymentreference">
                            <span class="label large label-success">PAID</span>
                            <button class="btn btn-danger pull-right" ng-click="showMarkAsUnpaid()">Mark as Unpaid</button>
                            <label class="control-label" for="between" translate>Reference</label>
                            <div class="controls">
                                <span class="uneditable-input">{{record.paymentreference}}</span>
                            </div>
                            <label class="control-label" for="between" translate>Date</label>
                            <div class="controls">
                                <span class="uneditable-input">{{record.paymentdateutc | amUtc | amLocal | amDateFormat:'D MMM YYYY'}}</span>
                            </div>
                        </div>
                        <div class="control-group" ng-if="!record.paymentreference">
                            <span class="label large label-warning">UNPAID</span>
                            <button class="btn btn-success pull-right" ng-click="showMarkAsPaid()">Mark as Paid</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="details">
                <ul class="nav nav-pills">
                    <li ng-repeat="level in detailLevels" ng-class="{active: detailLevel == level.level}">
                        <a href="#" ng-click="setDetailLevel(level)">{{ level.name }}</a>
                    </li>
                </ul>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Description</td>
                            <td>Quantity</td>
                            <td>Unit Price ({{ record.currency }})</td>
                            <td>Total ({{ record.currency }})</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="['info', ''][lineItem.detaillevel]" ng-repeat="lineItem in record.invoicelineitems | filter: detailFilter">
                            <td>{{ lineItem.line }}</td>
                            <td><span ng-style="{'padding-left': lineItem.detaillevel * 10 + 'px'}">{{ lineItem.description }}</span></td>
                            <td>{{ lineItem.quantity }}</td>
                            <td>{{ lineItem.unitprice | number:2 }}</td>
                            <td>{{ lineItem.total | number:2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-if="canDeleteInvoice(record)" ng-click="delete()" class="btn btn-danger">Delete</button>
</div>
<div class="modal-large hide fade" modalify="showMarkAsPaidDialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Mark as Paid</h3>
    </div>
    <div class="modal-body" style="min-height: 30px">
        <div class="control-group">
            <label class="control-label" for="from" translate>Payment Reference</label>
            <div class="controls">
                <input type="text" ng-model="paymentreference" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="to" translate>Payment Date</label>
            <div class="controls">
                <input type="date" ng-model="paymentdate" />
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success" data-dismiss="modal" translate ng-click="markAsPaid()" ng-if="paymentreference">Mark as Paid</a>
        </div>
    </div>
</div>



