﻿<div class="control-group">
    <div class="controls">
        <input type="text" placeholder="{{ 'Search' | translate }}" ng-model="search" />
    </div>
</div>

<ul class="nav nav-tabs nav-stacked">
    <li dir-paginate="invoice in records | itemsPerPage: itemsPerPage" total-items="totalRecords" current-page="pageNumber" ng-click="editRecord(invoice)">
        <a href="">
            <div>
                <span>{{invoice.id}}</span>
                <span class="pull-right">{{ invoice.fromdateutc | amUtc | amLocal | amDateFormat:'D MMM YYYY' }} - {{ invoice.todateutc | amUtc | amLocal | amDateFormat:'D MMM YYYY' }}</span>
            </div>
            <div>
                <span class="label label-success" ng-if="invoice.paymentreference">PAID</span>
                <span class="label label-warning" ng-if="!invoice.paymentreference">UNPAID</span>
                <span class="pull-right">{{ invoice.currency }}{{ invoice.totalamount | number:2 }}</span>
            </div>
        </a>

    </li>
</ul>
<dir-pagination-controls boundary-links="true" class="ng-isolate-scope" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
