<md-toolbar>
    <div layout='row' flex layout-align='center center'>
        <div ui-view='header-left' layout='row' class='ui-view-layout-row'></div>
        <div ui-view='header' flex layout='row' class='ui-view-layout-row'></div>
        <div ui-view='header-right' layout='row' class='ui-view-layout-row'></div>
    </div>
</md-toolbar>