﻿@model ConceptCave.Checklist.Interfaces.IPresentedSection
@{
    this.Layout = null;

    ConceptCave.Checklist.Editor.Section section = (ConceptCave.Checklist.Editor.Section)Model.Section;
}

<div class="section">
<h4>@(section.Name)</h4></td>

        @foreach (var item in Model.Children)
        {
            <div class="sectionpanel">
            @{
            if (item.Presentable is ConceptCave.Checklist.Interfaces.ISection)
            {
                    @Html.Partial("RenderSectionReader", item);
            }
            else
            {
                    @Html.Partial("RenderQuestionReader", item);
            }
            }
            </div>
        }
</div>