﻿@model ConceptCave.Checklist.Interfaces.IPresentedQuestion
@{
    var item = ConceptCave.Repository.RepositorySectionManager.Current.ItemForObject(Model.Question);
    if(item.HasReaderPartialView)
    {
        @Html.Partial(item.ReaderPartialView, Model);
        return;   
    }
    
    this.Layout = null;

    var answer = Model.GetAnswer();
    
    if(answer == null)
    {
        return;    
    }
}

<div>
    <label class="above">@Model.Question.Prompt</label>
    <div>@(answer.AnswerValue == null ? string.Empty : answer.AnswerValue.ToString())</div>
</div>