﻿@model ConceptCave.Checklist.Interfaces.IPresentedQuestion
@{
    this.Layout = null;

    var answer = (ConceptCave.Checklist.Interfaces.IMultiChoiceAnswer)Model.GetAnswer();

    if (answer == null)
    {
        return;
    }
}

<div>
    <label class="above">@Model.Question.Prompt</label>
    <div>
        @{
            if(answer.ChosenItems.ToList().Count() == 0)
            {
                <text><translate>No answers were selected.</translate></text>
            }
            else
            {
                @string.Join(",", (from c in answer.ChosenItems select c.Display))    
            }
        }
    </div>
</div>
