﻿<register-translations>
    <view-current-version-of-media-is-older-than>
        If current version of media is older than <span ng-bind="policy.age"/> <span ng-bind="policy.period"/> then send <span ng-bind="policy.action.type"/> to users with labels <label-display ng-model="policy.action.labels" type="Users"></label-display>.
    </view-current-version-of-media-is-older-than>
    <edit-current-version-of-media-is-older-than>
        <div class="row-fluid">
            <div class="span12">
                If current version of media is older than <input type=number ng-model="policy.age" style="width:50px" /> 
                <select style="width:100px" ng-model="policy.period" ng-options="p for p in periods" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                then send <a href="" ng-click="showemaileditor()"><span ng-bind="policy.action.type"/></a> to users with labels <label-selector ng-model="policy.action.labels" type="Users"></label-selector>
            </div>
        </div>
    </edit-current-version-of-media-is-older-than>
</register-translations>
<div ng-if="editing == false">
    <div translate>view-current-version-of-media-is-older-than</div>
</div>
<div ng-if="editing == true">
    <div translate>edit-current-version-of-media-is-older-than</div>
</div>

 