﻿<div>
    <div ng-repeat="policy in policies">
        <div style="text-align:right">
            <button ng-if="currentlyediting.index != $index" class="btn btn-mini" ng-click="editpolicy(policy, $index)" translate>Edit</button>
            <button ng-if="currentlyediting.index == $index" class="btn btn-mini" ng-click="closepolicy(policy)" translate>Close</button>
            <button ng-if="currentlyediting.index == $index" class="btn btn-danger btn-mini" ng-click="deletepolicy(policy)" translate>Delete</button>
        </div>
        <div ng-if="policy.type == 'currentversion-notreadfor'">
            <policy-currentmediaversion-notreadfor  ng-model="policy"></policy-currentmediaversion-notreadfor>
        </div>
        <div ng-if="policy.type == 'currentversion-older'">
            <policy-currentmediaversion-older  ng-model="policy"></policy-currentmediaversion-older>
        </div>
        <br />
        <hr />
    </div>

    <div class="modal-large hide fade" modalify="showemail">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 translate>Email Contents</h3>
        </div>
        <div ng-if="showemail" class="modal-body">
            <ng-form name="emaildetails">
                <div class="control-group" ng-class="{error: emaildetails.inputSubject.$invalid && emaildetails.inputSubject.$pristine == false}">
                    <label class="control-label" for="inputSubject" translate>Subject</label>
                    <div class="controls">
                        <input type="text" id="inputSubject" name="inputSubject" required ng-model="email.subject" placeholder="{{ 'Subject' | translate }}">
                        <span ng-if="emaildetails.inputName.$invalid && emaildetails.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: emaildetails.inputContents.$invalid && emaildetails.inputContents.$pristine == false}">
                    <label class="control-label" for="inputContents" translate>Body</label>
                    <div class="controls">
                        <textarea ng-model="email.body" rows="10" />
                    </div>
                </div>
                <p class="text-info" translate>Use #{documents} in the body of the email as a placeholder for the list of documents.</p>
            </ng-form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        </div>
    </div>

</div>
