﻿<register-translations>
    <view-policy-current-version-not-read-for>
        <div>
            If current version of media has not been read for <span ng-bind="policy.age"/> <span ng-bind="policy.period"/> by users with labels 
            <label-display ng-model="policy.labels" type="Users"></label-display> then send <span ng-bind="policy.action.type"/> to users.
        </div>
    </view-policy-current-version-not-read-for> 

    <edit-policy-current-version-not-read-for>
        <div>
            If current version of media has not been read for <input type=number ng-model="policy.age" style="width:50px" /> <select style="width:100px" ng-model="policy.period" ng-options="p for p in periods" />
        </div>
        <div>
            by users with labels <label-selector ng-model="policy.labels" type="Users"></label-selector>
        </div>
        <div>
            then send <a href="" ng-click="showemaileditor()"><span ng-bind="policy.action.type"/></a> to users.
        </div>
    </edit-policy-current-version-not-read-for>
</register-translations>
<div ng-if="editing == false">
    <div translate>view-policy-current-version-not-read-for</div>
</div>
<div ng-if="editing == true">
    <div translate>edit-policy-current-version-not-read-for</div>
</div>