﻿<div>
    <div id="management" class="container-fluid" ng-controller="rostermanagementCtrl">
        <div class="row-fluid">
            <div id="rosterslist" class="span4">
                <div>
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newRoster()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    </div>
                    <roster-sidebar ng-model="rosters"></roster-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1 translate>Roster Management</h1>
                        <translate>This management section allows you to define rosters. A roster can be defined for an organisational hierarchy.</translate>
                    </div>
                    <div ng-if="editing">
                        <roster-editor ng-model="editing" allowautomation="allowautomation" eventtypes="events" tasktypes="tasktypes" rosterconditionactions="rosterconditionactions" timezones="timezones"></roster-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>