﻿<div>
    <div ng-if="uploader" class="row-fluid">
        <div class="span6">
            <div ng-show="uploader.isHTML5" nv-file-drop uploader="uploader">
                <div class="well drop-zone" nv-file-over uploader="uploader" translate>
                    Drag and Drop files here
                </div>
            </div>
        </div>
        <div class="span6">
            <p translate>Alternatively you may select a file</p>
            <input nv-file-select uploader="uploader" type="file" />
        </div>
    </div>
    <div class="row-fluid" ng-if="uploader.queue.length > 0">
        <div class="span12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%" translate>Name</th>
                        <th ng-show="uploader.isHTML5" translate>Size</th>
                        <th ng-show="uploader.isHTML5" translate>Progress</th>
                        <th translate>Status</th>
                        <th translate>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress progress-striped" style="margin-bottom: 0;">
                                <div class="bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="icon-upload"></i></span>
                            <span ng-show="item.isCancel"><i class="icon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="icon-trash"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-mini" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="icon-upload"></span><translate>Upload</translate>
                            </button>
                            <button type="button" class="btn btn-warning btn-mini" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="icon-ban-circle"></span><translate>Cancel</translate>
                            </button>
                            <button type="button" class="btn btn-danger btn-mini" ng-click="item.remove()">
                                <span class="icon-trash"></span><translate>Remove</translate>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div ng-if="uploadFailed">
        <div class="row-fluid">
            <div class="span12 alert alert-error">
                <h4 translate>Issues Encountered</h4>
                <translate>Issues were encountered while attempting to upload. No data has been saved to the database. Please correct the issues detailed below before trying again.</translate>
            </div>
        </div>
        <div class="row-fluid" ng-repeat="result in results | filter:{ success: false }">
            <div class="span12">
                <table class="table table-stripped">
                    <tbody>
                        <tr ng-repeat="error in result.errors">
                            <td><span class="label label-important" translate>Error</span></td>
                            <td>
                                {{error}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-if="uploadFailed == false">
        <div class="alert alert-success">
            <h4 translate>Success</h4>
            <translate>The upload completed.</translate>
        </div>
    </div>
</div>