﻿<register-translations>
    <every-value-interval>Every <span ng-bind='expression.simple.every'/> <span ng-bind='simpleIntervals[expression.simple.interval].name'/></every-value-interval>
</register-translations>
<div ng-if="readonly">
    <div ng-if="expression.type == 'simple'">
        <span translate>every-value-interval</span>
        <span translate ng-if="expression.onlydays[0]">Sun, </span>
        <span translate ng-if="expression.onlydays[1]">Mon, </span>
        <span translate ng-if="expression.onlydays[2]">Tue, </span>
        <span translate ng-if="expression.onlydays[3]">Wed, </span>
        <span translate ng-if="expression.onlydays[4]">Thu, </span>
        <span translate ng-if="expression.onlydays[5]">Fri, </span>
        <span translate ng-if="expression.onlydays[6]">Sun </span>
    </div>
</div>
<div ng-if="!readonly">
    <div ng-if="expression.type == 'simple'">
        <div class="control-group">
            <span translate>Every </span><input type="number" ng-model="expression.simple.every" />
            <select id="type" ng-model="expression.simple.interval" ng-options="type.id as type.name for type in simpleIntervals" />
        </div>
        <div class="control-group">
            <label class="control-label" translate>Restrict to</label>
            <div class="controls">
                <table class="table">
                    <thead>
                        <tr>
                            <th translate>Sunday</th>
                            <th translate>Monday</th>
                            <th translate>Tuesday</th>
                            <th translate>Wednesday</th>
                            <th translate>Thursday</th>
                            <th translate>Friday</th>
                            <th translate>Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" ng-model="expression.onlydays[0]" /></td>
                            <td><input type="checkbox" ng-model="expression.onlydays[1]" /></td>
                            <td><input type="checkbox" ng-model="expression.onlydays[2]" /></td>
                            <td><input type="checkbox" ng-model="expression.onlydays[3]" /></td>
                            <td><input type="checkbox" ng-model="expression.onlydays[4]" /></td>
                            <td><input type="checkbox" ng-model="expression.onlydays[5]" /></td>
                            <td><input type="checkbox" ng-model="expression.onlydays[6]" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>