﻿<div class="input-append">
    <select ng-model="selected" ng-options="t.name for t in types track by t.id" ng-change="select()"></select>
    <button ng-if="!mandatory" ng-click="clearselection()" class="btn"><i class="icon-remove" style="color:red;"></i></button>
</div>
