﻿<ul class="breadcrumb">
    <li ng-repeat="parent in parents" ng-class="{'active': $last}" tooltip="{ title: structureTypes[parent.structuretype].name }">
        <i ng-class="'icon-facility-' + parent.structuretype"></i>
        <div class="btn-group">
            <button class="btn" ng-click="select(parent)">{{ parent.name }}</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown" ng-click="loadSiblings(parent)">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="sibling in parent.siblings">
                    <a tabindex="-1" href="#" ng-click="select(sibling)">{{ sibling.name }}</a>
                </li>
            </ul>
        </div>
        <span ng-if="!$last" class="divider">/</span>
    </li>
    <li ng-if="record.structuretype != 4">
        <i ng-class="'icon-facility-' + (record.structuretype + 1)"></i>
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown" ng-click="loadChildren(record)">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="child in record.children">
                    <a tabindex="-1" href="#" ng-click="select(child)">{{ child.name }}</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
