﻿<div class="input-append">
    <input type="text" sf-typeahead options="options" datasets="dataset" ng-model="watchcontainer.current" value="{{selectedname}}" ng-required="{{mandatory}}" placeholder="{{placeholder}}" />
    <button ng-if="!mandatory" ng-click="clearselection()" class="btn"><i class="icon-remove" style="color:red;"></i></button>
</div>
