﻿<div class="input-append">
    <input type="text" sf-typeahead options="options" datasets="companydataset" ng-model="watchcontainer.currentcompany" value="{{selectedname.value}}" ng-required="{{mandatory}}" />
    <button ng-if="!mandatory" ng-click="clearselection()" class="btn"><i class="icon-remove" style="color:red;"></i></button>
</div>