<div class="schedule-task-list-clockinclockout-ui animation-container">
    <div class='fullscreen-panel-animate'
        ng-if="task.workinggroupid && task.status != 'finishing' && task.status != 'finishing-incomplete'">
        <h3 translate>Tasks in this group</h3>
        <div layout='row' layout-wrap>
            <div flex='25'>
                <md-button>
                    <md-icon md-font-set='fas' md-font-icon='fa-angle-double-right fa-lg'></md-icon>
                    &nbsp;{{task.name}}&nbsp;
                    <md-icon md-font-set='fas' md-font-icon='fa-angle-double-left fa-lg'></md-icon>
                </md-button>
            </div>
            <div flex='25' ng-repeat="t in task.workinggroupdata">
                <md-button ng-click="gotoTask(t)" class='md-raised task-button'>
                    {{t.name}}&nbsp;
                    <md-icon md-font-set='fas' md-font-icon='fa-check-circle fa-lg' ng-if='t.allowfinish'></md-icon>
                    <md-icon md-font-set='fas' md-font-icon='fa-exclamation-circle fa-lg' ng-if='!t.allowfinish'>
                    </md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <div ng-if="!task.workinggroupid">
        <h4>{{task.name}} {{ task.asset.name }}</h4>
        <h5 ng-bind-html="task.description | unsafeHtml"></h5>
    </div>

    <div class="fullscreen-panel-animate"
        ng-if="(task.tasktypeid == task.subtasktypeid && task.relationships.length > 0) || showSetTaskType == true">
        <p translate>Select the type of task that will be performed</p>
        <question-tasklist-task-type-editor ng-model="task"></question-tasklist-task-type-editor>
    </div>

    <div ng-if="!((task.tasktypeid == task.subtasktypeid && task.relationships.length > 0) || showSetTaskType == true)">
        <div class="fullscreen-panel-animate" ng-if="task.status == 'new' || task.status == 'paused'">
            <h5 class="alert alert-danger"
                ng-if="isClockedIn == true && presented.template.enforcesingleclockin == true" translate>Note: You are
                currently
                clocked into {{clockedInTo.name}}, you will need to clock out of this task to be able to
                clock in to
                other tasks.</h5>
            <div ng-if="(isClockedIn == true && presented.template.enforcesingleclockin == true) == false && canStart(task)"
                layout='column'>
                <div ng-if="enableQRCodeQST">
                    <qr-code-scanner ng-model="scannedQRCode" on-scan="QRCodeScanned(text, task)">
                        <md-button class="md-raised task-button md-primary " ng-click="scan()">
                            <md-icon md-font-set='fas' md-font-icon='fa-qrcode fa-lg'></md-icon>&nbsp;
                            <span translate ng-if="!task.tasktype.autofinishafterstart">Start</span>
                            <span translate ng-if="task.tasktype.autofinishafterstart">Complete</span>
                        </md-button>
                    </qr-code-scanner>
                </div>
                <md-button ng-if="presented.template.allowbuttonstart && !task.workinggroupid"
                    class="md-raised task-button md-primary " ng-click="clockin(task)">
                    <md-icon md-font-set='fas' md-font-icon='fa-play fa-lg'></md-icon>&nbsp;
                    <span translate ng-if="!task.tasktype.autofinishafterstart">Start</span>
                    <span translate ng-if="task.tasktype.autofinishafterstart">Complete</span>
                </md-button>
                <md-button ng-if="task.workinggroupid" class="md-raised task-button md-primary"
                    ng-click="clockin(task)">
                    <md-icon md-font-set='fas' md-font-icon='fa-play fa-lg'></md-icon>&nbsp;
                    <translate>Start Group</translate>
                </md-button>
                <md-button ng-if="!task.workinggroupid && task.canfinish" class="md-raised task-button "
                    ng-click="finishingIncomplete(task)">
                    <md-icon md-font-set='fas' md-font-icon='fa-ban fa-lg'></md-icon>&nbsp;
                    <translate>Unable to Start</translate>
                </md-button>
                <md-button ng-if="task.relationships.length > 0" class="md-raised task-button  "
                    ng-click="showChangeTaskType()">
                    <md-icon md-font-set='fas' md-font-icon='fa-exchange-alt fa-lg'></md-icon>&nbsp;
                    <translate>Change Task Type</translate>
                </md-button>
            </div>
            <div ng-if="canStart(task) == false" class="alert alert-info">
                <translate>This task cannot be started until</translate>
                &nbsp;{{task.starttime | amDateFormat: 'HH:mm:ss'}}
            </div>
        </div>

        <div ng-if="task.status == 'active'" layout='column' class="fullscreen-panel-animate">
            <div class="schedule-task-list-clockinclockout-ui-activities" ng-if="task.activities.length > 0">
                <p>There are a number of activities associated with this task.</p>
                <div ng-repeat="(key, value) in task.activities | groupBy : 'area'"
                    class="schedule-task-list-clockinclockout-ui-activity">
                    <h5>{{key}}</h5>
                    <div ng-repeat="activity in value">
                        <strong>{{activity.sitefeature}} - {{activity.text}}</strong>
                        <pills ng-model="activity.completed" value-property="value" text-property="text"
                            options="activityoptions"></pills>
                    </div>
                    <div ng-if="value.length > 1" class="schedule-task-list-clockinclockout-ui-activity-toolbar">
                        <md-button class="md-raised task-button  -skinny" ng-click="completeactivities(value)">
                            <md-icon md-font-set='fas' md-font-icon='fa-thumbs-up fa-lg'></md-icon>&nbsp;
                            <translate>Complete All</translate>&nbsp;{{key}}
                        </md-button>
                    </div>
                </div>
                <md-button class="md-raised task-button  " ng-click="completeactivities(task.activities)">
                    <md-icon md-font-set='fas' md-font-icon='fa-thumbs-up fa-lg'></md-icon>&nbsp;
                    <translate>Complete All Activities</translate>
                </md-button>
            </div>

            <md-button class="md-accent md-raised task-button" ng-click="clockingout(task)">
                <md-icon md-font-set='fas' md-font-icon='fa-pause fa-lg'></md-icon>&nbsp;
                <translate>Pause</translate>
            </md-button>
            <div layout='column'
                ng-if="task.canfinish && (task.minimumdurationleft == null || task.minimumdurationleft <= 0) && (task.activities | filter:{ completed: null }).length == 0">
                <div class="alert alert-block" ng-if="task.photorequired">
                    <p class="text-center schedule-task-text">
                        <md-icon md-font-set='fas' md-font-icon='fa-exclamation-circle fa-lg'></md-icon>&nbsp;
                        <translate>A photo is required before this task can be finished</translate>
                    </p>
                </div>
                <qr-code-scanner ng-if="presented.template.allowqrcodefinish && !task.photorequired"
                    ng-model="scannedQRCode" on-scan="finishTaskQRCode(text, task)">
                    <md-button class="md-raised task-button btn-danger " ng-click="scan()">
                        <md-icon md-font-set='fas' md-font-icon='fa-qrcode fa-lg'></md-icon>&nbsp;
                        <translate>Finish</translate>
                    </md-button>
                </qr-code-scanner>
                <md-button ng-if="presented.template.allowbuttonfinish && !task.photorequired"
                    class="md-raised task-button md-primary" ng-click="finishing(task)">
                    <md-icon md-font-set='fas' md-font-icon='fa-check fa-lg'></md-icon>&nbsp;
                    <translate>Finish</translate>
                </md-button>
            </div>
            <div class="well"
                ng-if="task.canfinish && (task.minimumdurationleft != null && task.minimumdurationleft > 0)">
                <div ng-if="!presented.template.minimumtaskdurationmessage">
                    <translate>Task can be finished in</translate>
                    &nbsp;<strong>{{task.minimumdurationleft}}</strong>&nbsp;<translate>seconds</translate>
                </div>
                <div ng-if="presented.template.minimumtaskdurationmessage">
                    {{presented.template.minimumtaskdurationmessage}}</div>
            </div>
        </div>

        <div ng-if="task.status == 'pausing'" layout='column' class="fullscreen-panel-animate">
            <md-button class="md-raised task-button  " ng-click="cancelclockingout(task)" translate>
                <md-icon md-font-set='fas' md-font-icon='fa-backward fa-lg'></md-icon>&nbsp;Back
            </md-button>
            <hr />

            <md-button ng-repeat="status in task.pausedstatuses" ng-if="!task.requiresnotes"
                class="md-raised task-button " ng-click="pause(task, status)" translate>
                {{status.text}}
            </md-button>

            <textarea ng-if="task.requiresnotes" ng-model="task.pausingnotes" rows="5" style="width:90%"></textarea>
            <md-button ng-if="task.requiresnotes" class="md-raised task-button md-primary"
                ng-click="clockout(task, task.pausingnotes)">
                <md-icon md-font-set='fas' md-font-icon='fa-check fa-lg'></md-icon>&nbsp;
                <translate>Ok</translate>
            </md-button>
        </div>

        <div class="fullscreen-panel-animate" ng-if="task.status == 'finishing'" layout='column'>
            <div ng-if="task.workinggroupid == null" layout='column'>
                <md-button class="md-primary md-raised task-button" ng-click="finish(task, '')">
                    <md-icon md-font-set='fas' md-font-icon='fa-thumbs-up fa-lg'></md-icon>&nbsp;
                    <translate>All Ok</translate>
                </md-button>
                <md-button class="md-warn md-raised task-button" ng-click="finishingIncomplete(task)">
                    <md-icon md-font-set='fas' md-font-icon='fa-thumbs-down fa-lg'></md-icon>&nbsp;
                    <translate>Not complete</translate>
                </md-button>
            </div>
            <div ng-if="task.workinggroupid">
                <p translate>The task is a part of a group. Please select the status of each of the tasks in
                    the group.
                </p>
                <table class="table">
                    <tr>
                        <td>{{task.name}}</td>
                        <td>
                            <checkbox-as-pills ng-model="task.complete" true-label="Completed" false-label="Incomplete">
                            </checkbox-as-pills>
                        </td>
                    </tr>
                    <tr ng-repeat="t in task.workinggroupdata">
                        <td>{{t.name}}</td>
                        <td>
                            <checkbox-as-pills ng-model="t.complete" true-label="Completed" false-label="Incomplete">
                            </checkbox-as-pills>
                        </td>
                    </tr>
                </table>
                <md-button class="md-raised task-button md-primary " ng-click="finishingGroup(task)">
                    Next
                </md-button>
            </div>
        </div>

        <div class="schedule-task-list-clockinclockout-ui-finishing-incomplete fullscreen-panel-animate"
            ng-if="task.status == 'finishing-incomplete'" layout='column'>
            <md-button class="md-raised task-button" ng-click="cancelfinishingincomplete(task)" translate>
                <md-icon md-font-set='fas' md-font-icon='fa-backward fa-lg'></md-icon>&nbsp;Back
            </md-button>
            <h4 translate>Some tasks have been flagged as being incomplete. Please provide more information.
            </h4>
            <ol>
                <li ng-repeat="i in parent.incompleteTasks">
                    <h5>{{i.name}}</h5>
                    <div ng-class="{'error': i.error}" ng-repeat="s in i.finishedstatuses" layout='column'>
                        <md-checkbox ng-model="s.selected">{{s.text}}</md-checkbox>
                        <div ng-class="{error: s.error}" ng-if="s.requiresextranotes == true && s.selected">
                            <md-input-container class="md-block">
                                <label translate>You must enter notes for this option</label>
                                <textarea ng-model="s.notes" ng-click="$event.stopPropagation()" rows="5"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                    <p class="text-error" ng-if="i.error" translate>* One of the options must be selected or
                        notes
                        entered against the item if notes are required.</p>
                    <div ng-if="presented.template.showgeneralnotesforincompletetasks == true">
                        <h5 translate>Other Notes</h5>
                        <textarea ng-model="i.completionnotes" rows="5" style="width:90%"></textarea>
                    </div>
                    <hr />
                </li>
            </ol>
            <md-button class="md-raised task-button md-primary" ng-click="finish(task, task.completionnotes)">
                <md-icon md-font-set='fas' md-font-icon="fa-check fa-lg"></md-icon>&nbsp;
                <translate>Ok</translate>
            </md-button>
        </div>

        <div class="schedule-task-list-clockinclockout-ui-extras fullscreen-panel-animate"
            ng-if="(task.status == 'new' || task.status == 'paused' || task.status == 'active')" layout='column'>
            <div class="schedule-task-list-clockinclockout-ui-documentation" layout='column'>
                <md-collapsible ng-if="task.documentation.length > 0" class="md-popout">
                    <md-collapsible-item class='scroll-into-view'>
                        <md-collapsible-header layout='row'>
                            <md-icon md-font-set='fas' md-font-icon='fa-book fa-lg'></md-icon>&nbsp;
                            <translate>Documents</translate>
                        </md-collapsible-header>
                        <md-collapsible-body>
                            <md-list>
                                <md-list-item ng-repeat="d in task.documentation" ng-click="gotoFolder(d)">
                                    <h3>{{d.text}}</h3>
                                    <span ng-if="d.online == false" class="label label-warning" translate>Not available
                                        offline</span>
                                </md-list-item>
                            </md-list>
                        </md-collapsible-body>
                    </md-collapsible-item>
                </md-collapsible>
                <md-button ng-if="task.documentation.length > 0" class="md-raised task-button "
                    ng-click="toggleShowDocuments()">
                    </translate>
                </md-button>
                <div ng-if="showingdocumentation == true" class="well">
                    <ul class="thumbnails" style="padding-top:10px">
                        <li class="span12" ng-repeat="d in task.documentation">
                            <a href="#" class="thumbnail" style="position:relative" ng-click="gotoFolder(d)">
                                <h3>{{d.text}}</h3>
                                <span ng-if="d.online == false" class="label label-warning" translate>Not available
                                    offline</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="schedule-task-list-clockinclockout-ui-workflows">
                <div ng-if="task.photosupport != 0">
                    <photo-manager photo-width="300" existing-photos="task.photos" photo-id-field="'mediaid'">
                    </photo-manager>
                </div>
            </div>

            <div class="schedule-task-list-clockinclockout-ui-workflows"
                ng-if="(!task.tasktype.autostart1stchecklist || task.status != 'new')">
                <h3 ng-if="task.workinggroupid && task.publishedresources.length > 0">Processes for
                    {{task.name}}</h3>
                <md-list>
                    <md-list-item ng-repeat="r in task.publishedresources" ng-click="gotoChecklist(r, $event)"
                        layout='row'>
                        <media-image class='task-image' ng-model="r.mediaid" height='75' cache></media-image>
                        <h3 flex>{{r.name}}</h3>
                        <span ng-if="r.online == false" class="label label-warning">Not available offline</span>
                        <span ng-if="r.allowmultiple == false && r.completedworkingdocumentcount > 0"
                            class="label label-info">Single Run</span>
                        <md-icon md-font-set='fas' md-font-icon='fa-exclamation-circle fa-lg'
                            ng-if="r.ismandatory == true && r.allowfinish == false"></md-icon>
                        <md-icon md-font-set='fas' md-font-icon='fa-check fa-lg'
                            ng-if="r.allowfinish == true && r.workingdocumentcount > 0"></md-icon>
                    </md-list-item>
                </md-list>
            </div>

            <div class="schedule-task-list-clockinclockout-ui-group" layout='column'
                ng-if="task.workinggroupid && (task.status == 'new' || task.status == 'paused')">
                <md-button class="md-raised task-button md-warn" ng-click="deleteGroup(task)">
                    <md-icon md-font-set='fas' md-font-icon='fa-trash fa-lg'></md-icon>&nbsp;
                    <translate>Delete Group</translate>
                </md-button>
            </div>
        </div>
    </div>
</div>
