﻿<div style="min-height:300px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Type</th>
                <th>Standard</th>
                <th>Equipment</th>
                <th>
                    <button ng-click="addTest()" class="btn btn-success"><i class="icon-plus-sign"></i>&nbsp;New</button>
                    <button ng-click="manageTests()" class="btn btn-info"><i class="icon-th-list"></i>&nbsp;Manage</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in tests.items track by $index">
                <td>{{item.type}}</td>
                <td>{{item.compliance}}</td>
                <td>
                    <div ng-repeat="e in item.name">{{e}}</div>
                </td>
                <td>
                    <button ng-click="editTest(item)" class="btn btn-success"><i class="icon-edit"></i>&nbsp;Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal hide fade editstandardorder" modalify="showmanageorder">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Manage Checks</h3>
    </div>
    <div class="modal-body" style="min-height:300px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Standard</th>
                    <th>Equipment</th>
                    <th colspan="2"><button ng-click="addTest()" class="btn btn-success"><i class="icon-plus-sign"></i>&nbsp;New Check</button></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in tests.items track by $index">
                    <td>{{item.type}}</td>
                    <td>{{item.compliance}}</td>
                    <td>
                        <div ng-repeat="e in item.name">{{e}}</div>
                    </td>
                    <td>
                        <div><button ng-click="up(tests.items, item)" class="btn btn-success btn-mini"><i class="icon-arrow-up"></i></button></div>
                        <div><button ng-click="down(tests.items, item)" class="btn btn-success btn-mini"><i class="icon-arrow-down"></i></button></div>
                    </td>
                    <td>
                        <button ng-click="removeTest(item)" class="btn btn-danger"><i class="icon-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
    </div>
</div>

<div class="modal hide fade editstandardtest" modalify="showedittest">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Edit Check</h3>
    </div>
    <div class="modal-body" style="min-height:300px">
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group" ng-class="{error: editor.inpuText.$invalid && editor.inpuText.$pristine == false}">
                    <label class="control-label" for="inpuText" translate>Type</label>
                    <div class="controls">
                        <input type="text" id="inpuText" name="inpuText" required ng-model="editing.type" placeholder="Text"><span ng-if="editor.inpuText.$invalid && editor.inpuText.$pristine == false" class="help-inline">This field is mandatory</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label" translate>Comparison</label>
                    <div class="controls">
                        <select ng-model="editing.compliance" ng-options="c.type as c.type for c in standards.compliance"></select>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Equipment</th>
                    <th colspan="2"><button ng-click="addEquipment(editing)" class="btn btn-success"><i class="icon-plus-sign"></i>&nbsp;New Equipment</button></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in editing.equipment">
                    <td>
                        <input type="text" ng-model="e.name" />
                    </td>
                    <td>
                        <button ng-click="removeEquipment(editing, e)" class="btn btn-danger"><i class="icon-trash"></i></button>
                    </td>
                    <td>
                        <div><button ng-click="up(editing.equipment, e)" class="btn btn-success btn-mini"><i class="icon-arrow-up"></i></button></div>
                        <div><button ng-click="down(editing.equipment, e)" class="btn btn-success btn-mini"><i class="icon-arrow-down"></i></button></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
    </div>
</div>