﻿<div style="min-height:300px">
    <ul class="nav nav-tabs" id="catalogstab">
        <li ng-repeat="c in catalogs" tabify>
            <a href="#{{$index}}" data-toggle="tab"><span ng-if="c.inherited == true"><i ng-if="!c.overriden" class="icon-arrow-down"></i><i ng-if="c.overriden" class="icon-warning-sign"></i>&nbsp;</span>{{c.name}}</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-click="newCatalog()"><a href="#" data-toggle="tab"><i class="icon-plus"></i>&nbsp;Catalog</a></li>
            </ul>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" ng-class="{active: $index==0}" id="{{$index}}" ng-repeat="c in catalogs">
            <div ng-if="c.inherited == false">
                <div class="row-fluid">
                    <div class="span8">
                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="name" type="text" ng-model="c.name" ng-focus="nameFocus(c)" ng-blur="nameLostFocus(c)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <button ng-click="deleteCatalog(c)" class="btn btn-danger" style="float:right"><i class="icon-remove"></i> Delete Catalog</button>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="name">Description</label>
                            <div class="controls">
                                <div class="input-append" style="width:90%">
                                    <textarea style="width:100%;height:100px" id="name" type="text" ng-model="c.description" ng-focus="descriptonFocus(c)" ng-blur="descriptionLostFocus(c)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label" for="stockcount">Stock Count</label>
                            <div class="controls">
                                <input id="stockcount" type="checkbox" ng-model="c.stockcountwhenordering" ng-change="changed(c)" />
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label" for="showpricing">Show Pricing</label>
                            <div class="controls">
                                <input id="showpricing" type="checkbox" ng-model="c.showpricingwhenordering" ng-change="changed(c)" />
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label" for="shownotes">Show Line Item Notes</label>
                            <div class="controls">
                                <input id="shownotes" type="checkbox" ng-model="c.showlineitemnoteswhenordering" ng-change="changed(c)" />
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Min Stock</th>
                            <th>Price <br /><small>(if left blank product pricing will be used)</small></th>
                            <th><button ng-click="showAddProduct(c)" class="btn btn-mini btn-success"><i class="icon-plus"></i></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in c.items">
                            <td>{{i.name}}</td>
                            <td><input type="number" ng-model="i.minstocklevel" ng-focus="itemFocus(i, 'minstocklevel')" ng-blur="itemLostFocus(i, 'minstocklevel')" /></td>
                            <td><input type="number" ng-model="i.price" ng-focus="itemFocus(i, 'price')" ng-blur="itemLostFocus(i, 'price')" /></td>
                            <td><button ng-click="removeCatalogItem(i, c)" class="btn btn-mini btn-danger"><i class="icon-minus"></i></button></td>
                        </tr>
                        <tr ng-if="c.__showaddproduct == true">
                            <td><select ng-model="product" ng-options="p.id as p.name for p in products"></select></td>
                            <td><div ng-if="showDuplicateMessage == true" class="text-error">The product is already a part of this catalog</div></td>
                            <td>
                                <button ng-click="newItem(product, c)" class="btn btn-mini btn-success"><i class="icon-ok"></i></button>
                                <button ng-click="hideAddProduct(c)" class="btn btn-mini btn-danger"><i class="icon-ban-circle"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="c.inherited == true">
                <div class="alert alert-danger" ng-if="c.overriden">This inherited catalog has been overriden by a catalog defined against this facility structure.</div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="well">
                            <p>The catalog is inherited from a parent facility structure. You may change the rule used for this catalog below.</p>
                            <pills ng-model="c.inheritedrule" options="rules" value-property="type" text-property="type" ng-change="changedRule(c)"></pills>
                            <p ng-if="c.inheritedrule == 'Inherited'">The catalog is currently <strong>{{c.excluded == true ? 'excluded' : 'included'}}</strong> based on it's inherited rule.</p>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Stock Count <i ng-class="{'icon-ok':c.stockcountwhenordering, 'icon-remove':!c.stockcountwhenordering}"></i></th>
                            <th>Show Pricing <i ng-class="{'icon-ok':c.showpricingwhenordering, 'icon-remove':!c.showpricingwhenordering}"></i></th>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <th>Min Stock</th>
                            <th>Price <br /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in c.items">
                            <td>{{i.name}}</td>
                            <td>{{i.minstocklevel}}</td>
                            <td>{{i.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>