﻿<register-translations>
    <edit-facilitystructure>
        <i ng-class="'icon-facility-' + record.structuretype" ></i>
        <span ng-bind="structureTypes[record.structuretype].name"></span>: <span ng-bind=" record.name" />
    </edit-facilitystructure>
</register-translations>
<form name="editor">
    <legend translate>edit-facilitystructure</legend>
    <fieldset>
        <select-facility-structure ng-model="selectedId" on-select="loadRecordId(id)"></select-facility-structure>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify ng-if="record.id && record.haschildren">
                <a href="#children" data-toggle="tab">
                    <i ng-class="'icon-facility-' + (record.structuretype+1)"></i>
                    {{['Buildings','Floors','Zones','Sites','Beacons'][record.structuretype]}}
                </a>
            </li>
            <li tabify ng-if="record.id && record.isfloor"><a href="#floorplan" data-toggle="tab" id="floorplanmaplink" translate>Floor Plan</a></li>
            <li class="dropdown" tabify ng-if="record.id && record.hasbeacons && inheritedfloorplan">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span translate>Beacons</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#assignbeacons" data-toggle="tab" translate>Assign / Unassign</a></li>
                    <li><a href="#beaconlocations" data-toggle="tab" id='beaconlink' translate>Locations</a></li>
                </ul>
            </li>
            <li tabify ng-if="record.id && record.hasbeacons && !inheritedfloorplan">
                <a href="#beaconsRequiresFloorPlan" data-toggle="tab" translate>Beacons</a>
            </li>
            <li tabify>
                <a href="#catalogs" data-toggle="tab" translate>Catalogs</a>
            </li>
            <li tabify ng-if="record.siteid">
                <a href="#standards" data-toggle="tab" translate>Standard Checks</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general" style="height:400px">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="uuid" translate>Id</label>
                            <div class="controls">
                                <span id="uuid" class="uneditable-input">{{record.id}}</span>
                                <div ng-if="record.archived" class="label label-warning">Archived</div>
                            </div>
                        </div>
                        <div ng-if="!record.issite">
                            <div class="control-group">
                                <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input id="name" type="text" ng-model="record.name" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="description" translate>Description</label>
                                <div class="controls">
                                    <textarea id="description" ng-model="record.description" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="sortorder" translate>Sort Order</label>
                                <div class="controls">
                                    <input type="number" id="sortorder" ng-model="record.sortorder" />
                                </div>
                            </div>
                            <div class="control-group" ng-if="record.isfloor">
                                <label class="control-label" for="level" translate>Level</label>
                                <div class="controls">
                                    <input type="number" id="level" ng-model="record.level" />
                                </div>
                            </div>
                            <div class="control-group" ng-if="record.isfloor">
                                <label class="control-label" for="floorHeight" translate>Floor Height (m)</label>
                                <div class="controls">
                                    <input type="number" id="floorHeight" ng-model="record.floorheight" />
                                </div>
                            </div>
                        </div>
                        <div ng-if="record.issite">
                            <div class="control-group">
                                <label class="control-label" for="name">Site</label>
                                <div class="controls">
                                    <select-facility-site ng-model="record.siteid"></select-facility-site>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="hierarchy" translate>Hierarchy</label>
                            <div class="controls">
                                <select id="type" ng-model="record.hierarchyid" ng-options="h.id as h.name for h in hierarchies" />
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="span6">
                            <a href="#" ng-click="uploadFile()" ng-if="record.mediaid == null" translate>Upload Image</a>
                            <div ng-if="record.mediaid != null" ng-mouseenter="showChangeMedia = true" ng-mouseleave="showChangeMedia = false" style="width:200px;position:relative">
                                <img ng-src="{{imageUrl}}/{{record.mediaid}}.png?width=200&rnd={{nonce}}" />
                                <button ng-if="showChangeMedia == true" ng-click="uploadFile()" class="btn btn-small" style="position:absolute;top:0px;right:0px" translate>Change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="children" style="min-height: 400px" ng-if="record.id && record.haschildren">
                <facility-structure-sidebar parent="record"></facility-structure-sidebar>
            </div>
            <div class="tab-pane" id="assignbeacons" ng-if="record.id && record.hasbeacons">
                <button class="btn btn-primary" ng-click="toggleBeaconEdit()"><i ng-class="['icon-check-empty', 'icon-check'][showUnassignedBeacons ? 1 : 0]"></i>&nbsp;Show Unassigned</button>
                <ul class="thumbnails">
                    <li ng-repeat="beacon in beacons" class="span3 thumbfix">
                        <div class="thumbnail">
                            <div><b>{{ beacon.name || '&nbsp' }}</b></div>
                            <div class="muted">{{ beacon.id }}</div>
                            <div>{{ beacon.lastcontactutc | amUtc | amLocal | amDateFormat:'D MMM YYYY HH:mm'}}</div>
                            <button ng-click="assignUnassign(beacon)" class="btn btn-primary">{{ ['Unassign','Assign'][(beacon.facilitystructureid == record.id) ? 0 : 1] }}</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="beaconsRequiresFloorPlan" ng-if="record.id && record.hasbeacons && !inheritedfloorplan">
                <h2 translate>A valid Floor Plan must be defined in order to Assign Beacons</h2>
            </div>
            <div class="tab-pane" id="beaconlocations" style="min-height: 400px" ng-if="record.id && record.hasbeacons">
                <div class="row-fluid">
                    <div class="span4" style="height: 500px; overflow-y: auto">
                        <ul class="nav nav-tabs nav-stacked">
                            <li ng-repeat="beacon in beacons">
                                <hr />
                                <div ng-click="popBeacon(beacon)">
                                    <div class="row-fluid">
                                        <div class="span8">
                                            <span>{{ beacon.id }}</span>
                                        </div>
                                        <div class="span4">
                                            <button class="btn btn-primary btn-mini" ng-click="toggleShowBeacon(beacon); $event.stopPropagation();">
                                                <i ng-class="['icon-check-empty', 'icon-check'][beacon.transient.show ? 1 : 0]"></i>
                                                <span translate>Show</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="text" ng-model="beacon.name" ng-blur="saveBeacon(beacon)" ng-change="updateBeaconPopup(beacon)" />
                                        <span translate>Height (m)</span><input type="number" step="0.01" ng-model="beacon.staticheightfromfloor" ng-blur="saveBeacon(beacon)" ng-change="updateBeaconPopup(beacon)" />
                                        <div>Lat: {{ beacon.staticlocation.pos.lat }}</div>
                                        <div>Lng: {{ beacon.staticlocation.pos.lng }}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="span8" style="height: 500px">
                        <leaflet-floor-plan floorplan="inheritedfloorplan" extern="floorplanApi" fit-bounds="[10,10]"></leaflet-floor-plan>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="floorplan" ng-if="record.id && record.isfloor">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label" for="imageurl">Image URL</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="imageurl" type="text" ng-model="record.floorplan.imageurl" />
                                    <span class="add-on">
                                        <a ng-href="{{ record.floorplan.imageurl }}" target="_blank">...</a>
                                    </span>
                                </div>
                            </div>
                            <label class="control-label" for="indooratlasfloorplanid">IndoorAtlas Floor Plan Id</label>
                            <div class="controls">
                                <input id="indooratlasfloorplanid" type="text" ng-model="record.floorplan.indooratlasfloorplanid" />
                            </div>
                            <label class="control-label" for="topleftlat">Top Left Latitude</label>
                            <div class="controls">
                                <input id="topleftlat" type="number" step="any" ng-model="record.floorplan.topleft.lat" />
                            </div>
                            <label class="control-label" for="topleftlng">Top Left Longitude</label>
                            <div class="controls">
                                <input id="topleftlng" type="number" step="any" ng-model="record.floorplan.topleft.lng" />
                            </div>
                            <label class="control-label" for="toprightlat">Top Right Latitude</label>
                            <div class="controls">
                                <input id="toprightlat" type="number" step="any" ng-model="record.floorplan.topright.lat" />
                            </div>
                            <label class="control-label" for="toprightlng">Top Right Longitude</label>
                            <div class="controls">
                                <input id="toprightlng" type="number" step="any" ng-model="record.floorplan.topright.lng" />
                            </div>
                            <label class="control-label" for="bottomleftlat">Bottom Left Latitude</label>
                            <div class="controls">
                                <input id="bottomleftlat" type="number" step="any" ng-model="record.floorplan.bottomleft.lat" />
                            </div>
                            <label class="control-label" for="bottomleftlng">Bottom Left Longitude</label>
                            <div class="controls">
                                <input id="bottomleftlng" type="number" step="any" ng-model="record.floorplan.bottomleft.lng" />
                            </div>
                        </div>
                    </div>
                    <div class="span8" style="height: 500px">
                        <leaflet-floor-plan floorplan="record.floorplan" extern="editFloorplanApi" fit-bounds="[10,10]"></leaflet-floor-plan>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="catalogs">
                <facility-structure-product-catalogs ng-model="record"></facility-structure-product-catalogs>
            </div>
            <div class="tab-pane" id="standards" ng-if="record.siteid">
                <facility-structure-standards-tests ng-model="record"></facility-structure-standards-tests>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" ng-if="!record.issite || record.siteid">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete Structure</button>
    <button ng-click="chooseIndoorAtlasFile()" class="btn btn-warning" ng-if="record.id && record.isbuilding">Import Indoor Atlas</button>
    <input type="file" id="importIndoorAtlas" class="hidden" />
</div>


<div class="modal-large hide fade" modalify="uploadingfile">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Upload Image</h3>
    </div>
    <div ng-if="uploadingfile" class="modal-body">
        <file-uploader></file-uploader>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
    </div>
</div>