﻿@model ConceptCave.www.Models.AuthenticateModel
@{
    ViewBag.Title = "Login";
}

<div ng-controller="authenticationmanagementCtrl">
    <div class="hero-unit" ng-if="showShortcuts == false">
        <div class="row-fluid">
            <div class="span6">
                <div>
                    <h1 translate>Login</h1>

                    <p translate>
                        Please enter your username and password.
                    </p>


                    @using (Html.BeginForm("Login", "Authenticate", FormMethod.Post, new { id = "authenticateform" }))
                    {
                        @Html.LabelFor(m => m.Username, "{{ 'Username' | translate }}")
                        @Html.EditorFor(m => m.Username)
                        <br />
                        @Html.LabelFor(m => m.Password, "{{ 'Password' | translate }}")
                        @Html.EditorFor(m => m.Password)

                        <br />
                        <input class="btn btn-primary btn-large" type="submit" value="{{ 'Submit' | translate }}" /><br />
                        if (Model.HasForgottenPasswordManagement == true)
                        {
                            <p style="text-align:right"><a href='@(Url.Content("~/Authenticate/StartForgottenPassword"))' translate>Forgotten Password</a></p>
                        }
                        <input type="hidden" id="latitudeinput" name="latitude" />
                        <input type="hidden" id="longitudeinput" name="longitude" />
                        <span id="geolocationstatus" style="display: none; color: Red;"></span>
                    }

                    @{
                        if (this.ViewBag.LoggedOff != null && this.ViewBag.LoggedOff == true)
                        {
                            <div translate>You have been logged off.</div>
                        }
                    }

                    @{
                        if (this.ViewBag.LoginFailed != null && this.ViewBag.LoginFailed == true)
                        {
                            <div class="invalidreason" translate>The login failed. Please review the username and password you are using.</div>
                        }
                    }
                </div>
            </div>

            <div class="span6 loginlogo">&nbsp;</div>
        </div>
    </div>
    <div ng-if="showShortcuts == true">
        <div style="display:none" authenticate-submit>
            @using (Html.BeginForm("Login", "Authenticate", FormMethod.Post, new { id = "hidden_authenticateform" }))
            {
                <input type="hidden" name="Username" id="authenticate_username" />
                <input type="hidden" name="Password" id="authenticate_password" />
            }
        </div>
        <p>To login as another user click <a href="#" ng-click="toggleShowShortcuts()">here</a></p>
        <div class="media" ng-repeat="u in users track by $index" ng-click="select(u, $event)">
            <a class="pull-left" href="#">
                <media-image class="media-object" media-id="{{u.Id}}" type="membership" width="50"></media-image>
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{u.Name}}</h4>
                <div ng-if="selected == u">
                    <div class="input-append">
                        <input class="span4" autofocus type="password" ng-model="u.password" />
                        <button ng-click="login()" class="btn btn-success" type="button" translate>Login</button>
                    </div>
                    <div class="invalidreason" translate ng-if="u.success == false">The login failed. The password you have entered is invalid.</div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("body").addClass('authenticate');
        $("input[type='submit']").button();

        $("#authenticateform").submit(function () {
            if (SquareIT != undefined && SquareIT.BWorkflowApi != undefined) {
                var username = $("#Username").val();
                var password = $("#Password").val();
                SquareIT.BWorkflowApi.Login({ username: username, password: password });
            }

            return true;
        });

        @{ if(Model.StoreLoginCoordinates == true) {
        <text>
        //geolocate if we can
        var posSuccess = function (pos) {
            $('#latitudeinput').val(pos.coords.latitude);
            $('#longitudeinput').val(pos.coords.longitude);
        };

        var posFailure = function (err) {

        };

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(posSuccess, posFailure, { enableHighAccuracy: true });
        }
        else {
            $('#geolocationstatus').text($ng_translate("Geolocation is not supported by your browser; your location will not be recorded"));
            $('#geolocationstatus').show();
        }
        </text>
        }
        }
    });
</script>