﻿@model Guid
@{
    ViewBag.Title = "Password Reset";
    var url = Url.Content("~/");
}

<register-translations>
    <your-password-has-been-reset-please-click-here-to-login>Your password has been reset, please click <a href="/portal">here</a> to login.</your-password-has-been-reset-please-click-here-to-login>
</register-translations>
<div class="hero-unit">
    <div class="row-fluid">

        <div class="span6">
            <h1 translate>Password Reset</h1>

            <p translate>
                Please enter your username below and the new password below.
            </p>

            @using (Html.BeginForm("SetPassword", "Authenticate", FormMethod.Post, new { id="forgotpassword" }))
            {
                <label for="username" translate>Username</label>
                <input id="username" name="username" type="text" />

                <label for="password" translate>Password</label>
                <input id="password" name="password" type="password" />
                
                <label for="confirm" translate>Confirm</label>
                <input id="confirm" name="confirm" type="password" />

                <input type="hidden" value="@(Model)" name="t" />
                <br />
                <input id="btnSubmit" class="btn btn-primary btn-large" type="submit" value="{{ 'Submit' | translate }}" /> <br />
            }

            <div id="messageSuccess" class="alert alert-success" style="display:none" translate translate-compile="false" translate-values="{url: '@url'}">your-password-has-been-reset-please-click-here-to-login</div>
        
            <div id="messageFailure" class="alert alert-error" style="display:none">
                
            </div>
        </div>

        <div class="span6 loginlogo">&nbsp;</div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var options = {
                success: function (responseText) {
                    if (responseText.Success == true) {
                        $("#messageSuccess").fadeIn();
                    }
                    else {
                        $("#messageFailure").html(responseText.Message);
                        $("#messageFailure").fadeIn();
                    }
                }
            };

            $("#messageFailure").css('display', 'none');
            $("#messageSuccess").css('display', 'none');
            $("#forgotpassword").ajaxSubmit(options);

            return false;
        });
    });
</script>