﻿@{
    ViewBag.Title = "Forgotten Password";
}

<div class="hero-unit">
    <div class="row-fluid">

        <div class="span6">
            <h1 translate>Forgotten Password</h1>

            <p translate>
                Please enter your username below. You will be sent an email with  instructions on resetting your password.
            </p>

            @using (Html.BeginForm("ForgottenPassword", "Authenticate", FormMethod.Post, new { id="forgotpassword" }))
            {
                <label for="username" translate>Username</label>
                <input id="username" name="username" type="text" />

                <br />
                <input id="btnSubmit" class="btn btn-primary btn-large" type="submit" value="{{ 'Submit' | translate }}" /> <br />
            }

            <div id="messageSuccess" class="alert alert-success" style="display:none" translate>
                An email has been sent to the email address registered against the username entered. Please check your email.
            </div>
        
            <div id="messageFailure" class="alert alert-error" style="display:none">
                
            </div>
        </div>

        <div class="span6 loginlogo">&nbsp;</div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var options = {
                success: function (responseText) {
                    if (responseText.Success == true) {
                        $("#messageSuccess").fadeIn();
                    }
                    else {
                        $("#messageFailure").html(responseText.Message);
                        $("#messageFailure").fadeIn();
                    }
                }
            };

            $("#messageFailure").css('display', 'none');
            $("#messageSuccess").css('display', 'none');
            $("#forgotpassword").ajaxSubmit(options);

            return false;
        });
    });
</script>