﻿@model ConceptCave.www.Areas.Designer.Models.EditMultiChoiceQuestionOptionModel

@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();
}

@using (Html.BeginForm("Save", "EditMultiChoiceQuestionOption", FormMethod.Post))
{
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.AlternameHandlerFieldName, Model.AlternateHandler)
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.ContextFieldName, ConceptCave.www.ControllerWithAlternateHandler.ContextFieldsString(Model.ContextFields))

    @Html.Partial("LanguageLocalisableString", new ConceptCave.www.Models.LanguageLocalisableStringModel() { Languages = Model.Languages, LocalisableString = Model.Resource.LocalisableDisplay, DisplayName = "{{ 'Display' | translate }}", Name = "localisabledisplay" })

    @Html.LabelFor(m => Model.Answer, new { translate = "" })
    @Html.EditorFor(m => Model.Answer)
    @Html.LabelFor(m => Model.Score, new { translate = "" })
    @Html.EditorFor(m => Model.Score)
    @Html.LabelFor(m => Model.PassFail, new { translate = "" })
    @Html.EditorFor(m => Model.PassFail)
    
    @Html.Hidden("QuestionId", Model.QuestionId);
    @Html.Hidden("Id", Model.Id);
    @Html.Hidden("AlternateHandler", Model.AlternateHandler);
    @Html.Hidden("AlternateHandlerMethod", Model.AlternateHandlerMethod);
}

<script type="text/javascript">
    $(function () {
        CurrentDialogManager.Context = '@Model.Id.ToString()';
    });
</script>