﻿<div >
    <div id="management" class="container-fluid" ng-controller="PEJobAdminCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newRecord()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    </div>
                    <pe-job-sidebar></pe-job-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>PE Job Management</h1>
                        This management section allows you to define custom Periodic Execution jobs.
                    </div>
                    <div ng-if="editing">
                        <pe-job-editor ng-model="editing"></pe-job-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>