﻿@using ConceptCave.www.Areas.Organisation.Models
@model HierarchyViewModel
@{
    ViewBag.Title = "Organisational Hierarchy";
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/d3.v3.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HierarchyTreeDesigner.js")" ></script>
}

<div class="row-fluid" style="padding-bottom:5px;">
    <div class="span8">
        <div class="dropdown">
            <div class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown"><h4>@ViewBag.SelectedHierarchy&nbsp;<b class="caret"></b></h4></div>
            <ul class="dropdown-menu" role="menu">
                <li><a id="hierarchy-edit" href="#"><i class="icon-pencil"></i>&nbsp;<translate>Edit</translate></a></li>
            </ul>
        </div>
    </div>
    <div class="span4">
        <div class="btn-group" style="float:left">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" translate>
            Options
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            @foreach (var h in ViewBag.Hierarchies)
            {
                <li>@Html.ActionLink((string)h.Name, "Index", "Hierarchy", new { id= h.Id }, null)</li>
            }
            <li class="divider"></li>
            <li><a id="createnewhierarchy" href="#" translate>Create New Hierarchy</a></li>
          </ul>
        </div>
        <div style="float:right">
            <span id="nodeproperties"></span>
            <button class="btn btn-primary tree-save-button" translate>Save</button>  
        </div>       
    </div>
</div>

<style type="text/css">

    svg .link
    {
        stroke: grey;
        stroke-width: 3px;
        fill: none;
    }

    svg .node-dot
    {
        stroke: none;
        fill: orange;
        cursor: pointer;
    }

    svg .node-dot-selected
    {

        stroke: green !important;
        stroke-width: 2px;
    }

    svg .node-dot-droptarget > rect 
    {
        fill: lime !important;
    }

    #d3cpl
    {
        border: 2px black solid;
        height: 250px;
        padding: 20px;
    }

    #d3cpl button
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #d3cpl .dragme
    {
        border: 2px solid black;
        background-color: cyan;
        height: 30px;
        width: 70px;
        padding: 15px;
    }

    #d3root
    {
        width: auto;
        height: 500px;
        border: 1px #eeeeee solid;
    }


    .dragdrop-container
    {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .dragdrop-search
    {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .dragdrop-search input
    {
        width: 70%;
    }

    .dragdrop-list
    {
        overflow-y: auto;
        padding-top: 0px;
        margin-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .dragdrop-list > ul
    {
        list-style-type: none;
        margin: 0px;
    }

    .dragdrop-list li
    {
        cursor: default;
        background-color: grey;
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 5px;
        background-image: linear-gradient(bottom, rgb(219,219,219) 15%, rgb(176,176,176) 50%, rgb(219,219,219) 85%);
        background-image: -o-linear-gradient(bottom, rgb(219,219,219) 15%, rgb(176,176,176) 50%, rgb(219,219,219) 85%);
        background-image: -moz-linear-gradient(bottom, rgb(219,219,219) 15%, rgb(176,176,176) 50%, rgb(219,219,219) 85%);
        background-image: -webkit-linear-gradient(bottom, rgb(219,219,219) 15%, rgb(176,176,176) 50%, rgb(219,219,219) 85%);
        background-image: -ms-linear-gradient(bottom, rgb(219,219,219) 15%, rgb(176,176,176) 50%, rgb(219,219,219) 85%);
        background-image: -webkit-gradient(
	        linear,
	        left bottom,
	        left top,
	        color-stop(0.15, rgb(219,219,219)),
	        color-stop(0.5, rgb(176,176,176)),
	        color-stop(0.85, rgb(219,219,219))
        );
    }

    #d3root path.no-user-path
    {
        stroke: rgb(54, 215, 80);
    }

    #d3root .dragdrop-hover-role > rect
    {
        fill: rgb(54, 215, 80) !important;
    }

    #d3root .dragdrop-hover-user > rect.user-container-rect
    {
        fill: rgb(54, 215, 80) !important;
        fill-opacity: 1 !important;
    }

    #d3root .dragdrop-hover-user > path.no-user-path
    {
        stroke: black;
    }

    #d3root .dragdrop-hover-role > path.no-user-path
    {
        stroke: black;
    }

    #d3root .node-selected > rect.main-rect
    {
        stroke: rgb(54, 215, 80) !important;
        stroke-width: 3px !important;
    }

    #d3root .link-nonprimary
    {
        stroke-dasharray: 5, 5;
    }

    #hierarchy-toggle-props.collapse.in
    {
        overflow: visible;
    }

    #hierarchy-toggle-props button
    {
        margin-bottom: 10px;
    }

    .accordion-inner
    {
        padding-bottom: 20px;
    }
</style>

<div>
    <div style="float:left;width:80%;">
        <svg id="d3root">
            <g class="container" />
        </svg>
    </div>
    <div style="float:right;width:20%">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#roles" data-toggle="tab" translate>Roles</a></li>
          <li><a href="#users" data-toggle="tab" translate>Users</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="roles">
            <div id="hierarchy-toggle-roles" class="dragdrop-container">
                <div class="dragdrop-list">
                    <ul>
                        @foreach (var u in ViewBag.Roles)
                        {
                            <li data-name="@u.Name" data-id="@u.Id">@u.Name</li>
                        }
                    </ul>
                </div>
            </div>
          </div>
            <div class="tab-pane" id="users" ng-controller="hierarchymanagementCtrl">
                <div class="input-append">
                    <input class="span2" type="text" ng-model="searchUserText" style="margin-left:5px;width:50%">
                    <button class="btn" type="button" ng-click="searchUsers(searchUserText)">Search</button>
                </div>
                <div id="hierarchy-toggle-users" class="dragdrop-container">
                    <div class="dragdrop-list">
                        <ul>
                            <li ng-repeat="u in searchUserResults" data-name="{{u.Name}}" data-id="{{u.Id}}">{{u.Name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edithierarchy-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Edit Hierarchy</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("SaveHierarchy", "Hierarchy", FormMethod.Post, new { id = "edithierarchy" }))
        {
            <label translate>Name</label>
    <input id="edithierarchy-name" name="name" type="text" placeholder="{{ 'Hierarchy Name' | translate }}" value="@ViewBag.SelectedHierarchy" />
            <input type="hidden" id="edithierarchy-id" name="id" value="@ViewBag.SelectedHierarchyId" />
        }
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        <a href="#" class="btn btn-primary" id="edithierarchy-save" translate>Save changes</a>
    </div>
</div>

<div id="edithierarchybucket-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Edit Bucket</h3>
    </div>
    <div class="modal-body">
        <label translate>Name</label>
        <input id="edithierarchybucket-name" name="name" type="text" placeholder="{{ 'Bucket Name' | translate }}" value="" />

        <label translate>Weekday Timesheet Item Type</label>
        <select id="edithierarchybucket-weekdaytype" name="edithierarchybucket-weekdaytype">
            <option value=""></option>
            @foreach(var t in ViewBag.TimesheetItemTypes)
            {
                <option value="@t.Id">@t.Name</option>
            }
        </select>

        <label translate>Saturday Timesheet Item Type</label>
        <select id="edithierarchybucket-saturdaytype" name="edithierarchybucket-weekdaytype">
            <option value=""></option>
            @foreach (var t in ViewBag.TimesheetItemTypes)
            {
                <option value="@t.Id">@t.Name</option>
            }
        </select>

        <label translate>Sunday Timesheet Item Type</label>
        <select id="edithierarchybucket-sundaytype" name="edithierarchybucket-weekdaytype">
            <option value=""></option>
            @foreach (var t in ViewBag.TimesheetItemTypes)
            {
                <option value="@t.Id">@t.Name</option>
            }
        </select>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Cancel</a>
        <a href="#" class="btn btn-primary" id="edithierarchybucket-save" translate>Confirm</a>
    </div>
</div>

@using (Html.BeginForm("NewHierarchy", "Hierarchy", FormMethod.Post, new { id = "newhierarchy" }))
{
    <input type="hidden" name="name" value="New Hierarchy" />
}

<script id="property-template" type="text/x-handlebars-template">
    {{#if node}}
        {{#with node}}
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{roleName}} : {{userName}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" id="hierarchy-toggle-props">
                <li><a data-nodeid='{{nodeId}}' class="node-make-primary-button" href="#" translate>Make Primary Role</a></li>
                <li><a data-nodeid='{{nodeId}}' class="node-remove-user-button" href="#" translate>Remove User</a></li>
                <li><a data-nodeid='{{nodeId}}' class="node-edit-bucket-name" href="#" translate>Edit Bucket</a></li>
                <li class="divider"></li>
                <li><a data-nodeid='{{nodeId}}' class="node-remove-flatten-button" href="#" translate>Remove and flatten</a></li>
                <li><a data-nodeid='{{nodeId}}' class="node-remove-subtree-button" href="#" translate>Remove entire subtree</a></li>
              </ul>
            </div>
        {{/with}}
    {{else}}
        
    {{/if}}
</script>

<script type="text/javascript">
    $(function () {

        var dataset = @(Html.Raw(Model != null ? Json.Encode(Model) : "undefined"));
        var selectedNode = null;

        var svgBox = document.getElementById('d3root').getBoundingClientRect();
        $('#d3root').height($(window).height() - svgBox.top - 10);
        $('#d3root').width('100%');
        $('body').css('padding-bottom', '0px');
        //prepare handlebars template
        var tsource = $('#property-template').html();
        var template = Handlebars.compile(tsource);

        var updateProperties = function (el) {
            if (typeof(el) === 'undefined')
                var el = $('.node-selected')[0];
            var ctx = {};
            if (typeof(el) !== 'undefined')
                //set up template context
                var ctx = {
                    node: {
                        roleName: el.__data__.name,
                        userName: el.__data__.user ? el.__data__.user.name : 'None',
                        nodeId: el.__data__.__nodedata.id
                    }
                };
            var html = template(ctx);
            $('#nodeproperties').html(html);
        };

        //we need to dig up a node in the tree by ID often too
        //THis is O(N)
        var findNodeById = function (targetId, tree) {
            return (function thisfunc(node) {
                if (node.__nodedata.id == targetId)
                    return node;
                if (node.children) {
                    for (var i = 0; i < node.children.length; i++) {
                        var ret = thisfunc(node.children[i]);
                        if (typeof (ret) !== 'undefined')
                            return ret;
                    }
                }
                return undefined;
            })(tree);
        };

        var findNodesByUserId = function (targetId, tree) {
            var result = [];
            (function thisfunc(node) {
                if (node.user && node.user.id == targetId)
                    result.push(node);
                if (node.children) {
                    for (var i = 0; i < node.children.length; i++)
                        thisfunc(node.children[i]); //no early exit; search entire tree
                }
            })(tree);
            return result;
        };


        window.hierarchy = new HierarchyTreeManager({
            treeData: dataset,
            svgCanvas: document.getElementById('d3root'),
            onNodeClick: function (el) {

                updateProperties(el);
            }
        });
        window.ddmgrrole = new HierarchyDragDropManager({
            treeManager: hierarchy,
            dragTargetSelectors: ['#hierarchy-toggle-roles li'],
            hoverSvgClass: 'dragdrop-hover-role',
            shouldHighlightWhenEmpty: true,
            onDrop: function (source, target, isEmptyData) {
                //What was dragged?
                var roleName = $(source).data('name');
                var roleId = $(source).data('id');
                //if its empty, we need to make hierarchy.treeData something not undefined
                if (isEmptyData) {
                    hierarchy.treeData = {
                        name: roleName,
                        id: roleId,
                        isPrimary: null,
                        __isNew: true,
                        hierarchyId: @ViewBag.SelectedHierarchyId
                    };
                }
                else {
                    //find the id of the drop target in the node data
                    var targetId = $(target).attr('id');
                    var dropTargetNode = findNodeById(targetId, hierarchy.treeData);
                    //now add the data
                    if (!dropTargetNode.children)
                        dropTargetNode.children = [];
                    dropTargetNode.children.push({
                        name: roleName,
                        id: roleId,
                        isPrimary: null,
                        __isNew: true,
                        hierarchyId: @ViewBag.SelectedHierarchyId
                    });
                }
                hierarchy.updateView();
            }
        });

        $(window).on('hierarchymanagement_searchusers_completed', function() {
            window.ddmgruser = new HierarchyDragDropManager({
                treeManager: hierarchy,
                dragTargetSelectors: ['#hierarchy-toggle-users li'],
                hoverSvgClass: 'dragdrop-hover-user',
                shouldHighlightWhenEmpty: false,
                onShouldClass: function (source, target) {
                    //if no user already, we can drop him
                    return (typeof (target.__data__.user) === 'undefined' || target.__data__.user == null);
                },
                onDrop: function (source, target) {
                    var userName = $(source).data('name');
                    var userId = $(source).data('id');
                    //we shouldn't be called unless there is no user. So have no fear of clobbering any1
                    var targetId = $(target).attr('id');
                    var dropTargetNode = findNodeById(targetId, hierarchy.treeData);
                    //is this user already in the tree? if so, should be secondary link
                    var isPrimary = true;
                    if (findNodesByUserId(userId, hierarchy.treeData).length > 0)
                        isPrimary = false;
                    dropTargetNode.user = {
                        name: userName,
                        id: userId
                    };
                    dropTargetNode.isPrimary = isPrimary;
                    hierarchy.updateView();
                    //if we're selected we need to update the properties view
                    updateProperties();
                }
            });
        })

        //Hook up ehandlers for the property section
        $('#nodeproperties').on('click', '.node-remove-user-button', function () {
            var id = $(this).data('nodeid');
            var dnode = findNodeById(id, hierarchy.treeData);
            var uid = dnode.user.id;
            dnode.user = undefined;
            //If we deleted a primary role, and this user still exists somewhere in the tree,
            //we need to make another node primary
            if (dnode.isPrimary) {
                var existingInstances = findNodesByUserId(uid, hierarchy.treeData);
                if (existingInstances.length > 0)
                    existingInstances[0].isPrimary = true;
            }
            dnode.isPrimary = null;
            hierarchy.updateView();
            updateProperties();
        });

        $('#nodeproperties').on('click', '.node-edit-bucket-name', function () {
            var id = $(this).data('nodeid');
            selectedNode = findNodeById(id, hierarchy.treeData);

            $('#edithierarchybucket-name').val(selectedNode.name);
            $('#edithierarchybucket-weekdaytype').val(selectedNode.defaultWeekdayTimesheetItemTypeId);
            $('#edithierarchybucket-saturdaytype').val(selectedNode.defaultSaturdayTimesheetItemTypeId);
            $('#edithierarchybucket-sundaytype').val(selectedNode.defaultSundayTimesheetItemTypeId);

            $('#edithierarchybucket-modal').modal('show');
        });

        $('#edithierarchybucket-save').on('click', function () {
            selectedNode.name = $('#edithierarchybucket-name').val();

            selectedNode.defaultWeekdayTimesheetItemTypeId = $('#edithierarchybucket-weekdaytype').val();
            selectedNode.defaultSaturdayTimesheetItemTypeId = $('#edithierarchybucket-saturdaytype').val();
            selectedNode.defaultSundayTimesheetItemTypeId = $('#edithierarchybucket-sundaytype').val();

            $('#edithierarchybucket-modal').modal('hide');

            hierarchy.updateView();
        });

        $('#nodeproperties').on('click', '.node-remove-flatten-button', function () {
            if(confirm('This action will delete the item and all related information. Are you sure you want to do this') == false)
            {
                return;
            }

            var id = $(this).data('nodeid');
            var dnode = findNodeById(id, hierarchy.treeData);
            //one does not simply flatten the root node
            if (!dnode.parent)
                return; //TODO: flash some kind of message
            //flatten, so join children to parent
            if (dnode.children)
                for (var i = 0; i < dnode.children.length; i++)
                    dnode.parent.children.push(dnode.children[i]);
            //now delete us from parent
            dnode.parent.children.splice(dnode.parent.children.indexOf(dnode), 1);
            hierarchy.updateView();
            updateProperties();
        });

        $('#nodeproperties').on('click', '.node-remove-subtree-button', function () {
            if(confirm('This action will delete the item and all related information. Are you sure you want to do this') == false)
            {
                return;
            }

            var id = $(this).data('nodeid');
            var dnode = findNodeById(id, hierarchy.treeData);
            //don't flatten, so don't join children to parent
            //now delete us from parent, if we have one
            if (dnode.parent)
                dnode.parent.children.splice(dnode.parent.children.indexOf(dnode), 1);
            else
                hierarchy.treeData = undefined;
            hierarchy.updateView();
            updateProperties();
        });

        $('#nodeproperties').on('click', '.node-make-primary-button', function() {
            var id = $(this).data('nodeid');
            var dnode = findNodeById(id, hierarchy.treeData);
            var uid = dnode.user.id;
            var allUserNodes = findNodesByUserId(uid, hierarchy.treeData);
            for (var i = 0; i < allUserNodes.length; i++)
                allUserNodes[i].isPrimary = false;
            dnode.isPrimary = true;
            hierarchy.updateView();
            updateProperties();
        });

        $('.tree-save-button').on('click', function(){
            $('#tree-save-tick').remove();
            $('#tree-save-loader').css('display', 'inline-block');
            $('#tree-save-loader').css('visibility', 'visible');
            var thisb = this;
            //We need to strip out the parent backreferences in hierarchy.treeData, because otherwise the structure is circular
            //now ajax
            $.ajax({
                url: '@Url.Action("Save")',
                data: JSON.stringify(hierarchy.treeData, ['name', 'id', 'children', 'user', 'isPrimary', '__isNew', 'hierarchyId', 'uniqueId', 'defaultWeekdayTimesheetItemTypeId', 'defaultSaturdayTimesheetItemTypeId', 'defaultSundayTimesheetItemTypeId']),
                contentType: 'application/json; charset=utf-8',
                success: function(){
                    $(thisb).after($('<span id="tree-save-tick" style="color: green; font-size: 18px; padding-left: 5px; position: relative; top: 3px;"><i class="icon-ok-sign" ></i></span>'));
                    $('#tree-save-loader').css('display', 'none');

                    window.location.reload();
                }
            });
        });

        $('#createnewhierarchy').on('click', function() {
            $('#newhierarchy').submit();
        });

        $('#hierarchy-edit').on('click', function() {
            $('#edithierarchy-modal').modal('show');
        });

        $('#edithierarchy-save').on('click', function() {
            $('#edithierarchy').submit();
        });
    });
</script>