﻿@model ConceptCave.www.Areas.Designer.Models.DesignDocumentManagementModel

@{
    ViewBag.Title = "Checklist Management";
}
<div class="editorcontainer">
    <div class="editorlist" style="float:left;min-height:400px;width:30%;">
        <div class="mc">
            <table class="rootVoices submenu" cellspacing='0' cellpadding='0' border='0'>
                <tr>
                    <td id="addnewcheklist" class="submenu rootVoice {menu: 'menu_addchecklist'}"><h3 translate>Checklists</h3></td>
                </tr>
            </table>
        </div>

        <div id="menu_addchecklist" class="menu">
            <a translate>New Checklist</a>
        </div>

        <ol id="designdocumentlist" class="selectionlist">
        @foreach (var i in Model.Items)
        {
            <li id="@i.Id">
            @Html.Partial("RenderDesignDocumentListItem", i)
            </li>
        }
        </ol>
    </div>

    @using (Html.BeginForm("Add", "DesignDocumentManagement", FormMethod.Post, new { id = "add" }))
    {
    }

    @using (Html.BeginForm("Remove", "DesignDocumentManagement", FormMethod.Post, new { id = "remove" }))
    {
        @Html.Hidden("id", "", new { id="removeid" });
    }

    <div id="designdocumentdesignerui" class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;width:65%">
    
    </div>

    <div style="clear:both">&nbsp;</div>

</div>
<script type="text/javascript">
    $(function () {
        var options = {
            rootUrl: '@Url.Content("~/")',
            editorElement: $("#designdocumentdesignerui"),
            loadDesignerUrl: '/Designer/GetDesignDocumentDesignerUI?id=',
            loadListItemUrl: '/Designer/GetDesignDocumentListItem?id=',
            createListItemCallBack: function (id) {
                $('<li id="' + id + '"></li>').appendTo("#designdocumentlist");
            }
        };

        CreateDesignerManager(options);

        var designDocumentListSelections = null;

        $("#designdocumentlist").selectable({ stop: function () {
            var result = [];
            $(".ui-selected", this).each(function () {
                result.push($(this).attr('id'));
            });

            designDocumentListSelections = result;
        }
        });

        $("#menu_addchecklist > a").click(function (event) {
            CurrentDesignerManager.newItem($("#add"));
        });

        $(document).off("itemdeleted", "#designdocumentlist");
        $(document).on("itemdeleted", "#designdocumentlist", function (event, data) {
            $("#removeid").val(data.selectedid);
            CurrentDesignerManager.removeItem($("#remove"));
        });

        $(document).off("serverdeleteditem");
        $(document).on("serverdeleteditem", "#designdocumentdesignerui", function (event, data) {
            CurrentDesignerManager.removeListItem(data.id);
        });

        $(document).off("serveraddeditem", "#designdocumentdesignerui");
        $(document).on("serveraddeditem","#designdocumentdesignerui",  function (event, data) {
            CurrentDesignerManager.loadListItem(data.id);
        });

        $("#designdocumentlist").selectable({
            selected: function (event, ui) {
                CurrentDesignerManager.loadDesigner(ui.selected.id);
            }
        });
    })
</script>