﻿<div class="label label-info">Source version {{ setup.sourcedatabaseschemaversion }} : {{ setup.sourcedatabasescriptversion }}</div>
<div ng-if="updateSchemaMonitor.updating != ''">
    <div class="label label-important">{{updateSchemaMonitor.updating}}</div>
</div>
<div class="control-group">
    <div class="controls">
        <div class="input-append">
            <input type="text" placeholder="{{ 'Search' | translate }}" ng-model="search" />
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-click="remoteClone()"><a href="#">Remote Clone</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs nav-stacked">
    <li dir-paginate="tenant in records | itemsPerPage: itemsPerPage" total-items="totalRecords" current-page="pageNumber" ng-click="editRecord(tenant)">
        <a href="">
            <span>{{tenant.name}}</span>
            <span class="pull-right label label-important">{{ tenant.profile.name }}</span>
            <span class="pull-right label label-info">{{ tenant.tenantstate }}</span>
        </a>
    </li>
</ul>
<dir-pagination-controls boundary-links="true" class="ng-isolate-scope" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
