﻿<register-translations>
    <edit-tenant-name>Edit: <span ng-bind="record.name" /></edit-tenant-name>
</register-translations>

<div class="hero-unit" ng-if="!record">
    <h1 translate>Multi Tenant Administration</h1>
    <span translate>This management section allows you administer tenants.</span>
</div>
<div ng-if="record">
    <form name="editor">
        <legend translate>edit-tenant-name</legend>
        <fieldset>
            <ul class="nav nav-tabs" id="filetab">
                <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
                <li tabify ng-if="record.database"><a href="#database" data-toggle="tab" translate>Database</a></li>
                <li tabify ng-if="record.host"><a href="#host" data-toggle="tab" translate>Host</a></li>
                <li tabify><a href="#billing" data-toggle="tab" translate>Billing</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="general">
                    <div class="control-group">
                        <label class="control-label" translate>Id</label>
                        <div class="controls">
                            <input type="text" readonly ng-model="record.id">
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: editor.inputName.$invalid && editor.inputName.$pristine == false}">
                        <label class="control-label" for="inputName" translate>Name</label>
                        <div class="controls">
                            <input type="text" id="inputName" name="inputName" required ng-model="record.name" placeholder="{{ 'Name' | translate }}"><span ng-if="editor.inputName.$invalid && editor.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Target Profile</label>
                        <div class="row-fluid">
                            <div class="span6">
                                <input type="text" readonly ng-model="record.targetprofile.name" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Current Profile</label>
                        <div class="row-fluid">
                            <div class="span6">
                                <select ng-options="profile as profile.name for profile in (setup.profiles | filter: {hidden: false}) track by profile.id" ng-model="record.profile"></select>
                            </div>
                            <div ng-if="record.profile" class="span6 alert alert-success">
                                <div>{{ record.profile.description }}</div>
                                <div ng-if="record.profile.candelete"><b>Can</b> be deleted</div>
                                <div ng-if="!record.profile.candelete"><b>Can not</b> be deleted</div>
                                <div ng-if="record.profile.emailenabled && record.profile.emailwhitelist">Email enabled, whitelist: <b>{{ record.profile.emailwhitelist }}</b></div>
                                <div ng-if="record.profile.emailenabled && !record.profile.emailwhitelist">Email enabled, no whitelist</b></div>
                                <div ng-if="!record.profile.emailenabled"><b>Email disabled</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Email From Address</label>
                        <div class="controls">
                            <input type="text" id="emailFromAddress" name="emailFromAddress" ng-model="record.emailfromaddress" placeholder="noreply@{{ record.hostname }}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Time Zone</label>
                        <div class="controls">
                            <select-timezone-id ng-model="record.timezone"></select-timezone-id>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputHostname" translate>Hostname</label>
                        <div class="controls">
                            <a href="http://{{ record.hostname }}" target="_blank">http://{{ record.hostname }}</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="database">
                    <div class="control-group">
                        <label class="control-label" translate>Sql Server</label>
                        <div class="controls">
                            <input type="text" readonly ng-model="record.database.sqlservername">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Sql Database</label>
                        <div class="controls">
                            <input type="text" readonly ng-model="record.database.database">
                        </div>
                    </div>
                    <div class="control-group" ng-if="record.database.onazure">
                        <div class="row-fluid">
                            <div class="span6">
                                <label class="control-label" translate>Pricing Tier</label>
                                <div class="controls">
                                    <select ng-options="tier as tier.name for tier in setup.azurepricingtiers track by tier.id" ng-model="record.database.pricingtier" />
                                </div>
                            </div>
                            <div class="span6 control-group" ng-if="record.database.pricingtier.iselastic">
                                <label class="control-label" translate>SQL Elastic Pool</label>
                                <div class="controls">
                                    <select ng-options="pool for pool in record.elasticdbpools" ng-model="record.database.elasticdbpool" />
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Schema Version : Script Version</label>
                            <div class="input-append">
                                <span class="uneditable-input">
                                    <span>{{ record.databaseschemaversion }}</span>
                                    <span class="label" ng-class="['label-success', 'label-warning'][record.databaseschemaversion == setup.sourcedatabaseschemaversion ? 0 : 1]">
                                        <i class="icon" ng-class="['icon-thumbs-up', 'icon-thumbs-down'][record.databaseschemaversion == setup.sourcedatabaseschemaversion ? 0 : 1]"></i>
                                    </span>
                                    <span> : </span>
                                    <span>{{ record.databasescriptversion }}</span>
                                    <span class="label" ng-class="['label-success', 'label-warning'][record.databasescriptversion == setup.sourcedatabasescriptversion ? 0 : 1]">
                                        <i class="icon" ng-class="['icon-thumbs-up', 'icon-thumbs-down'][record.databasescriptversion == setup.sourcedatabasescriptversion ? 0 : 1]"></i>
                                    </span>
                                </span>
                                <button ng-click="checkSchemaUpdate()" class="btn btn-warning" ng-if="canCheckSchemaUpdate()">Check for Update</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Enable Dataware House Push</label>
                            <div class="controls">
                                <input type="checkbox" ng-model="record.enabledatawarehousepush" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="host">
                    <div class="control-group">
                        <label class="control-label" translate>Location</label>
                        <div class="controls">
                            <input type="text" readonly ng-model="record.host.location">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Web App</label>
                        <div class="controls">
                            <input type="text" readonly ng-model="record.host.webappname">
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="billing">
                    <div class="control-group">
                        <label class="control-label" translate>Currency</label>
                        <div class="controls">
                            <select ng-model="record.currency" ng-options="currency.code as currency.code + ' (' + currency.description + ')' for currency in setup.currencies" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Company Name</label>
                        <div class="controls">
                            <input type='text' ng-model="record.billingcompanyname" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Billing Address</label>
                        <div class="controls">
                            <textarea ng-model="record.billingaddress" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Invoice Prefix</label>
                        <div class="controls">
                            <input type="text" ng-model="record.invoiceidprefix">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="control-group" ng-if="record.id">
            <label class="control-label" translate>Status</label>
            <div class="alert" ng-class="recordCssStatus()">
                <div ng-repeat="status in record.tenantstatustext">
                    {{ status }}
                </div>
            </div>
        </div>
    </form>

    <div class="form-actions">
        <button ng-click="save()" class="btn btn-primary" type="submit" translate>Save changes</button>
        <button ng-click="enableTenant(true)" ng-if="record.canenable" class="btn btn-primary" type="submit" translate>Enable Tenant</button>
        <button ng-click="enableTenant(false)" ng-if="record.enabled && record.profile.candisable" class="btn btn-primary" type="submit" translate>Disable Tenant</button>
        <button ng-click="clone()" class="btn btn-warning" ng-if="canClone()">Clone</button>
        <button ng-click="deleteTenant()" class="btn btn-danger" ng-if="record.profile.candelete && record.userpermissions.candelete">Delete</button>
    </div>
</div>

<div class="modal hide fade editcrondialog" modalify="showSaveProgress">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Saving Tenant</h3>
    </div>
    <div class="modal-body">
        <div>{{ saveProgress.message }}</div>
        <continuous-progress ng-model="saveProgress"></continuous-progress>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal" ng-if="saveProgress && saveProgress.finished" translate>Close</a>
    </div>
</div>

<div class="modal hide fade editcrondialog" modalify="showDeleteProgress">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Deleting Tenant</h3>
    </div>
    <div class="modal-body">
        <div>{{ deleteProgress.message }}</div>
        <continuous-progress ng-model="deleteProgress"></continuous-progress>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal" ng-if="deleteProgress && deleteProgress.finished" translate>Close</a>
    </div>
</div>

<div class="modal-large hide fade editcrondialog" modalify="showCheckSchema">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Check Database Update for {{ record.name }}</h3>
    </div>
    <div class="modal-body">
        <div ng-if="state=='checking'">Checking...</div>
        <div ng-if="state=='applying'">Applying...</div>
        <div ng-if="state=='checkResult'">
            <div ng-if="checkSchemaResult.error" class="alert alert-danger">
                {{ checkSchemaResult.error }}
            </div>
            <div ng-if="checkSchemaResult.nochanges" class="alert alert-success">
                No changes required
            </div>

            <div ng-if="checkSchemaResult.report.alerts && checkSchemaResult.report.alerts.length">
                <h3>Alerts</h3>
                <div ng-repeat="alert in checkSchemaResult.report.alerts">
                    <h4>{{ alert.name }}</h4>
                    <div ng-repeat="issue in alert.issue">
                        {{ issue.value }}
                    </div>
                </div>
            </div>
            <div ng-if="checkSchemaResult.report.operations && checkSchemaResult.report.operations.length">
                <h3>Operations</h3>
                <div ng-repeat="operation in checkSchemaResult.report.operations">
                    <h4>{{ operation.name }}</h4>
                    <div ng-repeat="task in operation.item">
                        {{ task.value }}
                    </div>
                </div>
            </div>
            <div ng-if="checkSchemaResult.scripts && checkSchemaResult.scripts.length">
                <h3>Scripts</h3>
                <div ng-repeat="script in checkSchemaResult.scripts">
                    {{ script }}
                </div>
            </div>
        </div>
        <div ng-if="state=='applyOK'">
            Schema changes have been applied successfully
        </div>
        <div ng-if="state=='applyResult'" class="alert alert-error">
            {{ applySchemaResult }}
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-danger" ng-click="applySchemaUpdate()" ng-if="state == 'checkResult' &amp;&amp; checkSchemaResult.canapplyupdate" translate>Apply</a>
        <a href="#" class="btn" data-dismiss="modal" translate>OK</a>
    </div>
</div>

<div class="modal hide fade editcrondialog" modalify="showNewTenant">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Cloning from {{ sourceSystem.domain }} {{ tenant.cloneFrom.name }}</h3>
    </div>
    <div class="modal-body">
        <div ng-if="!createTenantResult">
            <div class="control-group">
                <div ng-if="sourceSystem">
                    <label class="control-label" for="inputName" translate>Clone from </label>
                    <div class="row-fluid">
                        <div class="span6">
                            <input type="text" ng-model="sourceSystem.domain" />
                            <span ng-if="sourceSystem.canCreate()"><i class="icon-ok text-success"></i></span>
                            <span ng-if="sourceSystem.cannotCreate()"><i class="icon-remove text-error"></i></span>
                            <span ng-if="sourceSystem.checking"><i class="icon-cog icon-spin"></i></span>
                        </div>
                        <div ng-if="sourceSystem.canCreate()" class="span6">
                            <select ng-options="tenant as tenant.name for tenant in sourceSystem.tenants track by tenant.id" ng-model="sourceSystem.tenant" ng-change="changedCloneFrom()" width="80%"></select>
                            <span ng-if="tenant.cloneFrom"><i class="icon-ok text-success"></i></span>
                            <span ng-if="sourceSystem.tenantError"><i class="icon-remove text-error"></i></span>
                            <span ng-if="sourceSystem.checkingTenant"><i class="icon-cog icon-spin"></i></span>
                        </div>
                    </div>
                </div>
                <div ng-if="tenant.cloneFrom">
                    <label class="control-label" for="inputName" translate>Host</label>
                    <div class="row-fluid">
                        <div class="span6">
                            <select ng-options="host as host.name for host in setup.hosts track by host.id" ng-model="tenant.host" width="80%"></select>
                        </div>
                        <div ng-if="tenant.host" class="span6 alert alert-success">
                            <div>Location: <b>{{ tenant.host.location }}</b></div>
                            <div>WebApp: <b>{{ tenant.host.webappname }}</b></div>
                            <div>Server: <b>{{ tenant.host.sqlservername }}</b></div>
                        </div>
                    </div>
                    <label class="control-label" for="inputName" translate>Target Profile</label>
                    <div class="row-fluid">
                        <div class="span6">
                            <select ng-options="profile as profile.name for profile in (setup.profiles | filter: {hidden: false}) track by profile.id" ng-model="tenant.targetprofile"></select>
                        </div>
                        <div ng-if="tenant.targetprofile" class="span6 alert alert-success">
                            <div>{{ tenant.targetprofile.description }}</div>
                            <div ng-if="tenant.targetprofile.candelete"><b>Can</b> be deleted</div>
                            <div ng-if="!tenant.targetprofile.candelete"><b>Can not</b> be deleted</div>
                            <div ng-if="tenant.targetprofile.emailenabled && tenant.targetprofile.emailwhitelist">Email enabled, whitelist: <b>{{ tenant.targetprofile.emailwhitelist }}</b></div>
                            <div ng-if="tenant.targetprofile.emailenabled && !tenant.targetprofile.emailwhitelist">Email enabled, no whitelist</b></div>
                            <div ng-if="!tenant.targetprofile.emailenabled"><b>Email disabled</b></div>
                        </div>
                    </div>
                    <label class="control-label" for="inputName" translate>Current Profile</label>
                    <div class="row-fluid">
                        <div class="span6">
                            <select ng-options="profile as profile.name for profile in (setup.profiles | filter: {hidden: false}) track by profile.id" ng-model="tenant.profile"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate>Time Zone</label>
                        <div class="controls">
                            <select-timezone-id ng-model="tenant.timezone"></select-timezone-id>
                        </div>
                    </div>

                    <div ng-if="tenant.host && tenant.targetprofile && tenant.profile && tenant.timezone">
                        <label class="control-label" for="inputName" translate>Name</label>
                        <div class="controls">
                            <input type="text" id="inputName" ng-model="tenant.name" />
                        </div>

                        <label class="control-label" translate>Database name</label>
                        <div class="controls">
                            <input type="text" readonly ng-model="tenant.database.database" />
                            <span ng-if="tenant.database.canCreate()"><i class="icon-ok text-success"></i></span>
                            <span ng-if="tenant.database.cannotCreate()"><i class="icon-remove text-error"></i></span>
                            <span ng-if="tenant.database.checking"><i class="icon-cog icon-spin"></i></span>
                        </div>

                        <div class="row-fluid">
                            <div class="span6">
                                <label class="control-label" translate>Pricing Tier</label>
                                <div class="controls">
                                    <select ng-options="tier as tier.name for tier in setup.azurepricingtiers track by tier.id" ng-model="tenant.database.pricingtier" />
                                </div>
                            </div>
                            <div class="span6 control-group" ng-if="tenant.database.pricingtier.iselastic">
                                <label class="control-label" translate>SQL Elastic Pool</label>
                                <div class="controls">
                                    <select ng-options="pool for pool in tenant.host.elasticdbpools" ng-model="tenant.database.elasticdbpool" />
                                </div>
                            </div>
                        </div>

                        <label class="control-label" for="inputSubdomain" translate>Subdomain</label>
                        <div class="controls">
                            <input type="text" id="inputSubdomain" ng-model="tenant.subdomain.hostname" /> {{ tenant.targetprofile.domainappend}}.{{ setup.mastersite.rootdomain }}
                            <span ng-if="tenant.subdomain.canCreate() && tenant.subdomain.isValid()"><i class="icon-ok text-success"></i></span>
                            <span ng-if="tenant.subdomain.cannotCreate() || !tenant.subdomain.isValid()"><i class="icon-remove text-error"></i></span>
                            <span ng-if="tenant.subdomain.checking"><i class="icon-cog icon-spin"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="createTenantResult">
            <div>{{ createTenantResult.message }}</div>
            <continuous-progress ng-model="createTenantResult"></continuous-progress>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" ng-if="!createTenantResult" translate>Cancel</a>
        <a href="#" class="btn btn-primary" ng-click="createTenant()" ng-if="tenantCanCreate()" translate>Create</a>
        <a href="#" class="btn btn-primary" data-dismiss="modal" ng-if="createTenantResult && createTenantResult.finished" translate>Close</a>
    </div>
</div>

