﻿<div>
    <div class="error-handler" ng-if="showCountDown > 0">
        <div class="alert alert-block alert-error">
            <button ng-click="dismissCurrentError()" type="button" class="close"><i class="icon-remove-circle"></i></button>
            <h4>An Error has occurred</h4>
            <div>
                <p ng-if="currentError.type == 'ajax'">
                    There was an error while attempting to communicate with the server. This maybe due to a lack or poor network.
                </p>
                <p ng-if="currentError.type == 'script'">
                    There was an error while processing some script.
                </p>
                <p><i ng-if="currentError.recorded == true">This error has been recorded on the server.</i><i ng-if="currentError.recorded == false">Attempting to notify the server</i></p>
                <a href="#" ng-click="showDetails()">More Information</a>
            </div>
        </div>
    </div>
    <div ng-if="showingDetails" class="fullscreen">
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="#">&nbsp;&nbsp;<translate>Error Information</translate></a>

                <ul class="nav" style="float:right;font-size:15pt;font-weight:normal">
                    <li ng-click="closeDetails()"><a href="#"><i class="icon-remove-circle"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="content" style="position:static">
            <div ng-repeat="error in errors">
                <h4>{{error.source}}: {{error.method}}</h4>
                <pre>
                {{error | json}}
            </pre>
            </div>
        </div>
    </div>
    <div class="error-handler-link" ng-if="errors.length > 0" ng-click="showDetails()">
        &nbsp;
    </div>
</div>