﻿<register-translations>
    <thankyou-the-checklist-has-been-completed>Thank you, the <span ng-bind="models.playerModel.ChecklistName"/> checklist has been completed.</thankyou-the-checklist-has-been-completed>
</register-translations>
<div slide-in-out="animationManager">
    <h3 translate>Finished</h3>
    <p translate>thankyou-the-checklist-has-been-completed</p>
    <a href="{{'~/' | url}}" translate make-device-url>Click here to return to your dashboard.</a>
</div>