﻿<register-translations>
    <warning-bworkflow-is-currently-running-offline>
        <strong>Warning!</strong> b-workflow is currently running offline; this dashboard was last refreshed on <span ng-bind="dashboardModel.GeneratedAtUtc" />.
    </warning-bworkflow-is-currently-running-offline>
</register-translations>
<div ng-if="notLoading">

    <div class="alert" ng-show="dashboardModel.IsStale">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <translate>warning-bworkflow-is-currently-running-offline</translate>
    </div>

    <error-manager></error-manager>

    <div ng-if="computedDashboardModels.length == 1">
        <div style="float:right">
            <a help-link href="">Help <i class="icon-question-sign"></i></a>
        </div>
        <div style="clear:both"></div>
        <div help-intercept ng-repeat="db in computedDashboardModels">
            <div render-question="db.PlayerModel.Presented" answers="db.AnswerModel" page-scope="pageScope"></div>
        </div>
    </div>
    <div ng-if="computedDashboardModels.length > 1">
        <div ng-if="showDashboardTabs()">
            <ul class="nav nav-tabs">
                <li tabify="" ng-repeat="db in computedDashboardModels"><a title="#{{db.PlayerModel.ChecklistDescription}}" href="#{{db.PlayerModel.WorkingDocumentId}}" data-tabid="{{db.PlayerModel.WorkingDocumentId}}" data-toggle="tab">{{db.PlayerModel.ChecklistName}}</a></li>
                <li style="float:right" help-link><a href="" translate>Help</translate><i class="icon-question-sign"></i></a></li>
            </ul>
        </div>
        <div class="tab-content" style="overflow:inherit">
            <div help-intercept tabify-tab="" ng-class="{active: $first}" ng-repeat="db in computedDashboardModels" class="tab-pane" id="{{db.PlayerModel.WorkingDocumentId}}">
                <div render-question="db.PlayerModel.Presented" answers="db.AnswerModel" page-scope="pageScope"></div>
            </div>
        </div>
    </div>
</div>
