﻿<div class="embedded-player">
    <div ng-if="status == 'ready'">
        <div ng-repeat="m in models" style="position:relative">
            <div ng-if="m.show == true" style="width:100%;position:absolute;top:0px;" render-question="m.PlayerModel.Presented" answers="m.AnswerModel" page-scope="pageScope"></div>
        </div>
    </div>

    <div ng-if="status == 'finishing'">
        <p>You are about to complete the checklist, click the button below to finish the checklist</p>
        <button class="btn btn-success" type="button" ng-click="finish()" >
            <i class="icon-ok icon-white"></i>&nbsp;Finish
        </button>
    </div>

    <div ng-if="status == 'finished'">
        <h3>Finished</h3>
        <p>Thank you, the {{playerModel.ChecklistName}} checklist has been completed.</p>
        <a href="{{'~/' | url}}">Click here to return to your dashboard.</a>
    </div>
</div>