﻿<div class="playercontent" slide-in-out="animationManager">
    <p ng-if="!models.playerModel.IsValid" class="invalidreason" translate>There were errors in your checklist. Please review your answers and resubmit.</p>
    <div render-question="models.playerModel.Presented" answers="models.answerModel" page-scope="pageScope"></div>
</div>