﻿<register-translations>
    <thankyou-the-checklist-has-been-completed-it-will-be-finalized-on-next-sync>Thank you, the checklist has been completed.<br />It will be finalized the next time a sync is performed.</thankyou-the-checklist-has-been-completed-it-will-be-finalized-on-next-sync>
</register-translations>
<div slide-in-out="animationManager">
    <div ng-switch="models.playerModel.ClientFrozen">
        <div ng-switch-when="false">
            <p translate>You are about to complete the checklist, click the button below to finish the checklist</p>
            <button class="btn btn-success" type="button" ng-click="doFinish()" ng-disabled="buttonStates.areAjaxing" >
                <i class="icon-ok icon-white"></i>&nbsp;<translate>Finish</translate>
            </button>
            <img ng-show="buttonStates.areAjaxing" ng-src="{{'~/Content/images/ajax-loader.gif' | url}}" alt="{{ 'Loading...' | translate }}" 
                 class="player-ajaxloader-small"/>
        </div>
        <div ng-switch-when="true">
            <p>thankyou-the-checklist-has-been-completed-it-will-be-finalized-on-next-sync</p>
        </div>
    </div>
    
</div>