﻿
<div ng-if="!loading">
    <div class="subnav subnav-fixed" ng-hide="models.playerModel.AreDashboarding">
        <div class="container">
            <div ng-show="buttonStates.areAjaxing" class="loading-container">
                <div class="slider">
	                <div class="line"></div>
                    <div class="break dot1"></div>
                    <div class="break dot2"></div>
                    <div class="break dot3"></div>
                </div>
            </div>
            <button class="btn btn-success" ng-show="buttonStates.canPrevious" ng-disabled="buttonStates.areAjaxing" 
                    ng-click="buttonActions.doTransition('prev')">{{ buttonStates.previousText }}&nbsp;<i class="icon-circle-arrow-left  icon-white"></i>
            </button>
            <button class="btn btn-success" ng-show="buttonStates.canNext" ng-disabled="buttonStates.areAjaxing" 
                    ng-click="buttonActions.doTransition('next')">{{ buttonStates.nextText }}&nbsp;<i class="icon-circle-arrow-right icon-white"></i>
            </button>
        </div>
    </div>
    <div class="clear playerpadder" ng-hide="models.playerModel.AreDashboarding">&nbsp;</div>
</div>

<div ng-if="loading">
    <div class="loading-container">
        <div class="slider">
	        <div class="line"></div>
            <div class="break dot1"></div>
            <div class="break dot2"></div>
            <div class="break dot3"></div>
        </div>
    </div>
</div>

<div ui-view></div>