﻿<div class="question {{presented.QuestionClass}} {{presented.HtmlPresentation.CustomClass}}" 
     data-presentable-name="{{presented.Name}}"
    ng-show="presented.Visible">
    <div id="firstValidationError" ng-if="presented.ValidationErrors.length > 0"></div>
    <h4 ng-hide="presented.HidePrompt || !shouldRenderPrompt || presented.promptAsHtml == null || presented.promptAsHtml == ''" ng-bind-html="presented.promptAsHtml" ng-model="presented.promptAsHtml"></h4>

    <div ng-transclude ></div>

    <button ng-show="" class="btn" type="button">
        <i class="icon-book"></i>&nbsp;{{presented.Notes}}
    </button>

    <ul class="invalidcontainer" ng-if="presented.ValidationErrors.length > 0">
        <li class="invalidreason"  ng-repeat="error in presented.ValidationErrors" >{{error}}</li>
    </ul>
</div>