﻿<div slide-in-out state-order="stateOrder">
    <ul class="thumbnails">
        <li class="span3 page"  ng-repeat="group in groups">
            <a class="thumbnail" ui-sref="sel.checklists({gid : group.Id})"><h4>{{group.Name}}</h4></a>
        </li>
    </ul>   
</div>