﻿<div slide-in-out state-order="stateOrder">
    <ul class="thumbnails">
        <li class="span3 page" ng-repeat="clist in checklists">
            <a class="thumbnail" ui-sref="sel.reviewees({gid: gid, cid: clist.ResourceId})">
                <h4>{{clist.Name}}</h4>
            </a>
        </li>
    </ul>
</div>