﻿<div slide-in-out state-order="stateOrder">
    <ul class="thumbnails">
        <li class="span3 page" ng-repeat="reviewee in reviewees">
            <a class="thumbnail" 
                ui-sref="play.begin({groupId: gid, resourceId: cid, revieweeId: reviewee.Id})">
                <h4>{{reviewee.Name}}</h4></a>
        </li>
    </ul>
</div>