﻿<div>
    <div id="management" class="container-fluid" ng-controller="executionhandlerqueuemanagementCtrl">
        <div class="row-fluid">
            <div id="cronlist" class="span4">
                <executionhandlerqueue-sidebar ng-model="openhandlers"></executionhandlerqueue-sidebar>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1 translate>Execution Handler Queue Management</h1>
                        <span translate>This management section allows you to monitor and (hopefully) resolve queue'd actions that have not made it through.</span>
                    </div>
                    <div ng-if="editing">
                        <executionhandlerqueue-editor ng-model="editing"></executionhandlerqueue-editor>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal hide fade editcrondialog" modalify="showexception">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Exception Raised</h3>
            </div>
            <div class="modal-body">
                <p>An exception was encountered while replaying the action. The details of this are below.</p>
                <p class="text-error">{{exception.Message}}</p>
                <pre>{{exception.StackTrace}}</pre>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
            </div>
        </div>


    </div>
</div>