﻿@using ConceptCave.Data.HelperClasses
@using ConceptCave.Data.EntityClasses
@model EntityCollection<HierarchyRoleEntity>

@{
    ViewBag.Title = "Role Management";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div id="managementlist" class="span4">
            <div class="itemlistnav" style="text-align:right;padding:4px;">
                <button id="additem" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                <button id="removeitem" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
            </div>
            <ul id="itemlist" class="nav nav-tabs nav-stacked">
                @foreach (var item in Model)
                {
                    <li id="roleli-@item.Id" data-roleid="@item.Id">
                        @Html.Partial("RenderRoleListItem", item)
                    </li>
                }
            </ul>
        </div>
        <div class="span8">
            @using (Html.BeginForm("Add", "Roles", FormMethod.Post, new { id = "add" }))
            {
            }

            @using (Html.BeginForm("Remove", "Roles", FormMethod.Post, new { id = "remove" }))
            {
                @Html.Hidden("id", "", new { id="removeid" });
            }

            <div id="roledesignerui" class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                <div class="hero-unit">
                <h1 translate>Role Management</h1>
                    <translate>Roles define what an entity does in an organisation's hierarchy. They might describe a job that somebody does, or the work that is done at a site.</translate>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var itemselected = null;
        var publishedGroupListSelections = null;
        var options = {
            rootUrl: '@Url.ToFullyQualifiedUrl("~/Organisation/")',
            editorElement: $("#roledesignerui"),
            loadDesignerUrl: 'Roles/GetRoleDesignerUI?id=',
            loadListItemUrl: 'Roles/GetRoleListItem?id=',
            listItemPrefix: 'roleli-',
            createListItemCallBack: function (id) {
                var unprefixedId = id.replace('roleli-', '');
                $('<li id="' + id + '" data-roleid="' + unprefixedId + '">New Role</li>').appendTo("#itemlist");
            }
        };
        CreateDesignerManager(options);

        $(document).off("click", "#itemlist li");
        $(document).on('click', "#itemlist li", function () {
            if (itemselected != null) {
                $(itemselected).removeClass('active');
            }

            itemselected = this;

            $(itemselected).addClass('active');
            CurrentDesignerManager.loadDesigner($(this).data('roleid'));
        });

        $("#managementlist #additem").click(function (event) {
            CurrentDesignerManager.newItem($("#add"));
        });

        $("#managementlist #removeitem").click(function (event) {
            if (itemselected == null) {
                return false;
            }
            $("#itemlist").trigger('itemdeleted', { selectedid: $(itemselected).data('roleid') });
        });

        $(document).off("itemdeleted", "#itemlist");
        $(document).on("itemdeleted", "#itemlist", function (event, data) {
            $("#removeid").val(data.selectedid);
            CurrentDesignerManager.removeItem($("#remove"));
        });

        $(document).off("serverdeleteditem", "#roledesignerui");
        $(document).on("serverdeleteditem", "#roledesignerui", function (event, data) {
            CurrentDesignerManager.removeListItem(data.id);
        });

        $(document).off("serveraddeditem", "#roledesignerui");
        $(document).on("serveraddeditem", "#roledesignerui", function (event, data) {
            CurrentDesignerManager.loadListItem(data.id);
        });
    });
</script>