﻿@model ConceptCave.www.Areas.MySettings.Models.ConfigureModel
@{
    ViewBag.Title = "Index";
}

<h2 translate>My Settings</h2>
<p translate>From here you can adjust a number of the personal settings stored in the system.</p>

<h3 translate>Change Password</h3>
@using (Html.BeginForm("ChnagePassword", "Configure", FormMethod.Post, new { id = "changepassword" }))
{ 
    <label for="newPassword1" translate>Password</label>
    <input type="password" name="newPassword1" id="newPassword1" />
    <label for="newPassword2" translate>Confirm Password</label>
    <input type="password" name="newPassword2" id="newPassword2" />

    <button id="savePassword" class="btn btn-primary" translate>Save</button>

    <div class="alert alert-success" id="passwordchagesuccess" style="display:none;" translate>Your password has been changed</div>
    <div class="alert alert-error" id="passwordchagefailed" style="display:none;"></div>
}

<script type="text/javascript">
    $(function () {
        $("#savePassword").click(function () {
            $("#passwordchagesuccess").css("display", "none");
            $("#passwordchagefailed").css("display", "none");
            $("#changepassword").submit();

            return false;
        });

        $("#changepassword").submit(function () {
            var options = {
                success: function (responseText) {
                    if (responseText.Success == true) {
                        $("#passwordchagesuccess").fadeIn();
                    }
                    else {
                        $("#passwordchagefailed").html(responseText.Message);
                        $("#passwordchagefailed").fadeIn();
                    }
                }
            };

            $("#changepassword").ajaxSubmit(options);

            return false;
        });
    })
</script>