﻿@model List<ConceptCave.www.Areas.Player.Models.SelectActorForGroupModel>
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();
}

<ul id="@uniqueId" class="thumbnails">
    @foreach (var i in Model)
    {
        <li id="user@(i.Id)" class="span3 page {id:'@(i.Id)'}"><a href="#" class="thumbnail"><h4>@i.Name</h4></a></li>
    }
</ul>

<script type="text/javascript">
    $(function () {
        $("#@uniqueId li").die('click');
        $("#@uniqueId li").live('click', function () {
            $("#@uniqueId").trigger("itemselected", $(this).metadata());
        });
    })
</script>
