﻿@model ConceptCave.www.Areas.Player.Models.SelectExistingModel
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();
    var revieweeName = Model.Reviewee == null ? null : Model.Reviewee.Name;
}

@{
    if (Model.Documents.Count == 0)
    {
        using (Html.BeginForm("Index", "Play", FormMethod.Post, new { id = "startchecklist" }))
        {
            @Html.Hidden("groupid", Model.GroupId);
            @Html.Hidden("revieweeid", Model.RevieweeId);
            @Html.Hidden("resourceid", Model.ResourceId);
        }
        
        <script type="text/javascript">
            $(function () {
                $("#startchecklist").submit();
            });
        </script>

        return;
    }
}

<register-translations>
    <name-has-already-been-started-for-reviewee><span ng-bind="name"/> has already been started for <span ng-if="reviewee==null">unknown reviewee</span><span ng-if="reviewee!=null" ng-bind="reviewee"/></name-has-already-been-started-for-reviewee>
    <alternatively-you-can-start-a-new-review>Alternatively you can <input id="start@(uniqueId)" class="btn btn-primary" type="button" value="start" /> a new review.<br /></alternatively-you-can-start-a-new-review>
</register-translations>
<p translate ng-init="name: '@Model.Documents[0].Name'; reviewee='@revieweeName';">name-has-already-been-started-for-reviewee</p>

<p>
    <span>Select a checklist to continue with that review.</span>

<table class="table table-stripped table-bordered" id="started@(uniqueId)">
    <thead>
        <tr>
            <th translate>Checklist</th>
            <th translate>Date Started</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model.Documents)
        {
            <tr >
                <td>
                    @doc.Name
                </td>
                <td>
                    @doc.DateCreatedInRevieweeTimezone.ToString("dd-MMM-yyyy HH:mm:ss")
                </td>
                <td><button class="btn btn-success { id: '@doc.Id' }" translate>Continue</button></td>
            </tr>   
        } 
    </tbody>
</table>
</p>

<p translate>alternatively-you-can-start-a-new-review</p>

@using (Html.BeginForm("Continue", "Play", FormMethod.Post, new { id = "playchecklist" }))
{
    @Html.Hidden("id", "", new { id = "playchecklist_id" });
}

@using (Html.BeginForm("Index", "Play", FormMethod.Post, new { id = "newchecklist" }))
{
    @Html.Hidden("groupid", Model.GroupId);
    @Html.Hidden("revieweeid", Model.RevieweeId);
    @Html.Hidden("resourceid", Model.ResourceId);
}

<script type="text/javascript">
    $(function () {
        $("#start@(uniqueId)").click(function () {
            $("#newchecklist").submit();
        });

        $("#started@(uniqueId) button").click(function () {
            var data = $(this).metadata();
            $("#playchecklist_id").val(data.id);

            $("#playchecklist").submit();
        });
    })
</script>
