﻿<register-translations>
    <schedule-task-footer>
        <div ng-bind="task.tasktypename" />
        <div ng-bind="task.sitename" />
        <div ng-if="task.fromroster" class="label label-info">From <span ng-bind="task.fromroster"></span><br />By <span ng-bind="task.fromusername"></span><br />For <span ng-bind="task.ownername"></span><br />As <span ng-bind="task.rolename"></span></div>
        <div ng-if="task.level != 0" class="label label-warning schedule-task-footer-level">level <span ng-bind="task.level" /></div>
    </schedule-task-footer>
</register-translations>
<div style="position:relative" fill-height additional-padding="80">
    <div class="dropdown">
        <div class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" data-target="#"><h4>{{slot.name}}&nbsp;<b ng-if="slot.isnormal == true" class="caret"></b></h4></div>
        <ul class="dropdown-menu" role="menu" ng-if="slot.isnormal == true">
            <li><a href="#"><i class="icon-info-sign"></i>&nbsp;{{slot.role}}</a></li>
            <li class="divider"></li>
            <li ng-if="!showingcancelled"><a href="#" ng-click="showcancelled(true)"><i class="icon-tasks"></i>&nbsp;<translate>Show Cancelled Tasks</translate></a></li>
            <li ng-if="showingcancelled"><a href="#" ng-click="showcancelled(false)"><i class="icon-tasks"></i>&nbsp;<translate>Show Approved Tasks</translate></a></li>
            <li><a href="#" ng-click="showreplaceuser()"><i class="icon-user"></i>&nbsp;<translate>Replace User</translate></a></li>
        </ul>
    </div>
    <div style="position:absolute;top:0px;right:0px">
        <span class="badge badge-warning"><i class="icon-question-sign icon-white"></i>&nbsp;{{unassignedtasks.length}}</span>
        <span class="badge badge-success"><i class="icon-ok-sign icon-white"></i>&nbsp;{{assignedtasks.length}}</span>
        <span class="badge badge-important"><i class="icon-ban-circle icon-white"></i>&nbsp;{{cancelledtasks.length}}</span>
    </div>
    <div style="overflow:auto" fill-height additional-padding="50">
        <div class="row-fluid" style="overflow-y:auto;">
            <div class="span6 schedule-column">
                <div class="schedule-task-header">
                    <div class="dropdown">
                        <div class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" data-target="#"><translate>Unapproved</translate>&nbsp;<b class="caret"></b><progress-bar ng-if="showworkloading" max="roster.duration" info="(unassignedtasks | total: 'estimatedduration')"></progress-bar></div>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="showingcancelled ? cancelAll() : approveAll()"><span ng-if="!showingcancelled" translate>Approve All</span><span ng-if="showingcancelled" translate>Cancel All</span>&nbsp;<i class="icon-arrow-right"></i></a></li>
                            <li ng-if="!showingcancelled"><a href="#" ng-click="cancelAll()"><span translate>Cancel All</span>&nbsp;<i class="icon-ban-circle"></i></a></li>
                        </ul>
                    </div>
                </div>
                <ul class="thumbnails manage-list-dimensions" dnd-list="unassignedtasks" dnd-allowed-types="allowedDropTypes">
                    <li ng-if="unassignedtasks.length == 0" class="schedule-day-first"></li>
                    <li class="span11 schedule-day-task" ng-repeat="task in unassignedtasks" dnd-type="task.type" dnd-draggable="task" dnd-moved="unassignedtasks.splice($index, 1)" ng-mouseenter="task.over = true" ng-mouseleave="task.over = false">
                        <div class="thumbnail schedule-task schedule-link" ng-click="showedittask(task)" ng-class="{'schedule-over': task.over, 'schedule-canedit': task.canedit }">
                            <span ng-if="!task.editingname">{{task.translatedName}}</span>
                            <div class="schedule-task-footer" translate>schedule-task-footer</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-show="!showingcancelled" class="span6 schedule-column schedule-approval-column">
                <div class="schedule-task-header">
                    <div class="dropdown">
                        <div class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown"><translate>Approved</translate>&nbsp;<b class="caret"></b><progress-bar ng-if="showworkloading" max="roster.duration" info="(assignedtasks | total: 'estimatedduration')"></progress-bar></div>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="unApproveAll()"><i class="icon-arrow-left"></i>&nbsp;<translate>Unapprove All</translate></a></li>
                            <li><a href="#" ng-click="cancelAll('assigned')"><i class="icon-ban-circle"></i>&nbsp;<span translate>Cancel All</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click="shownewtask()"><i class="icon-plus-sign"></i>&nbsp;<translate>New Task</translate></a></li>
                        </ul>
                    </div>
                </div>
                <ul class="thumbnails manage-list-dimensions" dnd-list="assignedtasks" dnd-allowed-types="allowedDropTypes">
                    <li ng-if="assignedtasks.length == 0" class="schedule-day-first"></li>
                    <li class="span11 schedule-day-task" ng-repeat="task in assignedtasks" dnd-type="task.type" dnd-draggable="task" dnd-moved="assignedtasks.splice($index, 1)" ng-mouseenter="task.over = true" ng-mouseleave="task.over = false">
                        <div class="thumbnail schedule-task schedule-link" ng-click="showedittask(task)" ng-class="{'schedule-over': task.over, 'schedule-canedit': task.canedit }">
                            <span ng-if="!task.editingname">{{task.translatedName}}</span>
                            <div class="schedule-task-footer" translate>schedule-task-footer</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-show="showingcancelled" class="span6 schedule-column schedule-approval-column">
                <div class="schedule-task-header">
                    <div class="dropdown">
                        <div class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown"><translate>Cancelled</translate>&nbsp;<b class="caret"></b><progress-bar ng-if="showworkloading" max="roster.duration" info="(cancelledtasks | total: 'estimatedduration')"></progress-bar></div>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="unCancelAll()"><i class="icon-arrow-left"></i>&nbsp;<translate>Unapprove All</translate> </a></li>
                        </ul>
                    </div>
                </div>
                <ul class="thumbnails manage-list-dimensions" dnd-list="cancelledtasks" dnd-allowed-types="allowedCancelledDropTypes">
                    <li ng-if="cancelledtasks.length == 0" class="schedule-day-first"></li>
                    <li class="span11 schedule-day-task" ng-repeat="task in cancelledtasks" dnd-type="task.type" dnd-draggable="task" dnd-moved="cancelledtasks.splice($index, 1)" ng-mouseenter="task.over = true" ng-mouseleave="task.over = false">
                        <div class="thumbnail schedule-task schedule-link" ng-click="showedittask(task)" ng-class="{'schedule-over': task.over, 'schedule-canedit': task.canedit }">
                            <span ng-if="!task.editingname">{{task.translatedName}}</span>
                            <div class="schedule-task-footer" translate>schedule-task-footer</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>