﻿@model ConceptCave.www.Areas.Admin.Models.MembershipImportManagementModel
@{
    ViewBag.Title = "Membership Import";

    var uModel = new ConceptCave.www.Models.FileUploadModel() { Action = "UploadImport", Controller = "MembershipImportManagement", Title = "Select Import File", AjaxSubmit = true };
    uModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "usertypeid", Value = "-1" });
    uModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "testonly", Value = Model.TestOnly.ToString() });
    uModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "usesingletransaction", Value = Model.UseSingleTransaction.ToString() });
}

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-importfile" data-toggle="tab">Import File</a></li>
            <li><a href="#tab-fieldmappings" data-toggle="tab">Field Mappings</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-importfile" class="tab-pane active">
                <div class="tab-pane active">
                    <div class="row-fluid">
                        <div class="span6">
                            <h4>Select Import Type</h4>
                            <div id="importtype">
                                @Html.DropDownListFor(m => m.UserTypes, Model.UserTypes.Select(u => new SelectListItem() { Text = u.Name, Value = u.Id.ToString() }))
                                @Html.LabelFor(m => m.TestOnly, "Test Upload Only")
                                @Html.CheckBoxFor(m => m.TestOnly, new { id = "testonly" })
                            </div>
                        </div>
                        <div class="span6">
                            <h4>Upload File</h4>
                            <div id="selectimportfile">
                               @Html.Partial("FileUpload", uModel)
                            </div>
                        </div>
                    </div>
                    <div id="currentimport">
                    </div>
                </div>
            </div>
            <div id="tab-fieldmappings" class="tab-pane">
                <div class="tab-pane">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <h3>Current Field Mappings</h3>
                                <div class="row-fluid">
                                    <div id="selectusertype" class="span12">
                                        @Html.DropDownListFor(m => m.UserTypes, Model.UserTypes.Select(u => new SelectListItem() { Text = u.Name, Value = u.Id.ToString() }))
                                    </div>
                                </div>
                                <div id="currentmappings">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("GetFieldMappings", "MembershipImportManagement", FormMethod.Post, new { id = "getfieldmappings" }))
{
    @Html.Hidden("usertypeid", "", new { id = "getfieldmappings_usertypeid" })
}

<script type="text/javascript">
    $(function () {
        $("#currentmappings").on('uploadcompleted', function (element, data) {
            if (data == null) {
                return;
            }

            getfieldmappings();
        });

        $("#selectimportfile").on('beforeupload', function (element, data) {
            // we just set the hidden field in the upload to the user type they've selected
            $("#selectimportfile [name='usertypeid']").val($("#importtype select").val());
            $("#selectimportfile [name='testonly']").val($("#testonly").is(':checked'));
        });

        $("#selectimportfile").on('uploadcompleted', function (element, responseText) {
            $("#currentimport").html(responseText.substring(responseText.indexOf("endprogress") + 11));
        });

        getfieldmappings = function () {
            $("#getfieldmappings_usertypeid").val($("#selectusertype select").val());

            var options = {
                success: function (responseText) {
                    $("#currentmappings").html(responseText);
                }
            };

            $("#getfieldmappings").ajaxSubmit(options);
        };

        getfieldmappings();

        $("#selectusertype").change(function () {
            getfieldmappings();
        });
    });
</script>