<div flex layout='row' class='tasklist-shortcut-tile' layout-align='start center'>
    <div flex='15' flex-gt-sm='10'>
        <div ng-if='$ctrl.leftIcon' layout='row' layout-align='center center'>
            <md-icon md-font-set='{{ $ctrl.leftIconFont }}' md-font-icon="{{ $ctrl.leftIconName }} fa-lg"
                class='icon-with-margin'>
        </div>
        <media-image ng-if='$ctrl.mediaId' ng-model="$ctrl.mediaId" height='75' cache></media-image>
    </div>
    <div class="shortcut-text" flex>
        {{$ctrl.text}}
    </div>
    <div class="icon-with-margin" flex='25'>
        <div layout='row' layout-align='start center'>
            <md-icon md-font-set='{{ $ctrl.rightIconFont }}' md-font-icon="{{ $ctrl.rightIconName }} fa-lg"
                class='icon-with-margin' flex='25'>
        </div>
        <div flex></div>
    </div>
</div>