﻿<register-translations>
    <edit-folder-item-text>Edit Folder: <span ng-bind="languageTranslate.localised(item, 'text')" /></edit-folder-item-text>
</register-translations>
<form name="foldereditor">
    <legend translate>edit-folder-item-text</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li><a href="#showviachecklist" data-toggle="tab" translate>Show via Checklist</a></li>
            <li><a href="#policies" data-toggle="tab" translate>Policies</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-click="addolderthanpolicy()"><a href="" translate>Add Media version older than policy</a></li>
                    <li ng-click="addnotreadforpolicy()"><a href="" translate>Add Media version not read for policy</a></li>
                    <li class="divider"></li>
                    <li ng-click="checkpolicies()"><a href="" translate>Check Policies Now</a></li>
                </ul>
            </li>
            <li><a href="#roles" data-toggle="tab" translate>Roles</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="control-group" ng-class="{error: foldereditor.inputName.$invalid && foldereditor.inputName.$pristine == false}">
                    <label class="control-label" for="inputName" translate>Name</label>
                    <div class="controls">
                        <language-localisable-string model="item.translated" fallback="item.text" property="text"></language-localisable-string>
                        <span ng-if="foldereditor.inputName.$invalid && foldereditor.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: foldereditor.inpurOrder.$invalid && foldereditor.inpurOrder.$pristine == false}">
                    <label class="control-label" for="inputName" translate>Sort Order</label>
                    <div class="controls">
                        <input type="number" id="inpurOrder" name="inpurOrder" required ng-model="item.sortorder" placeholder="{{ 'Sort Order' | translate }}">
                        <span ng-if="foldereditor.inpurOrder.$invalid && foldereditor.inpurOrder.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputUseVersioning" translate>New Media Should Use Version Tracking By Default</label>
                    <div class="controls">
                        <input type="checkbox" id="inputUseVersioning" name="inputUseVersioning" ng-model="item.useversioning" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputHidden" translate>Hidden</label>
                    <div class="controls">
                        <input type="checkbox" id="inputHidden" name="inputHidden" ng-model="item.hidden" />
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="showviachecklist" style="min-height:300px">
                <div class="control-group">
                    <label class="control-label" for="checklistsearch" translate>Show via Checklist</label>
                    <div class="controls">
                        <select-single-checklist ng-model="item.showviachecklistid" mandatory="false"></select-single-checklist>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="policies" style="min-height:300px;">
                <policies-list ng-model="policies" />
            </div>

            <div class="tab-pane" id="roles">
                <p translate>You may select 1 or more roles that users must be in to be able to view this folder and its contents. If multiple roles are selected, a user will only need to be in 1 of them to have access.</p>
                <role-selector ng-model="roles" />
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit" translate>Save changes</button>
    <button ng-click="uploadfile()" class="btn" type="submit" translate>Upload File</button>
    <button ng-click="newfolder()" class="btn" type="submit" translate>Add Child Folder</button>
    <button ng-click="deletefolder()" class="btn btn-danger" type="submit" translate>Delete This Folder</button>
</div>
<div class="form-actions">
    <a class="btn btn-warning" ng-href="{{exportUrl()}}" target="_blank" translate>Export</a>
    <button ng-click="import()" class="btn btn-danger" type="submit" translate>Import</button>
</div>