﻿<register-translations>
    <edit-item-name>Edit: <span ng-bind="item.name"/></edit-item-name>
    <id-item-id>Id: <span ng-bind="item.id"/></id-item-id>
    <version-item-version>Version: <span ng-bind="item.version"/></version-item-version>
</register-translations>
<form name="fileeditor"> 
    <legend translate >edit-item-name</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li><a href="#showviachecklist" data-toggle="tab" translate>Show via Checklist</a></li>
            <li><a href="#labels" data-toggle="tab" translate>Labels</a></li>
            <li><a href="#policies" data-toggle="tab" translate>Policies</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li ng-click="addolderthanpolicy()"><a href="" translate>Add Media version older than policy</a></li>
                  <li ng-click="addnotreadforpolicy()"><a href="" translate>Add Media version not read for policy</a></li>
                </ul>
            </li>
            <!--<li><a href="#roles" data-toggle="tab">Roles</a></li> -->
            <li><a href="#versions" data-toggle="tab" translate>Versions</a></li>
            <li ng-if="item.previewcount"><a href="#view" data-toggle="tab" translate>View</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div translate>id-item-id</div><br />
                <div translate>version-item-version</div><br />
                <div class="control-group" ng-class="{error: companydetails.inputName.$invalid && companydetails.inputName.$pristine == false}">
                    <label class="control-label" for="inputFileName" translate>File Name</label>
                    <div class="controls">
                        <language-localisable-string model="item.translated" property="filename" fallback="item.filename"></language-localisable-string>
                        <span ng-if="companydetails.inputName.$invalid && companydetails.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: companydetails.inputName.$invalid && companydetails.inputName.$pristine == false}">
                    <label class="control-label" for="inputName" translate>Name</label>
                    <div class="controls">
                        <language-localisable-string model="item.translated" property="name" fallback="item.name"></language-localisable-string>
                        <span ng-if="companydetails.inputName.$invalid && companydetails.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: companydetails.inputName.$invalid && companydetails.inputName.$pristine == false}">
                    <label class="control-label" for="inputDescription" translate>Description</label>
                    <div class="controls">
                        <language-localisable-string model="item.translated" property="description" fallback="item.description"></language-localisable-string>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputUseVersioning" translate>Use Version Tracking</label>
                    <div class="controls">
                        <input type="checkbox" id="inputUseVersioning" name="inputUseVersioning" ng-model="item.useversioning" />
                    </div>
                </div>
                <div class="control-group" ng-class="{error: companydetails.inpurOrder.$invalid && companydetails.inpurOrder.$pristine == false}">
                    <label class="control-label" for="inputName" translate>Sort Order</label>
                    <div class="controls">
                        <input type="number" id="inpurOrder" name="inpurOrder" required ng-model="item.sortorder" placeholder="{{ 'Sort Order' | translate }}">
                        <span ng-if="companydetails.inpurOrder.$invalid && companydetails.inpurOrder.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: companydetails.inputName.$invalid && companydetails.inputName.$pristine == false}">
                    <label class="control-label">{{item.type}}</label>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputHidden" translate>Hidden</label>
                    <div class="controls">
                        <input type="checkbox" id="inputHidden" name="inputHidden" ng-model="mediafile.hidden" />
                    </div>
                </div>

                <div class="control-group" style="text-align:right">
                    <a ng-href="{{mediaurl}}" target="_blank" translate>Download</a>
                </div>
            </div>
            <div class="tab-pane" id="showviachecklist" style="min-height:300px">
                <div class="control-group">
                    <label class="control-label" for="checklistsearch" translate>Show via Checklist</label>
                    <div class="controls">
                        <select-single-checklist ng-model="mediafile.showviachecklistid" mandatory="false"></select-single-checklist>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="labels">
                <div id="selectlabels" style="clear:both">
                    <label-selector type="Media" ng-model="selectedlabels" />
                </div>
            </div>
            <div class="tab-pane" id="policies" style="min-height:300px;">
                <policies-list ng-model="policies" />
            </div>
            <div class="tab-pane" id="roles">
                <p translate>You may select 1 or more roles that users must be in to be able to view this media. If multiple roles are selected, a user will only need to be in 1 of them to have access.</p>
                <role-selector ng-model="roles" />
            </div>
            <div class="tab-pane" id="versions">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th translate>
                                Version
                            </th>
                            <th translate>
                                Date Created
                            </th>
                            <th translate>
                                Date Replaced
                            </th>
                            <th translate>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="version in item.mediaversions">
                            <td>{{version.version}}</td>
                            <td>{{formatDate(version.dateversioncreated)}}</td>
                            <td>{{formatDate(version.dateversionclosed)}}</td>
                            <td><a ng-href="{{versionurl(version)}}" target="_blank" translate>Download</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="view">
                <ul class="pager">
                    <li><a href="" ng-click="backwards()" translate>Previous</a></li>
                    <li><a href="" ng-click="forwards()" translate>Next</a></li>
                </ul>

                <div class="well pagination-centered">
                    <img ng-if="mediaurl" ng-src="{{viewurl}}" ng-pinch-zoom max-scale="4" />
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit" translate>Save changes</button>
    <button ng-click="uploadfile()" class="btn" type="submit" translate>Upload File</button>
    <button ng-click="deletefile()" class="btn btn-danger" type="submit" translate>Delete</button>
</div>