﻿@model ConceptCave.www.Areas.Designer.Models.EditEmailFacilityModel

@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();
}

@using (Html.BeginForm("Save", "EditEmailFacility", FormMethod.Post))
{
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.AlternameHandlerFieldName, Model.AlternateHandler)
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.ContextFieldName, ConceptCave.www.ControllerWithAlternateHandler.ContextFieldsString(Model.ContextFields))
    @Html.EditorFor(m => m);
}

<div id="attachments@(uniqueId)">
@Html.Partial("SendEmailActionTemplateAttachmentList", Model)
</div>

@using (Html.BeginForm("AddAttachment", "EditEmailFacility", FormMethod.Post, new { id = "addattachment" + uniqueId}))
{
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.AlternameHandlerFieldName, Model.AlternateHandler)
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.ContextFieldName, ConceptCave.www.ControllerWithAlternateHandler.ContextFieldsString(Model.ContextFields))
    @Html.Hidden("facilityId", Model.FacilityId)
    @Html.Hidden("templateId", Model.Id)
    @Html.Hidden("mediaId", "", new { id = "addattachment_mediaId" + uniqueId })
}

@using (Html.BeginForm("RemoveAttachment", "EditEmailFacility", FormMethod.Post, new { id = "removeattachment" + uniqueId}))
{
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.AlternameHandlerFieldName, Model.AlternateHandler)
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.ContextFieldName, ConceptCave.www.ControllerWithAlternateHandler.ContextFieldsString(Model.ContextFields))
    @Html.Hidden("facilityId", Model.FacilityId)
    @Html.Hidden("templateId", Model.Id)
    @Html.Hidden("attachmentId", "", new { id = "removeattachment_mediaId" + uniqueId })
}

<script type="text/javascript">
    $(function () {
        CurrentDialogManager.Context = '@Model.Id.ToString()';

        $(document).off("itemselected", "#attachments@(uniqueId)");
        $(document).on("itemselected", "#attachments@(uniqueId)", function (event, data) {
            $("#addattachment_mediaId@(uniqueId)").val(data.id);

            CurrentDesignerManager.submitForm($("#addattachment@(uniqueId)"), "#attachments@(uniqueId)");
        });

        $(document).off("attachmentdeleted", "#attachments@(uniqueId)");
        $(document).on("attachmentdeleted", "#attachments@(uniqueId)", function (event, data) {
            $("#removeattachment_mediaId@(uniqueId)").val(data.selectedid);

            CurrentDesignerManager.submitForm($("#removeattachment@(uniqueId)"), "#attachments@(uniqueId)");
        });
    });
</script>