﻿<div question-wrapper="presented">
    <div ng-if="presented.ShowKeypad">
        <md-collapsible class='md-popout'>
            <md-collapsible-item close-on-click='outside' class='scroll-into-view'>
                <md-collapsible-header layout='column' layout-align='center start'>
                    <md-input-container ng-switch on="presented.AllowMultiline" flex>
                        <label ng-bind-html='presented.promptAsHtml'></label>
                        <input class="question-number" type="text" readonly="readonly" ng-model="answer.Number"
                            step="{{ presented.Step }}" bwk-style="{{presented.HtmlPresentation.CustomStyling}}" />
                        <div ng-messages='presented.ValidationErrors' ng-if='presented.ValidationErrors.length'>
                            <div ng-repeat='error in presented.ValidationErrors' class='md-input-message-animation'>
                                {{ error }}</div>
                        </div>
                    </md-input-container>
                </md-collapsible-header>
                <md-collapsible-body>
                    <material-keypad ng-model="answer.Number"
                        keypad-layout="presented.UseDecimalKeypad ? 'decimal' : 'normal'" step="presented.Step">
                    </material-keypad>
                </md-collapsible-body>
            </md-collapsible-item>
        </md-collapsible>
    </div>
    <div ng-if="!presented.ShowKeypad">
        <md-input-container ng-switch on="presented.AllowMultiline" flex>
            <label ng-bind-html='presented.promptAsHtml'></label>
            <input class="question-number" type="number" string-to-number ng-model="answer.Number"
                ng-blur="validate('single')" ng-readonly="deepEdit.readonly" step="{{ presented.Step }}"
                bwk-style="{{presented.HtmlPresentation.CustomStyling}}" />
            <div ng-messages='presented.ValidationErrors' ng-if='presented.ValidationErrors.length'>
                <div ng-repeat='error in presented.ValidationErrors' class='md-input-message-animation'>
                    {{ error }}</div>
            </div>
        </md-input-container>
    </div>
</div>
