﻿<register-translations>
    <edit-site-feature-name>Edit Site Feature : <span ng-bind="currentSiteFeature.name" /></edit-site-feature-name>
    <edit-site-area-name>Edit Site Area : <span ng-bind="currentSiteArea.name"/></edit-site-area-name>
</register-translations>
<div>
    <div id="management" class="container-fluid" ng-controller="sitefeaturemanagementCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <sitefeature-sidebar items-per-page="10"></sitefeature-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>Work Loading Site Feature Management</h1>
                        This management section allows you to setup and define the work loading features against sites in the system.
                    </div>
                    <div ng-if="editing">
                        <sitefeature-editor ng-model="editing"></sitefeature-editor>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-large hide fade editscheduleddialog" modalify="editingSiteFeature">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>edit-site-feature-name</h3>
            </div>
            <div class="modal-body" style="min-height: 30px">
                <form name="standard">
                    <div class="row-fluid">
                        <div class="span6">
                            <div>Name</div>
                            <input type="text" ng-model="currentSiteFeature.name" />
                        </div>
                        <div>Measurement</div>
                        <measurement ng-model="currentSiteFeature.measurement" editing="true"></measurement>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" ng-if="canDeleteSiteFeature" ng-click="confirmDeleteSiteFeature()">Delete</a>
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="commitSiteFeature(currentSiteFeature)" translate>Save changes</a>
            </div>
        </div>

        <div class="modal-large hide fade editscheduleddialog" modalify="editingSiteArea">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>edit-site-area-name</h3>
            </div>
            <div class="modal-body" style="min-height: 30px">
                <form name="standard">
                    <div class="row-fluid">
                        <div class="span6">
                            <div>Name</div>
                            <input type="text" ng-model="currentSiteArea.name" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" ng-if="canDeleteSiteArea" ng-click="confirmDeleteSiteArea()">Delete</a>
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="commitSiteArea(currentSiteArea)" translate>Save changes</a>
            </div>
        </div>
    </div>
</div>
