.vm-app-main {
    width: 100%;
    height: 100%;
}

.vm-app-main .vm-toolbar {
    width: 100%;
}

.vm-logo {
    background-image: url(./titlebar-logo.png);
    width: 100px;
    height: 100%;
}

.vm-app-main .vm-sidenav {
    height: 100%;
}
