<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class='vm-sidenav md-sidenav-left'>
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">VM Side Panel</h1>
    </md-toolbar>
</md-sidenav>


<main layout='column' flex>
    <md-toolbar class='vm-toolbar'>
        <div class='vm-logo'></div>
    </md-toolbar>
    <md-content layout='column' flex md-scroll-y></md-content>
</main>