<div question-wrapper="presented">
    <div class="bfh-selectbox" ng-if="presented.datasource == null">
        <!-- This is the traditional UI and approach to this control -->
        <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="">
            <span class="bfh-selectbox-option input-medium"
                data-option="{{answer.SelectedId}}">{{answer.SelectedName}}</span>
            <b class="caret"></b>
        </a>
        <div class="bfh-selectbox-options">
            <input type="text" class="bfh-selectbox-filter" />
            <div role="listbox">
                <ul role="option">
                    <li ng-repeat="option in options">
                        <a tabindex="-1" href="" data-option="{{option.UserId}}"
                            ng-click="updateSelection(option.UserId, option.Name)">{{option.Name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-if="presented.datasource != null">
        <div class="control-group">
            <div class="controls">
                <div class="input-append">
                    <input type="text" sf-typeahead options="options" ng-blur="validate('single')"
                        datasets="userDataset" ng-model="watchcontainer.currentUserObject" />
                </div>
            </div>
        </div>
    </div>
</div>