﻿@model ConceptCave.www.Areas.Designer.Models.EditMessageFacilityTemplateModel
@{
    this.Layout = null;
    var uniqueId = Guid.NewGuid().ToString();
    var recipientUserModel = new ConceptCave.www.Models.SelectMultipleUsersModel();
    foreach (var u in Model.Users) {
        var m = new ConceptCave.www.Models.SelectMultipleUsersModelItem();
        m.Id = u.Key;
        m.Name = u.Value;
        recipientUserModel.Items.Add(m);
    }
}

@using (Html.BeginForm("Save", "EditMessageFacility", FormMethod.Post))
{
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.AlternameHandlerFieldName, Model.AlternateHandler)
    @Html.Hidden(ConceptCave.www.Areas.Designer.Controllers.ResourceManagementController.ContextFieldName, ConceptCave.www.ControllerWithAlternateHandler.ContextFieldsString(Model.ContextFields))
    @Html.EditorFor(m => m.Id)
    @Html.EditorFor(m => m.FacilityId)
    <div class="editor-label">
        @Html.LabelFor(m => m.Name, new { translate = "" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.RequiresAcknowledgement, new { translate = "" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.RequiresAcknowledgement)
        @Html.ValidationMessageFor(m => m.RequiresAcknowledgement)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Sender, new { translate = "" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Sender)
        @Html.ValidationMessageFor(m => m.Sender)
    </div>
    <div id="users@(uniqueId)" class="editor-field">
        <fieldset style="display: none;" id="userfields@(uniqueId)">
            
        </fieldset>
        @{
            ViewBag.UserSelectLabel = "{{ 'Recipient Users' | translate }}";
            ViewBag.UserSelectHeading = "{{ 'Selected Users' | translate }}";
        }
        @Html.Partial("SelectMultipleUsers", recipientUserModel)
    </div>
    <div id="labels@(uniqueId)" class="editor-field">
        <fieldset style="display: none;" id="labels@(uniqueId)">
            
        </fieldset>
        @{
            var alllbls = ConceptCave.Repository.LabelRepository.GetAll(ConceptCave.Repository.LabelFor.Users);
            var selectedlbls = alllbls.Where(l => Model.Labels.Contains(l.Id));
            var lblmodel = new ConceptCave.www.Models.SelectMultipleLabelsModel(alllbls, selectedlbls);
            lblmodel.FormElementName = "Labels";
        }
        @Html.Partial("SelectMultipleLabels", lblmodel)
    </div>
}

<script type="text/javascript">
    $(function () {
        var userfields = $("#userfields@(uniqueId)");
        var indexct = 0;
        $(document).on("itemadded", "#users@(uniqueId)", function (ev, data) {
            data.additem(data.defaultContent);
            var indexer = $('<input type="hidden" name="Users.Index" value="' + indexct +
                '" data-uid="' + data.userid + '" />');
            var key = $('<input type="hidden" name="Users[' + indexct + '].Key" value="' + data.userid +
                '" data-uid="' + data.userid + '" />');
            var value = $('<input type="hidden" name="Users[' + indexct + '].Value" value="' + data.name +
                '" data-uid="' + data.userid + '" />');
            indexct++;
            $(userfields).append(indexer).append(key).append(value);
        });
        $(document).on("itemdeleted", "#users@(uniqueId)", function (ev, data) {
            $('#' + data.containerId).remove();
            $(userfields).find('[data-uid="' + data.userid + '"]').remove();
        });
    });
</script>