﻿<div ng-repeat="category in model.categories track by category.name">
    <div class="alert" ng-class="['alert-info', 'alert-success', 'alert-error', 'alert-danger'][category.state]">
        <h5>{{ category.name }}</h5>
        <div ng-repeat="item in category.items">
            <span>{{item.message}}</span>
            <span class="pull-right"><i ng-class="['icon-cog text-info icon-spin','icon-ok text-success','icon-remove text-error','icon-warning-sign text-danger'][item.state]"></i></span>
        </div>
    </div>
</div>
