﻿<div class="durationInput">
    <input ng-model="duration.hours" type="number" class="input-mini" placeholder="00" min="0" max="23" step="1"/>
    <span class="duration-sep">:</span>
    <input ng-model="duration.minutes" type="number" class="input-mini" placeholder="00" min="0" max="59" step="1"/>
    <span class="duration-sep">:</span>
    <input ng-model="duration.seconds" type="number" class="input-mini" placeholder="00" min="0" max="59" step="1"/> 
</div>
