﻿<form class="form-inline">
    <input type="number" class="input-small" ng-model="measurement.distance" placeholder="Distance" />
    <span ng-if="measurement.units.length == 1">{{ measurement.unit.shortname }}</span>
    <select ng-if="measurement.units.length > 1" ng-model="measurement.unit" class="input-small" ng-options="unit as unit.shortname for unit in measurement.units track by unit.id"></select>
</form>