﻿<div >
    <div id="management" class="container-fluid" ng-controller="tasktypemanagementCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newType()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    </div>
                    <tasktype-sidebar ng-model="types"></tasktype-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>Task Types Management</h1>
                        This management section allows you to define the types of task configured in the system.
                    </div>
                    <div ng-if="editing">
                        <tasktype-editor ng-model="editing"></tasktype-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>