<div layout='column' flex layout-align='space-between stretch' class='keypad'>
    <div layout='row' flex ng-repeat='row in $ctrl.keypad' layout-align='space-around center'>
        <div ng-repeat='button in row track by button.id' layout='row' flex='{{button.flex}}'>
            <md-button flex ng-if='button.visible()' class='md-raised' ng-class='{{ button.class }}'
                ng-click='button.click($event)' ng-disabled='button.disabled()'>
                <div ng-if='button.icon'>
                    <md-icon md-font-set='{{::button.icon.font }}' md-font-icon='{{::button.icon.icon }}'>
                    </md-icon>&nbsp;
                </div>
                {{ button.text }}
            </md-button>
            <div flex ng-if='!button.visible()'>&nbsp;</div>
        </div>
    </div>
</div>