﻿<div>
    <div>
        <div ng-repeat="db in computedDashboardModels">
            <div render-question="db.PlayerModel.Presented" answers="db.AnswerModel" page-scope="pageScope"></div>
        </div>
    </div>
</div>