﻿<div>
    <div id="management" class="container-fluid" ng-controller="endofdaymanagementCtrl">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li tabify ng-repeat="bucket in buckets"><a style="margin-top:12px" data-toggle="tab" href="#role{{$index}}">{{bucket.primarybucket.role}}</a></li>
                <li style="float:right">
                    <span translate>Roster</span>&nbsp;&nbsp;<select style="margin-top:11px" id="inputRoster" name="inputRoster" ng-model="rosterid" ng-options="r.id as r.name for r in rosters"></select>
                    <button ng-click="approve()" ng-if="buckets" class="btn btn-success" href="#">Save</button>
                </li>
            </ul>

            <div class="tab-content" ng-if="buckets && issaving == false">
                <div ng-repeat="bucket in buckets" class="tab-pane" id="role{{$index}}">
                    <div class="schedule-users">
                        <div class="well" fill-height additional-padding="80" style="overflow-y:auto">
                            <ul class="nav nav-list">
                                <li class="nav-header">Users</li>
                                <li ng-repeat="slot in bucket.primarybucket.slots" style="position:relative;" ng-click="slotSelected(slot)" ng-class="{active: slot.__isactive}">
                                    <a href="#">{{slot.name}} <div><div style="float:right"><i class="icon-share icon-white"></i>{{slot.assignedtasks.length}}&nbsp;</div><div style="float:right"><i class="icon-check icon-white"></i>{{slot.finishedbymanagementtasks.length}}&nbsp;</div><div style="clear:both"></div></div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="schedule-container" ng-if="selectedSlot != null">
                        <manage-end-of-day ng-model="selectedSlot" secondarybucket="bucket.secondarybucket"></manage-end-of-day>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="issaving == true">
            <h3 translate>Progress</h3>
            <p ng-if="issavingcomplete == true">All operations have completed, click <a href="{{dashboardurl}}">here</a> to go back to your <strong>dashboard</strong>.<br /><br /> If you want to run the end of day process again click <a href="#" ng-click="leaveProgressUI()">here</a>.</p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="action in saveactions">
                        <td>
                            {{action.text}}
                        </td>
                        <td style="position:relative">
                            <div ng-if="action.loading == true" class="loading-container">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                            <i ng-if="action.complete == true" class="icon-ok"></i>
                            <span ng-if="action.complete == false && action.loading == false"><i class="icon-remove"></i>&nbsp;<a href="#" ng-click="action.commit(action)">Retry</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>