﻿<select ng-model="shortId" ng-required="true">
    <option value="">-- Select --</option>
    <option ng-repeat="d in templates" ng-selected="shortId == d.shortid" value="{{d.shortid}}">{{d.name}}</option>
</select>
<span ng-if="editor.selectReportTemplate.$error.required" class="help-inline" translate>This field is mandatory</span>