﻿<style>
    .table-parameter td {
        padding: 10px;
    }

    .required-param {
        color: red;
    }
</style>

<div>
    <h3 ng-hide="!parameters.length">Parameters</h3>
    <div ng-repeat="parameter in parameters" ng-if="!parameter.hidden">
        <label>
            {{parameter.prompt}} <span class="required-param" ng-show="parameter.required && !parameter.value">(required)</span>
        </label>                
        <div ng-switch="parameter.type">
            <div ng-switch-when="text">
                <input ng-required="parameter.required" type="text" ng-model="parameter.value" />
            </div>
            <div ng-switch-when="label">
                {{ parameter.value }}
            </div>
            <div ng-switch-when="select">
                <select ng-required="parameter.required" ng-model="parameter.value">
                    <option ng-selected="$first" value="">-- Select --</option>
                    <option ng-repeat="x in parameter.$$items" value="{{x.value}}">{{x.text}}</option>
                </select>
            </div>
            <div ng-switch-when="multiselect">
                <select ng-required="parameter.required" ng-model="parameter.value" multiple>
                    <option ng-repeat="x in parameter.$$items" value="{{x.value}}">{{x.text}}</option>
                </select>
            </div>
            <div ng-switch-when="date">
                <date-picker ng-required="parameter.required" ng-model="parameter.value" date-on-render="dateOnRender(parameter, date)" />
            </div>
            <div ng-switch-when="datetime">
                <date-picker ng-required="parameter.required" ng-model="parameter.value" date-on-render="dateOnRender(parameter, date)" />
            </div>
            <div ng-switch-when="checkbox">
                <input ng-model="parameter.value" type="checkbox" />
            </div>
            <div ng-switch-when="newline">
                <hr/>
            </div>
            <div ng-switch-default>
                Unknown parameter type {{ parameter.type }}
            </div>
            <label>{{parameter.help}}</label>
        </div>
    </div>
</div>
    
    
    

