﻿<div ng-if="reportContext">
    <div>
        <div ng-if="!recipe">
            <label>
                Report Format
            </label>
            <select ng-model="ui.recipe">
                <option ng-repeat="recipe in reportContext.options.recipes" ng-selected="recipe[1] == ui.recipe" value="{{recipe[1]}}">{{recipe[0]}}</option>
            </select>
        </div>
        <button class="btn btn-default" ng-click="generateReport(true)" ng-disabled="!reportContext.valid || generating" ng-if="previewText">{{ previewText }}</button>
        <button class="btn btn-default" ng-click="generateReport(false)" ng-disabled="!reportContext.valid || generating" ng-if="downloadText">{{ downloadText }}</button>
    </div>
    <div class="progress progress-striped active" ng-if="generating">
        <div class="bar" style="width: 100%;"></div>
    </div>
    <div class="alert alert-error" ng-if="error">
        {{ error }}
    </div>
</div>