﻿@model ConceptCave.www.Areas.Admin.Models.MembershipManagementModel
@{
    ViewBag.Title = "Membership Management";

    var uniqueId = Guid.NewGuid().ToString();
}

<register-translations>
    <are-you-sure-to-delete-user-and-all-related-data>Are you sure you want to delete the user and all related data</are-you-sure-to-delete-user-and-all-related-data>
</register-translations>
<div id="management" class="container-fluid">
<div class="row-fluid">
    <div id="managementlist" class="span4">
        <div style="float:left">
            <div class="control-group">
                <div class="controls">
                    <div class="input-append">
                        <input type="text" id="usersearch@(uniqueId)" placeholder="{{ 'Search User' | translate }}" /><button id="btn@(uniqueId)" class="btn" type="button" translate>Search</button><br/>
                        <label>
                            <input id="usersearchexpired@(uniqueId)" type="checkbox">Include Expired Members</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="itemlistnav" style="text-align:right;padding:4px;float:right">
            <button id="additem" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
            <button id="removeitem" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
        </div>
        <div class="clear">&nbsp;</div>

        <div id="membershiplist">
            @Html.Partial("RenderMembershipList", Model.Items)
        </div>
        <ul class="pager">
            <li><a id="itemlistprevious" href="#" translate>Previous</a></li>
            <li><a id="itemlistnext" href="#" translate>Next</a></li>
        </ul>
    </div>
    <div class="span8">
        <div id="membershipdesignerui" class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
            <div class="hero-unit">
                <h1 translate>Membership Management</h1>
                <translate>The membership system allows you to define users and sites. From here you can define who can access the system and what they can do by assigning them roles and labels.</translate>
            </div>
        </div>
    </div>
</div>
</div>


<div class="modal hide fade" id="newuser">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>New Membership</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Add", "MembershipManagement", FormMethod.Post, new { id = "add" }))
        {
            <label for="addUsername" translate>Username</label>
            <input type="text" id="addUsername" name="username" />
            <br />
    <label for="addPassword" translate>Password</label>
            <input type="password" id="addPassword" name="password" />
            <br />
    <label for="confirmPassword" translate>Confirm</label>
            <input type="password" id="confirmPassword" name="confirmPassword" />
            <br /><br />
        }
        <div id="passwordsdonotmatch" class="alert alert-error" style="display:none;" translate>
            The passwords you have entered do not match.
        </div>  
        <div id="newuseradded" class="alert alert-success" style="display:none;" translate>
            The new user has been added.
        </div>
        <div id="servermessage" style="display:none;"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a id="submitnewuser" href="#" class="btn btn-primary" translate>Save changes</a>
    </div>
</div>

@using (Html.BeginForm("Index", "MembershipManagement", FormMethod.Post, new { id = "membershipsearch" }))
{
    @Html.Hidden("term", "", new { id = "membershipsearch_term" })
    @Html.Hidden("expired", "", new { id = "membershipsearch_expired" })
    @Html.Hidden("pagenumber", "1", new { id = "membershipsearch_pagenumber" })
    @Html.Hidden("pagesize", "10", new { id = "membershipsearch_pagesize" })
}

@using (Html.BeginForm("Remove", "MembershipManagement", FormMethod.Post, new { id = "remove" }))
{
    @Html.Hidden("id", "", new { id = "removeid" });
}

<script type="text/javascript">
    var itemselected = null;

    $(function() {
        var options = {
            rootUrl: '@Url.ToFullyQualifiedUrl("~/")',
            editorElement: $("#membershipdesignerui"),
            loadDesignerUrl: 'Admin/GetMembershipDesignerUI?id=',
            loadListItemUrl: 'Admin/GetMembershipListItem?id=',
            createListItemCallBack: function(id) {
                $('<li id="' + id + '"></li>').appendTo("#membershiplist");
            }
        };

        CreateDesignerManager(options);

        $(document).off("click", "#membershiplist li");
        $(document).on('click', "#membershiplist li", function () {
            if (itemselected != null) {
                $(itemselected).removeClass('active');
            }

            itemselected = this;

            $(itemselected).addClass('active');
            CurrentDesignerManager.loadDesigner($(this).attr('id'));
        });

        $("#additem").click(function (event) {
            $("#newuser").modal();
        });

        $("#submitnewuser").click(function () {
            CurrentDesignerManager.submitForm("#add", function (responseText, fnAngularise) {
                $("#servermessage").html(responseText);
                fnAngularise($("#servermessage"));
                $("#servermessage").css('display', 'block');
            });
        });


        $("#managementlist #removeitem").click(function (event) {
            if (itemselected == null) {
                return false;
            }

            if (confirm($ng_translate.instant("are-you-sure-to-delete-user-and-all-related-data")) == false) {
                return false;
            }

            $("#membershiplist").trigger('itemdeleted', { selectedid: $(itemselected).attr('id') });
        });

        $("#newuser form").submit(function() {
            if ($("#addPassword").val() != $("#confirmPassword").val()) {
                $("#passwordsdonotmatch").css('display', 'block');
                return false;
            }

            CurrentDesignerManager.newItem($("#add"));
            $("#newuser").modal('hide');
            return false;
        });

        var searchUser = function() {
            $("#membershipsearch_term").val($("#usersearch@(uniqueId)").val());
            $("#membershipsearch_expired").val($("#usersearchexpired@(uniqueId)").is(':checked'));

            CurrentDesignerManager.submitForm("#membershipsearch", "#membershiplist");
        };

        var setPageNumber = function(value, isIncrement) {
            if (isIncrement == false) {
                // its an actual specific page
                if (value < 1) {
                    return;
                }
                $("#membershipsearch_pagenumber").val(value);
                return;
            }

            var cp = parseInt($("#membershipsearch_pagenumber").val());
            if (cp + value < 1) {
                return;
            }

            $("#membershipsearch_pagenumber").val(cp + value);
        }

        $("#btn@(uniqueId)").click(function() {
            setPageNumber(1, false);
            searchUser();
        });

        $("#usersearch@(uniqueId)").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                setPageNumber(1, false);
                searchUser();
            }
        });

        $("#itemlistprevious").click(function() {
            setPageNumber(-1, true);
            searchUser();
        });

        $("#itemlistnext").click(function() {
            setPageNumber(1, true);
            searchUser();
        });

        $(document).off("itemdeleted", "#membershiplist");
        $(document).on("itemdeleted", "#membershiplist", function(event, data) {
            $("#removeid").val(data.selectedid);
            CurrentDesignerManager.removeItem($("#remove"));
        });

        $(document).off("serverdeleteditem", "#membershipdesignerui");
        $(document).on("serverdeleteditem", "#membershipdesignerui", function(event, data) {
            CurrentDesignerManager.removeListItem(data.id);
        });

        $(document).off("serveraddeditem", "#membershipdesignerui");
        $(document).on("serveraddeditem", "#membershipdesignerui", function(event, data) {
            CurrentDesignerManager.loadListItem(data.id);
        });
    });
</script>