﻿<div>
    <div class="well">
        <div ng-if="pendingPayments.Payments.length > 1">
            <strong>{{ pendingPayments.Plan.Period }} payment schedule.  You will be billed {{ pendingPayments.Plan.Period }} starting {{ pendingPayments.Plan.FirstBillingDateUtc | amLocal | amDateFormat: 'D MMM YYYY' }} until {{ pendingPayments.Plan.LastBillingDateUtc | amLocal | amDateFormat: 'D MMM YYYY' }}</strong>
        </div>
        <div ng-if="pendingPayments.Payments.length == 1">
            <strong>This is a once only payment</strong>
        </div>  
        <table class="table">
            <thead>
                <tr>
                    <th>Due Date</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pp in pendingPayments.Payments" ng-class="['','primary','warning','success'][pp.PaidInFullDateUtc ? 3 : !pp.DueDateUtc ? 2 : pp.ActivatedDateUtc ? 1 : 0]">
                    <td ng-if="(pp.Status == 0 || pp.Status == 2) && pp.DueDateUtc">{{ pp.DueDateUtc | amLocal | amDateFormat: 'D MMM YYYY' }}</td>
                    <td ng-if="pp.Status == 1" class="text-warning">Due now</td>
                    <td ng-if="pp.Status == 3 && pp.PaidInFullDateUtc">{{ pp.PaidInFullDateUtc | amLocal | amDateFormat: 'D MMM YYYY' }}</td>
                    <td ng-bind-html="pp.Description | newlines"></td>
                    <td ng-if="pp.Status == 3" class="text-success">Paid</td>
                    <td ng-if="pp.Status == 4" class="text-error">Cancelled</td>
                    <td ng-if="pp.payNowState == 1" class="text-warning">Pending</td>
                    <td ng-if="pp.payNowState == 2" class="text-warning">Processing...</td>
                    <td ng-if="pp.Status == 2 && !pp.payNowState" class="text-info">Scheduled</td>
                    <td ng-if="pp.Status == 0" class="text-info">Scheduled after 1st payment</td>
                    <td>{{ pp.DueAmount | currency }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><strong>Total</strong></td>
                    <td><strong>{{ pendingPayments.totalDue | currency }}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

