﻿<div ng-controller="uploadMediaSlideCtrl">
    <h2 translate>Upload Media Editor</h2>
    <button class="btn" ng-click="goBack()" translate>Back</button>
    
    <div class="clear: both;"></div>
    <hr/>
    
    <div class="row-fluid">
        <div class="span3">
            <h4 translate>Current Files</h4>
            <ul class="thumbnails">
                <li style="display: none;"></li>
                <li class="span5" ng-repeat="item in d.mediaItems" style="overflow: hidden;">
                    <button style="float: right;" class="btn btn-danger" ng-click="removeItem(item)">&times;</button>
                    <a href="" class="thumbnail" ng-click="doEdit(item)">
                        <img ng-if="item.type == 'image'" ng-src="{{item.data.src}}" style="width: 100px; height: 80px;"/>
                        <img ng-if="!(item.type == 'image')" ng-src="http://placehold.it/100x80"/>
                        <span style="clear: both;"></span>
                        {{item.name}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="span9">
            <div class="hero-unit uploadmedia-drop-target" ng-switch="fileSelectMode">
                <div ng-switch-when="draganddrop">
                    <h2 translate>Drop File Here!</h2>
                    <p translate>Drop the file you wish to upload on this box</p>
                </div>
                <div ng-switch-when="fileinput">
                    <input type="file" class="uploadmedia-fileinput" multiple />
                    <button class="btn btn-success uploadmedia-fileinput-button" ng-click="doSimpleUpload()"><i class="icon-camera"></i>&nbsp;<translate>Add photo...</translate></button>
                </div>
            </div>
            
            <div ng-show="editing" style="width: 100%;" id="{{editorAnchorId}}">
                <div style="width: 100%;" image-editor image="editTarget.data" max-height="350"></div>
                <label style="font-weight: bold;" translate>Name</label>
                <input type="text" ng-model="editTarget.name" style="width: 70%; min-width: 300px;"/>
                <label style="font-weight: bold;" translate>Description</label>
                <textarea ng-model="editTarget.description" style="width: 70%; min-width: 300px; height: 150px;"/>
            </div>
        </div>
    </div>
    
</div>
