﻿<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th translate>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td style="width:30px">
                    <input type="checkbox" ng-model="user.selected" />
                </td>
                <td>
                    <p>{{user.Name}}</p>
                    <div ng-if="user.selected == true">
                            <div class="sigPad signed" signaturepad signaturedata="user">
                                <div class="sigWrapper">
                                    <div class="typed" style="display:none"></div>
                                    <canvas class="pad"></canvas>
                                    <input type="hidden" />
                                </div>
                            </div>
                            <div>
                                <button class="btn" type="button" ng-click="clearSignature()"><i class="icon-trash"></i>&nbsp;<translate>Clear Signature</translate></button>
                            </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
