﻿<div class="question-leave-management">
    <table ng-if="!showAdding" class="table table-bordered table-hover">
        <thead>
            <tr>
                <td colspan="9">
                    <div class="btn-group" style="float:right;">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus-sign"></i>&nbsp;Add Leave&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="t in leaveTypeFeed.data" ng-click="addLeave(t)"><a href="#">{{t.alldata.Name}}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th translate>Employee</th>
                <th translate>Roster</th>
                <th translate>Role</th>
                <th translate>Start Date</th>
                <th translate>End Date</th>
                <th translate>Type</th>
                <th translate>Replaced By</th>
                <th colspan="2" translate>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-click="selectRow(l)" ng-repeat-start="l in leaveFeed.data" ng-class="{success: selectedRow == l}">
                <td>{{l.alldata.OriginalUser}}</td>
                <td>{{l.alldata.Roster}}</td>
                <td>{{l.alldata.Role}}</td>
                <td>{{l.alldata.StartDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{l.alldata.EndDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{l.alldata.LeaveType}}</td>
                <td>{{l.alldata.ReplacementUser}}</td>
                <td colspan="2">{{l.alldata.Notes}}</td>
            </tr>
            <tr class="success" ng-if="selectedRow == l" ng-repeat-end>
                <td colspan="9" style="text-align:right">
                    <button ng-click="delete(l)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pager">
        <li>
            <a href="#" ng-click="leaveFeed.previousPage()" ng-if="leaveFeed.page > 1">Previous</a>
        </li>
        <li>
            <a href="#" ng-click="leaveFeed.nextPage()" ng-if="leaveFeed.data.length > 0">Next</a>
        </li>
    </ul>
</div>

<div class="well" ng-if="showAdding">
    <div class="row-fluid">
        <div class="span4 selectuser">
            <div>Select user being replaced</div>
            <odata-typeahead name="searchmembers" ng-model="newLeave.originalUser" datasource="memberFeed"></odata-typeahead>
        </div>
        <div class="span8">
            <div ng-if="scheduleRoles != null">
                <div>Select shift to define leave for</div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Available shifts
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="s in scheduleRoles" ng-click="selectRole(s)">
                            <a href="#">{{s.role.alldata.Roster}} - {{s.role.alldata.Role}}&nbsp;<i ng-if="s.valid == true" class="icon-ok"></i><i ng-if="s.error" class="icon-warning-sign"></i><i ng-if="s.saved == true" class="icon-thumbs-up"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row-fluid" ng-show="showReplacing == true">
        <p ng-if="selectedRole.error" class="text-error">{{selectedRole.error}}</p>
        <form>
            <fieldset>
                <div class="row-fluid" ng-show="presented.template.allowreplacedbyuser">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="inputReplacedBy">Replaced By</label>
                            <div class="controls">
                                <odata-typeahead name="searchreplacedby" ng-model="newLeave.replacingUser" datasource="replaceMemberFeed"></odata-typeahead>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputStartDate">First day of leave</label>
                            <div class="controls">
                                <date-picker ng-model="selectedRole.sd" id="inputStartDate"></date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputStartDate">First day back from leave</label>
                            <div class="controls">
                                <date-picker ng-model="selectedRole.ed" id="inputEndDate"></date-picker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="inputNotes">Notes</label>
                            <div class="controls">
                                <textarea ng-model="selectedRole.notes" id="inputNotes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div>
        <button ng-if="selectedRole != null" ng-click="saveLeave()" class="btn btn-success">Save {{addingLeave.alldata.Name}} for {{selectedRole.role.alldata.Roster}}</button>
        <button ng-click="clearSelections()" class="btn">Cancel</button>
    </div>
</div>