﻿<div question-wrapper="presented">
    <ul class="pager">
        <li ng-if="pagenumber > 1"><a href="" ng-click="backwards()" translate>{{presented.template.backbuttontext}}</a></li>
        <li>{{pagenumber}} of {{pages.length}}</li>
        <li ng-if="pagenumber < pages.length"><a href="" ng-click="forwards()" translate>{{presented.template.nextbuttontext}}</a></li>
    </ul>

    <div class="well pagination-centered">
        <div ng-switch on="currentpage.type">
            <div ng-switch-when="image">
                <img ng-src="{{currentpage.url}}" ng-pinch-zoom max-scale="4" />
            </div>
            <div ng-switch-when="youtube">
                <iframe width="560" height="315" src="{{currentpage.url}}" frameborder="0" allow="{{currentpage.allow}}" allowfullscreen></iframe>
            </div>
            <div ng-switch-when="vimeo">
                <iframe width="560" height="315" src="{{currentpage.url}}" frameborder="0" allow="{{currentpage.allow}}" allowfullscreen></iframe>
            </div>
            <div ng-switch-when="word">
                <img ng-src="{{currentpage.url}}" ng-pinch-zoom max-scale="4" />
            </div>
        </div>
    </div>
</div>