﻿<div question-wrapper="presented">
    <div ng-if="!showSelectProbe && !showCalibrateProbe" class="temperature-probe" ng-class="{pass: reading >= presented.MinimumPassReading && reading <= presented.MaximumPassReading}">
        <div ng-if="!supported">
            <div class="alert alert-error">Temperature probe is not supported on the device or browser that your are using</div>
        </div>
        <div class="hero-unit">
            <div class='alert alert-danger' ng-if="allowedProbeSerialNumbers.length == 1 && !tp.probe">Probe Serial # {{ allowedProbeSerialNumbers[0] }} is out of range</div>
            <div ng-if="tp.probe || answer.Celcius" ng-switch on="tp.probe.status || (answer.Celcius ? 2 : 0)">
                <div class="probe-container" ng-switch-when="2">
                    <div class="probe probe-top" ng-class="['probe-justright','probe-toocold','probe-toohot','probe-notemp'][readingStatus]" ng-click="record()">
                        <div class="top" am-time-ago="tp.currentTemperature.readingTimestamp">
                        </div>
                        <div class="left">
                            Min:<br />
                            {{ degrees(presented.MinimumPassReading) }}
                        </div>
                        <div class="right">
                            Max:<br />
                            {{ degrees(presented.MaximumPassReading) }}
                        </div>
                        <div class="center">
                            {{ degrees(reading) }}
                        </div>
                        <div ng-switch on="readingStatus" class="bottom">
                            <div ng-switch-when="1">
                                Too Cold
                            </div>
                            <div ng-switch-when="2">
                                Too Hot
                            </div>
                            <div ng-switch-when="0">
                                Click to Record
                            </div>
                        </div>
                    </div>
                    <div class="probe probe-bottom" ng-class="['probe-justright','probe-toocold','probe-toohot','probe-notemp'][recordedStatus]" ng-click="clearRecorded()">
                        <div class="top">
                            Recorded
                        </div>
                        <div class="center">
                            {{ degrees(answer.Celcius) }}
                        </div>
                        <div ng-switch on="recordedStatus" class="bottom">
                            <div ng-switch-when="1">
                                Too Cold
                            </div>
                            <div ng-switch-when="2">
                                Too Hot
                            </div>
                            <div ng-switch-when="0">
                                Click to Clear
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert" ng-switch-default ng-class="['alert-info','alert-warning','alert-success','alert-warning','alert-error'][tp.probe.status]">
                    {{ tp.probe.statusText }}
                </div>
                <p class="muted pull-right">
                    <span>
                        <div>Serial # {{ tp.probe.serialNumber }}</div>
                        <div>Battery {{ tp.probe.battery.percent * 100 | number : 0 }}% <span ng-if='tp.probe.battery.volts'>( {{ tp.probe.battery.volts }}V</span><span ng-if="battery.charging">{{ tp.probe.battery.charging }})</span> </div>
                        <button class="btn btn-small" ng-click="selectProbe()" ng-if="!allowedProbeSerialNumbers || allowedProbeSerialNumbers.length != 1">Change Probe</button>
                    </span>
                </p>
            </div>
        </div>
        <div ng-if="!allowedProbeSerialNumbers || allowedProbeSerialNumbers.length != 1">
            <div class="alert alert-error" ng-if="supported &amp;&amp; !tp.probe">
                Not connected
                <button class="btn btn-warning" ng-click="selectProbe()">Select Probe</button>
            </div>
        </div>
    </div>
</div>

<div ng-if="showSelectProbe" class="well">
    <div class="modal-header">
        <button type="button" class="btn btn-warning pull-right" ng-click="closeSelectProbe()">Close</button>
        <h3 translate>Select Probe</h3>
    </div>
    <div class="control-group">
        <p>Select probe below<span ng-if="disposeOnButton">&nbsp;or press button on the probe to select it</span></p>
        <div class="alert alert-info" ng-if="probes.length == 0">
            <h4>No probes found</h4>
        </div>
        <ul class='thumbnails' ng-if="probes.length">
            <li ng-repeat="probe in probes" ng-click="connect(probe)" class='span4'>
                <div class='thumbnail alert' ng-class="['alert-info','alert-warning','alert-success','alert-warning','alert-error'][probe.status]">
                    <h3>
                        {{ probe.name }}
                    </h3>
                    <p>
                        Serial # {{ probe.serialNumber }}
                    </p>
                    <p class='muted'>
                        {{ probe.statusText }}
                        <a class='btn pull-right btn-warning' ng-if='isActiveProbe(probe)' ng-click='connect(null); $event.stopPropagation();'>Disconnect</a>
                    </p>
                </div>
            </li>
        </ul>
        <div class="alert alert-info">
            If you cannot find your probe, make sure
            <ol>
                <li>The probe has charge and turned on (press button, if LED does not light up then it requires charging)</li>
                <li>Bluetooth is Enabled on this device</li>
                <li>The probe has been paired with this device through the Bluetooth Control Panel</li>
            </ol>
            <p class="muted">Note, BlueTherm probes normally use <b>1234</b> to pair</p>
        </div>
    </div>
</div>

<div ng-if="showCalibrateProbe" class="well">
    <div class="modal-header">
        <button type="button" class="btn btn-warning pull-right" ng-click="closeCalibrateProbe()">Close</button>
        <h3 translate>Calibrate Probe</h3>
    </div>
    <div class="control-group" style="height:30%">
        <div>
            <div ng-if="calibrationSequence.state == 0">
                Press the Start button to begin calibrating
            </div>
            <div ng-if="calibrationSequence.state == 1">
                <h3>Ice bath test</h3>
                <div>
                    <b>Step 1</b> Fill a large glass to the very top with ice (crushed ice is preferred but not required).
                </div>
                <div>
                    <b>Step 2</b> Slowl y add very cold water until the water reaches about 10 mm below the top of the ice.
                </div>
                <div>
                    <i><b>Note</b> If the ice floats up off the very bottom of the glass at all, the ice bath will likely be warmer than0 °C. Pour off any excess water.</i>
                </div>
                <div>
                    <b>Step 3</b> Gently stir the ice mixture and let it sit for a minute or two.
                </div>
                <div>
                    <b>Step 4</b> Insert  the  probe  of  the  thermometer  being  tested  about  50  mm  into  the  ice  mixture  and  gently  stir  while you take your reading.
                </div>            
            </div>
            <div ng-if="calibrationSequence.state == 2">
                <h3>Optional Boiling water test</h3>
                <div>
                    <b>Step 1</b> Fill a saucepan or pot at least 100 mm deep with clean water.
                </div>
                <div>
                    <i><b>Note</b> Impurities  or  salt  in  the  water  (say,  from  a  water  softener)  can  significantly  affect  the  boiling  temperature  of water.</i>
                </div>
                <div>
                    <b>Step 2</b> Place  the  pot  on  a  stove  (DO  NOT  use  the  microwave) and turn the heat to high.
                </div>
                <div>
                    <b>Step 3</b> Wait until the water comes to a strong, rolling boil that does not stop with stirring.
                </div>
                <div>
                    <b>Step 4</b> As soon as the water reaches a rolling boil, put the tip of the thermometer probe 50 mm deep into the water and gently stir while you take your reading.
                </div>            
            </div>
            <div ng-if="calibrationSequence.state == 3">
                2-point calibration complete.  The probe was successfully calibrated and is now ready to use.
            </div>
        </div>

        <div class="calibrate-buttons" ng-if="calibrationSequence.state != 3">
            <div class="probe probe-top probe-justright">
                <div class="top">
                    <strong>Current</strong>
                </div>
                <div class="center">
                    {{ degrees(tp.currentTemperature.rawValue) }}
                </div>
            </div>

            <div class="calibrate-button-container" ng-if="calibrationSequence.state == 1">
                <div ng-click="calibrationSequence.IceBathTest.calibrate()" class="calibrate-button degrees0" ng-class="{calibrated: calibrationSequence.IceBathTest.calibrated}">
                    <div class="center">
                        Ice bath test
                    </div>
                </div>
            </div>
            <div class="calibrate-button-container" ng-if="calibrationSequence.state == 2">
                <div ng-click="calibrationSequence.BoilingWaterTest.calibrate()" class="calibrate-button degrees100" ng-class="{calibrated: calibrationSequence.BoilingWaterTest.calibrated}">
                    <div class="center">
                        Boiling water test
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-large btn-primary" ng-click="calibrationSequence.start()" ng-if="calibrationSequence.canStart">Start</button>
        <button type="button" class="btn btn-large btn-success" ng-click="saveCalibration()" ng-if="calibrationSequence.canStop">Save</button>
    </div>

</div>
