﻿<div question-wrapper="presented">
    <div class="question-order">
        <div ng-if="tabbedOrders">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-repeat="order in visibleOrders" role="presentation" ng-class="{ active: $first }">
                    <a href="#tab{{ order.uniqueid }}" data-toggle="tab" role="tab" id="atab{{ order.uniqueid }}">
                        <button type="button" class="close" ng-click="removeOrder(order)" ng-if="!deepEdit.readonly && !order.unremoveable"><i class="icon-trash"></i></button>
                        <div>{{ order.title }}</div>
                        <div>{{ total(order) | currency }}</div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-repeat="order in visibleOrders" id="tab{{ order.uniqueid }}" class="tab-pane" ng-class="{ active: $first }">
                    <question-order-catalog ng-model="order" template="orderTemplate(order)"></question-order-catalog>
                </div>
            </div>
        </div>
        <div ng-if="!tabbedOrders">
            <div ng-repeat="order in visibleOrders" >
                <question-order-catalog ng-model="order" template="orderTemplate(order)"></question-order-catalog>
            </div>
        </div>
        <table class="table table-bordered total" ng-if="presented.template.showgrandtotal">
            <tbody>
                <tr>
                    <td colspan="5">{{presented.template.grandtotaltitletext}}</td>
                    <td class="total">{{total(answer.orders) | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>