﻿<style type="text/css">
    .css-icon {
    }

    .gps_ring {
        border: 3px solid #999;
        -webkit-border-radius: 30px;
        height: 18px;
        width: 18px;
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        /*opacity: 0.0*/
    }

    @-webkit-keyframes pulsate {
        0% {
            -webkit-transform: scale(0.1, 0.1);
            opacity: 0.0;
        }

        50% {
            opacity: 1.0;
        }

        100% {
            -webkit-transform: scale(1.2, 1.2);
            opacity: 0.0;
        }
    }
</style>

<div question-wrapper="presented" class="question-mapping">
    <div class="container" bwk-style="{{presented.HtmlPresentation.CustomStyling}}" fill-height>
        <leaflet-map extern="floorplanApi"></leaflet-map>
    </div>
</div>

