﻿<register-translations>
    <name-on-date>{{ name }} on {{ date }}</name-on-date>
    <there-are-no-work-entries-for-name-on-date>There are no work entries for <span ng-bind="answer.timesheetdetails.name"/> on <span ng-bind="formatDate(answer.timesheetdetals.date)"/></there-are-no-work-entries-for-name-on-date>
</register-translations>
<div question-wrapper="presented">
    <div>
        <table ng-if="answer.criteriastate != 'loading'" class="table table-striped">
            <tr>
                <td translate>Project:</td>
                <td><select ng-model="answer.selectedcriteria.projectid" ng-options="s.id as s.name for s in answer.availablecriteria.projects"></select></td>
                <td translate>Start Date:</td>
                <td><input dateify="" ng-model="answer.selectedcriteria.startdate" /></td>
                <td translate>End Date:</td>
                <td><input dateify="" ng-model="answer.selectedcriteria.enddate" /></td>
                <td><button class="btn btn-success" ng-click="gettimesheet(answer.selectedcriteria)" translate>Load</button></td>
            </tr>
        </table>

        <table ng-if="answer.timesheetstate == 'loaded'" class="table table-bordered table-hover" style="margin-bottom:50px;">
            <thead>
                <tr>
                    <th translate>User</th>
                    <th ng-repeat="d in answer.timesheet.dates" style="text-align:center;">
                        {{formatDate(d)}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in answer.timesheet.items">
                    <td>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            {{item.name}}
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                            <li><a href="#" ng-click="approveforuser(item)" translate>Approve</a></li>
                            </ul>
                        </div>  
                    </td>
                    <td ng-repeat="log in item.logs" style="text-align:center"><i ng-if="log.approvedduration != null" style="float:left;" class="icon-ok"></i><button class="btn btn-link" ng-click="showdetails(item, log)">{{formatTime(log.actualduration)}} <span ng-if="log.approvedduration != null && log.actualduration != log.approvedduration">| {{formatTime(log.approvedduration)}}</span></button></td>
                </tr>
            </tbody>
        </table>

        <div ng-if="answer.showdetails == true" class="modal hide fade timesheetdetails">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate translate-compile="false" translate-values="{name: answer.timesheetdetails.name, date: formatDate(answer.timesheetdetals.date)}">name-on-date</h3>
            </div>
            <div class="modal-body">
                <h4 translate>Details</h4>
                <table class="table table-bordered table-hover">
                    <tr>
                        <td translate>Project</td>
                        <td>{{answer.timesheetdetails.projectname}}</td>
                    </tr>
                    <tr>
                        <td translate>Duration</td>
                        <td>
                            <div class="btn-group">
                              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {{formatTime(answer.timesheetdetails.totalduration)}}
                                <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#" ng-click="answer.timesheetdetails.approvedDuration = formatTime(answer.timesheetdetails.totalduration)" translate>Approve</a></li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td translate>Approved Duration</td>
                        <td>
                            <input ng-model="answer.timesheetdetails.approvedDuration" style="width:50%" type="text">&nbsp;<span class="label">{{hummanizeTime(answer.timesheetdetails.approvedDuration)}}</span>
                        </td>
                    </tr>
                </table>
                <h4 translate>Work Log</h4>
                <div class="schedule" ng-if="answer.timesheetdetails.list.length > 0">
                    <div class="schedule-title-container">
                        <div class="schedule-title-row">
                            {{answer.timesheetdetails.rowtitle}}
                        </div>
                        <div class="schedule-title-row" ng-repeat="p in answer.timesheetdetails.list">{{p.name}}</div>
                    </div>
                    <div class="schedule-body-scroller">
                        <div class="schedule-body-hours" ng-style="{width:answer.timesheetdetails.hourwidth*26 + 'px'}">
                            <span class="schedule-body-hour" ng-repeat="h in answer.timesheetdetails.hours" ng-style="{width:answer.timesheetdetails.hourwidth + 'px'}">{{h}}</span>
                        </div>
                        <div class="schedule-body-container" ng-style="{width:answer.timesheetdetails.hourwidth*26 + 'px'}">
                            <div class="schedule-body-rows-background">
                                <div class="schedule-body-row" ng-repeat="p in answer.timesheetdetails.list">
                                    <span class="schedule-body-hour" ng-repeat="h in answer.timesheetdetails.hours" ng-style="{width:answer.timesheetdetails.hourwidth + 'px'}">&nbsp;</span>
                                </div>
                            </div>

                            <div class="schedule-body-rows" style="top:0px;">
                                <div class="schedule-body-row" ng-repeat="p in answer.timesheetdetails.list">
                                    <span class="schedule-body-task" ng-style="{width:(answer.timesheetdetails.hourwidth * (l.duration/3600)) + 'px', maxWidth:(answer.timesheetdetails.hourwidth * (l.duration/3600)) + 'px', left:datetimeAsSeconds(l.start) * (answer.timesheetdetails.hourwidth/3600) + 'px'}" ng-repeat="l in p.items">{{l.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="answer.timesheetdetails.list.length == 0">
                    <p translate>there-are-no-work-entries-for-name-on-date</p>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="saveandclosedetails(answer.timesheetdetails)" translate>Save changes</a>
            </div>
        </div>
    </div>
</div>