﻿<div>
    <form name="taskadminsearch">
        <div class="row-fluid">
            <div class="span3">
                <div class="control-group">
                    <label class="control-label" for="inputProject" translate>Project</label>
                    <div class="controls">
                        <select ng-model="criteria.projectid" id="inputProject" name="inputProject" required ng-options="p.id as p.name for p in presented.projects" ng-change="loadTasks()"></select>
                    </div>
                </div>
            </div>
            <div class="span8">
                <div class="control-group">
                    <label class="control-label" for="inputProject" translate>User</label>
                    <div class="controls">
                        <select ng-model="criteria.userid" id="inputUser" name="inputUser" required ng-options="u.id as u.name for u in presented.users" ng-change="loadTasks()"></select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-striped table-striped table-hover">
        <thead>
            <tr>
                <th translate>
                    Task
                </th>
                <th translate>Schedule</th>
                <th translate>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" style="text-align:center" ng-click="newScheduledTask()"><i class="icon-plus-sign"></i> <translate>New Task</translate></td>
            </tr>
            <tr ng-repeat="s in schedules">
                <td>{{s.name}}</td>
                <td>
                    <span ng-if="s.calendarrule.sunday" translate>Sunday</span>&nbsp;
                    <span ng-if="s.calendarrule.monday" translate>Monday</span>&nbsp;
                    <span ng-if="s.calendarrule.tuesday" translate>Tuesday</span>&nbsp;
                    <span ng-if="s.calendarrule.wednesday" translate>Wednesday</span>&nbsp;
                    <span ng-if="s.calendarrule.thursday" translate>Thursday</span>&nbsp;
                    <span ng-if="s.calendarrule.friday" translate>Friday</span>&nbsp;
                    <span ng-if="s.calendarrule.saturday" translate>Saturday</span>&nbsp;
                </td>
                <td><a ng-click="editScheduledTask(s)" href="" translate>Edit</a> </td>
            </tr>
        </tbody>
    </table>

    <div class="modal-large hide fade editcompanydialog" modalify="editingScheduledTask">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 translate>Edit Scheduled Task</h3>
        </div>
        <div class="modal-body">
            <form name="scheduletask">
                <div class="control-group" ng-class="{error: scheduletask.inputName.$invalid && scheduletask.inputName.$pristine == false}">
                    <label class="control-label" for="inputName" translate>Task</label>
                    <div class="controls">
                        <input type="text" id="inputName" name="inputName" required ng-model="currentScheduledTask.name" placeholder="{{ 'Name' | translate }}"><span ng-if="scheduletask.inputName.$invalid && scheduletask.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: scheduletask.inputName.$invalid && scheduletask.inputName.$pristine == false}">
                    <label class="control-label" for="inputDescription" translate>Description</label>
                    <div class="controls">
                        <textarea redactor id="inputDescription" name="inputDescription" ng-model="currentScheduledTask.description"></textarea>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <label class="control-label" translate>Days</label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="currentScheduledTask.calendarrule.sunday" translate> Sunday
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="currentScheduledTask.calendarrule.monday" translate> Monday
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="currentScheduledTask.calendarrule.tuesday" translate> Tuesday
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="currentScheduledTask.calendarrule.wednesday" translate> Wednesday
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="currentScheduledTask.calendarrule.thursday" translate> Thursday
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="currentScheduledTask.calendarrule.friday" translate> Friday
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="currentScheduledTask.calendarrule.saturday" translate> Saturday
                        </label>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputStartDate" translate>Start Date</label>
                            <div class="controls">
                                <input dateify type="text" id="inputStartDate" name="inputStartDate" ng-model="currentScheduledTask.calendarrule.startdate" placeholder="{{ 'Start Date' | translate }}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEndDate" translate>End Date</label>
                            <div class="controls">
                                <input dateify type="text" id="inputEndDate" name="inputEndDate" ng-model="currentScheduledTask.calendarrule.enddate" placeholder="{{ 'End Date' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
            <a href="#" class="btn btn-primary" ng-click="saveScheduledTask(currentScheduledTask)" translate>Save changes</a>
        </div>
    </div>
</div>