﻿<div question-wrapper="presented">
    <div class="control-group">
        <div class="controls">
            <div class="input-append">
                <input type="text" sf-typeahead options="options" ng-blur="validate('single')" datasets="odataDataset" ng-model="watchcontainer.currentObject" />
            </div>
        </div>
    </div>
</div>
