﻿<div question-wrapper="presented">
    <ul class="pager">
        <li ng-if="pageNumber > 1"><a href="" ng-click="backwards()" translate>Previous</a></li>
        <li>{{pageNumber}} of {{presented.pagecount}}</li>
        <li ng-if="presented.pagecount && pageNumber < presented.pagecount"><a href="" ng-click="forwards()" translate>Next</a></li>
    </ul>

    <div class="well pagination-centered">
        <img ng-if="mediaurl" ng-src="{{mediaurl}}" ng-pinch-zoom max-scale="4" />
    </div>
</div>