﻿<div question-wrapper="presented">
    <ol ng-if="presented.DisplayFormat == 'List'" class="list-striped" ng-blur="validate('single')" bwk-style="{{presented.HtmlPresentation.CustomStyling}}" ng-switch="inputCtrlType">
        <li ng-switch-when="radio" ng-repeat="choice in presented.Choices" ng-if="!deepEdit.readonly || $parent.answer.Selected == choice.Id">
            <label class="radio">
                <input type="radio" ng-model="$parent.answer.Selected" ng-value="choice.Id" name="buttons-{{presented.Id}}" ng-disabled="deepEdit.readonly || choice.disabled" />
                {{choice.Display}}
            </label>
        </li>
        <li ng-switch-when="checkbox" ng-repeat="choice in presented.Choices" ng-if="!deepEdit.readonly || $parent.answer.Selected[choice.Id]">
            <label class="checkbox">
                <input type="checkbox" ng-model="$parent.answer.Selected[choice.Id]" name="checkbox-{{choice.Id}}" ng-disabled="deepEdit.readonly || choice.disabled" />
                {{choice.Display}}
            </label>
        </li>
    </ol>

    <ol ng-if="presented.DisplayFormat == 'List_Horizontal'" ng-blur="validate('single')" class="list-striped inline" bwk-style="{{presented.HtmlPresentation.CustomStyling}}">
        <li ng-repeat="choice in presented.Choices">
            <label ng-switch="inputCtrlType" ng-if="!deepEdit.readonly || $parent.answer.Selected == choice.Id" class="{{ inputCtrlType }}">
                <input type="radio" ng-switch-when="radio" ng-model="$parent.answer.Selected" 
                       ng-value="choice.Id" name="buttons-{{presented.Id}}"  ng-disabled="deepEdit.readonly || choice.disabled"/>
                <input type="checkbox" ng-switch-when="checkbox" ng-model="answer.Selected[choice.Id]" 
                       name="checkbox-{{choice.Id}}"  ng-disabled="deepEdit.readonly || choice.disabled"/>
                {{choice.Display}}
            </label>
        </li>
    </ol>

    
    <select ng-if="presented.DisplayFormat == 'Compact'" ng-blur="validate('single')" ng-model="$parent.answer.Selected" 
            ng-multiple="presented.AllowMultiSelect" 
            ng-options="choice.Id as choice.Display for choice in presented.Choices" bwk-style="{{presented.HtmlPresentation.CustomStyling}}" ng-disabled="deepEdit.readonly || choice.disabled"></select>
</div>