﻿<div question-wrapper="presented">
    <div class="alert alert-error" ng-if="presented.responseerrors">
        <div ng-repeat="error in presented.responseerrors">{{ error }}</div>
    </div>
    <hr />
    <hr />
    <div ng-if="termsAndConditionsURL" class="terms-and-conditions">
        <h4>You must read and accept the <a class="btn btn-large" href="{{ termsAndConditionsURL }}" target="_blank">Terms and Conditions</a> before proceeding with payment</h4>
        <label class="checkbox">
            <input type="checkbox" ng-model="acceptedTCs" ng-click="acceptTCs()" />I accept the Terms and Conditions
        </label>
    </div>
    <div class="well well-large" ng-if="readyToPay()">
        <button class="btn btn-primary btn-large" ng-click="payNow()" ng-disabled="processing"><i class="icon-credit-card"></i>&nbsp;Pay {{ PayPendingPayment.DueAmount | currency }} now</button>
        <div class="alert alert-danger" ng-if="PayPendingPayment.Sandbox">This is a Sandbox payment</div>
    </div>
    <div ng-if="finalising" class="well">
        <div class="alert alert-success">Finalising booking...</div>        
    </div>
    <div ng-if="paymentResult && paymentResult.TransactionStatus.Status" class="well">
        <address>
            <div class="alert alert-success">Payment success</div>
            <dl class="dl-horizontal">
                <dt>Authorisation Code</dt>
                <dd>{{ paymentResult.TransactionStatus.ProcessingDetails.AuthorisationCode }}</dd>
                <dt>Transaction ID</dt>
                <dd>{{ paymentResult.TransactionStatus.TransactionID }}</dd>
                <dt>Amount</dt>
                <dd>{{ paymentResult.TransactionStatus.Total / 100 | currency }}</dd>
            </dl>
        </address>
    </div>
    <div ng-if="paymentResult && !paymentResult.TransactionStatus.Status" class="well">
        <address>
            <div class="alert alert-error">Payment failed - payment is required in order to proceed, please correct the issue or try a different card</div>
            <dl class="dl-horizontal">
                <dt>Response Code</dt>
                <dd>{{ paymentResult.TransactionStatus.ProcessingDetails.ResponseCode }}</dd>
                <dt>Response Message</dt>
                <dd>{{ paymentResult.TransactionStatus.ProcessingDetails.ResponseMessage }}</dd>
                <dt>Transaction ID</dt>
                <dd>{{ paymentResult.TransactionStatus.TransactionID }}</dd>
                <dt>Amount</dt>
                <dd>{{ paymentResult.TransactionStatus.Total / 100 | currency }}</dd>
            </dl>
        </address>
    </div>
    <div ng-if="errors" class="alert alert-error">
        <div ng-repeat="error in errors">{{ error }}</div>
    </div>
</div>

