﻿<div>
    <table ng-if="answer.criteriastate != 'loading'" class="table table-striped">
        <tr>
            <td translate>Search:</td>
            <td><input style="width:150px" ng-model="searchtext" type="text">&nbsp;<button style="margin-top:-13px" type="btn" ng-click="searchcompanies(searchtext)" class="btn" translate>Search</button></td>
        </tr>
    </table>
    <table class="table table-striped table-hover">
        <tbody>
            <tr ng-repeat="company in companies" ng-mouseenter="company.showedit = presented.allowediting" ng-mouseleave="company.showedit = false">
                <td >
                    <address>
                        <strong>{{company.name}}</strong><br />
                        {{company.address.street}}<br />
                        {{company.address.town}}<br />
                        {{company.address.state}}<br/>
                        {{company.address.postcode}}
                    </address>
                    <div ng-if="presented.allowrating" ng-model="company.rating" rating data-context="company" />
                    
                </td>
                <td style="position:relative">
                    <leaflet ng-if="company.mapcenter" defaults="mapdefaults" center="company.mapcenter" markers="company.mapmarkers" attribution-control="false" width="200px" height="145px">
                    </leaflet>
                    <button style="position:absolute;top:5px;right:5px" class="btn btn-success" ng-if="company.showedit" ng-click="showeditcompany(company)"><i class="icon-pencil"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal-large hide fade editcompanydialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 translate>Edit Company</h3>
        </div>
        <div class="modal-body">
            <div editcompany></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
            <a href="#" class="btn btn-primary" ng-click="savecompany()" translate>Save changes</a>
        </div>
    </div>
</div>