﻿<div ng-if="!hasOnlineTaskList" class="hero-unit alert alert-info">
    Waiting for connection...
</div>
<div class="schedule-task-list" ng-if="hasOnlineTaskList && isvisible">
    <h5 class="alert alert-danger" ng-if="isClockedIn && presented.template.enforcesingleclockin">Note: You are currently clocked into {{clockedInTo.name}}, you will need to clock out of this task to be able to clock in to other tasks.</h5>
    <div ng-if="!isClockedIn || !presented.template.enforcesingleclockin">
        <div ng-switch="(enableQRCodeQST ? 1 : 0) + (chooseQSTBeaconSites.length ? 2 : 0)">
            <div ng-switch-when="1">
                <qr-code-scanner ng-model="scannedQRCode" on-scan="QRCodeScanned(text, null)">
                    <button class="btn btn-success schedule-task-button" ng-click="scan()">
                        <i class="icon-qrcode"></i> Scan
                    </button>
                </qr-code-scanner>
            </div>
            <div ng-switch-when="2">
                <button class="btn btn-success schedule-task-button" ng-click="showQSTSitesDialog(chooseQSTBeaconSites)">
                    <i class="icon-rss"></i> Beacon
                </button>
            </div>
            <div ng-switch-when="3">
                <div class="row-fluid">
                    <div class="span6">
                        <qr-code-scanner ng-model="scannedQRCode" on-scan="QRCodeScanned(text, null)">
                            <button class="btn btn-success schedule-task-button" ng-click="scan()">
                                <i class="icon-qrcode"></i> Scan
                            </button>
                        </qr-code-scanner>
                    </div>
                    <div class="span6">
                        <button class="btn btn-success schedule-task-button" ng-click="showQSTSitesDialog(chooseQSTBeaconSites)">
                            <i class="icon-rss"></i> Beacon
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!creatingTask">
        <div class="row-fluid">
            <div class="schedule-task-list-labelmenu">
                <div class="btn-group" ng-if="labels.length > 0">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <span ng-bind-html="getLabelFilterName(labelFilter)"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-click="filterByLabel(labelFilterAll)"><a href="#">{{labelFilterAll.listText}}</a></li>
                        <li ng-repeat="label in labels" ng-click="filterByLabel(label)"><a href="#">{{label.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="schedule-task-list-groupmenu">
                <button class="btn" style="float:right" ng-if="creatingGroup == false && presented.template.allowtaskgrouping" ng-click="startGroupCreation()">Multi <br /><i class="icon-check"></i>&nbsp;<i class="icon-check"></i>&nbsp;<i class="icon-check"></i></button>
                <button class="btn btn-warning" style="float:right" ng-if="creatingGroup == true" ng-click="cancelGroupCreation()"><i class="icon-remove"></i>&nbsp;No</button>
                <button class="btn btn-success" style="float:right" ng-if="creatingGroup == true" ng-click="finishGroupCreation()"><i class="icon-ok"></i>&nbsp;Ok</button>
            </div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>

        <div ng-show="!editing">
            <div ng-show="tasksAdded && presented.template.tasksaddedmessage != ''">
                <div class="alert alert-info">
                    {{presented.template.tasksaddedmessage}}
                </div>
            </div>
            <div ng-show="tasksRemoved && presented.template.tasksremovedmessage != ''">
                <div class="alert alert-danger">
                    {{presented.template.tasksremovedmessage}}
                </div>
            </div>
            <div ng-show="tasks == null || tasks.length == 0">
                <p translate>There are currently no tasks assigned to you.</p>
            </div>
            <div class="schedule-task-list">
                <div class="schedule-task-list-task-row schedule-task-list-addtask" ng-if="(presented.template.taskcreationtemplates | filter:{type: 'Normal'}).length > 0 && creatingGroup == false">
                    <div class="schedule-task-list-image">
                        <i class="icon-plus-sign"></i>
                    </div>
                    <div class="schedule-task-list-details">
                        <div class="dropdown">
                            <div class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" data-target="#"><span translate>Add Task</span>&nbsp;<b class="caret"></b></div>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-click="showCreateTask(shortcut)" ng-repeat="shortcut in presented.template.taskcreationtemplates | filter:{type: 'Normal'}"><a href="#">{{shortcut.text}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="schedule-task-list-task-row schedule-task-list-shortcut" ng-click="showCreateTask(shortcut)" ng-hide="creatingGroup == true" ng-repeat="shortcut in presented.template.taskcreationtemplates | filter:{type: 'Shortcut'}">
                    <div class="schedule-task-list-image">
                        <img ng-if="shortcut.mediaid != null" ng-src="{{imageUrl}}/{{shortcut.mediaid}}.png?width=75" />
                    </div>
                    <div class="schedule-task-list-details">
                        {{shortcut.text}}
                    </div>
                    <div class="schedule-task-list-status">
                        <i class="icon-plus-sign"></i>
                    </div>
                </div>

                <div ng-show="clockedIntoTasks.length > 0">
                    <p translate>Started tasks</p>
                    <div class="schedule-task-list-task-row" ng-if="task.userinterfacetype != 4 && (creatingGroup == false || (creatingGroup == true && task.userinterfacetype != 2))" ng-class="{'schedule-task-list-group': task.workinggroupid != null, 'alert': task.clientDateTimeReceived, 'alert-info': task.clientDateTimeReceived, 'late': task.islate == true, 'requiresclaiming': task.requiresclaiming == true}" ng-repeat="task in clockedIntoTasks | orderBy: 'sortNumber'" ng-click="showTask(task)">
                        <div class="schedule-task-list-image">
                            <img ng-if="task.mediaid != null" ng-src="{{imageUrl}}/{{task.mediaid}}.png?width=75" />
                        </div>
                        <div class="schedule-task-list-details">
                            <h5>{{task.name}} {{ task.asset.name }}</h5>
                            <div class="schedule-task-list-details-info">
                                <span class="text-info"><span ng-if="presented.template.showtasksites == true">{{task.site.name}}</span> <span class="distance" ng-if="task.distance != 100000 && presented.template.showtaskdistances == true">{{task.distance > 1 ? task.distance : task.distance * longDistanceUnitsToSmallMultiplier | number:2}} {{task.distance > 1 ? longDistanceUnits : shortDistanceUnits}}</span></span>
                            </div>
                            <div style="clear:both"></div>

                            <div ng-bind-html="getTaskDescription(task)"></div>
                            <div class="schedule-task-list-status">
                                <input type="checkbox" ng-model="task.selectedInGroup" ng-if="creatingGroup == true" />
                                <i ng-if="task.status == 'paused'" class="icon-pause text-warning schedule-task-icon"></i>
                                <i ng-if="task.status == 'active' || task.status == 'finishing' || task.status == 'finishing-incomplete'" class="icon-edit text-warning schedule-task-icon"></i>
                                <span class="label label-info time" ng-if="task.starttime != null && presented.template.showstarttimes == true"><i class="icon-time"></i>&nbsp;{{task.starttime | amDateFormat: 'HH:mm:ss'}}</span>
                                <span ng-if="task.clientDateTimeReceived" class="label label-info">{{task.clientDateTimeReceived | date:'shortTime'}}</span>
                            </div>
                            <div ng-if="task.loading" class="loading-container">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="notClockedIntoTasks.length > 0">
                    <p translate>Unstarted tasks</p>
                    <div class="schedule-task-list-task-row" ng-if="task.userinterfacetype != 4 && (creatingGroup == false || (creatingGroup == true && task.userinterfacetype != 2))" ng-class="{'schedule-task-list-group': task.workinggroupid != null, 'alert': task.clientDateTimeReceived, 'alert-info': task.clientDateTimeReceived, 'late': task.islate == true, 'requiresclaiming': task.requiresclaiming == true}" ng-repeat="task in notClockedIntoTasks | orderBy: 'sortNumber'" ng-click="showTask(task)">
                        <div class="schedule-task-list-image">
                            <img ng-if="task.mediaid != null" ng-src="{{imageUrl}}/{{task.mediaid}}.png?width=75" />
                        </div>
                        <div class="schedule-task-list-details">
                            <h5>{{task.name}} {{ task.asset.name }}</h5>
                            <div class="schedule-task-list-details-info">
                                <span class="text-info"><span ng-if="presented.template.showtasksites == true">{{task.site.name}}</span> <span class="distance" ng-if="task.distance != 100000 && presented.template.showtaskdistances == true">{{task.distance > 1 ? task.distance : task.distance * longDistanceUnitsToSmallMultiplier | number:2}} {{task.distance > 1 ? longDistanceUnits : shortDistanceUnits}}</span></span>
                            </div>
                            <div style="clear:both"></div>

                            <div ng-bind-html="getTaskDescription(task)"></div>
                            <div class="schedule-task-list-status">
                                <input type="checkbox" ng-model="task.selectedInGroup" ng-if="creatingGroup == true" />
                                <i ng-if="task.status == 'paused'" class="icon-pause text-warning schedule-task-icon"></i>
                                <i ng-if="task.status == 'active' || task.status == 'finishing' || task.status == 'finishing-incomplete'" class="icon-edit text-warning schedule-task-icon"></i>
                                <span class="label label-info time" ng-if="task.starttime != null && presented.template.showstarttimes == true"><i class="icon-time"></i>&nbsp;{{task.starttime | amDateFormat: 'HH:mm:ss'}}</span>
                                <span ng-if="task.clientDateTimeReceived" class="label label-info">{{task.clientDateTimeReceived | date:'shortTime'}}</span>
                            </div>
                            <div ng-if="task.loading" class="loading-container">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div ng-if="editing" class="fullscreen fullscreen-animate">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <ul class="nav three-buttons-spread-evenly" ng-if="showing == 'player'">
                        <li><button class="btn" ng-disabled="buttonstates.areAjaxing" ng-if="(canBack == true && multiPage == true) && editing.status != 'finished'" ng-click="back()"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;Back</button></li>
                        <li><button class="btn" href="#" ng-click="closeCurrent()"><i class="icon-remove-circle"></i>&nbsp;Close</button></li>
                        <li><button class="btn" ng-disabled="buttonstates.areAjaxing" ng-if="editing.status != 'finished'" ng-click="next()">Next&nbsp;<i class="icon-circle-arrow-right icon-white"></i></button></li>
                    </ul>

                    <ul class="nav" ng-if="showing == 'folder'">
                        <li><button class="btn" href="#" ng-click="gotoParentFolder()"><i class="icon-arrow-up icon-white"></i>&nbsp;Back</button></li>
                    </ul>

                    <ul ng-if="showing != 'player'" class="nav" style="float:right;">
                        <li ng-click="closeCurrent()"><button class="btn" href="#"><i class="icon-remove-circle"></i>&nbsp;Back To Task List</button></li>
                    </ul>
                </div>
            </div>
            <div class="content" ng-if="showing == 'clockings'" style="position:static">
                <question-tasklist-clockinclockout-ui ng-if="editing.userinterfacetype == 0"></question-tasklist-clockinclockout-ui>
                <question-tasklist-desktop-ui ng-if="editing.userinterfacetype == 1"></question-tasklist-desktop-ui>
                <question-tasklist-startfinish-ui ng-if="editing.userinterfacetype == 2"></question-tasklist-startfinish-ui>
                <question-tasklist-productordering-ui ng-if="editing.userinterfacetype == 3"></question-tasklist-productordering-ui>
            </div>

            <div class="content" ng-if="showing == 'player'" style="overflow-y:auto" fill-height>
                <play-embedded ng-model="workingdocumentid" are-ajaxing="buttonstates.areAjaxing"></play-embedded>
            </div>
            <div class="content" ng-if="showing == 'folder'" style="overflow-y:auto" fill-height>
                <question-tasklist-folder></question-tasklist-folder>
            </div>
        </div>
        <hr />
        <p class="muted">{{getExecutionQueueLength()}} queued commands</p>
        <p class="muted" am-time-ago="validFromDate"></p>
    </div>

    <div ng-if="creatingTask" class="fullscreen fullscreen-animate">
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="#">&nbsp;&nbsp;<translate>Create Task</translate></a>

                <ul class="nav" style="float:right;font-size:15pt;font-weight:normal">
                    <li ng-click="closeCreateTask()"><a href="#"><i class="icon-remove-circle"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="content" style="position:static">
            <question-tasklist-newtask-ui ng-model="currentTemplate" presented="presented"></question-tasklist-newtask-ui>
        </div>
    </div>

    <div ng-if="chooseQSTSites" class="fullscreen fullscreen-animate">
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="#">&nbsp;&nbsp;<translate>Choose Task</translate></a>

                <ul class="nav" style="float:right;font-size:15pt;font-weight:normal">
                    <li ng-click="hideQSTSitesDialog()"><a href="#"><i class="icon-remove-circle"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="content" style="position:static">
            <div ng-repeat="qst in chooseQSTSites">
                <h4>{{ qst.site.Name }}</h4>
                <div class="schedule-task-list-task-row schedule-task-list-shortcut" ng-click="startQSTTask(qst.site, shortcut)" ng-hide="creatingGroup == true" ng-repeat="shortcut in qst.tasktypes">
                    <div class="schedule-task-list-image">
                        <img ng-if="shortcut.mediaid != null" ng-src="{{imageUrl}}/{{shortcut.mediaid}}.png?width=75" />
                    </div>
                    <div class="schedule-task-list-details">
                        {{shortcut.text}}
                    </div>
                    <div class="schedule-task-list-status">
                        <i class="icon-plus-sign"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

