﻿<ul class="thumbnails fullscreen-panel-animate">
    <li class="span4" ng-repeat="file in currentFolder.files | filter:{ isimage: true }">
        <a href="#" class="thumbnail">
            <img ng-src="{{mediaurl}}/{{file.id}}.png?zoom=1" alt="">
        </a>
    </li>
</ul>

<ul class="thumbnails fullscreen-panel-animate">
    <li class="span4" ng-repeat="folder in currentFolder.folders">
        <a href="#" class="thumbnail" ng-click="gotoFolder(folder)">
            <h3>{{folder.text}}</h3>
        </a>
    </li>
</ul>