﻿<div class="schedule-task-list-savefinish-ui">
    <div ng-if="currentOrder == null">
        <h4>{{editing.name}}</h4>
        <h5 ng-bind-html="getTaskDescription(editing)"></h5>
    </div>

    <div class="fullscreen-panel-animate" ng-if="editing.status == 'new' || editing.status == 'paused' && reviewing == false">
        <button class="btn btn-success schedule-task-button" ng-click="clockin(editing)">
            <i class="icon-play"></i> <translate>Start</translate>
        </button>
    </div>

    <div class="fullscreen-panel-animate" ng-if="currentOrder == null && editing.status == 'active' && reviewing == false">
        <button class="btn schedule-task-button" ng-click="editOrder(editing, c)" ng-repeat="c in editing.catalogs">
            {{ c.name }}
        </button>
    </div>

    <div class="fullscreen-panel-animate" ng-if="currentOrder != null && editing.status == 'active' && reviewing == false">
        <h5>{{currentCatalog.name}}</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th translate>Product</th>
                    <th translate>Min</th>
                    <th translate ng-if="currentCatalog.stockcountwhenordering">On Hand</th>
                    <th translate>Quantity</th>
                    <th translate ng-if="currentCatalog.showpricingwhenordering">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in currentCatalog.items">
                    <td><span ng-if="item.mediaid != null"><media-image ng-model="item.mediaid" type="media" width="75"></media-image></span>{{item.name}}</td>
                    <td>{{item.minstocklevel}}</td>
                    <td ng-if="currentCatalog.stockcountwhenordering"><input type="number" ng-model="item.stock" style="width:50px" ng-change="calculateQuantity(item, currentCatalog)" /></td>
                    <td><input type="number" ng-model="item.quantity" style="width:50px" /></td>
                    <td ng-if="currentCatalog.showpricingwhenordering">{{item.price | currency}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success schedule-task-button" ng-click="saveOrder(currentCatalog, currentOrder)">
            <i class="icon-ok"></i>&nbsp;Save
        </button>
        <button class="btn btn-warning schedule-task-button" ng-click="cancelEdit(currentCatalog, currentOrder)">
            <i class="icon-ban-circle"></i>&nbsp;Cancel
        </button>
        <button class="btn btn-danger schedule-task-button" ng-click="deleteOrder(currentCatalog, currentOrder)">
            <i class="icon-trash"></i>&nbsp;Delete
        </button>
    </div>

    <div class="fullscreen-panel-animate" ng-if="reviewing == true">
        <p translate>Please review the order below</p>
        <div ng-repeat="c in reviewCatalogs">
            <h5>{{c.name}}</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th translate>Product</th>
                        <th translate>Min</th>
                        <th translate ng-if="c.stockcountwhenordering">On Hand</th>
                        <th translate>Quantity</th>
                        <th translate ng-if="c.showpricingwhenordering">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in c.items">
                        <td><span ng-if="item.mediaid != null"><media-image ng-model="item.mediaid" type="media" width="75"></media-image></span>{{item.name}}</td>
                        <td>{{item.minstocklevel}}</td>
                        <td ng-if="c.stockcountwhenordering">{{item.stock}}</td>
                        <td>{{item.quantity}}</td>
                        <td ng-if="c.showpricingwhenordering">{{item.price | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-warning schedule-task-button" ng-click="changeReviewing(false)"><i class="icon-arrow-left"></i> <translate>Back</translate></button>
        <button class="btn btn-danger schedule-task-button" ng-click="doFinish()">
            <i class="icon-ok"></i> <translate>Finish</translate>
        </button>
    </div>

    <div class="fullscreen-panel-animate" ng-if="currentOrder == null && editing.status == 'active' && reviewing == false">
        <button class="btn btn-danger schedule-task-button" ng-click="reviewOrders()">
            <i class="icon-ok"></i> <translate>Finish</translate>
        </button>
        <p ng-if="editing.finishErrorCount > 0" class="text-error">A problem was encountered, click Finish to try again.</p>
    </div>
</div>