﻿<div question-wrapper="presented">
    <div ng-switch on="presented.viewas">
        <ol ng-switch-when="NumberedList">
            <li ng-repeat="item in presented.items"><strong><span ng-bind-html="item.title | unsafeHtml"></span>:</strong>&nbsp;<span ng-bind-html="item.headline | unsafeHtml"></span></li>
        </ol>
        <div ng-switch-when="BlockquoteList">
            <blockquote ng-repeat="item in presented.items">
                <strong><span ng-bind-html="item.title | unsafeHtml"></span></strong><br />
                <span ng-bind-html="item.headline | unsafeHtml"></span>
            </blockquote>
        </div>
        <div ng-switch-default class="alert" ng-class="{'alert-error': presented.viewas == 'AlertError', 'alert-info': presented.viewas == 'AlertInfo', 'alert-success': presented.viewas == 'AlertSuccess' }">
            <div ng-repeat="item in presented.items">
                <strong><span ng-bind-html="item.title | unsafeHtml"></span>:</strong>&nbsp;<span ng-bind-html="item.headline | unsafeHtml"></span>
            </div>
        </div>
    </div>
</div>