﻿<div question-wrapper="presented" render-prompt="false">
    <div style="position:relative;">
        <canvas ng-if="presented.highchart.chart.type == 'bar'" class="chart chart-bar" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors"></canvas>
        <canvas ng-if="presented.highchart.chart.type == 'line'" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors"></canvas>
        <canvas ng-if="presented.highchart.chart.type == 'pie'" class="chart chart-pie" chart-data="data[0]"
                chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors"></canvas>
        <canvas ng-if="presented.highchart.chart.type == 'doughnut'" class="chart chart-doughnut" chart-data="data[0]"
                chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors"></canvas>
    </div>
</div>