﻿<div question-wrapper="presented">
    <div ng-if="!showSelectProbe && !showCalibrateProbe" class="pH-probe" ng-class="{pass: reading >= presented.MinimumPassReading && reading <= presented.MaximumPassReading}">
        <div ng-if="!supported">
            <div class="alert alert-error">pH probe is not supported on the device or browser that your are using</div>
        </div>
        <div class="hero-unit">
            <div ng-if="probe" ng-switch on="probe.status">
                <div class="probe-container" ng-switch-when="2">
                    <div class="probe probe-top" ng-class="['pHprobe-justright','pHprobe-toolow','pHprobe-toohigh','pHprobe-noreading'][readingStatus]" ng-click="record()">
                        <div class="top">
                            <strong>Current pH</strong>
                        </div>
                        <div class="left">
                            Min: {{ presented.MinimumPassReading }}
                        </div>
                        <div class="right">
                            Max: {{ presented.MaximumPassReading }}
                        </div>
                        <div class="center">
                            {{ reading }}
                        </div>
                        <div class="top-right">
                            {{ pHProbeSvc.current_pH.celcius | number: 1 }}&deg;c
                        </div>
                        <div ng-switch on="readingStatus" class="bottom">
                            <div ng-switch-when="1">
                                Too Low
                            </div>
                            <div ng-switch-when="2">
                                Too High
                            </div>
                            <div ng-switch-when="0">
                                Click to Record
                            </div>
                        </div>
                    </div>
                    <div class="probe probe-bottom" ng-class="['pHprobe-justright','pHprobe-toolow','pHprobe-toohigh','pHprobe-noreading'][recordedStatus]" ng-click="clearRecorded()">
                        <div class="top">
                            <strong>Recorded pH</strong>
                        </div>
                        <div class="center">
                            {{ answer.pH }}
                        </div>
                        <div ng-switch on="recordedStatus" class="bottom">
                            <div ng-switch-when="1">
                                Too Low
                            </div>
                            <div ng-switch-when="2">
                                Too High
                            </div>
                            <div ng-switch-when="0">
                                Click to Clear
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert" ng-switch-default ng-class="['alert-info','alert-warning','alert-success','alert-warning','alert-error'][probe.status]">
                    {{ probe.statusText }}
                </div>
                <p class="muted pull-right">
                    <span>
                        <div>Serial # {{ probe.serialNumber }}</div>
                        <div>Battery {{ battery.percent * 100 | number : 0 }}%</div>
                        <button class="btn btn-small" ng-click="selectProbe()">Change Probe</button>
                        <button class="btn btn-small" ng-click="calibrateProbe()">Calibrate Probe</button>
                        <div class="alert" ng-class="['alert-error', 'alert-error', 'alert-success'][probe.calibrationStatus]">
                            Last calibrated:
                            <span ng-if="probe.calibrationStatus == 0">Never</span>
                            <span ng-if="probe.calibrationStatus == 1" am-time-ago="probe.lastCalibratedOnUtc"></span>
                            <span ng-if="probe.calibrationStatus == 2" am-time-ago="probe.lastCalibratedOnUtc"></span>
                        </div>
                    </span>
                </p>
            </div>
        </div>
        <div class="alert alert-error" ng-if="supported &amp;&amp; !probe">
            Not connected
            <button class="btn btn-warning" ng-click="selectProbe()">Select Probe</button>
        </div>
    </div>
</div>

<div ng-if="showSelectProbe" class="well">
    <div class="modal-header">
        <button type="button" class="btn btn-warning pull-right" ng-click="closeSelectProbe()">Close</button>
        <h3 translate>Select Probe</h3>
    </div>
    <div class="control-group">
        <p>Select probe below<span ng-if="disposeOnButton">&nbsp;or press button on the probe to select it</span></p>
        <div class="alert alert-info" ng-if="probes.length == 0">
            <h4>No probes found</h4>
        </div>
        <ul class='thumbnails' ng-if="probes.length">
            <li ng-repeat="probe in probes" ng-click="connect(probe)" class='span4'>
                <div class='thumbnail alert' ng-class="['alert-info','alert-warning','alert-success','alert-warning','alert-error'][probe.status]">
                    <p>
                        Serial # {{ probe.serialNumber }}
                    </p>
                    <p class='muted'>
                        {{ probe.statusText }}
                        <a class='btn pull-right btn-warning' ng-if='isActiveProbe(probe)' ng-click='connect(null); $event.stopPropagation();'>Disconnect</a>
                    </p>
                </div>
            </li>
        </ul>
        <div class="alert alert-info">
            If you cannot find your probe, make sure
            <ol>
                <li>The probe has batteries and turned on (press button, the red LED should flash quickly whilst searching)</li>
                <li>Bluetooth is Enabled on this device</li>
            </ol>
        </div>
    </div>
</div>

<div ng-if="showCalibrateProbe" class="well">
    <div class="modal-header">
        <button type="button" class="btn btn-warning pull-right" ng-click="closeCalibrateProbe()">Close</button>
        <h3 translate>Calibrate Probe</h3>
    </div>
    <div class="control-group" style="height:30%">
        <div ng-switch on="calibrationSequence.state">
            <div ng-switch-when="0">
                Press the Start button to begin calibrating
            </div>
            <div ng-switch-when="1">
                Rinse and clean the electrode, place it in one of the buffer solutions.
                Stir gently, once the pH value has stabilised press the button for the relevant buffer.
            </div>
            <div ng-switch-when="2">
                pH {{ calibrationSequence.calibrated[0].pHtext }} calibration complete.
                You may now calibrate for a second buffer solution.
                Either {{ calibrationSequence.uncalibrated[0].pH }} or {{ calibrationSequence.uncalibrated[1].pHtext }}.
                Rinse and dry your electrode before placing it in the solution.
            </div>
            <div ng-switch-when="3">
                You have calibrated this electrode at pH {{ calibrationSequence.calibrated[0].pHtext }} and {{ calibrationSequence.calibrated[1].pHtext }}.
                You may hit Save now to complete calibration, or place it in the {{ calibrationSequence.uncalibrated[0].pHtext }} buffer solution to complete a 3-point calibration (Recommended)
            </div>
            <div ng-switch-when="4">
                3-point calibration complete.  The electrode was successfully calibrated and is now ready to use.
            </div>
        </div>

        <div class="calibrate-buttons" ng-if="calibrationSequence.state != 4">
            <div class="probe probe-top" >
                <div class="top">
                    <strong>Current pH</strong>
                </div>
                <div class="center">
                    {{ reading }}
                </div>
            </div>

            <div class="calibrate-button-container">
                <div ng-click="calibrationSequence.calibrationBuffer1.calibrate()" class="calibrate-button buffer1" ng-class="{calibrated: calibrationSequence.calibrationBuffer1.calibrated}">
                    <div class="center">
                        {{ calibrationSequence.calibrationBuffer1.pH }}<br />pH
                    </div>
                </div>
            </div>
            <div class="calibrate-button-container">
                <div ng-click="calibrationSequence.calibrationBuffer2.calibrate()" class="calibrate-button buffer2" ng-class="{calibrated: calibrationSequence.calibrationBuffer2.calibrated}">
                    <div class="center">
                        {{ calibrationSequence.calibrationBuffer2.pH }}<br />pH
                    </div>
                </div>
            </div>
            <div class="calibrate-button-container">
                <div ng-click="calibrationSequence.calibrationBuffer3.calibrate()" class="calibrate-button buffer3" ng-class="{calibrated: calibrationSequence.calibrationBuffer3.calibrated}">
                    <div class="center">
                        {{ calibrationSequence.calibrationBuffer3.pH }}<br />pH
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-large btn-primary" ng-click="calibrationSequence.start()" ng-if="calibrationSequence.canStart">Start</button>
        <button type="button" class="btn btn-large btn-success" ng-click="saveCalibration()" ng-if="calibrationSequence.canStop">Save</button>
    </div>

</div>
