﻿<div question-wrapper="presented">
    <div class="sigPad signed" signaturepad>
        <div class="sigWrapper">
            <div class="typed" style="display:none"></div>
            <canvas class="pad"></canvas>
            <input type="hidden" />
        </div>
    </div>
    <div>
        <button class="btn" type="button" ng-click="clearSignature()"><i class="icon-trash"></i>&nbsp;<translate>Clear Signature</translate></button>
    </div>
</div>