﻿<div question-wrapper="presented">
    <date-picker ng-model="answer.DateTime" pass-through-style="{{presented.HtmlPresentation.CustomStyling}}" ng-change="dateChanged()" date-on-render="dateOnRender(date)"></date-picker>
</div>