﻿<div ng-controller="SectionController as section">
    <div ng-class="{ 'section-deepedit': presented.enabledeepedit }">
        <div ng-if="presented.enabledeepedit" class="btn-deepedit">
            <div class="btn btn-primary deepedit" ng-click="toggleDeepEditMode()" ng-class="{ 'deepedit-edit': !deepEdit.readonly }">{{ ['Done','Edit'][deepEdit.readonly ? 1 : 0] }}</div>
        </div>

        <div question-wrapper="presented" ng-if="presented.HtmlPresentation.Layout == 1" ng-hide="presented.Visible == false">
            <table class="table table-bordered table-striped {{presented.HtmlPresentation.CustomClass}}">
                <tr ng-repeat="p in presented.Children" ng-hide="p.Visible == false">
                    <td ng-repeat="pc in p.Children" class="{{pc.HtmlPresentation.CustomClass}}" bwk-style="{{pc.HtmlPresentation.CustomStyling}}">
                        <div render-question="pc" answers="answers" page-scope="pageScope"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div question-wrapper="presented" ng-if="presented.HtmlPresentation.Layout == 0" ng-hide="presented.Visible == false">
            <div ng-if="presented.AllowFilterByCategory == true && presented.ChildCategories.length > 0">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Viewing Category: {{selectedcategory.Category}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu section-category-selector">
                        <li ng-repeat="category in presented.ChildCategories"><a ng-click="selectcategory(category)" href="">{{category.Category}}&nbsp;<span ng-if="category.ErrorCount > 0" class="badge badge-important">{{category.ErrorCount}}</span></a></li>
                        <!--<li><a ng-click="selectcategory(allquestionscategory)" href="">{{allquestionscategory.Category}}</a></li>-->
                    </ul>
                </div>
            </div>

            <div ng-repeat="p in presented.Children | filter:filterByCategory(p)" ng-hide="p.Visible == false" render-question="p" answers="answers" page-scope="pageScope">
            </div>
        </div>
        <div question-wrapper="presented" ng-if="presented.HtmlPresentation.Layout == 3" ng-hide="presented.Visible == false">
            <!-- Tabbed -->
            <ul class="nav nav-tabs">
                <li tabify="" ng-repeat="c in presented.Children | filter:{ 'PresentedType': 'Section' }" ng-hide="c.Visible == false"><a title="#{{c.Prompt}}" href="#{{c.tabId}}" data-toggle="tab">{{c.Prompt}}</a></li>
            </ul>
            <div class="tab-content" style="overflow:inherit">
                <div tabify-tab="" ng-class="{active: $first}" ng-repeat="c in presented.Children | filter:{ 'PresentedType': 'Section'}" ng-hide="c.Visible == false" class="tab-pane" id="{{c.tabId}}">
                    <div render-question="c" answers="answers" page-scope="pageScope"></div>
                </div>
            </div>
        </div>
        <div ng-if="presented.HtmlPresentation.Layout == 4" ng-hide="presented.Visible == false">
            <!-- Modal -->
            <div class="modal-large hide fade" modalify="presented.Visible">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{presented.Prompt}}</h3>
                </div>
                <div class="modal-body">
                    <div ng-repeat="p in presented.Children | filter:filterByCategory(p)" ng-hide="p.Visible == false" render-question="p" answers="answers" page-scope="pageScope">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                </div>
            </div>
        </div>
        <div ng-if="presented.HtmlPresentation.Layout == 5" ng-hide="presented.Visible == false">
            <!-- FullScreen -->
            <div class="fullscreen fullscreen-animate" ng-if="presented.Visible == true">
                <div class="navbar navbar-fixed-top navbar-inverse">
                    <div class="navbar-inner">
                        <a class="brand" href="#">&nbsp;&nbsp;{{presented.Prompt}}</a>

                        <ul class="nav" style="float:right;font-size:15pt;font-weight:normal">
                            <li ng-click="close()"><a href="#"><i class="icon-remove-circle"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="content" style="overflow-y:auto;" fill-height initial-delay="500">
                    <div ng-repeat="p in presented.Children | filter:filterByCategory(p)" ng-hide="p.Visible == false" render-question="p" answers="answers" page-scope="pageScope">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>