﻿<div question-wrapper="presented">
    <div class="schedule-criteria">
        <table ng-if="answer.criteriastate != 'loading'" class="table table-striped">
            <tr>
                <td translate>Date:</td>
                <td><input dateify="" ng-model="presented.criteria.startdate" />&nbsp;<button class="btn btn-success" ng-click="getschedule(presented.criteria)" translate>Load</button></td>
            </tr>
        </table>
    </div>
    <div class="schedule" ng-if="answer.schedule.Rows.length > 0">
        <div class="schedule-title-container">
            <div class="schedule-title-row">
                {{answer.schedule.RowTitle}}
            </div>
            <div class="schedule-title-row" ng-repeat="p in answer.schedule.Rows">{{p.Text}}</div>
        </div>
        <div class="schedule-body-scroller">
            <div class="schedule-body-hours" ng-style="{width:answer.hourwidth*26 + 'px'}">
                <span class="schedule-body-hour" ng-repeat="h in answer.hours" ng-style="{width:answer.hourwidth + 'px'}">{{h}}</span>
            </div>
            <div class="schedule-body-container" ng-style="{width:answer.hourwidth*26 + 'px'}">
                <div class="schedule-body-rows-background">
                    <div class="schedule-body-row" ng-repeat="p in answer.schedule.Rows">
                        <span class="schedule-body-hour" ng-repeat="h in answer.hours" ng-style="{width:answer.hourwidth + 'px'}">&nbsp;</span>
                    </div>
                </div>

                <div class="schedule-body-rows" style="top:0px;">
                    <div class="schedule-body-row" ng-repeat="p in answer.schedule.Rows">
                        <span class="schedule-body-task" ng-style="{width:(answer.hourwidth * (l.Duration/3600)) + 'px', maxWidth:(answer.hourwidth * (l.Duration/3600)) + 'px', left:datetimeAsSeconds(l.Start) * (answer.hourwidth/3600) + 'px'}" ng-repeat="l in p.Items">{{l.Text}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="answer.schedule.Rows.length == 0" class="alert alert-info" translate>
        No activity is currently logged for the date selected.
    </div>
</div>