﻿<style>
    .btn-group-wrap {
        white-space:normal;
    }
</style>
<div question-wrapper="presented" ng-if="presented.template.hidewhentaskspresent == false || isvisible == true">
    <div ng-if="ui == 'start'">
        <button class="btn schedule-task-button" ng-click="showProvidingRosters()" ng-disabled="!buckets.length">
            <span>{{ presented.promptAsHtml }}</span>
        </button>
    </div>
    <div ng-if="ui == 'showprovidingrosters'">
        <p translate ng-if="providingRostersFirstLetter.length > 0">Select the roster to claim from, use the buttons below to limit the list first</p>
        <p translate ng-if="providingRostersFirstLetter.length === 0">There are no rosters to claim from</p>
        <div class="btn-group btn-group-wrap" data-toggle="buttons-radio" >
            <button type="button" class="btn btn-large btn-primary " ng-repeat="fl in providingRostersFirstLetter" ng-click="fl.click()">
                {{fl.letters}}
            </button>
        </div>
        <button class="btn schedule-task-button btn-info" ng-click="back()"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;Back</button>
        <button class="btn schedule-task-button" ng-repeat="r in providingRosters" ng-click="selectProvidingRoster(r)">
            {{r.alldata.RosterName}}
        </button>
    </div>
    <div ng-if="ui == 'showbuckets'">
        <p translate ng-if="bucketsFirstLetter.length > 0">Select the duty list to claim from, use the buttons below to limit the list first</p>
        <p translate ng-if="bucketsFirstLetter.length === 0">There are no duty lists in this roster to claim from</p>
        <div class="btn-group btn-group-wrap" data-toggle="buttons-radio">
            <button type="button" class="btn btn-large btn-primary " ng-repeat="fl in bucketsFirstLetter" ng-click="fl.click()">
                {{fl.letters}}
            </button>
        </div>
        <button class="btn schedule-task-button btn-info" ng-click="back()"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;Back</button>
        <button class="btn schedule-task-button" ng-repeat="b in rosterBuckets" ng-click="selectRosterBucket(b)">
            <h3>{{b.name}}</h3>
            <p ng-if="b.userId && b.name !== b.userName">{{b.userName}}</p>
        </button>
    </div>
    <div ng-if="ui == 'confirmbucket'">
        <p translate ng-if="presented.template.allowassignmenttootherusers">The following tasks will be assigned.</p>
        <p translate ng-if="!presented.template.allowassignmenttootherusers">The following tasks will be assigned to you.</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Site</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in bucket.tasks">
                    <td>{{t.name}}</td>
                    <td ng-bind-html="t.description"></td>
                    <td>{{t.sitename}}</td>
                    <td>{{t.tasktypename}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn schedule-task-button btn-info" ng-click="back()"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;Back</button>
        <button class="btn schedule-task-button btn-success" ng-click="claimBucket(bucket)" ng-if="!presented.template.allowassignmenttootherusers"><i class="icon-ok"></i>&nbsp;Claim</button>
        <button class="btn schedule-task-button btn-success" ng-click="assignBucket(bucket)" ng-if="presented.template.allowassignmenttootherusers"><i class="icon-ok"></i>&nbsp;Assign</button>
    </div>
    <div ng-if="ui == 'showreceivingrosters'">
        <p translate ng-if="receivingRostersFirstLetter.length > 0">Select the roster containing the user you are wanting to assign the tasks to, use the buttons below to limit the list first</p>
        <p translate ng-if="receivingRostersFirstLetter.length === 0">There are no available rosters to assign to</p>
        <div class="btn-group btn-group-wrap" data-toggle="buttons-radio" >
            <button type="button" class="btn btn-large btn-primary " ng-repeat="fl in receivingRostersFirstLetter" ng-click="fl.click()">
                {{fl.letters}}
            </button>
        </div>
        <button class="btn schedule-task-button btn-info" ng-click="back()"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;Back</button>
        <button class="btn schedule-task-button" ng-repeat="r in receivingRosters" ng-click="selectReceivingRoster(r)">
            {{r.alldata.RosterName}}
        </button>
    </div>
    <div ng-if="ui == 'selectrosteruser'">
        <p translate>Select the user you are wanting assign the tasks to, use the buttons below to limit the list first</p>
        <div class="btn-group btn-group-wrap" data-toggle="buttons-radio">
            <button type="button" class="btn btn-large btn-primary " ng-repeat="fl in rosterUsersFirstLetter" ng-click="fl.click()">
                {{fl.letters}}
            </button>
        </div>
        <button class="btn schedule-task-button btn-info" ng-click="back()"><i class="icon-circle-arrow-left icon-white"></i>&nbsp;Back</button>
        <button class="btn schedule-task-button" ng-repeat="u in rosterUsers" ng-click="claimBucket(bucket, u.alldata.UserId, roster.alldata.RosterId)">
            {{u.alldata.Name}}
        </button>
    </div>
    <div ng-if="ui == 'assigning'">
        <div class="alert alert-info" translate>Assigning tasks, please wait...</div>
    </div>
</div>