﻿<div question-wrapper="presented">
    <address id="companysummary-address-{{presented.Id}}">
        <strong>{{answer.company.name}}</strong><br />
        {{answer.company.address.street}}<br />
        {{answer.company.address.town}}<br />
        {{answer.company.address.state}}<br/>
        {{answwr.company.address.postcode}}
    </address>
    <div class="row-fluid">
        <div class="span8">
            <h4 translate>Employees</h4>
        </div>
        <div class="span4" style="text-align:right">
            <button id="companysummary-add-{{presented.Id}}" class="btn" ng-click="shownewuserdialog()" translate>Add</button>
        </div>
    </div>

    <table id="companysummary-employees-{{presented.Id}}" class="table table-bordered table-hover">
        <thead>
        <th translate>Name</th>
        <th translate>Role</th>
        <th translate>Email</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in answer.users">
                <td>{{user.name}}</td>
                <td>{{user.type}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>

    <div ng-if="answer.shownewuser == true" class="modal hide fade newuserdialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 translate>New Employee</h3>
        </div>
        <div class="modal-body">
            <form name="newuserform" class="form-horizontal">
              <div class="control-group" ng-class="{error: newuserform.inputName.$invalid && newuserform.inputName.$pristine == false}">
                  <label class="control-label" for="inputName" translate>Name</label>
                <div class="controls">
                    <input type="text" id="inputName" name="inputName" ng-model="answer.currentuser.name" required placeholder="{{ 'Name' | translate }}"><span ng-if="newuserform.inputName.$invalid && newuserform.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
              </div>
              <div class="control-group" ng-class="{error: answer.currentuser.exists || (newuserform.inputEmail.$invalid && newuserform.inputEmail.$pristine == false)}">
                  <label class="control-label" for="inputEmail" translate>Email</label>
                <div class="controls">
                    <input type="email" ng-model="answer.currentuser.email" uniqueusername id="inputEmail" name="inputEmail" required placeholder="{{ 'Email' | translate }}"><span ng-if="newuserform.inputEmail.$error.uniqueusername" class="help-inline" translate>Email address already exists</span><span ng-if="!newuserform.inputEmail.$error.uniqueusername && newuserform.inputEmail.$invalid && newuserform.inputEmail.$pristine == false" class="help-inline" translate>This field is mandatory and a valid email address</span>
                </div>
              </div>
              <div class="control-group" ng-class="{error: newuserform.inputUsertype.$invalid && newuserform.inputUsertype.$pristine == false}">
                  <label class="control-label" for="inputUsertype" translate>Type</label>
                <div class="controls">
                    <select ng-model="answer.currentuser.type" id="inputUsertype" name="inputUsertype" required ng-options="s.id as s.name for s in answer.availableusertypes"></select><span ng-if="newuserform.inputUsertype.$invalid && newuserform.inputUsertype.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
              </div>
              <div class="control-group" ng-class="{error: newuserform.inputPassword.$invalid && newuserform.inputPassword.$pristine == false}">
                  <label class="control-label" for="inputPassword" translate>Password</label>
                <div class="controls">
                    <input type="password" ng-model="answer.currentuser.password" required ng-minlength="6" ng-maxlength="12" id="inputPassword" name="inputPassword" placeholder="{{ 'Password' | translate }}"><span ng-if="newuserform.inputPassword.$invalid && newuserform.inputPassword.$pristine == false" class="help-inline" translate>This field is mandatory and must be between 6 and 12 characters</span>
                </div>
              </div>
              <div class="control-group" ng-class="{error: newuserform.inputConfirmPassword.$error.matches || (newuserform.inputConfirmPassword.$invalid && newuserform.inputConfirmPassword.$pristine == false)}">
                  <label class="control-label" for="inputConfirmPassword" translate>Confirm Password</label>
                <div class="controls">
                    <input type="password" ng-model="answer.currentuser.confirmpassword" matches="answer.currentuser.password" required ng-minlength="6" ng-maxlength="12" id="inputConfirmPassword" name="inputConfirmPassword" placeholder="{{ 'Confirm Password' | translate }}"><span ng-if="newuserform.inputConfirmPassword.$error.matches" class="help-inline" translate>Passwords do not match</span><span ng-if="!newuserform.inputConfirmPassword.$error.matches && newuserform.inputConfirmPassword.$invalid && newuserform.inputConfirmPassword.$pristine == false" class="help-inline" translate>This field is mandatory and must be between 6 and 12 characters</span>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
            <a href="#" class="btn btn-primary" ng-disabled="newuserform.$valid == false" ng-click="createnewuser(answer.currentuser)" translate>Save changes</a>
        </div>
    </div>
</div>