﻿<div class="question checkbox {{presented.HtmlPresentation.CustomClass}}" ng-show="presented.Visible">
    <ol class="list-striped" bwk-style="{{presented.HtmlPresentation.CustomStyling}}">
        <li>
            <label>
                <input type="checkbox" ng-model="presented.Answer.Value" ng-disabled="deepEdit.readonly"/>
                <span ng-hide="presented.HidePrompt || !shouldRenderPrompt || presented.promptAsHtml == null || presented.promptAsHtml == ''" ng-bind-html="presented.promptAsHtml"></span>
            </label>
        </li>
    </ol>

    <button ng-show="" class="btn" type="button">
        <i class="icon-book"></i>&nbsp;{{presented.Notes}}
    </button>

    <ul class="invalidcontainer" ng-if="presented.ValidationErrors.length > 0">
        <li class="invalidreason" ng-repeat="error in presented.ValidationErrors">{{error}}</li>
    </ul>
</div>