﻿<div question-wrapper="presented">
    <div ng-if="presented.ShowKeypad">
        <input class="question-number" type="text" readonly="readonly" ng-model="answer.Number" step="{{ presented.Step }}" bwk-style="{{presented.HtmlPresentation.CustomStyling}}" />
        <div class="well" style="max-width:500px; max-height:400px">
            <bc-keypad bc-number-model="answer.Number"
                       bc-left-button="backspace"
                       bc-keypad-type="{{presented.UseDecimalKeypad ? 'alternate' : 'normal'}}"></bc-keypad>
        </div>
    </div>
    <div ng-if="!presented.ShowKeypad">
        <input class="question-number" type="text" ng-model="answer.Number" ng-blur="validate('single')" step="{{ presented.Step }}" bwk-style="{{presented.HtmlPresentation.CustomStyling}}" />
    </div>
</div>