﻿<div question-wrapper="presented" ng-if="presented.hidewhennodata == false || (presented.hidewhennodata == true && feed.data.length > 0)">
    <table class="table" ng-class="{'table-striped': 'presented.stripes', 'table-bordered': 'presented.bordered', 'table-hover': 'presented.hover', 'table-condensed': 'presented.condense'}">
        <thead>
            <tr>
                <th ng-repeat="field in displayContainer.displayfields">{{field}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="{ 'selected': row == selectedRow}" ng-if="feed.data.length > 0" ng-repeat="row in feed.data" ng-click="rowclicked(row)">
                <td ng-repeat="field in displayContainer.displayfields"><question-datatable-cell field="field" row="row"></question-datatable-cell></td>
            </tr>
            <tr ng-if="feed.data.length == 0" class="info">
                <td colspan="{{displayContainer.displayfields.length}}" translate>
                    There are no more records available
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pager" ng-if="presented.showcontrols && feed.template.usepaging">
        <li><a href="#" ng-click="feed.previousPage()" ng-if="feed.page > 1">Previous</a></li>
        <li><a href="#" ng-click="feed.nextPage()" ng-if="feed.data.length > 0">Next</a></li>
    </ul>
</div>