﻿<register-translations>
    <duration-totaltime-seconds>{{ duration }} ({{ totaltime }} seconds)</duration-totaltime-seconds>
</register-translations>
<div question-wrapper="presented">
    <ul class="nav nav-tabs">
        <li tabify><a href="#viewing-summary-media" data-toggle="tab" translate>Media</a></li>
        <li><a href="#viewing-summary-users" data-toggle="tab" translate>Users</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="viewing-summary-media">
            <div ng-repeat="summary in data.mediasummaries">
                <div style="width:300px;float:left;padding:3px">
                    <h5 style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">{{summary.name}}</h5>
                    <div ng-model="summary" usercount="data.usercount" style="height:200px" question-media-viewing-summary-gauge></div>
                </div>
            </div>
        </div>
        <div class="tab-pane active" id="viewing-summary-users" style="background-color:rgba(255,255,255,0.65)">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th translate>User</th>
                        <th translate>Documents Read</th>
                        <th translate>Documents Accepted</th>
                        <th translate>Documents Not Read</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="summary in data.usersummaries">
                        <td><a ng-click="showUserDetails(summary)" href="">{{summary.usersname}}</a></td>
                        <td>{{summary.distinctreads}}</td>
                        <td>{{summary.totalaccepts}}</td>
                        <td>{{data.mediacount - summary.distinctreads}}</td>
                    </tr>
                    <tr ng-repeat-end ng-if="summary.showdetails">
                        <td colspan="4">
                            <div style="cursor:pointer" ng-click="showUserDetails(summary)"><i class="icon-remove"></i></div>
                            <div ng-if="summary.userdetail.views.length > 0">
                                <h3 translate>Viewing Summary</h3>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th translate>Media</th>
                                            <th translate>Total Views</th>
                                            <th translate>Total Time</th>
                                            <th translate>Mean Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="view in summary.userdetail.views">
                                            <td>
                                                <i ng-if="view.accepted == true" style="color:green" title="{{ 'User accepted' | translate }}" class="icon-ok"></i><i ng-if="view.accepted == false" style="color:red" title="{{ 'User did not accept' | translate }}" class="icon-remove"></i>&nbsp;{{view.name}}
                                                <div ng-if="view.accepted == false"><strong translate>Reason</strong><span ng-bind-html="view.acceptNoteAsHtml"></span></div>
                                            </td>
                                            <td>{{view.totalreads}}</td>
                                            <td translate translate-compile="false" translate-values="{duration: toDuration(view.totaltime), totaltime:view.totaltime}">duration-totaltime-seconds</td>
                                            <td translate translate-compile="false" translate-values="{duration: toDuration(view.totaltime/view.totalreads), totaltime:view.totaltime/view.totalreads}">duration-totaltime-seconds</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="summary.userdetail.notviewed.length > 0">
                                <h3 translate>Unread Documents</h3>
                                <ul>
                                    <li ng-repeat="notviewed in summary.userdetail.notviewed">{{notviewed.name}}</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>