﻿<ul class="media-list" ng-if="presented.showui">
    <li class="media" ng-repeat="feed in feedManagers">
        <div class="media-body">
            <h4 class="media-heading">{{feed.template.name}}</h4>
            <p ng-if="feed.template.refreshperiodseconds != '' && feed.isAjaxing == false">Refreshes in {{feed.countdown}} seconds</p>
            <p ng-if="feed.isAjaxing == true">Refreshing ...</p>
            <p ng-if="feed.isAjaxing == false && (feed.template.refreshperiodseconds == '' || feed.template.refreshperiodseconds == -1)">Feed does not refresh</p>
        </div>
    </li>
</ul>