﻿<div question-wrapper="presented">
    <div ng-switch on="presented.AllowMultiline">
        <input ng-switch-when="false" type="text" ng-model="answer.Text" ng-blur="validate('single')" bwk-style="{{presented.HtmlPresentation.CustomStyling}}" ng-readonly="deepEdit.readonly"/>
        <textarea ng-switch-when="true" ng-model="answer.Text" ng-blur="validate('single')" bwk-style="{{presented.HtmlPresentation.CustomStyling}}" ng-readonly="deepEdit.readonly"></textarea>
    </div>
</div>