﻿<div class="schedule-task-list-savefinish-ui">
    <div class="fullscreen-panel-animate" ng-if="editing.status == 'new' || editing.status == 'paused'">
        <button class="btn btn-success schedule-task-button" ng-click="clockin(editing)">
            <i class="icon-play"></i> <translate>Start</translate>
        </button>
    </div>

    <div class="fullscreen-panel-animate" ng-if="editing.status == 'active'">
        <button class="btn btn-danger schedule-task-button" ng-click="doFinish()">
            <i class="icon-ok"></i> <translate>Finish</translate>
        </button>
        <p ng-if="editing.finishErrorCount > 0" class="text-error">A problem was encountered, click Finish to try again.</p>
    </div>

    <div class="fullscreen-panel-animate" ng-if="editing.status == 'this should say finished'">
        <indeterminate-progress-indicator title="Communicating with the server" description="Attempting to complete the task, please wait this may take a few seconds to complete."></indeterminate-progress-indicator>
    </div>
</div>