﻿<register-translations>
    <location-acquired-you-are-currently-located-at>Location acquired; you are currently located at (<span ng-bind="coords.latitude"/>, <span ng-bind="coords.longitude"/>)</location-acquired-you-are-currently-located-at>
    <failed-to-acquire-location>Failed to acquire location: <span ng-bind="errorMessage"/></failed-to-acquire-location>
</register-translations>
<div question-wrapper="presented">
    <div class="control-group">
        <div class="controls" ng-switch="locateStatus">
            <div class="alert alert-info" ng-switch-when="locating">
                <translate>Please wait, calculating location... </translate><img ng-src="{{'~/Content/images/ajax-loader.gif' | url}}" alt="{{ 'Loading...' | translate }}"  class="player-ajaxloader-small"/>
            </div>
            <div class="alert alert-success" ng-switch-when="success" translate>location-acquired-you-are-currently-located-at</div>
            <div class="alert alert-error" ng-switch-when="failure" translate>failed-to-acquire-location</div>
        </div>
    </div>
</div>