﻿<div class="question-timesheet-management">
    <div>
        <div class="row-fluid">
            <div class="span3">
                Start Date
                <date-picker ng-model="startDate" id="inputStartDate"></date-picker>
            </div>
            <div class="span3">
                End Date
                <date-picker ng-model="endDate" id="inputEndDate"></date-picker>
            </div>
            <div class="span3">
                Roster<br />
                <select ng-model="selectedRoster" ng-options="option.alldata.Name for option in rosterFeed.data track by option.alldata.Id">
                </select>
            </div>
            <div class="span3">
                Highlight Difference (mins)<br />
                <input type="number" ng-model="highlightDuration" />
            </div>
        </div>
        <div class="schedule-users">
            <div ng-show="canShowTeamHierarchy()" class="well" fill-height additional-padding="80" style="overflow-y:auto">
                <ul class="nav nav-list">
                    <li class="nav-header" ng-click="selectUser(t)" ng-repeat="t in teamHierarchyFeed.data | filter: {alldata: {UserId: ''}}" ng-class="{'active': t.__isSelected}">
                        <a href="#"><i title="{{t.__status == 'Full' ? 'No changes since last save' : 'Changes since last save'}}" ng-if="t.__status != 'Empty'" class="icon-white" ng-class="{'icon-ok-sign': t.__status == 'Full', 'icon-eye-open': t.__status == 'Partial'}"></i>&nbsp;{{t.alldata.Name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="schedule-container" style="overflow-x:initial;overflow-y:initial" fill-height additional-padding="80">
            <table ng-show="selectedTimesheet.data.length > 0 && issaving == false" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="7" style="text-align:right">
                            <button class="btn btn-success" ng-click="save(selectedTimesheet)">Save</button>
                        </th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Scheduled Start</th>
                        <th>Actual Start</th>
                        <th>Approved Start</th>
                        <th>Scheduled End</th>
                        <th>Actual End</th>
                        <th>Approved End</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'expanded-top': selectedTimesheetItem == t }" ng-repeat-start="t in selectedTimesheet.data">
                        <td ng-class="{'expanded-left': selectedTimesheetItem == t }" style="position:relative">
                            <div ng-click="selectTimesheet(t)" style="cursor:pointer;">
                                <i class="icon-plus"></i>&nbsp;{{t.date | date:'fullDate'}}
                            </div>
                            <div ng-click="selectTimesheet(t)" style="cursor:pointer;">
                                <strong>Type</strong>: {{t.hierarchybucketoverridetypeid == null ? (timesheetItemTypeFeed.data | filter:{ alldata: {Id: t.timesheetitemtypeid} })[0].alldata.Name : (leaveTypeFeed.data | filter: { alldata: {Id: t.hierarchybucketoverridetypeid} })[0].alldata.Name }}
                            </div>
                            <div>
                                <strong>Pay As</strong>: <select ng-model="t.payastimesheetitemtypeid" ng-options="s.alldata.Id as s.alldata.Name for s in timesheetItemTypeFeed.data"></select>
                            </div>
                            <i title="{{t.__status == 'Full' ? 'No changes since last save' : 'Changes since last save'}}" ng-if="t.__status != 'Empty'" class="icon-white" ng-class="{'icon-ok-sign': t.__status == 'Full', 'icon-eye-open': t.__status == 'Partial'}" style="position:absolute;right:5px;top:-2px"></i>
                        </td>
                        <td>{{t.__schedulestarttimestring}}</td>
                        <td ng-class="{'highlight': t.__highlightstarttime == true }">{{t.__actualstarttimestring}}</td>
                        <td>
                            <h5>Shift</h5>
                            <div change="calculateApprovedDuration(t)" moment-picker="t.__approvedstartdatestring" ng-model="t.__approvedstartdate" format="DD/MM/YYYY">{{t.__approvedstartdatestring}}&nbsp;<i class="icon-time"></i></div>
                            <div change="calculateApprovedDuration(t)" moment-picker="t.__approvedstarttimestring" ng-model="t.__approvedstarttime" format="HH:mm">{{t.__approvedstarttimestring}}&nbsp;<i class="icon-time"></i></div>
                            <h5>Lunch</h5>
                            <div change="calculateApprovedDuration(t)" moment-picker="t.__scheduledlunchstartdatestring" ng-model="t.__scheduledlunchstartdate" format="DD/MM/YYYY">{{t.__scheduledlunchstartdatestring}}&nbsp;<i class="icon-time"></i></div>
                            <div change="calculateApprovedDuration(t)" moment-picker="t.__scheduledlunchstarttimestring" ng-model="t.__scheduledlunchstarttime" format="HH:mm">{{t.__scheduledlunchstarttimestring}}&nbsp;<i class="icon-time"></i></div>
                        </td>
                        <td>{{t.__scheduleendtimestring}}</td>
                        <td ng-class="{'highlight': t.__highlightendtime == true }">{{t.__actualendtimestring}}</td>
                        <td ng-class="{'expanded-right': selectedTimesheetItem == t }">
                            <h5>Shift</h5>
                            <div change="calculateApprovedDuration(t)" moment-picker=" t.__approvedenddatestring" ng-model="t.__approvedenddate" format="DD/MM/YYYY">{{t.__approvedenddatestring}}&nbsp;<i class="icon-time"></i></div>
                            <div change="calculateApprovedDuration(t)" moment-picker=" t.__approvedendtimestring" ng-model="t.__approvedendtime" format="HH:mm">{{t.__approvedendtimestring}}&nbsp;<i class="icon-time"></i></div>
                            <h5>Lunch</h5>
                            <div change="calculateApprovedDuration(t)" moment-picker="t.__scheduledlunchenddatestring" ng-model="t.__scheduledlunchenddate" format="DD/MM/YYYY">{{t.__scheduledlunchenddatestring}}&nbsp;<i class="icon-time"></i></div>
                            <div change="calculateApprovedDuration(t)" moment-picker="t.__scheduledlunchendtimestring" ng-model="t.__scheduledlunchendtime" format="HH:mm">{{t.__scheduledlunchendtimestring}}&nbsp;<i class="icon-time"></i></div>
                        </td>
                    </tr>
                    <tr class="expanded-bottom" ng-repeat-end ng-if="selectedTimesheetItem == t">
                        <td class="expanded-left expanded-right" colspan="7">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="4">
                                            Details
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Task</th>
                                        <th>Date Started</th>
                                        <th>Date Completed</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="w in selectedTimesheetItemData.worklog">
                                        <td style="position:relative">
                                            <div>{{w.name}}</div>
                                            <i title="{{w.__status == 'Full' ? 'No changes since last save' : 'Changes since last save'}}" ng-if="w.__status != 'Empty'" class="icon-white" ng-class="{'icon-ok-sign': w.__status == 'Full', 'icon-eye-open': w.__status == 'Partial'}" style="position:absolute;right:5px;top:2px"></i>
                                        </td>
                                        <td>{{w.datestarted | date:'medium'}}</td>
                                        <td style="position:relative">
                                            {{w.datecompleted | date:'medium'}}
                                            <i title="This task was Finished by the system" ng-if="w.taskstatus == 'FinishedBySystem'" class="icon-white icon-exclamation-sign" style="position:absolute;right:5px;top:2px"></i>
                                        </td>
                                        <td>{{w.durationseconds | duration}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-show="issaving == true">
                <p ng-show="issavingcomplete">Changes have been saved.</p>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="action in saveactions">
                            <td>
                                {{action.text}}
                            </td>
                            <td style="position:relative">
                                <div ng-if="action.loading == true" class="loading-container">
                                    <div class="spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div>
                                <i ng-if="action.complete == true" class="icon-ok"></i>
                                <span ng-if="action.complete == false && action.loading == false && action.loadAttempts > 0"><i class="icon-remove"></i>&nbsp;<a href="#" ng-click="action.commit(action)">Retry</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>