﻿<div ng-switch on="template.ui" ng-if="!deepEdit.readonly || order.total || order.fixedCount">
    <div ng-switch-when="tabularlisting">
        <h5><span ng-if='order.title'>{{ order.title }} - </span>{{ order.name }}</h5>
        <p class="catalogdescription" ng-if="order.description != null && order.description != '' && template.showcatalogdescriptions == true" ng-bind-html='order.description | unsafeHtml'></p>
        <table class="table table-bordered">
            <thead ng-if="!template.hidetitle">
                <tr>
                    <th class="product">{{template.producttitletext}}</th>
                    <th ng-if="order.showpricingwhenordering" class="price">{{template.pricetitletext}}</th>
                    <th ng-if="order.stockcountwhenordering" class="minstock">{{template.minstocktitletext}}</th>
                    <th ng-if="order.stockcountwhenordering" class="stock">{{template.stocktitletext}}</th>
                    <th class="quantity">{{template.quantitytitletext}}</th>
                    <th ng-if="order.showlineitemnoteswhenordering">{{template.lineitemnotestitletext}}</th>
                    <th ng-if="order.showpricingwhenordering" class="lineitemprice">{{template.lineitemtotaltitletext}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in order.items" ng-class="{ordered: item.quantity != undefined && item.quantity > 0}" ng-if="!deepEdit.readonly || item.quantity > 0 || item.fixed">
                    <td class="product">{{item.product}}</td>
                    <td ng-if="order.showpricingwhenordering" class="price">{{item.price | currency}}</td>
                    <td ng-if="order.stockcountwhenordering" class="minstock">{{item.minstocklevel}}</td>
                    <td ng-if="order.stockcountwhenordering" class="stock"><input type="number" ng-model="item.stock" /></td>
                    <td class="quantity">
                        <div ng-if="!item.fixed">
                            <input type="number" ng-model="item.quantity" ng-readonly="deepEdit.readonly" />&nbsp;<span ng-bind-html="trustAsHtml(item.units)"></span>
                        </div>
                        <div ng-if="item.fixed">{{ item.fixedText }}</div>
                        <div class="alert alert-error" ng-if="item.error">{{ item.error }}</div>
                        <div class="alert alert-info" ng-if="item.info">{{ item.info }}</div>
                    </td>
                    <td ng-if="order.showlineitemnoteswhenordering"><input type="text" ng-model="item.notes" ng-readonly="deepEdit.readonly" /></td>
                    <td ng-if="order.showpricingwhenordering" class="lineitemprice">{{item.totalPrice | currency}} <div ng-bind-html="item.priceNotes"></div></td>
                </tr>
                <tr ng-if="template.showsubtotals && order.showpricingwhenordering" class="total">
                    <td colspan="{{4 - (order.stockcountwhenordering == false ? 2 : 0) - (order.showpricingwhenordering == false ? 2 : 0)}}">{{template.catalogtotaltitletext}}</td>
                    <td class="total">{{order.totalQuantity}}</td>
                    <td ng-if="order.showlineitemnoteswhenordering"></td>
                    <td class="total">{{order.total | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-switch-default>
        <h5><span ng-if='order.title'>{{ order.title }} - </span>{{ order.name }}</h5>
        <p class="catalogdescription" ng-if="order.description != null && order.description != '' && template.showcatalogdescriptions == true" ng-bind-html='order.description | unsafeHtml'></p>
        <select ng-if="template.ui == 'addremove' && showconfigurechild == false && !deepEdit.readonly" id="type" ng-model="selected.product" ng-options="item as item.product for item in order.items | filter: {added:false, parentid:null, fixed:'!true'}">
            <option value="-1" selected="selected">Select Product</option>
        </select>
        <div ng-if="template.ui == 'addremovemanualentry' && showconfigurechild == false && !deepEdit.readonly" class="control-group">
            <div class="controls">
                <div class="inout-append">
                    <span class="addremovemanualentryprompt">{{template.addremovemanualentryprompt}}</span>
                    <input ng-model="selected.manualproducts" />
                    <span class="add-on">
                        <button ng-click="processManualEntry()" class="btn btn-success" tooltip="template.addremovemanualentrytooltip">Add</button>
                    </span>
                    <span class="addremovemanualentrynotes">
                        {{template.addremovemanualentrynotes}}
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead ng-if="!template.hidetitle">
                <tr>
                    <th class="product">{{template.producttitletext}}</th>
                    <th ng-if="order.showpricingwhenordering" class="price">{{template.pricetitletext}}</th>
                    <th ng-if="order.stockcountwhenordering" class="minstock">{{template.minstocktitletext}}</th>
                    <th ng-if="order.stockcountwhenordering" class="stock">{{template.stocktitletext}}</th>
                    <th class="quantity">{{template.quantitytitletext}}</th>
                    <th ng-if="order.showlineitemnoteswhenordering">{{template.lineitemnotestitletext}}</th>
                    <th ng-if="order.showpricingwhenordering" class="lineitemprice">{{template.lineitemtotaltitletext}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in order.items | filter: {added:true}" ng-class="{ordered: item.quantity != undefined && item.quantity > 0}" ng-if="!deepEdit.readonly || item.quantity > 0">
                    <td class="product"><button class="btn btn-danger" ng-click="removeitem(item)" ng-if="!deepEdit.readonly && !item.unremoveable"><i class="icon-trash"></i></button>&nbsp;{{item.product}}</td>
                    <td ng-if="order.showpricingwhenordering" class="price">{{item.price | currency}}</td>
                    <td ng-if="order.stockcountwhenordering" class="minstock">{{item.minstocklevel}}</td>
                    <td ng-if="order.stockcountwhenordering" class="stock"><input type="number" ng-model="item.stock" /></td>
                    <td class="quantity">
                        <div ng-if="!item.fixed">
                            <div ng-if="item.producttype.units != 5">
                                <input type="number" ng-model="item.quantity" ng-change="changeItemQuantity(item)" ng-readonly="deepEdit.readonly" />&nbsp;<span ng-bind-html="trustAsHtml(item.units)"></span>
                            </div>
                            <div ng-if="item.producttype.units == 5">
                                {{template.lengthbywidthlengthtext}}
                                <input type="number" ng-model="item.length" ng-change="changeItemLength(item)" ng-readonly="deepEdit.readonly" />
                                {{template.lengthbywidthwidthtext}}
                                <input type="number" ng-model="item.width" ng-change="changeItemWidth(item)" ng-readonly="deepEdit.readonly" />
                                <div>
                                    {{template.lengthbywidthareatext}} {{item.quantity}}<span ng-bind-html="trustAsHtml(item.units)"></span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="item.fixed">{{ item.fixedText }}</div>
                        <div class="alert alert-error" ng-if="item.error">{{ item.error }}</div>
                        <div class="alert alert-info" ng-if="item.info">{{ item.info }}</div>
                    </td>
                    <td ng-if="order.showlineitemnoteswhenordering"><input type="text" ng-model="item.notes" ng-readonly="deepEdit.readonly" /></td>
                    <td ng-if="order.showpricingwhenordering" class="lineitemprice">{{ item.totalPrice | currency }} <div ng-bind-html="item.priceNotes"></div></td>
                </tr>
                <tr ng-if="showconfigurechild" ng-repeat="configure in productstoconfigure">
                    <td>
                        <p>Please select how you would like {{configure.product}} configured</p>
                    </td>
                    <td>
                        <select ng-model="selected.children[configure.productid]" ng-options="c as c.product for c in order.items | filter: {added:false, parentid: configure.productid}"></select>
                    </td>
                    <td colspan="2">
                        <button ng-click="confirmChild(configure, selected.children[configure.productid])" class="btn btn-mini btn-success"><i class="icon-ok"></i></button>
                        <button ng-click="cancelChild(configure, selected.children[configure.productid])" class="btn btn-mini btn-danger"><i class="icon-ban-circle"></i></button>
                    </td>
                </tr>
                <tr ng-if="template.showsubtotals && order.showpricingwhenordering" class="total">
                    <td colspan="{{4 - (order.stockcountwhenordering == false ? 2 : 0) - (order.showpricingwhenordering == false ? 2 : 0)}}">{{template.catalogtotaltitletext}}</td>
                    <td class="total">{{order.totalQuantity}}</td>
                    <td ng-if="order.showlineitemnoteswhenordering"></td>
                    <td class="total">{{order.total | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>