﻿<style>
    .schedule-task-list-newtask odata-typeahead .tt-suggestion {
        font-size: xx-large;
        line-height: 48px;
    }
    .schedule-task-list-newtask odata-typeahead input {
        font-size: xx-large;
        height: 50px;
    }
    .schedule-task-list-newtask odata-typeahead button.btn {
        height: 60px;
    }
    .schedule-task-list-newtask odata-typeahead .tt-dropdown-menu {
        width: auto;
    }
    .schedule-task-list-newtask odata-typeahead span.twitter-typeahead {
        width: 600px;
    }

</style>
<div class="schedule-task-list-newtask">
    <h4 ng-if="template.requiresbasicdetails == false">{{template.text}}</h4>

    <div ng-if="template.requiresbasicdetails == true">
        <p class="muted" translate>Enter some information about the task you are about to create.</p>
        <form>
            <fieldset>
                <legend>{{template.text}}</legend>
                <label for="newTaskName" translate>Name</label>
                <input type="text" id="newTaskName" ng-model="template.basicdetails.name" />
                <label for="newTaskDescription" translate>Description</label>
                <textarea id="newTaskDescription" rows="5" ng-model="template.basicdetails.description"></textarea>
            </fieldset>
        </form>
    </div>
    <div ng-if="template.requiressitedetails == true">
        <p class="muted" translate>Enter the site for the task you are about to create.</p>
        <odata-typeahead name="searchmembers" ng-model="selection.site" datasource="memberFeed"></odata-typeahead>
    </div>

    <p ng-if="offline == true" class="text-error">This action cannot be taken while offline.</p>
    <button class="btn btn-success schedule-task-button" ng-click="create()" ng-if="!template.requiressitedetails || selection.site" ng-disabled="isCreateDisabled">
        <i class="icon-play"></i> <translate>Start</translate>
    </button>
    <p class="alert alert-info" ng-if="isCreatingOnline" translate>Please wait, creating task ...</p>
</div>