﻿<div class="schedule-task-list-clockinclockout-ui">
    <div fullscreen-panel-animate ng-if="editing.workinggroupid != null && editing.status !='finishing' && editing.status != 'finishing-incomplete'">
        <h3 translate>Tasks in this group</h3>
        <ul class="thumbnails compressed">
            <li class="span4" style="position:relative">
                <a href="#" class="thumbnail">
                    <i class="icon-arrow-right"></i>&nbsp;{{editing.name}}&nbsp;<i class="icon-arrow-left"></i>
                </a>
            </li>
            <li class="span4" ng-repeat="t in editing.workinggroupdata" style="position:relative">
                <a href="#" class="thumbnail" ng-click="gotoTask(t)">
                    &nbsp;{{t.name}}
                </a>
                <div class="thumbnails-status">
                    <i class="icon-ok-sign icon-white" ng-if="t.allowfinish"></i>
                    <i class="icon-exclamation-sign icon-white" ng-if="t.allowfinish == false"></i>
                </div>
            </li>
        </ul>
    </div>

    <div ng-if="editing.workinggroupid == null">
        <h4>{{editing.name}} {{ editing.asset.name }}</h4>
        <h5 ng-bind-html="getTaskDescription(editing)"></h5>
    </div>

    <div class="fullscreen-animate" ng-if="(editing.tasktypeid == editing.subtasktypeid && editing.relationships.length > 0) || showSetTaskType == true">
        <p translate>Select the type of task that will be performed</p>
        <question-tasklist-task-type-editor ng-model="editing"></question-tasklist-task-type-editor>
    </div>

    <div ng-if="!((editing.tasktypeid == editing.subtasktypeid && editing.relationships.length > 0) || showSetTaskType == true)">
        <div class="fullscreen-panel-animate" ng-if="editing.status == 'new' || editing.status == 'paused'">
            <h5 class="alert alert-danger" ng-if="isClockedIn == true && presented.template.enforcesingleclockin == true">Note: You are currently clocked into {{clockedInTo.name}}, you will need to clock out of this task to be able to clock in to other tasks.</h5>
            <div ng-if="(isClockedIn == true && presented.template.enforcesingleclockin == true) == false && canStart(editing)">
                <div ng-if="enableQRCodeQST">
                    <qr-code-scanner ng-model="scannedQRCode" on-scan="QRCodeScanned(text, editing)">
                        <button class="btn btn-success schedule-task-button" ng-click="scan()">
                            <i class="icon-qrcode"></i><span translate ng-if="!editing.tasktype.autofinishafterstart">Start</span><span translate ng-if="editing.tasktype.autofinishafterstart">Complete</span>
                        </button>
                    </qr-code-scanner>
                </div>
                <button ng-if="presented.template.allowbuttonstart && editing.workinggroupid == null" class="btn btn-success schedule-task-button" ng-click="clockin(editing)">
                    <i class="icon-play"></i> <span translate ng-if="!editing.tasktype.autofinishafterstart">Start</span><span translate ng-if="editing.tasktype.autofinishafterstart">Complete</span>
                </button>
                <button ng-if="editing.workinggroupid != null" class="btn btn-success schedule-task-button" ng-click="clockin(editing)">
                    <i class="icon-play"></i> <translate>Start Group</translate>
                </button>
                <button ng-if="editing.workinggroupid == null && editing.canfinish" class="btn btn-warning schedule-task-button" ng-click="finishingIncomplete(editing)">
                    <i class="icon-ban-circle"></i> <translate>Unable to Start</translate>
                </button>
                <button ng-if="editing.relationships.length > 0" class="btn btn-inverse schedule-task-button" ng-click="showChangeTaskType()">
                    <i class="icon-share"></i> <translate>Change Task Type</translate>
                </button>
            </div>
            <div ng-if="canStart(editing) == false" class="alert alert-info"><translate>This task cannot be started until</translate>&nbsp;{{editing.starttime | amDateFormat: 'HH:mm:ss'}}</div>
        </div>

        <div class="fullscreen-panel-animate" ng-if="editing.status == 'active'">
            <div class="schedule-task-list-clockinclockout-ui-activities" ng-if="editing.activities.length > 0">
                <p>There are a number of activities associated with this task.</p>
                <div ng-repeat="(key, value) in editing.activities | groupBy : 'area'" class="schedule-task-list-clockinclockout-ui-activity">
                    <h5>{{key}}</h5>
                    <div ng-repeat="activity in value">
                        <strong>{{activity.sitefeature}} - {{activity.text}}</strong>
                        <pills ng-model="activity.completed" value-property="value" text-property="text" options="activityoptions"></pills>
                    </div>
                    <div ng-if="value.length > 1" class="schedule-task-list-clockinclockout-ui-activity-toolbar">
                        <button class="btn btn-inverse schedule-task-button-skinny" ng-click="completeactivities(value)">
                            <i class="icon-thumbs-up"></i> <translate>Complete All</translate>&nbsp;{{key}}
                        </button>
                    </div>
                </div>
                <button class="btn btn-inverse schedule-task-button" ng-click="completeactivities(editing.activities)">
                    <i class="icon-thumbs-up"></i> <translate>Complete All Activities</translate>
                </button>
            </div>

            <button class="btn btn-warning schedule-task-button" ng-click="clockingout(editing)">
                <i class="icon-pause"></i> <translate>Pause</translate>
            </button>
            <div ng-if="editing.canfinish && (editing.minimumdurationleft == null || editing.minimumdurationleft <= 0) && (editing.activities | filter:{ completed: null }).length == 0">
                <div class="alert alert-block" ng-if="editing.photorequired">
                    <p class="text-center schedule-task-text">
                        <i class="icon-exclamation-sign"></i> <translate>A photo is required before this task can be finished</translate>
                    </p>
                </div>
                <qr-code-scanner ng-if="presented.template.allowqrcodefinish && !editing.photorequired" ng-model="scannedQRCode" on-scan="finishTaskQRCode(text, editing)">
                    <button class="btn btn-danger schedule-task-button" ng-click="scan()">
                        <i class="icon-qrcode"></i> Finish
                    </button>
                </qr-code-scanner>
                <button ng-if="presented.template.allowbuttonfinish && !editing.photorequired" class=" btn btn-danger schedule-task-button" ng-click="finishing(editing)">
                    <i class="icon-ok"></i> <translate>Finish</translate>
                </button>
            </div>
            <div class="well" ng-if="editing.canfinish && (editing.minimumdurationleft != null && editing.minimumdurationleft > 0)">
                <div ng-if="presented.template.minimumtaskdurationmessage == null || presented.template.minimumtaskdurationmessage == ''"><translate>Task can be finished in</translate>&nbsp;<strong>{{editing.minimumdurationleft}}</strong>&nbsp;<translate>seconds</translate></div>
                <div ng-if="presented.template.minimumtaskdurationmessage != null && presented.template.minimumtaskdurationmessage != ''">{{presented.template.minimumtaskdurationmessage}}</div>
            </div>
        </div>

        <div class="fullscreen-panel-animate" ng-if="editing.status == 'pausing'">
            <button class="btn btn-inverse schedule-task-button" ng-click="cancelclockingout(editing)" translate>
                << &nbsp; Back
            </button>
            <hr />

            <button ng-repeat="status in editing.pausedstatuses" ng-if="!editing.requiresnotes" class="btn schedule-task-button" ng-click="pause(editing, status)" translate>
                {{status.text}}
            </button>

            <textarea ng-if="editing.requiresnotes" ng-model="editing.pausingnotes" rows="5" style="width:90%"></textarea>
            <button ng-if="editing.requiresnotes" class="btn btn-success schedule-task-button" ng-click="clockout(editing, editing.pausingnotes)">
                <i class="icon-ok"></i> <translate>Ok</translate>
            </button>
        </div>

        <div class="fullscreen-panel-animate" ng-if="editing.status == 'finishing'">
            <div ng-if="editing.workinggroupid == null">
                <button class="btn btn-success schedule-task-button" ng-click="finish(editing, '')">
                    <i class="icon-ok"></i> <translate>All Ok</translate>
                </button>
                <button class="btn btn-warning schedule-task-button" ng-click="finishingIncomplete(editing)">
                    <i class="icon-exclamation-sign"></i> <translate>Not complete</translate>
                </button>
            </div>
            <div ng-if="editing.workinggroupid != null">
                <p translate>The task is a part of a group. Please select the status of each of the tasks in the group.</p>
                <table class="table">
                    <tr>
                        <td>{{editing.name}}</td>
                        <td>
                            <checkbox-as-pills ng-model="editing.complete" true-label="Completed" false-label="Incomplete"></checkbox-as-pills>
                        </td>
                    </tr>
                    <tr ng-repeat="t in editing.workinggroupdata">
                        <td>{{t.name}}</td>
                        <td>
                            <checkbox-as-pills ng-model="t.complete" true-label="Completed" false-label="Incomplete"></checkbox-as-pills>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-success schedule-task-button" ng-click="finishingGroup(editing)">Next</button>
            </div>
        </div>

        <div class="schedule-task-list-clockinclockout-ui-finishing-incomplete fullscreen-panel-animate" ng-if="editing.status == 'finishing-incomplete'">
            <button class="btn btn-inverse schedule-task-button" ng-click="cancelfinishingincomplete(editing)" translate>
                << &nbsp; Back
            </button>
            <hr />
            <h4 translate>Some tasks have been flagged as being incomplete. Please provide more information.</h4>
            <ol>
                <li ng-repeat="i in incompleteTasks">
                    <h5>{{i.name}}</h5>
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-click="s.selected = !s.selected" ng-class="{'error': i.error}" ng-repeat="s in i.finishedstatuses">
                                <td><input type="checkbox" ng-checked="s.selected" /></td>
                                <td>
                                    {{s.text}}
                                    <div class="control-group" ng-class="{error: s.error}" ng-if="s.requiresextranotes == true && s.selected">
                                        <div class="controls">
                                            <textarea ng-model="s.notes" ng-click="$event.stopPropagation()" rows="5" style="width:90%"></textarea>
                                            <span ng-if="s.error" class="help-inline" translate>You must enter notes for this option</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-error" ng-if="i.error" translate>* One of the options must be selected or notes entered against the item if notes are required.</p>
                    <div ng-if="presented.template.showgeneralnotesforincompletetasks == true">
                        <h5 translate>Other Notes</h5>
                        <textarea ng-model="i.completionnotes" rows="5" style="width:90%"></textarea>
                    </div>
                    <hr />
                </li>
            </ol>
            <button class="btn btn-success schedule-task-button" ng-click="finish(editing, editing.completionnotes)">
                <i class="icon-ok"></i> <translate>Ok</translate>
            </button>
        </div>

        <div class="schedule-task-list-clockinclockout-ui-extras fullscreen-panel-animate" ng-if="(editing.status == 'new' || editing.status == 'paused' || editing.status == 'active')">
            <div class="schedule-task-list-clockinclockout-ui-documentation">
                <button ng-if="editing.documentation.length > 0" class="btn schedule-task-button" ng-click="toggleShowDocuments()">
                    <i class="icon-book"></i>&nbsp;<translate>Documents</translate>
                </button>
                <div ng-if="showingdocumentation == true" class="well">
                    <ul class="thumbnails" style="padding-top:10px">
                        <li class="span12" ng-repeat="d in editing.documentation">
                            <a href="#" class="thumbnail" style="position:relative" ng-click="gotoFolder(d)">
                                <h3>{{d.text}}</h3>
                                <p ng-if="d.online == false" style="position:absolute;top:1px;right:1px;" class="text-error">Documentation unavailable due to being offline.</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="schedule-task-list-clockinclockout-ui-workflows">
                <div ng-if="editing.photosupport != 0">
                    <photo-manager photo-width="300" existing-photos="editing.photos" photo-id-field="'mediaid'"></photo-manager>
                </div>
            </div>

            <div class="schedule-task-list-clockinclockout-ui-workflows" ng-if="(!editing.tasktype.autostart1stchecklist || editing.status != 'new')">
                <h3 ng-if="editing.workinggroupid != null && editing.publishedresources.length > 0">Processes for {{editing.name}}</h3>
                <ul class="thumbnails" style="padding-top:10px;">
                    <li class="span12" ng-repeat="r in editing.publishedresources" style="position:relative">
                        <a href="#" class="thumbnail" ng-click="gotoChecklist(r)">
                            <img ng-if="r.mediaid != null" ng-src="{{mediaurl}}/{{r.mediaid}}.png?width=100px">
                            <h3>{{r.name}}</h3>
                        </a>
                        <p ng-if="r.online == false" style="position:absolute;top:1px;right:1px;" class="text-error">Checklist unavailable due to being offline.</p>
                        <div class="thumbnails-status">
                            <span ng-if="r.allowmultiple == false && r.completedworkingdocumentcount > 0" class="label">Single Run</span>
                            <i ng-if="r.ismandatory == true && r.allowfinish == false" class="icon-exclamation-sign icon-white"></i>
                            <i ng-if="r.allowfinish == true && r.workingdocumentcount > 0" class="icon-ok-sign icon-white"></i>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="schedule-task-list-clockinclockout-ui-group" ng-if="editing.workinggroupid != null && (editing.status == 'new' || editing.status == 'paused')">
                <button class="btn btn-inverse schedule-task-button" ng-click="deleteGroup(editing)">
                    <i class="icon-remove-sign"></i> <translate>Delete Group</translate>
                </button>
            </div>
        </div>
    </div>
</div>
