﻿<div>
    <button class="btn" ng-click="shownewcompanydialog()">{{presented.Prompt}}</button>
                  
    <div ng-if="shownewcompany == true" class="modal hide fade newcompanydialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{{presented.Prompt}}</h3>
        </div>
        <div class="modal-body">
            <form name="companydetails" ng-if="statemachine == 1" class="form-horizontal">
               <h4 translate>Company Details</h4>
              <div class="control-group" ng-class="{error: companydetails.inputName.$invalid && companydetails.inputName.$pristine == false}">
                <label class="control-label" for="inputName" translate>Name</label>
                <div class="controls">
                    <input type="text" id="inputName" name="inputName" required ng-model="currentcompany.name" placeholder="{{ 'Name' | translate }}"><span ng-if="companydetails.inputName.$invalid && companydetails.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
              </div>
              <div class="control-group" ng-class="{error: companydetails.inputStreet.$invalid && companydetails.inputStreet.$pristine == false}">
                  <label class="control-label" for="inputStreet" translate>Street</label>
                <div class="controls">
                    <input type="text" required ng-model="currentcompany.address.street" id="inputStreet" name="inputStreet" placeholder="{{ 'Street' | translate }}"><span ng-if="companydetails.inputStreet.$invalid && companydetails.inputStreet.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
              </div>
              <div class="control-group" ng-class="{error: companydetails.inputTown.$invalid && companydetails.inputTown.$pristine == false}">
                  <label class="control-label" for="inputTown" translate>Town</label>
                <div class="controls">
                    <input type="text" required ng-model="currentcompany.address.town" id="inputTown" name="inputTown" placeholder="{{ 'Town' | translate }}"><span ng-if="companydetails.inputTown.$invalid && companydetails.inputTown.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
              </div>
              <div class="control-group" ng-class="{error: companydetails.inputState.$invalid && companydetails.inputState.$pristine == false}">
                  <label class="control-label" for="inputState" translate>State</label>
                <div class="controls">
                    <select ng-model="currentcompany.address.state" id="inputState" name="inputState" required ng-options="s.id as s.name for s in countrystates"></select><span ng-if="companydetails.inputState.$invalid && companydetails.inputState.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
              </div>
              <div class="control-group" ng-class="{error: companydetails.inputPostcode.$invalid && companydetails.inputPostcode.$pristine == false}">
                  <label class="control-label" for="inputPostcode" translate>Postcode</label>
                <div class="controls">
                    <input type="text" required ng-model="currentcompany.address.postcode" id="inputPostcode" name="inputPostcode" placeholder="{{ 'Postcode' | translate }}"><span ng-if="companydetails.inputPostcode.$invalid && companydetails.inputPostcode.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                </div>
              </div>
            </form>

            <div ng-if="statemachine == 2">
                <h4 translate>Company Location</h4>
                <div ng-if="locationoperation == 'primarysearch'" class="alert alert-info" translate>
                    Attempting to find the address using the details entered.
                </div>
                <div ng-if="locationoperation == 'alternatesearch'" class="alert alert-warning" translate>
                    Attempting to find the address using the details entered failed. Retrying with less specific information.
                </div>
                <div ng-if="locationoperation == 'alternatefound'" class="alert alert-warning" translate>
                    Searching with the address entered resulted in zero matches. A less specific search resulted in a find. Please move the marker to the correct location.
                </div>
                <div ng-if="locationoperation == 'alternatefailed'" class="alert alert-error" translate>
                    Searching for the address failed, please use the back button to check the details entered are correct.
                </div>
                <div ng-if="locationoperation == null || locationoperation == 'alternatefound'">
                    <p translate>Please confirm the location of the new company is correct using the map.</p>
                    <leaflet center="map.center" markers="map.markers" width="500px" height="240px">
                    </leaflet>
                    <p class="text-info" translate>Drag the blue marker to the correct location, if it is not correct. Green markers indicate existing company locations.</p>
                </div>
            </div>

            <div ng-if="statemachine == 3">
                <h4 translate>Company Admin</h4>
                 <form name="companynewuserform" class="form-horizontal">
                  <div class="control-group" ng-class="{error: companynewuserform.inputName.$invalid && companynewuserform.inputName.$pristine == false}">
                      <label class="control-label" for="inputName" translate>Name</label>
                    <div class="controls">
                        <input type="text" id="Text1" name="inputName" ng-model="currentcompany.user.name" required placeholder="{{ 'Name' | translate }}"><span ng-if="companynewuserform.inputName.$invalid && companynewuserform.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                  </div>
                  <div class="control-group" ng-class="{error: currentcompany.user.exists || (companynewuserform.inputEmail.$invalid && companynewuserform.inputEmail.$pristine == false)}">
                      <label class="control-label" for="inputEmail" translate>Email</label>
                    <div class="controls">
                        <input type="email" ng-model="currentcompany.user.email" uniqueusername id="Email1" name="inputEmail" required placeholder="{{ 'Email' | translate }}"><span ng-if="companynewuserform.inputEmail.$error.uniqueusername" class="help-inline" translate>Email address already exists</span><span ng-if="!companynewuserform.inputEmail.$error.uniqueusername && companynewuserform.inputEmail.$invalid && companynewuserform.inputEmail.$pristine == false" class="help-inline" translate>This field is mandatory and a valid email address</span>
                    </div>
                  </div>
                  <div class="control-group" ng-class="{error: companynewuserform.inputUsertype.$invalid && companynewuserform.inputUsertype.$pristine == false}">
                      <label class="control-label" for="inputUsertype" translate>Type</label>
                    <div class="controls">
                        <select ng-model="currentcompany.user.type" id="Select2" name="inputUsertype" required ng-options="s.id as s.name for s in availableusertypes"></select><span ng-if="companynewuserform.inputUsertype.$invalid && companynewuserform.inputUsertype.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                  </div>
                  <div class="control-group" ng-class="{error: companynewuserform.inputPassword.$invalid && companynewuserform.inputPassword.$pristine == false}">
                      <label class="control-label" for="inputPassword" translate>Password</label>
                    <div class="controls">
                        <input type="password" ng-model="currentcompany.user.password" required ng-minlength="6" ng-maxlength="12" id="Password3" name="inputPassword" placeholder="{{ 'Password' | translate }}"><span ng-if="companynewuserform.inputPassword.$invalid && companynewuserform.inputPassword.$pristine == false" class="help-inline" translate>This field is mandatory and must be between 6 and 12 characters</span>
                    </div>
                  </div>
                  <div class="control-group" ng-class="{error: companynewuserform.inputConfirmPassword.$error.matches || (companynewuserform.inputConfirmPassword.$invalid && companynewuserform.inputConfirmPassword.$pristine == false)}">
                      <label class="control-label" for="inputConfirmPassword" translate>Confirm Password</label>
                    <div class="controls">
                        <input type="password" ng-model="currentcompany.user.confirmpassword" matches="currentcompany.user.password" required ng-minlength="6" ng-maxlength="12" id="Password4" name="inputConfirmPassword" placeholder="{{ 'Confirm Password' | translate }}"><span ng-if="companynewuserform.inputConfirmPassword.$error.matches" class="help-inline" translate>Passwords do not match</span><span ng-if="!companynewuserform.inputConfirmPassword.$error.matches && companynewuserform.inputConfirmPassword.$invalid && companynewuserform.inputConfirmPassword.$pristine == false" class="help-inline" translate>This field is mandatory and must be between 6 and 12 characters</span>
                    </div>
                  </div>
                </form>
            </div>

            <div ng-if="statemachine == 4" translate>
                Click the 'Save changes' button to create the company and other related information.
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
            <a href="#" ng-if="statemachine > 1" ng-click="backwards()" class="btn btn-success" translate><< Back</a>
            <a href="#" ng-if="statemachine < 4" ng-click="forwards()" class="btn btn-success" translate>Next >></a>
            <a href="#" ng-if="statemachine == 4" class="btn btn-primary" ng-click="createnewcompany(currentcompany)" translate>Save changes</a>
        </div>
    </div>

</div>