﻿<div>
    <ul class="nav nav-tabs">
        <li tabify><a href="#desktoptask-general" data-toggle="tab" translate>General</a></li>
        <li class="dropdown" ng-if="editing.canfinish">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-click="editing.oldstatus = editing.status; editing.status = 'finishing'"><a href="#" translate>Complete Task</a></li>
            </ul>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="desktoptask-general">
            <div ng-if="editing.status =='new' || editing.status =='paused' || editing.status =='active'">
                <div class="row-fluid">
                    <div class="span12">
                        <h4>{{editing.name}}</h4>
                        <div ng-bind-html="getTaskDescription(editing)"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span8">
                        <div class="row-fluid">
                            <div class="span12">
                                <h5 translate>Activity</h5>
                                <textarea placeholder="Write a comment" ng-model="editing.pausingnotes" ng-focus="hasFocus = true"></textarea>
                                <button class="btn btn-success" ng-if="hasFocus == true" ng-click="addComment(editing)" translate>Save Comment</button>
                            </div>
                        </div>
                        <div class="row-fluid" ng-if="editing.worklog">
                            <div class="span12">
                                <h5 translate>Logs</h5>
                                <blockquote ng-repeat="log in editing.worklog">
                                    <p>{{log.notes}}</p>
                                    <span class="muted">{{log.by}} {{log.datecreated | date:'fullDate'}} {{log.datecreated | date:'shortTime'}}</span>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <ng-form name="taskchanges">
                            <div ng-if="editing.statuses.length > 0">
                                <h5 translate>Status</h5>
                                <select ng-model="editing.statusid" ng-change="editing.hasChanges = true" ng-options="item.id as item.text for item in editing.statuses"></select>
                                <div ng-if="(editing.statuses | filter: {id: editing.statusid})[0].referencenumbermode != 0">
                                    <h5 translate>Reference Number</h5>
                                    <input type="text" ng-change="editing.hasChanges = true" id="referencenumber" ng-model="editing.referencenumber" ng-required="(editing.statuses | filter: {id: editing.statusid})[0].referencenumbermode == 2"><span ng-if="(editing.statuses | filter: {id: editing.statusid})[0].referencenumbermode == 2" class="help-inline" ng-class="{error: taskchanges.referencenumber.$invalid && taskchanges.inputName.$pristine == false}">*This field is mandatory</span>
                                </div>
                            </div>
                            <div ng-if="editing.hasChanges">
                                <button class="btn btn-success" ng-click="commitChanges(editing)">Save Changes</button>
                            </div>
                        </ng-form>
                        <div ng-if="editing.projectjobtaskgroupid != null">
                            <h5 translate>Related Tasks</h5>
                            <table class="table table-bordered table-condensed table-striped table-hover">
                                <tbody>
                                    <tr ng-repeat="t in editing.relatedtasks">
                                        <td>
                                            <a ng-if="editing.id != t.Id" href="" ng-click="showRelatedTask(t)">{{t.Name}}</a>
                                            <span ng-if="editing.id == t.Id">{{t.Name}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="editing.publishedresources.length > 0">
                            <h5 translate>Checklists</h5>
                            <table class="table table-bordered table-condensed table-striped table-hover">
                                <tbody>
                                    <tr ng-repeat="r in editing.publishedresources">
                                        <td>
                                            <a href="" ng-click="gotoChecklist(r)">
                                                {{r.name}}
                                            </a>
                                        </td>
                                        <td>
                                            <span ng-if="r.allowmultiple == false && r.completedworkingdocumentcount > 0" class="label">Single Run</span>
                                            <i ng-if="r.ismandatory == true && r.allowfinish == false" style="color:red;" class="icon-exclamation-sign icon-white"></i>
                                            <i ng-if="r.allowfinish == true && r.workingdocumentcount > 0" style="color:green" class="icon-ok-sign icon-white"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="editing.documentation.length > 0">
                            <h5 translate>Documentation</h5>
                            <table class="table table-bordered table-condensed table-striped table-hover">
                                <tbody>
                                    <tr ng-repeat="d in editing.documentation">
                                        <td ng-click="gotoFolder(d)"><a href="#">{{d.text}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="editing.status == 'finishing'">
                <textarea ng-model="editing.completionnotes" placeholder="completion notes"></textarea>
                <button class="btn btn-success" ng-click="finish(editing, editing.completionnotes)">
                    <i class="icon-ok"></i> <translate>Confirm Completion</translate>
                </button>
                <button class="btn" ng-click="editing.status = editing.oldstatus" translate>Cancel</button>
            </div>
        </div>
    </div>

    <div class="modal-large hide fade" modalify="viewingtask">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 translate>Task Information</h3>
        </div>
        <div class="modal-body" ng-if="currenttask">
            <h4>{{currenttask.Name}}</h4>
            <p ng-bind-html="getTaskDescription(currenttask)"></p>

            <ul class="nav nav-tabs">
                <li tabify><a href="#desktoptask-taskinfo-task" data-toggle="tab" translate>Details</a></li>
                <li tabify><a href="#desktoptask-taskinfo-checklists" data-toggle="tab" translate>Checklists</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="desktoptask-taskinfo-task">
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <tbody>
                            <tr>
                                <td translate>Owner</td>
                                <td>{{currenttask.Owner}}</td>
                            </tr>
                            <tr>
                                <td translate>Site</td>
                                <td>{{currenttask.SiteName}}</td>
                            </tr>
                            <tr>
                                <td translate>Type</td>
                                <td>{{currenttask.TaskType}}</td>
                            </tr>
                            <tr>
                                <td translate>Date Created</td>
                                <td>{{currenttask.DateCreated | date: 'medium'}}</td>
                            </tr>
                            <tr>
                                <td translate>Date Started</td>
                                <td>{{currenttask.DateStarted | date: 'medium'}}</td>
                            </tr>
                            <tr>
                                <td translate>Date Completed</td>
                                <td>{{currenttask.DateCompleted | date: 'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="desktoptask-taskinfo-checklists">
                    <div ng-repeat="checklist in currenttask.checklists">
                        <h4>{{checklist.Name}}</h4>
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <tbody>
                                <tr ng-repeat="q in checklist.Questions">
                                    <td style="width:25%">{{q.Prompt}}</td>
                                    <td>
                                        <span ng-if="q.QuestionType != 'UploadMedia'">{{q.Value}}</span>
                                        <image-list ng-if="q.QuestionType == 'UploadMedia'" ids="{{q.Value}}"></image-list>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        </div>
    </div>
</div>