<md-list flex>
    <md-list-item ng-repeat='n in $ctrl.notifications track by n.id' class='md-3-line' ng-click='null'>
        <div class='md-list-item-text' layout='column'>
            <h3>{{ n.title }}</h3>
            <p>{{ n.text }}</p>
        </div>
    </md-list-item>
</md-list>
