﻿<register-translations>
    <edit-tablet>Tablet: <span ng-bind="record.name" /></edit-tablet>
</register-translations>
<form name="editor">
    <legend translate>edit-tablet</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general-tab" data-toggle="tab" translate>General</a></li>
            <li tabify><a href="#site-tab" data-toggle="tab" translate>Site</a></li>
            <li tabify ng-if="record.id"><a href="#uuid-tab" data-toggle="tab" translate>UUID</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general-tab">
                <div class="control-group">
                    <label class="control-label" for="uuid" translate>Id</label>
                    <div class="controls">
                        <span id="uuid" class="uneditable-input">{{record.id}}</span>
                        <div ng-if="record.archived" class="label label-warning">Archived</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" type="text" ng-model="record.name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="profile" translate>Profile</label>
                    <div class="controls">
                        <select id="profile" ng-options="profile.id as profile.name for profile in setup.tabletprofiles" ng-model="record.tabletprofileid" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="site-tab" style="height: 400px">
                <div class="control-group">
                    <label class="control-label" translate>Default Site</label>
                    <div class="controls">
                        <select-single-user ng-model="record.siteid" mandatory="false"></select-single-user>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="uuid-tab" ng-if="record.id">
                <div ng-if="record.uuid">
                    <div class="control-group">
                        <div class="container-fluid">
                            <div class="span6">
                                <label class="control-label" translate>UUID</label>
                            </div>
                            <div class="span6">
                                <button class="btn btn-primary pull-right" ng-click="unassign()">Unassign</button>
                            </div>
                        </div>
                        <div class="controls">
                            <span class="uneditable-input">{{ record.uuid }}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="lastcontact" translate>Last contact</label>
                        <div class="controls">
                            <span id="lastcontact" class="uneditable-input">{{ record.tabletuuid.lastcontactutc | amUtc | amLocal | amDateFormat:'D MMM YYYY HH:mm'}}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="description" translate>Description</label>
                        <div class="controls">
                            <div id="tabletDescription"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="!record.uuid">
                    <div class="control-group">
                        <div class="container-fluid">
                            <div class="span6">
                                <label class="control-label" translate>Unassigned UUIDs</label>
                            </div>
                            <div class="span6">
                                <button class="btn btn-primary pull-right" ng-click="findUnassignedTabletUuids()">Refresh</button>
                            </div>
                        </div>
                        <div class="controls">
                            <ul class="thumbnails">
                                <li ng-repeat="uuid in unassignedUuids" class="span6">
                                    <div class="thumbnail" ng-click="selectUuid(uuid)">
                                        <div>{{ uuid.uuid }}</div>
                                        <div>{{ uuid.description.manufacturer }} <strong>{{ uuid.description.model }} {{ uuid.description.version }}</strong></div>
                                        <div>{{ uuid.lastcontactutc | amUtc | amLocal | amDateFormat:'D MMM YYYY HH:mm'}}</div>
                                        <div ng-if="selectedUuid == uuid">
                                            <button ng-click="assign(uuid)" class="btn btn-primary">Assign</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>


