<div question-wrapper="presented" class="question-selectfacilitystructure">
    <div class="alert alert-info" ng-if="facilityStructureFeed.isAjaxing">Fetching data, please wait ...</div>
    <div class="alert alert-error" ng-if="facilityStructureFeed.ajaxError">Error fetching data, retrying in
        {{ facilityStructureFeed.countdown }} ...</div>
    <div ng-if="!facilityStructureFeed.isAjaxing && !facilityStructureFeed.ajaxError">
        <ul class="breadcrumb" ng-if="selectedFacilityStructureId != null">
            <li ng-click="selectFacilityStructure(null, 0, $event)"><a>Home</a><span class="divider">/</span></li>
            <li ng-repeat="h in selectedHistory" ng-click="selectFacilityStructure(h, $index, $event)"><a
                    href="#">{{h.alldata.Name}}</a><span class="divider">/</span></li>
        </ul>
        <ul class="thumbnails" ng-if="facilityStructureFeed.data.length > 0">
            <li class="span4" ng-repeat="s in facilityStructureFeed.data"
                ng-click="!s.disabled && selectFacilityStructure(s, -1)">
                <div class="overlay-container">
                    <div ng-if="s.disabled" class="overlay notavailable">
                        <div>{{ s.disabledText }}</div>
                    </div>
                    <div class="thumbnail">
                        <media-image ng-model="s.alldata.MediaId" type="media"></media-image>
                        <h4>{{s.alldata.Name}}</h4>
                        <p>{{s.alldata.Description}}</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="alert alert-info" ng-if="facilityStructureFeed.data.length == 0">
            <div>You have selected {{selectedHistory[selectedHistory.length - 1].alldata.Name}} </div>
            <button class="btn btn-inverse" ng-click="resetSelection()">Clear selection</button>
        </div>
        <div ng-if="facilityStructureFeed.data.length == 0 && presented.includenextbutton">
            <button class="btn btn-success" type="button" ng-click="raiseEvent('player.next')">Next</button>
        </div>
    </div>
</div>