﻿<div>
    <div class="labeltag label" ng-style="{'background-color': argbToHex(label.backcolor), color: argbToHex(label.forecolor)}" ng-repeat="label in labels"><input type="checkbox" ng-checked="isSelected(label)" ng-click="changeSelection(label)" />{{label.name}}</div>
</div>