﻿<div class="question checkbox {{presented.HtmlPresentation.CustomClass}}" ng-show="presented.Visible">
    <md-input-container>
        <md-checkbox ng-model="presented.Answer.Value" aria-label="presented.promptAsHtml">
            <span
                ng-hide="presented.HidePrompt || !shouldRenderPrompt || presented.promptAsHtml == null || presented.promptAsHtml == ''"
                ng-bind-html="presented.promptAsHtml"></span>
        </md-checkbox>
        <div ng-messages='presented.ValidationErrors' ng-if='presented.ValidationErrors.length'>
            <div ng-repeat='error in presented.ValidationErrors' class='md-input-message-animation'>
                {{ error }}</div>
        </div>
    </md-input-container>
</div>