﻿<register-translations>
    <edit-asset>Asset: <span ng-bind="record.name" /></edit-asset>
</register-translations>
<form name="editor">
    <legend translate>edit-asset</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify ng-if="record.id"><a href="#beacon" data-toggle="tab" translate>Beacon</a></li>
            <li tabify ng-if="record.id"><a href="#schedule" data-toggle="tab" translate>Schedule</a></li>
            <li tabify ng-repeat="context in record.contexts"><a href="#{{context.Presented.PresentableId}}" data-toggle="tab">{{context.ChecklistName}}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general" style="height:400px">
                <div class="control-group">
                    <label class="control-label" for="uuid" translate>Id</label>
                    <div class="controls">
                        <span id="uuid" class="uneditable-input">{{record.id}}</span>
                        <div ng-if="record.archived" class="label label-warning">Archived</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" type="text" ng-model="record.name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="type" translate>Type</label>
                    <div class="controls">
                        <search-asset-type ng-model="record.assettypeid"></search-asset-type>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="type" translate>Company</label>
                    <div class="controls">
                        <search-company ng-model="record.companyid"></search-company>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="type" translate>Belongs to Facility</label>
                    <div class="controls">
                        <select-facility-structure ng-model="record.facilitystructureid"></select-facility-structure>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="beacon" style="min-height: 400px" ng-if="record.id">
                <div ng-if="record.beaconid">
                    <div class="control-group">
                        <div class="span6">
                            <label class="control-label" translate>Beacon Id</label>
                        </div>
                        <div class="span6">
                            <button class="btn btn-primary pull-right" ng-click="unassign()">Unassign</button>
                        </div>
                        <div class="controls">
                            <span class="uneditable-input">{{ record.beaconid }}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="lastcontact" translate>Last contact</label>
                        <div class="controls">
                            <span id="lastcontact" class="uneditable-input">{{ record.beacon.lastcontactutc | amUtc | amLocal | amDateFormat:'D MMM YYYY HH:mm'}}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="lastcontact" translate>Last button pressed</label>
                        <div class="controls">
                            <span id="lastcontact" class="uneditable-input">{{ record.beacon.lastbuttonpressedutc | amUtc | amLocal | amDateFormat:'D MMM YYYY HH:mm'}}</span>
                        </div>
                    </div>
                </div>
                <div ng-if="!record.beaconid">
                    <div class="row-fluid">
                        <div class="span6">
                            <label class="control-label" translate>Unassigned Beacons</label>
                        </div>
                        <div class="span6">
                            <button class="btn btn-primary pull-right" ng-click="findUnassignedBeacons()">Refresh</button>
                        </div>
                    </div>
                    <ul class="nav nav-tabs nav-stacked">
                        <li ng-repeat="beacon in unassignedBeacons">
                            <div class="thumbnail" ng-mouseover="selectBeacon(beacon)">
                                <div class="row-fluid">
                                    <div class="span8">
                                        <div>{{ beacon.id }}</div>
                                        <div>{{ beacon.lastcontactutc | amUtc | amLocal | amDateFormat:'D MMM YYYY HH:mm'}}</div>
                                    </div>
                                    <div class="span4" ng-if="selectedBeacon == beacon">
                                        <button ng-click="assign(beacon)" class="btn btn-primary pull-right">Assign</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="schedule" style="min-height: 400px" ng-if="record.id">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last run</th>
                            <th>Next run</th>
                            <th>Start Time override</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schedule in record.schedules">
                            <td style="line-height: 2">{{ schedule.calendar.name }}</td>
                            <td style="line-height: 2">{{ schedule.lastrunutc | amUtc | amLocal | amDateFormat:'D MMM YYYY' }}</td>
                            <td><input type="date" ng-model="schedule.nextrunutc" min="{{ today }}"/></td>
                            <td><input type="time" ng-model="schedule.overridestarttimelocal" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" ng-repeat="context in record.contexts" id="{{context.Presented.PresentableId}}" style="min-height:400px">
                <play-embedded ng-model="context" expose-answer-model="true"></play-embedded>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="doSave()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>


