<div flex layout='column' class="schedule-task-list-newtask">
    <div layout='row' layout-align='start center'>
        <media-image class='task-image' ng-model="template.mediaid" height='75' cache></media-image>
        <h4 ng-if="template.requiresbasicdetails == false">{{template.text}}</h4>
    </div>

    <div ng-if="template.requiresbasicdetails == true">
        <p class="muted" translate>Enter some information about the task you are about to create.</p>
        <form>
            <fieldset>
                <legend>{{template.text}}</legend>
                <label for="newTaskName" translate>Name</label>
                <input type="text" id="newTaskName" ng-model="template.basicdetails.name" />
                <label for="newTaskDescription" translate>Description</label>
                <textarea id="newTaskDescription" rows="5" ng-model="template.basicdetails.description"></textarea>
            </fieldset>
        </form>
    </div>
    <div ng-if="template.requiressitedetails == true">
        <p class="muted" translate>Enter the site for the task you are about to create.</p>
        <odata-typeahead name="searchmembers" ng-model="selection.site" datasource="memberFeed"></odata-typeahead>
    </div>

    <p ng-if="offline == true" class="text-error">This action cannot be taken while offline.</p>
    <md-button class="md-primary md-raised" ng-click="create()" ng-if="!template.requiressitedetails || selection.site"
        ng-disabled="isCreateDisabled">
        <md-icon md-font-set='fas' md-font-icon='fa-play'></md-icon>
        <translate>Start</translate>
    </md-button>
    <p class="alert alert-info" ng-if="isCreatingOnline" translate>Please wait, creating task ...</p>
</div>