﻿<form name="editor"> 
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab">General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group" ng-class="{error: editor.inpuText.$invalid && editor.inpuText.$pristine == false}">
                            <label class="control-label" for="inpuText" translate>Name</label>
                            <div class="controls">
                                <input type="text" id="inpuText" name="inpuText" required ng-model="record.name" placeholder="Name"><span ng-if="editor.inpuText.$invalid && editor.inpuText.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group" ng-class="{error: editor.inpuText.$invalid && editor.inpuText.$pristine == false}">
                            <label class="control-label" for="amountPerMonth" translate>Amount per month (in Tenant currency)</label>
                            <div class="controls">
                                <input type="number" id="amountPerMonth" name="amountPerMonth" required ng-model="record.amountpermonth"><span ng-if="editor.amountPerMonth.$invalid && editor.amountPerMonth.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="form-actions">
    <button ng-if="!record.archived" ng-click="save()" class="btn btn-primary" type="submit">Save changes</button>
    <button ng-if="!record.archived" ng-click="delete()" class="btn btn-danger" type="submit">Delete</button>
    <button ng-if="record.archived" ng-click="unarchive()" class="btn btn-warning" type="submit">Restore</button>
</div>