<md-sidenav flex class="md-sidenav-left main-menu" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
    md-whiteframe="4">
    <md-toolbar>
        <div ui-view="menu-header" flex layout='column' class='ui-view-layout-column'>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <div ui-view="menu" flex layout='column' class='ui-view-layout-column'>
        </div>
    </md-content>
</md-sidenav>
