<md-whiteframe class='md-whiteframe-4dp vertical-scroll blade-frame' ng-class='$ctrl.blade${n}detail' layout='row'>
    <div ui-view='blade${n}detail' layout='column' class='blade'></div>
</md-whiteframe>
