﻿.menu-list .active i::after {
    content: 'done'
}

.hidden-blade {
    display: none;
}

.blade {
    min-width: 600px;
    width: auto;
}

.blade-slim {
    max-width: 300px;
}

.blade-frame {
    margin-left: 0px;
}

.blade-frame:first-child {
    margin-left: 0px;
}
