﻿<div>
    <div id="management" class="container-fluid" ng-controller="facilityStructureAdminCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <facility-structure-sidebar></facility-structure-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>Facility Structure Administration</h1>
                        This section allows you to administer Facility Structures (Facilities, Buildings, Floors, Zones and Sites).
                    </div>
                    <div ng-if="editing">
                        <facility-structure-editor ng-model="editing"></facility-structure-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>