﻿@model ConceptCave.www.Areas.Admin.Models.LabelManagementModel
@{
    ViewBag.Title = "Label Management";
}
<div id="management" class="container-fluid">
    <div class="row-fluid">
        <div id="managementlist" class="span4">
            
            <div class="itemlistnav" style="text-align:right;padding:4px;">
                <button id="additem" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                <button id="removeitem" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
            </div>

            <ul id="itemlist" class="nav nav-tabs nav-stacked">
                @foreach (var i in Model.Items)
                {
                    <li id="@i.Id">
                        @Html.Partial("RenderLabelListItem", i)
                    </li>
                }
            </ul>
        </div>
        <div class="span8">
            @using (Html.BeginForm("Add", "LabelManagement", FormMethod.Post, new { id = "add" }))
            {
            }

            @using (Html.BeginForm("Remove", "LabelManagement", FormMethod.Post, new { id = "remove" }))
            {
                @Html.Hidden("id", "", new { id="removeid" });
            }

            <div id="labeldesignerui" class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                <div class="hero-unit">
                <h1 translate>Label Management</h1>
                    <translate>Labels are used in b-workflow to denote or group common elements, such as users or checklists. You can then use the labels to quickly search or select these items in other areas of the applicaiton such as when publishing checklists.</translate>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var itemselected = null;

    $(function() {
        var options = {
            rootUrl: '@Url.ToFullyQualifiedUrl("~/")',
            editorElement: $("#labeldesignerui"),
            loadDesignerUrl: 'Admin/GetLabelDesignerUI?id=',
            loadListItemUrl: 'Admin/GetLabelListItem?id=',
            createListItemCallBack: function(id) {
                $('<li id="' + id + '"></li>').appendTo("#itemlist");
            }
        };

        CreateDesignerManager(options);

        $(document).off("click", "#itemlist li");
        $(document).on('click', "#itemlist li", function() {
            if (itemselected != null) {
                $(itemselected).removeClass('active');
            }

            itemselected = this;

            $(itemselected).addClass('active');
            CurrentDesignerManager.loadDesigner($(this).attr('id'));
        });

        $("#managementlist #additem").click(function(event) {
            CurrentDesignerManager.newItem($("#add"));
        });

        $("#managementlist #removeitem").click(function(event) {
            if (itemselected == null) {
                return false;
            }
            $("#itemlist").trigger('itemdeleted', { selectedid: $(itemselected).attr('id') });
        });

        $(document).off("itemdeleted", "#itemlist");
        $(document).on("itemdeleted", "#itemlist", function(event, data) {
            $("#removeid").val(data.selectedid);
            CurrentDesignerManager.removeItem($("#remove"));
        });

        $(document).off("serverdeleteditem", "#labeldesignerui");
        $(document).on("serverdeleteditem", "#labeldesignerui", function(event, data) {
            CurrentDesignerManager.removeListItem(data.id);
        });

        $(document).off("serveraddeditem", "#labeldesignerui");
        $(document).on("serveraddeditem", "#labeldesignerui", function(event, data) {
            CurrentDesignerManager.loadListItem(data.id);
        });
    });
</script>