﻿<div class="row-fluid" ng-if="customer">
    <div class="span6">
        <address>
            <strong>Contact</strong><br />
            {{ customer.Title }} {{ customer.FirstName }} {{ customer.LastName }}<br />
            T:{{ customer.Phone }}<br />
            M:{{ customer.Mobile }}<br />
            e:{{ customer.Email }}<br />
        </address>
    </div>
    <div class="span6">
        <address>
            <strong>Address</strong><br />
            {{ customer.Address.Street1 }}<br />
            {{ customer.Address.Street2 }}<br />
            {{ customer.Address.City }}<br />
            {{ customer.Address.State }}<br />
            {{ customer.Address.PostalCode }}<br />
        </address>
    </div>
</div>
<div>
    <div class="well">
        <div ng-if="presented.Mode != 2">
            <div ng-if="pendingPayments.Payments.length > 1">
                <strong>{{ pendingPayments.Plan.Period }} payment schedule.  You will be billed {{ pendingPayments.Plan.Period }} starting {{ pendingPayments.Plan.FirstBillingDateUtc | amLocal | amDateFormat: 'D MMM YYYY' }} until {{ pendingPayments.Plan.LastBillingDateUtc | amLocal | amDateFormat: 'D MMM YYYY' }}</strong>
            </div>
            <div ng-if="pendingPayments.Payments.length == 1">
                <strong>This is a once only payment</strong>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Due Date</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pp in pendingPayments.Payments" ng-class="['','primary','warning','success'][pp.PaidInFullDateUtc ? 3 : !pp.DueDateUtc ? 2 : pp.ActivatedDateUtc ? 1 : 0]">
                    <td ng-if="pp.Status != 1">{{ pp.DueDateUtc | amLocal | amDateFormat: 'D MMM YYYY' }}</td>
                    <td ng-if="pp.Status == 1" class="text-warning">Due now</td>

                    <td ng-bind-html="pp.Description | newlines"></td>

                    <td ng-if="pp.Status == 3" class="text-success">Paid<br />{{ pp.PaidInFullDateUtc | amLocal | amDateFormat: 'D MMM YYYY' }}</td>
                    <td ng-if="pp.Status == 4" class="text-error">Cancelled<br />{{ pp.CancelledDateUtc | amLocal | amDateFormat: 'D MMM YYYY' }}</td>
                    <td ng-if="pp.payNowState == 1" class="text-warning">Pending</td>
                    <td ng-if="pp.payNowState == 2" class="text-warning">Processing...</td>
                    <td ng-if="pp.Status == 2 && !pp.payNowState" class="text-info">Scheduled</td>

                    <td ng-if="pp.Status == 0" class="text-info">Scheduled after 1st payment</td>
                    <td>
                        <div ng-if="pp.DiscountAmount"><strike>{{ pp.FullAmount | currency }}</strike></div>
                        <div>{{ pp.DueAmount | currency }}</div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><strong>Total</strong></td>
                    <td>
                        <div ng-if="pendingPayments.totalDiscount"><strike>{{ pendingPayments.totalFull | currency }}</strike></div>
                        <strong>{{ pendingPayments.totalDue | currency }}</strong>
                    </td>
                </tr>
                <tr ng-repeat="coupon in coupon.applied">
                    <td colspan="2"></td>
                    <td><strong>{{ coupon.description }}</strong></td>
                    <td>
                        <strong>{{ coupon.code }}</strong>
                        <button ng-if="coupon.userCanRemove && presented.Mode == 0" class="btn btn-danger btn-small" ng-click="removeCoupon(coupon)"><i class="icon-trash"></i></button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div ng-if="pendingPayments.MaxCoupons && presented.Mode == 0">
            <div class="control-group">
                <div class="controls">
                    <div class="input-append">
                        <label>{{presented.couponprompt}}</label>
                        <input type="text" placeholder="{{ presented.couponcodename }}" ng-model="coupon.couponcode" ng-change="resetCouponCode()" style="width: 200px" />
                        <div class="btn-group">
                            <button class="btn" ng-click="applyCouponCode()" ng-disabled="coupon.checking || coupon.error">
                                <span ng-if="!coupon.checking && !coupon.error">Apply</span>
                                <span ng-if="coupon.checking">Checking...</span>
                                <span ng-if="coupon.error">{{ coupon.error }}</span>
                            </button>
                        </div>
                    </div>
                    <div ng-if="coupon.message" class="alert alert-danger">{{ coupon.message }}</div>
                </div>
            </div>
        </div>
        <div ng-if="presented.Mode == 2">
            <div ng-if="!order.CancelledDateUtc">
                <div class="alert alert-danger">
                    Cancelling an Order will do the following
                    <ol>
                        <li>Set the Order to Cancelled state</li>
                        <li>Any Scheduled Payments will be Cancelled</li>
                        <li>Any Reservations attached to the Order will be Cancelled</li>
                    </ol>
                </div>
                <div class="alert alert-danger">
                    Cancelling an Order will not perform any Refund for amounts already Paid, this should be performed manually
                </div>
                <button class="btn btn-danger" ng-click="cancelOrder()">Cancel Order</button>
            </div>
            <div ng-if="order.CancelledDateUtc" class="alert alert-info">
                This Order was Cancelled on {{ order.CancelledDateUtc | amLocal | amDateFormat: 'D MMM YYYY HH:mm' }}
            </div>
        </div>
    </div>

