﻿<div >
    <div id="management" class="container-fluid" ng-controller="JsFunctionManagementCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newRecord()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                        <div class="btn-group">
                            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-click="showImportProduct()"><a href="#">Import</a></li>
                                <li><a href="{{getExportUrl()}}">Export</a></li>
                            </ul>
                        </div>
                    </div>
                    <js-function-sidebar></js-function-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>Javascript Function Management</h1>
                        This management section allows you to define the library of Javascript functions used by other sections.
                    </div>
                    <div ng-if="editing">
                        <js-function-editor ng-model="editing"></js-function-editor>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-large hide fade importdialog" modalify="showImportDialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Import Products</h3>
            </div>
            <div class="modal-body" style="min-height: 30px">
                <div ng-if="uploader" class="row-fluid">
                    <div class="span6">
                        <div ng-show="uploader.isHTML5" nv-file-drop uploader="uploader">
                            <div class="well drop-zone" nv-file-over uploader="uploader" translate>
                                Drag and Drop files here
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <p translate>Alternatively you may select a file</p>
                        <input nv-file-select uploader="uploader" type="file" multiple />
                    </div>
                </div>
                <div class="row-fluid" ng-if="uploader.queue.length > 0">
                    <div class="span12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%" translate>Name</th>
                                    <th translate>Status</th>
                                    <th translate>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="icon-upload"></i></span>
                                        <span ng-show="item.isCancel"><i class="icon-ban-circle"></i></span>
                                        <span ng-show="item.isError" id='{{item.id}}'><i class="icon-trash"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-mini" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="icon-upload"></span><translate>Import</translate>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-mini" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="icon-ban-circle"></span><translate>Cancel</translate>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-mini" ng-click="item.remove()">
                                            <span class="icon-trash"></span><translate>Remove</translate>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="importfailed == false" class="alert alert-success">
                            The import completed successfully.
                        </div>
                        <div ng-if="importfailed == true">
                            <div class="row-fluid">
                                <div class="span12 alert alert-error">
                                    <h4>Issues Encountered</h4>
                                    Issues were encountered while attempting to upload. No data has been saved to the database. Please correct the issues detailed below before trying again.
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-stripped">
                                        <tbody>
                                            <tr ng-repeat="result in importresults.errors track by $index">
                                                <td><span class="label label-important">Error</span></td>
                                                <td>
                                                    {{result}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" translate ng-click="closeImportProduct()">Close</a>
                    <a href="#" class="btn btn-primary" ng-click="uploadSchedule()" translate>Import</a>
                </div>
            </div>
        </div>
    </div>
</div>