﻿<div >
    <div id="management" class="container-fluid" ng-controller="ESProbeAdminCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <es-probe-sidebar></es-probe-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>ES Probe Management</h1>
                        This management section allows you to manage Environmental Sensing probes.
                    </div>
                    <div ng-if="editing">
                        <es-probe-editor ng-model="editing"></es-probe-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>