<md-toolbar class='md-hue-1'>
    <div class='md-toolbar-tools'>
        <md-button class='md-raised' ng-click='$ctrl.save()' ng-disabled='!$ctrl.canSave()'>
            <md-icon md-font-set='fas' md-font-icon='fa-save'></md-icon>&nbsp;Save
        </md-button>
        <md-button class='md-raised' ng-click='$ctrl.undo()' ng-disabled='!$ctrl.canUndo()'>
            <md-icon md-font-set='fas' md-font-icon='fa-undo'></md-icon>&nbsp;Undo
        </md-button>
        <md-button class='md-raised' ng-click='$ctrl.delete()' ng-disabled='!$ctrl.canDelete()'>
            <md-icon md-font-set='fas' md-font-icon='fa-trash'></md-icon>&nbsp;Delete
        </md-button>
    </div>
</md-toolbar>

<md-content layout-padding>
    <div layout='column'>
        <md-input-container flex>
            <label>Release</label>
            <input ng-model='$ctrl.edit.id' readonly='true'>
        </md-input-container>

        <md-input-container>
            <label>Profile</label>
            <input ng-model='$ctrl.edit.profile.name' readonly='true' flex>
            <md-button ng-disabled='!$ctrl.edit' ng-click='$ctrl.changeProfile()'>Change</md-button>
        </md-input-container>
    </div>
</md-content>
