﻿<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: file: cdvfile: http: https: filesystem:; style-src 'self' 'unsafe-inline' http: https: file: cdvfile: filesystem:; script-src 'self' 'unsafe-inline' 'unsafe-eval' http: https: file: cdvfile: filesystem:; media-src *; connect-src 'self' http: https:"/>

        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/angular-snap.css" />
        <link rel="stylesheet" type="text/css" href="bundle.css" />

        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }

 @-webkit-keyframes ble_receive {
    0% { background-color: #00aa00; }
    20% { background-color: #00aa00; }
    100% { background-color: #999999; }
}
@-moz-keyframes led_receive {
    0% { background-color: #00aa00; }
    20% { background-color: #00aa00; }
    100% { background-color: #999999; }
}
@-ms-keyframes led_receive {
    0% { background-color: #00aa00; }
    20% { background-color: #00aa00; }
    100% { background-color: #999999; }
}
@-o-keyframes led_receive {
    0% { background-color: #00aa00; }
    20% { background-color: #00aa00; }
    100% { background-color: #999999; }
}
@keyframes led_receive {
    0% { background-color: #00aa00; }
    20% { background-color: #00aa00; }
    100% { background-color: #999999; }
}

.led_receive {
    -webkit-animation: led_receive 1s;
    -moz-animation: led_receive 1s;
    -ms-animation: led_receive 1s;
    -o-animation: led_receive 1s;
    animation: led_receive 1s;
}

.led_transmitting {
    background-color: #aa0000;
}

        </style>
        <title>Virtual Manager</title>
        
    </head>    
<body class="dashboard" ng-cloak ng-controller="dashboardController">
    <auto-logout-panel></auto-logout-panel>
    <snap-drawer id="snapdrawerwrapper">
        <div class="navbar navbar-fixed-top" style="position:static">
            <div class="navbar-inner" style="min-height: 50px; padding: 5px">
            </div>
        </div>
        <div ng-show="!choosingLanguage">
            <screen-orientation-control></screen-orientation-control>
            <ul class="nav nav-list">
                <li class="nav-header" translate>General</li>
                <li ng-click="refresh()" snap-toggle><a href="#" translate>Refresh</a></li>
                <li class="nav-header" translate>Session</li>
                <li ng-click="logout()" snap-toggle><a href="#" translate>Logout</a></li>
            </ul>
            <ul class="nav nav-list" ng-if="languages.length > 1">
                <li class="nav-header" translate>Language</li>
                <li ng-click="toggleChoosingLanguage()">
                    <a href="#">
                        <i class="icon-globe"></i>
                        {{ getCurrentLanguage().languagename }}
                    </a>
                </li>
            </ul>
            <div ng-controller="dashboardListener">
                <ul class="nav nav-list" ng-if="dashboards.length > 1">
                    <li class="nav-header" translate>Dashboards</li>
                    <li ng-repeat="db in dashboards" snap-toggle ng-class="{ active: $first }">
                        <a title="#{{db.PlayerModel.ChecklistDescription}}" href="#{{db.PlayerModel.WorkingDocumentId}}" data-tabid="{{db.PlayerModel.WorkingDocumentId}}" data-toggle="tab" ng-click="selectDashboard(db)">{{db.PlayerModel.ChecklistName}}</a>
                    </li>
                </ul>
            </div>
            <div ng-controller="beaconListener">
                <ul class="nav nav-list" ng-if="enabled">
                    <hr />
                    <span ng-if="beaconSvc.scanning" class="label led_flasher" id="beacon" ng-click="toggleShowBeacons()"><i class="icon-rss"></i> {{ beacons.length }}</span>
                    <span class="label led_flasher" id="assettracker"><i class="icon-upload"></i> {{ assetTrackerSvc.queue.length }}</span>
                    <div ng-if="assetTrackerSvc.bestStaticBeacon">
                        <span class="label"><i class="icon-map-marker"></i> {{ assetTrackerSvc.bestStaticBeacon.staticBeacon.alldata.Name || assetTrackerSvc.bestStaticBeacon.beaconId }} ({{ assetTrackerSvc.bestStaticBeacon.range.name }})</span>
                    </div>
                    <div ng-if="showBeacons" ng-repeat="beacon in beacons">
                        <span class="label"><i class="icon-eye-open"></i> {{ beacon.assetBeacon.alldata.Name || beacon.staticBeacon.alldata.Name || beacon.beaconId }} ({{ beacon.range.name }} {{ beacon.receiveCount }} {{ beacon.lastXSeconds.length }} {{ beacon.distance | number: 1 }})</span>
                    </div>
                </ul>
            </div>
            <div ng-controller="environmentSensorListener">
                <ul class="nav nav-list" ng-if="enabled">
                    <hr />
                    <span class="label led_flasher" id="esProbes" ng-click="toggleShowSensors()"><i class="icon-dashboard"></i> {{ probeCount }}</span>
                    <span class="label led_flasher" id="esQueue"><i class="icon-upload"></i> {{ esSvc.queue.length }}</span>
                    <div ng-if="showSensors" ng-repeat="probe in probes">
                        <span class="label">
                            <i class="icon-eye-open"></i> {{ probe.serialNumber }}
                            <span ng-repeat="sensor in probe.displaySensors">
                                {{ sensor.display() }}
                            </span>
                        </span>
                    </div>
                </ul>
            </div>
            <ul class="nav nav-list">
                <div>
                    <span style="font-size:xx-small" class="muted">
                        V{{ appVersion.versionNumber }} / {{ appVersion.webAppVersion }}
                    </span>
                </div>
                <div>
                    <span style="font-size:xx-small" class="muted">
                        UUID {{ appDevice.uuid }}
                    </span>
                </div>
                <div>
                    <span style="font-size:xx-small" class="muted">
                        SSID {{ appDevice.ssid }}
                    </span>
                </div>
            </ul>
        </div>
        <div ng-show="choosingLanguage">
            <ul class="nav nav-list">
                <li ng-click="toggleChoosingLanguage()"><a href="#" translate>Back</a></li>
                <li class="nav-header" translate>Select language</li>
                <li ng-repeat-start="language in languages">
                    <a href="#" ng-click="browserSelectLanguage(language.culturename)">
                        <div>{{ language.languagename }}</div>
                        <div ng-if="language.languagename != language.nativename">{{ language.nativename }}</div>
                    </a>
                </li>
                <li class="divider" ng-if="!$last" ng-repeat-end></li>
            </ul>
        </div>
    </snap-drawer>

    <div class="content body" id="snapcontentwrapper" snap-opt-touch-to-drag="false">
        <snap-content id="snapcontentwrapper" snap-opt-touch-to-drag="false">
            <div class="navbar navbar-fixed-top" id="snapcontentmirror">
                <div class="navbar-inner" style="min-height: 50px; padding: 5px">
                    <div class="container">
                        <span style="background: white; border-radius: 5px; padding: 15px 5px;">
                            <img src="images/titlebar-logo.png" style="height:50px" />
                        </span>
                        <a class="btn btn-navbar" style="display:block;" snap-toggle="left" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="container body" ui-view></div>
<!--
            <div ng-controller="loginPhotoTestCtrl">
                <button ng-click="takePhoto()">Take Photo</button>
            </div>
            <div ng-controller="environment-sensor-test">
                <div ng-repeat="probe in manager.probes">
                    {{ probe.name }}V{{ probe.version }} {{ probe.reading | json }} <span am-time-ago='probe.timestamp'></span>
                </div>
            </div>
            <div ng-controller="temperature-probe-manager-test">
    Temperature Probes
    <button ng-click="startScan()">Scan</button> {{ manager.getScanState() }} {{ message }}
    <div ng-repeat="probe in manager.probes">
        Id:{{ probe.id }} Name:{{ probe.name }} SN:{{ probe.serialNumber }} State:{{ probe.statusText }}, {{ probe.driver.device.connectionState }} Temp:{{ probe.temperature.value }}
        <button ng-if="probe.canConnect()" ng-click="probe.connect()">Connect</button>
        <button ng-if="probe.canDisconnect()" ng-click="probe.disconnect()">Disconnect</button>
        <button ng-if="probe.canIdentify()" ng-click="probe.identify()">Identify</button>
        <button ng-if="probe.canMeasure()" ng-click="probe.measure()">Measure</button>
        <div>
            {{ probe.values | json }}
        </div>
    </div>
    <button ng-click="manager.configure({ measurementMilliseconds: 5000 })">5 seconds</button>
    <button ng-click="manager.configure({ measurementMilliseconds: 1000 })">1 second</button>
    <button ng-click="manager.configure({ measurementMilliseconds: 0 })">Never</button>
    <button ng-click="manager.configure({ autoOffSeconds: 10 })">Auto Off 10 seconds</button>
    <button ng-click="manager.configure({ autoOffSeconds: 0 })">Auto Off Never</button>
    <button ng-click="manager.configure({ measurementMilliseconds: 100, temperature: { lowAlarm: 50, highAlarm: 60 }})">Meat</button>
    <button ng-click="manager.configure({ measurementMilliseconds: 100, temperature: { lowAlarm: 0, highAlarm: 5 }})">Cooler</button>
    <button ng-click="manager.configure({ temperature: { lowAlarm: null, highAlarm: null }})">No alarm</button>
    Connected to {{ manager.probe.serialNumber }}
    Press count {{ buttonPressed }}
</div>
    -->
        </snap-content>
    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="cordova_plugins.js"></script>
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="js/Bootstrap.js"></script>
    <script type="text/javascript" src="js/Angular.js"></script>
    <script type="text/javascript" src="js/Angular-ui-router.js"></script>
    <script type="text/javascript" src="js/Angular-ocLazyLoad.js"></script>
    <script type="text/javascript" src="js/Angular-console-logger.js"></script>
    <script type="text/javascript" src="js/Snap.js"></script>
    <script type="text/javascript" src="js/Angular-snap.js"></script>
    <script type="text/javascript" src="js/angular-uuid.js"></script>
    <script type="text/javascript" src="js/sugar.js"></script>
    <script src="bower_components/angular-keypad/dist/angular-keypad.js"></script>

    <script type="text/javascript" src="bower_components/crypto-js/core.js"></script>
    <script type="text/javascript" src="bower_components/crypto-js/sha1.js"></script>
    <script type="text/javascript" src="bower_components/crypto-js/lib-typedarrays.js"></script>
    <script type="text/javascript" src="bower_components/text-encoding/lib/encoding.js"></script>

    <script type="text/javascript" src="js/persistantStorage.js"></script>
    <script type="text/javascript" src="js/httpDaemon.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
    <script type="text/javascript" src="js/vmngUtils.js"></script>
    <script type="text/javascript" src="js/beacon.js"></script>
    <script type="text/javascript" src="js/vmApp.js"></script>

    <div id="htmlTemplates">
    </div>

    <script type="text/javascript">
        dashboardApp.initialize();
    </script>

</body>

</html>