﻿<div question-wrapper="presented">
    <md-input-container ng-switch on="presented.AllowMultiline" flex>
        <label ng-bind-html='presented.promptAsHtml'></label>
        <md-datepicker ng-model="answer.DateTime" pass-through-style="{{presented.HtmlPresentation.CustomStyling}}"
            ng-change="dateChanged()" md-date-filter="dateOnRender(date)"></md-datepicker>
        <div ng-messages='presented.ValidationErrors' ng-if='presented.ValidationErrors.length'>
            <div ng-repeat='error in presented.ValidationErrors' class='md-input-message-animation'>
                {{ error }}</div>
        </div>
    </md-input-container>
</div>