﻿@model ConceptCave.www.Models.CalendarRuleModel
@{
    Layout = null;
}
<div class="row-fluid">
    <div class="span6" translate>
        Frequency:
    </div>
    <div class="span6">
        @Model.Frequency.ToString()
    </div>
</div>
<div class="row-fluid">
    <div class="span6" translate>
        Start Date:
    </div>
    <div class="span6">
        @Model.StartDate.ToString("dd/MM/yyyy")
    </div>
</div>
@if (Model.Frequency == ConceptCave.RepositoryInterfaces.Enums.CalendarRuleFrequency.Daily)
{
    <div class="row-fluid">
        <div class="span6" translate>
            End Date:
        </div>
        <div class="span6">
            @(Model.EndDate.HasValue ? Model.EndDate.Value.ToString("dd/MM/yyyy") : "")
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6" translate>
            Days:
        </div>
        <div class="span6">
            @if (Model.ExecuteSunday == true)
            {
                <text><translate>Sunday</translate> </text>
            }
            @if (Model.ExecuteMonday == true)
            {
                <text><translate>Monday</translate> </text>
            }
            @if (Model.ExecuteTuesday == true)
            {
                <text><translate>Tuesday</translate> </text>
            }
            @if (Model.ExecuteWednesday == true)
            {
                <text><translate>Wednesday</translate> </text>
            }
            @if (Model.ExecuteThursday == true)
            {
                <text><translate>Thursday</translate> </text>
            }
            @if (Model.ExecuteFriday == true)
            {
                <text><translate>Friday</translate> </text>
            }
            @if (Model.ExecuteSaturday == true)
            {
                <text><translate>Saturday</translate> </text>
            }
        </div>
    </div>
}