﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models
@using System.Linq

@functions {
    public bool ShowNode(MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel node)
    {
        if (node.MetaAttributes.ContainsKey("MustHaveChildren") == false || bool.Parse(node.MetaAttributes["MustHaveChildren"]) == false)
        {
            return true;
        }

        if (node.Children.Any() == false)
        {
            return false;
        }

        // so we have children and we have have the MustHaveChildren attribute set to true. This
        // means we need to have children that are useful, ie either a container for a submenu themselves
        // or a link to somewhere useful.
        bool show = false;

        foreach (var child in node.Children)
        {
            bool s = ShowNode(child);

            if (s == true)
            {
                show = true;
                break;
            }
        }

        return show;
    }
}

@helper Menu(MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel menu)
{
    <ul class="dropdown-menu">
        @foreach (var child in menu.Children)
        {
            if (child.Children.Any())
            {
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">
                        @child.Title
                    </a>
                    @Menu(child)
                </li>
                <ul class="dropdown-menu"></ul>
            }
            else
            {
                if (ShowNode(child))
                {
                    <li><a href="@child.Url">@child.Title</a></li>
                }
            }
        }
    </ul>
}

<ul id="mainnav" class="nav">
    @foreach (var node in Model.Nodes)
    {
        if (node.Controller == "Reports")
        {
            <li><a href="@node.Url">@node.Title</a></li>
            continue;
        }

        if (node.Children.Any() == false)
        {
            continue;
        }

        if (ShowNode(node) == false)
        {
            continue;
        }

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                @node.Title
                <b class="caret"></b>
            </a>
            @if (node.Children.Any())
            {
                @Menu(node)
            }
        </li>
    }
</ul>

<script type="text/javascript">
    $(function () {
        $("#mainnav .dropdown-toggle").dropdown();
    });
</script>
