﻿@model Guid

@{
    ConceptCave.Data.EntityClasses.MediaEntity mediaEntity = null;

    if (this.ViewBag.Media != null)
    {
        mediaEntity = (ConceptCave.Data.EntityClasses.MediaEntity)this.ViewBag.Media;
    }
    else
    {
        ConceptCave.Repository.MediaRepository.GetById(Model, ConceptCave.RepositoryInterfaces.Enums.MediaLoadInstruction.None);
    }

    var mediaName = "{{ 'No media selected' | translate }}";
    if (mediaEntity != null)
    {
        mediaName = mediaEntity.Name;
    }
}
<span class="label label-info">@mediaName</span>