.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.text-primary {
    color: #007bff!important;
}

.text-secondary {
    color: #6c757d!important;
}

.text-success {
    color: #28a745!important;
}

.text-info {
    color: #17a2b8!important;
}

.text-danger {
    color: #dc3545!important;
}

.text-warning {
    color: #ffc107!important;
}

.text-light {
    color: #f8f9fa!important;
}

.text-dark {
    color: #343a40!important;
}

.text-muted {
    color: #6c757d!important;
}

.text-white {
    color: #fff!important;
}

.bg-dark {
    background-color: #343a40!important;
}

.label {
    border-radius: 3px;
    font-weight: 300;
    color: #fff;
    font-size: 0.8rem;
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    line-height: 22px;
    height: 22px;
    float: right;
    box-sizing: border-box;
}

.label-primary {
    background-color: #004085;
    color: #cce5ff;
    border-color: #b8daff;
}

.label-secondary {
    background-color: #383d41;
    color: #e2e3e5;
    border-color: #d6d8db;
}

.label-success {
    background-color: #155724;
    color: #d4edda;
    border-color: #c3e6cb;
}

.label-info {
    background-color: #0c5460;
    color: #d1ecf1;
    border-color: #bee5eb;
}

.label-danger {
    background-color: #721c24;
    color: #f8d7da;
    border-color: #f5c6cb;
}

.label-warning {
    background-color: #856404;
    color: #fff3cd;
    border-color: #ffeeba;
}

.label-light {
    background-color: #818182;
    color: #fefefe;
    border-color: #fdfdfe;
}

.label-dark {
    background-color: #1b1e21;
    color: #d6d8d9;
    border-color: #c6c8ca;
}
