﻿<!DOCTYPE html>
<html <%= htmlWebpackPlugin.options.manifestAppcache %>>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>VirtualMgr</title>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    <link href="/tenant/theme.css" rel="stylesheet">
    <link rel='manifest' href='/spa/app-manifest.json' />
</head>

<body layout='row' class='application-body animation-container' ng-cloak>
    <% if (htmlWebpackPlugin.options.determinePlatform) { %>
    <script>
        if (window.webkit && window.webkit.messageHandlers) {
            window.location.href = '/spa/index-ios.html';
        } else {
            // We are not running iOS, we should be able to use ServiceWorkers ..
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/spa/service-worker.js');
                });
            }
        }
    </script>
    <% } %>

    <div ui-view='body' layout='row' flex class='ui-view-layout-row fade-in-fade-out'></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

</body>

</html>