table.mat-table {
    border-spacing: 0;
    width: 100%;
}

.mat-table {
    background: #fff;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-bottom: 1em;
}

.mat-table tbody, .mat-table tfoot, .mat-table thead, .mat-table-sticky {
    background: inherit;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 24px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.mat-table thead tr {
    height: 56px;
}

.mat-table.table-condensed thead tr {
    height: 36px;
}

th.mat-header-cell {
    text-align: left;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: rgba(0,0,0,.12);
}
.mat-header-cell {
    color: rgba(0,0,0,.54);
}
.mat-header-cell {
    font-size: 12px;
    font-weight: 500;
}

.mat-table tbody tr {
    height: 48px;
}

.mat-table.table-hover tbody tr:hover, .mat-table.table-striped tbody tr:hover:nth-child(odd) {
    background-color:rgba(158,158,158,0.4);
}

.mat-table.table-striped tbody tr:nth-child(odd) {
    background-color:rgba(158,158,158,0.2);
}

.mat-table.table-condensed tbody tr {
    height: 32px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 24px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: rgba(0,0,0,.12);
}
.mat-cell, .mat-footer-cell {
    color: rgba(0,0,0,.87);
}
.mat-cell, .mat-footer-cell {
    font-size: 14px;
}

.mat-table.table-hover tbody tr.paginator:hover, .mat-table.table-striped tbody tr.paginator {
    background-color:#fff;
}
.mat-table tr.paginator
{

    text-align: right;
}

.mat-table tr.loading
{
    background-color:#fff;
    height:2px;
}