﻿<div question-wrapper="presented"
    ng-if="presented.hidewhennodata == false || (presented.hidewhennodata == true && feed.data.length > 0)">
    <table class="mat-table"
        ng-class="{'table-striped': 'presented.stripes', 'md-whiteframe-1dp': 'presented.bordered', 'table-hover': 'presented.hover', 'table-condensed': 'presented.condense'}">
        <thead>
            <tr>
                <th class="mat-header-cell" ng-repeat="field in displayContainer.displayfields">{{field}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="loading" ng-if="loading == true">
                <td colspan="{{displayContainer.displayfields.length}}">
                    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                </td>
            </tr>
            <tr ng-class="{ 'selected': row == selectedRow}" ng-if="feed.data.length > 0" ng-repeat="row in feed.data"
                ng-click="rowclicked(row)">
                <td class="mat-cell" ng-repeat="field in displayContainer.displayfields">
                    <question-datatable-cell field="field" row="row"></question-datatable-cell>
                </td>
            </tr>
            <tr ng-if="feed.data.length == 0" class="info">
                <td class="mat-cell" colspan="{{displayContainer.displayfields.length}}" translate>
                    There are no more records available
                </td>
            </tr>
            <tr class="paginator">
                <td colspan="{{displayContainer.displayfields.length}}" class="mat-cell">
                    <md-button ng-click="feed.previousPage()" ng-if="feed.page > 1" class="md-icon-button">
                        <i class="material-icons">
                            chevron_left
                        </i>
                    </md-button>
                    <md-button ng-click="feed.nextPage()" ng-if="feed.data.length > 0" class="md-icon-button">
                        <i class="material-icons">
                            chevron_right
                        </i>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>