﻿<div>
    <div id="management" class="container-fluid" ng-controller="invoiceadminCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="showGenerateInvoice()" class="btn btn-success">Generate Invoice</button>
                    </div>
                    <invoice-sidebar ng-model="records"></invoice-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>Invoice Administration</h1>
                        This section allows you to administer customer invoices.
                    </div>
                    <div ng-if="editing">
                        <invoice-editor ng-model="editing"></invoice-editor>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-large hide fade" modalify="showGenerateInvoiceDialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Generate Invoice</h3>
            </div>
            <div class="modal-body" style="min-height: 30px">
                <div class="alert alert-danger" ng-if="!nextInvoice.fullinvoice">
                    The last invoice generated was less than a month ago, this will generate a partial invoice
                </div>

                <div class="alert alert-info" ng-if="nextInvoice.firstinvoice">
                    <p>There are no previous invoices.</p>
                    <p>
                        Generating this invoice will set the monthly invoice date to be the
                        <b><ng-pluralize count="nextInvoice.invoicedayofmonth" when="{1:'1st', 2:'2nd', 3:'3rd', 21:'21st', 22:'22nd', 23:'23rd', 31:'31st', 'other':'{}th'}"></ng-pluralize></b>
                        day of each month.
                    </p>
                    <p>Select the date of the first invoice to start from</p>
                </div>
                <div class="control-group">
                    <label class="control-label" for="from" translate>From</label>
                    <div class="controls">
                        <input type="date" ng-model="nextInvoice.fromdate" />
                    </div>
                    <div class="alert alert-error" ng-if="checkDates.fromclash">
                        Invoice {{ checkDates.fromclash.id }} covers upto {{ checkDates.fromclash.todateutc | amUtc | amLocal | amDateFormat:'D MMM YYYY'}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="to" translate>To</label>
                    <div class="controls">
                        <input type="date" ng-model="nextInvoice.todate" />
                    </div>
                    <div class="alert alert-error" ng-if="checkDates.toclash">
                        Invoice {{ checkDates.toclash.id }} covers from {{ checkDates.toclash.todateutc | amUtc | amLocal | amDateFormat:'D MMM YYYY'}}
                    </div>
                </div>
                <div class="alert alert-error" ng-if="invalidInvoiceReason">
                    {{ invalidInvoiceReason }}
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" translate ng-click="generateInvoice()" ng-if="validInvoice=='valid'">Generate</a>
                </div>
            </div>
        </div>
    </div>
</div>