<div layout='row' layout-align='end center' flex>
    <md-menu md-position-mode='target-right bottom'>
        <md-button ng-click='$mdMenu.open($event)'>
            <md-icon md-font-set='fas' md-font-icon='fa-user-circle fa-lg'></md-icon>
            &nbsp;{{ $ctrl.authSvc.user.username }}
            <md-icon md-font-set='fas' md-font-icon='fa-caret-down fa-lg'></md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click='$ctrl.logout()'>
                    <md-icon md-font-set='fa' md-font-icon='fa-sign-out-alt'></md-icon>&nbsp;Logout
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>