﻿<register-translations>
    <currently-count-will-be-assigned-this-schedule>Currently <b><span ng-bind="users.join(', ')" /></b> will be assigned this schedule.</currently-count-will-be-assigned-this-schedule>
</register-translations>
<div>
    <div id="management" class="container-fluid" ng-controller="schedulemanagementCtrl">
        <div class="row-fluid">
            <div class="span4">
                <div class="control-group" ng-class="{error: editor.inputRoster.$invalid && editor.inputRoster.$pristine == false}">
                    <label class="control-label" for="inputRoster" translate>Roster</label>
                    <div class="controls">
                        <select id="inputRoster" name="inputRoster" ng-model="rosterid" ng-options="r.id as r.name for r in rosters"></select><span ng-if="editor.inputRoster.$invalid && editor.inputRoster.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group" ng-class="{error: editor.inputRoles.$invalid && editor.inputRoles.$pristine == false}">
                    <label class="control-label" for="inputRoles" translate>Role</label>
                    <div class="controls">
                        <select id="inputRoles" name="inputRoles" ng-model="roleid" ng-options="r.id as r.roleAndName for r in roles"></select><span ng-if="editor.inputRoles.$invalid && editor.inputRoles.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div style="padding-top:22px" class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Actions
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-show="!isinaction"><a ng-click="startBatchAction('move')" href="#">Move tasks to another role</a></li>
                        <li ng-show="!isinaction"><a ng-click="startBatchAction('copy')" href="#">Copy tasks to another role</a></li>
                        <li ng-show="!isinaction"><a ng-click="startBatchAction('changeproperties')" href="#">Change task properties</a></li>
                        <li ng-show="!isinaction" class="divider"></li>
                        <li ng-show="!isinaction"><a ng-click="showImportSchedule()" href="#">Import From xlsx</a></li>
                        <li ng-show="!isinaction"><a ng-href="{{exportUrl()}}">Export To xlsx</a></li>
                        <li ng-show="isinaction"><a ng-click="selectAll(true)" href="#">Select All Tasks</a></li>
                        <li ng-show="isinaction"><a ng-click="selectAll(false)" href="#">Unselect All Tasks</a></li>
                        <li ng-show="isinaction" class="divider"></li>
                        <li ng-show="isinaction == 'move' || isinaction == 'copy'"><a ng-click="showCompleteBatchAction(isinaction)" href="#">Complete Batch Operation</a></li>
                        <li ng-show="isinaction == 'changeproperties'"><a ng-click="showCompleteBatchAction(isinaction)" href="#">Complete Batch Operation</a></li>
                        <li ng-show="isinaction"><a ng-click="cancelBatchAction(isinaction)" href="#">Cancel Batch Operation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="isinaction" class="row-fluid">
            <div class="span12">
                <p class="alert alert-info">Select the items you wish to move,copy or change then use the actions menu button to complete or cancel the operation.</p>
            </div>
        </div>

        <ul class="nav nav-tabs" ng-if="users">
            <li tabify><a href="#daily" data-toggle="tab" translate>Daily</a></li>
            <li tabify><a href="#recurring" data-toggle="tab" translate>Recurring</a></li>
            <li tabify><a href="#info" data-toggle="tab" translate>Information</a></li>
        </ul>
        <div class="tab-content" fill-height additional-padding="70" min-height-only>
            <div class="tab-pane active" id="daily" style="height:100%">
                <div class="row-fluid schedule-weekdays" style="height:100%" ng-if="users">
                    <div class="span2">
                        <schedule-day ng-model="alltasks" day="Sun" level="level" types="types" selecting="selecting"></schedule-day>
                    </div>
                    <div class="span2">
                        <schedule-day ng-model="alltasks" day="Mon" level="level" types="types" selecting="selecting"></schedule-day>
                    </div>
                    <div class="span2">
                        <schedule-day ng-model="alltasks" day="Tue" level="level" types="types" selecting="selecting"></schedule-day>
                    </div>
                    <div class="span2">
                        <schedule-day ng-model="alltasks" day="Wed" level="level" types="types" selecting="selecting"></schedule-day>
                    </div>
                    <div class="span2">
                        <schedule-day ng-model="alltasks" day="Thr" level="level" types="types" selecting="selecting"></schedule-day>
                    </div>
                    <div class="span2">
                        <schedule-day ng-model="alltasks" day="Fri" level="level" types="types" selecting="selecting"></schedule-day>
                    </div>
                    <div class="span2">
                        <schedule-day ng-model="alltasks" day="Sat" level="level" types="types" selecting="selecting"></schedule-day>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="recurring">
                <schedule-cron ng-model="alltasks" level="level" types="types"></schedule-cron>
            </div>
            <div class="tab-pane" id="info">
                <div class="row-fluid" ng-if="users">
                    <p class="text-info" translate>currently-count-will-be-assigned-this-schedule</p>
                </div>
            </div>
        </div>

        <div class="modal hide fade settimesdialog" modalify="showsettimes">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Set Day Times</h3>
            </div>
            <div class="modal-body" style="min-height:300px">
                <schedule-set-times ng-model="times"></schedule-set-times>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="completeSetTimesOrOverrideRole()" translate>Complete</a>
            </div>
        </div>

        <div class="modal hide fade overrideroledialog" modalify="showoverriderole">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Override Role For Day</h3>
            </div>
            <div class="modal-body" style="min-height:300px">
                <schedule-set-overriderole ng-model="overrideRole" roles="roles"></schedule-set-overriderole>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="completeSetTimesOrOverrideRole()" translate>Complete</a>
            </div>
        </div>

        <div class="modal-large hide fade batchmovecopydialog" modalify="showbatchchangeproperties">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Batch Change Task Properties</h3>
            </div>
            <div class="modal-body">
                <p class="alert alert-info">Select which properties you wish to change. Note changes here will be applied to all tasks that you have selected.</p>

                <ul class="nav nav-tabs" id="filetab">
                    <li tabify><a href="#batchgeneral" data-toggle="tab" translate>General</a></li>
                    <li><a href="#batchdays" data-toggle="tab">Schedule</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="batchgeneral" style="min-height:300px;">
                        <div class="row-fluid">
                            <div class="span12">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="changepropertychangesite">&nbsp;<translate>Change Site</translate>
                                </label>
                            </div>
                        </div>
                        <div ng-show="changepropertychangesite" class="row-fluid">
                            <div class="span12">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Site</label>
                                    <div class="controls">
                                        <select-user ng-model="changepropertysite" mandatory="false"></select-user>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="changepropertychangelevel">&nbsp;<translate>Change Level</translate>
                                </label>
                            </div>
                        </div>
                        <div ng-show="changepropertychangelevel" class="row-fluid">
                            <div class="span12">
                                <div class="control-group">
                                    <label class="control-label" for="inputLevel">Task</label>
                                    <div class="controls">
                                        <input type="text" id="inputLevel" name="inputLevel" required ng-model="changepropertylevel" placeholder="{{ 'Level' | translate }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="batchdays">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="changepropertychangecalendarrule">&nbsp;<translate>Change Schedule</translate>
                        </label>
                        <schedule-calendarrule-editor ng-show="changepropertychangecalendarrule"
                                                      ng-model="changepropertycalendarrule"
                                                      lengthindays="changepropertylengthindays"
                                                      starttime="changepropertystarttime"
                                                      starttimewindowminutes="changepropertystarttimewindowminutes"
                                                      estimateddurationminutes="changepropertyestimateddurationminutes"></schedule-calendarrule-editor>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="completeBatchAction()" translate>Complete</a>
            </div>
        </div>

        <div class="modal hide fade batchmovecopydialog" modalify="showbatchmovecopy">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Batch Operation</h3>
            </div>
            <div class="modal-body">
                <p class="alert alert-info">Select the roster and role to which you wish to move or copy the tasks.</p>
                <schedule-select-roster-and-role ng-model="movetorosterid" roleid="movetoroleid" rosters="rosters"></schedule-select-roster-and-role>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="completeBatchAction()" translate>Complete</a>
            </div>
        </div>

        <div class="modal-large hide fade editscheduleddialog" modalify="editingScheduledTask">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Edit Scheduled Task</h3>
            </div>
            <div class="modal-body">
                <form name="scheduletask">
                    <ul class="nav nav-tabs" id="filetab" ng-show="!isinaction">
                        <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
                        <li><a href="#days" data-toggle="tab">Schedule</a></li>
                        <li ng-if="workloadingenabled"><a href="#workloading" data-toggle="tab">Work Loading</a></li>
                        <li><a href="#labels" data-toggle="tab">Labels</a></li>
                        <li><a href="#auditing" data-toggle="tab">Auditing</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               href="#">
                                Actions
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-click="showMoveToOtherRole()"><a href="#">Move to another role</a></li>
                                <li ng-click="showCopyToOtherRole()"><a href="#">Copy to another role</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="tab-content" ng-show="!isinaction">
                        <div class="tab-pane active" id="general">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group" ng-class="{error: scheduletask.inputName.$invalid && scheduletask.inputName.$pristine == false}">
                                        <label class="control-label" for="inputName" translate>Task</label>
                                        <div class="controls">
                                            <language-localisable-string model="currentScheduledTask.translated" property="name" fallback="currentScheduledTask.name"></language-localisable-string>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="control-group" ng-class="{error: scheduletask.inputName.$invalid && scheduletask.inputName.$pristine == false}">
                                        <label class="control-label" for="inputName">Site</label>
                                        <div class="controls">
                                            <select-user ng-model="searchedsite" mandatory="false"></select-user>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group" ng-class="{error: scheduletask.inputName.$invalid && scheduletask.inputName.$pristine == false}">
                                <label class="control-label" for="inputDescription" translate>Description</label>
                                <div class="controls">
                                    <language-localisable-string type="richtext" model="currentScheduledTask.translated" property="description" fallback="currentScheduledTask.description"></language-localisable-string>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group" ng-class="{error: scheduletask.inputLevel.$invalid && scheduletask.inputLevel.$pristine == false}">
                                        <label class="control-label" for="inputLevel">Task</label>
                                        <div class="controls">
                                            <input type="text" id="inputLevel" name="inputLevel" required ng-model="currentScheduledTask.level" placeholder="{{ 'Level' | translate }}"><span ng-if="scheduletask.inputLevel.$invalid && scheduletask.inputLevel.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="inputType">Type</label>
                                        <div class="controls">
                                            <select id="inputType" name="inputType" ng-model="currentScheduledTask.tasktypeid" ng-options="t.id as t.name for t in types" ng-change="changeTaskType(currentScheduledTask.tasktypeid)"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="days">
                            <schedule-calendarrule-editor ng-model="currentScheduledTask.calendarrule"
                                                            lengthindays="currentScheduledTask.lengthindays"
                                                            starttime="currentScheduledTask.startsAt"
                                                            starttimewindowminutes="currentScheduledTask.starttimewindowminutes"
                                                            estimateddurationminutes="currentScheduledTask.estimateddurationminutes"
                                                            minimumduration="currentScheduledTask.minimumduration"></schedule-calendarrule-editor>
                        </div>
                        <div ng-if="workloadingenabled" class="tab-pane" id="workloading">
                            <div class="alert alert-info" ng-if="currentworkloadingstandards == null" translate>Either a site must be selected or, if you have changed the site this task is assigned to, your changes saved and the task reopened before work loading can be completed.</div>
                            <workloading-standard-selector ng-if="currentworkloadingstandards != null" ng-model="currentworkloadingstandards"></workloading-standard-selector>
                        </div>
                        <div class="tab-pane" id="labels">
                            <label_selector type="Tasks" ng-model="currentScheduledTask.selectedLabels"></label_selector>
                        </div>
                        <div class="tab-pane" id="auditing">
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>Sample Count</th>
                                        <th><button ng-click="addAuditSampling()" class="btn btn-success">Add</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="a in currentScheduledTask.audittaskconditionactions">
                                        <td><input type="text" ng-model="a.group" /></td>
                                        <td colspan="2"><input type="text" ng-model="a.samplecount" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div ng-show="isinaction == 'move' || isinaction == 'copy'">
                    <p class="alert alert-info" ng-if="isinaction == 'move'" translate>This acton will move this task to the roster and role selected below.</p>
                    <p class="alert alert-info" ng-if="isinaction == 'copy'" translate>This acton will copy this task to the roster and role selected below.</p>
                    <schedule-select-roster-and-role ng-model="movetorosterid" roleid="movetoroleid" rosters="rosters"></schedule-select-roster-and-role>
                    <div class="row-fluid">
                        <div class="span12">
                            <button ng-click="backOutOfAction()" class="btn btn-inverse"><i class="icon-remove-sign"></i>&nbsp;Cancel</button>
                            <button ng-click="takeAction()" class="btn btn-warning"><i class="icon-ok"></i>&nbsp;<span ng-if="isinaction == 'move'">Move</span><span ng-if="isinaction == 'copy'">Copy</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" ng-show="!isinaction" class="btn btn-danger" ng-click="confirmDelete()">Delete</a>
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" ng-show="!isinaction" class="btn btn-primary" ng-click="commitScheduledTask()" translate>Save changes</a>
            </div>
        </div>

        <div class="modal-large hide fade importscheduleddialog" modalify="showImportScheduleDialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Import Schedule</h3>
            </div>
            <div class="modal-body" style="min-height: 30px">
                <div ng-if="uploader" class="row-fluid">
                    <div class="span6">
                        <div ng-show="uploader.isHTML5" nv-file-drop uploader="uploader">
                            <div class="well drop-zone" nv-file-over uploader="uploader" translate>
                                Drag and Drop files here
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <p translate>Alternatively you may select a file</p>
                        <input nv-file-select uploader="uploader" type="file" multiple />
                    </div>
                </div>
                <div class="row-fluid" ng-if="uploader.queue.length > 0">
                    <div class="span12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%" translate>Name</th>
                                    <th translate>Status</th>
                                    <th translate>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="icon-upload"></i></span>
                                        <span ng-show="item.isCancel"><i class="icon-ban-circle"></i></span>
                                        <span ng-show="item.isError" id='{{item.id}}'><i class="icon-trash"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-mini" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="icon-upload"></span><translate>Import</translate>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-mini" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="icon-ban-circle"></span><translate>Cancel</translate>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-mini" ng-click="item.remove()">
                                            <span class="icon-trash"></span><translate>Remove</translate>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="importfailed == false" class="alert alert-success">
                            The import completed successfully.
                        </div>
                        <div ng-if="importfailed == true">
                            <div class="row-fluid">
                                <div class="span12 alert alert-error">
                                    <h4>Issues Encountered</h4>
                                    Issues were encountered while attempting to upload. No data has been saved to the database. Please correct the issues detailed below before trying again.
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-stripped">
                                        <tbody>
                                            <tr ng-repeat="result in importresults.errors track by $index">
                                                <td><span class="label label-important">Error</span></td>
                                                <td>
                                                    {{result}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" translate ng-click="closeImportSchedule()">Close</a>
                    <a href="#" class="btn btn-primary" ng-click="uploadSchedule()" translate>Import</a>
                </div>
            </div>
        </div>
    </div>
</div>