<div class="embedded-player" flex layout='column'>
    <div ng-if="status == 'ready'" flex layout='column'>
        <div ng-repeat="m in models" flex layout='column'>
            <div ng-if="m.show == true" render-question="m.PlayerModel.Presented" answers="m.AnswerModel"
                page-scope="pageScope">
            </div>
        </div>
    </div>

    <div ng-if="status == 'finishing'" flex layout='column'>
        <p translate>You are about to complete the checklist, click the button below to finish the checklist</p>
        <md-button class="md-primary md-raised" ng-click="finish()">
            <md-icon md-font-set='fas' md-font-icon='fa-check fa-lg'></md-icon>&nbsp;<span translate>Finish</span>
        </md-button>
    </div>
</div>