﻿<register-translations>
    <current-location-lat-long>Current Location: <span ng-bind="map.companymarker.lat" />, <span ng-bind="map.companymarker.lng" /></current-location-lat-long>
</register-translations>
<div class="row-fluid">
    <div class="span6">
        <form name="companydetails" class="form-horizontal">
            <h4 translate>Company Details</h4>
            <div class="control-group" ng-class="{error: companydetails.inputName.$invalid && companydetails.inputName.$pristine == false}">
                <label class="control-label" for="inputName" translate>Name</label>
            <div class="controls">
                <input type="text" id="inputName" name="inputName" required ng-model="company.name" placeholder="{{ 'Name' | translate }}"><span ng-if="companydetails.inputName.$invalid && companydetails.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
            </div>
            </div>
            <div class="control-group" ng-class="{error: companydetails.inputStreet.$invalid && companydetails.inputStreet.$pristine == false}">
                <label class="control-label" for="inputStreet" translate>Street</label>
            <div class="controls">
                <input type="text" required ng-model="company.address.street" id="inputStreet" name="inputStreet" placeholder="{{ 'Street' | translate }}" ng-change="stoppendinggeocode()" ng-blur="startpendinggeocode()"><span ng-if="companydetails.inputStreet.$invalid && companydetails.inputStreet.$pristine == false" class="help-inline" translate>This field is mandatory</span>
            </div>
            </div>
            <div class="control-group" ng-class="{error: companydetails.inputTown.$invalid && companydetails.inputTown.$pristine == false}">
                <label class="control-label" for="inputTown" translate>Town</label>
            <div class="controls">
                <input type="text" required ng-model="company.address.town" id="inputTown" name="inputTown" placeholder="{{ 'Town' | translate }}" ng-change="stoppendinggeocode()" ng-blur="startpendinggeocode()"><span ng-if="companydetails.inputTown.$invalid && companydetails.inputTown.$pristine == false" class="help-inline" translate>This field is mandatory</span>
            </div>
            </div>
            <div class="control-group" ng-class="{error: companydetails.inputState.$invalid && companydetails.inputState.$pristine == false}">
                <label class="control-label" for="inputState" translate>State</label>
            <div class="controls">
                <select ng-model="company.address.stateid" id="inputState" name="inputState" required ng-options="s.id as s.name for s in countrystates" ng-change="stoppendinggeocode()"  ng-blur="startpendinggeocode()"></select><span ng-if="companydetails.inputState.$invalid && companydetails.inputState.$pristine == false" class="help-inline" translate>This field is mandatory</span>
            </div>
            </div>
            <div class="control-group" ng-class="{error: companydetails.inputPostcode.$invalid && companydetails.inputPostcode.$pristine == false}">
                <label class="control-label" for="inputPostcode" translate>Postcode</label>
            <div class="controls">
                <input type="text" required ng-model="company.address.postcode" id="inputPostcode" name="inputPostcode" placeholder="{{ 'Postcode' | translate }}" ng-change="stoppendinggeocode()" ng-blur="startpendinggeocode()"><span ng-if="companydetails.inputPostcode.$invalid && companydetails.inputPostcode.$pristine == false" class="help-inline" translate>This field is mandatory</span>
            </div>
            </div>
        </form>
    </div>
    <div class="span6" ng-if="map.show == true">
        <div ng-if="locationoperation == 'primarysearch'" class="alert alert-info">
            <small translate>Attempting to find the address using the details entered.</small>
        </div>
        <div ng-if="locationoperation == 'alternatesearch'" class="alert alert-warning">
            <small translate>Attempting to find the address using the details entered failed. Retrying with less specific information.</small>
        </div>
        <div ng-if="locationoperation == 'alternatefound'" class="alert alert-warning">
            <small translate>Searching with the address entered resulted in zero matches. A less specific search resulted in a find. Please move the marker to the correct location.</small>
        </div>
        <div ng-if="locationoperation == 'alternatefailed'" class="alert alert-error">
            <small translate>Searching for the address failed, please use the back button to check the details entered are correct.</small>
        </div>
        <div ng-if="locationoperation == null || locationoperation == 'alternatefound'">
            <p><small translate>Please confirm the location of the company is correct using the map.</small></p>
            <p translate>current-location-lat-long</p>
            <leaflet center="map.center" markers="map.markers" width="430px" height="240px" attribution-control="false">
            </leaflet>
            <p class="text-info"><small translate>You may reposition the blue marker. Green markers indicate existing company locations.</small></p>
        </div>
    </div>
</div>