﻿<div>
    <div class="sigPad signed">
        <div class="sigWrapper">
            <div class="typed" style="display:none"></div>
            <canvas class="pad"></canvas>
            <input type="hidden" />
        </div>
    </div>
    <div ng-if="showmandatorymessage" class="alert alert-error" translate>
        Signature is mandatory.
    </div>
    <div>
        <button class="btn" type="button" ng-click="clearsignature()"><i class="icon-trash"></i>&nbsp;<translate>Clear Signature</translate></button>
        <button class="btn btn-success" type="button"ng-click="acceptsignature()"><i class="icon-ok"></i>&nbsp;<translate>Accept Signature</translate></button>
    </div>
</div>