﻿@model ConceptCave.www.Areas.Publishing.Models.PublishingManagementModel

@{
    ViewBag.Title = "Publishing Management";
}

<div id="management" class="container-fluid">
    <div class="row-fluid">
        <div id="managementlist" class="span4">
            
            <div class="itemlistnav" style="text-align:right;padding:4px;">
                <button id="additem" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                <button id="removeitem" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
            </div>

            <ul id="itemlist" class="nav nav-tabs nav-stacked">
                @foreach (var i in Model.Items)
                {
                    <li id="@i.Id">
                        @Html.Partial("RenderPublishedGroupListItem", i)
                    </li>
                }
            </ul>
        </div>
        <div class="span8">
            @using (Html.BeginForm("Add", "PublishingManagement", FormMethod.Post, new { id = "add" }))
            {
            }

            @using (Html.BeginForm("Remove", "PublishingManagement", FormMethod.Post, new { id = "remove" }))
            {
                @Html.Hidden("id", "", new { id="removeid" });
            }

            <div id="publishedgroupdesignerui" class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                <div class="hero-unit">
                <h1 translate>Publishing Management</h1>
                    <translate>Publishing is used to control who can do what checklists and on who/what they can be done on.</translate>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var itemselected = null;

    $(function () {
        var options = {
            rootUrl: '@Url.ToFullyQualifiedUrl("~/")',
            editorElement: $("#publishedgroupdesignerui"),
            loadDesignerUrl: 'Publishing/GetPublishedGroupDesignerUI?id=',
            loadListItemUrl: 'Publishing/GetPublishedGroupListItem?id=',
            createListItemCallBack: function (id) {
                $('<li id="' + id + '"></li>').appendTo("#itemlist");
            }
        };

        CreateDesignerManager(options);

        $(document).off("click", "#itemlist li");
        $(document).on('click', "#itemlist li", function () {
            if (itemselected != null) {
                $(itemselected).removeClass('active');
            }

            itemselected = this;

            $(itemselected).addClass('active');
            CurrentDesignerManager.loadDesigner($(this).attr('id'));
        });

        var publishedGroupListSelections = null;

        $("#publishedgrouplist").selectable({ stop: function () {
            var result = [];
            $(".ui-selected", this).each(function () {
                result.push($(this).attr('id'));
            });

            publishedGroupListSelections = result;
        }
        });

        $("#managementlist #additem").click(function (event) {
            CurrentDesignerManager.newItem($("#add"));
        });

        $("#managementlist #removeitem").click(function (event) {
            if (itemselected == null) {
                return false;
            }
            $("#itemlist").trigger('itemdeleted', { selectedid: $(itemselected).attr('id') });
        });

        $(document).off("itemdeleted", "#itemlist");
        $(document).on("itemdeleted", "#itemlist", function (event, data) {
            $("#removeid").val(data.selectedid);
            CurrentDesignerManager.removeItem($("#remove"));
        });

        $(document).off("serverdeleteditem", "#publishedgroupdesignerui");
        $(document).on("serverdeleteditem", "#publishedgroupdesignerui", function (event, data) {
            CurrentDesignerManager.removeListItem(data.id);
        });

        $(document).off("serveraddeditem", "#publishedgroupdesignerui");
        $(document).on("serveraddeditem", "#publishedgroupdesignerui", function (event, data) {
            CurrentDesignerManager.loadListItem(data.id);
        });
    })
</script>