﻿<register-translations>
    <edit-pe-job>PE Job: <span ng-bind="record.name" /></edit-pe-job>
</register-translations>
<form name="editor">
    <legend translate>edit-pe-job</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify><a href="#schedule" data-toggle="tab" translate>Schedule</a></li>
            <li ng-repeat="custom in typesById[record.jobtype].tabs" tabify ng-if="record.jobtype"><a ng-href="#custom_{{$index}}" data-toggle="tab" translate>{{ custom.name }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general" style="min-height:400px">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" type="text" ng-model="record.name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="enabled">Enabled</label>
                    <div class="controls">
                        <input id="enabled" type="checkbox" ng-model="record.enabled" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="nextrunutc">Next Run</label>
                    <div class="controls">
                        <input type="text" readonly ng-model="record.nextrunutc" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="jobtype" translate>Type</label>
                    <div class="controls">
                        <select id="jobtype" ng-model="record.jobtype" ng-options="type.id as type.name for type in types" />
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="schedule" style="min-height:400px">
                <div class="control-group">
                    <label class="control-label" for="cronexpression">CRON Expression</label>
                    <div class="controls">
                        <input id="cronexpression" type="text" ng-model="record.cronexpression" />
                    </div>
                </div>
            </div>
            <div ng-repeat="custom in typesById[record.jobtype].tabs" class="tab-pane active" ng-attr-id="custom_{{$index}}" style="min-height:400px">
                <compile compile='custom.editDirective'></compile>
            </div>
        </div>
    </fieldset>
</form>

<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>


