﻿
<div class="control-group">
    <label class="control-label" for="resource" translate>Published Resource</label>
    <div class="controls">
        <select-single-checklist id="resource" mandatory="true" ng-model="record.jobdata.PublishingGroupResourceId"></select-single-checklist>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="reviewee" translate>Extra parameters</label>
    <div class="controls">
        <textarea ng-model="extra" ng-change="onExtraChange()"></textarea>
    </div>
    <div class="alert alert-error" ng-if="extraError">{{ extraError }}</div>
</div>
