﻿<form name="editor">
    <legend>Edit: {{record.username}}</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#features" data-toggle="tab">Features</a></li>
        </ul>

        <div class="tab-content" style="min-height:350px">
            <div class="tab-pane active" id="features">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span12">
                                <label translate>Filter</label>
                                <input type="text" ng-model="textFilter" />
                            </div>
                        </div>
                        <div>
                            <button ng-click="newArea()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i> Area</button>
                            <div class="well" ng-repeat="area in record.siteareas | filter: areaFilter">
                                <h3 ng-mouseover="area.over = true" ng-mouseleave="area.over = false">
                                    <div ng-class="{'schedule-over': area.over }" ng-click="editArea(area)">{{ area.name }}</div>
                                </h3>
                                <search-work-loading-feature ng-model="newFeatureId" placeholder="Add Feature"></search-work-loading-feature>
                                <button ng-if="newFeatureId" ng-click="newFeature(newFeatureId, area)" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                                <div ng-repeat="sitefeature in area.sitefeatures | filter: textFilter" ng-mouseover="sitefeature.over = true" ng-mouseleave="sitefeature.over = false">
                                    <div class="row-fluid" ng-class="{'schedule-over': sitefeature.over }" ng-click="editSiteFeature(sitefeature)">
                                        <div class="span6 text-left">
                                            {{ sitefeature.name }} <span ng-if='sitefeature.name != sitefeature.workloadingfeature.name'>- {{ sitefeature.workloadingfeature.name }}</span>
                                        </div>
                                        <div class="span6 text-right">
                                            <span>{{ sitefeature.measurement.toString() }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
