﻿<form name="editor"> 
    <legend>Edit: {{record.name}}</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab">General</a></li>
            <li tabify><a href="#standards" data-toggle="tab">Standards</a></li>
        </ul>

        <div class="tab-content" style="min-height: 300px">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group" ng-class="{error: editor.inpuText.$invalid && editor.inpuText.$pristine == false}">
                            <label class="control-label" for="inpuText" translate>Text</label>
                            <div class="controls">
                                <input type="text" id="inpuText" name="inpuText" required ng-model="record.name" placeholder="Name"><span ng-if="editor.inpuText.$invalid && editor.inpuText.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="standards">
                <div class="row-fluid">
                    <div class="span12">
                        <label translate>Filter</label>
                        <input type="text" ng-model="textFilter" />
                    </div>
                </div>
                <div>
                    <search-work-loading-feature ng-model="newFeatureId"></search-work-loading-feature>
                    <button ng-if="newFeatureId" ng-click="newGroup()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>

                    <div ng-repeat="group in record.groups | filter: textFilter">
                        <workloading-standard-group-editor ng-model="group"></workloading-standard-group-editor>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-if="!record.archived" ng-click="save()" class="btn btn-primary" type="submit">Save changes</button>
    <button ng-if="!record.archived" ng-click="delete()" class="btn btn-danger" type="submit">Delete</button>
    <button ng-if="record.archived" ng-click="unarchive()" class="btn btn-warning" type="submit">Restore</button>
    <a class="btn btn-warning" ng-href="{{exportLink}}" target="_blank">Export</a>
</div>