﻿<div>
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav nav-tabs nav-stacked">
                <li ng-repeat="book in books" ng-click="selectBook(book)"><a href="#">{{book.book}}</a></li>
            </ul>
        </div>
        <div class="span10">
            <ul class="nav nav-pills">
                <li ng-repeat="area in selectedBook.areas" ng-click="selectArea(area)" ng-class="{ 'active': selectedArea == area }">
                    <a href="#">{{area.area}}</a>
                </li>
            </ul>
            <table class="table table-hover workloadingfeature" ng-repeat="feature in selectedArea.features">
                <thead>
                    <tr>
                        <th>{{feature.feature}}</th>
                        <th style="width:75px">Occurs Every</th>
                        <th>Estimated Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="activity in feature.activities">
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" ng-model="activity.selected" />
                                <span ng-if="activity.selected == false">{{activity.text}}</span>
                                <input ng-if="activity.selected == true" type="text" ng-model="activity.text" ng-required="true" />
                            </label>
                        </td>
                        <td style="width:75px">
                            <span ng-if="activity.selected == false">&nbsp;</span>
                            <input style="width:75px" ng-if="activity.selected == true" type="number" ng-model="activity.frequency" ng-required="true" />
                        </td>
                        <td>
                            <span ng-if="activity.estimatedduration == null">{{activity.calculatedduration | duration}}</span>
                            <duration-seconds ng-if="activity.estimatedduration != null" ng-model="activity.estimatedduration"></duration-seconds>
                            &nbsp;
                            <i ng-if="activity.estimatedduration == null && activity.selected" ng-click="editDuration(activity)" style="cursor:pointer" class="icon-pencil"></i>
                            <i ng-if="activity.estimatedduration != null && activity.selected" ng-click="activity.estimatedduration = null" style="cursor:pointer" class="icon-ban-circle"></i>
                        </td>
                    </tr>
                    <tr ng-repeat-end class="workloadingstandard-selector-days">
                        <td colspan="4">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="activity.overridedays" />
                                Specify days
                            </label>
                            <table class="table">
                                <tr>
                                    <td>
                                        <label class="checkbox" ng-if="activity.overridedays">
                                            <input type="checkbox" ng-model="activity.executesunday" />
                                            Sun
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox" ng-if="activity.overridedays">
                                            <input type="checkbox" ng-model="activity.executemonday" />
                                            Mon
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox" ng-if="activity.overridedays">
                                            <input type="checkbox" ng-model="activity.executetuesday" />
                                            Tue
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox" ng-if="activity.overridedays">
                                            <input type="checkbox" ng-model="activity.executewednesday" />
                                            Wed
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox" ng-if="activity.overridedays">
                                            <input type="checkbox" ng-model="activity.executethursday" />
                                            Thr
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox" ng-if="activity.overridedays">
                                            <input type="checkbox" ng-model="activity.executefriday" />
                                            Fri
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox" ng-if="activity.overridedays">
                                            <input type="checkbox" ng-model="activity.executesaturday" />
                                            Sat
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>