﻿<div class="well">
    <div class="row-fluid">
        <div class="span11">
            <legend>{{ group.feature.name }}</legend>
            <div ng-repeat="standard in group.standards" ng-mouseover="standard.over = true" ng-mouseleave="standard.over = false">
                <div class="row-fluid" ng-class="{'schedule-over': standard.over }" ng-click="editStandard(standard)">
                    <div class="span6">
                        {{ standard.activity.name }}
                    </div>
                    <div class="span6">
                        <span>Takes {{ time(standard) }}</span>
                        <span>for {{ standard.measurement.toString() }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="span1">
            <button ng-click="addActivity()" class="btn btn-success btn-mini pull-right"><i class="icon-plus-sign icon-white"></i></button>
        </div>
    </div>
</div>