<md-toolbar class='md-hue-1'>
    <div class='md-toolbar-tools'>
        <md-switch ng-model='$ctrl.onlyRecent' ng-change='$ctrl.refresh()'>Only recent</md-switch>
    </div>
</md-toolbar>

<md-content layout-padding>
    <md-table-container flex>
        <table md-table class='table-hover'>
            <thead md-head md-order='$ctrl.order'>
                <tr md-row>
                    <th md-column>Status</th>
                    <th md-column md-order-by='description'>Description</th>
                    <th md-column md-order-by='startedAt'>Started At</th>
                    <th md-column md-order-by='status'>Status</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-colors="$ctrl.rowColor(tenant)"
                    ng-repeat='op in $ctrl.operations | orderBy: $ctrl.order | filter: $ctrl.filter track by op.id'>
                    <td md-cell ng-if='op.finishedAt == null'>
                        <md-tooltip>Running</md-tooltip>
                        <md-progress-circular md-diameter='20px'
                            md-mode="['indeterminate','determinate'][op.indeterminate?0:1]">
                        </md-progress-circular>
                    </td>
                    <td md-cell ng-if='op.finishedAt != null && op.error == null'>
                        <md-tooltip>Success</md-tooltip>
                        <md-icon md-font-set='fa' md-font-icon='fa-check' style='color: green;'></md-icon>
                    </td>
                    <td md-cell ng-if='op.error != null'>
                        <md-tooltip>Error - {{ op.error }}</md-tooltip>
                        <md-icon md-font-set='fa' md-font-icon='fa-exclamation' style='color: red;'></md-icon>
                    </td>
                    <td md-cell>{{ op.description }}</td>
                    <td md-cell>{{ op.startedAt | amUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                    <td md-cell>
                        <ul>
                            <li ng-repeat='log in op.logs' layout='row'>
                                <md-progress-circular ng-if='log.finishedAt == null && log.error ==null'
                                    md-diameter='20px' md-mode="['indeterminate','determinate'][log.indeterminate?0:1]"
                                    value="{{log.progress}}"></md-progress-circular>
                                <div ng-if='log.finishedAt != null && log.error == null'>
                                    <md-icon md-font-set='fa' md-font-icon='fa-check' style='color: green;'></md-icon>
                                </div>
                                <div ng-if='log.error != null'>
                                    <md-icon md-font-set='fa' md-font-icon='fa-exclamation' style='color: red;'>
                                    </md-icon>
                                </div>
                                {{ log.description }}
                                {{ log.error }}
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>
