﻿@model ConceptCave.Data.EntityClasses.UserDataEntity

<a class="{id:'@Model.UserId'}" href="#">@Model.Name<br />@Html.Partial("RenderSelectedLabels", new ConceptCave.www.Models.RenderSelectedLabelsModel((from l in Model.LabelUsers select l.Label)))</a>