﻿@model IEnumerable<ConceptCave.Data.EntityClasses.MediaEntity>
@{
    ViewBag.Title = "Render Media List";
}

<ul class="nav nav-tabs nav-stacked search-list">
    @foreach (var i in Model)
    {
        <li id="@i.Id">
            @Html.Partial("RenderMediaListItem", i)
        </li>
    }
</ul>
