﻿@model ConceptCave.www.Areas.Admin.Models.RenderMediaDesignerUIModel
@{
    this.Layout = null;
    Guid uniqueId = Guid.NewGuid();

    var linkToMedia = new ConceptCave.www.Models.LinkToMediaModel() { MediaId = Model.Entity.Id, Text = "Download", LinkClass = "btn btn-success" };
    
    <div id="@uniqueId" style="display:none">&nbsp;</div>
    
    if (ViewBag.ActionTaken != null)
    {

        if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
        {
            string message = "The media has been removed";
            
            <script type="text/javascript">
                $(function () {
                    $("#@uniqueId").trigger("serverdeleteditem", { id: '@Model.Entity.Id.ToString()' });
                });
            </script>
    
            @Html.Partial("RenderNotificationUI", message);

            return; // nothing more to do
        }

        <script type="text/javascript">
            $(function () {
                $("#editorContainer").effect("highlight", { 'color': '#ccffcc' }, 3000);
                $("#@uniqueId").trigger("serveraddeditem", { id: '@Model.Entity.Id.ToString()' });
            });
        </script>
    }
}

<register-translations>
    <edit-name>Edit: {{ name }}</edit-name>
</register-translations>
<div id="editorContainer">
    @{
        var uploadModel =    new ConceptCave.www.Models.FileUploadModel() { Action = "UploadMedia", Controller = "MediaManagement", AjaxSubmit = true, ButtonClass = "btn btn-success btn-mini", Title = "Upload Media", ButtonTitle = "{{ 'Upload Media' | translate }}" };
        uploadModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "id", Value = Model.Entity.Id.ToString() });
    }
    @Html.Partial("FileUpload", uploadModel)
    @using (Html.BeginForm("Save", "MediaManagement", FormMethod.Post, new { id = "mediaeditorui" }))
    {
        @Html.Hidden("id", Model.Entity.Id, new { id = "mediaeditoruiid" })
  
        <legend translate translate-compile="false" translate-values="{name: '@Model.Entity.Filename'}">edit-name</legend>
        <fieldset>
            <ul class="nav nav-tabs" id="edittab">
                <li><a href="#general" data-toggle="tab" translate>General</a></li>
                <li><a href="#labels" data-toggle="tab" translate>Labels</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="general">

                    <div>Id: @Model.Entity.Id</div><br />
                    @Html.LabelFor(m => m.Entity.Filename, new { translate="" })
                    @Html.EditorFor(m => m.Entity.Filename, null, "filename")
                    @Html.LabelFor(m => m.Entity.Name, new { translate="" })
                    @Html.EditorFor(m => m.Entity.Name, null, "name")
                    @Html.LabelFor(m => m.Entity.Description, new { translate="" })
                    @Html.EditorFor(m => m.Entity.Description, "MultilineText", "description")
                    @Html.LabelFor(m => m.Entity.Type, new { translate="" })
                    @Html.DisplayFor(m => m.Entity.Type, null)


                </div>
                <div class="tab-pane" id="labels">
                    <div id="selectlabels" style="clear:both">
                        @Html.Partial("SelectMultipleLabels", Model.Labels)
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit" translate>Save changes</button>
                @Html.Partial("LinkToMedia", linkToMedia)
            </div>
        </fieldset>
    } 
</div>


<script type="text/javascript">
    $(function () {
        $("#edittab a:first").tab('show');

        $("#mediaeditorui").submit(function () {
            CurrentDesignerManager.save($("#mediaeditorui"));
            return false;
        });

        $("#uploadmedia").click(function () {

        });
    });
</script>