﻿@model ConceptCave.www.Areas.Admin.Models.FieldMappingModel
@{
    var uModel = new ConceptCave.www.Models.FileUploadModel() { Action = "UploadTemplate", Controller = "MembershipImportManagement", Title = "Select Template File", AjaxSubmit = true };
    uModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "userTypeId", Value = Model.UserTypeId.ToString() });
}

<div class="row-fluid">
    <div class="span6">
        <div id="templateupload">
            @Html.Partial("FileUpload", uModel)
        </div>
    </div>
    <div class="span6" style="text-align:right">
        <button id="btnsavefieldmappings" class="btn btn-success">Save</button>
    </div>
</div>
<br />

@using (Html.BeginForm("SaveFieldMappings", "MembershipImportManagement", FormMethod.Post, new { id = "savefieldmappings" }))
{
    @Html.Hidden("usertypeid", "@(Model.UserTypeId)")

    <table class="table table-bordered table-hover" id="fieldmappings">
        <thead>
            <tr>
                <th>Sheet</th>
                <th>
                    Source Fields
                </th>
                <th>
                    Destination Fields
                </th>
            </tr>
        </thead>

        @foreach (var map in Model.SourceMappings)
        {
            ConceptCave.Repository.ImportMapping.FieldTransform transform = (from t in Model.Transforms where t.Source.Name.Equals(map.Name) select t).DefaultIfEmpty(null).First();
            <tr>
                <td>@map.Group</td>
                <td>@map.Name</td>
                <td>
                    <select name="source_@(TagBuilder.CreateSanitizedId(map.Name))">
                            <optgroup label="Not Bound">
                                <option value="">Not used</option>
                            </optgroup>
                        @foreach (var g in (from d in Model.DestinationFields group d by d.Group into g select new { Group = g.Key, Items = g.ToList() }))
                        {
                            <optgroup label="@g.Group" >
                                @foreach (var d in g.Items)
                                {
                                    bool isSelected = false;
                                    if(transform != null)
                                    {
                                        isSelected = transform.Destination.Data.Equals(d.Data);
                                    }
                                    <option value="@d.Data.ToString()" @(isSelected == true ? "selected" : "")>@d.Name</option>
                                }
                            </optgroup>
                        }
                    </select>
                </td>
            </tr>
        }
    </table>
}

<script type="text/javascript">
    $(function () {
        $("#btnsavefieldmappings").die('click');
        $("#btnsavefieldmappings").live('click', function () {
            var options = {
                success: function (responseText) {
                    $("#fieldmappings").effect("highlight", { 'color': '#ccffcc' }, 3000);
                }
            };

            $("#savefieldmappings").ajaxSubmit(options);
        });
    });
</script>