﻿@model ConceptCave.www.Areas.Admin.Models.RenderMembershipTypeDesignerUIModel
@{
    var uModel = new ConceptCave.www.Models.FileUploadModel() { Action = "Import",
        Controller = "MembershipTypeManagement",
        Title = "Import Users",
        AjaxSubmit = true,
        ActivateOnElementIdClicked = "importusers",
        ShowButton = false,
        ShowAjaxResponseInDialog = true
    };
    uModel.HiddenFields.Add(new ConceptCave.www.Models.FileUploadModelField() { Name = "id", Value = @Model.Entity.Id.ToString() });
}
@{
    this.Layout = null;
    Guid uniqueId = Guid.NewGuid();

    var subModel = Model.SelectMultiplePublishedModel;
    
    <div id="@uniqueId" style="display:none">&nbsp;</div>
    
    if (ViewBag.ActionTaken != null)
    {

        if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
        {
            string message = "The membership type has been removed";
            
            <script type="text/javascript">
                $(function () {
                    $("#@uniqueId").trigger("serverdeleteditem", { id: '@Model.Entity.Id.ToString()' });
                });
            </script>
    
            @Html.Partial("RenderNotificationUI", message);

            return; // nothing more to do
        }

        <script type="text/javascript">
            $(function () {
                $("#editorContainer").effect("highlight", { 'color': '#ccffcc' }, 3000);
                $("#@uniqueId").trigger("serveraddeditem", { id: '@Model.Entity.Id.ToString()' });
            });
        </script>
    }
}

<register-translations>
    <edit-name>Edit: {{ name }}</edit-name>
</register-translations>
<div id="editorContainer">
    @using (Html.BeginForm("Save", "MembershipTypeManagement", FormMethod.Post, new { id = "membershiptypeeditorui" }))
    {
        @Html.Hidden("id", Model.Entity.Id, new { id = "membershiptypeeditoruiid" })

        <legend translate translate-compile="false" translate-values="{name: '@Model.Entity.Name'}">edit-name</legend>

        <fieldset>
            <ul class="nav nav-tabs" id="edittab">
                <li><a href="#general" data-toggle="tab" translate>General</a></li>
                <li><a href="#roles" data-toggle="tab" translate>Default Roles</a></li>
                <li><a href="#labels" data-toggle="tab" translate>Default Labels</a></li>
                <li><a href="#context" data-toggle="tab" translate>Context</a></li>
                <li><a href="#dashboards" data-toggle="tab" translate>Dashboards</a></li>
                <li><a href="#billing" data-toggle="tab" translate>Billing</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        Actions
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="importusers" href="#">Import Users</a></li>
                        <li><a id="exportusers" href="#">Export Users</a></li>
                        <li class="divider"></li>
                        <li><a id="usernamesequalpasswords" href="#">Make usernames = passwords</a></li>
                        <li><a id="applyroles" href="#">Apply roles</a></li>
                    </ul>
                </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="general">
                  @Html.LabelFor(m => m.Entity.Id, new { translate = "" })
                  @Html.TextBoxFor(m => m.Entity.Id, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.LabelFor(m => m.Entity.Name, new { translate=""} )
                    @Html.EditorFor(m => m.Entity.Name, null, "name")
                    @Html.LabelFor(m => m.Entity.HasGeoCordinates, "{{ 'Has Location Data' | translate }}")
                    @Html.EditorFor(m => m.Entity.HasGeoCordinates, null, "hasgeocordinates")
                    @Html.LabelFor(m => m.Entity.DefaultDashboard, new { translate=""} )
                    @Html.EditorFor(m => m.Entity.DefaultDashboard, null, "defaultdashboard")
                    @Html.LabelFor(m => m.Entity.IsAsite, "{{ 'Is this user type for sites?' | translate }}")
                    @Html.EditorFor(m => m.Entity.IsAsite, null, "isasite")
                    @Html.LabelFor(m => m.Entity.CanLogin, "{{ 'Can this user type login?' | translate }}")
                    @Html.EditorFor(m => m.Entity.CanLogin, null, "canLogin")
              </div>
              <div class="tab-pane" id="roles">
                <div id="selectroles" style="clear:both">
                    @foreach (var r in Model.Roles)
                    {
                        <label class="checkbox"><input type="checkbox" name="roleids" value="@r.Id" @((from m in Model.Entity.UserTypeDefaultRoles where m.RoleId == r.Id select m).Count() > 0 ? "checked" : "") />@r.Name</label><br />
                    }
                </div>
              </div>
               <div class="tab-pane" id="labels">
                  @Html.Partial("SelectMultipleLabels", Model.Labels)
              </div>
              <div class="tab-pane" id="context">
                  @Html.Partial("SelectMultiplePublishedChecklists", subModel)
              </div>
              <div class="tab-pane" id="dashboards">
                    @foreach (var g in Model.SelectDashboardsModel.Groups)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@g.Name</th>
                                    <th>Title</th>
                                    <th>Tool Tip</th>
                                    <th>Order</th>
                                    <th>Config</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in g.Items)
                                {
                                    var selected = (from s in Model.SelectDashboardsModel.SelectedPublishedChecklists where s.PublishingGroupResourceId == i.Id select s);
                                    <tr>
                                        <td><label class="checkbox"><input id="dashboardItem@(i.Id)" data-pubid="@i.Id" class="dashboardcheckbox" type="checkbox" @(selected.Count() > 0 == true ? "checked" : "") name="@Model.SelectDashboardsModel.FieldName" value="@i.Id" />@i.Name</label></td>
                                        <td id="dashboardItemTitle@(i.Id)">
                                            @if (selected.Count() > 0)
                                            {
                                                <input style="width:100px" type="text" name="selectedDashboardsTitle" value="@selected.First().Title" />
                                            }
                                        </td>
                                        <td id="dashboardItemToolTip@(i.Id)">
                                            @if (selected.Count() > 0)
                                            {
                                                <input type="text" style="width:100px" name="selectedDashboardsToolTip" value="@selected.First().Tooltip" />
                                            }
                                        </td>
                                        <td id="dashboardItemOrder@(i.Id)">
                                            @if (selected.Count() > 0)
                                            {
                                                <input type="number" style="width:50px" name="selectedDashboardsOrder" value="@selected.First().SortOrder" />
                                            }
                                        </td>
                                        <td id="dashboardItemConfig@(i.Id)">
                                            @if (selected.Count() > 0)
                                            {
                                                <textarea style="width:200px" name="selectedDashboardsConfig">@selected.First().Config</textarea>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
              </div>
                <div class="tab-pane" id="billing">
                    @Html.LabelFor(m => Model.Entity.UserBillingTypeId, "{{ 'Billing Type' | translate }}")
                    @Html.DropDownListFor(m => Model.UserBillingTypeId, Model.UserBillingTypes.Select(t => new SelectListItem() { Text = string.Format("{0} (AU{1:c}/month)", t.Name, t.AmountPerMonth), Value = t.Id.ToString(), Selected = t.Id == Model.Entity.UserBillingTypeId }), "None")
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit" translate>Save changes</button>
            </div>

        </fieldset>
    } 

    @Html.Partial("FileUpload", uModel)

    @using (Html.BeginForm("MakeUsernamesEqualPasswords", "MembershipTypeManagement", FormMethod.Post, new { id = "makeusernamesequalpasswords" }))
    {
        @Html.Hidden("id", Model.Entity.Id, new { id = "membershiptypeeditoruiid" })
    }

    @using (Html.BeginForm("ApplyRoles", "MembershipTypeManagement", FormMethod.Post, new { id = "forceapplyroles" }))
    {
        @Html.Hidden("id", Model.Entity.Id, new { id = "membershiptypeeditoruiid" })
    }

    @using (Html.BeginForm("Export", "MembershipTypeManagement", FormMethod.Get, new { id = "userexport" }))
    {
        @Html.Hidden("id", Model.Entity.Id, new { id = "userexportid" })
    }
</div>


<script type="text/javascript">
    $(function () {
        $("#edittab a:first").tab('show');

        $(".dashboardcheckbox").change(function () {
            var id = $(this).data('pubid');

            if ($(this).is(':checked')) {
                $("#dashboardItemTitle" + id).html('<input style="width:100px" type="text" name="selectedDashboardsTitle" value="" />');
                $("#dashboardItemToolTip" + id).html('<input style="width:100px" type="text" name="selectedDashboardsToolTip" value="" />');
                $("#dashboardItemOrder" + id).html('<input style="width:50px" type="number" name="selectedDashboardsOrder" value="" />');
                $("#dashboardItemConfig" + id).html('<textarea style="width:200px" name="selectedDashboardsConfig"></textarea>');
            }
            else {
                $("#dashboardItemTitle" + id).html('');
                $("#dashboardItemToolTip" + id).html('');
                $("#dashboardItemOrder" + id).html('');
                $("#dashboardItemConfig" + id).html('');
            }
        });

        $("#membershiptypeeditorui").submit(function () {
            // first we 


            CurrentDesignerManager.save($("#membershiptypeeditorui"));
            return false;
        });

        $("#usernamesequalpasswords").click(function () {
            if(confirm("Are you sure you want to make all passwords equal usernames for this user type?") == false)
            {
                return;
            }

            CurrentDesignerManager.submitForm($("#makeusernamesequalpasswords"), function (result) {
                if(result == true)
                {
                    alert('Passwords have been changed to equal usernames');
                }
                else {
                    alert(result);
                }
            });
            return false;
        });

        $("#applyroles").click(function () {
            if (confirm("Are you sure you want to apply") == false) {
                return;
            }

            CurrentDesignerManager.submitForm($("#forceapplyroles"), function (result) {
                if (result == true) {
                    alert('Default roles have been applied to all users of this user type');
                }
                else {
                    alert(result);
                }
            });
            return false;
        });

        $("#exportusers").click(function () {
            $("#userexport").submit();
        });

        $("#importusers").click(function () {

        });
    });
</script>