﻿@model ConceptCave.www.Areas.Admin.Models.RenderLabelDesignerUIModel
@{
    this.Layout = null;
    Guid uniqueId = Guid.NewGuid();
    
    <div id="@uniqueId" style="display:none">&nbsp;</div>
    
    if (ViewBag.ActionTaken != null)
    {

        if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
        {
            string message = "The label has been removed";
            
            <script type="text/javascript">
                $(function () {
                    $("#@uniqueId").trigger("serverdeleteditem", { id: '@Model.Entity.Id.ToString()' });
                });
            </script>
    
            @Html.Partial("RenderNotificationUI", message);

            return; // nothing more to do
        }

        <script type="text/javascript">
            $(function () {
                $("#editorContainer input").effect("highlight", { 'color': '#ccffcc' }, 3000);
                $("#@uniqueId").trigger("serveraddeditem", { id: '@Model.Entity.Id.ToString()' });
            });
        </script>
    }
}

<register-translations>
    <edit-name>Edit: {{ name }}</edit-name>
</register-translations>
<div id="editorContainer">
    @using (Html.BeginForm("Save", "LabelManagement", FormMethod.Post, new { id = "labeleditorui" }))
    {
        @Html.Hidden("id", Model.Entity.Id, new { id = "labeleditoruiid" })

    <legend translate translate-compile="false" translate-values="{name: '@Model.Entity.Name'}">edit-name</legend>
        <fieldset>
            <div class="row-fluid">
                <div class="span12">
                @Html.LabelFor(m => m.Entity.Name, new { translate="" })
                @Html.EditorFor(m => m.Entity.Name, null, "name")
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                @Html.LabelFor(m => m.Entity.ForMedia, "{{ 'Media' | translate }}")
                @Html.EditorFor(m => m.Entity.ForMedia, null, "formedia")
                </div>

                <div class="span2">
                @Html.LabelFor(m => m.Entity.ForResources, "{{ 'Resources' | translate}}")
                @Html.EditorFor(m => m.Entity.ForResources, null, "forresources")
                </div>

                <div class="span2">
                @Html.LabelFor(m => m.Entity.ForUsers, "{{ 'Users' | translate }}")
                @Html.EditorFor(m => m.Entity.ForUsers, null, "foruser")
                </div>

                <div class="span2">
                    @Html.LabelFor(m => m.Entity.ForQuestions, "{{ 'Questions' | translate }}")
                    @Html.EditorFor(m => m.Entity.ForQuestions, null, "forquestions")
                </div>
                <div class="span2">
                    @Html.LabelFor(m => m.Entity.ForTasks, "Tasks")
                    @Html.EditorFor(m => m.Entity.ForTasks, null, "fortasks")
                </div>
            </div>

            <div class="clear">&nbsp;</div>
            <div class="control-group" style="float:left;">
                <label class="control-label" for="forecolor" translate>Text Color</label>
                <div class="controls">
                    @Html.EditorFor(m => m.ForeColorForHtml, null, "forecolor")
                    <div id="forecolorwheel" class="colorwheel"></div>
                </div>
            </div>
            <div class="control-group" style="float:right">
                <label class="control-label" for="backcolor" translate>Background Color</label>
                <div class="controls">
                    @Html.EditorFor(m => m.BackColorForHtml, null, "backcolor")
                    <div id="backcolorwheel" class="colorwheel"></div>
                </div>
            </div>
            <div class="clear">&nbsp;</div>

            <div class="form-actions">
                <button class="btn btn-primary" type="submit" translate>Save changes</button>
            </div>

        </fieldset>
    } 
</div>


<script type="text/javascript">
    $(function () {
        $("#labeleditorui").submit(function () {
            CurrentDesignerManager.save($("#labeleditorui"));
            return false;
        });

        var fcw = Raphael.colorwheel($("#forecolorwheel")[0], 150);
        fcw.input($("[name=forecolor]")[0]);
        
        var bcw = Raphael.colorwheel($("#backcolorwheel")[0], 150);
        bcw.input($("[name=backcolor]")[0]);
    });
</script>