﻿@model IEnumerable<ConceptCave.Data.EntityClasses.UserDataEntity>
           
<ul class="nav nav-tabs nav-stacked search-list">
    @foreach (var i in Model)
    {
        <li id="@i.UserId">
            @Html.Partial("RenderMembershipListItem", i)
        </li>
    }
</ul>
