﻿@model ConceptCave.Data.EntityClasses.MediaEntity
@{
    this.Layout = null;
}
<a class="{id:'@Model.Id'}" href="#">@Model.Name<br />@Html.Partial("RenderSelectedLabels", new ConceptCave.www.Models.RenderSelectedLabelsModel((from l in Model.LabelMedias select l.Label)))</a>