﻿@model ConceptCave.www.Areas.Admin.Models.RenderMembershipDesignerUIModel
@{
    this.Layout = null;
    Guid uniqueId = Guid.NewGuid();

    <div id="@uniqueId" style="display:none">&nbsp;</div>

    if (ViewBag.ActionTaken != null)
    {

        if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Remove)
        {
            string message = "Membership Removed";

            <script type="text/javascript">
                $(function () {
                    $("#@uniqueId").trigger("serverdeleteditem", { id: '@Model.Entity.UserId.ToString()' });
                });
            </script>

            @Html.Partial("RenderNotificationUI", message);

                                                          return; // nothing more to do
        }
        else if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.Error)
        {
            @Html.Partial("RenderNotificationUI", string.Format("{0} : The requested action could not be taken.", (string)ViewBag.Error));

                                                                                                                                         return; // nothing more to do
        }

        <script type="text/javascript">
            $(function () {
                $("#editorContainer").effect("highlight", { 'color': '#ccffcc' }, 3000);
                $("#editorContainer").trigger("serveraddeditem", { id: '@Model.Entity.UserId.ToString()' });
            });
        </script>

        if (ViewBag.ActionTaken == ConceptCave.www.Areas.Designer.Controllers.ActionTaken.New)
        {
            <div id="newuseradded" class="alert alert-success" style="display:block;" translate>
                The new user has been added.
            </div>
            return;
        }
    }
}

@if (Model.PlayerModels != null && Model.PlayerModels.Count > 0)
{
    <script type="text/javascript">
        $(function () {
            var player = $("body").checklistplayer('init', { nextModelField: "#contextdata_answermodel" });
            player.checklistplayer('setModel', @Html.Raw(Json.Encode(Model.PlayerModels[0].AnswerModel)));
        })
    </script>
}

<register-translations>
    <edit-name>Edit: {{ name }}</edit-name>
</register-translations>
<div id="editorContainer">
    <legend>
        <translate translate-compile="false" translate-values="{name: '@Model.Entity.Name'}">edit-name</translate>
        <button id="changepwd" class="btn" style="float:right" translate>Change Password</button>
        @if (Model.Entity.AspNetUser.LockoutEnd.HasValue == true && Model.Entity.AspNetUser.LockoutEnd.Value.UtcDateTime > DateTimeOffset.UtcNow)
        {
            <span class="label label-important" style="float:right; margin-top: 8px; margin-right: 10px">Locked out</span>
        }
    </legend>
    <fieldset>
        <ul class="nav nav-tabs" id="edittab">
            <li><a href="#general" data-toggle="tab" translate>General</a></li>
            <li><a href="#roles" data-toggle="tab" translate>Roles</a></li>
            <li><a href="#labels" data-toggle="tab" translate>Labels</a></li>
            <li><a href="#media" data-toggle="tab" translate>Media</a></li>
            @foreach (var play in Model.PlayerModels)
            {
                <li><a href="#@(play.Program.WorkingDocument.Id)" data-toggle="tab">@play.Program.WorkingDocument.DesignDocument.Name</a></li>
            }
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span6">
                        @Html.LabelFor(m => m.Entity.AspNetUser.UserName, new { translate = "" })
                        @Html.EditorFor(m => m.Entity.AspNetUser.UserName, null, "username")

                        @Html.LabelFor(m => m.Entity.Name, new { translate = "" })
                        @Html.EditorFor(m => m.Entity.Name, null, "name")

                        @Html.LabelFor(m => m.Entity.AspNetUser.Email, new { translate = "" })
                        @Html.EditorFor(m => m.Entity.AspNetUser.Email, null, "email")

                        @Html.LabelFor(m => m.Entity.Mobile, new { translate = "" })
                        @Html.EditorFor(m => m.Entity.Mobile, null, "mobile")

                        @if (Model.Entity.UserType.HasGeoCordinates == true)
                        {
                            // we do this as the decimal editor template used by MVC is limited to
                            // 2 decimal places, we could code our own decimal editor template, but this
                            // seems easier in this case
                            double lat = 0;
                            if (Model.Entity.Latitude.HasValue)
                            {
                                lat = (double)Model.Entity.Latitude;
                            }
                            double lon = 0;
                            if (Model.Entity.Longitude.HasValue)
                            {
                                lon = (double)Model.Entity.Longitude;
                            }

                            @Html.LabelFor(m => m.Entity.Latitude, new { translate = "" })
                            @Html.EditorFor(m => lat, null, "latitude")
                            @Html.LabelFor(m => m.Entity.Longitude, new { translate = "" })
                            @Html.EditorFor(m => lon, null, "longitude")
                        }

                        @Html.LabelFor(m => m.Entity.TimeZoneInfo, "{{ 'Time Zone Info' | translate }}")
                        @Html.EditorFor(m => m.Entity.TimeZoneInfo, null, "timezone")

                        @Html.LabelFor(m => Model.Entity.UserTypeId, "{{ 'Type' | translate }}")
                        @Html.DropDownListFor(m => Model.MembershipTypeId, Model.Types.Select(t => new SelectListItem() { Text = t.Name, Value = t.Id.ToString(), Selected = t.Id == Model.Entity.UserTypeId }))

                        @Html.LabelFor(m => Model.Entity.CommencementDate, "{{ 'Commencement Date' | translate }}")
                        @Html.EditorFor(m => Model.Entity.CommencementDate, "DateTimeOrNull", "CommencementDate")

                        @Html.LabelFor(m => Model.Entity.ExpiryDate, "{{ 'Expiry Date' | translate }}")
                        @Html.EditorFor(m => Model.Entity.ExpiryDate, "DateTimeOrNull", "ExpiryDate")

                        @Html.LabelFor(m => Model.Entity.CompanyId, "{{ 'Company' | translate }}")
                        @Html.DropDownListFor(m => Model.CompanyId, Model.Companies.Select(c => new SelectListItem() { Text = c.Name, Value = c.Id.ToString(), Selected = Model.CompanyId.HasValue ? c.Id == Model.Entity.CompanyId : false }))

                        @Html.LabelFor(m => Model.Entity.DefaultTabletProfileId, "{{ 'Default Tablet Profile' | translate }}")
                        @Html.DropDownListFor(m => Model.DefaultTabletProfileId, Model.TabletProfiles.Select(c => new SelectListItem() { Text = c.Name, Value = c.Id.ToString(), Selected = Model.Entity.DefaultTabletProfileId.HasValue ? c.Id == Model.Entity.DefaultTabletProfileId : false }), "None")

                        @Html.LabelFor(m => m.Entity.DefaultLanguageCode, "{{ 'Language' | translate }}")
                        @Html.DropDownListFor(m => Model.DefaultLanguageCode, Model.Languages.Select(c => new SelectListItem() { Text = c.LanguageName, Value = c.CultureName, Selected = Model.Entity.DefaultLanguageCode == c.CultureName }))
                    </div>
                    <div class="span6" ng-controller="membermanagementCtrl">
                        <member-management-media userid="@(Model.Entity.UserId)" mediaid="@(Model.Entity.MediaId.HasValue ? Model.Entity.MediaId.Value.ToString() : "null")"></member-management-media>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="roles">
                <div id="selectroles" style="clear:both">
                    @foreach (var r in Model.Roles)
                    {
                        <label class="checkbox"><input type="checkbox" name="membershiproleid" value="@r.Id" @((from m in Model.Entity.AspNetUser.AspNetUserRoles where m.RoleId == r.Id select m).Count() > 0 ? "checked" : "") />@r.Name</label><br />
                    }
                </div>
            </div>
            <div class="tab-pane" id="labels">
                <div id="selectlabels" style="clear:both">
                    @Html.Partial("SelectMultipleLabels", Model.Labels)
                </div>
            </div>
            <div class="tab-pane" id="media">
                <div id="selectlabels" style="clear:both">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th translate>Media</th>
                                <th translate>Date Created</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        @foreach (var m in Model.Entity.UserMedias)
                        {
                            var linkToMedia = new ConceptCave.www.Models.LinkToMediaModel() { MediaId = m.MediaId, Text = "{{ 'Download' | translate }}", LinkClass = "btn btn-success" };
                            <tr>
                                <td>@m.Medium.Name</td>
                                <td>@m.Medium.DateCreated</td>
                                <td>@Html.Partial("LinkToMedia", linkToMedia)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            @foreach (var play in Model.PlayerModels)
            {
                <div class="tab-pane" id="@(play.Program.WorkingDocument.Id)">
                    @Html.Partial("~/Views/Play/RenderSectionPlayer.cshtml", play.Item)
                </div>
            }
        </div>
        <div class="clear">&nbsp;</div>

        <div class="form-actions">
            <button id="submitbutton" class="btn btn-primary" type="submit" translate>Save changes</button>
        </div>
    </fieldset>

    @using (Html.BeginForm("Save", "MembershipManagement", FormMethod.Post, new { id = "membershipeditorui" }))
    {
        @Html.Hidden("id", Model.Entity.UserId, new { id = "membershipeditoruiid" })
        @Html.Hidden("answermodel", "", new { id = "contextdata_answermodel" })
    }
</div>

<div class="modal hide fade" id="passwordchange">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Change Password</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("ChangePassword", "MembershipManagement", FormMethod.Post, new { id = "changepassword" }))
        {
            <fieldset class="control group">
                @Html.Hidden("id", Model.Entity.UserId)
                <label for="changePassword" translate>Password</label>
                <input type="password" id="changePassword" name="password" />

                <label for="confirmchangePassword" translate>Confirm</label>
                <input type="password" id="confirmchangePassword" name="confirmPassword" />
            </fieldset>
        }
        <div id="changepasswordsdonotmatch" class="alert alert-error" style="display:none;" translate>
            The passwords you have entered do not match.
        </div>
        <div id="passwordchangeerror" class="alert alert-error" style="display:none;" translate>
            There was a problem changing the users password.
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        <a id="submitchangepassword" href="#" class="btn btn-primary" translate>Save changes</a>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#edittab a:first").tab('show');

        $("#submitbutton").click(function () {
            // we need to populate the form that is going to do the posting (due to not being able to nest forms) with the
            // data we want to send back
            var c = $("#general").clone();
            c.css('display', 'none');
            c.appendTo("#membershipeditorui");

            // jquery doesn't clone the values of select elements, so do this manual
            $("#general select").each(function(index, value) {
                $("#membershipeditorui select:eq(" + index + ")").val($(value).val());
            });

            var c = $("#roles").clone();
            c.css('display', 'none');
            c.appendTo("#membershipeditorui");

            var c = $("#labels").clone();
            c.css('display', 'none');
            c.appendTo("#membershipeditorui");

            $("#membershipeditorui").submit();
        });

        $("#membershipeditorui").submit(function () {
            @if (Model.PlayerModels.Count > 0)
{
            <text>
            if ($("body").checklistplayer('next') == true) {
                CurrentDesignerManager.save($("#membershipeditorui"));
            }
            </text>
}
else
{
            <text>CurrentDesignerManager.save($("#membershipeditorui"));</text>
}
            return false;
        });

        $("#changepwd").click(function () {
            $("#passwordchangeerror").css('display', 'none');
            $("#changepasswordsdonotmatch").css('display', 'none');
            $("#passwordchange").modal();

            return false;
        });

        $("#submitchangepassword").click(function () {
            $("#changepassword").submit();
        });

        $("#changepassword").submit(function () {
            if ($("#changePassword").val() != $("#confirmchangePassword").val()) {
                $("#changepasswordsdonotmatch").css('display', 'block');
                return false;
            }

            CurrentDesignerManager.submitForm($("#changepassword"), function(responseTest) {
                if(responseTest.Success == true)
                {
                    $("#passwordchange").modal('hide');
                }
                else{
                    $("#passwordchangeerror").fadeIn();
                }
            });

            return false;
        });

    });
</script>