﻿@model ConceptCave.www.Areas.Admin.Models.MembershipImportResultModel
@{
    this.Layout = null;
}

@if (Model.Result.Success == true)
{ 
    <div class="hero-unit">
        <h1>Success</h1>
        <p>Total Rows Imported : @Model.Result.Count</p>
        @if (Model.IsTestOnly)
        { 
        <p>Note: No data was actually imported into the database as you had 'Test Upload Only' selected.</p>
        }
    </div>
}
else
{ 
    <text><div class="alert alert-error">Errors were enountered while importing the data. None of the data has been imported. The table below details errors encountered.</div>
    <table class="table table-stripped">
        @foreach (var r in Model.Result.Errors)
        { 
            <tr>
                <td>@r</td>
            </tr>
        }
    </table>
    </text>
}
<table></table>