@import '../../animations.scss';

.schedule-task-list {
    max-width: 1024px;
}

.task-list-task-row {
    &.ng-enter {
        @extend .grow-and-slide-in-right;
    }
    &.ng-leave {
        @extend .slide-out-left-and-shrink;
    }
}

.task-button {
    line-height: 85px;
}