<div flex layout='row' layout-align='center start'>
    <div class="schedule-task-list" ng-if="isvisible" flex layout='column'>
        <div ng-if="!isClockedIn || !presented.template.enforcesingleclockin">
            <div ng-switch="(enableQRCodeQST ? 1 : 0) + (chooseQSTBeaconSites.length ? 2 : 0)">
                <div ng-switch-when="1">
                    <qr-code-scanner ng-model="scannedQRCode" on-scan="QRCodeScanned(text, null)">
                        <button class="btn btn-success schedule-task-button" ng-click="scan()">
                            <i class="icon-qrcode"></i> Scan
                        </button>
                    </qr-code-scanner>
                </div>
                <div ng-switch-when="2">
                    <button class="btn btn-success schedule-task-button"
                        ng-click="showQSTSitesDialog(chooseQSTBeaconSites)">
                        <i class="icon-rss"></i> Beacon
                    </button>
                </div>
                <div ng-switch-when="3">
                    <div class="row-fluid">
                        <div class="span6">
                            <qr-code-scanner ng-model="scannedQRCode" on-scan="QRCodeScanned(text, null)">
                                <button class="btn btn-success schedule-task-button" ng-click="scan()">
                                    <i class="icon-qrcode"></i> Scan
                                </button>
                            </qr-code-scanner>
                        </div>
                        <div class="span6">
                            <button class="btn btn-success schedule-task-button"
                                ng-click="showQSTSitesDialog(chooseQSTBeaconSites)">
                                <i class="icon-rss"></i> Beacon
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div flex layout='column'>
            <div class="row-fluid">
                <div class="schedule-task-list-labelmenu">
                    <div class="btn-group" ng-if="labels.length > 0">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <span ng-bind-html="getLabelFilterName(labelFilter)"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="filterByLabel(labelFilterAll)"><a href="#">{{labelFilterAll.listText}}</a>
                            </li>
                            <li ng-repeat="label in labels" ng-click="filterByLabel(label)"><a
                                    href="#">{{label.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="schedule-task-list-groupmenu">
                    <button class="btn" style="float:right"
                        ng-if="creatingGroup == false && presented.template.allowtaskgrouping"
                        ng-click="startGroupCreation()">Multi <br /><i class="icon-check"></i>&nbsp;<i
                            class="icon-check"></i>&nbsp;<i class="icon-check"></i></button>
                    <button class="btn btn-warning" style="float:right" ng-if="creatingGroup == true"
                        ng-click="cancelGroupCreation()"><i class="icon-remove"></i>&nbsp;No</button>
                    <button class="btn btn-success" style="float:right" ng-if="creatingGroup == true"
                        ng-click="finishGroupCreation()"><i class="icon-ok"></i>&nbsp;Ok</button>
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>

            <div flex layout='column'>
                <div ng-show="tasksAdded && presented.template.tasksaddedmessage != ''">
                    <div class="alert alert-info">
                        {{presented.template.tasksaddedmessage}}
                    </div>
                </div>
                <div ng-show="tasksRemoved && presented.template.tasksremovedmessage != ''">
                    <div class="alert alert-danger">
                        {{presented.template.tasksremovedmessage}}
                    </div>
                </div>
                <div ng-show="tasks == null || tasks.length == 0">
                    <p translate class='alert alert-info'>There are currently no tasks assigned to you.</p>
                </div>
                <md-collapsible class='md-popout'
                    ng-if="(presented.template.taskcreationtemplates | filter:{type: 'Normal'}).length > 0 && creatingGroup == false">
                    <md-collapsible-item close-on-click='true' class='scroll-into-view'>
                        <md-collapsible-header>
                            <question-tasklist-shortcut-tile text='"Add Task"' left-icon='"fas fa-plus-circle"'
                                right-icon='"fas fa-caret-down"' flex>
                            </question-tasklist-shortcut-tile>
                        </md-collapsible-header>
                        <md-collapsible-body>
                            <md-list
                                ng-repeat="shortcut in presented.template.taskcreationtemplates | filter:{type: 'Normal'}">
                                <md-list-item ng-click='showCreateTask(shortcut, $event)'>
                                    <div layout='row' layout-align='start center'>
                                        <media-image class='menu-image' ng-model="shortcut.mediaid" height='30' cache />
                                        <span flex>{{ shortcut.text }}</span>
                                    </div>
                                    </md-button>
                                </md-list-item>
                            </md-list>
                        </md-collapsible-body>
                    </md-collapsible-item>
                </md-collapsible>
                <md-list ng-hide="creatingGroup == true" flex>
                    <md-list-item ng-click="showCreateTask(shortcut, $event)"
                        ng-repeat="shortcut in presented.template.taskcreationtemplates | filter:{type: 'Shortcut'}">
                        <question-tasklist-shortcut-tile text='shortcut.text' media-id='shortcut.mediaid'
                            right-icon='"fas fa-plus"' flex>
                        </question-tasklist-shortcut-tile>
                    </md-list-item>
                </md-list>
                <md-list flex>
                    <md-subheader translate md-colors='{background: "default-accent-900-0.5"}'>
                        {{ clockedIntoTasks.length }} Started tasks
                    </md-subheader>
                    <md-list-item ng-repeat="task in clockedIntoTasks track by task.id | orderBy: 'sortNumber'"
                        ng-click="showTask(task, $event)" class='task-list-task-row'>
                        <question-tasklist-task-tile task='task' presented='presented' flex
                            ng-animate-ref="{{ task.id }}">
                        </question-tasklist-task-tile>
                    </md-list-item>
                </md-list>
                <div flex>
                    <md-subheader translate md-colors='{background: "default-accent-900-0.5"}'
                        ng-class="['md-primary','md-warn'][(clockedIntoTasks.length > 0 && presented.template.enforcesingleclockin) ? 1 : 0]">
                        {{ notClockedIntoTasks.length }} Unstarted tasks
                        <div ng-if='clockedIntoTasks.length > 0 && presented.template.enforcesingleclockin'>
                            Note: You are currently clocked into <b>{{clockedInTo.name}}</b>, you will need to
                            clock out
                            of this task to be able to clock in to other tasks.
                        </div>
                    </md-subheader>
                    <md-list-item ng-repeat="task in notClockedIntoTasks track by task.id | orderBy: 'sortNumber'"
                        ng-click="showTask(task, $event)" class='task-list-task-row'>
                        <question-tasklist-task-tile task='task' presented='presented' flex
                            ng-animate-ref="{{ task.id }}">
                        </question-tasklist-task-tile>
                    </md-list-item>
                </div>
            </div>

            <hr />
            <p class="muted">{{getExecutionQueueLength()}} queued commands, updated <span
                    am-time-ago="validFromDate"></span></p>
        </div>
        <div ng-if="chooseQSTSites" class="fullscreen fullscreen-animate">
            <div class="navbar navbar-fixed-top navbar-inverse">
                <div class="navbar-inner">
                    <a class="brand" href="#">&nbsp;&nbsp;<translate>Choose Task</translate></a>

                    <ul class="nav" style="float:right;font-size:15pt;font-weight:normal">
                        <li ng-click="hideQSTSitesDialog()"><a href="#"><i class="icon-remove-circle"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="content" style="position:static">
                <div ng-repeat="qst in chooseQSTSites">
                    <h4>{{ qst.site.Name }}</h4>
                    <div class="schedule-task-list-task-row schedule-task-list-shortcut"
                        ng-click="startQSTTask(qst.site, shortcut)" ng-hide="creatingGroup == true"
                        ng-repeat="shortcut in qst.tasktypes">
                        <div class="schedule-task-list-image">
                            <img ng-if="shortcut.mediaid != null"
                                ng-src="{{imageUrl}}/{{shortcut.mediaid}}.png?width=75" />
                        </div>
                        <div class="schedule-task-list-details">
                            {{shortcut.text}}
                        </div>
                        <div class="schedule-task-list-status">
                            <i class="icon-plus-sign"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
