<div flex layout='row'>
    <div flex layout='column'>
        <md-toolbar layout='row' layout-align="center center">
            <span>{{ $ctrl.name }}</span>
        </md-toolbar>
        <md-content layout='column' flex>
            <div compile='$ctrl.compile' flex></div>
        </md-content>
    </div>
    <div flex layout='column'>
        <md-toolbar layout='row' layout-align="center center">
            <md-button ng-click='$ctrl.resetInput()'>Reset</md-button>
            <span>Input</span>
        </md-toolbar>
        <div flex ui-ace='$ctrl.aceInputOptions' ng-model='$ctrl.inputText'></div>
        <md-toolbar layout='row' layout-align="center center">
            <span>Output</span>
        </md-toolbar>
        <div flex ui-ace='$ctrl.aceOutputOptions' ng-model='$ctrl.outputText'></div>
    </div>
</div>