﻿<register-translations>
    <edit-role-role>Edit: <span ng-bind="role"/></edit-role-role>
</register-translations>
<form name="editor"> 
    <legend translate>edit-role-role</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="control-group" ng-class="{error: editor.inputName.$invalid && editor.inputName.$pristine == false}">
                    <label class="control-label" for="inputName" translate>Name</label>
                    <div class="controls">
                        <input type="text" id="inputName" name="inputName" required ng-model="role" placeholder="{{ 'File Name' | translate }}"><span ng-if="editor.inputName.$invalid && editor.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit" translate>Save changes</button>
</div>