﻿<div>
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="spinner-text">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
    </div>
</div>