﻿<form>
    <div class="input-append">
        <input class="span2" type="text" sf-typeahead options="options" datasets="odataDataset" ng-model="watchcontainer.currentOdataObject" />
        <button ng-click="clear()" class="btn">X</button>
    </div>
</form>