﻿<div class="org-chart">
    <div class="org-chart-toolbar">
        <button class="btn" ng-click="zoom(true)"><i class="icon-zoom-in"></i></button>
        <button class="btn" ng-click="zoom(false)"><i class="icon-zoom-out"></i></button>
        <button class="btn" ng-click="toggleFullscreen()"><i class="icon-fullscreen"></i></button>
        <button class="btn" ng-click="onAdd(null)" ng-if="showAddRoot"><i class="icon-plus"></i></button>
    </div>
    <div class="org-chart-canvas">
    </div>
</div>
