﻿<div>
    <button class="btn btn-inverse schedule-task-button" ng-click="takephoto()">
        <i class="icon-camera"></i>&nbsp;<translate>Take Photo</translate>
    </button>

    <div class="photos row-fluid">
        <div class="span12">
            <ul class="thumbnails">
                <li class="span4" ng-repeat="p in photos">
                    <div class="thumbnail" style="position:relative">
                        <img style="width:50%" ng-src="{{p.data.src}}">
                        <button ng-click="removePhoto(p)" class="btn btn-danger" style="position:absolute;right:1px;top:1px"><i class="icon-remove"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div style="width: 0; height: 0; overflow: hidden;">
        <input class="camera_input" type="file" accept="image/*" onchange="angular.element(this).scope().photoTaken(this)">
    </div>
</div>