﻿<div class="progress">
    <div ng-if="info" class="bar bar-info" ng-style="{'width': infoVal + '%' }"></div>
    <div ng-if="success" class="bar bar-success" ng-style="{'width': successVal + '%' }"></div>
    <div ng-if="warning" class="bar bar-warning" ng-style="{'width': warningVal + '%' }"></div>
    <div ng-if="danger" class="bar bar-danger" ng-style="{'width': dangerVal + '%' }"></div>
</div>