﻿<div ng-show="taskCount > 0" class="task-batch-operations">
    <div ng-if="useButtons == false" class="btn-group menu">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Action ({{taskCount}} items)
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li ng-show="features.allowreassign"><a ng-click="setoperation('reassign')" href="#">Re-assign Tasks</a></li>
            <li ng-show="features.allowcancellation"><a ng-click="setoperation('cancel')" href="#">Cancel Tasks</a></li>
            <li ng-show="features.allowfinishbymanagement"><a ng-click="setoperation('finish')" href="#">Finish Tasks</a></li>
            <li ng-show="features.allowfinishcomplete"><a ng-click="setoperation('finishcomplete')" href="#">Finish Tasks</a></li>
            <li ng-show="features.allowdelete"><a ng-click="setoperation('delete')" href="#">Delete Tasks</a></li>
            <li ng-show="features.allowclearstarttime"><a ng-click="setoperation('clearstarttime')" href="#">Clear Start Time</a></li>
           <li class="divider"></li>
            <li><a ng-click="clear()" href="#">Clear</a></li>
        </ul>
    </div>
    <div ng-if="useButtons == true" class="toolbar">
        <button class="btn" ng-show="features.allowreassign" ng-click="setoperation('reassign')">Re-assign {{taskCount}} Tasks</button>
        <button class="btn" ng-show="features.allowcancellation" ng-click="setoperation('cancel')">Cancel {{taskCount}} Tasks</button>
        <button class="btn" ng-show="features.allowfinishbymanagement" ng-click="setoperation('finish')">Finish {{taskCount}} Tasks</button>
        <button class="btn" ng-show="features.allowfinishcomplete" ng-click="setoperation('finishcomplete')">Finish {{taskCount}} Tasks</button>
        <button class="btn" ng-show="features.allowdelete" ng-click="setoperation('delete')">Delete {{taskCount}} Tasks</button>
        <button class="btn" ng-show="features.allowclearstarttime" ng-click="setoperation('clearstarttime')">Clear Start Time on {{taskCount}} Tasks</button>
        <button class="btn" ng-click="clear()">Clear</button>
    </div>
    <div ng-if="operation.type != ''" class="well">
        <div ng-show="authentication == null">
            <div ng-if="assignToDatasource && operation.type == 'reassign'">
                <div class="row-fluid">
                    <div class="span6">
                        Re-assign Tasks To
                        <pills options="assigntooptions" ng-model="assignment.type" value-property="value" text-property="text"></pills>
                    </div>
                    <div ng-show="assignment.type == 2" class="span6">
                        Select user to assign tasks to <odata-typeahead name="assignToParameterName" ng-model="assignment.touser" datasource="assignToDatasource"></odata-typeahead>
                    </div>
                </div>
            </div>

            <div ng-if="operation.type == 'cancel'">
                <div class="row-fluid">
                    <div class="span12">
                        The following tasks will be cancelled.
                    </div>
                </div>
            </div>

            <div ng-if="operation.type == 'finish' || operation.type == 'finishcomplete'">
                <div class="row-fluid">
                    <div class="span12 alert alert-danger">
                        The following tasks will be finished. <strong>Note, this operation can not be undone.</strong>
                    </div>
                </div>
            </div>

            <div ng-if="operation.type == 'delete'">
                <div class="row-fluid">
                    <div class="span12 alert alert-danger">
                        The following tasks will be deleted. <strong>Note, this operation can not be undone.</strong>
                    </div>
                </div>
            </div>

            <table class="tasks table table-bordered table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Current Owner</th>
                        <th>Site</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in tasks">
                        <td>{{value.Name}}</td>
                        <td>{{value.Owner}}</td>
                        <td>{{value.SiteName}}</td>
                        <td>{{value.taskbatchoperations_action}}</td>
                        <td><button ng-click="remove(value)" class="btn btn-danger"><i class="icon-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="clear()" class="btn btn-danger">Clear</button>
            <button ng-if="(assignment.type != 2 || (assignment.type == 2 && assignment.touser != null))" ng-click="saveorauthenticate()" class="btn btn-success" ng-bind="features.requireauthentication == false ? 'Save' : 'Next'"></button>
        </div>
        <div ng-show="authentication != null">
            <div class="authenticate" ng-if="features.kioskmode == false">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputUsername">Username</label>
                        <div class="controls">
                            <input type="text" class="default" ng-model="authentication.username" id="inputUsername" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" ng-model="authentication.password" id="inputPassword" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="button" class="btn btn-primary" ng-click="save(authentication.username, authentication.password)">Authenticate</button>
                        </div>
                    </div>
               </form>
            </div>
            <div class="authenticate kiosk" ng-if="features.kioskmode == true">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputUsername">User number</label>
                        <div class="controls">
                            <input type="password" class="cen" data-ng-model="authentication.password">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div style="max-width:300px;background-color:white">
                                <bc-keypad bc-number-model="authentication.password"
                                           bc-left-button="backspace"
                                           bc-right-button="submit"
                                           bc-right-button-method="save(authentication.username, authentication.password)"></bc-keypad>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="invalidreason" ng-if="authenticationfailed == true">The login failed. Please review the username and password you are using.</div>
        </div>
    </div>
</div>