﻿<div>
    <ul class="timeline" ng-if="items">
        <li ng-click="clicked(item)" ng-repeat="item in items | orderBy:'-date'" ng-class="{'selected' : enteredGroup != null && enteredGroup == item.group}">
            <div class="timeline-time">
                {{item.date | date:dateformat}}
            </div>
            <div class="timeline-badge" ng-mouseenter="enterGroup(item.group)" ng-mouseleave="leaveGroup(item.group)" ng-class="item.badge.type"><i ng-class="item.badge.icon"></i></div>
            <div class="timeline-panel" ng-hide="!item.title && !item.body">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{item.title}}</h4>
                    <p><small class="text-muted" ng-bind-html="item.trustedTagline"></small></p>
                </div>
                <div class="timeline-body">
                    <p ng-bind-html="item.trustedBody"></p>
                </div>
            </div>
            <div class="timeline-spacer" ng-show="!item.title && !item.body">

            </div>
        </li>
    </ul>
</div>