﻿@model ConceptCave.Data.HelperClasses.EntityCollection<ConceptCave.Data.EntityClasses.WorkingDocumentEntity>
@{
    ViewBag.Title = "Index";
    this.Layout = null;
}
@{
    /*
<text>Checklist,Date Stared, Date Completed, Question, Answer@("\r\n")</text>foreach (var docEntity in Model){foreach (var q in docEntity.CompletedWorkingDocumentQuestions){<text>@docEntity.Name,@q.DateStarted,@q.DateCompleted,@q.Prompt,@q.Value@("\r\n")</text>}}}
     * */
    }