<div flex layout='row'>
    <div ui-view='left-control' layout='column' class='ui-view-layout-column'></div>
    <main layout='column' flex>
        <div ui-view='header-control' layout='column' class='ui-view-layout-column'></div>
        <md-content flex layout='column'>
            <div ui-view='content-control' flex layout='column'
                class='ui-view-layout-column animation-container-parent'></div>
        </md-content>
    </main>
</div>