﻿@{
    ViewBag.Title = "Health Check";
    this.Layout = null;
    
    var isUp = ConceptCave.Repository.GlobalSettingsRepository.SystemHealthCheck();
}

@{
    if(isUp == true)
    {
        <h1>UP</h1>
    }
    else if(Request.QueryString["usehttpstatus"] == null)
    {
        <h1>DOWN</h1>
    }
    else
    {
        Response.StatusCode = 500;
    }
}
