﻿<div>
    <div id="management" class="container-fluid" ng-controller="beaconAdminCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <beacon-sidebar ng-model="records"></beacon-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>Beacon Administration</h1>
                        This section allows you to administer Beacons.
                    </div>
                    <div ng-if="editing">
                        <beacon-editor ng-model="editing"></beacon-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
