﻿<register-translations>
    <edit-standard-name>Edit Standard : <span ng-bind="currentStandard.feature.name"/></edit-standard-name>
</register-translations>
﻿<div>
    <div id="management" class="container-fluid" ng-controller="workloadingbookmanagementCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newRecord()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                        <button ng-click="importBooks()" class="btn btn-warning btn-mini">Import</button>
                    </div>
                    <workloadingbook-sidebar ng-model="records"></workloadingbook-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>Work Loading Book Management</h1>
                        This management section allows you to setup and define the work loading book constructs in the system.
                    </div>
                    <div ng-if="editing">
                        <workloadingbook-editor ng-model="editing"></workloadingbook-editor>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-large hide fade editscheduleddialog" modalify="editingStandard">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>edit-standard-name</h3>
            </div>
            <div class="modal-body" style="min-height: 300px">
                <form name="standard">
                    <div class="row-fluid">
                        <div class="span6">
                            <div>Activity</div>
                            <search-work-loading-activity ng-model="currentStandard.activityid"></search-work-loading-activity>
                        </div>
                        <div class="span6" ng-if="currentStandard.activityid">
                            <div>Duration</div>
                            <duration-seconds ng-model="currentStandard.seconds" placeholder="Duration"></duration-seconds>
                            <div>Measurement</div>
                            <measurement ng-model="currentStandard.measurement" editing="true"></measurement>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" ng-if="canDelete" ng-click="confirmDeleteStandard()">Delete</a>
                <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
                <a href="#" class="btn btn-primary" ng-click="commitStandard(currentStandard)" translate>Save changes</a>
            </div>
        </div>

        <div class="modal-large hide fade editscheduleddialog" modalify="showImportBookDialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 translate>Import Books</h3>
            </div>
            <div class="modal-body" style="min-height: 30px">
                <div ng-if="uploader" class="row-fluid">
                    <div class="span6">
                        <div ng-show="uploader.isHTML5" nv-file-drop uploader="uploader">
                            <div class="well drop-zone" nv-file-over uploader="uploader" translate>
                                Drag and Drop files here
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <p translate>Alternatively you may select a file</p>
                        <input nv-file-select uploader="uploader" type="file" multiple/>
                    </div>
                </div>
                <div class="row-fluid" ng-if="uploader.queue.length > 0">
                    <div class="span12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%" translate>Name</th>
                                    <th translate>Behaviour</th>
                                    <th translate>Status</th>
                                    <th translate>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td>
                                        <span>Book</span><select ng-options="behaviour as behaviour.text for behaviour in bookImportBehaviours track by behaviour.id" ng-model="item.bookBehaviour"></select>
                                        <span>Activity</span><select ng-options="behaviour as behaviour.text for behaviour in otherImportBehaviours track by behaviour.id" ng-model="item.activityBehaviour"></select>
                                        <span>Feature</span><select ng-options="behaviour as behaviour.text for behaviour in otherImportBehaviours track by behaviour.id" ng-model="item.featureBehaviour"></select>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="icon-upload"></i></span>
                                        <span ng-show="item.isCancel"><i class="icon-ban-circle"></i></span>
                                        <span ng-show="item.isError" id='{{item.id}}'><i class="icon-trash"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-mini" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="icon-upload"></span><translate>Import</translate>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-mini" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="icon-ban-circle"></span><translate>Cancel</translate>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-mini" ng-click="item.remove()">
                                            <span class="icon-trash"></span><translate>Remove</translate>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" translate ng-click="closeUpload()">Close</a>
                    <a href="#" class="btn btn-primary" ng-click="uploadBooks()" translate>Import All</a>
                </div>
            </div>
        </div>
    </div>
</div>


