<div question-wrapper="presented">
    <div class="input-append">
        <input type="text" sf-typeahead options="options" ng-blur="validate('single')" datasets="companyDataset"
            ng-model="watchcontainer.currentCompanyObject" />
        <span class="add-on" ng-click="clearAnswer()" style="cursor:pointer"><i
                class="icon-remove"></i>&nbsp;Clear</span>
    </div>
</div>