﻿<div class="question {{presented.QuestionClass}} {{presented.HtmlPresentation.CustomClass}}"
    data-presentable-name="{{presented.Name}}" ng-show="presented.Visible">
    <h4 ng-if='!presented.controlShowsPrompt'
        ng-hide="presented.HidePrompt || !shouldRenderPrompt || !presented.promptAsHtml"
        ng-bind-html="presented.promptAsHtml" ng-model="presented.promptAsHtml"></h4>

    <div ng-transclude layout='column'></div>

    <div ng-messages='presented.ValidationErrors'
        ng-if='presented.ValidationErrors.length && !presented.controlShowsValidationErrors'>
        <div ng-repeat='error in presented.ValidationErrors' class='md-input-message-animation'>{{ error }}</div>
    </div>
</div>