<div flex layout='column'>
    <!-- The top main toolbar -->
    <md-toolbar class='md-topbar md-hue-2'>
        <div class='md-toolbar-tools'>
            <md-button class='md-icon-button' ng-click='$ctrl.toggleSideNav("left")'>
                <md-icon md-font-set="fas" md-font-icon="fa-bars fa-lg"></md-icon>
            </md-button>


            <div ui-view='content-header' flex layout='row' class='ui-view-layout-row'></div>


            <md-button class='md-icon-button' ng-click='$ctrl.toggleSideNav("right")'>
                <md-icon md-font-set="fas" md-font-icon="fa-bell fa-lg"></md-icon>
            </md-button>
            <md-menu md-position-mode='target-right bottom'>
                <md-button ng-click='$mdMenu.open($event)'>
                    <md-icon md-font-set='fas' md-font-icon='fa-user-circle fa-lg'></md-icon>
                    &nbsp;{{ $ctrl.authSvc.user.username }}
                    <md-icon md-font-set='fas' md-font-icon='fa-caret-down fa-lg'></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click='$ctrl.logout()'>
                            <md-icon md-font-set='fa' md-font-icon='fa-sign-out-alt'></md-icon>&nbsp;Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <!-- The left sidenav -->
    <md-sidenav flex class="md-sidenav-left main-menu" md-component-id="left" md-whiteframe="4">
        <md-toolbar>
            <div class='md-toolbar-tools'>
                <md-button class='md-icon-button' ng-click='$ctrl.toggleSideNav("left")'>
                    <md-icon md-font-set="fas" md-font-icon="fa-bars fa-lg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-list class='menu-list'>
                <md-list-item class="secondary-button-padding close-sidenav" ng-repeat="i in $ctrl.menuItems"
                    ui-sref='{{ i.uisref }}' ng-click='$ctrl.menuClick(i)' ui-sref-active="active">
                    <md-icon md-font-set='{{ i.fontSet }}' md-font-icon='{{ i.fontIcon }}'></md-icon>&nbsp;
                    {{i.title}}&nbsp;<i class="material-icons"></i>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <!-- The content area -->
    <main layout='column' flex id='main-content-area'>
        <md-content flex layout='column'>
            <div ui-view='content' layout='column' flex class='ui-view-layout-row scroll-container'></div>
        </md-content>
    </main>

    <md-sidenav flex class="md-sidenav-right main-menu" md-component-id="right" md-whiteframe="4">
        <md-toolbar>
            <div class='md-toolbar-tools'>
                <h1 flex>Notifications</h1>
                <md-button class='md-icon-button' ng-click='$ctrl.toggleSideNav("right")'>
                    <md-icon md-font-set="fas" md-font-icon="fa-times fa-lg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <notifications-list></notifications-list>
        </md-content>
    </md-sidenav>
</div>
