<md-content layout='column' layout-align='center center' flex>
    <div layout-align='center center' layout='row' flex>
        <md-card style='min-width: 300px'>
            <md-card-title translate>Login</md-card-title>
            <form>
                <div class='md-padding' layout='column'>
                    <md-input-container ng-class='{ "shake-bottom": invalidUsernamePassword }'>
                        <label translate>User name</label>
                        <input ng-model='username' md-autofocus ng-change='resetError()' />
                    </md-input-container>
                    <md-input-container ng-class='{ "shake-bottom": invalidUsernamePassword }'>
                        <label translate>Password</label>
                        <input ng-model='password' type='password' ng-change='resetError()' />
                        <div ng-messages>
                            <div ng-if='invalidUsernamePassword' translate>Incorrect username or password</div>
                        </div>
                    </md-input-container>

                    <md-button class='md-primary md-raised' type='submit' ng-click='login()' ng-disabled='loggingIn'
                        ng-disabled='!username || !password' translate>
                        Login
                    </md-button>
                    <md-progress-linear md-mode="indeterminate" ng-show="loggingIn"></md-progress-linear>

                </div>
            </form>
        </md-card>
    </div>
</md-content>