﻿<div class="control-group">
    <div class="controls">
        <input type="text" placeholder="{{ 'Search' | translate }}" ng-model="search" />
        <label class="checkbox">
            <input type="checkbox" ng-model="includeArchived">Include Archived
        </label>
    </div>
</div>

<ul class="nav nav-tabs nav-stacked">
    <li dir-paginate="record in records | itemsPerPage: itemsPerPage" total-items="totalRecords" current-page="pageNumber" ng-click="editRecord(record)">
        <a href="">
            <div>
                <span>{{ record.name }}</span>
                <div ng-if="record.archived" class="label label-warning pull-right">Archived</div>
            </div>
        </a>

    </li>
</ul>
<dir-pagination-controls boundary-links="true" class="ng-isolate-scope" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
