﻿<register-translations>
    <edit-tablet-profile>Tablet Profile: <span ng-bind="record.name" /></edit-tablet-profile>
</register-translations>
<form name="editor">
    <legend translate>edit-tablet-profile</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general-tab" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general-tab">
                <div class="control-group">
                    <label class="control-label" for="uuid" translate>Id</label>
                    <div class="controls">
                        <span id="uuid" class="uneditable-input">{{record.id}}</span>
                        <div ng-if="record.archived" class="label label-warning">Archived</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" type="text" ng-model="record.name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="autologoutshortseconds" translate>Auto logout short seconds</label>
                    <div class="controls">
                        <input id="autologoutshortseconds" type="number" ng-model="record.autologoutshortsecs" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="autologoutlongseconds" translate>Auto logout long seconds</label>
                    <div class="controls">
                        <input id="autologoutlongseconds" type="number" ng-model="record.autologoutlongsecs" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="allownumberpadlogin" translate>Allow number pad login</label>
                    <div class="controls">
                        <input id="allownumberpadlogin" type="checkbox" ng-model="record.allownumberpadlogin" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="confirmlogout" translate>Confirm logout</label>
                    <div class="controls">
                        <select id="confirmlogout" ng-options="type.id as type.name for type in confirmlogouttypes" ng-model="record.confirmlogout" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="enablefma" translate>Enable Find My Asset (FMA)</label>
                    <div class="controls">
                        <input id="enablefma" type="checkbox" ng-model="record.enablefma" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="enablees" translate>Enable Environmental Sensing (ES)</label>
                    <div class="controls">
                        <input id="enablees" type="checkbox" ng-model="record.enableenvironmentalsensing" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="settingspassword" translate>Settings Password</label>
                    <div class="controls">
                        <input id="settingspassword" type="text" ng-model="record.settingspassword" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="logoutpassword" translate>Logout Password</label>
                    <div class="controls">
                        <input id="logoutpassword" type="text" ng-model="record.logoutpassword" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="enableloginphoto" translate>Enable Login Photo</label>
                    <div class="controls">
                        <input id="enableloginphoto" type="checkbox" ng-model="record.enableloginphoto" />
                    </div>
                </div>
                <div class="control-group" ng-if="record.enableloginphoto">
                    <label class="control-label" for="loginphotoevery" translate>Login Photo Every (1 for every time, 2 for every 2nd time etc)</label>
                    <div class="controls">
                        <input id="loginphotoevery" type="number" min="1" ng-model="record.loginphotoevery" />
                    </div>
                </div>
            </div>
         </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" class="btn btn-danger" ng-if="record.id && !record.archived">Delete</button>
</div>


