<md-toolbar class='md-hue-1'>
    <div class='md-toolbar-tools'>
        <md-button class='md-raised' ng-click='$ctrl.refresh()' ng-disabled='!$ctrl.canRefresh()'>
            <md-icon md-font-set='fas' md-font-icon='fa-redo'></md-icon>&nbsp;Refresh
        </md-button>
        <!--
        <md-button class='md-raised' ng-click='$ctrl.apply()' ng-disabled='!$ctrl.canApply()'>
            <md-tooltip>Apply {{ $ctrl.applyCount}} pending database changes to the cluster</md-tooltip>
            <md-icon md-font-set='fas' md-font-icon='fa-globe'></md-icon>&nbsp;Apply {{ $ctrl.applyCount}} changes
        </md-button>
        -->
    </div>
</md-toolbar>

<md-content layout-padding>
    <md-input-container>
        <label>Search</label>
        <input ng-model='$ctrl.search' />
    </md-input-container>

    <md-table-container flex>
        <table md-table class='table-hover'>
            <thead md-head md-order='$ctrl.order'>
                <tr md-row>
                    <th md-column md-order-by='name'>Name</th>
                    <th md-column md-order-by='hostname'>Hostname</th>
                    <th md-column md-order-by='profileName'>Profile</th>
                    <th md-column md-order-by='tenantMasterName'>Tenant Master</th>
                    <th md-column md-order-by='currentRelease'>Release (Current/Desired)</th>
                    <th md-column>Running</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-colors="$ctrl.rowColor(tenant)"
                    ng-repeat='tenant in $ctrl.tenants | orderBy: $ctrl.order | filter: $ctrl.filter track by tenant.hostname'
                    ng-click='$ctrl.edit(tenant)'>
                    <td md-cell>{{ tenant.sql.name }}</td>
                    <td md-cell>{{ tenant.sql.hostname || tenant.cluster.hostname }}</td>
                    <td md-cell>{{ tenant.sql.tenantProfile.name }}</td>
                    <td md-cell>{{ tenant.sql.sqlTenantMaster.name }}:{{ tenant.sql.sqlHost.name }}</td>
                    <td md-cell>{{ tenant.cluster.luciferRelease }} / {{ tenant.sql.luciferRelease }}</td>
                    <td md-cell>
                        <span ng-if='tenant.running'>
                            <md-tooltip>Running</md-tooltip>
                            <md-icon md-font-set="fas" md-font-icon="fa-running fa-lg">
                            </md-icon>
                        </span>
                        <span ng-if='tenant.issues.length'>
                            <md-tooltip>{{ :: $ctrl.issues(tenant) }}</md-tooltip>
                            <md-icon md-font-set="fas" md-font-icon="fa-exclamation fa-lg">
                            </md-icon>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>
