<div flex layout='row' layout-align='start center' class='tasklist-task-tile'
    ng-class="{'schedule-task-list-group': $ctrl.task.workinggroupid != null, 'alert-info': $ctrl.task.clientDateTimeReceived, 'alert-warning': $ctrl.task.islate == true, 'requiresclaiming': $ctrl.task.requiresclaiming == true}">
    <div flex='15' flex-gt-sm='10' layout='row' layout-align='start center'>
        <media-image class='task-image' ng-model="$ctrl.task.mediaid" height='75' cache></media-image>
    </div>
    <div flex>
        <div class='task-name '>{{$ctrl.task.name}}</div>
        <div class='task-description ' ng-bind-html="$ctrl.task.description | unsafeHtml"></div>
    </div>
    <div layout='column' flex='25' layout-align='center stretch'>
        <div ng-if="$ctrl.task.status == 'paused'">
            <div layout='row' layout-align='start center' flex>
                <md-icon md-font-set='far' md-font-icon="fa-pause-circle fa-lg" class='task-paused icon-with-margin'
                    flex='25'>
                </md-icon>
                <div flex></div>
            </div>
        </div>
        <div
            ng-if="$ctrl.task.status == 'active' || $ctrl.task.status == 'finishing' || $ctrl.task.status == 'finishing-incomplete'">
            <div layout='row' layout-align='start center'>
                <md-icon md-font-set='fas' md-font-icon="fa-pencil-alt fa-lg" class='task-active icon-with-margin'
                    flex='25'>
                </md-icon>
                <div flex></div>
            </div>
        </div>
        <div ng-if='$ctrl.task.asset.name' layout='column'>
            <div layout='row' layout-align='start center'>
                <md-icon md-font-set='fas' md-font-icon='fa-eye fa-lg' class='task-asset-name icon-with-margin'
                    flex='25'>
                </md-icon>
                <div flex class='task-asset-name '>{{ $ctrl.task.asset.name }}</div>
            </div>
        </div>
        <div layout='column' ng-if="$ctrl.presented.template.showtasksites == true && $ctrl.task.site.name">
            <div layout='row' layout-align='start center'>
                <md-icon md-font-set='fas' md-font-icon='fa-map-marker fa-lg' class='task-site-name icon-with-margin'
                    flex='25'>
                </md-icon>
                <div flex class='task-site-name '>{{$ctrl.task.site.name}}</div>
            </div>
        </div>
        <div layout='column'
            ng-if="$ctrl.task.distance != 100000 && $ctrl.presented.template.showtaskdistances == true">
            <div layout='row' layout-align='start center'>
                <md-icon md-font-set='fas' md-font-icon='fa-ruler fa-lg' class='task-site-distance icon-with-margin'
                    flex='25'>
                </md-icon>
                <div flex class='task-site-distance '>
                    {{$ctrl.task.distance > 1 ? $ctrl.task.distance : $ctrl.task.distance * longDistanceUnitsToSmallMultiplier | number:2}}
                    {{$ctrl.task.distance > 1 ? $ctrl.longDistanceUnits : $ctrl.shortDistanceUnits}}
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.task.starttime != null && $ctrl.presented.template.showstarttimes == true" layout='column'>
            <div layout='row' layout-align='start center'>
                <md-icon md-font-set="far" md-font-icon="fa-clock fa-lg" class='task-start-time icon-with-margin'
                    flex='25'>
                </md-icon>
                <div class='task-start-time '>{{$ctrl.task.starttime | amDateFormat: 'HH:mm:ss'}}</div>
                <span ng-if='$ctrl.task.islate'
                    class='label label-danger wobble-hor-bottom animate-infinite'>Late</span>
            </div>
        </div>
        <div ng-if="$ctrl.task.clientDateTimeReceived" layout='column'>
            <div layout='row' layout-align='start center'>
                <md-icon md-font-set="fas" md-font-icon="fa-inbox fa-lg" class='task-receive-time icon-with-margin'
                    flex='25'>
                </md-icon>
                <div class='task-receive-time '>
                    {{$ctrl.task.clientDateTimeReceived | date:'shortTime'}}
                </div>
            </div>
        </div>
        <div ng-if="creatingGroup == true">
            <md-switch ng-model="$ctrl.task.selectedInGroup"></md-switch>
        </div>
    </div>
</div>