<div tabindex="-1">
    <ul class="nav nav-pills language-tab">
        <li role="presentation" ng-repeat="language in languages" ng-class="{ active: language.culturename==currentLanguage}">
            <a href="#{{ tabid(language) }}" data-toggle="tab">{{ language.languagename }}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="{{ tabid(language) }}" ng-repeat="language in languages" class="tab-pane" style="overflow:hidden" ng-class="language.culturename==currentLanguage ? 'active' : ''">
            <input ng-if="type == 'input'" type="text" style="width: 95%" ng-model="item[language.culturename][property]" />
            <textarea ng-if="type == 'richtext'" redactor ng-model="item[language.culturename][property]"></textarea>
        </div>
    </div>
</div>