$slide-time: 1s;

.animate-infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.wobble-hor-bottom {
  -webkit-animation-name: wobble-hor-bottom;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-name: wobble-hor-bottom;
          animation-duration: 1s;
          animation-fill-mode: both;
}

.shake-bottom {
  -webkit-animation-name: shake-bottom;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -webkit-animation-fill-mode: both;
          animation-name: shake-bottom;
          animation-duration: 1s;
          animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
          animation-fill-mode: both;
}

.slide-in-right {
	-webkit-animation: slide-in-right $slide-time cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	        animation: slide-in-right $slide-time cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.slide-out-left {
	-webkit-animation: slide-out-left $slide-time cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	        animation: slide-out-left $slide-time cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.grow-and-slide-in-right {
	-webkit-animation: grow-and-slide-in-right $slide-time cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	        animation: grow-and-slide-in-right $slide-time cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.slide-out-left-and-shrink {
	-webkit-animation: slide-out-left-and-shrink $slide-time cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	        animation: slide-out-left-and-shrink $slide-time cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.slide-in-slide-out {
    &.ng-enter {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
            @extend .slide-in-right;
    }
    &.ng-leave {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
            @extend .slide-out-left;
    }
}

.fade-in-bck {
	-webkit-animation: fade-in-bck $slide-time cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck $slide-time cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out-bck {
	-webkit-animation: fade-out-bck $slide-time cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bck $slide-time cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in-fade-out {
    &.ng-enter {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        @extend .fade-in-bck;
    }
    &.ng-leave {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        @extend .fade-out-bck;
    }
}

.animation-container {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 100px;
    perspective: 100px;
    background-color: transparent;
}

.animation-container-parent > * {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-8-22 23:21:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-8-22 23:35:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-8-22 23:37:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes grow-and-slide-in-right {
  0% {
    max-height: 0;
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    max-height: 300px;
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    max-height: 300px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes grow-and-slide-in-right {
  0% {
    max-height: 0;
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    max-height: 300px;
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    max-height: 300px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
* Generated by Animista on 2019-8-22 23:37:17
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-out-left
* ----------------------------------------
*/
@-webkit-keyframes slide-out-left-and-shrink {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    max-height: 300px;
  }
  50% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    max-height: 300px;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    max-height: 0;
  }
}
@keyframes slide-out-left-and-shrink {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    max-height: 300px;
  }
  50% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    max-height: 300px;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    max-height: 0;
  }
}

  /* ----------------------------------------------
 * Generated by Animista on 2019-8-23 0:33:22
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out-bck
 * ----------------------------------------
 */
@-webkit-keyframes fade-out-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
  }
  @keyframes fade-out-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-8-23 0:34:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-8-23 18:11:30
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  