﻿@import './bootstrap-compat.scss';
@import './animations.scss';

.application-body {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
 
.scroll-container {
  position: relative;
  > * {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    }
}

.horizontal-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.vertical-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.both-scroll {
  overflow: scroll;
}

.ui-view-layout-row > * {
    flex-direction: row;
    flex: 1;
    display: flex;
    box-sizing: border-box;
}

.ui-view-layout-column > * {
    flex-direction: column;
    flex: 1;
    display: flex;
    box-sizing: border-box;
}

.main-content
{
    padding-left:1em;
    padding-right:1em;
}

.icon-with-margin {
    margin: 5px;
}

.task-image {
    margin: 6px 10px 6px 6px;
    height: 75px;
}

.menu-image {
    margin: 6px 10px 6px 6px;
    height: 30px;
}

.tool-bar-image {
    margin: 6px 10px 6px 6px;
    height: 40px;
}

// Add this to an image to make is a perfect circle
.circle {
    border-radius: 50%;
}

.gridlist {
    md-icon {
        width: 50%;
        height: 30%; 
    }
  
    md-icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  
  .s64 {
    font-size: 64px; }
  
  .s32 {
    font-size: 48px; }
  
  md-icon.fa {
    display: block;
    padding-left: 0; }
  
  md-icon.s32 span {
    padding-left: 8px; }
  
  md-grid-list {
    margin: 8px; }
  
  .gray {
    background: #f5f5f5; }
  
  .green {
    background: #b9f6ca; }
  
  .yellow {
    background: #ffff8d; }
  
  .blue {
    background: #84ffff; }
  
  .darkBlue {
    background: #80d8ff; }
  
  .deepBlue {
    background: #448aff; }
  
  .purple {
    background: #b388ff; }
  
  .lightPurple {
    background: #8c9eff; }
  
  .red {
    background: #ff8a80; }
  
  .pink {
    background: #ff80ab; }
  
  md-grid-tile md-icon {
    padding-bottom: 32px; }
  
  md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.68);
    height: 36px; }
  
  md-grid-tile-footer figcaption {
    width: 100%; }
  
  md-grid-tile-footer figcaption h3 {
    margin: 0;
    font-weight: 700;
    width: 100%;
    text-align: center; 
    }
}

/* md-toolbar.md-topbar {} */

/* Short toolbar */
md-toolbar.md-short {
  height: 48px;
  min-height: 48px;
  max-height: 48px; 
  .md-toolbar-tools {
    height: 32px;
    min-height: 32px;
    max-height: 32px; 
  }
}

$md-dark-row-hover: #eee;

table.table-hover > tbody > tr:hover {
    background-color: $md-dark-row-hover;
    cursor: pointer;
}

/* Material Design Icons - Setup Method 2. Self hosting
 * http://google.github.io/material-design-icons/ */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'), url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Material hack to allow Toasts to center */
.md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}