﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>Lucifer Tenant Master</title>
</head>

<body layout='row' class='application-body animation-container' ng-cloak>
    <div ui-view='body' layout='row' flex class='ui-view-layout-row fade-in-fade-out'></div>
</body>

</html>