﻿<div>
    <div id="management" class="container-fluid" ng-controller="devicemanagementCtrl">
        <h3 translate>Device Management</h3>
        <div class="row-fluid">
            <div class="span8">
                <h4 translate>Shortcut Logins By Label</h4>
                <div class="row-fluid">
                    <div class="span12">
                        <p translate>You can add users based on labels. This list of users will automatically be refreshed.</p>
                        <label-selector type="Users" ng-model="labels"></label-selector>
                    </div>
                </div>
                <h4 translate>Shortcut Logins By User</h4>
                <div class="row-fluid">
                    <div class="span12">
                        <p translate>You can add users to this device that commonly use it and provide them with a quicker authentication experience.</p>
                        <select-user ng-model="searcheduser"></select-user>
                    </div>
                </div>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in users track by $index">
                            <td>{{u.Username}}</td>
                            <td>{{u.Name}}</td>
                            <td><button class="btn btn-danger" ng-click="removeShortcutUser(u)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="span4">
                <h4>Camera Registration</h4>
                <input type="file" multiple />
            </div>
        </div>
    </div>
</div>