﻿<div>
    <div id="management" class="container-fluid" ng-controller="assetAdminCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newRecord()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    </div>
                    <asset-sidebar ng-model="records"></asset-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>Asset Administration</h1>
                        This section allows you to administer assets.
                    </div>
                    <div ng-if="editing">
                        <asset-editor ng-model="editing"></asset-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@BHelpers.RenderAngularTemplates(Html)