<md-dialog flex="80">
    <md-toolbar>
        <div class='md-toolbar-tools'>
            <h2 layout='row' layout-align='start center'>
                <img class='tool-bar-image' ng-if="task.mediaid" ng-src="{{::url.toolBarImage(task.mediaid) }}" />
                <span>{{ task.name }}</span>
            </h2>
            <span flex></span>
            <md-button class='md-icon-button' ng-click="cancel()">
                <md-icon md-font-set='fas' md-font-icon='fa-times fa-lg'></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class='md-dialog-content'>
            <question-tasklist-clockin-clockout-ui task='task' parent='parent' presented='presented'
                ng-if="task.userinterfacetype == UserInterfaceType.ClockInClockOut" on-close="close(data)">
            </question-tasklist-clockin-clockout-ui>
            <question-tasklist-desktop-ui ng-if="task.userinterfacetype == UserInterfaceType.Desktop"
                on-close="close(data)">
            </question-tasklist-desktop-ui>
            <question-tasklist-startfinish-ui ng-if="task.userinterfacetype == UserInterfaceType.SaveFinish"
                on-close="close(data)">
            </question-tasklist-startfinish-ui>
            <question-tasklist-productordering-ui ng-if="task.userinterfacetype == UserInterfaceType.Ordering"
                on-close="close(data)">
            </question-tasklist-productordering-ui>
        </div>
    </md-dialog-content>
</md-dialog>