﻿<register-translations>
    <edit-role-role>Edit: <span ng-bind="report.name"/></edit-role-role>
</register-translations>

<form name="editor"> 
    <legend translate>edit-role-role</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify><a href="#roles" data-toggle="tab" translate>Roles</a></li>
            <li tabify><a href="#config" data-toggle="tab" translate>Configuration</a></li>
            <li tabify><a href="#information" data-toggle="tab" translate>Information</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="uuid" translate>Id</label>
                            <div class="controls">
                                <span id="uuid" class="uneditable-input">{{report.id}}</span>
                                <div ng-if="report.archived" class="label label-warning">Archived</div>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{error: editor.inputName.$invalid && editor.inputName.$pristine == false}">
                            <label class="control-label" for="inputName" translate>Name</label>
                            <div class="controls">
                                <input type="text" id="inputName" name="inputName" required ng-model="report.name" placeholder="{{ 'Name' | translate }}"><span ng-if="editor.inputName.$invalid && editor.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                            </div>
                        </div>
                        <div ng-if="report.type == 2" class="control-group" ng-class="{error: editor.selectReportTemplate.$error.required}">
                            <label class="control-label" for="inputName" translate>Report</label>
                            <div class="controls">
                                <jsreport-template-selector ng-model="report.shortid"></jsreport-template-selector>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputName" translate>Description</label>
                            <div class="controls">
                                <textarea id="inputDescription" name="inputDescription" ng-model="report.description" placeholder="{{ 'Description' | translate }}"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Type</label>
                            <div class="controls">
                                <span>{{report.typename}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <button ng-click="showSetAuthentication()" class="btn btn-primary" translate>Set Authentication</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="roles">
                <role-selector ng-model="roles" />
            </div>
            <div class="tab-pane" id="config" ng-if="report.type != 2">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputConfig" translate>JSON Configuration</label>
                            <div class="controls">
                                <textarea id="inputConfig" name="inputConfig" ng-model="report.configuration" placeholder="{{ 'Configuration' | translate }}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Type</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in reportParams">
                                    <td>{{p.name}}</td>
                                    <td>{{p.type}}</td>
                                    <td>{{p.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    The report parameters are configured via JSON using the following format <br />
                    <br />
                    <code>{<br />"PARAMETER NAME":{"value":"SOME VALUE","type":"SOME TYPE"},<br /> "PARAMETER NAME2":{"value":"SOME VALUE2","type":"SOME TYPE2"}<br />}</code> <br /><br />
                    Where the following is true
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Part</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PARAMETER NAME</td>
                                <td>The name of the parameter in the report that you want to define a value for</td>
                            </tr>
                            <tr>
                                <td>SOME VALUE</td>
                                <td>The value you want to set the report parameter to. The format of the value needs to comply with the type of variable</td>
                            </tr>
                            <tr>
                                <td>SOME TYPE</td>
                                <td>
                                    One of the following
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>string</td>
                                            <td>Any string value</td>
                                        </tr>
                                        <tr>
                                            <td>bool</td>
                                            <td>"true" or "false"</td>
                                        </tr>
                                        <tr>
                                            <td>guid</td>
                                            <td>A valid GUID</td>
                                        </tr>
                                        <tr>
                                            <td>date</td>
                                            <td>A date in the format YYYY-MM-DDTHH:mm:ss.0000000Z</td>
                                        </tr>
                                        <tr>
                                            <td>int</td>
                                            <td>Any integer value between -2,147,483,648 to 2,147,483,647 (whole number)</td>
                                        </tr>
                                        <tr>
                                            <td>short</td>
                                            <td>Any integer value between -32,768 to 32,767 (must be a whole number)</td>
                                        </tr>
                                        <tr>
                                            <td>long</td>
                                            <td>Any integer value between -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807 (whole number)</td>
                                        </tr>
                                        <tr>
                                            <td>double</td>
                                            <td>Any number</td>
                                        </tr>
                                        <tr>
                                            <td>float</td>
                                            <td>Any number</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="config" ng-if="report.type == 2">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label" for="inputConfig" translate>JSON Parameters Override</label>
                            <div class="controls">
                                <textarea id="jsonConfiguration" ng-model="report.configuration"></textarea>
                            </div>
                            <div class="alert alert-error" ng-if="parseErrors">{{ parseErrors }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="information">
                <div ng-if="report.type == 0">
                    <p class="text-info" translate>Telerik reports do not provide any extra information.</p>
                </div>
                <div ng-if="report.type == 1" class="row-fluid">
                    <div class="span12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Import Id</td>
                                    <td>{{reportinformation.id}}</td>
                                </tr>
                                <tr>
                                    <td>Report</td>
                                    <td>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Property</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Id</td>
                                                    <td>{{reportinformation.report.id}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>{{reportinformation.report.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Web Url</td>
                                                    <td>{{reportinformation.report.weburl}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Embed Url</td>
                                                    <td>{{reportinformation.report.embedurl}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dataset</td>
                                    <td>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Property</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Id</td>
                                                    <td>{{reportinformation.dataset.id}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>{{reportinformation.dataset.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Web Url</td>
                                                    <td>{{reportinformation.dataset.weburl}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-if="report.type == 2">
                    <p class="text-info" translate>JsReport do not provide any extra information.</p>
                </div>
            </div>
        </div>
</fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit" translate>Save changes</button>
    <button ng-if="report.__isnew == false && report.type != 2" ng-click="uploadFile()" class="btn" translate>Upload Report</button>
</div>

<div class="modal-large hide fade" modalify="uploadingfile">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Upload Report Template</h3>
    </div>
    <div ng-if="uploadingfile" class="modal-body">
        <file-uploader></file-uploader>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
    </div>
</div>
<div class="modal-large hide fade" modalify="showauthentication">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Report Authentication</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label" for="inputConnection">Connection String</label>
                    <div class="controls">
                        <input type="text" id="inputConnection" name="inputConnection" ng-model="authentication.connectionString" placeholder="Connection String">
                        <p class="text-info">Connection string should be of the form <strong>Data Source=XXX.database.windows.net,1433;Initial Catalog=YYY;</strong> where XXX is the name of the SQL Azure server and YYY is the name of the database.</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputUsername">Username</label>
                    <div class="controls">
                        <input type="text" id="inputUsername" name="inputUsername" ng-model="authentication.username" placeholder="Username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" id="inputPassword" name="inputPassword" ng-model="authentication.password" placeholder="Password">
                    </div>
                </div>
                <p class="text-info">The username and password are the usernames and passwords to connect the the SQL Azure database with, not the username and password used to access this application.</p>
                <button class="btn btn-primary" ng-click="setAuthentication(authentication)">Set Authentication</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
