<md-dialog flex="80">
    <md-toolbar>
        <div class='md-toolbar-tools' layout-align='space-between center'>
            <span flex='33'>
                <h2 layout='row' layout-align='start center' flex>
                    <img class='tool-bar-image' ng-if="mediaId" ng-src="{{::url.toolBarImage(mediaId) }}" />
                    <span hide="" show-gt-xs="">{{ title }}</span>
                </h2>
            </span>
            <span flex='33' layout='row' layout-align='center center'>
                <md-button class="btn-large md-raised md-accent" ng-show="playerButtons.canPrevious"
                    ng-disabled="playerButtons.areAjaxing" ng-click="parent.back()">
                    {{ playerButtons.previousText }}
                    <md-icon md-font-set='fas' md-font-icon='fa-chevron-left fa-lg'></md-icon>
                </md-button>
                <md-button class="btn-large md-raised md-accent" ng-show="playerButtons.canNext"
                    ng-disabled="playerButtons.areAjaxing" ng-click="parent.next()">
                    {{ playerButtons.nextText }}
                    <md-icon md-font-set='fas' md-font-icon='fa-chevron-right fa-lg'></md-icon>
                </md-button>
            </span>
            <span flex='33' layout='row' layout-align='end center'>
                <md-button class='md-icon-button' ng-click="cancel()">
                    <md-icon md-font-set='fas' md-font-icon='fa-times fa-lg'></md-icon>
                </md-button>
            </span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class='md-dialog-content'>
            <md-progress-linear md-mode="indeterminate" ng-show="playerButtons.areAjaxing"></md-progress-linear>
            <play-embedded ng-model="workingdocumentid" on-state='onState(state)'>
            </play-embedded>
        </div>
    </md-dialog-content>
</md-dialog>