﻿<register-translations>
    <edit-beacon>Beacon: <span ng-bind="record.id" /></edit-beacon>
</register-translations>
<form name="editor">
    <legend translate>edit-beacon</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="control-group">
                    <label class="control-label" for="id" translate>Id</label>
                    <div class="controls">
                        <span id="id" class="uneditable-input">{{record.id}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" type="text" ng-model="record.name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">User/Site</label>
                    <div class="controls">
                        <select-single-user ng-model="record.userid" mandatory="false"></select-single-user>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Task Type</label>
                    <div class="controls">
                        <select-task-type ng-model="record.tasktypeid" mandatory="false"></select-task-type>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">Save</button>
</div>
