﻿<div class="control-group">
    <div class="controls">
        <div class="input-append">
            <input type="text" placeholder="{{ 'Search' | translate }}" ng-model="search" />
            <button ng-click="newRecord()" class="btn btn-success"><i class="icon-plus-sign icon-white"></i></button>
        </div>
    </div>
    <div ng-repeat="t in attachmentTypes" class="btn btn-small" ng-click="toggleAttachmentType(t)" tooltip="{ title: t.name }">
        <i ng-class="['icon-ban-circle', 'icon-check', 'icon-check-empty'][t.include || 0]"></i>
        <i ng-class="'icon-' + t.class"></i>&nbsp;{{ t.name }}
    </div>
</div>

<ul class="nav nav-tabs nav-stacked">
    <li dir-paginate="record in records | itemsPerPage: itemsPerPage" total-items="totalRecords" current-page="pageNumber" ng-click="editRecord(record)">
        <a href="">
            <div>
                <span>{{ record.name }}</span> <span class="muted">{{ record.id }}</span>
            </div>
            <div>
                <i ng-if="record.userid" class="icon-usersite"></i> <span class="muted">{{ record.username }}</span>
                <i ng-if="record.tasktypeid" class="icon-tasktype"></i> <span class="muted">{{ record.tasktypename }}</span>
            </div>
        </a>

    </li>
</ul>
<dir-pagination-controls boundary-links="true" class="ng-isolate-scope" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

