﻿<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Details</th>
                <th>Action <span style="float:right"><button class="btn btn-success" ng-click="add()"><i class="icon-plus"></i>&nbsp;Add</button></span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="f in feeds">
                <td>
                    OData {{f.feed}}
                </td>
                <td>
                    {{f.name}}<div ng-if="f.uselocalfeed == true">This source is a local source</div>
                </td>
                <td>
                    <button class="btn btn-success" ng-click="edit(f)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="datasourcequestioneditor" class="modal-large hide fade editfeed" modalify="editFeed">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h3>Edit Feed</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-info" ng-if="feedFields">
                <h4>Available Fields</h4>
                <span ng-repeat="field in feedFields">{{field}} </span>
            </div>
            <form name="editfeed">
                <ul class="nav nav-tabs" id="feedTabs">
                    <li tabify><a href="#feedTabs-General" data-toggle="tab">General</a></li>
                    <li><a href="#feedTabs-Transforms" data-toggle="tab">Transform</a></li>
                    <li><a href="#feedTabs-Formats" data-toggle="tab">Field Formats</a></li>
                    <li><a href="#feedTabs-Parameters" data-toggle="tab">Parameters</a></li>
                    <li><a href="#feedTabs-DataScope" data-toggle="tab">Data Scope</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="feedTabs-General">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group" ng-class="{error: editfeed.inputName.$invalid && editfeed.inputName.$pristine == false}">
                                    <label class="control-label" for="inputName">Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputName" name="inputName" required ng-model="currentFeed.name" placeholder="Name"><span ng-if="editfeed.inputName.$invalid && editfeed.inputName.$pristine == false" class="help-inline">This field is mandatory</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group" ng-class="{error: editfeed.inputFeed.$invalid && editfeed.inputFeed.$pristine == false}">
                                    <label class="control-label" for="inputFeed">Feed</label>
                                    <div class="controls">
                                        <input ng-if="currentFeed.uselocalfeed == false" type="text" id="inputFeed" name="inputFeed" required ng-model="currentFeed.feed" placeholder="Feed"><span ng-if="editfeed.inputFeed.$invalid && editfeed.inputFeed.$pristine == false" class="help-inline">This field is mandatory</span>
                                        <select ng-if="currentFeed.uselocalfeed == true" ng-model="currentFeed.feed" ng-options="feed.url as feed.name for feed in localendpoints"></select>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="currentFeed.uselocalfeed"> Use Local Feed
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputFilter">Filter</label>
                                    <div class="controls">
                                        <input type="text" id="inputFilter" name="inputFilter" ng-model="currentFeed.filter" placeholder="Filter">
                                        <p class="muted">You can use expressions of the form [[variablename]].</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group" ng-class="{error: editfeed.inputVisible.$invalid && editfeed.inputVisible.$pristine == false}">
                                    <label class="control-label" for="inputVisible">Visible Fields</label>
                                    <div class="controls">
                                        <input type="text" id="inputVisible" name="inputVisible" required ng-model="currentFeed.visiblefields" placeholder="Visible Fields"><span ng-if="editfeed.inputVisible.$invalid && editfeed.inputVisible.$pristine == false" class="help-inline">This field is mandatory</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputOrder">Order By</label>
                                    <div class="controls">
                                        <input type="text" id="inputOrder" name="inputOrder" ng-model="currentFeed.orderbyfields" placeholder="Order By">
                                        <p class="muted">You can use expressions of the form [[variablename]].</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group" ng-class="{error: editfeed.inputKey.$invalid && editfeed.inputKey.$pristine == false}">
                                    <label class="control-label" for="inputKey">Key Fields</label>
                                    <div class="controls">
                                        <input type="text" id="inputKey" name="inputKey" required ng-model="currentFeed.keyfields" placeholder="Key Fields"><span ng-if="editfeed.inputKey.$invalid && editfeed.inputKey.$pristine == false" class="help-inline">This field is mandatory</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputExtraFields">Extra Query String</label>
                                    <div class="controls">
                                        <input type="text" id="inputExtraFields" name="inputExtraFields" ng-model="currentFeed.extrafields" placeholder="Extra Fields">
                                        <p class="muted">You can use expressions of the form [[variablename]].</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group" ng-class="{error: currentFeed.usepaging == true && editfeed.inputFeed.$invalid && editfeed.inputFeed.$pristine == false}">
                                    <label class="control-label" for="inputPerPage">Items Per Page</label>
                                    <div class="controls">
                                        <input ng-if="currentFeed.usepaging == true" type="text" id="inputPerPage" name="inputPerPage" required ng-model="currentFeed.itemsperpage" placeholder="Items Per Page"><span ng-if="currentFeed.usepaging == true && editfeed.inputFeed.$invalid && editfeed.inputFeed.$pristine == false" class="help-inline">This field is mandatory</span>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="currentFeed.usepaging"> Use Paging
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="currentFeed.includecount"> Retrieve total count
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputExpandFields">Expand Fields</label>
                                    <div class="controls">
                                        <input type="text" id="inputExpandFields" name="inputExpandFields" ng-model="currentFeed.expandfields" placeholder="Expand Fields">
                                        <p class="muted">You can use expressions of the form [[variablename]].</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputRefresh">Refresh every seconds</label>
                                    <div class="controls">
                                        <input type="text" id="inputRefresh" name="inputRefresh" ng-model="currentFeed.refreshperiodseconds" placeholder="Refresh Period">
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputSelectFields">Select Fields</label>
                                    <div class="controls">
                                        <input type="text" id="inputSelectFields" name="inputSelectFields" ng-model="currentFeed.selectfields" placeholder="Select Fields">
                                        <p class="muted">You can use expressions of the form [[variablename]].</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="feedTabs-Transforms">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputPivot">Transform Around Fields</label>
                                    <div class="controls">
                                        <input type="text" id="inputPivot" name="inputPivot" ng-model="currentFeed.transformaroundfields" placeholder="Transform Around">
                                    </div>
                                </div>
                            </div>
                            <div class="span6">

                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputPivotColumn">Transform To Column Titles</label>
                                    <div class="controls">
                                        <input type="text" id="inputPivotColumn" name="inputPivotColumn" ng-model="currentFeed.transformtocolumntitlesfields" placeholder="Transform to Titles">
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputPivotValues">Transform To Column Values</label>
                                    <div class="controls">
                                        <input type="text" id="inputPivotValue" name="inputPivotValue" ng-model="currentFeed.transformtocolumnvaluesfields" placeholder="Transform to Values">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="feedTabs-Formats">
                        <div class="row-fluid">
                            <div class="span8">
                                <p class="muted">You can set a format for transformed fields using the value of the transformed column. For example if you have a question with prompt of DOB, then DOB should be used for the field name.</p>
                            </div>
                            <div class="span4">
                                <button class="btn btn-success pull-right" ng-click="addFormat()">Add Field Format</button>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Format</th>
                                    <th>Data</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="format in currentFeed.fieldformats">
                                    <td>
                                        <input type="text" ng-model="format.fieldname" placeholder="Field">
                                    </td>
                                    <td>
                                        <select ng-options="a as a for a in availableformats" ng-model="format.format"></select>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="format.data" placeholder="Data">
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" ng-click="deleteFormat(format)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="feedTabs-Parameters">
                        <div class="row-fluid">
                            <div class="span8">
                                <p class="muted">You can set a mapping between parameters used in the filter or order by clauses and how they are referred to externally.</p>
                            </div>
                            <div class="span4">
                                <button class="btn btn-success pull-right" ng-click="addParameter()">Add Parameter Definition</button>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>External Names</th>
                                    <th>Instructions</th>
                                    <th>Default Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="param in currentFeed.parameterdefinitions">
                                    <td>
                                        <input type="text" ng-model="param.internalname" placeholder="Name">
                                    </td>
                                    <td>
                                        <input type="text" ng-model="param.externalnames" placeholder="Name">
                                    </td>
                                    <td>
                                        <select style="width:100px" ng-options="p as p for p in parameterinstructions" ng-model="param.prequeryinstruction"></select>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="param.defaultvalue" placeholder="Default Value">
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" ng-click="deleteParameter(param)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="feedTabs-DataScope">
                        <div class="row-fluid" ng-show="datascopeinfo.DataScope != null">
                            <div class="span6">
                                <div class="controls">
                                    <div id="DataScopePropertyGrid"></div>
                                </div>
                            </div>
                            <div class="span6">
                                <button class="btn btn-warning" ng-click="resetDataScope()">Reset Data Scope</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger" ng-click="confirmDelete()">Delete</a>
            <a href="#" class="btn" ng-click="close()">Close</a>
            <a href="#" class="btn btn-primary" ng-click="save(currentFeed)">Save changes</a>
        </div>
    </div>
</div>