﻿<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Task Type</th>
                <th>Text</th>
                <th>Requires Basic Details</th>
                <th>Requires Site Details</th>
                <th>Type</th>
                <th>Roster</th>
                <th>
                    <button class="btn btn-success" ng-click="add()"><i class="icon-plus"></i>&nbsp;Add</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in taskcreationtemplates">
                <td>
                    <select style="width:150px" id="inputType" name="inputType" ng-model="t.tasktypeid" ng-options="t.id as t.name for t in tasktypes"></select>
                </td>
                <td>
                    <input style="width:150px" type="text" ng-model="t.text" />
                </td>
                <td>
                    <input type="checkbox" ng-model="t.requiresbasicdetails" />
                </td>
                <td>
                    <input type="checkbox" ng-model="t.requiressitedetails" />
                </td>
                <td>
                    <select style="width:100px" id="inputType" name="inputType" ng-model="t.type" ng-options="a for a in availabletemplatetypes"></select>
                </td>
                <td>
                    <select style="width:100px" id="inputRoster" name="inputRoster" ng-model="t.defaulttoroster" ng-options="r.id as r.name for r in rosters">
                        <option value=""></option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="delete(t)"><i class="icon-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>