<md-content>
    <md-list flex>
        <md-list-item class='md-1-line' ng-repeat='q in $ctrl.questions'
            ui-sref='root.dev.question({question: q.name})'>
            <div class='md-list-item-text'>
                {{ q.name }}
            </div>
        </md-list-item>
    </md-list>
</md-content>
