﻿<div >
    <div id="management" class="container-fluid" ng-controller="standardsmanagementCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newStandard()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    </div>
                    <standards-sidebar ng-model="standards"></standards-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1> Standards Management</h1>
                        This management section allows you to define available types of standards for use in FoodSafe
                    </div>
                    <div ng-if="editing">
                        <standards-editor ng-model="editing"></standards-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>