﻿<div>
    <div id="management" class="container-fluid" ng-controller="userbillingtypemanagementCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span4">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newRecord()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    </div>
                    <userbillingtype-sidebar ng-model="records"></userbillingtype-sidebar>
                </div>
            </div>
            <div class="span8">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>User Billing Type Management</h1>
                        This management section allows you to setup and define the user billing types.
                    </div>
                    <div ng-if="editing">
                        <userbillingtype-editor ng-model="editing"></userbillingtype-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>