﻿<h1>Select Group</h1>
<div layout="row">
    <md-card flex="25" ng-repeat="group in $ctrl.groups" ui-sref="root.select.checklists({groupId: group.Id})">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{group.Name}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>