﻿<div slide-in-out="animationManager">
    <div>
        <h1 class="muted">Lingo Exception</h1>
    </div>
    <div ng-repeat="excerpt in pm.SourceExcerpts">
        <h2 class="text-error">{{excerpt.Message}}</h2>
        <div class="alert">
            <h3>Source</h3>
            <table class="error-source-table">
                <tr ng-repeat="line in excerpt.SourceCodeLines track by $index" ng-class="(excerpt.StartLine + $index) == excerpt.ErrorLine ? 'error-line' : ''">
                    <td>Line {{excerpt.StartLine + $index}}:</td>
                    <td class="error-code">{{line}}</td>
                </tr>
            </table>
        </div>
    </div>

    <h3>Details</h3>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#user" data-toggle="tab">User Variables</a></li>
        <li><a href="#system" data-toggle="tab">Program Variables</a></li>
        <li><a href="#inner" data-toggle="tab">Inner Exceptions</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="user">
            <table class="table-striped table-bordered table-variables">
                <thead>
                    <th>Name</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr ng-repeat="v in pm.UserVariableValues">
                        <td>{{v.Name}}</td>
                        <td>{{v.Value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="system">
            <table class="table-striped table-bordered table-variables">
                <thead>
                    <th>Name</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr ng-repeat="v in pm.ProgramVariableValues">
                        <td>{{v.Name}}</td>
                        <td>{{v.Value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="inner">
            <div ng-repeat="ex in pm.InnerExceptions">
                <h3>{{ex.Type}}</h3>
                {{ex.Message}}
                <pre>{{ex.StackTrace}}</pre>
            </div>
        </div>
    </div>
</div>
