<md-dialog>
    <md-toolbar>
        <div class='md-toolbar-tools'>
            <h2 layout='row' layout-align='start center'>
                <span>Clone {{ source.hostname }}</span>
            </h2>
            <span flex></span>
            <md-button class='md-icon-button' ng-click="cancel()">
                <md-icon md-font-set='fas' md-font-icon='fa-times fa-lg'></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="min-width: 800px;">
        <form>
            <div class='md-dialog-content'>
                <div layout='column'>
                    <div layout='row'>
                        <md-input-container flex>
                            <label>Hostname</label>
                            <input id='hostname' type='text' ng-model='details.hostname'
                                placeholder="Fully qualified domain name, eg mytenant.getevs.com" />
                        </md-input-container>
                        <md-input-container>
                            <service-check promise='$hostnameCheck'></service-check>
                        </md-input-container>
                    </div>
                    <md-input-container>
                        <label>Name</label>
                        <input type='text' ng-model='details.name' />
                    </md-input-container>
                    <md-input-container flex ng-if='hostnameIsAvailable'>
                        <label>Database name</label>
                        <input readonly type='text' ng-model='details.databaseName' />
                    </md-input-container>
                    <div layout='row' ng-if='hostnameIsAvailable'>
                        <md-input-container flex>
                            <label>Tenant Master</label>
                            <md-select ng-model='details.tenantMaster'>
                                <md-option ng-repeat='r in tenantMasters track by r.id' ng-value='r'>
                                    {{ r.name }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label ng-show='details.tenantMaster'>Elastic Pool</label>
                            <md-select ng-model='details.elasticPool' ng-show='details.tenantMaster'>
                                <md-option ng-repeat='p in elasticPools track by p.id' ng-value='p'>
                                    {{ p.name }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout='row' ng-if='details.tenantMaster'>
                        <md-input-container flex>
                            <label>Target Profile</label>
                            <md-select ng-model='details.targetProfile'>
                                <md-option ng-repeat='p in tenantProfiles track by p.id' ng-value='p'>
                                    {{ p.name }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Current Profile</label>
                            <md-select ng-model='details.profile'>
                                <md-option ng-repeat='p in tenantProfiles track by p.id' ng-value='p'>
                                    {{ p.name }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click='clone()' ng-disabled='!canClone()'>Clone</md-button>
    </md-dialog-actions>
</md-dialog>
