﻿<div question-wrapper="presented" layout='column'>
    <md-input-container ng-switch on="presented.AllowMultiline" flex>
        <label ng-bind-html='presented.promptAsHtml'></label>
        <input ng-switch-when="false" type="{{ presented.Type }}" ng-model="answer.Text" ng-blur="validate('single')"
            bwk-style="{{presented.HtmlPresentation.CustomStyling}}" ng-readonly="deepEdit.readonly" />
        <textarea ng-switch-when="true" ng-model="answer.Text" ng-blur="validate('single')"
            bwk-style="{{presented.HtmlPresentation.CustomStyling}}" ng-readonly="deepEdit.readonly"></textarea>
        <div ng-messages='presented.ValidationErrors' ng-if='presented.ValidationErrors.length'>
            <div ng-repeat='error in presented.ValidationErrors' class='md-input-message-animation'>
                {{ error }}</div>
        </div>
    </md-input-container>
</div>