﻿<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label" for="inputSendWhen" translate>Send When</label>
            <div class="controls">
                <select id="inputSendWhen" name="inputSendWhen" ng-model="action.__data.sendrule" ng-options="s.type as s.name for s in sendRules" />
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label" for="inputDestination" translate>Destination</label>
            <div class="controls">
                <select id="inputDestination" name="inputDestination" ng-model="action.__data.destination" ng-options="s.type as s.name for s in destinationTypes" />
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <ul class="nav nav-tabs" id="sendcommstab">
        <li tabify><a href="#sendcommsemail" data-toggle="tab" translate>Email</a></li>
        <li><a href="#sendcommssms" data-toggle="tab" translate>SMS</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="sendcommsemail">
            <div class="alert alert-info">
                You can use the following Lingo replacements</br>
                #{Name} - The name of the person recieving the communication<br />
                #{Roster} - The name of the roster<br />
                #{OwnerNames} - The names of the owners of the tasks that meet the 'Send When' rule
            </div>
            <div ng-if="action.__data.destination == 2" class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputCustomEmail" translate>Custom Email Address</label>
                        <div class="controls">
                            <input type="text" id="inputCustomEmail" name="inputCustomEmail" ng-model="action.__data.customemail" placeholder="{{ 'Email Address' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputEmailSubject" translate>Subject</label>
                        <div class="controls">
                            <input type="text" id="inputEmailSubject" name="inputEmailSubject" ng-model="action.__data.emailsubject" placeholder="{{ 'Subject' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputEmailBody" translate>Body</label>
                        <div class="controls">
                            <textarea id="inputEmailBody" name="inputEmailBody" ng-model="action.__data.emailbody"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="sendcommssms">
            <div class="alert alert-info">
                You can use the following Lingo replacements</br>
                #{Name} - The name of the person recieving the communication<br/>
                #{Roster} - The name of the roster<br />
                #{OwnerNames} - The names of the owners of the tasks that meet the 'Send When' rule
            </div>
            <div ng-if="action.__data.destination == 2" class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputCustomMobile" translate>Custom Mobile</label>
                        <div class="controls">
                            <input type="text" id="inputCustomMobile" name="inputCustomMobile" ng-model="action.__data.custommobile" placeholder="{{ 'Mobile' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputSmsBody" translate>SMS Message</label>
                        <div class="controls">
                            <input type="text" id="inputSmsBody" name="inputSmsBody" ng-model="action.__data.smsbody" placeholder="{{ 'SMS Message' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
