﻿<register-translations>
    <edit-roster-name>Edit: <span ng-bind="roster.name"/></edit-roster-name>
</register-translations>
<form name="editor"> 
    <legend translate>edit-roster-name</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li><a href="#automation" data-toggle="tab" translate>Automation</a></li>
            <li><a href="#events" data-toggle="tab" translate>Task Events</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group" ng-class="{error: editor.inputName.$invalid && editor.inputName.$pristine == false}">
                            <label class="control-label" for="inputName" translate>Name</label>
                            <div class="controls">
                                <input type="text" id="inputName" name="inputName" required ng-model="roster.name" placeholder="{{ 'Name' | translate }}"><span ng-if="editor.inputName.$invalid && editor.inputName.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{error: editor.inputH.$invalid && editor.inputH.$pristine == false}">
                            <label class="control-label" for="inputH" translate>Hierarchy</label>
                            <div class="controls">
                                <select id="inputH" name="inputH" ng-model="roster.hierarchyid" ng-options="h.id as h.name for h in hierarchies" /><span ng-if="editor.inputH.$invalid && editor.inputH.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputH" translate>Default tasks to at start of day</label>
                            <div class="controls">
                                <select id="inputH" name="inputH" ng-model="roster.scheduleapprovaldefaulttaskstatus" ng-options="s.id as s.name for s in scheduleapprovalstatuses" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputH" translate>Default tasks to at end of day</label>
                            <div class="controls">
                                <select id="inputH" name="inputH" ng-model="roster.endofdaydefaulttaskstatus" ng-options="s.id as s.name for s in endofdaystatuses" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Use scheduled end time when task finished by system</label>
                            <div class="controls">
                                <input type="checkbox" ng-model="roster.timesheetusescheduledendwhenfinishedbysystem">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Timesheet Approval Times</label>
                            <div class="controls">
                                <select ng-model="roster.timesheetapprovedsourcemethod" ng-options="m.id as m.name for m in selectionmethods"></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Provides Claimable Duty List</label>
                            <div class="controls">
                                <input type="checkbox" ng-model="roster.providesclaimabledutylist">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Sort Order</label>
                            <div class="controls">
                                <input type="number" ng-model="roster.sortorder">
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group" ng-class="{error: editor.inputRosterStart.$invalid && editor.inputRosterStart.$pristine == false}">
                            <label class="control-label" for="inputRosterStart" translate>Start Time</label>
                            <div class="controls">
                                <input type="time" id="inputRosterStart" required name="inputRosterStart" ng-model="roster.__starttime"><span ng-if="editor.inputRosterStart.$invalid && editor.inputRosterStart.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{error: editor.inputRosterEnd.$invalid && editor.inputRosterEnd.$pristine == false}">
                            <label class="control-label" for="inputRosterEnd" translate>End Time</label>
                            <div class="controls">
                                <input type="time" id="inputRosterEnd" required name="inputRosterEnd" ng-model="roster.__endtime"><span ng-if="editor.inputRosterEnd.$invalid && editor.inputRosterEnd.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Time Zone</label>
                            <div class="controls">
                                <select ng-model="roster.timezone" ng-options="tz.Id as tz.DisplayName for tz in timezones" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Timesheet durations include lunch</label>
                            <div class="controls">
                                <input type="checkbox" ng-model="roster.includelunchintimesheetdurations">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Timesheet should round using</label>
                            <div class="controls">
                                <select ng-model="roster.roundtimesheettonearestmethod" ng-options="m.id as m.name for m in roundingmethods"></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Timesheet should round to the nearest (mins)</label>
                            <div class="controls">
                                <input type="number" ng-model="roster.roundtimesheettonearestmins">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" translate>Receives Claimable Duty List</label>
                            <div class="controls">
                                <input type="checkbox" ng-model="roster.receivesclaimabledutylist">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="automation">
                <div class="alert alert-info" ng-if="allowautomation == false" translate>
                    For automation to be processed scheduled processes must be enabled.
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputStart" translate>Schedule Approval Time</label>
                            <div class="controls">
                                <input type="time" id="inputStart" name="inputStart" ng-model="roster.__automaticscheduleapprovaltime">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="inputEnd" translate>End of day Processing Time</label>
                            <div class="controls">
                                <input type="time" id="inputEnd" name="inputEnd" ng-model="roster.__automaticendofdaytime">
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <button ng-click="clearScheduleApprovalRun()" class="btn btn-danger"><i class="icon-time"></i>&nbsp;Clear Schedule Approval Last Run</button>
                        </div>
                        <div class="control-group">
                            <button ng-click="clearEndOfDayRun()" class="btn btn-danger"><i class="icon-time"></i>&nbsp;Clear End Of Day Last Run</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="events">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Condition</th>
                            <th><button ng-click="addCondition()" class="btn btn-success" translate>Add</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in roster.rostereventconditions track by $index">
                            <td>{{getEventType(c.rosterprojectjobtaskevents)}}</td>
                            <td>
                                {{getConditionText(c.__data)}}
                            </td>
                            <td>
                                <button ng-click="editCondition(c)" class="btn btn-success" translate>Edit</button>
                                <button ng-click="removeCondition(c)" class="btn btn-danger" translate>Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit" translate>Save changes</button>
</div>

<div class="modal-large hide fade" modalify="editingcondition">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Edit Event Condition</h3>
    </div>
    <div class="modal-body">
        <form name="conditionEditor">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group" ng-class="{error: conditionEditor.inputEvent.$invalid && conditionEditor.inputEvent.$pristine == false}">
                        <label class="control-label" for="inputEvent" translate>Event</label>
                        <div class="controls">
                            <select id="inputEvent" name="inputEvent" ng-options="i.id as i.name for i in eventtypes" required ng-model="condition.rosterprojectjobtaskevents"></select><span ng-if="conditionEditor.inputEvent.$invalid && conditionEditor.inputEvent.$pristine == false" class="help-inline">This field is mandatory</span>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div ng-if="(eventtypes | filter: {id:condition.rosterprojectjobtaskevents})[0].timed" class="control-group" ng-class="{error: conditionEditor.inputEvent.$invalid && conditionEditor.inputEvent.$pristine == false}">
                        <label class="control-label" for="inputTime" translate>Time</label>
                        <div class="controls">
                            <input id="inputTime" ng-model="condition.__data.__time" name="inputTime" type="time" />
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs" id="filetab">
                <li tabify><a href="#filter" data-toggle="tab" translate>Task Filter</a></li>
                <li><a href="#actions" data-toggle="tab" translate>Actions</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="filter">
                    <div ng-show="condition.condition == 'taskfilter'">
                        <p>You can filter for tasks from the roster against which the actions associated with this condition will be applied. Leave all of the attributes below blank for the actions to be applied to all tasks in the roster.</p>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputLevel" translate>Levels</label>
                                    <div class="controls">
                                        <input id="inputLevel" ng-model="condition.__data.levels" name="inputLevel" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputLevel" translate>Task Types</label>
                                    <div class="controls" style="overflow-y:auto;max-height:150px">
                                        <label ng-repeat="t in condition.tasktypes" class="checkbox">
                                            <input ng-model="t.selected" type="checkbox"> {{t.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="actions" style="min-height:200px">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Data</th>
                                <th>
                                    <div class="btn-group">
                                        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
                                            Add
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li ng-click="addConditionAction(a)" ng-repeat="a in rosterconditionactions"><a href="#">{{a.name}}</a></li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in condition.rostereventconditionactions">
                                <td>{{getConditionActionText(a)}}</td>
                                <td>
                                    <roster-condition-action-wrapper rosterconditionactions="rosterconditionactions" ng-model="a"></roster-condition-action-wrapper>
                                </td>
                                <td>
                                    <button ng-click="removeConditionAction(a)" class="btn btn-danger">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        <a ng-click="saveCondition()" href="#" class="btn btn-success" translate>Save</a>
    </div>
</div>