﻿<label class="checkbox">
    <input ng-model="action.__data.enforceevensampling" type="checkbox"> Enforce Even Sampling
</label>
<div ng-show="action.__data.enforceevensampling" class="control-group">
    <label class="control-label" for="inputGroup" translate>Group</label>
    <div class="controls">
        <input id="inputGroup" ng-model="action.__data.evensamplinggroup" name="inputGroup" type="text" />
    </div>
</div>