<md-toolbar class='md-topbar md-hue-4'>
    <div layout='row'>
        <md-toolbar-filler layout='row' layout-align='center center'>
            <h2>Lucifer</h2>
        </md-toolbar-filler>
        <blade-bread-crumbs class='md-toolbar-tools'></blade-bread-crumbs>
    </div>
</md-toolbar>