﻿<div>
    <div id="management" class="container-fluid" ng-controller="teamHierarchyAdminCtrl">
        <div class="row-fluid">
            <div id="roleslist" class="span3">
                <div id="mediatree">
                    <div class="itemlistnav" style="text-align:right;padding:4px;">
                        <button ng-click="newRecord()" class="btn btn-success btn-mini"><i class="icon-plus-sign icon-white"></i></button>
                    </div>
                    <team-hierarchy-sidebar ng-model="records"></team-hierarchy-sidebar>
                </div>
            </div>
            <div class="span9">
                <div class="editorWindow" style="margin-left:-3px;overflow:hidden;clear:right;min-height:400px;">
                    <div class="hero-unit" ng-if="!editing">
                        <h1>Team Hierarchy Administration</h1>
                        This section allows you to administer team hierarchies
                    </div>
                    <div ng-if="editing">
                        <team-hierarchy-editor ng-model="editing"></team-hierarchy-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>