﻿<div id="userlanguage" class="btn-group pull-right" ng-controller="languageTranslateCtrl">
    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown" ng-if="languages.length > 1">
        <i class="icon-globe"></i>
        {{ getCurrentLanguage().languagename }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" ng-if="languages.length > 1">
        <li ng-repeat-start="language in languages">
            <a href="#" ng-click="browserSelectLanguage(language.culturename)"> 
                <div>{{ language.languagename }}</div>
                <div ng-if="language.languagename != language.nativename">{{ language.nativename }}</div>
            </a>
        </li>
        <li class="divider" ng-if="!$last" ng-repeat-end></li>
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        $("#userlanguage .dropdown-toggle").dropdown();
    });
</script>

