﻿<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-cloak>
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8" />
    <title translate>@ViewBag.Title</title>

    <script type="text/javascript">
        window.razordata = {
            deleteurl: '@Url.Action("Delete", "Play", new { Area = "Player"})',
            apiprefix: '@Url.Content("~/API/v1/")',
            siteprefix: '@Url.Content("~/")',
            odataprefix: '/odata/',
            environment: 'desktop'
        };
    </script>


    <!-- precreate ng tags -->
    <!--[if lte IE 8]>
          <script>
              document.createElement('ng-include');
              document.createElement('ng-pluralize');
              document.createElement('ng-view');

              // Optionally these for CSS
              document.createElement('ng:include');
              document.createElement('ng:pluralize');
              document.createElement('ng:view');
          </script>
    <![endif]-->

    @{
        var favIconId = ConceptCave.Repository.GlobalSettingsRepository.GetSetting<Guid?>(ConceptCave.RepositoryInterfaces.Enums.GlobalSettingsConstants.SystemSetting_FavIconId);
        if (favIconId.HasValue)
        {
            <link rel="icon" type="image/png" href="@Url.Content("~/mediaimage/" + favIconId.Value.ToString() + ".png")" />
        }
    }

    @RenderSection("CSS", false)
    @Html.Raw(Url.ThemeCSSBundleUrl())

    @Html.Raw(Url.ThemeJSBundleUrl())

    @{
        var ngAppName = ViewBag.NgAppName;
        if (ngAppName == null)
        {
            ngAppName = "managementapp";
        }
        if (ngAppName != null)
        {
            <script type="text/javascript">
                //Load angular.js when squarekit is ready
                //This needs to be above the squarekit inclusion below
                //document.ready from jquery fires code immedietly if DOMContentLoaded has already fired
                var initcb = function () {
                    $(document).ready(function () {
                            angular.bootstrap(document, ['@ngAppName']);
                    });
                };

                if (!window.SquareIT || !window.SquareIT.Loaded) {
                    $(document).on('SquareITLoaded', initcb);
                } else {
                    initcb();
                }

            </script>
        }
    }
    @RenderSection("Scripts", false)

    <!-- viewport for ipad ~responsive layout -->
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no">

    @{
        var appInsightsKey = System.Configuration.ConfigurationManager.AppSettings["APPINSIGHTS_INSTRUMENTATIONKEY"];
    }
    @if (!string.IsNullOrEmpty(appInsightsKey))
    {
        <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) {
                c[a] = function () {
                    var b = arguments; c.queue.push(function () {
                        c[a].apply(c, b)
                    })
                }
            }
            var c = { config: a }, d = document, e = window;
            setTimeout(function () {
                var b = d.createElement("script");
                b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b)
            }); try {
                c.cookie = d.cookie
            } catch (a) { }
            c.queue = [];
            for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)
                b("track" + f.pop());
            if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) {
                f = "onerror", b("_" + f);
                var g = e[f];
                e[f] = function (a, b, d, e, h) {
                    var i = g && g(a, b, d, e, h);
                    return !0 !== i && c["_" + f](a, b, d, e, h), i
                }
            } return c
        }({
            instrumentationKey: "@appInsightsKey"
            });
        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
        </script>
    }
</head>

<body ng-class="$root.bodyClass">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div id="navlogo" class="brand">&nbsp;</div>

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="nav-collapse collapse">
                    @Html.MvcSiteMap().Menu(false)

                    @if (HttpContext.Current.Request.IsAuthenticated)
                    {
                        @Html.Partial("_LanguageSelect")
                    }
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body">
        @RenderBody()
    </div>
    </body>
</html>
