﻿@if (Request.IsAuthenticated && Request.GetOwinContext().Authentication.User.IsInRole(ConceptCave.Repository.RoleRepository.COREROLE_NAVIGATION))
{
    <div id="useractions" class="btn-group pull-right">
        <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="icon-user"></i>
            @Context.User.Identity.Name
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink("Settings", "Index", "Configure", new { Area = "MySettings" }, new { translate = "" })
            </li>
            <li class="divider"></li>
            <li>
                @Html.ActionLink("Log Off", "LogOff", "Authenticate", new { Area = "" }, new { translate = "" })
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    Version @typeof(ConceptCave.www.MvcApplication).Assembly.GetName().Version.ToString()
                    (
                    @VirtualMgr.Central.MultiTenantManager.CurrentTenant.Profile.Name
                    )
                </a>
            </li>
        </ul>
    </div>
    
    <script type="text/javascript">
        $(function () {
            $("#useractions .dropdown-toggle").dropdown();
        });
    </script>
}
else
{
<!--    <a href="#" id="logon">Log On</a>
    <div id="popup_logon">
    </div>
    <style type="text/css">
    #popup_logon ul
    {
        list-style: none;
    }
    #popup_logon ul li
    {
         margin: 10px;
         padding: 10px
    }
    </style>
    <script type="text/javascript">
        $("#logon").click(function () {
            $("#popup_logon").html("<p>Loading...</p>");
            $("#popup_logon").dialog({ modal: true, draggable: false, resizable: false, title: 'Select your preferred login method' });
            $.ajax({
                url: '@Html.Raw(Url.Action("IdentityProviders", "Account", new { serviceNamespace = "squareit-theproduct-lab", appId = "https://labs_theproduct.squareitsoftware.com/" }))',
                success: function (data) {
                    dialogHtml = '<ul>';
                    for (i = 0; i < data.length; i++) {
                        dialogHtml += '<li>';
                        if (data[i].ImageUrl == '') {
                            dialogHtml += '<a href="' + data[i].LoginUrl + '">' + data[i].Name + '</a>';
                        } else {
                            dialogHtml += '<a href="' + data[i].LoginUrl + '"><img style="border: 0px; width: 100px" src="' + data[i].ImageUrl + '" alt="' + data[i].Name + '" /></a>';
                        }

                        dialogHtml += '</li>';
                    }

                    dialogHtml += '</ul>';

                    $("#popup_logon").html(dialogHtml);
                }
            })
        });
 
    </script> -->
 
}