﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "";
}
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <h2>
            Error
        </h2>
        <p>An error has occurred while attempting process your request. If the problem persists please contact an administrator.</p>
    </body>
</html>
