﻿@model ConceptCave.www.Models.FileUploadModel

@{
    var uniqueId = Guid.NewGuid().ToString();

    var clickElementId = "upload" + uniqueId;
    if(string.IsNullOrEmpty(Model.ActivateOnElementIdClicked) == false)
    {
        clickElementId = Model.ActivateOnElementIdClicked;
    }

    var postValues = string.Empty;
    Dictionary<string, string> jsonValues = new Dictionary<string, string>();
    
    foreach (var hidden in Model.HiddenFields)
    {
        postValues += string.Format("{0}={1}&", hidden.Name, hidden.Value);
        jsonValues[hidden.Name] = hidden.Value;
    }
    postValues = postValues.TrimEnd('&');

    postValues = Server.UrlEncode(postValues);

    var jsonString = Json.Encode(jsonValues);
    
    var mediaTypes = "";
    if (Model.AllowImage)
    {
        mediaTypes += "Image";
    }
    if (Model.AllowVideo)
    {
        if (mediaTypes.Length > 0)
        {
            mediaTypes += @"/";
        }
        mediaTypes += "Video";
    }
    if (Model.AllowAudio)
    {
        if (mediaTypes.Length > 0)
        {
            mediaTypes += @"/";
        }
        mediaTypes += "Audio";
    }        
}

<button class="@(string.IsNullOrEmpty(Model.ButtonClass) == true ? "btn" : Model.ButtonClass)" style="display:@(Model.ShowButton == true ? "inherit" : "none")" id="upload@(uniqueId)">@Html.Raw(string.IsNullOrEmpty(Model.ButtonTitle) == true ? Model.Title : Model.ButtonTitle)</button>

<div id="modaldialog@(uniqueId)" class="fileupload modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>@Model.Title</h3>
    </div>
    @using (Html.BeginForm(Model.Action, Model.Controller, new { Area = Model.Area }, FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
        foreach (var hidden in Model.HiddenFields)
        { 
            <input type="hidden" name="@hidden.Name" value="@hidden.Value" />
        }
        <div class="modal-body">
            @if(Model.ShowNameEditor == true)
            {
                @Html.LabelFor(m => m.Name, new { translate = "" })
                @Html.EditorFor(m => m.Name)
            }
            else
            {
                <input type="hidden" name="Name" value="" />
            }
            @if(Model.ShowDescriptionEditor == true)
            {
                @Html.LabelFor(m => m.Description, new { translate = "" })
                @Html.EditorFor(m => m.Description, "MultilineText")
            }
            else
            {
                <input type="hidden" name="Description" value="" />
            }
            
            @Microsoft.Web.Helpers.FileUpload.GetHtml(initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, includeFormTag: false, addText: "Select File", uploadText: "Upload File")
            
            <input type="hidden" id="fileUploadScaledData@(uniqueId)" name="fileUploadScaledData" />
            <input type="hidden" id="fileUploadScaledName@(uniqueId)" name="fileUploadScaledName" />

            <register-translations>
                <this-is-just-a-preview-of-the-image>
                    This is just a preview of the image, it has <strong>not</strong> been uploaded to the server yet. You may rotate the image using the rotate control. Once you have finished click the upload button.
                </this-is-just-a-preview-of-the-image>
            </register-translations>
            <div id="previews@(uniqueId)" style="display:none">
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span12">
                            <div class="thumbnail">
                                <div id="canvasContainer@(uniqueId)"></div>
                                <p><a id="rotateLeft@(uniqueId)" class="btn btn-inverse" href="#" translate>Rotate</a></p>
                                <div class="caption">
                                    <h3 translate>Preview</h3>
                                    <p translate>this-is-just-a-preview-of-the-image</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div id="responsecontent"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
            <a href="#" class="btn btn-primary" translate>Upload</a>
        </div>
    }
</div>

<script type="text/javascript">
    function updateMediaCallback(modalid) {
        $("#" + modalid).modal('hide');
        $("#" + modalid).trigger('uploadcompleted', null);
    }

    $(function() {
        SquareIT.AfterInitialise(
            function () {
                @if (string.IsNullOrEmpty(Model.IOSCallbackUrl) == false)
                {
                    string callbackUrl = Model.IOSCallbackUrl.Replace("localhost", "10.0.0.58");
                    callbackUrl += string.Format("/{0}", "modaldialog" + uniqueId);

                <text>
                window.name = "bworkflow";

                if (SquareIT != undefined && SquareIT.UploadMedia != undefined)
                {
                    var imageOptions = {
                        postBackUrl: '@(Url.ToFullyQualifiedUrl(string.Format("~/{0}/{1}/{2}", Model.Area, Model.Controller, Model.Action)))', 
                        postValues: @Html.Raw(jsonString)
                        @if (Model.MaxWidth.HasValue)
                        {
                            <text>,maxWidth: @Model.MaxWidth.Value</text> }
                        @if (Model.MaxHeight.HasValue)
                        {
                            <text>,maxHeight: @Model.MaxHeight.Value</text> }
                        ,keepAspect: @Model.KeepAspect.ToString().ToLower()
                        ,allowImage: @Model.AllowImage.ToString().ToLower()
                        ,allowVideo: @Model.AllowVideo.ToString().ToLower()
                        ,allowAudio: @Model.AllowAudio.ToString().ToLower()
                        ,mediaSource: 1
                    };

                    var input = $('#modaldialog@(uniqueId) input[type="file"]')[0];
                    input.type = 'button';
                    input.class = 'btn btn-inverse';
                    input.value = 'Take @mediaTypes ...';
                    input.onclick = function()
                    {
                        SquareIT.UploadMedia(imageOptions,
                            function(result)
                            {
                                if(result.success == true)
                                {
                                    updateMediaCallback('@(string.Format("{0}", "modaldialog" + uniqueId))');
                                }
                                else
                                {
                                    alert($ng_translate.instant('The following error was encountered: {{ error }}', new { error: result.exception }));
                                }
                            }); 
                    };
                    $(input).css('display', 'none');

                    var input2 = $(input).after('<input id="choosemedia@(uniqueId)" type="button" class="btn btn-inverse" value="Take @mediaTypes ..."/>');
                    $(document).on('click', "#choosemedia@(uniqueId)", function()
                    {
                        SquareIT.UploadMedia(imageOptions,
                            function(result)
                            {
                                updateMediaCallback('@(string.Format("{0}", "modaldialog" + uniqueId))');
                            }); 
                    });
                }
/*                else if (Picup.isMobileSafari() == true) {
                    $("#uploadnotesattachment").css('display', 'none');

                    var currentParams = {
                        'postURL': '@(Url.ToFullyQualifiedUrl(string.Format("~/{0}/{1}/{2}", Model.Area, Model.Controller, Model.Action)))',
                        'postValues': '@postValues',
                        'postImageParam': 'fileUpload',
                        'callbackURL': '@callbackUrl',
                        'referrername': escape('b-workflow'),
                        'referrerfavicon': escape('http://picupapp.com/favicon.ico'),
                        'purpose': escape('Select an image to upload to bworkflow'),
                        'debug': 'true'
                    };

                    Picup.convertFileInput($('#modaldialog@(uniqueId) input[type="file"]')[0], currentParams);
                }*/
                </text>
                }

                $("#@(clickElementId)").click(function () {
                    $("#modaldialog@(uniqueId)").modal();

                    return false;
                });

                var MAX_WIDTH = @(Model.MaxWidth.HasValue ? Model.MaxWidth.ToString() : "-1");
                var MAX_HEIGHT = @(Model.MaxHeight.HasValue ? Model.MaxHeight.ToString() : "-1");

                if (window.File && window.FileReader && window.FileList && window.Blob && (SquareIT == undefined || SquareIT.UploadMedia == undefined)) 
                {
                    var fileExtension = function(filename) {
                        var a = filename.split('.');
                        if( a.length == 1 || ( a[0] = "" && a.length == 2 ) ) {
                            return "";
                        }
                        return a.pop().toLowerCase();
                    };

                    var createCanvas = function(file, width, height, callback)
                    {
                        var reader = new FileReader();

                        reader.onloadend = function() {
                            var tempImg = new Image();
                            tempImg.src = reader.result;
                            tempImg.onload = function() {
                                var tempW = tempImg.width;
                                var tempH = tempImg.height;
                                if (tempW > tempH) {
                                    if (tempW > width) {
                                        tempH *= width / tempW;
                                        tempW = width;
                                    }
                                } else {
                                    if (tempH > height) {
                                        tempW *= height / tempH;
                                        tempH = height;
                                    }
                                }

                                var canvas = document.createElement('canvas');
                                canvas.width = tempW;
                                canvas.height = tempH;
                                var ctx = canvas.getContext("2d");
                                ctx.drawImage(this, 0, 0, tempW, tempH);
                                var dataURL = canvas.toDataURL("image/jpeg");

                                if(callback)
                                {
                                    callback(canvas);
                                }
                            };
                        };

                        reader.readAsDataURL(file);
                    };

                    var imageFileExtensions = "jpg png gif".split(' ');

                    $("input[type='file']").change(function() {
                        var files = this.files;

                        var canvasContainer = $("#canvasContainer@(uniqueId)");

                        // clear out any previous previews
                        canvasContainer.html("");      

                        $.each(files, function(index, value) {
                            if($.inArray(fileExtension(value.name), imageFileExtensions) != -1)
                            {
                                createCanvas(value, 200, 100, function(canvas) {
                                    canvasContainer.append(canvas);

                                    if(MAX_WIDTH != -1 || MAX_HEIGHT != -1)
                                    {
                                        // lets create a canvas who's result is what the server wants
                                        createCanvas(value, MAX_WIDTH, MAX_HEIGHT, function(uploadCanvas) {

                                            $("#fileUploadScaledName@(uniqueId)").val(value.name);
                                            $("#fileUploadScaledData@(uniqueId)").val(uploadCanvas.toDataURL("image/jpeg"));
                                            $("#fileUploadScaledData@(uniqueId)").data('canvas', uploadCanvas);
                                            $("#previews@(uniqueId)").slideDown();
                                        });
                                    }
                                });
                            }
                        });
                    });
                }

                function drawRotated(degrees, canvas){
                    var ctx = canvas.getContext('2d');

                    var image = new Image();
                    image.src = canvas.toDataURL("image/jpeg");

                    w = canvas.width;
                    h = canvas.height;

                    canvas.width = h;
                    canvas.height = w;

                    ctx.clearRect(0,0,canvas.width,canvas.height);
                    ctx.save();
                    ctx.translate(canvas.width, 0);
                    ctx.rotate(degrees*Math.PI/180);
                    ctx.drawImage(image,0, 0);
                    ctx.restore();
                }

                $("#rotateLeft@(uniqueId)").click(function() {
                    var preview = $("#canvasContainer@(uniqueId) canvas")[0];
                    var angle = $("#canvasContainer@(uniqueId)").data("angle");

                    drawRotated(90, preview);

                    // now do that to our actual image that we are going to send to the server
                    var uploadCanvas = $("#fileUploadScaledData@(uniqueId)").data('canvas');
                    drawRotated(90, uploadCanvas);
                    $("#fileUploadScaledData@(uniqueId)").val(uploadCanvas.toDataURL("image/jpeg"));
                });

                var manipulateUploadData = function() {
                    if($("#fileUploadScaledName@(uniqueId)").val() == '')
                    {
                        return;
                    }

                    // ok there is a scaled image, so we'll clear the unscaled one
                    var fileInput = $("input[type='file']");
                    // ok this is a trick taken from http://stackoverflow.com/questions/1043957/clearing-input-type-file-using-jquery which
                    // wraps the element in a form tag, clears it and then unwraps it.
                    fileInput.wrap('<form>').closest('form').get(0).reset();
                    fileInput.unwrap();
                };

                @if (Model.AjaxSubmit == false)
                {
                <text>
                $("#modaldialog@(uniqueId) .modal-footer .btn-primary").click(function () {
                    manipulateUploadData();
                    $("#responsecontent").html("");
                    $("#modaldialog@(uniqueId) form").submit();
                });
                </text>
                }
                else
                {
                <text>
                $("#modaldialog@(uniqueId) .modal-footer .btn-primary").click(function () {
                    $("#upload@(uniqueId)").trigger("beforeupload");

                    var options = {
                        success: function(responseText)
                        {
                            @if(Model.ShowAjaxResponseInDialog == false)
                            {
                                <text>$("#modaldialog@(uniqueId)").modal('hide');</text>
                            }
                            else
                            {
                                <text>$("#responsecontent").html(responseText)</text>
                            }

                            $("#@(clickElementId)").trigger("uploadcompleted", responseText);
                        }
                    };
                    manipulateUploadData();
                    $("#modaldialog@(uniqueId) form").ajaxSubmit(options);
                });
                </text>
            }
      })});
</script>