﻿@model ConceptCave.www.Models.LanguageLocalisableStringModel

@{
    var uniqueId = Guid.NewGuid().ToString();
}

<label>@Model.DisplayName</label>
<ul id="@uniqueId" class="nav nav-pills">
@{
    foreach (var language in Model.Languages)
    {
        <li class='@(language.CultureName == "en" ? "active" : "")'><a href="#tab-@uniqueId-@(language.CultureName)" data-toggle="tab">@(language.LanguageName)</a></li>
    }
}
</ul>
<div class="tab-content">
@{
    var i = 0;
    foreach (var language in Model.Languages)
    {
        <div class='tab-pane @(language.CultureName == "en" ? "active" : "")' id="tab-@uniqueId-@(language.CultureName)" style="overflow:hidden">
            <input type="hidden" name="@(Model.Name)[@(i)].Key" value="@(language.CultureName)"/>
            <textarea id="@uniqueId-@(language.CultureName)" style="width:95%" rows="4" cols="40" name="@(Model.Name)[@(i)].Value" ng-non-bindable>@(Model.LocalisableString.GetCultureValue(language.CultureName))</textarea>
        </div>
        i++;
    }
}
</div>