﻿@model System.Web.Mvc.HandleErrorInfo
@{
    int windowSize = 3;
    
    ConceptCave.Checklist.Lingo.LingoException exception = (ConceptCave.Checklist.Lingo.LingoException)Model.Exception;
}

<div>
    <h1 class="muted">Lingo Exception</h1>

    <h2 class="text-error">@Model.Exception.Message</h2>
</div>

@if (exception.Program != null)
{
    @Html.Partial("LingoExceptionRuntime", exception)
}
else
{
    @Html.Partial("LingoExceptionCompiletime", exception)
}