﻿@model ConceptCave.Checklist.Lingo.LingoException
@{
    int windowSize = 3;

    ViewBag.Title = string.Format("Lingo Exception: {0}", Model.Message);
}

@foreach (var item in Model.ParserMessages)
{
    string[] lines = Model.ProgramDefinition.SourceCode.Split('\n');
    int index = item.Location.Line - windowSize;
    if (index < 0)
    {
        index = 0;
    }

    List<string> before = new List<string>();
    for (var i = index; i < item.Location.Line; i++)
    {
        before.Add(lines[i]);
    }

    index = item.Location.Line + windowSize + 1;
    if (index >= lines.Length)
    {
        index = lines.Length - 1;
    }

    List<string> after = new List<string>();
    for (var i = item.Location.Line + 1; i < index; i++)
    {
        after.Add(lines[i]);
    }

    <div class="alert">
        <h1>@item.Message</h1>
        <h3>Source</h3>
        @{
            int counter = item.Location.Line - windowSize;
        
            foreach(var l in before)
            {
                <div class="row-fluid">
                    <div class="span4">Line @(counter + 1)</div>
                    <div class-"span8">@l</div>
                </div>
                counter++;
            }
        }
        <div class="row-fluid">
            <div class="span4" style="color:red;">Line @(item.Location.Line + 1)</div>
            <div class-"span8" style="color:red;">@lines[item.Location.Line]</div>
        </div>
        @{
            counter = item.Location.Line + 1;
        
            foreach(var l in before)
            {
                <div class="row-fluid">
                    <div class="span4">Line @(counter + 1)</div>
                    <div class-"span8">@l</div>
                </div>
                counter++;
            }
        }
    </div>
}
