﻿@model ConceptCave.Checklist.Lingo.LingoException
@{
    int windowSize = 3;
    
    var variables = ((ConceptCave.Checklist.Lingo.VariableBag)Model.Program.WorkingDocument.Variables).Items;

    var userVariables = (from v in variables where v.Value.Name.StartsWith(".") == false orderby v.Value.Name select v.Value );
    var programVariables = (from v in variables where v.Value.Name.StartsWith(".") == true orderby v.Value.Name select v.Value);

    ViewBag.Title = string.Format("Lingo Exception: {0}", Model.Message);

    string[] lines = Model.Program.ProgramDefinition.SourceCode.Split('\n');
    int index = Model.Ast.Location.Line - windowSize;
    if (index < 0)
    {
        index = 0;
    }

    List<string> before = new List<string>();
    for (var i = index; i < Model.Ast.Location.Line; i++)
    {
        before.Add(lines[i]);
    }

    index = Model.Ast.Location.Line + windowSize + 1;
    if (index >= lines.Length)
    {
        index = lines.Length - 1;
    }

    List<string> after = new List<string>();
    for (var i = Model.Ast.Location.Line + 1; i < index; i++)
    {
        after.Add(lines[i]);
    }
}
<div class="alert">
    <h3>Source</h3>
    @{
        int counter = Model.Ast.Location.Line - windowSize;
        
        foreach(var l in before)
        {
            <div class="row-fluid">
                <div class="span4">Line @(counter + 1)</div>
                <div class-"span8">@l</div>
            </div>
            counter++;
        }
    }
    <div class="row-fluid">
        <div class="span4" style="color:red;">Line @(Model.Ast.Location.Line + 1)</div>
        <div class-"span8" style="color:red;">@lines[Model.Ast.Location.Line]</div>
    </div>
    @{
        counter = Model.Ast.Location.Line + 1;
        
        foreach(var l in before)
        {
            <div class="row-fluid">
                <div class="span4">Line @(counter + 1)</div>
                <div class-"span8">@l</div>
            </div>
            counter++;
        }
    }
</div>

<div>
    <h3>User Variables</h3>
    @{int conter = 0;}
    @foreach (var v in userVariables)
    {
        <div class="accordion" id="accordion@(conter)">
            @RenderVariable(v, conter)
        </div>
        conter++;
    }
</div>

@helper RenderVariable(ConceptCave.Checklist.Interfaces.IVariable variable, int id)
{
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion@(id)" href="#collapse@(id)">
            <h5>@variable.Name</h5>
            </a>
        </div>
        <div id="collapse@(id)" class="accordion-body collapse">
            <div class="accordion-inner">
            @RenderVariableValue(variable.ObjectValue)
            </div>
        </div>
    </div>
}

@helper RenderVariableValue(object value)
{
    if (value is ConceptCave.Checklist.Lingo.ObjectProviders.DictionaryObjectProvider)
    {
        <td>@RenderDictionaryProviderVariable((ConceptCave.Checklist.Lingo.ObjectProviders.DictionaryObjectProvider)value)</td>
    }    
    else if(value is ConceptCave.Checklist.Lingo.ObjectProviders.ListObjectProvider)
    {
        <td>@RenderListProviderVariable((ConceptCave.Checklist.Lingo.ObjectProviders.ListObjectProvider)value)</td>
    }
    else
    {
        <td>@value</td>
    }
}

@helper RenderDictionaryProviderVariable(ConceptCave.Checklist.Lingo.ObjectProviders.DictionaryObjectProvider variable)
{
    <table class="table table-striped table-bordered">
    @foreach(var entry in variable.Dictionary)
    {
        <tr>
            <td>@entry.Key</td>
            <td>@RenderVariableValue(entry.Value)</td>
        </tr>
    }
    </table>
}

@helper RenderListProviderVariable(ConceptCave.Checklist.Lingo.ObjectProviders.ListObjectProvider variable)
{
    int i = 1;
    <table class="table table-striped table-bordered">
    @foreach(var entry in variable)
    {
        <tr>
            <td>item at @i</td>
            <td>@RenderVariableValue(entry)</td>
        </tr>
        i++;
    }
    </table>
}
