﻿@model ConceptCave.www.Models.RenderSelectedLabelsModel

@foreach (var l in Model.SelectedLabels)
{
    <div class="labeltag label" style="background-color:@(l.BackColor);color:@(l.ForeColor)">@l.Name</div>
}
<div class="clear" style="height:1px">&nbsp;</div>