﻿@model ConceptCave.www.Models.SelectMultipleLabelsModel
@{
    var uniqueId = Guid.NewGuid().ToString();
}
<div id="@uniqueId">
    @foreach (var a in Model.AvailableLabels)
    {
        <div class="labeltag label" style="background-color:@(a.BackColor);color:@(a.ForeColor)"><input class="{id:'@a.Id'}" type="checkbox" name="@Model.FormElementName" value="@a.Id" @((from m in Model.SelectedLabels where m.Id == a.Id select m).Count() > 0 ? "checked" : "") />&nbsp;@a.Name</div>
    }
</div>

<script type="text/javascript">
    $(function () {

        $("#@uniqueId input").click(function () {
            var data = { id: $(this).metadata().id, selected: $(this).prop("checked"), element: $(this).parent() };
            $("#@uniqueId").trigger("labelselected", data);
        });
    });
</script>