﻿@model ConceptCave.www.Models.SelectMultipleMediaModel

@{ Guid uniqueId = Guid.NewGuid(); }

<div class="control-group">
	<label class="control-label" for="mediasearch@(uniqueId)" translate>Media</label>
    <div class="controls">
        <div class="input-append">
	        <input type="text" id="mediasearch@(uniqueId)" /><button id="btn@(uniqueId)" class="btn" type="button" translate>Add</button>
        </div>
    </div>
</div>

<div class="itemlistnav">
    <h4 style="float:left" translate>Selected Media</h4>
    <button id="removeitem@(uniqueId)" class="btn btn-danger btn-mini pull-right"><i class="icon-trash icon-white"></i></button>
    <button id="refreshtem@(uniqueId)" class="btn btn-warning btn-mini pull-right"><i class="icon-refresh icon-white"></i></button>
    <div class="clear" style="height:1px">&nbsp;</div>
</div>

<ol id="@uniqueId" class="nav nav-pills nav-stacked">
    @foreach (var i in Model.Items)
    {
        <li id="media@(i.Id)">
        @Html.Partial("RenderSelectMultipleMediaListItem", i)
        </li>
    }
</ol>

<script type="text/javascript">
    $(function () {
        $(document).off('click', "#@uniqueId li");
        $(document).on('click', "#@uniqueId li a", function () {
            var selected = $("#@uniqueId").data('selected');
            if (selected != undefined) {
                $(selected).parent().removeClass("active");
            }

            var parent = $(this).parent();

            $("#@uniqueId").data('selected', this);
            parent.addClass('active');
        });

        $("#removeitem@(uniqueId)").click(function () {
            var selected = $("#@uniqueId").data('selected');
            if (selected == undefined) {
                return false;
            }

            if (confirm('Are you sure you want to remove this media')) {
                $(selected).trigger('itemdeleted', $(selected).metadata());
            }

            return false;
        });

        $("#refreshtem@(uniqueId)").click(function () {
            var selected = $("#@uniqueId").data('selected');
            if (selected == undefined) {
                return false;
            }

            if (confirm('Are you sure you want to refresh this media')) {
                $(selected).trigger('itemrefreshed', $(selected).metadata());
            }

            return false;
        });

        $(document).on("click", "#btn@(uniqueId)", function (event) {
            var data = $("#mediasearch@(uniqueId)").data('source');
            var selection = $("#mediasearch@(uniqueId)").val();

            var item = $.grep(data, function (element, index) {
                return element.Name == selection;
            });

            item = item[0];

            var data = {
                mediaid: item.Id,
                additem: function (content) {
                    $('<li id="media' + item.Id + '">' + content + '</li>').appendTo("#@uniqueId");
                    $("#mediasearch@(uniqueId)").val("");
                }
            };

            $("#@uniqueId").trigger("itemadded", data);
        });

        $("#mediasearch@(uniqueId)").typeahead({
            ajax: {
                url: '@Model.SearchMediaUrl',
                displayField: "Name",
                triggerLength: 2,
                preProcess: function (data) {
                    $("#mediasearch@(uniqueId)").data('source', data);
                    return data;
                }
            }
        });
    })
</script>