﻿@model ConceptCave.www.Models.SelectMultipleChecklistsModel

@{ 
    Guid uniqueId = Guid.NewGuid(); 


    var searchUrl = UrlHelper.GenerateContentUrl("~/SearchChecklist/Index", this.Context);
    if (this.ViewBag.SearchUrl != null)
    {
        searchUrl = this.ViewBag.SearchUrl;
    }       
}

<div class="control-group">
	<label class="control-label" for="checklistsearch@(uniqueId)" translate>Checklist</label>
    <div class="controls">
        <div class="input-append">
	        <input type="text" id="checklistsearch@(uniqueId)" /><button id="btn@(uniqueId)" class="btn" type="button" translate>add</button>
        </div>
    </div>
</div>

@if (Model.RenderList == true)
{
<div class="itemlistnav">
    <h4 style="float:left">Selected Checklists</h4>
    <button id="removeitem@(uniqueId)" class="btn btn-danger btn-mini pull-right"><i class="icon-trash icon-white"></i></button>
    <button id="refreshtem@(uniqueId)" class="btn btn-warning btn-mini pull-right"><i class="icon-refresh icon-white"></i></button>
    <div class="clear" style="height:1px">&nbsp;</div>
</div>

<ol id="@uniqueId" class="nav nav-pills nav-stacked">
    @foreach (var i in Model.Items)
    {
        <li id="checklist@(i.Id)">
        @Html.Partial("RenderSelectMultipleChecklistsListItem", i)
        </li>
    }
</ol>
}
else
{
    <div id="@uniqueId" style="display:none">&nbsp;</div>
}

<script type="text/javascript">
    $(function () {
    @if(Model.RenderList == true)
    {
        <text>
        $(document).on('click', "#@uniqueId li");
        $(document).on('click', "#@uniqueId li a", function () {
            var selected = $("#@uniqueId").data('selected');
            if (selected != undefined) {
                $(selected).parent().removeClass("active");
            }

            var parent = $(this).parent();

            $("#@uniqueId").data('selected', this);
            parent.addClass('active');
        });

        $("#removeitem@(uniqueId)").click(function () {
            var selected = $("#@uniqueId").data('selected');
            if (selected == undefined) {
                return false;
            }

            if (confirm('Are you sure you want to remove this checklist')) {
                $(selected).trigger('itemdeleted', $(selected).metadata());
            }

            return false;
        });

        $("#refreshtem@(uniqueId)").click(function () {
            var selected = $("#@uniqueId").data('selected');
            if (selected == undefined) {
                return false;
            }

            if (confirm('Are you sure you want to refresh this checklist')) {
                $(selected).trigger('itemrefreshed', $(selected).metadata());
            }

            return false;
        });
        </text>
    }

        $("#checklistsearch@(uniqueId)").on("typeahead:selected", function (event, suggestion, dataset) {
            var data = {
                checklistid: suggestion.Id,
                additem: function (content) {
                    $('<li id="checklist' + suggestion.Id + '">' + content + '</li>').appendTo("#@uniqueId");
                    $("#checklistsearch@(uniqueId)").typeahead("val", "");
                }
            };

            $("#@uniqueId").trigger("itemadded", data);
            event.stopPropagation();
        });

        var checklists = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '@searchUrl?query=%QUERY'
        });

        checklists.initialize();

        $("#checklistsearch@(uniqueId)").typeahead(null, {name:'checklists', displayKey:'Name', source:checklists.ttAdapter() });
    })
</script>