﻿@model ConceptCave.www.Models.SelectMultipleUsersModel

@{ 
    Guid uniqueId = Guid.NewGuid();

    var searchUrl = UrlHelper.GenerateContentUrl("~/SearchUser/Index", this.Context);
    if (this.ViewBag.SearchUrl != null)
    {
        searchUrl = this.ViewBag.SearchUrl;
    }
    var labeltext = ViewBag.UserSelectLabel ?? "Users";
    var headingtext = ViewBag.UserSelectHeading ?? "Selected Reviewers";  
}

<div class="control-group">
	<label class="control-label" for="usersearch@(uniqueId)">@labeltext</label>
    <div class="controls">
        <div class="input-append">
	        <input  type="text" id="usersearch@(uniqueId)" /><button id="btn@(uniqueId)" class="btn" type="button" translate>add</button>
        </div>
    </div>
</div>

<div class="itemlistnav">
    <h4 style="float:left">@headingtext</h4>
    <button id="removeitem@(uniqueId)" class="btn btn-danger btn-mini" style="float:right"><i class="icon-trash icon-white"></i></button>
    <div class="clear" style="height:1px">&nbsp;</div>
</div>

<ul id="@uniqueId" class="nav nav-pills nav-stacked">
    @foreach (var i in Model.Items)
    {
        <li id="user@(i.Id)">
        @Html.Partial("RenderSelectMultipleUsersListItem", i)
        </li>
    }
</ul>

<script type="text/javascript">
    $(function () {
        $(document).off('click', "#@uniqueId li");
        $(document).on('click', "#@uniqueId li a", function () {
            var selected = $("#@uniqueId").data('selected');
            if (selected != undefined) {
                $(selected).parent().removeClass("active");
            }

            var parent = $(this).parent();

            $("#@uniqueId").data('selected', this);
            parent.addClass('active');
        });

        $("#removeitem@(uniqueId)").click(function () {
            var selected = $("#@uniqueId").data('selected');
            if (selected == undefined) {
                return false;
            }

            if (confirm('Are you sure you want to remove this user')) {
                $(selected).trigger('itemdeleted', $(selected).metadata());
            }

            return false;
        });

        $("#usersearch@(uniqueId)").on("typeahead:selected", function (event, suggestion, dataset) {
            var data = {
                userid: suggestion.Id,
                name: suggestion.Name,
                additem: function (content) {
                    $('<li id="user' + suggestion.Id + '">' + content + '</li>').appendTo("#@uniqueId");
                    $("#usersearch@(uniqueId)").typeahead("val", "");
                },
                defaultContent: '<a href="#" class="{userid: \'' + suggestion.Id + '\', containerId: \'user' +
                    suggestion.Id + '\'}" >' + suggestion.Name + '</a>'
            };

            $("#@uniqueId").trigger("itemadded", data);
            event.stopPropagation();
        });

        var users = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '@searchUrl?query=%QUERY'
                });

        users.initialize();

        $("#usersearch@(uniqueId)").typeahead(null, { name: 'users', displayKey: 'Name', source: users.ttAdapter() });

    })
</script>