﻿@model ConceptCave.www.Models.SelectMultiplePublishedChecklists
@{
    this.Layout = null;
}

<div>
    @foreach (var g in Model.Groups)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@g.Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in g.Items)
                {
                    bool selected = (from s in Model.SelectedPublishedChecklists where s == i.Id select s).Count() > 0;
                    <tr>
                        <td><label class="checkbox"><input type="checkbox" @(selected == true ? "checked" : "") name="@Model.FieldName" value="@i.Id" />@i.Name</label></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>