﻿@model ConceptCave.www.Models.SelectMultipleStatussesModel
@{
    var uniqueId = Guid.NewGuid().ToString();
}
<div id="@uniqueId">
    @foreach (var a in Model.AvailableStatusses)
    {
        <div class="labeltag label"><input class="{id:'@a.Id'}" type="checkbox" name="@Model.FormElementName" value="@a.Id" @((from m in Model.SelectedStatusses where m.Id == a.Id select m).Count() > 0 ? "checked" : "") />&nbsp;@a.Text</div>
    }
</div>

<script type="text/javascript">
    $(function () {

        $("#@uniqueId input").click(function () {
            var data = { id: $(this).metadata().id, selected: $(this).prop("checked"), element: $(this).parent() };
            $("#@uniqueId").trigger("statusselected", data);
        });
    });
</script>