<div flex layout='row' layout-align='center center' ng-style='{ height: $ctrl.height, width: $ctrl.width }'
    width='{{ $ctrl.height }}' height='{{ $ctrl.height }}'>
    <img height='{{ $ctrl.height }}' width='{{ $ctrl.width }}' ng-show='!$ctrl.loading' crossorigin="anonymous" />
    <div ng-if='$ctrl.loading'>
        <md-icon md-font-set='fas' md-font-icon='fa-spinner fa-spin fa-lg' />
    </div>
</div>