﻿<register-translations>
    <edit-language-name>Edit: <span ng-bind="language.name"/></edit-language-name>
</register-translations>
<form name="editor">
    <legend translate>edit-language-name</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li tabify><a href="#translations" data-toggle="tab" translate>Translations</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="control-group" ng-class="{error: editor.languagename.$invalid && editor.languagename.$pristine == false}">
                    <label class="control-label" for="languageName" translate>English Name</label>
                    <div class="controls">
                        <input type="text" id="languagename" name="languagename" required ng-model="language.languagename" placeholder="Language Name"><span ng-if="editor.languagename.$invalid && editor.languagename.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                    <label class="control-label" for="nativeName" translate>Native Name</label>
                    <div class="controls">
                        <input type="text" id="nativename" name="nativename" required ng-model="language.nativename" placeholder="Native Name"><span ng-if="editor.nativename.$invalid && editor.nativename.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                    <label class="control-label" for="culturename" translate>Culture Name</label>
                    <div class="controls">
                        <input type="text" id="culturename" name="culturename" required ng-model="language.culturename" placeholder="Culture Name (eg English=en)"><span ng-if="editor.culturename.$invalid && editor.culturename.$pristine == false" class="help-inline" translate>This field is mandatory</span>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="translations">
                <div class="row-fluid">
                    <div class="span5">
                        <label translate>Filter</label>
                        <input type="text" ng-model="textFilter" style="width:100%"/>
                    </div>
                    <div class="span7">
                        <label translate>Filter by</label>
                        <ul class="nav nav-pills">
                            <li ng-repeat="f in filters" ng-class="{ active: filter == f }">
                                <a href="#" ng-click="setFilter(f)" >{{ f.name | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Translation Id</th>
                            <th>English</th>
                            <th></th>
                            <th>{{ language.languagename }} - {{ language.nativename }}</th>
                        </tr>
                    </thead>
                    <tr dir-paginate="translation in language.translations | filter: textFilter | filter: filter.filterFn() | itemsPerPage: itemsPerPage">
                        <td style="width: 20%">{{ translation.translationid }}</td>
                        <td style="width: 35%">{{ translation.englishtext }}</td>
                        <td style="width: 10%">
                            <button class="btn btn-success btn-mini" type="button" ng-if="!translation.isTranslated()" ng-click="translation.save(true)"><i class="icon-ok"></i></button>
                            <button class="btn btn-danger btn-mini" type="button" ng-if="translation.isTranslated()" ng-click="translation.delete()"><i class="icon-remove"></i></button>
                        </td>
                        <td style="width: 35%">
                            <textarea elastic ng-model="translation.nativetext" ng-blur="translation.save()" style="width:100%; margin: 0px; padding: 0px; border: 0px"/>
                        </td>
                    </tr>
                </table>
                <div class="row-fluid">
                    <span class="span8">
                        <dir-pagination-controls boundary-links="true" class="ng-isolate-scope"></dir-pagination-controls>
                    </span>
                    <span class="span4">
                        <label translate>Items per page</label>
                        <select ng-options="ipp for ipp in itemsPerPageList" ng-model="itemsPerPage"></select>
                    </span>
                </div>
                <button class="btn btn-success" type="button" ng-click="autoTranslate(language)" translate>Auto Translate</button>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit" translate>Save changes</button>
</div>