﻿<ul class="nav nav-tabs nav-stacked">
    <li ng-repeat="language in languages" ng-click="editLanguage(language)">
        <a href="">
            <div>{{ language.languagename }}</div>
            <div>{{ language.nativename }}</div>
        </a>
    </li>
</ul>