﻿<form name="editor"> 
    <legend>Edit: {{type.name}}</legend>
    <fieldset>
        <ul class="nav nav-tabs" id="filetab">
            <li tabify><a href="#general" data-toggle="tab" translate>General</a></li>
            <li><a href="#resources" data-toggle="tab" translate>Workflows</a></li>
            <li><a href="#documentation" data-toggle="tab" translate>Documentation</a></li>
            <li><a href="#status" data-toggle="tab" translate>Statuses</a></li>
            <li><a href="#finishedstatus" data-toggle="tab" translate>Finished</a></li>
            <li><a href="#relationships" data-toggle="tab" translate>Relationships</a></li>
            <li><a href="#estimatedduration" data-toggle="tab" translate>Duration</a></li>
            <li><a href="#sitetypes" data-toggle="tab" translate>Site Types</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group" ng-class="{error: editor.inputName.$invalid && editor.inputName.$pristine == false}">
                            <label class="control-label" for="inputName" translate>Name</label>
                            <div class="controls">
                                <input type="text" id="inputName" name="inputName" required ng-model="type.name" placeholder="Name"><span ng-if="editor.inputName.$invalid && editor.inputName.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{error: editor.inputUIType.$invalid && editor.inputUIType.$pristine == false}">
                            <label class="control-label" for="inputUIType" translate>Present As</label>
                            <div class="controls">
                                <select id="inputUIType" name="inputUIType" ng-options="i.id as i.name for i in interfacetypes" required ng-model="type.userinterfacetype"></select><span ng-if="editor.inputUIType.$invalid && editor.inputUIType.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{error: editor.inputDefaultLength.$invalid && editor.inputDefaultLength.$pristine == false}">
                            <label class="control-label" for="inputUIType" translate>Default Length in Days</label>
                            <div class="controls">
                                <input type="text" id="inputDefaultLength" name="inputDefaultLength" required ng-model="type.defaultlengthindays" placeholder="Default Length"><span ng-if="editor.inputDefaultLength.$invalid && editor.inputDefaultLength.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{error: editor.inputPhoto.$invalid && editor.inputPhoto.$pristine == false}">
                            <label class="control-label" for="inputPhoto" translate>Photo Support</label>
                            <div class="controls">
                                <select id="inputPhoto" name="inputPhoto" ng-options="i.id as i.name for i in photosupports" required ng-model="type.photosupport"></select><span ng-if="editor.inputPhoto.$invalid && editor.inputPhoto.$pristine == false" class="help-inline">This field is mandatory</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputName" translate>Catalogs</label>
                            <div class="controls">
                                <input type="text" id="inputCatalogs" name="inputCatalogs" ng-model="type.productcatalogs" placeholder="Catalogs">
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <a href="#" ng-click="uploadFile()" ng-if="type.mediaid == null" translate>Upload Image</a>
                        <div ng-if="type.mediaid != null" ng-mouseenter="showChangeMedia = true" ng-mouseleave="showChangeMedia = false" style="width:200px;position:relative">
                            <img ng-src="{{imageUrl}}/{{type.mediaid}}.png?width=200&rnd={{nonce}}" />
                            <button ng-if="showChangeMedia == true" ng-click="uploadFile()" class="btn btn-small" style="position:absolute;top:0px;right:0px" translate>Change</button>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="inputExcludeTimesheets">Exclude From Timesheets</label>
                            <div class="controls">
                                <input type="checkbox" id="inputExcludeTimesheets" name="inputExcludeTimesheets" ng-model="type.excludefromtimesheets" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="resources" style="min-height:500px">
                <div class="control-group">
                    <label class="control-label" for="autofinishafterstart" translate>Automatically finish task when started</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="autofinishafterstart" type="checkbox" ng-model="type.autofinishafterstart" />
                        </div>
                    </div>
                </div>
                <div ng-if="!type.autofinishafterstart">
                    <div class="control-group">
                        <label class="control-label" for="autostart1stchecklist" translate>Automatically start 1st checklist on task start</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="autostart1stchecklist" type="checkbox" ng-model="type.autostart1stchecklist" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="autofinishtaskonlastchecklist" translate>Automatically finish task when last checklist completed</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="autofinishtaskonlastchecklist" type="checkbox" ng-model="type.autofinishtaskonlastchecklist" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="checklistsearch" translate>Checklist</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="checklistsearch" type="text" sf-typeahead options="workflowOptions" datasets="workflowDataset" ng-model="watchcontainer.currentWorkflowObject" />
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th translate>Name</th>
                                <th translate>Mandatory</th>
                                <th translate>Allow Multiple</th>
                                <th translate>Finish with Task</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in type.publishedresources">
                                <td>{{r.name}}</td>
                                <td><input type="checkbox" ng-model="r.ismandatory" /></td>
                                <td><input type="checkbox" ng-model="r.allowmultiple" /></td>
                                <td><input type="checkbox" ng-model="r.preventfinishing" ng-disabled="r.estimatedpagecount == 1" /><span ng-if="r.estimatedpagecount == 1" class="muted" translate>Single Page</span></td>
                                <td><button ng-click="removeResource(r)" class="btn btn-danger"><i class="icon-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="documentation" style="min-height:500px">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th translate>Folder</th>
                            <th translate>Alternate Name</th>
                            <th><button class="btn btn-success" ng-click="showAddDocumentation()" translate>Add</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in type.documentation">
                            <td>
                                {{d.medianame}}
                            </td>
                            <td>
                                <input type="text" ng-model="d.text" />
                            </td>
                            <td>
                                <button class="btn btn-danger" ng-click="deleteDocumentation(d)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="finishedstatus" style="min-height:500px">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th translate>Selected</th>
                            <th translate>Stage</th>
                            <th translate>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in type.finishedstatuses">
                            <td><input type="checkbox" ng-model="s.selected" /></td>
                            <td>{{statusStages[s.stage].name}}</td>
                            <td>{{s.text}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="status" style="min-height:500px">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputDefaultTo" translate>Default To</label>
                            <div class="controls">
                                <select ng-model="type.defaultstatustowhencreated" ng-options="item.id as item.text for item in type.statuses | filter: { selected: true }">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputDefaultTo" translate>Finish With</label>
                            <div class="controls">
                                <select ng-model="type.settostatuswhenfinished" ng-options="item.id as item.text for item in type.statuses | filter: { selected: true }">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th translate>Selected</th>
                            <th translate>Status</th>
                            <th translate>Reference Mode</th>
                            <th translate>Sort Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in type.statuses">
                            <td><input type="checkbox" ng-model="s.selected" /></td>
                            <td>{{s.text}}</td>
                            <td><select ng-model="s.referencenumbermode" ng-options="item.id as item.name for item in referencenumbermodes"></select></td>
                            <td><input ng-if="s.selected == true" type="number" ng-model="s.sortorder" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="relationships" style="min-height:500px">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th translate>Selected</th>
                            <th translate>Task Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in type.relationships">
                            <td><input type="checkbox" ng-model="s.selected" /></td>
                            <td>{{s.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="estimatedduration" style="min-height:500px">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group" ng-class="{error: editor.inputEstimatedDurationSeconds.$invalid && editor.inputEstimatedDurationSeconds.$pristine == false}">
                            <label class="control-label" for="inputEstimatedDurationSeconds" translate>Estimated Duration (seconds)</label>
                            <div class="controls">
                                <input type="number" id="inputEstimatedDurationSeconds" name="inputEstimatedDurationSeconds" ng-model="type.estimateddurationseconds" placeholder="Estimated Duration">
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="inputMinimumDuration" translate>Minimum Duration</label>
                            <div class="controls">
                                <input type="text" id="inputMinimumDuration" name="inputMinimumDuration" ng-model="type.minimumduration" placeholder="Minimum duration">
                                <br /><small translate>Format: For a percentage of estimated duration use XX%, if a % is not supplied the number will be treated as the number of seconds</small>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 translate>Facility Overrides</h4>
                <select-facility ng-model="NewFacilityOverride"></select-facility>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th translate>Facility</th>
                            <th translate>Estimated Duration (seconds)</th>
                            <th translate>Minimum Duration</th>
                            <th />
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fo in type.facilityoverrides">
                            <td>
                                <span ng-repeat="parent in fo.facilitystructure.breadcrumbs | reverse" tooltip="{ title: structureTypes[parent.structuretype].name }">
                                    <i ng-class="'icon-facility-' + parent.structuretype"></i>
                                    {{ parent.name }}
                                    <span class="divider"></span>
                                </span>
                                <span tooltip="{ title: structureTypes[fo.facilitystructure.structuretype].name }">
                                    <i ng-class="'icon-facility-' + fo.facilitystructure.structuretype"></i>
                                    {{ fo.facilitystructure.name }}
                                </span>
                            </td>
                            <td>
                                <input type="number" ng-model="fo.estimateddurationseconds" />
                            </td>
                            <td>
                                <input type="text" ng-model="fo.minimumduration" />
                            </td>
                            <td>
                                <button class="btn btn-danger btn-mini" ng-click="removeFacilityOverride(fo)"><i class="icon-trash icon-white"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="sitetypes" style="min-height:500px">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th translate>Can Perform</th>
                            <th translate>User Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in type.relatedusertypes">
                            <td><input type="checkbox" ng-model="s.canperform" /></td>
                            <td>{{s.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>

<div class="form-actions">
    <button ng-click="save()" class="btn btn-primary" type="submit">Save changes</button>
</div>

<div class="modal-large hide fade" modalify="uploadingfile">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Upload Image</h3>
    </div>
    <div ng-if="uploadingfile" class="modal-body">
        <file-uploader></file-uploader>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
    </div>
</div>

<div class="modal-large hide fade" modalify="addingdocumentation">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 translate>Add Documentation</h3>
    </div>
    <div class="modal-body">
        <p>Select a folder to add and press the save button.</p>
        <abn-tree ng-if="folders" tree-data="folders" on-select="selectBranch(branch)"></abn-tree>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" translate>Close</a>
        <a href="#" class="btn btn-success" ng-click="addDocumentation()">Save</a>
    </div>
</div>